Repository JanssenProject/jans, changes with the owners that .github/CODEOWNERS names for each.
All owners: @uprightech, @moabu, @iromli, @mo-auto, @yurem, @yuriyz, @jgomer2001, @pujavs, @devrimyatar, @duttarnab, @shekhar16

.github/CODEOWNERS:

# Please do not attempt to edit this file without the direct consent from the DevOps team. This file is managed centrally.
# Contact @moabu

# These owners will be the default owners for everything in this branch of
# the repo. Unless a later match takes precedence

/keycloak-integration/ @uprightech
/docker-jans-*/ @moabu @iromli
/automation/ @moabu
/charts/ @moabu
/.github/ @moabu
/jans-*/version.txt @moabu
/jans-*/CHANGELOG.md @moabu
/jans-pycloudlib/ @moabu
/docker-jans-*/requirments.txt @mo-auto
/jans-bom/ @yurem @yuriyz
/jans-core/ @yurem @yuriyz
/jans-orm/ @yurem @yuriyz
/jans-eleven/ @yuriyz
/jans-auth-server/ @yurem @yuriyz
/jans-fido2/ @yurem
/jans-scim/ @jgomer2001
/jans-config-api/ @pujavs @yuriyz @yurem
/jans-cli-tui/ @devrimyatar
/jans-linux-setup/ @devrimyatar @yuriyz @yurem
/jans-linux-setup/jans_setup/setup_app/version.py @moabu
/jans-linux-setup/static/scripts/admin_ui_plugin.py @devrimyatar @duttarnab
/jans-cache-refresh/ @yurem @shekhar16
/jans-link/ @shekhar16
/agama/ @jgomer2001
/demos/jans-tarp/ @duttarnab

fix(jans-linux-setup): casa download urls
  jans-linux-setup/jans_setup/setup_app/installers/jans_casa.py
Owners: @devrimyatar, @yuriyz, @yurem

Set stable to v1.0.18
  charts/index.yaml
Owners: @moabu

Set stable to v1.0.18
  charts/index.yaml
Owners: @moabu

fix(jans-linux-setup): gluu2flex migration fixes and documentation
  jans-linux-setup/jans_setup/schema/jans_schema_mappings.json
  jans-linux-setup/jans_setup/schema/mapping.json
  jans-linux-setup/tools/gluu2flex-migration/README.md
  jans-linux-setup/tools/gluu2flex-migration/gluu2flex.py
Owners: @devrimyatar, @yuriyz, @yurem

fix(jans-linux-setup): format gluu2flex migration document
  jans-linux-setup/tools/gluu2flex-migration/README.md
Owners: @devrimyatar, @yuriyz, @yurem

fix(jans-linux-setup): typo
  jans-linux-setup/tools/gluu2flex-migration/README.md
Owners: @devrimyatar, @yuriyz, @yurem

refactor(jans-pycloudlib): simplify google-based lock
  jans-pycloudlib/jans/pycloudlib/lock/google_lock.py
Owners: @moabu

Deployed 85440666a5 to v1.0.19.nightly with MkDocs 1.4.1 and mike 1.1.2
  v1.0.19.nightly/script-catalog/client_registration/OpenBanking/Registration.py
  v1.0.19.nightly/script-catalog/client_registration/sample-script/SampleScript.py
  v1.0.19.nightly/script-catalog/idp/sample-script/SampleScript.py
  v1.0.19.nightly/script-catalog/person_authentication/other/obconnect/README.me
  v1.0.19.nightly/script-catalog/person_authentication/other/obconnect/documentation/README.txt
  v1.0.19.nightly/sitemap.xml.gz
Owners: none

refactor(jans-pycloudlib): specify faster lock update delay
  jans-pycloudlib/jans/pycloudlib/lock/__init__.py
Owners: @moabu

Set stable to v1.0.18
  charts/index.yaml
  v1.0.19.nightly/script-catalog/client_registration/OpenBanking/Registration.py
  v1.0.19.nightly/script-catalog/client_registration/sample-script/SampleScript.py
  v1.0.19.nightly/script-catalog/idp/sample-script/SampleScript.py
  v1.0.19.nightly/script-catalog/person_authentication/other/obconnect/README.me
  v1.0.19.nightly/script-catalog/person_authentication/other/obconnect/documentation/README.txt
Owners: @moabu

fix: add casa chart to janssen parent chart
  charts/janssen/Chart.yaml
  charts/janssen/README.md
  charts/janssen/charts/casa/.helmignore
  charts/janssen/charts/casa/Chart.yaml
  charts/janssen/charts/casa/README.md
  charts/janssen/charts/casa/templates/_helpers.tpl
  charts/janssen/charts/casa/templates/casa-destination-rules.yaml
  charts/janssen/charts/casa/templates/casa-pdb.yaml
  charts/janssen/charts/casa/templates/casa-virtual-services.yaml
  charts/janssen/charts/casa/templates/deployment.yaml
  charts/janssen/charts/casa/templates/hpa.yaml
  charts/janssen/charts/casa/templates/service.yaml
  charts/janssen/charts/casa/templates/user-custom-secret-envs.yaml
  charts/janssen/charts/casa/values.yaml
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/charts/nginx-ingress/templates/ingress.yaml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
Owners: @moabu
