Repository JanssenProject/jans, changes with the owners that .github/CODEOWNERS names for each.
All owners: @uprightech, @shekhar16, @moabu, @iromli, @mo-auto, @yurem, @yuriyz, @yuriyzz, @jgomer2001, @pujavs, @devrimyatar, @duttarnab, @maduvena

.github/CODEOWNERS:

# Please do not attempt to edit this file without the direct consent from the DevOps team. This file is managed centrally.
# Contact @moabu

# These owners will be the default owners for everything in this branch of
# the repo. Unless a later match takes precedence

/jans-keycloak-integration/ @uprightech
/jans-keycloak-link/ @shekhar16
/docker-jans-*/ @moabu @iromli
/automation/ @moabu @iromli
/charts/ @moabu @iromli
/.github/ @moabu
/jans-*/version.txt @moabu @mo-auto
/jans-*/CHANGELOG.md @moabu @mo-auto
/jans-pycloudlib/ @moabu
/docker-jans-*/requirments.txt @iromli @mo-auto
/jans-bom/ @yurem @yuriyz @yuriyzz
/jans-core/ @yurem @yuriyz @yuriyzz
/jans-orm/ @yurem @yuriyz
/jans-auth-server/ @yurem @yuriyz @yuriyzz
/jans-fido2/ @yurem
/jans-lock/ @yurem
/jans-scim/ @jgomer2001
/jans-config-api/ @pujavs @yuriyz @yurem
/jans-cli-tui/ @devrimyatar
/jans-linux-setup/ @devrimyatar @yuriyz @yurem @yuriyzz
/jans-linux-setup/jans_setup/setup_app/version.py @moabu @mo-auto
/jans-linux-setup/static/scripts/admin_ui_plugin.py @devrimyatar @duttarnab
/jans-cache-refresh/ @yurem @shekhar16
/jans-link/ @yurem @yuriyz
/agama/ @jgomer2001
/jans-casa/ @jgomer2001 @maduvena
/demos/jans-tarp/ @duttarnab

fix(config-api): SAML TR fix for filename and user mgmt enhancement for search and custom attribute validation (#7979)
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/util/Constants.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
Owners: @pujavs, @yuriyz, @yurem

fix(config-api): SAML TR fix for filename and user mgmt enhancement for search and custom attribute validation (#7979)
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/util/Constants.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
Owners: @pujavs, @yuriyz, @yurem

fix(config-api): SAML TR fix for filename and user mgmt enhancement for search and custom attribute validation (#7979)
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/util/Constants.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
Owners: @pujavs, @yuriyz, @yurem

fix(config-api): SAML TR fix for filename and user mgmt enhancement for search and custom attribute validation (#7979)
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/util/Constants.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
Owners: @pujavs, @yuriyz, @yurem

feat(jans-config-api): enhancements to saml api #7362 * pluralized the operationid for the endpoint retrieving all trust relationships
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
Owners: @pujavs, @yuriyz, @yurem

docs: fix java docs and move it out
  .github/workflows/build-docs.yml
  automation/docs/add-javadocs-to-mkdocs.py
  automation/docs/generate-javadocs.sh
  mkdocs.yml
Owners: @moabu, @iromli

Set stable to v1.0.22
  charts/index.yaml
Owners: @moabu, @iromli

fix(jans-cli-tui): keycloakLinkPollingInterval
  jans-cli-tui/cli_tui/plugins/110_kc_link/main.py
Owners: @devrimyatar
