Repository JanssenProject/jans, changes with the owners that .github/CODEOWNERS names for each.
All owners: @moabu, @iromli, @mo-auto, @yurem, @yuriyz, @jgomer2001, @duttarnab, @pujavs, @mbaser, @smansoft

fix: jans-client-api/server/pom.xml to reduce vulnerabilities
  jans-client-api/server/pom.xml
Owners: @duttarnab, @yuriyz

feat(jans-auth-server): invoke custom script methods for response modification
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterRestWebServiceImpl.java
Owners: @yurem, @yuriyz

feat(jans-auth-server): invoke custom script methods for response modification
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterRestWebServiceImpl.java
Owners: @yurem, @yuriyz

feat(jans-auth-server): add methods to dynamic client registration script to modify POST, PUT and GET responses (#661)
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalDynamicClientRegistrationService.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/client/ClientRegistrationType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/client/DummyClientRegistrationType.java
Owners: @yurem, @yuriyz

feat(jans-auth-server): add methods to dynamic client registration script to modify POST, PUT and GET responses (#661)
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalDynamicClientRegistrationService.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/client/ClientRegistrationType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/client/DummyClientRegistrationType.java
Owners: @yurem, @yuriyz

feat(jans-ce-setup): updated client registration script with newly added methods
  jans-ce-setup/openbanking/static/extension/client_registration/Registration.py
  jans-ce-setup/static/extension/client_registration/Casa.py
  jans-ce-setup/static/extension/client_registration/SampleScript.py
Owners: @mbaser, @smansoft

feat(jans-ce-setup): updated client registration script with newly added methods
  jans-ce-setup/openbanking/static/extension/client_registration/Registration.py
  jans-ce-setup/static/extension/client_registration/Casa.py
  jans-ce-setup/static/extension/client_registration/SampleScript.py
Owners: @mbaser, @smansoft

.github/CODEOWNERS:

# Please do not attempt to edit this file without the direct consent from the DevOps team. This file is managed centrally.
# Contact @moabu

# These owners will be the default owners for everything in this branch of
# the repo. Unless a later match takes precedence

/docker-jans-*/ @moabu @iromli
/automation/ @moabu
/charts/ @moabu
/.github/ @moabu
/jans-pycloudlib/ @moabu
/docker-jans-*/requirments.txt @mo-auto
/jans-bom/ @yurem @yuriyz
/jans-core/ @yurem @yuriyz
/jans-orm/ @yurem @yuriyz
/jans-notify/ @yurem
/jans-eleven/ @yuriyz
/jans-auth-server/ @yurem @yuriyz
/jans-fido2/ @yurem
/jans-scim/ @jgomer2001
/jans-client-api/ @duttarnab @yuriyz
/jans-config-api/ @pujavs @yuriyz
/jans-cli/ @mbaser
/jans-ce-setup/ @mbaser @smansoft
/jans-ce-setup/static/scripts/admin_ui_plugin.py @mbaser @duttarnab
