Repository JanssenProject/jans, pull requests merged in 2022-03, with the labels that each got.

#911 fix: jans-linux-setup service install check for jetty 10
  jans-linux-setup/jans_setup/setup_app/installers/base.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/eleven.py
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/setup_app/installers/scim.py
Labels: kind-bug, comp-jans-linux-setup

#943 chore(main): release jans-eleven 1.0.0-beta.15
  jans-eleven/CHANGELOG.md
Labels: autorelease: pending

#942 chore(main): release docs 1.0.0-beta.15
  docs/CHANGELOG.md
Labels: autorelease: pending

#935 chore(main): release jans-cli 1.0.0-beta.15
  jans-cli/CHANGELOG.md
  jans-cli/cli/version.py
Labels: autorelease: pending

#934 chore(main): release jans-linux-setup 1.0.0-beta.15
  jans-linux-setup/CHANGELOG.md
  jans-linux-setup/jans_setup/setup_app/version.py
Labels: autorelease: pending

#916 chore(main): release jans-fido2 1.0.0-beta.15
  jans-fido2/CHANGELOG.md
Labels: autorelease: pending

#917 chore(main): release jans-auth-server 1.0.0-beta.15
  jans-auth-server/CHANGELOG.md
Labels: autorelease: pending

#918 chore(main): release jans-bom 1.0.0-beta.15
  jans-bom/CHANGELOG.md
Labels: autorelease: pending

#919 chore(main): release jans-core 1.0.0-beta.15
  jans-core/CHANGELOG.md
Labels: autorelease: pending

#920 chore(main): release jans-client-api 1.0.0-beta.15
  jans-client-api/CHANGELOG.md
Labels: autorelease: pending

#921 chore(main): release jans-config-api 1.0.0-beta.15
  jans-config-api/CHANGELOG.md
Labels: autorelease: pending

#922 chore(main): release jans-orm 1.0.0-beta.15
  jans-orm/CHANGELOG.md
Labels: autorelease: pending

#923 chore(main): release jans-notify 1.0.0-beta.15
  jans-notify/CHANGELOG.md
Labels: autorelease: pending

#933 chore(main): release jans-pycloudlib 1.0.0-beta.15
  jans-pycloudlib/CHANGELOG.md
Labels: autorelease: pending

#925 chore(main): release docker-jans-persistence-loader 1.0.0-beta.15
  docker-jans-persistence-loader/CHANGELOG.md
Labels: autorelease: pending

#926 chore(main): release docker-jans-client-api 1.0.0-beta.15
  docker-jans-client-api/CHANGELOG.md
Labels: autorelease: pending

#927 chore(main): release docker-jans-scim 1.0.0-beta.15
  docker-jans-scim/CHANGELOG.md
Labels: autorelease: pending

#928 chore(main): release docker-jans-certmanager 1.0.0-beta.15
  docker-jans-certmanager/CHANGELOG.md
Labels: autorelease: pending

#929 chore(main): release docker-jans-auth-server 1.0.0-beta.15
  docker-jans-auth-server/CHANGELOG.md
Labels: autorelease: pending

#932 chore(main): release docker-jans-config-api 1.0.0-beta.15
  docker-jans-config-api/CHANGELOG.md
Labels: autorelease: pending

#931 chore(main): release docker-jans-fido2 1.0.0-beta.15
  docker-jans-fido2/CHANGELOG.md
Labels: autorelease: pending

#930 chore(main): release docker-jans-configurator 1.0.0-beta.15
  docker-jans-configurator/CHANGELOG.md
Labels: autorelease: pending

#936 chore(main): release 1.0.0-beta.15
  CHANGELOG.md
Labels: autorelease: pending

#938 fix: jans cli build issues (update doc and fix requirements)
  jans-cli/README.md
  jans-cli/cli/config_cli.py
  jans-cli/setup.py
Labels: kind-bug, comp-jans-cli

#939 fix: add missing values for openbanking
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
Labels: kind-bug, comp-docker-jans-persistence-loader

#950 chore: sync extension scripts
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/libs/casa-external_fido2.py
  docker-jans-auth-server/libs/casa-external_otp.py
  docker-jans-auth-server/libs/casa-external_super_gluu.py
  docker-jans-auth-server/libs/casa-external_twilio_sms.py
  docker-jans-auth-server/libs/casa-external_u2f.py
  docker-jans-persistence-loader/Dockerfile
Labels: kind-enhancement, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server

#952 feat: jans-linux-setup install mod_auth_openidc (ref: #909)
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
  jans-linux-setup/jans_setup/setup_app/installers/httpd.py
Labels: enhancement, comp-jans-linux-setup

#947 feat(jans-auth-server): forbid plain pkce if fapi=true (fapi1-advanced-final-par-plain-pkce-rejected fail) #946
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParValidator.java
Labels: comp-jans-auth-server

#956 feat: add support for role-based client (i.e. jans-cli)
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/utils.py
Labels: kind-enhancement, comp-docker-jans-persistence-loader

#967 fix: Jans linux setup require python3-distutils for deb clones
  jans-cli/Makefile
  jans-cli/README.md
  jans-cli/cli/config_cli.py
  jans-cli/cli/jca.yaml
  jans-cli/docs/cli/cli-index.md
  jans-cli/docs/im/im-index.md
  jans-cli/docs/img/im-auto-fill.png
  jans-cli/setup.py
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
Labels: kind-bug, comp-jans-linux-setup

#970 Jans linux setup ldap2mysql
  jans-linux-setup/tools/ldap2mysql/README.md
  jans-linux-setup/tools/ldap2mysql/ldap2mysql.py
Labels: enhancement, comp-jans-linux-setup

#949 feat: jans-linux-setup check availibility of ports for OpenDJ backend
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/messages.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/setup_utils.py
Labels: enhancement

#966 fix(ci): fix change identification logic
  .github/workflows/central_code_quality_check.yml
Labels: area-CI

#975 fix: jans-linux-setup add dependency python3-prompt-toolkit
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
Labels: kind-bug, comp-jans-linux-setup

#974 fix: jans-linux-setup getting argparser
  jans-linux-setup/jans_setup/jans_setup.py
Labels: kind-bug, comp-jans-linux-setup

#971 fix: jans-linux-setup not copy duo_web.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
Labels: kind-bug, comp-jans-linux-setup

#976 fix: jans-linux-setup backup cli direcory if any
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
Labels: kind-bug, comp-jans-linux-setup

#980 fix: jans-linux-setup update suse15 dependency
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
Labels: kind-bug, comp-jans-linux-setup

#982 chore(Dockerfiles): updated janspycloud build in cn-cert-validity
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#981 feat: add validity length (in days) for certs
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/README.md
  docker-jans-certmanager/requirements.txt
  docker-jans-certmanager/scripts/base_handler.py
  docker-jans-certmanager/scripts/client_api_handler.py
  docker-jans-certmanager/scripts/ldap_handler.py
  docker-jans-certmanager/scripts/web_handler.py
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
  jans-pycloudlib/jans/pycloudlib/pki.py
  jans-pycloudlib/jans/pycloudlib/utils.py
Labels: comp-docker-jans-certmanager, kind-feature

#985 fix: jans-linux-setup openbanking argparser issue
  jans-linux-setup/jans_setup/openbanking/setup_app/utils/arg_parser.py
Labels: kind-bug, comp-jans-linux-setup

#984 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#991 fix: jans-linux-setup remove fido authentication scripts from template
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: comp-jans-linux-setup

#990 fix: jans-linux-setup flex-setup argsp
  jans-linux-setup/jans_setup/jans_setup.py
Labels: kind-bug, comp-jans-linux-setup

#995 chore: update image dependencies
  docker-jans-auth-server/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-enhancement, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim

#1009 fix(jans-auth-server): validate pkce after extraction data from request object (#999)
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParRestWebService.java
Labels: comp-jans-auth-server

#1011 chore: update client-api image
  docker-jans-client-api/Dockerfile
  docker-jans-client-api/templates/jans.properties.tmpl
Labels: kind-bug, kind-enhancement, comp-docker-jans-client-api

#1012 feat: avoid jetty hot-deployment issue
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/jetty/jans-auth.xml
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-auth-server/scripts/entrypoint.sh
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/jetty/jans-config-api.xml
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/entrypoint.sh
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/jetty/jans-fido2.xml
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-fido2/scripts/entrypoint.sh
  docker-jans-scim/Dockerfile
  docker-jans-scim/jetty/jans-scim.xml
  docker-jans-scim/jetty/log4j2.xml
  docker-jans-scim/scripts/bootstrap.py
  docker-jans-scim/scripts/entrypoint.sh
Labels: kind-enhancement, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim

#1002 feat: add support to import custom ldif
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/couchbase_setup.py
  docker-jans-persistence-loader/scripts/ldap_setup.py
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docs/user/how-to/add-custom-ldifs.md
Labels: comp-docker-jans-persistence-loader, kind-feature

#1013 feat: jans-cli get access token from arg
  jans-cli/cli/config_cli.py
Labels: comp-jans-cli, enhancement

#1018 chore(charts): update helm package
  charts/index.yaml
  charts/janssen-1.0.0-beta.16.tgz
  charts/janssen/Chart.yaml
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/Chart.yaml
  charts/janssen/charts/auth-server-key-rotation/README.md
  charts/janssen/charts/auth-server-key-rotation/values.yaml
  charts/janssen/charts/auth-server/Chart.yaml
  charts/janssen/charts/auth-server/README.md
  charts/janssen/charts/auth-server/templates/auth-server-virtual-services.yaml
  charts/janssen/charts/auth-server/values.yaml
  charts/janssen/charts/client-api/Chart.yaml
  charts/janssen/charts/client-api/README.md
  charts/janssen/charts/client-api/values.yaml
  charts/janssen/charts/config-api/Chart.yaml
  charts/janssen/charts/config-api/README.md
  charts/janssen/charts/config-api/values.yaml
  charts/janssen/charts/config/Chart.yaml
  charts/janssen/charts/config/README.md
  charts/janssen/charts/config/values.yaml
  charts/janssen/charts/fido2/Chart.yaml
  charts/janssen/charts/fido2/README.md
  charts/janssen/charts/fido2/templates/fido2-virtual-services.yaml
  charts/janssen/charts/fido2/values.yaml
  charts/janssen/charts/nginx-ingress/Chart.yaml
  charts/janssen/charts/nginx-ingress/README.md
  charts/janssen/charts/nginx-ingress/templates/ingress.yaml
  charts/janssen/charts/nginx-ingress/values.yaml
  charts/janssen/charts/opendj/Chart.yaml
  charts/janssen/charts/opendj/README.md
  charts/janssen/charts/persistence/Chart.yaml
  charts/janssen/charts/persistence/README.md
  charts/janssen/charts/persistence/values.yaml
  charts/janssen/charts/scim/Chart.yaml
  charts/janssen/charts/scim/README.md
  charts/janssen/charts/scim/templates/scim-virtual-services.yaml
  charts/janssen/charts/scim/values.yaml
  charts/janssen/values.yaml
Labels: area-CI, comp-charts-jans

#1042 chore(main): release jans-scim 1.0.0-beta.16
  jans-scim/CHANGELOG.md
Labels: autorelease: pending

#1040 chore(main): release jans-client-api 1.0.0-beta.16
  jans-client-api/CHANGELOG.md
Labels: autorelease: pending

#1034 chore(main): release jans-linux-setup 1.0.0-beta.16
  jans-linux-setup/CHANGELOG.md
Labels: autorelease: pending

#1023 chore(main): release jans-config-api 1.0.0-beta.16
  jans-config-api/CHANGELOG.md
Labels: autorelease: pending

#1031 chore(main): release docker-jans-config-api 1.0.0-beta.16
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: autorelease: pending

#1028 chore(main): release docker-jans-scim 1.0.0-beta.16
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: autorelease: pending

#1048 fix: ans-linux-setup enable mod_auth_openidc
  jans-linux-setup/jans_setup/setup_app/utils/package_utils.py
Labels: kind-bug, comp-jans-linux-setup

#1050 fix: jans-cli typo
  jans-cli/cli/config_cli.py
Labels: comp-jans-cli

#1060 chore: update images
  docker-jans-auth-server/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-client-api/Dockerfile
  docker-jans-client-api/scripts/entrypoint.sh
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/gluu-casa/clients.ldif
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
  docker-jans-persistence-loader/templates/jans-config-api/admin-ui-clients.ldif
  docker-jans-scim/Dockerfile
Labels: kind-enhancement, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim

#1064 feat: jans-linux-setup enhancements
  jans-linux-setup/jans_setup/openbanking/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
Labels: enhancement, comp-jans-linux-setup

#1066 fix: change column size of jansFido2AuthnEntry.jansAuthData column
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#1067 bug: hashCode/equals is broken for clients/scopes/NativePersistenceCacheEntity
  jans-auth-server/common/src/main/java/io/jans/as/common/model/registration/Client.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/Par.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/Scope.java
  jans-core/cache/src/main/java/io/jans/service/cache/NativePersistenceCacheEntity.java
  jans-orm/spanner-sample/src/main/java/io/jans/orm/cloud/spanner/model/SimpleCacheEntry.java
  jans-orm/sql-sample/src/main/java/io/jans/orm/sql/model/SimpleCacheEntry.java
Labels: kind-bug, comp-jans-auth-server

#1069 chore: update auth-server image
  docker-jans-auth-server/Dockerfile
Labels: kind-enhancement, comp-docker-jans-auth-server

#1055 docs: Jans readme updates
  .github/SECURITY.md
  README.md
  docs/user/README.md
Labels: area-documentation

#1078 fix: jans-cli do not require client if access token is provided
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli

#1077 docs: Janssen readme updates
  README.md
  docs/user/README.md
Labels: area-documentation

#1090 fix: jans-linux-setup multivalued json mapping (ref: #1088)
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-bug, comp-jans-linux-setup

#1098 fix(jans-auth-server): corrected npe in response type class
  jans-auth-server/model/src/main/java/io/jans/as/model/common/ResponseType.java
  jans-auth-server/model/src/test/java/io/jans/as/model/common/ResponseTypeTest.java
Labels: kind-bug, comp-jans-auth-server

#1101 docs: fix link to Janssen Wiki
  README.md
Labels: area-documentation

#1094 docs: review and minor edits to use case doc
  docs/user/how-to/authn-with-apache-reverse-proxy.md
Labels: area-documentation

#1099 chore: images update
  docker-jans-auth-server/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-client-api/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/templates/configuration.ldif
  docker-jans-scim/Dockerfile
Labels: kind-enhancement, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim

#1108 ci: add new project super-jans
  .github/CODEOWNERS
  .github/workflows/central_code_quality_check.yml
  .github/workflows/release.yaml
  super-jans/README.md
Labels: comp-super-jans

#1103 docs: update PR template
  .github/pull_request_template.md
Labels: area-documentation

#1109 fix: jans-linux-setup typo
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: comp-jans-linux-setup

#1111 fix(jans-auth-server): corrected thread-safety bug in ApplicationAuditLogger #803
  jans-auth-server/server/src/main/java/io/jans/as/server/audit/ApplicationAuditLogger.java
Labels: kind-bug, comp-jans-auth-server

#1112 fix: jans-linux-setup remove attributes of size 64 from sql_data_type.json
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-bug, comp-jans-linux-setup

#1125 fix: typo and indexing error
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: kind-bug, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api

#1091 docs: add README for technical docs
  docs/assets/README.md
  docs/technical/README.md
  docs/technical/technical-overview-template.md
Labels: area-documentation

#1131 fix: jans-linux-setup create json index for multivalued attributes
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
Labels: kind-bug, comp-jans-linux-setup

#1135 fix: jans-linux-setup rdbm index
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/static/rdbm/mysql_index.json
Labels: kind-bug, comp-jans-linux-setup

#1134 fix: avoid duplicated client when re-running persistence-loader and configurator
  docker-jans-configurator/scripts/bootstrap.py
  docker-jans-persistence-loader/scripts/utils.py
Labels: kind-bug, comp-docker-jans-persistence-loader, comp-docker-jans-configurator

#1142 fix(jans-auth-server): escape login_hint before rendering
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeAction.java
  jans-auth-server/server/src/main/webapp/login.xhtml
Labels: kind-bug, comp-jans-auth-server

#1144 fix(jans-auth-server): removed ThumbSignInExternalAuthenticator
  jans-auth-server/server/src/main/webapp/auth/thumbsignin/README.md
  jans-auth-server/server/src/main/webapp/auth/thumbsignin/expired.xhtml
  jans-auth-server/server/src/main/webapp/auth/thumbsignin/js/authenticate-bundle.js
  jans-auth-server/server/src/main/webapp/auth/thumbsignin/js/thumbsign_widget.js
  jans-auth-server/server/src/main/webapp/auth/thumbsignin/js/thumbsignin_widget.css
  jans-auth-server/server/src/main/webapp/auth/thumbsignin/tsLogin.xhtml
  jans-auth-server/server/src/main/webapp/auth/thumbsignin/tsRegister.xhtml
  jans-auth-server/server/src/main/webapp/auth/thumbsignin/tsRegistrationSuccess.xhtml
  jans-linux-setup/jans_setup/static/extension/person_authentication/ThumbSignInExternalAuthenticator.py
  jans-linux-setup/jans_setup/static/extension/person_authentication/other/ThumbSignIn/README.md
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-enhancement, comp-jans-auth-server, comp-jans-linux-setup
