Repository JanssenProject/jans, pull requests merged in 2022-02, with the labels that each got.

#743 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#755 docs: rename logo files
  docs/logo/janssen_project.jpg
  docs/logo/janssen_project_favicon_transparent_50px_50px.png
  docs/logo/janssen_project_icon.jpg
  docs/logo/janssen_project_transparent_630px_182px.png
  docs/logo/janssen_transparent.png
Labels: area-documentation

#765 fix: update scripts
  .github/workflows/release.yaml
  docker-jans-auth-server/libs/casa-external_fido2.py
  docker-jans-auth-server/libs/casa-external_super_gluu.py
  docker-jans-auth-server/libs/casa-external_twilio_sms.py
Labels: comp-docker-jans-auth-server

#769 test(jans-auth-server): added new stat response service with test
  jans-auth-server/server/src/main/java/io/jans/as/server/service/stat/StatResponseService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ws/rs/stat/StatWS.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/stat/StatResponseServiceTest.java
Labels: comp-jans-auth-server

#775 fix(image): update images
  docker-jans-fido2/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/dynamic-conf.json
  docker-jans-persistence-loader/templates/jans-auth/dynamic-conf.ob.json
Labels: kind-bug, comp-docker-jans-persistence-loader, comp-docker-jans-fido2

#778 fix: update admin ui properties
  docker-jans-config-api/plugins/admin-ui/auiConfiguration.properties.tmpl
  docker-jans-config-api/scripts/plugins.py
Labels: comp-docker-jans-config-api

#784 feat(image): push otp and super_gluu configuration to secrets
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/auth_conf.py
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-auth-server/scripts/entrypoint.sh
Labels: comp-docker-jans-auth-server, kind-feature

#813 feat(image): implement role-based scope script
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/scripts/utils.py
  docker-jans-persistence-loader/static/extension/introspection/introspection_role_based_scope.py
  docker-jans-persistence-loader/static/extension/introspection/introspection_scopes_from_user_role.py
  docker-jans-persistence-loader/static/jans_schema.json
  docker-jans-persistence-loader/static/sql/sql_data_types.json
  docker-jans-persistence-loader/templates/jans-auth/role-scope-mappings.ldif
  docker-jans-persistence-loader/templates/jans-config-api/admin-ui-clients.ldif
  docker-jans-persistence-loader/templates/scripts.ldif
Labels: kind-enhancement, comp-docker-jans-persistence-loader

#825 fix: jans-linux-setup tweak install.py for new directory structure
  jans-linux-setup/README.md
  jans-linux-setup/install.py
  jans-linux-setup/jans_setup/install.py
Labels: kind-bug, comp-jans-linux-setup

#827 feat: Jans linux setup pkg mysql and uninstall
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/requirements.txt
  jans-linux-setup/setup.py
Labels: kind-bug, enhancement, comp-jans-linux-setup

#860 fix(jans-auth-server): set par expiration to request object exp #824
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParValidator.java
Labels: comp-jans-auth-server

#863 fix(jans-auth-server): corrected wrong expires_in
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/util/ServerUtil.java
Labels: comp-jans-auth-server

#854 fix: jans cli pkg fixes
  jans-cli/cli/config_cli.py
  jans-cli/cli/jca.yaml
  jans-cli/setup.py
  jans-linux-setup/install.py
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/templates/jans-auth/role-scope-mappings.ldif
Labels: kind-bug, kind-enhancement, comp-jans-cli, comp-jans-linux-setup

#869 chore(Dockerfiles): updated janspycloud build in cn-table-mapping
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#871 test(jans-auth-server): fixed nbf value in par test
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/par/ParHttpTest.java
Labels: kind-enhancement, comp-jans-auth-server

#872 fix: jans-cli retain scim client in config.ini
  jans-cli/cli/config_cli.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
Labels: kind-bug, comp-jans-cli, comp-jans-linux-setup

#873 feat: import custom ldif
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
Labels: kind-feature, comp-jans-linux-setup

#877 ix: jans-linux-setup remove non-utf character from description of attribute 98FC
  jans-linux-setup/jans_setup/templates/attributes.ldif
Labels: kind-bug, comp-jans-linux-setup

#880 fix: jans-linux-setup openbanking
  jans-linux-setup/jans_setup/openbanking/setup_app/config.py
  jans-linux-setup/jans_setup/openbanking/setup_app/utils/arg_parser.py
Labels: kind-bug, comp-jans-linux-setup

#887 fix: jans-linux-setup uninstall does not prompt with -n
  jans-linux-setup/jans_setup/install.py
Labels: kind-feature, comp-jans-linux-setup

#870 chore(Dockerfiles): updated janspycloud build in cn-table-mapping
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#868 refactor: table mapping for SQL and Spanner persistence
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-scim/requirements.txt
  jans-pycloudlib/jans/pycloudlib/persistence/spanner.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
Labels: kind-enhancement, comp-docker-jans-persistence-loader, comp-jans-pycloudlib

#894 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#874 feat: update config-api image
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/jetty/log4j2.xml
  docker-jans-config-api/plugins/admin-ui/log4j2-adminui.xml.tmpl
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/entrypoint.sh
Labels: kind-enhancement, kind-dependencies, comp-docker-jans-config-api

#908 feat(jans-auth-server): reject par without pkce for fapi
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/par/ws/rs/ParValidatorTest.java
Labels: comp-jans-auth-server
