Repository JanssenProject/jans, pull requests merged in 2022-07, with the labels that each got.

#1651 fix(jans-auth-server): fix missing jsonobject annotation
  jans-auth-server/common/src/main/java/io/jans/as/common/model/registration/Client.java
Labels: kind-bug, comp-jans-auth-server

#1653 feat: add support for date ranges in statistic endpoint #1575
  jans-auth-server/client/src/main/java/io/jans/as/client/service/StatService.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/StatWSTest.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/StatResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/client/AuthClientFactory.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AuthService.java
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature

#1659 fix: jans-linux-setup download jans-auth and jans-auth-client fro --download-exit
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
Labels: kind-bug, comp-jans-linux-setup

#1662 fix: jans-linux-setup disable script Forgot_Password_2FA_Token
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#1667 fix: jans-config-api add JAVA to programmingLanguage (ref: #1656)
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, comp-jans-config-api

#1668 fix: fix typos and other issues in jans-config-api swagger specs #1665
  jans-config-api/common/src/main/java/io/jans/configapi/util/AttributeNames.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/StatResource.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
Labels: kind-bug, comp-jans-config-api

#1625 chore: update persistence-loader
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/utils.py
Labels: kind-dependencies, comp-docker-jans-persistence-loader

#1702 chore(main): release jans-cli 1.0.1
  jans-cli/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-cli

#1701 chore(main): release jans-pycloudlib 1.0.1
  jans-pycloudlib/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-pycloudlib

#1692 chore(main): release jans-client-api 1.0.1
  jans-client-api/CHANGELOG.md
  jans-client-api/client/pom.xml
  jans-client-api/common/pom.xml
  jans-client-api/gen-client/pom.xml
  jans-client-api/pom.xml
  jans-client-api/server/pom.xml
  jans-client-api/uma-rs-core/pom.xml
  jans-client-api/uma-rs-resteasy/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-client-api

#1679 chore(main): release jans-bom 1.0.1
  jans-bom/CHANGELOG.md
  jans-bom/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#1674 chore(main): release jans-config-api 1.0.1
  jans-config-api/CHANGELOG.md
  jans-config-api/common/pom.xml
  jans-config-api/plugins/admin-ui-plugin/pom.xml
  jans-config-api/plugins/fido2-plugin/pom.xml
  jans-config-api/plugins/pom.xml
  jans-config-api/plugins/sample/demo/pom.xml
  jans-config-api/plugins/sample/helloworld/pom.xml
  jans-config-api/plugins/scim-plugin/pom.xml
  jans-config-api/plugins/user-mgt-plugin/pom.xml
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
  jans-config-api/shared/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#1719 chore(main): release jans-scim 1.0.1
  jans-scim/CHANGELOG.md
  jans-scim/client/pom.xml
  jans-scim/model/pom.xml
  jans-scim/pom.xml
  jans-scim/server/pom.xml
  jans-scim/service/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#1718 chore(main): release jans-fido2 1.0.1
  jans-fido2/CHANGELOG.md
  jans-fido2/client/pom.xml
  jans-fido2/model/pom.xml
  jans-fido2/pom.xml
  jans-fido2/server/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#1717 chore(main): release jans-core 1.0.1
  jans-core/CHANGELOG.md
  jans-core/cache/pom.xml
  jans-core/cdi/pom.xml
  jans-core/demo-cdi/pom.xml
  jans-core/document-store/pom.xml
  jans-core/exception-extension-cdi/pom.xml
  jans-core/java-ext/pom.xml
  jans-core/jsf-util/pom.xml
  jans-core/model/pom.xml
  jans-core/pom.xml
  jans-core/radius/pom.xml
  jans-core/saml/pom.xml
  jans-core/script/pom.xml
  jans-core/security-extension-cdi/pom.xml
  jans-core/server/pom.xml
  jans-core/service/pom.xml
  jans-core/standalone/pom.xml
  jans-core/timer-weld/pom.xml
  jans-core/util/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#1714 chore(main): release agama 1.0.1
  agama/CHANGELOG.md
  agama/engine/pom.xml
  agama/model/pom.xml
  agama/pom.xml
  agama/transpiler/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation

#1700 chore(main): release docker-jans-client-api 1.0.1-1
  docker-jans-client-api/CHANGELOG.md
  docker-jans-client-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-client-api, area-documentation

#1699 chore(main): release docker-jans-scim 1.0.1-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#1698 chore(main): release docker-jans-persistence-loader 1.0.1-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#1697 chore(main): release docker-jans-fido2 1.0.1-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#1696 chore(main): release docker-jans-config-api 1.0.1-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#1695 chore(main): release docker-jans-configurator 1.0.1-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#1694 chore(main): release docker-jans-auth-server 1.0.1-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#1693 chore(main): release docker-jans-certmanager 1.0.1-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#1704 chore(main): release 1.0.1
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#1727 chore(main): release jans-notify 1.0.2-SNAPSHOT
  jans-notify/client/pom.xml
  jans-notify/client2/pom.xml
  jans-notify/model/pom.xml
  jans-notify/pom.xml
  jans-notify/server/pom.xml
Labels: kind-dependencies, autorelease: snapshot

#1716 chore(main): release jans-bom 1.0.2-SNAPSHOT
  jans-bom/pom.xml
Labels: kind-dependencies, comp-jans-bom, autorelease: snapshot

#1715 chore(main): release jans-config-api 1.0.2-SNAPSHOT
  jans-config-api/common/pom.xml
  jans-config-api/plugins/admin-ui-plugin/pom.xml
  jans-config-api/plugins/fido2-plugin/pom.xml
  jans-config-api/plugins/pom.xml
  jans-config-api/plugins/sample/demo/pom.xml
  jans-config-api/plugins/sample/helloworld/pom.xml
  jans-config-api/plugins/scim-plugin/pom.xml
  jans-config-api/plugins/user-mgt-plugin/pom.xml
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
  jans-config-api/shared/pom.xml
Labels: kind-dependencies, comp-jans-config-api, autorelease: snapshot

#1706 chore(main): release jans-client-api 1.0.2-SNAPSHOT
  jans-client-api/client/pom.xml
  jans-client-api/common/pom.xml
  jans-client-api/gen-client/pom.xml
  jans-client-api/pom.xml
  jans-client-api/server/pom.xml
  jans-client-api/uma-rs-core/pom.xml
  jans-client-api/uma-rs-resteasy/pom.xml
Labels: kind-dependencies, comp-jans-client-api, autorelease: snapshot

#1648 docs: Added interception script template headers
  docs/admin/developer/scripts/application-session.md
Labels: area-documentation

#1728 ci: added distutils package install for py3.6
  .github/workflows/build-packages.yml
Labels: area-CI

#1730 fix: jans-linux-setup add dummy jansRedirectURI to scim client
  jans-linux-setup/jans_setup/setup_app/installers/scim.py
Labels: kind-bug, comp-jans-linux-setup

#1732 feat(jans-auth-server): #1731
  jans-linux-setup/jans_setup/scan/static/extension/update_token/UpdateToken.py
  jans-linux-setup/jans_setup/scan/static/extension/update_token/updatetoken.json
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#1737 fix(jans-client-api): jans-config-api dependency removed and wrong test dependencies solved
  jans-client-api/README.md
  jans-client-api/gen-client/pom.xml
  jans-client-api/pom.xml
  jans-client-api/server/pom.xml
  jans-client-api/server/src/main/java/io/jans/ca/server/persistence/service/MainPersistenceService.java
Labels: kind-bug, area-documentation, comp-jans-client-api

#1748 fix: jans-linux-setup no prompt for eleven installation
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#1750 docs(agama): add sample flows to docs
  agama/engine/src/main/java/io/jans/agama/engine/model/FlowStatus.java
  docs/admin/developer/agama/basic_authn.png
  docs/admin/developer/agama/dsl-full.md
  docs/admin/developer/agama/faq.md
  docs/admin/developer/agama/samples.md
Labels: area-documentation

#1738 docs: update contribution guidelines for docs
  README.md
  docs/CONTRIBUTING.md
Labels: area-documentation

#1768 fix: : start_date and end_date not required in /stat reponse (swagger…
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, comp-jans-config-api

#1769 feat: jans-linux-setup debian 11 packages
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
  jans-linux-setup/jans_setup/setup_app/installers/base.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/setup_app/installers/opendj.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
  jans-linux-setup/jans_setup/setup_app/utils/setup_utils.py
Labels: kind-bug, kind-feature, comp-jans-linux-setup

#1757 fix: test data for login
  jans-scim/client/src/test/resources/single/user_minimal_web_login.json
Labels: kind-bug, comp-jans-scim

#1786 fix(jans-config-api): swagger spec change to add missing attributes for Client
  jans-config-api/README.md
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/profiles/local/test.properties
Labels: kind-bug, area-documentation, comp-jans-config-api

#1795 fix: jans-linux-setup jans and jetty version (ref: #1792)
  jans-linux-setup/jans_setup/app_info.json
Labels: kind-bug, comp-jans-linux-setup

#1803 feat(jans-auth-server): improved TokenRestWebServiceValidator and added test for it #1591
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidatorTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/util/TestUtil.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: comp-jans-auth-server, kind-feature

#1805 fix(jans-config-api): fixes for path conflict for SCIM config and spec for UMA Resource mandatory fields
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/scim-plugin/src/main/java/io/jans/configapi/plugin/scim/rest/ScimConfigResource.java
  jans-config-api/plugins/scim-plugin/src/main/java/io/jans/configapi/plugin/scim/util/Constants.java
  jans-config-api/plugins/scim-plugin/src/test/resources/karate-config-jenkins.js
  jans-config-api/plugins/scim-plugin/src/test/resources/karate-config.js
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
Labels: kind-bug, comp-jans-config-api

#1787 FEAT / Added config to disable attempt to update before insert in cache
  jans-core/cache/src/main/java/io/jans/service/cache/NativePersistenceCacheProvider.java
  jans-core/cache/src/main/java/io/jans/service/cache/NativePersistenceConfiguration.java
Labels: comp-jans-core

#1797 docs: document docs commit check
  docs/CONTRIBUTING.md
Labels: area-documentation

#1811 ci: fix failing Sonar check for Agama
  agama/pom.xml
Labels: area-CI

#1807 FIX / Fixed package sun.security
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/WebKeysTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/dpop/DpopTokenRequestHttpTest.java
Labels: comp-jans-auth-server

#1788 refactor: mark jans.pycloudlib as typed
  jans-pycloudlib/docs/conf.py
  jans-pycloudlib/docs/install.rst
  jans-pycloudlib/docs/manager.rst
  jans-pycloudlib/docs/persistence.rst
  jans-pycloudlib/docs/quickstart.rst
  jans-pycloudlib/jans/pycloudlib/__init__.py
  jans-pycloudlib/jans/pycloudlib/config/__init__.py
  jans-pycloudlib/jans/pycloudlib/config/base_config.py
  jans-pycloudlib/jans/pycloudlib/manager.py
  jans-pycloudlib/jans/pycloudlib/meta/__init__.py
  jans-pycloudlib/jans/pycloudlib/meta/base_meta.py
  jans-pycloudlib/jans/pycloudlib/meta/docker_meta.py
  jans-pycloudlib/jans/pycloudlib/meta/kubernetes_meta.py
  jans-pycloudlib/jans/pycloudlib/persistence/__init__.py
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
  jans-pycloudlib/jans/pycloudlib/persistence/hybrid.py
  jans-pycloudlib/jans/pycloudlib/persistence/ldap.py
  jans-pycloudlib/jans/pycloudlib/persistence/spanner.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
  jans-pycloudlib/jans/pycloudlib/persistence/utils.py
  jans-pycloudlib/jans/pycloudlib/pki.py
  jans-pycloudlib/jans/pycloudlib/py.typed
  jans-pycloudlib/jans/pycloudlib/secret/__init__.py
  jans-pycloudlib/jans/pycloudlib/secret/base_secret.py
  jans-pycloudlib/jans/pycloudlib/utils.py
  jans-pycloudlib/jans/pycloudlib/wait.py
  jans-pycloudlib/pyproject.toml
  jans-pycloudlib/setup.py
  jans-pycloudlib/tests/conftest.py
  jans-pycloudlib/tests/test_persistence.py
Labels: kind-enhancement, area-documentation, comp-jans-pycloudlib

#1821 fix: indentation
  jans-linux-setup/jans_setup/scan/static/extension/update_token/UpdateToken.py
Labels: kind-bug, comp-jans-linux-setup

#1823 docs: add artifact link and latest release
  README.md
Labels: area-documentation

#1832 feat(jans-auth-server): split grant validation logic into TokenRestWebServiceValidator #1591
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/util/ServerUtil.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidatorTest.java
Labels: comp-jans-auth-server, kind-feature

#1841 bug(agama): template overriding not working with more than one level of nesting
  agama/engine/src/main/java/io/jans/agama/engine/model/FlowStatus.java
  agama/engine/src/main/java/io/jans/agama/engine/model/ParentFlowData.java
  agama/engine/src/main/java/io/jans/agama/engine/script/ScriptUtils.java
  agama/engine/src/main/java/io/jans/agama/engine/service/AgamaPersistenceService.java
  agama/engine/src/main/java/io/jans/agama/engine/service/FlowService.java
  agama/engine/src/main/java/io/jans/agama/engine/servlet/ExecutionServlet.java
  agama/transpiler/src/main/antlr4/io/jans/agama/antlr/AuthnFlow.g4
  agama/transpiler/src/main/resources/JSGenerator.ftl
  agama/transpiler/src/main/resources/util.js
  docs/admin/developer/agama/flows-lifecycle.md
  docs/admin/developer/agama/lifecycle.md
  docs/admin/developer/agama/quick-start.md
  jans-linux-setup/jans_setup/static/extension/person_authentication/AgamaBridge.py
Labels: area-documentation, comp-jans-linux-setup, comp-agama

#1844 fix: jans-linux-setup remove apache config when uninstall
  jans-linux-setup/jans_setup/install.py
Labels: kind-bug, comp-jans-linux-setup

#1849 docs(jans-config-api): fixed swagger format issue
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: area-documentation, comp-jans-config-api

#1857 build: sync scan_update_token script #1820
  docker-jans-persistence-loader/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader

#1829 [Snyk] Security upgrade alpine from 3.16.0 to 3.16
  docker-jans-persistence-loader/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader

#1863 fix(jans-config-api): fixed due to couchbase clustter change
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CouchbaseConfigurationResource.java
Labels: kind-bug, comp-jans-config-api

#1872 feat(jans-scim): make max no. of operations and payload size of bulks operations parameterizable
  docs/admin/scim.md
  jans-linux-setup/jans_setup/templates/jans-scim/dynamic-conf.json
  jans-scim/model/src/main/java/io/jans/scim/model/scim2/provider/config/BulkConfig.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/BulkWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/ServiceProviderConfigWS.java
  jans-scim/service/src/main/java/io/jans/scim/model/conf/AppConfiguration.java
Labels: area-CI, area-documentation, comp-jans-scim, kind-feature, comp-jans-linux-setup

#1880 ci: add closes keyword to PR template
  .github/pull_request_template.md
Labels: area-CI, area-documentation

#1884 Docs: error log fixes
  docs/admin/auth-server/client-management/client-authn.md
  docs/admin/auth-server/client-management/client-schema.md
  docs/admin/auth-server/client-management/client-scripts.md
  docs/admin/auth-server/client-management/configuration/client-crypto.md
  docs/admin/auth-server/client-management/configuration/grants.md
  docs/admin/auth-server/client-management/configuration/pre-authorization.md
  docs/admin/auth-server/client-management/configuration/redirect-uris.md
  docs/admin/auth-server/client-management/configuration/response-types.md
  docs/admin/auth-server/client-management/index.md
  docs/admin/auth-server/client-management/sector-identifiers.md
  docs/admin/auth-server/client-management/software-statements.md
  docs/admin/config-guide/curl.md
  docs/admin/config-guide/jans-cli/im/im-uma-resources.md
  docs/admin/config-guide/jans-cli/scim-cli.md
  docs/admin/config-guide/scim-cli.md
  docs/admin/deployment/identity-management.md
  docs/admin/deployment/role-based-access-management.md
  docs/admin/developer/back-channel-scripts.md
  docs/admin/recipes/custom-web-development/authn-with-apache-reverse-proxy.md
  docs/admin/reference/database/rdbms-erwin.md
  docs/admin/reference/database/rdmbs-erwin.md
  docs/admin/scim.md
  docs/mkdocs.yml
Labels: area-documentation, comp-jans-cli

#1893 chore: apply security updates
  docker-jans-auth-server/.hadolint.yaml
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/Makefile
  docker-jans-certmanager/.hadolint.yaml
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/Makefile
  docker-jans-client-api/.hadolint.yaml
  docker-jans-client-api/Dockerfile
  docker-jans-client-api/Makefile
  docker-jans-config-api/.hadolint.yaml
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/Makefile
  docker-jans-configurator/.hadolint.yaml
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/Makefile
  docker-jans-fido2/.hadolint.yaml
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/Makefile
  docker-jans-persistence-loader/.hadolint.yaml
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/Makefile
  docker-jans-scim/.hadolint.yaml
  docker-jans-scim/Dockerfile
  docker-jans-scim/Makefile
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim

#1910 fix(jans-auth-server): fixing client tests effected by "scope to claim" mapping which is disabled by default #1873
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/Asserter.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/ConfigurationRestWebServiceHttpTest.java
Labels: kind-bug, comp-jans-auth-server

#1912 feat(jans-config-api): endpoint to get UmaResource based on clientId and swagger changes
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/UmaResourcesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/UmaResourceService.java
  jans-config-api/server/src/test/resources/feature/openid/clients/clients.feature
  jans-config-api/server/src/test/resources/feature/openid/clients/openid_clients_create.json
Labels: comp-jans-config-api, kind-feature

#1909 ci: add sleep to the workflow
  .github/workflows/pr-ref-issue.yml
Labels: area-CI

#1922 chore: deprecate commons-httpclient library #1921
  jans-bom/pom.xml
  jans-core/saml/src/main/java/io/jans/saml/metadata/SAMLMetadataParser.java
  jans-core/util/pom.xml
  jans-core/util/src/main/java/io/jans/util/EasySSLProtocolSocketFactory.java
  jans-core/util/src/main/java/io/jans/util/io/HTTPFileDownloader.java
Labels: kind-dependencies, comp-jans-core, comp-jans-bom

#1935 Docs: move install instructions from Wiki to repo
  docs/admin/install/helm-install/local.md
  docs/admin/install/helm-install/rancher.md
  docs/admin/install/index.md
  docs/admin/install/vm-install/dynamic-download.md
  docs/admin/install/vm-install/rhel.md
  docs/admin/install/vm-install/suse.md
  docs/admin/install/vm-install/ubuntu.md
  docs/admin/install/vm-install/vm-requirements.md
Labels: area-documentation

#1898 feat(jans-config-api): agama flow endpoint
  agama/engine/src/main/java/io/jans/agama/engine/service/FlowService.java
  agama/engine/src/main/java/io/jans/agama/timer/Transpilation.java
  agama/model/src/main/java/io/jans/agama/model/ProtoFlow.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AgamaConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/ApiAppConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/common/src/main/resources/META-INF/beans.xml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/pom.xml
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/pom.xml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaFlowService.java
  jans-config-api/server/src/main/java/io/jans/configapi/util/AuthUtil.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/server/src/test/resources/feature/agama/agama-source.txt
  jans-config-api/server/src/test/resources/feature/agama/agama.feature
  jans-config-api/server/src/test/resources/feature/agama/agama.json
  jans-config-api/server/src/test/resources/feature/agama/agama1.json
  jans-config-api/server/src/test/resources/karate-config-jenkins.js
  jans-config-api/server/src/test/resources/karate-config.js
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/util/DataUtil.java
  jans-config-api/shared/src/main/resources/META-INF/beans.xml
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup, comp-agama

#1940 Jans config api fixes
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/scim-plugin/src/main/java/io/jans/configapi/plugin/scim/model/config/ScimAppConfiguration.java
Labels: comp-jans-config-api

#1946 Jans config api issue 1923
  jans-config-api/common/src/main/java/io/jans/configapi/rest/model/CustomScope.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ScopesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ScopeService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/UmaResourceService.java
Labels: comp-jans-config-api

#1939 docs: #1937
  docs/admin/auth-server/oauth-features/device-grant.md
  docs/assets/device-flow-1.png
  docs/assets/device-flow-2.png
  docs/assets/device-flow-3.png
  docs/assets/device-flow-4.png
  docs/assets/device_auth_flow.png
Labels: area-documentation

#1949 feat: need to fetch the associated clients_id in GET scopes api respo…
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: comp-jans-config-api, kind-feature
