Repository JanssenProject/jans, pull requests merged in 2022-11, with the labels that each got.

#2789 docs: structure updates, file moves
  docs/admin/auth-server/config.md
  docs/admin/auth-server/configuration/json-properties.md
  docs/admin/auth-server/configuration/jvm-considerations.md
  docs/admin/auth-server/crypto/key-generation.md
  docs/admin/auth-server/endpoints/ssa.md
  docs/admin/auth-server/openid-features/native-sso.md
  docs/admin/developer/cors.md
  mkdocs.yml
Labels: area-documentation

#2796 fix(image): missing configuration for openbanking discovery
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
Labels: kind-bug, comp-docker-jans-persistence-loader

#2797 chore(main): release docs 1.0.3
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#2798 chore(main): release jans-bom 1.0.3
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#2799 chore(main): release jans-config-api 1.0.3
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#2801 chore(main): release jans-scim 1.0.3
  jans-scim/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#2803 chore(main): release jans-auth-server 1.0.3
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#2804 chore(main): release jans-orm 1.0.3
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#2805 chore(main): release jans-core 1.0.3
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#2806 chore(main): release jans-notify 1.0.3
  jans-notify/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#2807 chore(main): release jans-eleven 1.0.3
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#2808 chore(main): release docker-jans-configurator 1.0.3-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#2810 chore(main): release docker-jans-auth-server 1.0.3-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#2811 chore(main): release docker-jans-scim 1.0.3-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#2812 chore(main): release docker-jans-certmanager 1.0.3-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#2813 chore(main): release docker-jans-persistence-loader 1.0.3-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#2814 chore(main): release docker-jans-monolith 1.0.3-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#2815 chore(main): release docker-jans-fido2 1.0.3-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#2816 chore(main): release jans-cli 1.0.3
  jans-cli/CHANGELOG.md
  jans-cli/cli/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-cli

#2817 chore(main): release jans-pycloudlib 1.0.3
  jans-pycloudlib/CHANGELOG.md
  jans-pycloudlib/jans/pycloudlib/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-pycloudlib

#2818 chore(main): release jans-linux-setup 1.0.3
  jans-linux-setup/CHANGELOG.md
  jans-linux-setup/jans_setup/setup_app/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-linux-setup

#2819 chore(main): release 1.0.3
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#2824 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#2839 fix: jans-linux-setup render webapps.xml
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/templates/jetty/default_webcontext.xml
Labels: kind-bug, comp-jans-linux-setup

#2834 chore(Dockerfiles): updated janspycloud build in cn-pycloudlib-spanner-search
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#2833 fix(pycloudlib): searching values from spanner returns empty set
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
  jans-pycloudlib/jans/pycloudlib/persistence/spanner.py
Labels: kind-bug, comp-jans-pycloudlib

#2846 fix(image): add missing write access in filesystem
  docker-jans-fido2/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-bug, comp-docker-jans-fido2, comp-docker-jans-scim

#2848 build(image): trailing character prevent SCIM image rebuild
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-scim

#2838 chore: Issue 2389
  jans-fido2/model/pom.xml
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/AppConfiguration.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/Conf.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/Fido2Configuration.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/RequestedParty.java
Labels: kind-dependencies, comp-jans-fido2

#2842 SSA Validation endpoint
  jans-auth-server/client/src/main/java/io/jans/as/client/BaseResponse.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/create/SsaCreateClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/validate/SsaValidateClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/validate/SsaValidateRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/validate/SsaValidateResponse.java
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaCreateRestTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaGetRestTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaValidateRestTest.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/ssa/Ssa.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/ssa/SsaState.java
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaErrorResponseType.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/AuthenticationFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaGetAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaValidateAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaJsonServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceImplTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateActionTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaGetActionTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaValidateActionTest.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: comp-jans-auth-server, comp-jans-linux-setup

#2854 fix(config-api): fixes for client creation, enum handling
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/user/UserManagementService.java
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/Fido2ConfigResource.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/Fido2Service.java
  jans-config-api/server/src/main/java/io/jans/configapi/configuration/ObjectMapperContextResolver.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ClientService.java
Labels: kind-bug, comp-jans-config-api

#2863 fix(agama): avoid NPE when configuration is missing
  agama/engine/src/main/java/io/jans/agama/engine/service/AppInitializer.java
  agama/engine/src/main/java/io/jans/agama/engine/service/ServicesFactory.java
Labels: kind-bug, comp-agama

#2862 docs(config-api): swagger fix for script enum
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: area-documentation, comp-jans-config-api

#2871 fix(image): multiple dynamic scopes created when using 2 replicas
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-config-api/templates/jans-config-api/clients.ldif
  docker-jans-config-api/templates/jans-config-api/scopes.ldif
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/scripts/bootstrap.py
  docker-jans-scim/scripts/upgrade.py
  docker-jans-scim/templates/jans-scim/clients.ldif
  docker-jans-scim/templates/jans-scim/scopes.ldif
Labels: kind-bug, comp-docker-jans-persistence-loader, comp-docker-jans-config-api, comp-docker-jans-scim, comp-jans-config-api, comp-jans-scim

#2883 Jans auth server client registration language metadata
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/ClientLanguageMetadataTest.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/registration/Client.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
  jans-orm/core/src/main/java/io/jans/orm/impl/BaseEntryManager.java
  jans-orm/ldap/src/main/java/io/jans/orm/ldap/impl/LdapEntryManager.java
  jans-orm/model/src/main/java/io/jans/orm/model/base/LocalizedString.java
Labels: comp-jans-auth-server, comp-jans-orm, comp-jans-linux-setup

#2836 docs: Fixed nav errors
  mkdocs.yml
Labels: area-documentation

#2886 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#2888 chore(main): release agama 1.0.4-SNAPSHOT
  agama/engine/pom.xml
  agama/inboundID/pom.xml
  agama/model/pom.xml
  agama/pom.xml
  agama/transpiler/pom.xml
Labels: kind-dependencies, autorelease: snapshot, comp-agama

#2890 chore(main): release jans-core 1.0.4-SNAPSHOT
  jans-core/cache/pom.xml
  jans-core/cdi/pom.xml
  jans-core/demo-cdi/pom.xml
  jans-core/document-store/pom.xml
  jans-core/exception-extension-cdi/pom.xml
  jans-core/java-ext/pom.xml
  jans-core/jsf-util/pom.xml
  jans-core/model/pom.xml
  jans-core/pom.xml
  jans-core/radius/pom.xml
  jans-core/saml/pom.xml
  jans-core/script/pom.xml
  jans-core/security-extension-cdi/pom.xml
  jans-core/server/pom.xml
  jans-core/service/pom.xml
  jans-core/standalone/pom.xml
  jans-core/timer-weld/pom.xml
  jans-core/uma-rs-core/pom.xml
  jans-core/util/pom.xml
Labels: kind-dependencies, comp-jans-core, autorelease: snapshot

#2891 chore(main): release jans-bom 1.0.4-SNAPSHOT
  jans-bom/pom.xml
Labels: kind-dependencies, comp-jans-bom, autorelease: snapshot

#2892 chore(main): release jans-auth-server 1.0.4-SNAPSHOT
  jans-auth-server/client/pom.xml
  jans-auth-server/common/pom.xml
  jans-auth-server/model/pom.xml
  jans-auth-server/persistence-model/pom.xml
  jans-auth-server/pom.xml
  jans-auth-server/server/pom.xml
  jans-auth-server/static/pom.xml
Labels: kind-dependencies, comp-jans-auth-server, autorelease: snapshot

#2893 chore(main): release jans-config-api 1.0.4-SNAPSHOT
  jans-config-api/common/pom.xml
  jans-config-api/plugins/admin-ui-plugin/pom.xml
  jans-config-api/plugins/fido2-plugin/pom.xml
  jans-config-api/plugins/pom.xml
  jans-config-api/plugins/sample/demo/pom.xml
  jans-config-api/plugins/sample/helloworld/pom.xml
  jans-config-api/plugins/scim-plugin/pom.xml
  jans-config-api/plugins/user-mgt-plugin/pom.xml
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
  jans-config-api/shared/pom.xml
Labels: kind-dependencies, comp-jans-config-api, autorelease: snapshot

#2894 chore(main): release jans-fido2 1.0.4-SNAPSHOT
  jans-fido2/client/pom.xml
  jans-fido2/model/pom.xml
  jans-fido2/pom.xml
  jans-fido2/server/pom.xml
Labels: autorelease: snapshot

#2895 chore(main): release jans-notify 1.0.4-SNAPSHOT
  jans-notify/client/pom.xml
  jans-notify/client2/pom.xml
  jans-notify/model/pom.xml
  jans-notify/pom.xml
  jans-notify/server/pom.xml
Labels: kind-dependencies, autorelease: snapshot

#2896 chore(main): release jans-scim 1.0.4-SNAPSHOT
  jans-scim/client/pom.xml
  jans-scim/model/pom.xml
  jans-scim/pom.xml
  jans-scim/server/pom.xml
  jans-scim/service/pom.xml
Labels: kind-dependencies, comp-jans-scim, autorelease: snapshot

#2897 chore(main): release jans-orm 1.0.4-SNAPSHOT
  jans-orm/annotation/pom.xml
  jans-orm/cdi/pom.xml
  jans-orm/core/pom.xml
  jans-orm/couchbase-libs/pom.xml
  jans-orm/couchbase-sample/pom.xml
  jans-orm/couchbase/pom.xml
  jans-orm/filter/pom.xml
  jans-orm/hybrid/pom.xml
  jans-orm/ldap-sample/pom.xml
  jans-orm/ldap/pom.xml
  jans-orm/model/pom.xml
  jans-orm/pom.xml
  jans-orm/spanner-libs/pom.xml
  jans-orm/spanner-sample/pom.xml
  jans-orm/spanner/pom.xml
  jans-orm/sql-sample/pom.xml
  jans-orm/sql/pom.xml
  jans-orm/standalone/pom.xml
  jans-orm/util/pom.xml
Labels: kind-dependencies, comp-jans-orm, autorelease: snapshot

#2887 chore(main): release docs 1.0.4
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#2910 chore(main): release jans-fido2 1.0.4
  jans-fido2/CHANGELOG.md
  jans-fido2/client/pom.xml
  jans-fido2/model/pom.xml
  jans-fido2/pom.xml
  jans-fido2/server/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#2911 chore(main): release jans-bom 1.0.4
  jans-bom/CHANGELOG.md
  jans-bom/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#2912 chore(main): release jans-config-api 1.0.4
  jans-config-api/CHANGELOG.md
  jans-config-api/common/pom.xml
  jans-config-api/plugins/admin-ui-plugin/pom.xml
  jans-config-api/plugins/fido2-plugin/pom.xml
  jans-config-api/plugins/pom.xml
  jans-config-api/plugins/sample/demo/pom.xml
  jans-config-api/plugins/sample/helloworld/pom.xml
  jans-config-api/plugins/scim-plugin/pom.xml
  jans-config-api/plugins/user-mgt-plugin/pom.xml
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
  jans-config-api/shared/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#2915 chore(main): release jans-core 1.0.4
  jans-core/CHANGELOG.md
  jans-core/cache/pom.xml
  jans-core/cdi/pom.xml
  jans-core/demo-cdi/pom.xml
  jans-core/document-store/pom.xml
  jans-core/exception-extension-cdi/pom.xml
  jans-core/java-ext/pom.xml
  jans-core/jsf-util/pom.xml
  jans-core/model/pom.xml
  jans-core/pom.xml
  jans-core/radius/pom.xml
  jans-core/saml/pom.xml
  jans-core/script/pom.xml
  jans-core/security-extension-cdi/pom.xml
  jans-core/server/pom.xml
  jans-core/service/pom.xml
  jans-core/standalone/pom.xml
  jans-core/timer-weld/pom.xml
  jans-core/uma-rs-core/pom.xml
  jans-core/util/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#2917 chore(main): release jans-orm 1.0.4
  jans-orm/CHANGELOG.md
  jans-orm/annotation/pom.xml
  jans-orm/cdi/pom.xml
  jans-orm/core/pom.xml
  jans-orm/couchbase-libs/pom.xml
  jans-orm/couchbase-sample/pom.xml
  jans-orm/couchbase/pom.xml
  jans-orm/filter/pom.xml
  jans-orm/hybrid/pom.xml
  jans-orm/ldap-sample/pom.xml
  jans-orm/ldap/pom.xml
  jans-orm/model/pom.xml
  jans-orm/pom.xml
  jans-orm/spanner-libs/pom.xml
  jans-orm/spanner-sample/pom.xml
  jans-orm/spanner/pom.xml
  jans-orm/sql-sample/pom.xml
  jans-orm/sql/pom.xml
  jans-orm/standalone/pom.xml
  jans-orm/util/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#2918 chore(main): release jans-eleven 1.0.4
  jans-eleven/CHANGELOG.md
  jans-eleven/client/pom.xml
  jans-eleven/model/pom.xml
  jans-eleven/pom.xml
  jans-eleven/server/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#2898 chore(main): release docker-jans-auth-server 1.0.4-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#2899 chore(main): release docker-jans-certmanager 1.0.4-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#2900 chore(main): release docker-jans-configurator 1.0.4-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#2901 chore(main): release docker-jans-persistence-loader 1.0.4-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#2903 chore(main): release docker-jans-fido2 1.0.4-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#2904 chore(main): release docker-jans-scim 1.0.4-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#2906 chore(main): release jans-cli 1.0.4
  jans-cli/CHANGELOG.md
  jans-cli/cli/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-cli

#2907 chore(main): release jans-pycloudlib 1.0.4
  jans-pycloudlib/CHANGELOG.md
  jans-pycloudlib/jans/pycloudlib/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-pycloudlib

#2902 chore(main): release docker-jans-config-api 1.0.4-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#2914 chore(main): release jans-notify 1.0.4
  jans-notify/CHANGELOG.md
  jans-notify/client/pom.xml
  jans-notify/client2/pom.xml
  jans-notify/model/pom.xml
  jans-notify/pom.xml
  jans-notify/server/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation

#2913 chore(main): release agama 1.0.4
  agama/CHANGELOG.md
  agama/engine/pom.xml
  agama/inboundID/pom.xml
  agama/model/pom.xml
  agama/pom.xml
  agama/transpiler/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#2908 chore(main): release 1.0.4
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#2922 fix(jans-auth-server): corrected regression made in token request #2921
  jans-auth-server/client/src/main/java/io/jans/as/client/ClientAuthnEnabler.java
  jans-auth-server/client/src/main/java/io/jans/as/client/TokenRequest.java
Labels: kind-bug, comp-jans-auth-server

#2923 Missed localized attributes
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: comp-jans-linux-setup

#2925 chore: remove extra comma
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: kind-dependencies, comp-jans-linux-setup

#2928 fix(jans-fido2): #1120
  jans-fido2/client/pom.xml
  jans-fido2/pom.xml
  jans-fido2/server/pom.xml
  jans-fido2/server/src/main/java/io/jans/fido2/exception/AttestationException.java
  jans-fido2/server/src/main/java/io/jans/fido2/exception/Fido2CompromisedDevice.java
  jans-fido2/server/src/main/java/io/jans/fido2/exception/Fido2MissingAttestationCertException.java
  jans-fido2/server/src/main/java/io/jans/fido2/exception/Fido2RpRuntimeException.java
  jans-fido2/server/src/main/java/io/jans/fido2/exception/Fido2RuntimeException.java
  jans-fido2/server/src/main/java/io/jans/fido2/model/auth/AuthData.java
  jans-fido2/server/src/main/java/io/jans/fido2/model/auth/PublicKeyCredentialDescriptor.java
  jans-fido2/server/src/main/java/io/jans/fido2/model/cert/CertificateHolder.java
  jans-fido2/server/src/main/java/io/jans/fido2/model/error/Fido2RPError.java
  jans-fido2/server/src/main/java/io/jans/fido2/model/mds/AuthenticatorCertificationStatus.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/AuthenticatorDataParser.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/Base64Service.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/CertificateService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/ChallengeGenerator.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/CoseService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/DataMapperService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/AppInitializer.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/MDS3UpdateTimer.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/LocalMdsService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/TocService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/AuthenticationPersistenceService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/RegistrationPersistenceService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/AppleAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/AssertionProcessorFactory.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/PackedAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/U2FAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AndroidKeyAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AndroidSafetyNetAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AppleAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AttestationProcessorFactory.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/NoneAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/PackedAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/TPMProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/U2FAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processors/AssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processors/AttestationFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/shared/OrganizationService.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/AssertionController.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/AttestationController.java
Labels: kind-bug, comp-jans-fido2

#2934 fix(config-api): swagger update for enum and error handling
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
Labels: kind-bug, comp-jans-config-api

#2935 fix(demo): incorrect URL to helm charts location
  automation/startjanssendemo.sh
Labels: kind-bug, area-CI

#2927 chore(image): sync missing localized attributes for sql and spanner
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
Labels: kind-dependencies, comp-docker-jans-persistence-loader

#2949 fix(config-api): added check for scope creation and swagger spec for client
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/security/api/ApiProtectionService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/SessionService.java
Labels: kind-bug, comp-jans-config-api

#2951 fix(jans-auth-server): wrong userinfo_encryption_enc_values_supported in OpenID Configuration #2725
  jans-auth-server/model/src/main/java/io/jans/as/model/util/Util.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/UtilTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
Labels: kind-bug, comp-jans-auth-server

#2953 feat(jans-auth-server): swagger docs for ssa
  jans-auth-server/docs/swagger.yaml
Labels: comp-jans-auth-server, kind-feature

#2958 fix(jans-auth-server): wrong import in GluuOrganization class which leads to failure on jans-config-api #2957
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/GluuOrganization.java
Labels: kind-bug, comp-jans-auth-server

#2975 fix: #2487 - removing inwebo
  jans-auth-server/server/src/main/webapp/auth/inwebo/iwauthenticate.xhtml
  jans-auth-server/server/src/main/webapp/auth/inwebo/iwlogin.xhtml
  jans-linux-setup/jans_setup/static/extension/person_authentication/other/inwebo/inwebo.py
  jans-linux-setup/jans_setup/static/extension/person_authentication/other/inwebo/iw_creds.json
  jans-linux-setup/jans_setup/static/extension/person_authentication/other/inwebo/iw_va.xhtml
  jans-linux-setup/jans_setup/static/extension/person_authentication/other/inwebo/iwauthenticate.xhtml
  jans-linux-setup/jans_setup/static/extension/person_authentication/other/inwebo/iwlogin.xhtml
  jans-linux-setup/jans_setup/static/extension/person_authentication/other/inwebo/iwlogin_without_password.xhtml
  jans-linux-setup/jans_setup/static/extension/person_authentication/other/inwebo/iwpushnotification.xhtml
  jans-linux-setup/jans_setup/static/extension/person_authentication/other/inwebo/oxauth.properties
Labels: kind-bug, comp-jans-auth-server, comp-jans-linux-setup

#2968 docs: consent gathering script
  docs/admin/developer/interception-scripts.md
  docs/admin/developer/scripts/client-registration.md
  docs/admin/developer/scripts/consent-gathering.md
Labels: area-documentation

#2972 fix(jans-fido2): #2971
  jans-core/service/src/main/java/io/jans/service/logger/LoggerService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/AttestationCertificateService.java
  jans-fido2/server/src/main/resources/log4j2.xml
Labels: kind-bug, comp-jans-core, comp-jans-fido2

#2983 fix: #2487 - SIWA and SIWG (Sign in with Apple-Google), moved to scri…
  docs/admin/recipes/social-login-google.md
  docs/admin/recipes/social-login.md
  docs/script-catalog/person_authentication/apple-external-authenticator/AppleExternalAuthenticator.py
  docs/script-catalog/person_authentication/apple-external-authenticator/README.md
  docs/script-catalog/person_authentication/fido2-external-authenticator/README.md
  docs/script-catalog/person_authentication/google-external-authenticator/README.md
  jans-linux-setup/jans_setup/static/extension/person_authentication/GoogleExternalAuthenticator.py
Labels: kind-bug, area-documentation, comp-jans-linux-setup

#2986 fix: jans-linux-setup fido2 script placeholder in scripts template
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#2989 fix: jans-linux-setup service description for jans-auth
  jans-linux-setup/jans_setup/static/system/systemd/jans-auth.service
Labels: kind-bug, comp-jans-linux-setup

#2995 feat(jans-auth-server): java docs for ssa
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaContextBuilder.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaGetAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaRevokeAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaValidateAction.java
Labels: comp-jans-auth-server, kind-feature

#2998 fix: jans-linux-setup remove opendj sysv script
  jans-linux-setup/jans_setup/setup_app/installers/opendj.py
Labels: kind-bug, comp-jans-linux-setup

#2999 fix: #2487 scripts-catalog folder restructuring
  docs/script-catalog/person_authentication/agama-bridge/AgamaBridge.py
  docs/script-catalog/person_authentication/bioid/BioIDExternalAuthenticator.py
  docs/script-catalog/person_authentication/bioid/README.txt
  docs/script-catalog/person_authentication/forgot_password/README.md
  docs/script-catalog/person_authentication/forgot_password/forgot_password.py
  jans-linux-setup/jans_setup/static/extension/person_authentication/AgamaBridge.py
  jans-linux-setup/jans_setup/static/extension/person_authentication/BasicExternalAuthenticator.py
  jans-linux-setup/jans_setup/static/extension/person_authentication/BasicLockAccountExternalAuthenticator.py
  jans-linux-setup/jans_setup/static/extension/person_authentication/OtpExternalAuthenticator.py
  jans-linux-setup/jans_setup/static/extension/person_authentication/SuperGluuExternalAuthenticator.py
  jans-linux-setup/jans_setup/static/extension/person_authentication/UserCertExternalAuthenticator.py
  jans-linux-setup/jans_setup/static/extension/person_authentication/YubicloudExternalAuthenticator.py
  jans-linux-setup/jans_setup/static/extension/person_authentication/smpp2FA.py
  jans-linux-setup/jans_setup/static/extension/person_authentication/twilio2FA.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, area-documentation, comp-jans-linux-setup

#2992 fix: the admin-ui role/permission/mapping delete apis are not protected by appropriate permissions #2991
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/user/UserManagementResource.java
Labels: kind-bug, comp-jans-config-api

#2970 feat: add feature to include custom-claims in user-info endpoint of admin-ui plugin #2969
  docs/script-catalog/introspection/introspection-github-claims/introspection_github_claims.py
  docs/script-catalog/person_authentication/github-external-authenticator/GithubExternalAuthenticator.py
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/UserInfoResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/auth/OAuth2Service.java
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup

#3013 feat(image): preserve attribute's values in jans-auth config
  docker-jans-persistence-loader/README.md
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: comp-docker-jans-persistence-loader, area-documentation, kind-feature

#3020 chore(agama): create custom parameter for agama flows
  agama/engine/profiles/default/config-agama-test.properties
  docs/admin/developer/agama/quick-start.md
  jans-auth-server/server/conf/jans-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-dependencies, area-documentation, comp-jans-auth-server, comp-jans-linux-setup, comp-agama

#3023 fix: disable github authentication and interception scripts by default and other changes. #3022
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#3028 fix(config-api): error handling for agama get and org patch
  jans-config-api/common/pom.xml
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
  jans-config-api/plugins/sample/helloworld/pom.xml
  jans-config-api/pom.xml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/OrganizationResource.java
Labels: kind-bug, comp-jans-config-api

#3031 Documentation for SSA
  docs/admin/auth-server/endpoints/ssa.md
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/get/SsaGetClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/get/SsaGetRequest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaGetTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaRevokeTest.java
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaScopeType.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaGetAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceImplTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaGetActionTest.java
Labels: area-documentation, comp-jans-auth-server

#3033 chore(image): add agama_flow custom parameter
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim

#3047 chore(agama): add test cases for agama engine
  agama/engine/src/test/java/io/jans/agama/test/MathFlowTest.java
Labels: kind-dependencies, comp-agama

#3064 fix:(jans-auth-server): fixed Client serialization/deserialization issue #2946
  jans-auth-server/common/src/main/java/io/jans/as/common/model/registration/Client.java
  jans-auth-server/common/src/test/java/io/jans/as/common/model/registration/ClientSerializationTest.java
  jans-orm/model/src/main/java/io/jans/orm/model/base/LocalizedString.java
Labels: kind-bug, comp-jans-auth-server

#3077 fix(jans): added null check to avoid NullPointerException
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-orm/model/src/main/java/io/jans/orm/model/base/CustomObjectAttribute.java
  jans-orm/model/src/main/java/io/jans/orm/model/base/LocalizedString.java
Labels: kind-bug, comp-jans-config-api, comp-jans-orm

#3076 Relax requirement for redirect_uri for back-channel OAuth flows
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/RegistrationRestWebServiceHttpTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/registration/RegisterParamsValidator.java
Labels: comp-jans-auth-server

#2852 feat: add custom annotation for configuration property and feature flag documentation
  .github/workflows/build-docs.yml
  .github/workflows/build-wars.yml
  automation/docs/generate-property-docs.sh
  docs/admin/reference/json/config-api.md
  docs/admin/reference/json/feature-flags/README.md
  docs/admin/reference/json/feature-flags/janssenauthserver-feature-flags.md
  docs/admin/reference/json/properties/README.md
  docs/admin/reference/json/properties/config-api-properties.md
  docs/admin/reference/json/properties/fido2-properties.md
  docs/admin/reference/json/properties/janssenauthserver-properties.md
  docs/admin/reference/json/properties/scim-properties.md
  jans-auth-server/model/pom.xml
  jans-auth-server/model/src/main/java/io/jans/as/model/common/FeatureFlagType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/pom.xml
  jans-core/doc/pom.xml
  jans-core/doc/src/main/java/io/jans/doc/annotation/DocFeatureFlag.java
  jans-core/doc/src/main/java/io/jans/doc/annotation/DocFeatureFlagProcessor.java
  jans-core/doc/src/main/java/io/jans/doc/annotation/DocProperty.java
  jans-core/doc/src/main/java/io/jans/doc/annotation/DocPropertyProcessor.java
  jans-core/pom.xml
  jans-fido2/model/pom.xml
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/AppConfiguration.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/Fido2Configuration.java
  jans-fido2/pom.xml
  jans-scim/model/pom.xml
  jans-scim/model/src/main/java/io/jans/scim/model/conf/AppConfiguration.java
  jans-scim/pom.xml
  mkdocs.yml
Labels: comp-jans-auth-server, comp-jans-core, kind-feature

#3083 feat(jans-auth-server): specify minimum acr for clients #343
  docs/admin/auth-server/client-management/configuration/client-config.md
  jans-auth-server/client/src/main/java/io/jans/as/client/RegisterRequest.java
  jans-auth-server/common/src/test/resources/testng.xml
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/register/RegisterRequestParam.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/ClientAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequestService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterCreateAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthzRequestServiceTest.java
Labels: comp-jans-auth-server, kind-feature

#3100 docs: create TUI placeholder page
  docs/admin/config-guide/tui.md
  mkdocs.yml
Labels: area-documentation

#3063 refactor: jans cli to jans-cli-tui
  .github/CODEOWNERS
  .github/workflows/build-packages.yml
  .github/workflows/central_code_quality_check.yml
  .github/workflows/release.yaml
  automation/github-labels/labels-schema.json
  docker-jans-persistence-loader/scripts/utils.py
  jans-cli-tui/CHANGELOG.md
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_oxauth/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_oxauth/edit_scope_dialog.py
  jans-cli-tui/cli_tui/plugins/010_oxauth/main.py
  jans-cli-tui/cli_tui/plugins/010_oxauth/view_property.py
  jans-cli-tui/cli_tui/plugins/010_oxauth/view_uma_dialog.py
  jans-cli-tui/cli_tui/plugins/020_fido/main.py
  jans-cli-tui/cli_tui/plugins/030_scim/main.py
  jans-cli-tui/cli_tui/plugins/040_config_api/main.py
  jans-cli-tui/cli_tui/plugins/060_scripts/edit_script_dialog.py
  jans-cli-tui/cli_tui/plugins/060_scripts/main.py
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
  jans-cli-tui/cli_tui/plugins/999_jans/main.py
  jans-cli-tui/cli_tui/version.py
  jans-cli-tui/setup.py
  jans-cli/.gitignore
  jans-cli/LICENSE
  jans-cli/Makefile
  jans-cli/README.md
  jans-cli/cli/__init__.py
  jans-cli/cli/config_cli.py
  jans-cli/cli/pylib/__init__.py
  jans-cli/cli/pylib/tabulate/LICENSE
  jans-cli/cli/pylib/tabulate/README
  jans-cli/cli/pylib/tabulate/README.md
  jans-cli/cli/pylib/tabulate/__init__.py
  jans-cli/cli/pylib/tabulate/tabulate.py
  jans-cli/cli/scim_cli.py
  jans-cli/cli/version.py
  jans-cli/setup.py
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
Labels: kind-enhancement, comp-docker-jans-persistence-loader, area-CI, area-documentation, comp-jans-cli-tui, comp-jans-linux-setup

#3113 chore(Dockerfiles): updated janspycloud build in cn-aws-secretsmanager
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#3118 fix: jans-cli-docs update links
  jans-cli-tui/docs/build.md
  jans-cli-tui/docs/remote_install.md
Labels: kind-bug, area-documentation, comp-jans-cli-tui

#3122 fix: client-name, logout, user
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/plugins/010_oxauth/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
Labels: kind-bug, comp-jans-cli-tui

#3112 feat(jans-pycloudlib): add AWS Secrets Manager support for configuration layers
  .github/workflows/pr-ref-issue.yml
  charts/janssen/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/janssen/charts/auth-server/templates/deployment.yml
  charts/janssen/charts/config-api/templates/deployment.yaml
  charts/janssen/charts/config/templates/load-init-config.yml
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/charts/fido2/templates/deployment.yml
  charts/janssen/charts/persistence/templates/jobs.yml
  charts/janssen/charts/scim/templates/deployment.yml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/README.md
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/README.md
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/README.md
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/README.md
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/README.md
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/Dockerfile
  docker-jans-scim/README.md
  docker-jans-scim/requirements.txt
  jans-pycloudlib/jans/pycloudlib/config/__init__.py
  jans-pycloudlib/jans/pycloudlib/config/aws_config.py
  jans-pycloudlib/jans/pycloudlib/manager.py
  jans-pycloudlib/jans/pycloudlib/secret/__init__.py
  jans-pycloudlib/jans/pycloudlib/secret/aws_secret.py
  jans-pycloudlib/pyproject.toml
  jans-pycloudlib/setup.py
Labels: comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, kind-feature, comp-jans-pycloudlib

#3126 jans(config-api): static scope id and feature and admin level scopes
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/configuration/AppInitializer.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AcrsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AttributesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CacheConfigurationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigSmtpResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/JwksResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/LdapConfigurationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/LoggingResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/OrganizationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ScopesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/SessionResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/StatResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/UmaResourcesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/api/ApiProtectionCache.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/api/ApiProtectionService.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/service/AuthorizationService.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/service/OpenIdAuthorizationService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ScopeService.java
  jans-config-api/server/src/main/java/io/jans/configapi/util/AuthUtil.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/shared/src/main/java/io/jans/configapi/core/protect/Condition.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/protect/RsResource.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/protect/RsResourceList.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/protect/Scope.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/ProtectedApi.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/util/ProtectionScopeType.java
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
Labels: comp-jans-config-api, comp-jans-linux-setup

#3128 test(config-api): fixed incorrect value for emailVerified in test script
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/plugins/user-mgt-plugin/src/test/resources/feature/mgt/user/user-patch.json
  jans-config-api/plugins/user-mgt-plugin/src/test/resources/feature/mgt/user/user.json
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaFlowService.java
  jans-config-api/server/src/main/resources/example/openid-clients/openid-clients-get-all.json
  jans-config-api/server/src/main/resources/example/openid-clients/openid-clients-get.json
Labels: area-CI, comp-jans-config-api
