Repository JanssenProject/jans, pull requests merged in 2022-10, with the labels that each got.

#2523 fix: jans-linux-setup typo
  jans-linux-setup/docs/README.md
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/setup_app/installers/jre.py
  jans-linux-setup/jans_setup/setup_app/installers/jython.py
  jans-linux-setup/jans_setup/setup_app/static.py
  jans-linux-setup/jans_setup/setup_app/utils/package_utils.py
Labels: kind-bug, area-documentation, comp-jans-linux-setup

#2515 fix: jans-cli fixes
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli

#2526 fix: jans-linux-setup typo
  jans-linux-setup/jans_setup/setup_app/installers/node.py
Labels: kind-bug, comp-jans-linux-setup

#2503 fix: #776
  docs/script-catalog/person_authentication/casa/Casa.py
  jans-fido2/server/pom.xml
  jans-fido2/server/profiles/default/config-build.properties
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/AppInitializer.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/MDS3UpdateEvent.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/MDS3UpdateTimer.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/AttestationCertificateService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/MdsService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/TocService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AppleAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/CommonVerifiers.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-fido2

#2533 fix: scan docs/script-catalog for custom scripts
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/utils.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#2531 feat: sync mds v3 config in fido2 image
  docker-jans-fido2/Dockerfile
Labels: comp-docker-jans-fido2, kind-feature

#2528 docs: update Ubuntu vm installation guide with more detailed instructions
  docs/admin/install/install-faq.md
  docs/admin/install/vm-install/ubuntu.md
Labels: area-documentation

#2532 docs(jans-scim): add json payload examples to the generated swagger
  jans-scim/server/src/main/resources/jans-scim-openapi.yaml
  jans-scim/server/src/main/resources/jans-scim-swagger.yaml
Labels: area-CI, area-documentation, comp-jans-scim

#2504 docs: add quick start guide
  README.md
  docs/admin/install/vm-install/quick-start-install.md
  mkdocs.yml
Labels: area-documentation

#2537 fix(jans-auth-server): "login:prompt" property passed in request object JWT breaks authentication #2493
  jans-auth-server/model/src/main/java/io/jans/as/model/util/Util.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequestService.java
Labels: kind-bug, comp-jans-auth-server

#2540 fix(config-api): fix for associated client not fetched for scope
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ScopesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ScopeService.java
Labels: kind-bug, comp-jans-config-api

#2373 docs(oidc-script): add oidc script and oidc inbound identity docs
  docs/admin/recipes/inbound-oidc.md
  docs/admin/recipes/passportjs.md
  docs/script-catalog/person_authentication/oidc/oidc-jans-login.xhtml
  docs/script-catalog/person_authentication/oidc/oidc-jans-script.py
  mkdocs.yml
Labels: area-documentation

#2544 fix(jans-auth-server): added schema for ssa, corrected persistence, added ttl #2543
  jans-auth-server/common/src/main/java/io/jans/as/common/model/ssa/Ssa.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/ssa/SsaAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaJsonServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateActionTest.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: kind-bug, comp-jans-auth-server

#2546 fix: jans-linux-setup install dependencies without interaction if --download-exit
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/jans_setup.py
Labels: kind-bug, comp-jans-linux-setup

#2555 chore(jans-scim): log warning when no token details can be obtained when creating context for scim custom script
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/ExternalConstraintsService.java
Labels: kind-dependencies, area-CI, comp-jans-scim

#2561 fix: jans-cli info for ConfigurationAgamaFlow
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli

#2567 fix(config-api): fix for returning associated-clients for scope
  jans-config-api/common/src/main/java/io/jans/configapi/rest/model/CustomScope.java
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ScopeService.java
Labels: kind-bug, comp-jans-config-api

#2577 Initial SSA structure for new deployments
  jans-auth-server/common/src/main/java/io/jans/as/common/model/ssa/SsaAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaServiceTest.java
  jans-linux-setup/jans_setup/schema/jans_schema_mappings.json
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/templates/base.ldif
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-errors.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-static-conf.json
  jans-linux-setup/jans_setup/templates/test/jans-auth/data/oxauth-test-data.ldif
Labels: comp-jans-auth-server, comp-jans-linux-setup

#2588 chore(jans-auth-server): when configuration load is failed print full stack trace #2587
  jans-auth-server/server/src/main/java/io/jans/as/server/model/config/ConfigurationFactory.java
Labels: comp-jans-auth-server, enhancement

#2592 fix: jans-linux-setup MySQL schema name is db name
  jans-linux-setup/jans_setup/templates/jans-mysql.properties
Labels: kind-bug, comp-jans-linux-setup

#2566 docs: renamed `deployment` folder to `planning`
  docs/admin/planning/README.md
  docs/admin/planning/application-portal.md
  docs/admin/planning/benchmarking.md
  docs/admin/planning/caching.md
  docs/admin/planning/central-auth-service.md
  docs/admin/planning/certificates-keys.md
  docs/admin/planning/components.md
  docs/admin/planning/customization.md
  docs/admin/planning/delegated-user-admin.md
  docs/admin/planning/discovery.md
  docs/admin/planning/dns.md
  docs/admin/planning/faq.md
  docs/admin/planning/identity-access-governance.md
  docs/admin/planning/identity-management.md
  docs/admin/planning/kubernetes.md
  docs/admin/planning/load-balancers.md
  docs/admin/planning/machine-to-machine.md
  docs/admin/planning/multi-tenancy.md
  docs/admin/planning/passwordless-auth.md
  docs/admin/planning/persistence.md
  docs/admin/planning/platform-goal.md
  docs/admin/planning/role-based-access-management.md
  docs/admin/planning/security-best-practices.md
  docs/admin/planning/self-service-password-2fa.md
  docs/admin/planning/stepped-up-auth.md
  docs/admin/planning/timeout-management.md
  docs/admin/planning/use-cases.md
  docs/admin/planning/vm-cluster.md
  docs/admin/planning/vm-single-instance.md
  mkdocs.yml
Labels: area-documentation

#2601 docs: need Janssen Server installation instructions for SLES
  docs/admin/install/vm-install/suse.md
  docs/admin/install/vm-install/ubuntu.md
Labels: area-documentation

#2607 chore: updated repo2.maven.org with repo1.maven.org
  jans-auth-server/pom.xml
  jans-bom/pom.xml
  jans-core/pom.xml
  jans-fido2/pom.xml
  jans-orm/pom.xml
Labels: comp-jans-auth-server

#2610 chore(jans-bom): upgraded jackson to 2.14.0-rc2
  jans-bom/pom.xml
Labels: kind-enhancement, comp-jans-bom

#2603 fix(image): remove metadata-root-ca.cer inside fido2 image
  docker-jans-fido2/Dockerfile
Labels: kind-bug, comp-docker-jans-fido2

#2613 fix(image): add missing ssa configuration
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
Labels: kind-bug, comp-docker-jans-persistence-loader

#2618 fix(image): add missing script for openbanking installation
  docker-jans-persistence-loader/Dockerfile
Labels: kind-bug, comp-docker-jans-persistence-loader

#2620 fix(jans-auth-server): PKCE parameters from first SSO request retains in further calls
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
Labels: comp-jans-auth-server, comp-jans-bom

#2622 chore(jans-auth-server): upgrade protobuf dependency #2621
  jans-client-api/server/pom.xml
Labels: kind-enhancement, comp-jans-auth-server

#2627 chore(Dockerfiles): updated janspycloud build in cn-postgres-manifests
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#2641 fix: jans-linux-setup don't call package installation unless missing packages
  jans-linux-setup/jans_setup/install.py
Labels: kind-bug, comp-jans-linux-setup

#2626 chore(image): add manifests/assets for postgresql support
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/README.md
  docker-jans-auth-server/conf/jans-mysql.properties.tmpl
  docker-jans-auth-server/conf/jans-pgsql.properties.tmpl
  docker-jans-auth-server/requirements.txt
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-certmanager/README.md
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/conf/jans-mysql.properties.tmpl
  docker-jans-config-api/conf/jans-pgsql.properties.tmpl
  docker-jans-config-api/requirements.txt
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/README.md
  docker-jans-fido2/conf/jans-mysql.properties.tmpl
  docker-jans-fido2/conf/jans-pgsql.properties.tmpl
  docker-jans-fido2/requirements.txt
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/README.md
  docker-jans-persistence-loader/requirements.txt
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/README.md
  docker-jans-scim/conf/jans-mysql.properties.tmpl
  docker-jans-scim/conf/jans-pgsql.properties.tmpl
  docker-jans-scim/requirements.txt
  docker-jans-scim/scripts/bootstrap.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
  jans-pycloudlib/pyproject.toml
  jans-pycloudlib/tests/test_persistence.py
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, comp-jans-pycloudlib

#2642 build(config-api): upgraded snakeyaml vresion to fix vulnerability
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/pom.xml
  jans-config-api/profiles/local/test.properties
Labels: kind-dependencies, comp-jans-config-api

#2652 chore(Dockerfiles): updated janspycloud build in cn-jsonb-default-values
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#2660 chore(agama): log signature of the actual Java method picked when using Call
  agama/engine/src/main/java/io/jans/agama/engine/misc/PrimitiveUtils.java
  agama/engine/src/main/java/io/jans/agama/engine/service/ActionService.java
Labels: kind-dependencies, comp-agama

#2673 chore(agama): add test cases for agama engine
  agama/engine/pom.xml
  agama/engine/profiles/default/config-agama-test.properties
  agama/engine/src/main/java/io/jans/agama/engine/service/ActionService.java
  agama/engine/src/test/java/io/jans/agama/test/BaseTest.java
  agama/engine/src/test/java/io/jans/agama/test/CustomConfigsFlowTest.java
  agama/engine/src/test/java/io/jans/agama/test/MathFlowTest.java
  agama/engine/src/test/java/io/jans/agama/test/SaySomething2FlowTest.java
  agama/engine/src/test/java/io/jans/agama/test/SaySomething3FlowTest.java
  agama/engine/src/test/java/io/jans/agama/test/SaySomethingFlowTest.java
  agama/engine/src/test/java/io/jans/agama/test/UidOnlyAuthTest.java
  agama/engine/src/test/resources/flows/io.jans.agama.test.auth.uidOnly
  agama/engine/src/test/resources/flows/io.jans.agama.test.math
  agama/engine/src/test/resources/flows/io.jans.agama.test.showConfig
  agama/engine/src/test/resources/flows/org.gluu.flow1
  agama/engine/src/test/resources/flows/org.gluu.flow2
  agama/engine/src/test/resources/flows/org.gluu.flow3
  agama/engine/src/test/resources/log4j2-test.xml
  agama/engine/src/test/resources/templates/custom/printConfigs.ftlh
  agama/engine/src/test/resources/templates/f1/index.ftl
  agama/engine/src/test/resources/templates/f1/index2.ftl
  agama/engine/src/test/resources/templates/hello/index.ftlh
  agama/engine/src/test/resources/templates/login.ftlh
  agama/engine/src/test/resources/templates/me/myindex.ftlh
  agama/engine/src/test/resources/testng.properties
  agama/engine/src/test/resources/testng.xml
  docs/admin/developer/agama/dsl-full.md
Labels: kind-dependencies, area-documentation, comp-agama

#2663 fix(config-api): specifying JSON values for Attribute enum properties
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/configuration/ObjectMapperContextResolver.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AttributesResource.java
  jans-config-api/server/src/test/resources/feature/attribute/attribute-for-patch.json
  jans-config-api/server/src/test/resources/feature/attribute/attribute.json
  jans-config-api/server/src/test/resources/feature/config/scripts/custom/persons/person-script.json
  jans-config-api/server/src/test/resources/feature/config/scripts/custom/persons/person-scripts.feature
Labels: kind-bug, comp-jans-config-api, comp-jans-core

#2651 fix(pycloudlib): set default values for JSONB column
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
Labels: kind-bug, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-jans-pycloudlib

#2675 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#2655 [Snyk] Security upgrade io.swagger.core.v3:swagger-core-jakarta from 2.2.2 to 2.2.4
  jans-config-api/pom.xml
Labels: kind-dependencies, comp-jans-config-api

#2630 [Snyk] Security upgrade org.apache.commons:commons-text from 1.9 to 1.10.0
  jans-config-api/plugins/sample/helloworld/pom.xml
Labels: kind-dependencies, comp-jans-config-api

#2625 [Snyk] Security upgrade org.apache.commons:commons-text from 1.9 to 1.10.0
  jans-config-api/plugins/sample/demo/pom.xml
Labels: kind-dependencies, comp-jans-config-api

#1464 [Snyk] Fix for 1 vulnerabilities
  jans-config-api/pom.xml
Labels: kind-dependencies, comp-jans-config-api

#2520 [Snyk] Security upgrade org.codehaus.jettison:jettison from 1.4.1 to 1.5.1
  jans-auth-server/pom.xml
Labels: kind-dependencies, comp-jans-auth-server

#2683 chore(jans-scim): reduce log noise on user lookup by inum
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/UserPersistenceHelper.java
Labels: kind-dependencies, area-CI, comp-jans-scim

#2685 fix: jans-linux-setup test data load
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
Labels: kind-bug, comp-jans-linux-setup

#2687 chore: update DB/LDAP libs
  .gitignore
  jans-bom/pom.xml
Labels: kind-dependencies, comp-jans-bom

#2688 chore: update commons libs
  jans-bom/pom.xml
Labels: kind-dependencies, comp-jans-bom

#2699 fix(docs): fix MarkupSafe hash
  docs/requirements.txt
Labels: kind-bug, area-documentation

#2697 fix(config-api): swagger fixes for missing scope and admin-ui paths
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/admin-ui-plugin/src/test/resources/karate-config-jenkins.js
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/ApiApplication.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/Fido2ConfigResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/ApiApplication.java
  jans-config-api/profiles/default/config-api-test.properties
  jans-config-api/profiles/jans-ui.jans.io/test.properties
  jans-config-api/profiles/jenkins-config-api.gluu.org/test.properties
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AcrsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AttributesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CacheConfigurationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigResource.java
  jans-config-api/server/src/test/resources/karate-config-jenkins.js
  jans-config-api/server/src/test/resources/karate-config.js
Labels: kind-bug, comp-jans-config-api

#2706 fix(jans auth server): well known uppercase grant_types response_mode
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
Labels: kind-bug, comp-jans-auth-server

#2708 ci: update docs requirements
  .github/workflows/build-docs.yml
  docs/requirements.txt
Labels: area-CI

#2714 fix(config-api): scope addiotion while client creation
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ClientService.java
Labels: kind-bug, comp-jans-config-api

#2718 fix: admin-ui plugin should use encoded client_secret for authenticat…
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/auth/OAuth2Service.java
Labels: kind-bug, comp-jans-config-api

#2719 SSA Get Endpoint
  jans-auth-server/client/src/main/java/io/jans/as/client/BaseClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/SsaResponse.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/create/SsaCreateClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/create/SsaCreateRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/create/SsaCreateResponse.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/get/SsaGetClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/get/SsaGetJson.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/get/SsaGetRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/get/SsaGetResponse.java
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/AssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/SsaCreateAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/SsaGetAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/SsaResponseAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaCreateRestTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaGetRestTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/SsaRestWebServiceHttpTest.java
  jans-auth-server/client/src/test/resources/testng.xml
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaRequestParam.java
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaScopeType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/DateUtil.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/DateUtilTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/audit/Action.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ModifySsaResponseService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaGetAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaJsonServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceImplTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceValidatorTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateActionTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaGetActionTest.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/ssa/DummyModifySsaResponseType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/ssa/ModifySsaResponseType.java
  jans-linux-setup/jans_setup/static/extension/ssa_modify_response/ssa_modify_response.py
  jans-linux-setup/jans_setup/templates/test/jans-auth/data/oxauth-test-data.ldif
Labels: comp-jans-auth-server, comp-jans-core

#2730 feat: jans-linux-setup external CB/Spanner libs
  jans-linux-setup/jans_setup/setup_app/installers/couchbase.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/utils/setup_utils.py
Labels: kind-feature, comp-jans-linux-setup

#2732 chore: fix version number
  jans-config-api/pom.xml
Labels: kind-dependencies, comp-jans-config-api

#2738 docs: Mulitenancy Doc
  docs/admin/planning/load-balancers.md
  docs/admin/planning/multi-tenancy.md
Labels: area-documentation

#2736 chore: fix typo in build profile
  jans-linux-setup/jans_setup/templates/test/jans-auth/server/config-build.properties
Labels: kind-dependencies, comp-jans-linux-setup

#2737 Docs: updated navigation items, removed duplicate files
  docs/admin/install/setup.md
  docs/admin/integration/README.md
  docs/admin/integration/apps/README.md
  docs/admin/integration/apps/drupal.md
  docs/admin/integration/apps/magento.md
  docs/admin/integration/apps/moodle.md
  docs/admin/integration/apps/nextcloud.md
  docs/admin/integration/apps/rancher.md
  docs/admin/integration/apps/rocket.md
  docs/admin/integration/apps/teleport.md
  docs/admin/integration/apps/wordpress.md
  docs/admin/integration/casa.md
  docs/admin/integration/custom-web.md
  docs/admin/integration/integration-faq.md
  docs/admin/integration/passport-js.md
  docs/admin/integration/saas/README.md
  docs/admin/integration/saas/aws.md
  docs/admin/integration/saas/docusign.md
  docs/admin/integration/saas/google.md
  docs/admin/integration/saas/jira.md
  docs/admin/integration/saas/office365.md
  docs/admin/integration/saas/salesforce.md
  docs/admin/integration/saas/webex.md
  docs/admin/integration/saas/zoom.md
  docs/admin/integration/saml.md
  docs/admin/recipes/casa.md
  docs/admin/vm-ops/running-setup.md
  mkdocs.yml
Labels: area-documentation

#2740 docs: minor edits to install docs
  docs/admin/install/vm-install/rhel.md
  docs/admin/install/vm-install/suse.md
  docs/admin/install/vm-install/ubuntu.md
Labels: area-documentation

#2741 docs: fix syntax issue in mkdocs config file
  mkdocs.yml
Labels: area-documentation

#2746 docs: Removed incorrect index.md reference
  mkdocs.yml
Labels: area-documentation

#2711 feat(jans-auth-server): Draft support of OpenID Connect Native SSO
  jans-auth-server/client/src/main/java/io/jans/as/client/AuthorizationResponse.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/session/SessionId.java
  jans-auth-server/model/src/main/java/io/jans/as/model/authorize/AuthorizeResponseParam.java
  jans-auth-server/model/src/main/java/io/jans/as/model/common/GrantType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/common/ScopeConstants.java
  jans-auth-server/model/src/main/java/io/jans/as/model/config/Constants.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequestService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrantList.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrantType.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/IAuthorizationGrantList.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/TokenExchangeGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/HandleTokenFactory.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/IdTokenFactory.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenCreatorService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenExchangeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthzRequestServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TokenExchangeServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidatorTest.java
  jans-auth-server/server/src/test/resources/testng.xml
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/static/rdbm/mysql_index.json
  jans-linux-setup/jans_setup/static/rdbm/pgsql_index.json
  jans-linux-setup/jans_setup/static/rdbm/spanner_index.json
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#2760 chore(Dockerfiles): updated janspycloud build in cn-scopes
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#2749 feat: jans-linux-setup load agama test data
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/templates/test/agama/agama-test-data.ldif
  jans-linux-setup/jans_setup/templates/test/agama/config-agama-test.properties
Labels: kind-feature, comp-jans-linux-setup, comp-agama

#2763 fix(jans-auth-server): npe - regression in token endpoint
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenExchangeService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TokenExchangeServiceTest.java
Labels: kind-bug, comp-jans-auth-server

#2766 feat(jans-linux-setup): added device_sso scope
  jans-linux-setup/jans_setup/templates/scopes.ldif
Labels: kind-enhancement, comp-jans-linux-setup

#2771 docs: Demo merge : Customizations
  docs/admin/planning/customization.md
Labels: area-documentation

#2772 chore(agama): add test cases for agama engine
  agama/engine/src/test/java/io/jans/agama/test/BaseTest.java
  agama/engine/src/test/java/io/jans/agama/test/MathFlowTest.java
  agama/engine/src/test/java/io/jans/agama/test/UidOnlyAuthTest.java
  agama/engine/src/test/resources/testng.xml
  agama/transpiler/src/test/resources/pass/triggers_calls.txt
Labels: kind-dependencies, comp-agama

#2779 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#2781 chore(jans-scim): log4j-plugin-fluency reports vulnerability
  jans-scim/server/pom.xml
Labels: kind-dependencies, area-CI, comp-jans-scim

#2788 feat(image): add token-exchange and device secret
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
Labels: comp-docker-jans-persistence-loader, kind-feature

#2791 fix(jans-auth-server): native sso - return device secret if device_sso scope is present #2790
  jans-auth-server/client/src/main/java/io/jans/as/client/TokenResponse.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/Asserter.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/JwtAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/TokenResponseAssertBuilder.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/IdTokenFactory.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenExchangeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TokenExchangeServiceTest.java
Labels: kind-bug, comp-jans-auth-server
