Repository JanssenProject/jans, pull requests merged in 2022-09, with the labels that each got.

#2274 fix: jans-linux-setup lowercase admin user status
  jans-linux-setup/jans_setup/templates/jans-auth/people.ldif
Labels: kind-bug, comp-jans-linux-setup

#2276 fix: jans-linux-setup Config API installation status
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
Labels: kind-bug, comp-jans-linux-setup

#2152 FIX / fixed extra encoding issue during authz
  jans-auth-server/client/src/main/java/io/jans/as/client/AuthorizationResponse.java
  jans-auth-server/client/src/main/java/io/jans/as/client/EndSessionClient.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/QueryStringDecoder.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/QueryStringDecoderTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/RedirectionUriService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/util/QueryStringDecoder.java
  jans-auth-server/server/src/test/java/io/jans/as/server/model/uma/TTokenRequest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/AuthorizationCodeFlowEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/AuthorizeRestWebServiceEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/AuthorizeWithResponseModeEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/ClientAuthenticationFilterEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/ClientInfoRestWebServiceEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/EndSessionBackchannelRestServerTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/EndSessionRestWebServiceEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/OpenIDRequestObjectEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/OpenIDRequestObjectWithESAlgEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/OpenIDRequestObjectWithHSAlgEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/OpenIDRequestObjectWithRSAlgEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/RequestObjectSigningAlgRestrictionEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/ResponseTypesRestrictionEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/SectorIdentifierUrlVerificationEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/TokenEndpointAuthMethodRestrictionEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/UserAuthenticationFilterEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/UserInfoRestWebServiceEmbeddedTest.java
Labels: comp-jans-auth-server

#2232 "feat(jans-config-api): pagination functionality for attribute endoint
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/profiles/default/config-api-test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AttributesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigBaseResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ScopesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/UmaResourcesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AttributeService.java
Labels: comp-jans-config-api, kind-feature

#2293 fix: jans-linux-setup config api prompt
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#2283 docs: add README files to all parent sections
  docs/admin/auth-server/README.md
  docs/admin/auth-server/client-management/README.md
  docs/admin/auth-server/client-management/configuration/README.md
  docs/admin/auth-server/client-management/index.md
  docs/admin/auth-server/configuration/README.md
  docs/admin/auth-server/crypto/README.md
  docs/admin/auth-server/endpoints/README.md
  docs/admin/auth-server/international/README.md
  docs/admin/auth-server/logging/README.md
  docs/admin/auth-server/oauth-features/README.md
  docs/admin/auth-server/openid-features/README.md
  docs/admin/auth-server/openid-features/consent/README.md
  docs/admin/auth-server/openid-features/consent/index.md
  docs/admin/auth-server/openid-features/logout/README.md
  docs/admin/auth-server/openid-features/user-claims/README.md
  docs/admin/auth-server/reporting-metrics/README.md
  docs/admin/auth-server/session-management/README.md
  docs/admin/auth-server/tokens/README.md
  docs/admin/auth-server/uma-features/README.md
  docs/admin/auth-server/uma-features/index.md
  docs/admin/client-api/README.md
  docs/admin/config-api/README.md
  docs/admin/deployment/README.md
  docs/admin/developer/README.md
  docs/admin/developer/agama/README.md
  docs/admin/developer/customization/README.md
  docs/admin/developer/scripts/README.md
  docs/admin/eleven/README.md
  docs/admin/eleven/index.md
  docs/admin/fido/README.md
  docs/admin/install/README.md
  docs/admin/install/helm-install/README.md
  docs/admin/install/vm-install/README.md
  docs/admin/integration/README.md
  docs/admin/integration/apps/README.md
  docs/admin/integration/saas/README.md
  docs/admin/kubernetes-ops/README.md
  docs/admin/recipes/README.md
  docs/admin/recipes/api-access-control/README.md
  docs/admin/recipes/apps/README.md
  docs/admin/recipes/custom-web-development/README.md
  docs/admin/recipes/forgot-password/README.md
  docs/admin/recipes/open-banking/README.md
  docs/admin/recipes/saas/README.md
  docs/admin/recipes/saml/README.md
  docs/admin/reference/README.md
  docs/admin/reference/database/README.md
  docs/admin/reference/json/README.md
  docs/admin/reference/kubernetes/README.md
  docs/admin/scim/README.md
  docs/admin/upgrade/README.md
  docs/admin/upgrade/kubernetes/README.md
  docs/admin/upgrade/vm/README.md
  docs/admin/vm-ops/README.md
  docs/script-catalog/dynamic_scope/README.md
  docs/script-catalog/resource_owner_password_credentials/README.md
  docs/script-catalog/uma_rpt_policy/README.md
  mkdocs.yml
Labels: area-documentation, comp-agama

#2299 feat(jans-auth-server): extended client schema - added jansClientGroup #1824
  jans-auth-server/client/src/main/java/io/jans/as/client/RegisterRequest.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/registration/Client.java
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/register/RegisterRequestParam.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: comp-jans-auth-server, kind-feature

#2315 fix: jans-cli displayName for OpenID Clients with MySQL backend
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli

#2319 feat(jans-auth-server): renamed "enabledComponents" conf property -> "featureFlags" #2290
  jans-auth-server/model/src/main/java/io/jans/as/model/common/FeatureFlagType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/error/ErrorResponseFactory.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/DeviceAuthorizationRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/bcauthorize/ws/rs/BackchannelAuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/bcauthorize/ws/rs/BackchannelDeviceRegistrationRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/clientinfo/ws/rs/ClientInfoRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/jans/ws/rs/JansConfigurationWS.java
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterCreateAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterDeleteAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterReadAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterUpdateAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/revoke/RevokeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/revoke/RevokeSessionRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/MetricService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/stat/StatService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/stat/StatTimer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/CheckSessionStatusRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/SessionRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/ws/rs/UmaGatheringWS.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/ws/rs/UmaMetadataWS.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/ws/rs/UmaPermissionRegistrationWS.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/ws/rs/UmaResourceRegistrationWS.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/ws/rs/UmaRptIntrospectionWS.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/ws/rs/UmaScopeIconWS.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/ws/rs/UmaScopeWS.java
  jans-auth-server/server/src/main/java/io/jans/as/server/userinfo/ws/rs/UserInfoRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ws/rs/controller/HealthCheckController.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ws/rs/stat/StatWS.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: kind-enhancement, comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-jans-linux-setup

#2318 fix: jans-linux-setup config-api scope type oauth
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
Labels: kind-bug, comp-jans-linux-setup

#2321 fix: jans-cli tabulate attrbiutes
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli

#2324 fix(jans-linux-setup): review columns size for Agama tables
  docs/admin/developer/agama/dsl-full.md
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-bug, area-documentation, comp-jans-linux-setup, comp-agama

#2328 chore(jans-auth-server): avoid redirect exception logging on every authn #2287
  jans-auth-server/server/src/main/java/io/jans/as/server/exception/GlobalExceptionHandler.java
Labels: kind-enhancement, kind-dependencies, comp-jans-auth-server

#2330 fix: jans-linux-setup install cb via apt for dependencies
  jans-linux-setup/jans_setup/setup_app/installers/couchbase.py
Labels: kind-bug, comp-jans-linux-setup

#2333 docs(agama): add limitation of call directive
  docs/admin/developer/agama/dsl-full.md
Labels: area-documentation, comp-agama

#2334 fix: jans-cli user patch
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli, comp-jans-linux-setup

#2337 fix: docs jans-cli
  docs/admin/config-guide/jans-cli/cli-attribute.md
Labels: area-documentation

#2347 docs(config-api): auto generation of swagger spec
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/plugins/admin-ui-plugin/pom.xml
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/ApiApplication.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/auth/OAuth2Resource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/license/LicenseResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/user/UserManagementResource.java
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
  jans-config-api/plugins/docs/scim-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/fido2-plugin/pom.xml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/ApiApplication.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/Fido2ConfigResource.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/Fido2RegistrationResource.java
  jans-config-api/plugins/scim-plugin/pom.xml
  jans-config-api/plugins/scim-plugin/src/main/java/io/jans/configapi/plugin/scim/rest/ApiApplication.java
  jans-config-api/plugins/scim-plugin/src/main/java/io/jans/configapi/plugin/scim/rest/ScimConfigResource.java
  jans-config-api/plugins/user-mgt-plugin/pom.xml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/ApiApplication.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/health/ApiHealthCheck.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AcrsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AttributesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CacheConfigurationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigSmtpResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CouchbaseConfigurationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/HealthCheckResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/JwksResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/LdapConfigurationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/LoggingResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/OrganizationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ScopesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/SessionResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/SqlConfigurationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/StatResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/UmaResourcesResource.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/model/HealthStatus.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/model/PatchRequest.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/model/Status.java
Labels: area-documentation, comp-jans-config-api

#2343 chore(scim): move configuration to `model` module
  docs/developer/implementation-design/jans-scim.md
  jans-scim/model/src/main/java/io/jans/scim/model/conf/AppConfiguration.java
  jans-scim/model/src/main/java/io/jans/scim/model/conf/Conf.java
  jans-scim/model/src/main/java/io/jans/scim/model/conf/Configuration.java
  jans-scim/model/src/main/java/io/jans/scim/model/conf/ScimMode.java
  jans-scim/service/pom.xml
  jans-scim/service/src/main/java/io/jans/scim/model/conf/ScimMode.java
  jans-scim/service/src/main/java/io/jans/scim/service/ConfigurationFactory.java
Labels: kind-dependencies, area-CI, area-documentation, comp-jans-scim

#2348 fix(config-api): swagger spec changes for session, properties endpoint and ignoring customobject for non LDAP DB
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/scim-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/scim-plugin/src/main/java/io/jans/configapi/plugin/scim/model/config/ScimAppConfiguration.java
  jans-config-api/plugins/scim-plugin/src/main/java/io/jans/configapi/plugin/scim/model/config/ScimConf.java
  jans-config-api/plugins/scim-plugin/src/main/java/io/jans/configapi/plugin/scim/rest/ScimConfigResource.java
  jans-config-api/plugins/scim-plugin/src/main/java/io/jans/configapi/plugin/scim/service/ScimConfigService.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/profiles/local/test.properties
Labels: kind-bug, comp-jans-config-api

#2352 fix: jans-cli access token expiration
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli

#2362 feat(jans-auth-server): allow authentication for max_age=0 #2361
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidatorTest.java
  jans-auth-server/server/src/test/resources/testng.xml
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature

#2365 fix: incorrect contents #817
  docs/admin/recipes/passwordless.md
Labels: kind-bug, area-documentation

#2380 Docs admin landing page
  docs/admin/README.md
  docs/admin/index.md
  mkdocs.yml
Labels: area-documentation

#2323 feat(docker-jans-monolith): add docker jans monolith
  .github/workflows/docker_build_image.yml
  .github/workflows/docker_imagescan.yml
  .github/workflows/release.yaml
  automation/startjanssenmonolithdemo.sh
  charts/janssen/Chart.yaml
  docker-jans-monolith/.gitignore
  docker-jans-monolith/.hadolint.yaml
  docker-jans-monolith/Dockerfile
  docker-jans-monolith/LICENSE
  docker-jans-monolith/Makefile
  docker-jans-monolith/README.md
  docker-jans-monolith/mysql-docker-compose.yml
  docker-jans-monolith/requirements.txt
  docker-jans-monolith/scripts/entrypoint.sh
  docker-jans-monolith/version.txt
Labels: area-CI, area-documentation, kind-feature, comp-charts-jans

#2390 feat: admin-ui apis refactoring #2388
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/logging/AuditLoggerResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/user/UserManagementResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/user/UserManagementService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
Labels: comp-jans-config-api, kind-feature

#2391 chore(jans-auth-server): rename runIntrospectionScriptBeforeAccessTokenAsJwtCreationAndIncludeClaims to runIntrospectionScriptBeforeJwtCreation #2387
  docker-jans-persistence-loader/templates/jans-config-api/clients.ldif
  docker-jans-persistence-loader/templates/jans-config-api/clients.ob.ldif
  docs/admin/config-guide/jans-cli/cli-openid-connect-client-configuration.md
  docs/admin/config-guide/jans-cli/im/im-openid-connect-clients.md
  docs/admin/recipes/custom-web-development/authn-with-apache-reverse-proxy.md
  docs/script-catalog/client_registration/OpenBanking/Registration.py
  docs/script-catalog/client_registration/OpenBanking/client-registration.md
  jans-auth-server/client/src/main/java/io/jans/as/client/RegisterRequest.java
  jans-auth-server/model/src/main/java/io/jans/as/model/register/RegisterRequestParam.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/ClientAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/test/resources/feature/openid/clients/client.json
  jans-config-api/server/src/test/resources/feature/openid/clients/openid-client.json
  jans-config-api/server/src/test/resources/feature/openid/clients/openid_clients_create.json
  jans-linux-setup/jans_setup/openbanking/static/extension/client_registration/Registration.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/templates/jans-cli/client.ldif
Labels: kind-enhancement, comp-jans-auth-server

#2393 chore(jans-auth-server): remove "rev" attribute from UmaResource as redundant #2392
  jans-auth-server/model/src/main/java/io/jans/as/model/uma/persistence/UmaResource.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/ws/rs/UmaResourceRegistrationWS.java
Labels: kind-enhancement, comp-jans-auth-server

#2397 feat(jans-config-api): pagination functionality for endpoints and swagger spec rectification
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/scim-plugin/src/main/assembly/assembly.xml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/plugins/user-mgt-plugin/src/test/resources/feature/mgt/user/user.feature
  jans-config-api/profiles/default/config-api-test.properties
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/health/ApiHealthCheck.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AttributesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/JwksResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/LoggingResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ScopesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/UmaResourcesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaFlowService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AttributeService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ClientService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ScopeService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/UmaResourceService.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/server/src/test/resources/feature/attribute/attributes.feature
  jans-config-api/server/src/test/resources/feature/config/scripts/custom/generic/custom.feature
  jans-config-api/server/src/test/resources/feature/config/scripts/custom/persons/person-scripts.feature
  jans-config-api/server/src/test/resources/feature/openid/clients/clients.feature
  jans-config-api/server/src/test/resources/feature/openid/scopes/scopes.feature
  jans-config-api/server/src/test/resources/feature/uma/scopes/umascopes.feature
  jans-core/script/src/main/java/io/jans/service/custom/script/AbstractCustomScriptService.java
  jans-core/service/src/main/java/io/jans/service/custom/CustomScriptService.java
Labels: comp-jans-config-api, comp-jans-core, kind-feature

#2394 fix: Jans cli SCIM fixes
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli

#2403 feat(jans-auth-server): add access_token_singing_alg_values_supported to discovery #2372
  jans-auth-server/client/src/main/java/io/jans/as/client/OpenIdConfigurationClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/OpenIdConfigurationResponse.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/ConfigurationResponseClaim.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/Util.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/UtilTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/registration/RegisterParamsValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterCreateAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/FapiOpenIdConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
  jans-auth-server/server/src/test/java/io/jans/as/server/model/registration/RegisterParamsValidatorTest.java
  jans-auth-server/server/src/test/resources/testng.xml
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: comp-jans-auth-server, kind-feature

#2407 fix(jans-scim): X509 cert not set after successful POST request
  docs/admin/config-guide/scim-cli.md
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/Scim2UserService.java
Labels: kind-bug, area-CI, area-documentation, comp-jans-scim

#2409 feat: jans-linux-setup postgresql support
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/static.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/setup_utils.py
  jans-linux-setup/jans_setup/static/rdbm/ldap_sql_data_type_mapping.json
  jans-linux-setup/jans_setup/static/rdbm/pgsql_index.json
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
  jans-linux-setup/jans_setup/templates/jans-mysql.properties
  jans-linux-setup/jans_setup/templates/jans-pgsql.properties
  jans-orm/core/src/main/java/io/jans/orm/impl/BaseEntryManager.java
  jans-orm/couchbase/src/main/java/io/jans/orm/couchbase/operation/impl/CouchbaseOperationServiceImpl.java
  jans-orm/spanner/src/main/java/io/jans/orm/cloud/spanner/impl/SpannerFilterConverter.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/dsl/template/MySQLJsonTemplates.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/dsl/template/PostgreSQLJsonTemplates.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/dsl/types/PostgreSQLJsonType.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlEntryManager.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlFilterConverter.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlOps.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/model/JsonString.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/SqlOperationService.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/SupportedDbType.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlConnectionProvider.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlOperationServiceImpl.java
  jans-orm/sql/src/test/java/io/jans/orm/sql/impl/test/SqlFilterConverterCheckExcludeFilterTest.java
  jans-orm/sql/src/test/java/io/jans/orm/sql/impl/test/SqlFilterConverterTest.java
Labels: kind-enhancement, comp-jans-orm, kind-feature, comp-jans-linux-setup

#2413 feat: jans-linux-setup option reset-rdbm-db
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-enhancement, kind-feature, comp-jans-linux-setup

#2415 fix: update authn schemes in yaml descriptor #2414
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/UserWebService.java
  jans-scim/server/src/main/resources/jans-scim-openapi.yaml
  jans-scim/server/src/main/resources/jans-scim-swagger.yaml
Labels: kind-bug, comp-jans-scim

#2417 feat(agama): add utility classes for inbound identity
  agama/inboundID/src/main/java/io/jans/inbound/JwtUtil.java
  agama/inboundID/src/main/java/io/jans/inbound/oauth2/CodeGrantUtil.java
  docs/admin/developer/agama/faq.md
  docs/admin/developer/agama/lifecycle.md
  docs/admin/developer/agama/otp-email/io.jans.flow.sample.otp.email
  docs/script-catalog/agama/inboundID/io.jans.inbound.ExternalSiteLogin
Labels: area-documentation, kind-feature, comp-agama

#2420 fix(jans-scim): improper handling response of get user operation
  docs/developer/implementation-design/jans-scim.md
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/ScimResourcesUpdatedWebService.java
Labels: kind-bug, area-CI, comp-jans-scim

#2423 fix: jans-linux-setup python3-psycopg2
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
Labels: kind-bug, comp-jans-linux-setup

#2427 fix: jans-linus-setup typo
  jans-linux-setup/jans_setup/install.py
Labels: kind-bug, comp-jans-linux-setup

#2424 docs(jans-cli): fix broken link
  jans-cli/README.md
Labels: kind-bug, area-documentation, comp-jans-cli

#2431 feat(jans-auth-server): allow end session with expired id_token_hint(by checking signature and sid) #2430
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImpl.java
  jans-auth-server/server/src/test/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImplTest.java
  jans-auth-server/server/src/test/resources/testng.xml
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/test/resources/feature/config/properties/openid/config/config.json
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature

#2432 docs(config-api): default value for Client attribute applicationType set
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: area-documentation, comp-jans-config-api

#2436 fix(image): handle vulnerabilities reported by artifacthub scanner
  docker-jans-auth-server/Dockerfile
  docker-jans-client-api/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-scim/Dockerfile
  jans-pycloudlib/setup.py
Labels: kind-bug, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, comp-jans-pycloudlib

#2442 feat: jans-linux-setup set_class_path()
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
Labels: kind-enhancement, kind-feature, comp-jans-linux-setup

#2445 chore(images): sync templates and static manifests
  docker-jans-auth-server/Dockerfile
  docker-jans-client-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-fido2, comp-docker-jans-scim

#2443 fix(config-api): fix for acr error handling and spec enhancement for example
  jans-config-api/common/src/main/java/io/jans/configapi/rest/model/AuthenticationMethod.java
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AcrsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigResource.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/model/PersistenceConfiguration.java
Labels: kind-bug, comp-jans-config-api

#2440 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#2447 test(jans-auth-server): disable application type restriction embedded test
  jans-auth-server/server/src/test/resources/testng.xml
Labels: comp-jans-auth-server

#2459 fix: jans-config-api parameter month is not mandatory for endpoint /stat
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, comp-jans-config-api

#1637 fix(forgot_password): update script according to jans specs
  jans-linux-setup/jans_setup/static/extension/person_authentication/other/forgot_password/forgot_password.py
Labels: kind-bug, comp-jans-linux-setup

#2450 feat: jans-linux-setup delete_dn()
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/scim.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
Labels: kind-feature, comp-jans-linux-setup

#2477 Jans linux setup utils
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
  jans-linux-setup/jans_setup/setup_app/utils/crypto64.py
Labels: kind-enhancement, comp-jans-linux-setup

#2480 fix(config-api): removing CB and MySqlDB endpoints and swagger fixes
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CouchbaseConfigurationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/SqlConfigurationResource.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/server/src/test/resources/feature/config/database/couchbase/couchbase.feature
  jans-config-api/server/src/test/resources/feature/config/database/couchbase/couchbase.json
  jans-config-api/server/src/test/resources/feature/config/database/couchbase/couchbase_delete.json
Labels: kind-bug, comp-jans-config-api

#2404 Refresh links and sections in Jans README
  README.md
  docs/developer/README.md
  docs/governance/README.md
Labels: area-documentation

#2481 chore(jans-scim): sync wrt latest changes in gluu-scim
  jans-scim/client/src/test/java/io/jans/scim2/client/search/ComplexSearchUserTest.java
  jans-scim/client/src/test/java/io/jans/scim2/client/singleresource/FullUserTest.java
  jans-scim/model/src/main/java/io/jans/scim/model/scim2/user/UserResource.java
Labels: kind-dependencies, area-CI, comp-jans-scim

#2485 fix: moved to script-catalog
  jans-linux-setup/jans_setup/static/extension/person_authentication/DuoExternalAuthenticator.py
Labels: kind-bug, comp-jans-linux-setup

#2429 fix: jans-cli fixes
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli

#2488 fix: jans-linux-setup scan docs/script-catalog for custom scripts
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/crypto64.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#2490 docs: fix container name in quick start
  docker-jans-monolith/README.md
Labels: area-documentation

#2491 feat(config-api): multiple pattern search in attribute api
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ScopesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AttributeService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ScopeService.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/model/SearchRequest.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/util/Util.java
Labels: comp-jans-config-api, kind-feature

#2494 fix: select first sig key if none requested
  jans-auth-server/client/src/main/java/io/jans/as/client/uma/wrapper/UmaClient.java
Labels: kind-bug, comp-jans-auth-server

#2495 FEAT / SSA creation endpoint
  jans-auth-server/client/src/main/java/io/jans/as/client/BaseClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/BaseRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/OpenIdConfigurationClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/OpenIdConfigurationResponse.java
  jans-auth-server/client/src/main/java/io/jans/as/client/SsaClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/SsaRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/SsaResponse.java
  jans-auth-server/client/src/main/java/io/jans/as/client/util/ClientUtil.java
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/AssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/SsaResponseAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/SsaRestWebServiceHttpTest.java
  jans-auth-server/client/src/test/resources/testng.xml
  jans-auth-server/common/src/main/java/io/jans/as/common/model/ssa/Ssa.java
  jans-auth-server/model/src/main/java/io/jans/as/model/common/FeatureFlagType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/config/BaseDnConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/ConfigurationResponseClaim.java
  jans-auth-server/model/src/main/java/io/jans/as/model/error/ErrorMessages.java
  jans-auth-server/model/src/main/java/io/jans/as/model/error/ErrorResponseFactory.java
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaErrorResponseType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaRequestParam.java
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaScopeType.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/AuthenticationFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/audit/Action.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ResteasyInitializer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ModifySsaResponseService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/ModifySsaResponseContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaContextBuilder.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaJsonServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceImplTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceValidatorTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateActionTest.java
  jans-core/script/src/main/java/io/jans/model/custom/script/CustomScriptType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/ssa/DummyModifySsaResponseType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/ssa/ModifySsaResponseType.java
Labels: comp-jans-auth-server, comp-jans-core

#2498 fix(jans-auth-server): npe in discovery if SSA endpoint is absent #2497
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
  jans-linux-setup/jans_setup/openbanking/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: kind-bug, comp-jans-auth-server

#2499 Add remote connection section
  jans-cli/README.md
Labels: area-documentation, comp-jans-cli

#2502 fix(jans-auth-server): perform redirect_uri validation if FAPI flag is true #2500
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequestService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/RedirectionUriService.java
Labels: kind-bug, comp-jans-auth-server

#2505 fix(orm): length check added before accessing CustomObjectAttribute values
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-orm/model/src/main/java/io/jans/orm/model/base/CustomObjectAttribute.java
Labels: kind-bug, comp-jans-config-api, comp-jans-orm

#2507 fix: jans-linux-setup upgrade to MDS3 in fido2
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
Labels: kind-bug, comp-jans-linux-setup

#2510 chore(jans): client should use CustomObjectAttribute instead of CustomAttribute #2483
  jans-auth-server/common/src/main/java/io/jans/as/common/model/registration/Client.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ClientService.java
Labels: kind-enhancement, comp-jans-auth-server

#2511 fix: correct yml file name in clean-up command
  docker-jans-monolith/README.md
Labels: kind-bug, area-documentation

#2513 fix(config-api): rectified sortBy field for Agama resource
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/test/resources/feature/openid/clients/client.json
Labels: kind-bug, comp-jans-config-api

#2514 jans-cli CentOS Stream 8 build instruction
  jans-cli/README.md
Labels: area-documentation, comp-jans-cli
