Repository JanssenProject/jans, pull requests merged in 2022-08, with the labels that each got.

#1962 ci: use gh pr view
  .github/workflows/central_code_quality_check.yml
  .github/workflows/docker_build_image.yml
  .github/workflows/docs.yml
Labels: area-CI

#1965 fix(jans-config-api): rectified endpoint url in swagger spec for uma resource
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, comp-jans-config-api

#1974 chore(agama): grammar cleaning
  agama/engine/src/main/java/io/jans/agama/engine/model/FlowStatus.java
  agama/engine/src/main/java/io/jans/agama/engine/script/ScriptUtils.java
  agama/engine/src/main/java/io/jans/agama/engine/service/FlowService.java
  agama/transpiler/src/main/antlr4/io/jans/agama/antlr/AuthnFlow.g4
  agama/transpiler/src/main/resources/JSGenerator.ftl
  agama/transpiler/src/main/resources/util.js
  docs/admin/developer/agama/faq.md
  docs/admin/developer/agama/flows-lifecycle.md
  docs/admin/developer/agama/hello-world-closer.md
  docs/admin/developer/agama/otp-email-registration/login.ftlh
Labels: kind-dependencies, area-documentation, comp-agama

#1981 Remove apns #1978 and use right jython #1980
  jans-auth-server/server/pom.xml
  jans-bom/pom.xml
  jans-config-api/server/pom.xml
  jans-core/script/pom.xml
  jans-scim/service/pom.xml
Labels: comp-jans-auth-server, comp-jans-config-api, comp-jans-core, comp-jans-scim, comp-jans-bom

#1987 fix: jans-linux-setup add mod_rewrite to httpd_2.4.conf
  jans-linux-setup/jans_setup/templates/apache/httpd_2.4.conf
Labels: kind-bug, comp-jans-linux-setup

#1998 refactor(jans-auth-server): extracted into separate method each grant handling #1591
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidatorTest.java
Labels: kind-enhancement, comp-jans-auth-server

#2005 chore(Dockerfiles): updated janspycloud build in cn-pycloudlib-fix
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#2004 fix(pycloudlib): handle type mismatch for iterable
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
  jans-pycloudlib/jans/pycloudlib/pki.py
  jans-pycloudlib/tests/test_pki.py
Labels: kind-bug, comp-jans-pycloudlib

#2008 chore(agama): remove usage of classes in com.sun package
  agama/engine/src/main/java/io/jans/agama/engine/service/FlowService.java
  docs/admin/developer/agama/engine-config.md
Labels: kind-dependencies, comp-agama

#2009 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#2015 feat(jans-config-api): enhancement to agama and uma resource endpoint
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaFlowService.java
  jans-config-api/server/src/test/resources/feature/agama/agama.feature
Labels: comp-jans-config-api, kind-feature, comp-agama

#2000 docs: add tabs to mkdocs site
  docs/admin/install/index.md
  docs/developer/development.md
  docs/mkdocs.yml
  mkdocs.yml
Labels: area-documentation

#2021 docs: move testing procedure file
  docs/developer/testing.md
  mkdocs.yml
Labels: area-documentation

#2023 feat(jans-auth-server): added creator info to scope (time/id/type) #1934
  jans-auth-server/model/src/main/java/io/jans/as/model/common/CreatorType.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/Scope.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/ScopeAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SpontaneousScopeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/service/UmaPermissionService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/service/UmaScopeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/service/UmaValidationService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/ws/rs/UmaResourceRegistrationWS.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#2025 chore(agama): use Cache-Control instead of Expires header
  agama/model/src/main/java/io/jans/agama/model/EngineConfig.java
  docs/admin/developer/agama/test
  jans-auth-server/server/conf/jans-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: kind-dependencies, comp-jans-auth-server, comp-jans-linux-setup, comp-agama

#2028 Jans config api fixes
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/util/DataUtil.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/util/Jackson.java
Labels: comp-jans-config-api

#2017 feat(jans-auth-server):get up tests updating arquillian and jetty-embedded issue 1247
  jans-auth-server/pom.xml
  jans-auth-server/server/conf/jans-sql.properties
  jans-auth-server/server/conf/jans.properties
  jans-auth-server/server/pom.xml
  jans-auth-server/server/profiles/default/config-oxauth-sql.properties
  jans-auth-server/server/profiles/default/config-oxauth.properties
  jans-auth-server/server/src/main/java/io/jans/as/server/model/config/ConfigurationFactory.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-auth-server/server/src/test/java/io/jans/as/server/BaseComponentTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/BaseTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ConfigurableTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/CleanUpClientTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/CleanerTimerTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/ConfigurationTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/CryptoProviderTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/GrantServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/InumGeneratorTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/KeyGenerationTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/SessionIdServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/jans/ws/rs/GluuConfigurationWSTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/model/TClientService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/TestResteasyInitializer.java
  jans-auth-server/server/src/test/java/io/jans/as/server/uma/ws/rs/AccessProtectedResourceFlowWSTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/uma/ws/rs/ObtainPatWSTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/uma/ws/rs/RegisterPermissionWSTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/uma/ws/rs/UmaConfigurationWSTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/uma/ws/rs/UmaRegisterResourceWSTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/uma/ws/rs/UmaScopeWSTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/util/Deployments.java
  jans-auth-server/server/src/test/java/io/jans/as/server/util/TestUtil.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/ApplicationTypeRestrictionEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/AuthorizationCodeFlowEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/AuthorizeRestWebServiceEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/AuthorizeWithResponseModeEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/ClientAuthenticationFilterEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/ClientInfoRestWebServiceEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/EndSessionBackchannelRestServerTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/EndSessionRestWebServiceEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/IntrospectionWebServiceEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/JwkRestWebServiceEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/OpenIDRequestObjectEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/OpenIDRequestObjectWithESAlgEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/OpenIDRequestObjectWithHSAlgEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/OpenIDRequestObjectWithRSAlgEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/RegistrationRestWebServiceEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/RequestObjectSigningAlgRestrictionEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/ResponseTypesRestrictionEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/SectorIdentifierUrlVerificationEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/TokenEndpointAuthMethodRestrictionEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/TokenRestWebServiceEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/TokenRestWebServiceWithESAlgEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/TokenRestWebServiceWithHSAlgEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/TokenRestWebServiceWithRSAlgEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/UserAuthenticationFilterEmbeddedTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/UserInfoRestWebServiceEmbeddedTest.java
  jans-auth-server/server/src/test/resources/arquillian.xml
  jans-auth-server/server/src/test/resources/testng.properties
  jans-auth-server/server/src/test/resources/testng.xml
  jans-auth-server/server/src/test/resources/web.xml
Labels: comp-jans-auth-server, kind-feature

#2029 feat(docker-jans-fido2): allow creating initial persistence entry
  docker-jans-configurator/scripts/bootstrap.py
  docker-jans-configurator/scripts/parameter.py
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-persistence-loader/scripts/utils.py
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-configurator, comp-docker-jans-fido2, kind-feature

#2040 refactor(pycloudlib): mypy throws errors after fresh install
  jans-pycloudlib/jans/pycloudlib/config/consul_config.py
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
  jans-pycloudlib/jans/pycloudlib/secret/vault_secret.py
  jans-pycloudlib/jans/pycloudlib/utils.py
  jans-pycloudlib/requirements-dev.txt
  jans-pycloudlib/requirements.txt
  jans-pycloudlib/setup.py
Labels: kind-enhancement, comp-jans-pycloudlib

#2043 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#2035 feat(docker-jans-scim): allow creating initial persistence entry
  docker-jans-configurator/scripts/bootstrap.py
  docker-jans-configurator/scripts/parameter.py
  docker-jans-persistence-loader/scripts/utils.py
  docker-jans-scim/.dockerignore
  docker-jans-scim/Dockerfile
  docker-jans-scim/scripts/bootstrap.py
  docker-jans-scim/templates/jans-scim/clients.ldif
  docker-jans-scim/templates/jans-scim/scopes.ldif
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-configurator, comp-docker-jans-scim, area-CI, comp-jans-scim, kind-feature

#2046 fixes(jans-config-api): Fix to not update Metadata for PUT and PATCH agama endpoint
  jans-config-api/plugins/user-mgt-plugin/src/test/resources/feature/mgt/user/user.feature
  jans-config-api/plugins/user-mgt-plugin/src/test/resources/feature/mgt/user/user.json
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
Labels: kind-bug, comp-jans-config-api

#2050 docs: updated config to enable Mermaid charts
  mkdocs.yml
Labels: area-documentation

#2061 docs: #2060
  docs/admin/developer/interception-scripts.md
Labels: area-documentation

#2058 fix(jans-config-api): avoid loss of attributes in agama endpoints
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaFlowService.java
Labels: kind-bug, comp-jans-config-api

#2066 fix: jans-linux-setup humanize os name
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
Labels: kind-bug, comp-jans-linux-setup

#2082 refactor: handle code smells reported by bandit
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
  jans-pycloudlib/jans/pycloudlib/persistence/spanner.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
  jans-pycloudlib/jans/pycloudlib/utils.py
  jans-pycloudlib/tests/conftest.py
Labels: kind-enhancement, comp-jans-pycloudlib

#2088 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#2093 docs(agama): work on TODOs
  docs/admin/developer/agama/dsl.md
  docs/admin/developer/agama/faq.md
  docs/admin/developer/agama/lifecycle.md
  docs/admin/developer/agama/quick-start.md
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: area-documentation, comp-jans-config-api, comp-agama

#2096 feat: add inum claim in profile scope #2095
  jans-linux-setup/jans_setup/openbanking/templates/scopes.ldif
  jans-linux-setup/jans_setup/templates/scopes.ldif
Labels: kind-feature, comp-jans-linux-setup

#2098 feat(jans-config-api): new endpoint to fetch scope by creator and type
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ScopesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ScopeService.java
  jans-config-api/server/src/test/resources/feature/openid/scopes/scopes.feature
  jans-config-api/shared/src/main/java/io/jans/configapi/core/model/SearchRequest.java
Labels: comp-jans-config-api, kind-feature

#2100 chore(agama): grammar cleaning
  agama/engine/src/main/java/io/jans/agama/timer/Transpilation.java
  agama/transpiler/src/main/resources/JSGenerator.ftl
  docs/admin/developer/agama/quick-start.md
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
Labels: kind-dependencies, area-documentation, comp-jans-config-api, comp-agama

#2102 fix: random password for keystores
  jans-linux-setup/jans_setup/setup_app/installers/couchbase.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
Labels: kind-bug, comp-jans-linux-setup

#2078 DOC / Documentation about PROMPT NONE handling
  docs/admin/auth-server/openid-features/prompt-parameter.md
  docs/assets/prompt_none_1.png
  docs/assets/prompt_none_2.png
Labels: area-documentation, comp-jans-auth-server

#2108 Fix / Include idtoken with dynamic scopes for ciba
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
Labels: comp-jans-auth-server

#2110 Fix jans client api update seleniumhq version from 3.x to 4.x
  jans-client-api/common/pom.xml
  jans-client-api/common/src/test/java/io/jans/ca/common/SeleniumTestUtils.java
  jans-client-api/gen-client/pom.xml
  jans-client-api/pom.xml
  jans-client-api/server/pom.xml
  jans-client-api/server/src/main/java/io/jans/ca/server/mapper/RegisterRequestMapper.java
  jans-client-api/server/src/main/java/io/jans/ca/server/op/RegisterSiteOperation.java
  jans-client-api/server/src/main/java/io/jans/ca/server/op/UpdateSiteOperation.java
  jans-client-api/server/src/test/java/io/jans/ca/server/tests/RegisterRequestMapperTest.java
Labels: comp-jans-client-api

#2113 refactor(jans-auth-server): moved session bean classes to jans-auth-common to allow re-use by other modules #2112
  jans-auth-server/common/src/main/java/io/jans/as/common/model/session/SessionId.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/session/SessionIdAccessMap.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/session/SessionIdState.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/AuthenticationFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/Authenticator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/MTLSService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/SelectAccountAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/ConsentGathererService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/ConsentGatheringSessionService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/DeviceAuthorizationAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/LogoutAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/IdTokenFactory.java
  jans-auth-server/server/src/main/java/io/jans/as/server/revoke/RevokeSessionRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/security/Identity.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthenticationService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthorizeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/CleanerTimer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/CookieService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/DeviceAuthorizationService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/RedirectionUriService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/expiration/ExpirationNotificatorTimer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalApplicationSessionService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/ConsentGatheringContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/EndSessionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/ExternalPostAuthnContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/session/SessionEvent.java
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/CheckSessionStatusRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/SessionRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/authorization/UmaAuthorizationContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/authorization/UmaGatherContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/service/UmaGatherer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/service/UmaSessionService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/ws/rs/UmaGatheringWS.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/SessionIdServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/dev/CacheGrantManual.java
Labels: kind-enhancement, comp-jans-auth-server

#2116 chore: sync templates and schema from jans-linux-setup
  docker-jans-auth-server/Dockerfile
  docker-jans-client-api/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-persistence-loader/templates/jans-config-api/clients.ldif
  docker-jans-persistence-loader/templates/jans-config-api/clients.ob.ldif
  docker-jans-persistence-loader/templates/jans-config-api/dynamic-conf.json
  docker-jans-persistence-loader/templates/scripts.ob.ldif
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, comp-jans-config-api

#2118 feat: update Coucbase ORM to conform SDK 3.x (config updates) #1851
  jans-auth-server/server/conf/jans-couchbase.properties
  jans-linux-setup/jans_setup/templates/jans-couchbase.properties
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#2111 feat(jans-auth-server): added allowSpontaneousScopes AS JSON config #2074
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SpontaneousScopeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/service/UmaScopeService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/SpontaneousScopeServiceTest.java
  jans-auth-server/server/src/test/resources/testng.xml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-jans-linux-setup

#2138 fix(jans-orm): use iterator to correctly to remove OC attribute
  jans-orm/core/src/main/java/io/jans/orm/impl/BaseEntryManager.java
Labels: kind-bug, comp-jans-orm

#1959 docs(passport-js): social logins auth using passport-js
  docs/admin/assets/sequence-source-passport-js-auth-flow.txt
  docs/admin/assets/sequence-source-passport-js-data-flow.txt
  docs/admin/integration/passport-js.md
  docs/admin/recipes/passportjs.md
  docs/assets/image-pasport-js-auth-flow.png
  docs/assets/image-pasport-js-data-flow.png
  docs/assets/sample-code-passport-js.js
  docs/assets/sequence-source-passport-js-auth-flow.txt
  docs/assets/sequence-source-passport-js-data-flow.txt
  docs/script-catalog/person_authentication/passport/passport-social-jans-script.py
Labels: area-documentation

#2160 fix: jans-linux-setup debian11 installation
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
  jans-linux-setup/jans_setup/setup_app/utils/base.py
Labels: kind-bug, comp-jans-linux-setup

#2158 feat(jans-config-api): session management endpoint
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/SessionResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/client/AuthClientFactory.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/service/OpenIdService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/SessionService.java
  jans-config-api/server/src/main/java/io/jans/configapi/util/AuthUtil.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/server/src/test/resources/feature/agama/agama.feature
  jans-config-api/server/src/test/resources/feature/session/session.feature
  jans-config-api/server/src/test/resources/karate-config-jenkins.js
  jans-config-api/server/src/test/resources/karate-config.js
Labels: comp-jans-config-api, kind-feature, comp-agama

#2167 feat: disable TLS in CB client by default
  .gitignore
  jans-auth-server/server/conf/jans-couchbase.properties
  jans-linux-setup/jans_setup/templates/jans-couchbase.properties
  jans-orm/couchbase/src/main/java/io/jans/orm/couchbase/impl/CouchbaseEntryManagerFactory.java
Labels: comp-jans-auth-server, comp-jans-orm, kind-feature, comp-jans-linux-setup

#2164 docs(pycloudlib): migrate pycloudlib docs to mkdocstrings
  jans-pycloudlib/.gitignore
  jans-pycloudlib/README.md
  jans-pycloudlib/docs/.gitignore
  jans-pycloudlib/docs/Makefile
  jans-pycloudlib/docs/README.md
  jans-pycloudlib/docs/api/config.md
  jans-pycloudlib/docs/api/manager.md
  jans-pycloudlib/docs/api/meta.md
  jans-pycloudlib/docs/api/persistence/couchbase.md
  jans-pycloudlib/docs/api/persistence/hybrid.md
  jans-pycloudlib/docs/api/persistence/ldap.md
  jans-pycloudlib/docs/api/persistence/spanner.md
  jans-pycloudlib/docs/api/persistence/sql.md
  jans-pycloudlib/docs/api/persistence/utils.md
  jans-pycloudlib/docs/api/secret.md
  jans-pycloudlib/docs/api/utils.md
  jans-pycloudlib/docs/api/validators.md
  jans-pycloudlib/docs/api/wait.md
  jans-pycloudlib/docs/cli.rst
  jans-pycloudlib/docs/conf.py
  jans-pycloudlib/docs/config.rst
  jans-pycloudlib/docs/guides/cli.md
  jans-pycloudlib/docs/guides/container_app.md
  jans-pycloudlib/docs/guides/install.md
  jans-pycloudlib/docs/index.md
  jans-pycloudlib/docs/index.rst
  jans-pycloudlib/docs/make.bat
  jans-pycloudlib/docs/manager.rst
  jans-pycloudlib/docs/meta.rst
  jans-pycloudlib/docs/persistence.rst
  jans-pycloudlib/docs/quickstart.rst
  jans-pycloudlib/docs/secret.rst
  jans-pycloudlib/docs/utils.rst
  jans-pycloudlib/docs/validators.rst
  jans-pycloudlib/docs/wait.rst
  jans-pycloudlib/jans/pycloudlib/config/base_config.py
  jans-pycloudlib/jans/pycloudlib/config/consul_config.py
  jans-pycloudlib/jans/pycloudlib/config/google_config.py
  jans-pycloudlib/jans/pycloudlib/config/kubernetes_config.py
  jans-pycloudlib/jans/pycloudlib/manager.py
  jans-pycloudlib/jans/pycloudlib/meta/base_meta.py
  jans-pycloudlib/jans/pycloudlib/meta/docker_meta.py
  jans-pycloudlib/jans/pycloudlib/meta/kubernetes_meta.py
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
  jans-pycloudlib/jans/pycloudlib/persistence/hybrid.py
  jans-pycloudlib/jans/pycloudlib/persistence/ldap.py
  jans-pycloudlib/jans/pycloudlib/persistence/spanner.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
  jans-pycloudlib/jans/pycloudlib/persistence/utils.py
  jans-pycloudlib/jans/pycloudlib/pki.py
  jans-pycloudlib/jans/pycloudlib/secret/base_secret.py
  jans-pycloudlib/jans/pycloudlib/secret/google_secret.py
  jans-pycloudlib/jans/pycloudlib/secret/kubernetes_secret.py
  jans-pycloudlib/jans/pycloudlib/secret/vault_secret.py
  jans-pycloudlib/jans/pycloudlib/utils.py
  jans-pycloudlib/jans/pycloudlib/validators.py
  jans-pycloudlib/jans/pycloudlib/wait.py
  jans-pycloudlib/mkdocs.yml
  jans-pycloudlib/pyproject.toml
  jans-pycloudlib/requirements-dev.txt
Labels: area-documentation, comp-jans-pycloudlib

#2177 fix (jans-config-api) : incorrect request parameter added to scope apis (swagger specs) #2176
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, comp-jans-config-api

#2191 instructions for duo 2 step authn
  docs/admin/recipes/passwordless.md
  docs/admin/upgrade/vm/backup.md
  docs/assets/image-duo-integration-diagram.drawio
  docs/assets/image-duo-integration-diagram.png
  docs/script-catalog/person_authentication/duo-external-authenticator/README.md
Labels: kind-enhancement, area-documentation, effort-3, priority-4, triaged

#2188 fix(images): conform to new couchbase persistence configuration
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/conf/jans-couchbase.properties.tmpl
  docker-jans-client-api/Dockerfile
  docker-jans-client-api/conf/jans-couchbase.properties.tmpl
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/conf/jans-couchbase.properties.tmpl
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/conf/jans-couchbase.properties.tmpl
  docker-jans-scim/Dockerfile
  docker-jans-scim/conf/jans-couchbase.properties.tmpl
  jans-pycloudlib/Makefile
  jans-pycloudlib/README.md
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
  jans-pycloudlib/mkdocs.yml
  jans-pycloudlib/tests/test_persistence.py
Labels: kind-bug, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, comp-jans-pycloudlib

#2185 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#2196 bug(agama): changes in maxItemsLoggedInCollections not picked when using Log
  agama/engine/src/main/java/io/jans/agama/engine/script/LogUtils.java
  agama/engine/src/main/java/io/jans/agama/engine/service/ActionService.java
  agama/engine/src/main/java/io/jans/agama/engine/service/AgamaPersistenceService.java
  agama/transpiler/src/main/resources/JSGenerator.ftl
  docs/admin/developer/agama/flows-lifecycle.md
  docs/admin/developer/agama/ui-pages.md
Labels: area-documentation, comp-agama

#2204 feat(agama): add utility classes for inbound identity
  agama/inboundID/CustomMappings.java.txt
  agama/inboundID/pom.xml
  agama/inboundID/src/main/java/io/jans/inbound/Attrs.java
  agama/inboundID/src/main/java/io/jans/inbound/IdentityProcessor.java
  agama/inboundID/src/main/java/io/jans/inbound/Mappings.java
  agama/inboundID/src/main/java/io/jans/inbound/Provider.java
  agama/inboundID/src/main/java/io/jans/inbound/oauth2/CodeGrantUtil.java
  agama/inboundID/src/main/java/io/jans/inbound/oauth2/OAuthParams.java
  agama/inboundID/src/main/java/io/jans/util/NetworkUtils.java
  agama/pom.xml
  agama/transpiler/src/main/java/io/jans/agama/dsl/Visitor.java
  docs/admin/developer/agama/basic/login.ftlh
  docs/admin/developer/agama/otp-email-registration/confirmation.ftlh
  docs/admin/developer/agama/otp-email-registration/login.ftlh
  docs/admin/developer/agama/otp-email/otp.ftlh
  docs/admin/developer/agama/registration/confirmation.ftlh
  docs/admin/developer/agama/registration/index.ftlh
  docs/script-catalog/agama/inboundID/README.md
  jans-bom/pom.xml
Labels: area-documentation, kind-feature, comp-jans-bom, comp-agama

#2216 fix(config-api): fixing discrepancies in the api
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/profiles/local/test.properties
Labels: kind-bug, comp-jans-config-api

#2222 docs: add instructions to setup inbound identity flows
  agama/inboundID/CustomMappings.java.txt
  docs/admin/developer/agama/dsl-full.md
  docs/script-catalog/agama/inboundID/README.md
Labels: area-documentation, comp-agama

#2220 docs: add missing files and config entries
  docs/CONTRIBUTING.md
  docs/admin/config-guide/jans-cli/cli-group.md
  docs/admin/config-guide/jans-cli/cli-smtp-configuration.md
  docs/admin/config-guide/jans-cli/cli-user.md
  docs/admin/config-guide/jans-cli/im/im-custom-scripts.md
  docs/admin/config-guide/jans-cli/im/im-janssen-fido2.md
  docs/admin/config-guide/jans-cli/im/im-uma-resources.md
  docs/admin/developer/agama/dsl.md
  docs/admin/developer/agama/engine-config.md
  docs/admin/developer/interception-scripts-debug.md
  docs/admin/integration/passport-js.md
  docs/admin/recipes/custom-web-development/authn-with-apache-reverse-proxy.md
  docs/admin/recipes/passportjs.md
  docs/admin/recipes/social-login-apple.md
  docs/script-catalog/client_registration/OpenBanking/client-registration.md
  mkdocs.yml
Labels: area-documentation

#2205 docs: fix corrections #2201
  docs/admin/developer/scripts/person-authentication-fido2.md
  docs/admin/developer/scripts/person-authentication.md
  docs/assets/image-fido2-ldap-structure.png
Labels: area-documentation

#2231 feat(agama): add utility classes for inbound identity
  agama/inboundID/CustomMappings.java.txt
  agama/inboundID/pom.xml
  agama/inboundID/src/main/java/io/jans/inbound/IdentityProcessor.java
  agama/inboundID/src/main/java/io/jans/inbound/Mappings.java
  agama/inboundID/src/main/java/io/jans/inbound/Provider.java
  agama/inboundID/src/main/java/io/jans/util/NetworkUtils.java
  docs/admin/developer/agama/java-classpath.md
  docs/script-catalog/agama/inboundID/README.md
  docs/script-catalog/agama/inboundID/io.jans.inbound.ExternalSiteLogin
Labels: area-documentation, kind-feature, comp-agama

#2242 docs: add script-catalog to navigation
  mkdocs.yml
Labels: area-documentation

#2246 chore(main): release docs 1.0.2
  docs/CHANGELOG.md
Labels: autorelease: pending

#2247 chore(main): release agama 1.0.2
  agama/CHANGELOG.md
  agama/engine/pom.xml
  agama/inboundID/pom.xml
  agama/model/pom.xml
  agama/pom.xml
  agama/transpiler/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#2248 chore(main): release jans-notify 1.0.2
  jans-notify/CHANGELOG.md
  jans-notify/client/pom.xml
  jans-notify/client2/pom.xml
  jans-notify/model/pom.xml
  jans-notify/pom.xml
  jans-notify/server/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation

#2249 chore(main): release jans-eleven 1.0.2
  jans-eleven/CHANGELOG.md
  jans-eleven/client/pom.xml
  jans-eleven/model/pom.xml
  jans-eleven/pom.xml
  jans-eleven/server/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#2250 chore(main): release jans-auth-server 1.0.2
  jans-auth-server/CHANGELOG.md
  jans-auth-server/client/pom.xml
  jans-auth-server/common/pom.xml
  jans-auth-server/model/pom.xml
  jans-auth-server/persistence-model/pom.xml
  jans-auth-server/pom.xml
  jans-auth-server/server/pom.xml
  jans-auth-server/static/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#2251 chore(main): release jans-fido2 1.0.2
  jans-fido2/CHANGELOG.md
  jans-fido2/client/pom.xml
  jans-fido2/model/pom.xml
  jans-fido2/pom.xml
  jans-fido2/server/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#2252 chore(main): release jans-client-api 1.0.2
  jans-client-api/CHANGELOG.md
  jans-client-api/client/pom.xml
  jans-client-api/common/pom.xml
  jans-client-api/gen-client/pom.xml
  jans-client-api/pom.xml
  jans-client-api/server/pom.xml
  jans-client-api/uma-rs-core/pom.xml
  jans-client-api/uma-rs-resteasy/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-client-api

#2253 chore(main): release jans-orm 1.0.2
  jans-orm/CHANGELOG.md
  jans-orm/annotation/pom.xml
  jans-orm/cdi/pom.xml
  jans-orm/core/pom.xml
  jans-orm/couchbase-sample/pom.xml
  jans-orm/couchbase/pom.xml
  jans-orm/filter/pom.xml
  jans-orm/hybrid/pom.xml
  jans-orm/ldap-sample/pom.xml
  jans-orm/ldap/pom.xml
  jans-orm/model/pom.xml
  jans-orm/pom.xml
  jans-orm/spanner-sample/pom.xml
  jans-orm/spanner/pom.xml
  jans-orm/sql-sample/pom.xml
  jans-orm/sql/pom.xml
  jans-orm/standalone/pom.xml
  jans-orm/util/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#2254 chore(main): release jans-core 1.0.2
  jans-core/CHANGELOG.md
  jans-core/cache/pom.xml
  jans-core/cdi/pom.xml
  jans-core/demo-cdi/pom.xml
  jans-core/document-store/pom.xml
  jans-core/exception-extension-cdi/pom.xml
  jans-core/java-ext/pom.xml
  jans-core/jsf-util/pom.xml
  jans-core/model/pom.xml
  jans-core/pom.xml
  jans-core/radius/pom.xml
  jans-core/saml/pom.xml
  jans-core/script/pom.xml
  jans-core/security-extension-cdi/pom.xml
  jans-core/server/pom.xml
  jans-core/service/pom.xml
  jans-core/standalone/pom.xml
  jans-core/timer-weld/pom.xml
  jans-core/util/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#2256 chore(main): release jans-scim 1.0.2
  jans-scim/CHANGELOG.md
  jans-scim/client/pom.xml
  jans-scim/model/pom.xml
  jans-scim/pom.xml
  jans-scim/server/pom.xml
  jans-scim/service/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#2257 chore(main): release jans-bom 1.0.2
  jans-bom/CHANGELOG.md
  jans-bom/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#2258 chore(main): release jans-config-api 1.0.2
  jans-config-api/CHANGELOG.md
  jans-config-api/common/pom.xml
  jans-config-api/plugins/admin-ui-plugin/pom.xml
  jans-config-api/plugins/fido2-plugin/pom.xml
  jans-config-api/plugins/pom.xml
  jans-config-api/plugins/sample/demo/pom.xml
  jans-config-api/plugins/sample/helloworld/pom.xml
  jans-config-api/plugins/scim-plugin/pom.xml
  jans-config-api/plugins/user-mgt-plugin/pom.xml
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
  jans-config-api/shared/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#2260 chore(main): release docker-jans-persistence-loader 1.0.2-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#2261 chore(main): release docker-jans-certmanager 1.0.2-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#2262 chore(main): release docker-jans-scim 1.0.2-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#2263 chore(main): release docker-jans-auth-server 1.0.2-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#2264 chore(main): release docker-jans-client-api 1.0.2-1
  docker-jans-client-api/CHANGELOG.md
  docker-jans-client-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-client-api, area-documentation

#2265 chore(main): release docker-jans-fido2 1.0.2-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#2266 chore(main): release docker-jans-config-api 1.0.2-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#2267 chore(main): release docker-jans-configurator 1.0.2-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#2268 chore(main): release jans-cli 1.0.2
  jans-cli/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-cli

#2269 chore(main): release jans-linux-setup 1.0.2
  jans-linux-setup/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-linux-setup

#2270 chore(main): release jans-pycloudlib 1.0.2
  jans-pycloudlib/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-pycloudlib

#2280 feat(agama): add utility classes for inbound identity
  agama/engine/src/main/java/io/jans/agama/engine/service/ActionService.java
  agama/inboundID/src/main/java/io/jans/inbound/JwtUtil.java
  agama/inboundID/src/main/java/io/jans/inbound/Mappings.java
  agama/inboundID/src/main/java/io/jans/inbound/oauth2/CodeGrantUtil.java
  agama/inboundID/src/main/java/io/jans/inbound/oauth2/OAuthParams.java
  docs/admin/developer/agama/quick-start.md
  docs/script-catalog/agama/inboundID/README.md
  docs/script-catalog/agama/inboundID/apple/apple.png
  docs/script-catalog/agama/inboundID/apple/io.jans.inbound.Apple
  jans-auth-server/server/conf/jans-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-jans-linux-setup, comp-agama
