Repository JanssenProject/jans, pull requests merged in 2022-01, with the labels that each got.

#619 build(docker): avoid incompatible libcst version #617
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/Dockerfile
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/Dockerfile
  docker-jans-scim/requirements.txt
Labels: kind-bug, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim

#628 chore(Dockerfiles): updated janspycloud build in cn-pycloudlib-copy-timestamp
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#652 chore(Dockerfiles): updated janspycloud build in cn-pycloudlib-copy-timestamp
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#627 fix(pycloudlib): missing tar option to not restore file timestamp #613
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
  jans-pycloudlib/jans/pycloudlib/meta/kubernetes_meta.py
Labels: kind-bug, comp-jans-pycloudlib

#654 ci: add codeowner
  .github/CODEOWNERS
Labels: area-CI

#623 Ce setup refactor admin UI post setup
  jans-ce-setup/static/scripts/admin_ui_plugin.py
Labels: kind-enhancement, comp-jans-ce-setup

#388 fix: ce setup monorepo tweaks
  jans-ce-setup/install.py
  jans-ce-setup/setup_app/installers/config_api.py
  jans-ce-setup/setup_app/installers/jans_cli.py
  jans-ce-setup/setup_app/utils/base.py
Labels: kind-enhancement, comp-jans-ce-setup

#661 feat(jans-auth-server): add methods to dynamic client registration script to modify POST and PUT responses
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalDynamicClientRegistrationService.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/client/ClientRegistrationType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/client/DummyClientRegistrationType.java
Labels: comp-jans-auth-server

#667 feat: ce-setup add python cryptography library to dependency
  jans-ce-setup/setup_app/data/package_list.json
Labels: kind-enhancement, comp-jans-ce-setup

#673 feat: update base images #672
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/conf/jans-sql.properties.tmpl
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-certmanager/Dockerfile
  docker-jans-client-api/Dockerfile
  docker-jans-client-api/scripts/bootstrap.py
  docker-jans-client-api/templates/jans-sql.properties.tmpl
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/conf/jans-sql.properties.tmpl
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/plugins.py
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/conf/jans-sql.properties.tmpl
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-persistence-loader/Dockerfile
  docker-jans-scim/Dockerfile
  docker-jans-scim/conf/jans-sql.properties.tmpl
  docker-jans-scim/scripts/bootstrap.py
Labels: kind-enhancement, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim

#677 docs: readme changes for badges and content ordering
  README.md
Labels: area-documentation

#671 ci: add codeowner
  .github/CODEOWNERS
Labels: area-CI

#624 feat: ce setup deploy facter script (ref: #622)
  jans-ce-setup/install.py
  jans-ce-setup/setup_app/installers/config_api.py
Labels: kind-feature, comp-jans-ce-setup

#669 jans-ce-setup: Extending crypto support: sub pr4;
  jans-ce-setup/setup_app/config.py
  jans-ce-setup/setup_app/installers/jans_auth.py
  jans-ce-setup/static/scripts/key_regeneration.py
Labels: comp-jans-ce-setup

#679 ci: fix naming for jans-ce-setup
  .github/workflows/central_code_quality_check.yml
  README.md
Labels: area-CI

#689 style: add env for license params
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/scripts/plugins.py
Labels: comp-docker-jans-config-api

#692 feat: ce-setup suse compatibility
  jans-ce-setup/install.py
  jans-ce-setup/setup_app/data/package_list.json
  jans-ce-setup/setup_app/installers/httpd.py
  jans-ce-setup/setup_app/utils/base.py
  jans-ce-setup/setup_app/utils/package_utils.py
Labels: kind-feature, comp-jans-ce-setup

#690 docs: clarified Rancher instructions
  README.md
Labels: area-documentation

#694 docs: remove sonar badges table from readme
  README.md
  docker-jans-auth-server/README.md
  docker-jans-certmanager/README.md
  docker-jans-client-api/README.md
  docker-jans-config-api/README.md
  docker-jans-configurator/README.md
  docker-jans-fido2/README.md
  docker-jans-persistence-loader/README.md
  docker-jans-scim/README.md
  jans-auth-server/README.md
  jans-bom/README.md
  jans-ce-setup/README.md
  jans-cli/README.md
  jans-client-api/README.md
  jans-config-api/README.md
  jans-core/README.md
  jans-eleven/README.md
  jans-fido2/README.md
  jans-notify/README.md
  jans-orm/README.md
  jans-pycloudlib/README.md
  jans-scim/README.md
Labels: area-documentation

#697 ci: add janssen quickstart installation with microk8s
  README.md
  automation/startjanssendemo.sh
  automation/startopenabankingdemo.sh
Labels: area-CI, area-documentation

#701 chore(Dockerfiles): updated build dates
  docker-jans-auth-server/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-scim/Dockerfile
Labels: bot, enhancement

#703 docs: move quick start content to wiki
  README.md
Labels: area-documentation

#705 fix: vm setup suse fixes
  jans-ce-setup/install.py
  jans-ce-setup/setup.py
  jans-ce-setup/setup_app/config.py
  jans-ce-setup/setup_app/installers/config_api.py
  jans-ce-setup/setup_app/installers/httpd.py
  jans-ce-setup/setup_app/installers/jans.py
  jans-ce-setup/setup_app/installers/jans_cli.py
  jans-ce-setup/setup_app/installers/node.py
  jans-ce-setup/setup_app/installers/rdbm.py
  jans-ce-setup/setup_app/setup_options.py
  jans-ce-setup/setup_app/utils/arg_parser.py
  jans-ce-setup/setup_app/utils/db_utils.py
  jans-ce-setup/setup_app/utils/properties_utils.py
  jans-ce-setup/templates/system_profile_init
  jans-ce-setup/templates/system_profile_systemd
  jans-cli/cli/pylib/jwt/AUTHORS.rst
  jans-cli/cli/pylib/jwt/LICENSE
  jans-cli/cli/pylib/jwt/__init__.py
  jans-cli/cli/pylib/jwt/algorithms.py
  jans-cli/cli/pylib/jwt/api_jwk.py
  jans-cli/cli/pylib/jwt/api_jws.py
  jans-cli/cli/pylib/jwt/api_jwt.py
  jans-cli/cli/pylib/jwt/exceptions.py
  jans-cli/cli/pylib/jwt/help.py
  jans-cli/cli/pylib/jwt/jwks_client.py
  jans-cli/cli/pylib/jwt/py.typed
  jans-cli/cli/pylib/jwt/utils.py
Labels: kind-enhancement, kind-feature, comp-jans-vm-setup

#670 feat(jans-auth-server): extending crypto support sub pr4
  jans-auth-server/client/src/main/java/io/jans/as/client/util/KeyGenerator.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/AuthCryptoProvider.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/Certificate.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/signature/EDDSAKeyFactory.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/signature/SignatureAlgorithm.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwk/Algorithm.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jws/ECDSASigner.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jws/EDDSASigner.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/HashUtil.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/JwtUtil.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/HashUtilTest.java
Labels: comp-jans-auth-server, java

#711 fix(jans-auth-server): don't fail registration without custom script (#710)
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalDynamicClientRegistrationService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/external/ExternalDynamicClientRegistrationServiceTest.java
Labels: kind-bug, comp-jans-auth-server

#714 fix: linux-setup mariadb json data types
  jans-linux-setup/setup_app/installers/rdbm.py
  jans-linux-setup/setup_app/utils/db_utils.py
Labels: kind-enhancement, comp-jans-vm-setup

#713 ci: consolidate home and .gitHub repo
  .github/ISSUE_TEMPLATE/development-item.md
  .github/ISSUE_TEMPLATE/failing-tests.md
  .github/SECURITY.md
  docs/community/CONTRIBUTING.md
  docs/community/testing.md
  docs/community/triage.md
Labels: area-CI, area-documentation

#722 Bug: remove licenseSpring keys from properties file in admin-ui plugin #720
  jans-config-api/plugins/admin-ui-plugin/config/auiConfiguration.properties
Labels: comp-jans-config-api

#723 feat: jans-cli logout
  jans-cli/cli/config_cli.py
Labels: comp-jans-cli, enhancement

#725 docs: updated README links to community page, docs
  README.md
Labels: area-documentation
