Repository JanssenProject/jans, pull requests merged in 2022-04, with the labels that each got.

#1152 refactor(jans-auth-server): split registration into multiple actions/services
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterCreateAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterDeleteAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterReadAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterUpdateAction.java
Labels: kind-enhancement, comp-jans-auth-server

#1159 docs: add commit signing and rearrange
  docs/CONTRIBUTING.md
Labels: area-documentation

#1162 refactor(jans-auth-server): register create action
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterCreateAction.java
Labels: kind-enhancement, comp-jans-auth-server

#1160 fix: typos in jans cli doc
  docs/user/using-jans-cli/cli-ldap-configuration.md
  docs/user/using-jans-cli/im/im-openid-connect-clients.md
  docs/user/using-jans-cli/im/im-user.md
Labels: area-documentation, comp-jans-cli

#1164 fix(jans-auth-server): do not serialize jwkThumbprint
  jans-auth-server/model/src/main/java/io/jans/as/model/jwk/JSONWebKey.java
Labels: kind-bug, comp-jans-auth-server

#1168 chore: sync SQL/Spanner schema changes and indexes
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
Labels: kind-enhancement, comp-docker-jans-persistence-loader

#1169 chore: remove static fido2 files in favor of files sync from upstream
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/conf/fido2/authenticator_cert/HyperFIDO_CA_Cert_V1.pem
  docker-jans-fido2/conf/fido2/authenticator_cert/HyperFIDO_CA_Cert_V2.pem
  docker-jans-fido2/conf/fido2/authenticator_cert/yubico-u2f-ca-cert.crt
  docker-jans-fido2/conf/fido2/mds/cert/metadata-root-ca.cer
Labels: kind-enhancement, comp-docker-jans-fido2

#1163 ci: add label schema and pr autolabel
  .github/workflows/label_pr.yml
  automation/github-labels/label.py
  automation/github-labels/labels-schema.json
  docs/community/triage.md
Labels: area-CI, area-documentation

#1176 feat: remove Jython's pip from images
  docker-jans-auth-server/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-enhancement, comp-docker-jans-auth-server, comp-docker-jans-scim, kind-feature

#1179 ci: add comp title detection
  .github/workflows/label_pr.yml
  automation/github-labels/label.py
  automation/github-labels/labels-schema.json
  docs/CONTRIBUTING.md
  docs/community/triage.md
Labels: area-CI, area-documentation

#1181 fix: scim user management endpoint failing due to conflict with user …
  jans-cli/cli/jca.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/scim-plugin/src/main/java/io/jans/configapi/plugin/scim/rest/ScimResource.java
  jans-config-api/plugins/scim-plugin/src/test/resources/karate-config-jenkins.js
  jans-config-api/plugins/scim-plugin/src/test/resources/karate-config.js
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-orm/model/src/main/java/io/jans/orm/model/base/CustomObjectAttribute.java
Labels: kind-bug, comp-jans-cli, comp-jans-config-api, comp-jans-orm

#1166 fix: jans-cli allow emptying list attrbiutes by _null
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli

#1191 docs: Corrected logo image address
  README.md
Labels: area-documentation

#1199 fix: #1198
  jans-auth-server/server/src/main/java/io/jans/as/server/i18n/ApplicationFacesLocalizationConfigPopulator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/i18n/CustomResourceBundle.java
  jans-auth-server/server/src/main/resources/jans-auth.properties
  jans-auth-server/server/src/main/resources/jans-auth_bg.properties
  jans-auth-server/server/src/main/resources/jans-auth_de.properties
  jans-auth-server/server/src/main/resources/jans-auth_en.properties
  jans-auth-server/server/src/main/resources/jans-auth_es.properties
  jans-auth-server/server/src/main/resources/jans-auth_fr.properties
  jans-auth-server/server/src/main/resources/jans-auth_it.properties
  jans-auth-server/server/src/main/resources/jans-auth_ru.properties
  jans-auth-server/server/src/main/resources/jans-auth_tr.properties
Labels: kind-bug, comp-jans-auth-server

#1184 feat: user management patch endpoint
  jans-cli/cli/jca.yaml
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/ApiAppConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/user/UserPatchRequest.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/BaseResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/UserResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/UserService.java
  jans-config-api/server/src/main/java/io/jans/configapi/util/AuthUtil.java
  jans-config-api/server/src/test/resources/feature/user/user-patch.json
  jans-config-api/server/src/test/resources/feature/user/user.feature
  jans-config-api/server/src/test/resources/feature/user/user.json
  jans-config-api/shared/src/main/java/io/jans/configapi/core/util/Jackson.java
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-cli, comp-jans-config-api, comp-jans-orm, kind-feature

#1201 feat: pre-populate role scope mapping dynamically
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/requirements.txt
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/scripts/utils.py
  docker-jans-persistence-loader/templates/jans-config-api/dynamic-conf.json
Labels: comp-docker-jans-persistence-loader, kind-feature

#1200 feat: merge ORM from Gluu
  jans-orm/core/src/main/java/io/jans/orm/impl/BaseEntryManager.java
  jans-orm/core/src/main/java/io/jans/orm/reflect/property/BasicPropertyAccessor.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlConnectionProvider.java
Labels: comp-jans-orm, kind-feature

#1202 fix(jans-auth-server): disabled issuing AT by refresh token if user status=inactive
  jans-auth-server/common/src/main/java/io/jans/as/common/model/common/User.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, comp-jans-auth-server, comp-jans-config-api

#1205 fix: handle index error for JSON columns
  docker-jans-persistence-loader/scripts/sql_setup.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#1203 feat: create apis to verify and save license api-keys in Admin UI #1196
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/DynamicConfig.java
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/LicenseSpringCredentials.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/LicenseApiResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/config/LicenseConfiguration.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/license/LicenseResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/config/AUIConfigurationService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/user/UserManagementService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/AppConstants.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature

#1209 docs: fix hyperlinks
  docs/CONTRIBUTING.md
Labels: kind-bug, area-documentation

#1211 fix: jans-cl update WebKeysConfiguration
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli

#1216 fix: linux-setup don't use personCustomObjectClassList for RDBMS
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: kind-bug, comp-jans-linux-setup

#1207 fix(jans-auth-server): dynamic client registration managment delete event
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterDeleteAction.java
Labels: kind-bug, comp-jans-auth-server

#1222 feat(jans-config-api): rectified test properties file
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/model/config/MgmtConfiguration.java.bkp
  jans-config-api/plugins/user-mgt-plugin/src/test/resources/karate.properties
  jans-config-api/plugins/user-mgt-plugin/src/test/resources/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigBaseResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/OrganizationResource.java
Labels: comp-jans-config-api, kind-feature

#1223 feat: jans-linux-setup config-api user management plugin (ref: #1213)
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
Labels: kind-feature, comp-jans-linux-setup

#1225 fix: jans-linux-setup copy user-mgt-plugin
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
Labels: kind-bug, comp-jans-linux-setup

#1226 fix: errors adding/upgrading data into couchbase persistence
  docker-jans-persistence-loader/scripts/couchbase_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#1228 feat: jans-linux-setup refactor key reneration for all backends
  jans-linux-setup/jans_setup/static/scripts/key_regeneration.py
  jans-linux-setup/tools/key_regeneration.py
Labels: kind-feature, comp-jans-linux-setup

#1221 docs: update docs for CLI device authn
  docs/user/how-to/authn-with-apache-reverse-proxy.md
  docs/user/using-jans-cli/cli-tips.md
Labels: area-documentation

#1220 feat(jans-auth-server): added authzrequest abstraction
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequest.java
Labels: comp-jans-auth-server, kind-feature

#1229 fix: jans-linux-setup-key key-regeneration fix spanner host
  jans-linux-setup/tools/key_regeneration.py
Labels: kind-bug, comp-jans-linux-setup

#1235 feat(jans-config-api): added patch endpoint for custom script
  jans-cli/cli/jca.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/pom.xml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CacheConfigurationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/server/src/test/resources/feature/config/cache/cache.feature
  jans-config-api/server/src/test/resources/feature/config/scripts/custom/generic/custom.feature
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
Labels: comp-jans-cli, comp-jans-config-api, kind-feature

#1234 ci: add auto checks
  .github/CODEOWNERS
  .github/workflows/label_pr_issues.yml
  .github/workflows/microk8s.yml
  .github/workflows/microk8s_couchbase.yml
  .github/workflows/microk8s_mysql.yml
  .github/workflows/microk8s_opendj.yml
  .github/workflows/microk8s_opendj_istio.yml
  automation/analyze_test_microk8s_setup.sh
  automation/startjanssendemo.sh
  charts/index.yaml
  charts/janssen-1.0.0-dev.tgz
  charts/janssen/values.yaml
Labels: area-CI, comp-charts-jans

#1238 chore: sync jans-auth dynamic config
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/scripts/utils.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
Labels: kind-dependencies, comp-docker-jans-persistence-loader

#1241 build: uninstall Python pip
  docker-jans-auth-server/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-client-api/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim

#1246 fix: jans-client-api replace netstat with ss in startup script
  jans-client-api/debian/client-api
Labels: kind-bug, comp-jans-client-api, comp-jans-config-api, enhancement

#1248 fix: adjust beans and schema #1107
  jans-fido2/model/src/main/java/io/jans/fido2/model/entry/Fido2Entry.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/entry/Fido2RegistrationEntry.java
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-bug, comp-jans-fido2, comp-jans-linux-setup

#1249 Fix: Use Duration class instead of custom util to calculate seconds from date to now
  jans-auth-server/model/src/main/java/io/jans/as/model/uma/persistence/UmaPermission.java
  jans-auth-server/model/src/main/java/io/jans/as/model/uma/persistence/UmaResource.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/Util.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/UtilTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AbstractToken.java
Labels: comp-jans-auth-server

#1188 fix: add issue guidelines to TOC
  docs/CONTRIBUTING.md
Labels: kind-bug, area-documentation

#1148 docs: update jans cli
  docs/user/using-jans-cli/README.md
  docs/user/using-jans-cli/cli-attribute.md
  docs/user/using-jans-cli/cli-cache-configuration.md
  docs/user/using-jans-cli/cli-couchbase-configuration.md
  docs/user/using-jans-cli/cli-custom-scripts.md
  docs/user/using-jans-cli/cli-default-authentication-method.md
  docs/user/using-jans-cli/cli-group.md
  docs/user/using-jans-cli/cli-index.md
  docs/user/using-jans-cli/cli-jans-authorization-server.md
  docs/user/using-jans-cli/cli-janssen-fido2-configuration.md
  docs/user/using-jans-cli/cli-jwk-json-web-key-jwk.md
  docs/user/using-jans-cli/cli-ldap-configuration.md
  docs/user/using-jans-cli/cli-logging-configuration.md
  docs/user/using-jans-cli/cli-oauthscopes.md
  docs/user/using-jans-cli/cli-oauthumaresources.md
  docs/user/using-jans-cli/cli-openid-connect-client-configuration.md
  docs/user/using-jans-cli/cli-scim.md
  docs/user/using-jans-cli/cli-smtp-configuration.md
  docs/user/using-jans-cli/cli-user.md
  docs/user/using-jans-cli/im/im-attribute.md
  docs/user/using-jans-cli/im/im-authentication-method.md
  docs/user/using-jans-cli/im/im-cache-configuration.md
  docs/user/using-jans-cli/im/im-couchbase-configuration.md
  docs/user/using-jans-cli/im/im-custom-scripts.md
  docs/user/using-jans-cli/im/im-group.md
  docs/user/using-jans-cli/im/im-index.md
  docs/user/using-jans-cli/im/im-jans-authorization-server.md
  docs/user/using-jans-cli/im/im-janssen-fido2.md
  docs/user/using-jans-cli/im/im-janssen-logging-configuration.md
  docs/user/using-jans-cli/im/im-json-web-key.md
  docs/user/using-jans-cli/im/im-ldap-configuration.md
  docs/user/using-jans-cli/im/im-oauth-scopes.md
  docs/user/using-jans-cli/im/im-openid-connect-clients.md
  docs/user/using-jans-cli/im/im-smtp-server-configuration.md
  docs/user/using-jans-cli/im/im-tips.md
  docs/user/using-jans-cli/im/im-user-managed-access-(uma).md
  docs/user/using-jans-cli/im/im-user.md
Labels: area-documentation, comp-jans-cli

#1251 Docs remove tips file
  docs/user/how-to/authn-with-apache-reverse-proxy.md
  docs/user/using-jans-cli/cli-index.md
  docs/user/using-jans-cli/cli-tips.md
Labels: area-documentation

#1260 refactor(jans-auth-server): moved acr validation to validator
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequest.java
Labels: kind-enhancement, comp-jans-auth-server

#1259 fix: the admin-ui backend issues related to jetty 11 migration #1258
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/AdminPermission.java
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/LicenseSpringCredentials.java
  jans-config-api/plugins/admin-ui-plugin/pom.xml
  jans-config-api/plugins/admin-ui-plugin/src/main/assembly/assembly.xml
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/config/LicenseConfiguration.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/license/LicenseResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/auth/OAuth2Service.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/config/AUIConfigurationService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/AppConstants.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ClientFactory.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/CommonUtils.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-config-api

#1263 chore(Dockerfiles): updated janspycloud build in cn-persistence
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#1262 feat: add helper to create persistence entry from LDIF file
  docker-jans-auth-server/requirements.txt
  docker-jans-auth-server/scripts/keystore_mod.py
  docker-jans-certmanager/requirements.txt
  docker-jans-certmanager/scripts/auth_handler.py
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-config-api/scripts/utils.py
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-persistence-loader/scripts/couchbase_setup.py
  docker-jans-persistence-loader/scripts/ldap_setup.py
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-scim/requirements.txt
  jans-pycloudlib/.coveragerc
  jans-pycloudlib/jans/pycloudlib/persistence/__init__.py
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
  jans-pycloudlib/jans/pycloudlib/persistence/ldap.py
  jans-pycloudlib/jans/pycloudlib/persistence/spanner.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
  jans-pycloudlib/jans/pycloudlib/version.py
  jans-pycloudlib/jans/pycloudlib/wait.py
  jans-pycloudlib/setup.py
  jans-pycloudlib/tests/conftest.py
  jans-pycloudlib/tests/test_manager.py
  jans-pycloudlib/tests/test_persistence.py
  jans-pycloudlib/tests/test_wait.py
Labels: comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, kind-feature, comp-jans-pycloudlib

#1265 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#1267 refactor(jans-auth-server): extracted request object processing into separate method
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequestService.java
Labels: kind-enhancement, comp-jans-auth-server

#1268 fix: the admin-ui backend issues related to jetty 11 migration #1258
  jans-linux-setup/jans_setup/static/extension/introspection/introspection_role_based_scope.py
  jans-linux-setup/jans_setup/templates/jans-auth/role-scope-mappings.json
Labels: kind-bug, comp-jans-linux-setup

#1269 refactor(jans-auth-server): extracted user and response parameters handling into separate methods during authz
  jans-auth-server/common/src/main/java/io/jans/as/common/util/RedirectUri.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequestService.java
Labels: kind-enhancement, comp-jans-auth-server

#1270 fix: update persistence schema and entry
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#1271 fix: fix license apis#1258
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
Labels: kind-bug, comp-jans-config-api
