Repository JanssenProject/jans, pull requests merged in 2022-05, with the labels that each got.

#1275 refactor: remove all Casa manifests
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/README.md
  docker-jans-persistence-loader/scripts/utils.py
  docker-jans-persistence-loader/templates/gluu-casa/clients.ldif
  docker-jans-persistence-loader/templates/gluu-casa/configuration.ldif
  docker-jans-persistence-loader/templates/gluu-casa/scripts.ldif
Labels: kind-enhancement, comp-docker-jans-persistence-loader, area-documentation

#1277 refactor(jans-auth-server): extracted common functions
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequestService.java
Labels: kind-enhancement, comp-jans-auth-server

#1257 Jans linux setup maven url
  jans-linux-setup/docs/README.md
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/openbanking/setup_app/config.py
  jans-linux-setup/jans_setup/openbanking/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup.properties.sample
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/downloads.py
  jans-linux-setup/jans_setup/setup_app/installers/base.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/couchbase.py
  jans-linux-setup/jans_setup/setup_app/installers/eleven.py
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
  jans-linux-setup/jans_setup/setup_app/installers/httpd.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/setup_app/installers/jre.py
  jans-linux-setup/jans_setup/setup_app/installers/jython.py
  jans-linux-setup/jans_setup/setup_app/installers/node.py
  jans-linux-setup/jans_setup/setup_app/installers/opendj.py
  jans-linux-setup/jans_setup/setup_app/installers/oxd.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/installers/scim.py
  jans-linux-setup/jans_setup/setup_app/messages.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/progress.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/setup_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/spanner.py
  jans-linux-setup/jans_setup/static/fido2/server_metadata/.dontdelete
  jans-linux-setup/jans_setup/templates/system_profile_init
  jans-linux-setup/jans_setup/templates/system_profile_systemd
  jans-linux-setup/setup.py
  jans-linux-setup/tools/ldap2mysql/ldap2mysql.py
Labels: kind-bug, kind-enhancement, comp-jans-linux-setup

#1279 feat: jans-linux-setup set DefaultTimeoutStartSec=300s
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
Labels: kind-feature, enhancement, comp-jans-linux-setup

#1239 docs: update mod_auth_openidc how-to document
  docs/assets/how-to/images/image-howto-mod-auth-cli-main-menu-04292022.png
  docs/assets/how-to/images/image-howto-mod-auth-comp-04222022.drawio
  docs/assets/how-to/images/image-howto-mod-auth-comp-04222022.png
  docs/user/how-to/authn-with-apache-reverse-proxy.md
Labels: area-documentation

#1280 fix: jans-linux-setup move mysql-timezone to config
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: kind-bug, comp-jans-linux-setup

#1281 feat: adding logs to debug license issues#1258
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
Labels: comp-jans-config-api, kind-feature

#1227 fix( jans-linux-setup): jans linux setup mysql local force bind
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
Labels: kind-bug, comp-jans-linux-setup

#1284 Issue 808
  jans-auth-server/server/src/main/webapp/auth/apple/login.xhtml
  jans-linux-setup/jans_setup/static/extension/person_authentication/AppleExternalAuthenticator.py
Labels: comp-jans-auth-server, comp-jans-linux-setup

#1287 fix(jans-auth-server): removed CONFIG_API from AS supported script types #1286
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
Labels: kind-bug, comp-jans-auth-server

#1285 feat: jans-cli use test client (ref: #1283)
  jans-cli/cli/config_cli.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
Labels: comp-jans-cli, kind-feature, comp-jans-linux-setup

#1292 docs: fix CLI device flow link
  docs/user/how-to/authn-with-apache-reverse-proxy.md
Labels: area-documentation

#1244 docs: update documentation for jans cli
  docs/assets/user/using-jans-cli/images/gif-jans-cli-interactive-mode-04232022.gif
  docs/assets/user/using-jans-cli/images/image-using-jans-cli-comp-04222022.drawio
  docs/assets/user/using-jans-cli/images/image-using-jans-cli-comp-04222022.png
  docs/user/using-jans-cli/README.md
Labels: area-documentation

#1291 feat(jans-core): removed UPDATE_USER and USER_REGISTRATION scripts #1289
  docs/user/using-jans-cli/cli-custom-scripts.md
  docs/user/using-jans-cli/im/im-custom-scripts.md
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-cli/cli/jca.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/test/resources/feature/config/scripts/custom/generic/all-script.json
  jans-core/script/src/main/java/io/jans/model/custom/script/CustomScriptType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/user/DummyUpdateUserType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/user/DummyUserRegistrationType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/user/UpdateUserType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/user/UserRegistrationType.java
  jans-linux-setup/jans_setup/static/extension/update_user/SampleScript.py
  jans-linux-setup/jans_setup/static/extension/user_registration/ConfirmRegistrationSampleScript.py
  jans-linux-setup/jans_setup/static/extension/user_registration/SampleScript.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
  jans-scim/service/src/main/java/io/jans/scim/service/ConfigurationService.java
Labels: area-documentation, comp-jans-auth-server, comp-jans-cli, comp-jans-config-api, comp-jans-core, comp-jans-scim, kind-feature, comp-jans-linux-setup

#1293 feat(jans-config-api): added scope DN validation while client creation
  jans-config-api/server/src/main/java/io/jans/configapi/filters/AuthorizationFilter.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ScopeService.java
  jans-config-api/server/src/main/java/io/jans/configapi/util/AuthUtil.java
Labels: comp-jans-config-api, kind-feature

#1295 feat: jans-cli obtain list of attrbiutes from server when creating user
  jans-cli/cli/config_cli.py
Labels: comp-jans-cli, kind-feature

#1296 feat: jans-cli display users in tabular form
  jans-cli/cli/config_cli.py
Labels: comp-jans-cli, kind-feature

#1305 chore: update dependencies to remove UPDATE_USER and USER_REGISTRATION scripts
  docker-jans-auth-server/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/templates/jans-config-api/admin-ui-clients.ldif
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-scim, comp-jans-config-api

#1306 feat: jans-cli group common items in menu (ref: #892)
  jans-cli/cli/config_cli.py
Labels: comp-jans-cli, kind-feature

#1308 feat: jans-linux-setup config-api fido2-plugin (ref: #1303)
  jans-cli/cli/jca.yaml
  jans-cli/cli/scim.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
Labels: kind-feature, comp-jans-linux-setup

#1310 fix: jans-linux-setup config-api plugin dependencies
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
Labels: kind-bug, comp-jans-linux-setup

#1313 feat: jans-cli tabulate attribute list
  jans-cli/cli/config_cli.py
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: comp-jans-cli, comp-jans-config-api, kind-feature

#1314 Jans cli fixes
  jans-cli/cli/config_cli.py
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, comp-jans-cli, comp-jans-config-api

#1312 feat: adjust ownership and permission to avoid bloated images
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/entrypoint.sh
  docker-jans-certmanager/Dockerfile
  docker-jans-client-api/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/entrypoint.sh
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/entrypoint.sh
  docker-jans-persistence-loader/Dockerfile
  docker-jans-scim/Dockerfile
  docker-jans-scim/scripts/entrypoint.sh
Labels: comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, kind-feature

#1316 feat(jans-auth-server): hide 302 redirect exception in logs #1294
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
Labels: comp-jans-auth-server, kind-feature

#1317 feat: config-cli enumerate scope type
  jans-cli/cli/config_cli.py
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: comp-jans-cli, comp-jans-config-api, kind-feature

#1315 fix: set permission for jans-auth.xml explicitly
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
Labels: kind-bug, comp-docker-jans-auth-server

#1320 fix(jans-config-api): LDAP test endpoint fix
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/LdapConfigurationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/util/ConnectionStatus.java
Labels: kind-bug, comp-jans-config-api

#1321 fix: invalid LDAP schema reading token_server client ID
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#1325 feat: Jans linux setup ubuntu22 Installation
  jans-cli/cli/pylib/tabulate/tabulate.py
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
  jans-linux-setup/jans_setup/setup_app/downloads.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/pylib/jproperties.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
  jans-linux-setup/jans_setup/setup_app/utils/crypto64.py
Labels: comp-jans-cli, kind-feature, enhancement, comp-jans-linux-setup

#1328 feat: Jans linux setup refactor
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/crypto64.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-feature, enhancement, comp-jans-linux-setup

#1237 Jans auth server client registration language metadata
  jans-auth-server/client/src/main/java/io/jans/as/client/AuthorizationRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/BaseRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ClientInfoRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/DeviceAuthzRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/RegisterRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/TokenRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/UserInfoRequest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/AssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/Asserter.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/ClientInfoResponseAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/json/JsonApplierTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthnScriptAliasesTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/ClientLanguageMetadataTest.java
  jans-auth-server/client/src/test/resources/testng.xml
  jans-auth-server/common/src/main/java/io/jans/as/common/model/registration/Client.java
  jans-auth-server/model/src/main/java/io/jans/as/model/json/JsonApplier.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/Util.java
  jans-auth-server/server/src/main/java/io/jans/as/server/clientinfo/ws/rs/ClientInfoRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-orm/annotation/src/main/java/io/jans/orm/annotation/LanguageTag.java
  jans-orm/core/src/main/java/io/jans/orm/impl/BaseEntryManager.java
  jans-orm/ldap/src/main/java/io/jans/orm/ldap/impl/LdapEntryManager.java
  jans-orm/model/pom.xml
  jans-orm/model/src/main/java/io/jans/orm/model/base/LocalizedString.java
  jans-orm/model/src/test/java/io/jans/orm/model/base/LocalizedStringTest.java
Labels: comp-jans-auth-server, comp-jans-orm

#1327 feat: call id-generation script when creating user/group #1145
  jans-scim/server/src/main/java/io/jans/scim/service/init/AppInitializer.java
  jans-scim/service/pom.xml
  jans-scim/service/src/main/java/io/jans/scim/service/GroupService.java
  jans-scim/service/src/main/java/io/jans/scim/service/PersonService.java
Labels: comp-jans-scim, kind-feature

#1329 feat(jans-config-api): fixed build issue due to LocalizedString change
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
Labels: comp-jans-config-api, kind-feature

#1330 feat(jans-core): compile java code on the fly for custom script
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalUmaRptPolicyService.java
  jans-bom/pom.xml
  jans-core/script/pom.xml
  jans-core/script/src/main/java/io/jans/model/custom/script/CustomScriptType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/model/CustomScript.java
  jans-core/script/src/main/java/io/jans/model/custom/script/model/ScriptError.java
  jans-core/script/src/main/java/io/jans/service/PythonService.java
  jans-core/script/src/main/java/io/jans/service/custom/script/CustomScriptManager.java
  jans-core/script/src/main/java/io/jans/service/custom/script/ExternalTypeCreator.java
  jans-core/script/src/main/java/io/jans/service/custom/script/StandaloneCustomScriptManager.java
  jans-core/script/src/test/java/io/jans/service/custom/script/test/SimpleJavaCompileTest.java
  jans-linux-setup/jans_setup/static/extension/discovery/Discovery.java
Labels: comp-jans-auth-server, comp-jans-core, kind-feature, comp-jans-bom

#1335 feat: jans-linux-setup load pure java sample custom script
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/setup_app/utils/crypto64.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/static/extension/discovery/discovery-python.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-feature, comp-jans-linux-setup

#1337 chore: add README #1336
  agama/README.md
  agama/engine/src/main/java/io/jans/agama/engine/service/ActionService.java
  agama/engine/src/main/java/io/jans/agama/engine/service/WebContext.java
Labels: kind-dependencies, area-documentation

#1345 fix: jans-linux-setup set log level to TRACE for test data
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: kind-bug, comp-jans-linux-setup

#1347 feat: allow flows to access their metadata properties #1340
  agama/engine/src/main/java/io/jans/agama/engine/script/LogUtils.java
  agama/engine/src/main/java/io/jans/agama/engine/script/ScriptUtils.java
  agama/engine/src/main/java/io/jans/agama/engine/service/FlowService.java
  agama/engine/src/main/java/io/jans/agama/engine/servlet/ExecutionServlet.java
  agama/model/src/main/java/io/jans/agama/model/FlowMetadata.java
  agama/transpiler/grammar/AuthnFlow.g4
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowBaseListener.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowBaseVisitor.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowLexer.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowListener.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowParser.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowVisitor.java
  agama/transpiler/src/main/resources/JSGenerator.ftl
Labels: kind-feature

#1351 feat(jans-config-api): user endpoint to expose custom attributes at root level
  agama/.gitignore
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/model/user/CustomUser.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
Labels: comp-jans-config-api, kind-feature

#1353 fix: use secure http urls for maven repositories
  jans-eleven/pom.xml
  jans-notify/pom.xml
Labels: kind-bug, comp-jans-eleven

#1391 feat: add schema updates #1390
  agama/README.md
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: area-documentation, kind-feature, comp-jans-linux-setup

#1393 fix(jans-config-api): removed encryption and decryption of user pas…
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
Labels: kind-bug, comp-jans-config-api

#1398 Jans eleven compile issue for crypto code
  jans-eleven/client/src/test/resources/testng.properties
  jans-eleven/client/src/test/resources/testng.xml
  jans-eleven/server/src/main/java/io/jans/eleven/service/PKCS11Service.java
Labels: comp-jans-eleven

#1396 chore: sync image manifests
  docker-jans-auth-server/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-client-api/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/scripts/utils.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim

#1368 chore(main): release jans-auth-server 1.0.0
  jans-auth-server/CHANGELOG.md
  jans-auth-server/client/pom.xml
  jans-auth-server/common/pom.xml
  jans-auth-server/model/pom.xml
  jans-auth-server/persistence-model/pom.xml
  jans-auth-server/pom.xml
  jans-auth-server/server/pom.xml
  jans-auth-server/static/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#1367 chore(main): release jans-client-api 1.0.0
  jans-client-api/CHANGELOG.md
  jans-client-api/client/pom.xml
  jans-client-api/common/pom.xml
  jans-client-api/gen-client/pom.xml
  jans-client-api/pom.xml
  jans-client-api/server/pom.xml
  jans-client-api/uma-rs-core/pom.xml
  jans-client-api/uma-rs-resteasy/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-client-api

#1366 chore(main): release jans-notify 1.0.0
  jans-notify/CHANGELOG.md
  jans-notify/client/pom.xml
  jans-notify/client2/pom.xml
  jans-notify/model/pom.xml
  jans-notify/pom.xml
  jans-notify/server/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation

#1365 chore(main): release jans-fido2 1.0.0
  jans-fido2/CHANGELOG.md
  jans-fido2/client/pom.xml
  jans-fido2/model/pom.xml
  jans-fido2/pom.xml
  jans-fido2/server/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#1364 chore(main): release jans-orm 1.0.0
  jans-orm/CHANGELOG.md
  jans-orm/annotation/pom.xml
  jans-orm/cdi/pom.xml
  jans-orm/core/pom.xml
  jans-orm/couchbase-sample/pom.xml
  jans-orm/couchbase/pom.xml
  jans-orm/filter/pom.xml
  jans-orm/hybrid/pom.xml
  jans-orm/ldap-sample/pom.xml
  jans-orm/ldap/pom.xml
  jans-orm/model/pom.xml
  jans-orm/pom.xml
  jans-orm/spanner-sample/pom.xml
  jans-orm/spanner/pom.xml
  jans-orm/sql-sample/pom.xml
  jans-orm/sql/pom.xml
  jans-orm/standalone/pom.xml
  jans-orm/util/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#1363 chore(main): release jans-config-api 1.0.0
  jans-config-api/CHANGELOG.md
  jans-config-api/common/pom.xml
  jans-config-api/plugins/admin-ui-plugin/pom.xml
  jans-config-api/plugins/fido2-plugin/pom.xml
  jans-config-api/plugins/pom.xml
  jans-config-api/plugins/sample/demo/pom.xml
  jans-config-api/plugins/sample/helloworld/pom.xml
  jans-config-api/plugins/scim-plugin/pom.xml
  jans-config-api/plugins/user-mgt-plugin/pom.xml
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
  jans-config-api/shared/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#1362 chore(main): release jans-eleven 1.0.0
  jans-eleven/CHANGELOG.md
  jans-eleven/client/pom.xml
  jans-eleven/model/pom.xml
  jans-eleven/pom.xml
  jans-eleven/server/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#1361 chore(main): release jans-bom 1.0.0
  jans-bom/CHANGELOG.md
  jans-bom/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#1359 chore(main): release jans-core 1.0.0
  jans-core/CHANGELOG.md
  jans-core/cache/pom.xml
  jans-core/cdi/pom.xml
  jans-core/demo-cdi/pom.xml
  jans-core/document-store/pom.xml
  jans-core/exception-extension-cdi/pom.xml
  jans-core/java-ext/pom.xml
  jans-core/jsf-util/pom.xml
  jans-core/model/pom.xml
  jans-core/pom.xml
  jans-core/radius/pom.xml
  jans-core/saml/pom.xml
  jans-core/script/pom.xml
  jans-core/security-extension-cdi/pom.xml
  jans-core/server/pom.xml
  jans-core/service/pom.xml
  jans-core/standalone/pom.xml
  jans-core/timer-weld/pom.xml
  jans-core/util/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#1358 chore(main): release jans-scim 1.0.0
  jans-scim/CHANGELOG.md
  jans-scim/client/pom.xml
  jans-scim/model/pom.xml
  jans-scim/pom.xml
  jans-scim/server/pom.xml
  jans-scim/service/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#1397 chore(agama): simplify engine configuration
  agama/engine/src/main/java/io/jans/agama/NativeJansFlowBridge.java
  agama/engine/src/main/java/io/jans/agama/engine/misc/FlowUtils.java
  agama/engine/src/main/java/io/jans/agama/engine/service/AgamaPersistenceService.java
  agama/engine/src/main/java/io/jans/agama/engine/service/AppInitializer.java
  agama/engine/src/main/java/io/jans/agama/engine/service/FlowService.java
  agama/engine/src/main/java/io/jans/agama/engine/service/ServicesFactory.java
  agama/engine/src/main/java/io/jans/agama/timer/ConfigReloader.java
  agama/misc/bridge.py
  agama/model/src/main/java/io/jans/agama/model/Config.java
  agama/model/src/main/java/io/jans/agama/model/EngineConfig.java
  agama/transpiler/grammar/AuthnFlow.interp
  agama/transpiler/grammar/AuthnFlow.tokens
  agama/transpiler/grammar/AuthnFlowLexer.interp
  agama/transpiler/grammar/AuthnFlowLexer.tokens
  agama/transpiler/src/main/java/io/jans/agama/dsl/Transpiler.java
  agama/transpiler/src/main/resources/util.js
Labels: kind-dependencies

#1403 fix(agama): adjust pom version #1402
  agama/engine/pom.xml
Labels: kind-bug

#1406 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#1407 chore(charts): update helm package
  automation/rancher-partner-charts/questions.yaml
  charts/index.yaml
  charts/janssen-1.0.0.tgz
  charts/janssen/Chart.yaml
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/Chart.yaml
  charts/janssen/charts/auth-server-key-rotation/README.md
  charts/janssen/charts/auth-server-key-rotation/values.yaml
  charts/janssen/charts/auth-server/Chart.yaml
  charts/janssen/charts/auth-server/README.md
  charts/janssen/charts/auth-server/values.yaml
  charts/janssen/charts/client-api/Chart.yaml
  charts/janssen/charts/client-api/README.md
  charts/janssen/charts/client-api/values.yaml
  charts/janssen/charts/config-api/Chart.yaml
  charts/janssen/charts/config-api/README.md
  charts/janssen/charts/config-api/values.yaml
  charts/janssen/charts/config/Chart.yaml
  charts/janssen/charts/config/README.md
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/charts/config/values.yaml
  charts/janssen/charts/fido2/Chart.yaml
  charts/janssen/charts/fido2/README.md
  charts/janssen/charts/fido2/values.yaml
  charts/janssen/charts/nginx-ingress/Chart.yaml
  charts/janssen/charts/nginx-ingress/README.md
  charts/janssen/charts/opendj/Chart.yaml
  charts/janssen/charts/opendj/README.md
  charts/janssen/charts/opendj/templates/configmaps.yaml
  charts/janssen/charts/opendj/templates/cronjobs.yaml
  charts/janssen/charts/opendj/templates/secrets.yaml
  charts/janssen/charts/opendj/templates/service.yaml
  charts/janssen/charts/opendj/templates/statefulset.yaml
  charts/janssen/charts/opendj/values.yaml
  charts/janssen/charts/persistence/Chart.yaml
  charts/janssen/charts/persistence/README.md
  charts/janssen/charts/persistence/values.yaml
  charts/janssen/charts/scim/Chart.yaml
  charts/janssen/charts/scim/README.md
  charts/janssen/charts/scim/values.yaml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
Labels: kind-dependencies, area-CI, area-documentation, comp-charts-jans

#1379 chore(main): release jans-cli 1.0.0
  jans-cli/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-cli

#1378 chore(main): release jans-linux-setup 1.0.0
  jans-linux-setup/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-linux-setup

#1377 chore(main): release jans-pycloudlib 1.0.0
  jans-pycloudlib/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-pycloudlib

#1376 chore(main): release docker-jans-fido2 1.0.0-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#1375 chore(main): release docker-jans-auth-server 1.0.0-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#1374 chore(main): release docker-jans-scim 1.0.0-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#1373 chore(main): release docker-jans-persistence-loader 1.0.0-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#1372 chore(main): release docker-jans-config-api 1.0.0-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#1371 chore(main): release docker-jans-configurator 1.0.0-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#1369 chore(main): release docker-jans-client-api 1.0.0-1
  docker-jans-client-api/CHANGELOG.md
  docker-jans-client-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-client-api, area-documentation

#1370 chore(main): release docker-jans-certmanager 1.0.0-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#1355 chore(main): release charts/janssen 1.0.0
  charts/janssen/CHANGELOG.md
  charts/janssen/Chart.yaml
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-charts-jans

#1357 chore(main): release docs 1.0.0
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#1380 chore(main): release 1.0.0
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#1433 chore(main): release jans-config-api 1.0.1-SNAPSHOT
  jans-config-api/common/pom.xml
  jans-config-api/plugins/admin-ui-plugin/pom.xml
  jans-config-api/plugins/fido2-plugin/pom.xml
  jans-config-api/plugins/pom.xml
  jans-config-api/plugins/sample/demo/pom.xml
  jans-config-api/plugins/sample/helloworld/pom.xml
  jans-config-api/plugins/scim-plugin/pom.xml
  jans-config-api/plugins/user-mgt-plugin/pom.xml
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
  jans-config-api/shared/pom.xml
Labels: kind-dependencies, comp-jans-config-api, autorelease: snapshot

#1431 chore(main): release jans-eleven 1.0.1-SNAPSHOT
  jans-eleven/client/pom.xml
  jans-eleven/model/pom.xml
  jans-eleven/pom.xml
  jans-eleven/server/pom.xml
Labels: kind-dependencies, comp-jans-eleven, autorelease: snapshot

#1430 chore(main): release jans-bom 1.0.1-SNAPSHOT
  jans-bom/pom.xml
Labels: kind-dependencies, comp-jans-bom, autorelease: snapshot

#1435 feat(jans-core): added test dependencies to scripts
  jans-bom/pom.xml
  jans-core/script/pom.xml
  jans-core/script/src/main/java/io/jans/service/custom/javacompiler/CachedCompilerA.java
  jans-core/script/src/main/java/io/jans/service/custom/javacompiler/JavaSourceFromString.java
  jans-core/script/src/main/java/io/jans/service/custom/javacompiler/MyJavaFileManager.java
  jans-core/script/src/main/java/io/jans/service/custom/script/ExternalTypeCreator.java
Labels: comp-jans-core, kind-feature, comp-jans-bom

#1439 fix(agama): depend on latest available artifacts
  agama/engine/pom.xml
  agama/pom.xml
Labels: kind-bug

#1441 chore: update config refresh logic and related files
  agama/engine/src/main/java/io/jans/agama/engine/misc/FlowUtils.java
  agama/engine/src/main/java/io/jans/agama/engine/service/ServicesFactory.java
  agama/engine/src/main/java/io/jans/agama/timer/ConfigReloaderEvent.java
  agama/misc/agama_web_resources.xml
  jans-auth-server/server/conf/jans-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: kind-dependencies, comp-jans-auth-server, comp-jans-linux-setup

#1442 feat: include the name of problematic attribute part of extension in the error response
  jans-scim/model/src/main/java/io/jans/scim/model/scim2/util/ResourceValidator.java
Labels: comp-jans-scim, kind-feature

#1444 build(images): update dependencies to 1.0.1-SNAPSHOT
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/Makefile
  docker-jans-auth-server/README.md
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/Makefile
  docker-jans-certmanager/README.md
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/Makefile
  docker-jans-config-api/README.md
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/Makefile
  docker-jans-configurator/README.md
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/Makefile
  docker-jans-fido2/README.md
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/Makefile
  docker-jans-persistence-loader/README.md
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-scim/Dockerfile
  docker-jans-scim/Makefile
  docker-jans-scim/README.md
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation

#1447 feat(agama): improve flows timeout
  agama/engine/src/main/java/io/jans/agama/NativeJansFlowBridge.java
  agama/engine/src/main/java/io/jans/agama/engine/misc/FlowUtils.java
  agama/engine/src/main/java/io/jans/agama/engine/model/FlowStatus.java
  agama/engine/src/main/java/io/jans/agama/engine/service/AgamaPersistenceService.java
  agama/engine/src/main/java/io/jans/agama/engine/service/FlowService.java
  agama/engine/src/main/java/io/jans/agama/engine/service/ServicesFactory.java
  agama/engine/src/main/java/io/jans/agama/engine/servlet/RestartServlet.java
  agama/engine/src/main/java/io/jans/agama/timer/Transpilation.java
  agama/model/src/main/java/io/jans/agama/model/EngineConfig.java
  agama/model/src/main/java/io/jans/agama/model/FlowMetadata.java
  agama/transpiler/grammar/AuthnFlow.g4
  agama/transpiler/grammar/AuthnFlow.interp
  agama/transpiler/grammar/AuthnFlow.tokens
  agama/transpiler/grammar/AuthnFlowLexer.interp
  agama/transpiler/grammar/AuthnFlowLexer.tokens
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowBaseListener.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowBaseVisitor.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowLexer.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowListener.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowParser.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowVisitor.java
  agama/transpiler/src/main/java/io/jans/agama/dsl/TranspilationResult.java
  agama/transpiler/src/main/java/io/jans/agama/dsl/Transpiler.java
  jans-auth-server/server/conf/jans-config.json
  jans-linux-setup/jans_setup/static/extension/person_authentication/AgamaBridge.py
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/jetty/agama_web_resources.xml
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#1437 feat: jans-cli --no-suggestion for automated testing
  jans-cli/cli/config_cli.py
Labels: comp-jans-cli, kind-feature, enhancement

#1461 feat(jans-core): added StandaloneJavaCustomScriptManagerTest
  jans-core/script/src/test/java/io/jans/service/custom/script/test/java/StandaloneJavaCustomScriptManagerTest.java
Labels: kind-enhancement, comp-jans-core

#1460 fix(jans-scim): remove jans-auth-common dep to avoid startup issues
  jans-scim/service/pom.xml
  jans-scim/service/src/main/java/io/jans/scim/service/ExternalIdGeneratorService.java
  jans-scim/service/src/main/java/io/jans/scim/service/GroupService.java
  jans-scim/service/src/main/java/io/jans/scim/service/PersonService.java
Labels: kind-bug, area-CI, comp-jans-scim

#1466 feat: need endpoint to get details of connected FIDO devices registered to users #1465
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/admin-ui-plugin/pom.xml
  jans-config-api/plugins/fido2-plugin/pom.xml
  jans-config-api/plugins/fido2-plugin/src/main/assembly/assembly.xml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/ApiApplication.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/Fido2RegistrationResource.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/Fido2RegistrationService.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/util/Constants.java
Labels: comp-jans-config-api, kind-feature

#1471 build(jans-config-api): fixed client-api dependency for admin-ui
  jans-config-api/plugins/admin-ui-plugin/pom.xml
Labels: kind-dependencies, comp-jans-config-api

#1472 feat: jans linux setup openbanking CLI and certificate automation
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/openbanking/.borrows
  jans-linux-setup/jans_setup/openbanking/static/ob-gluu-test.key
  jans-linux-setup/jans_setup/openbanking/templates/apache/https_jans.conf
  jans-linux-setup/jans_setup/openbanking/templates/attributes.ldif
  jans-linux-setup/jans_setup/openbanking/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/openbanking/templates/scopes.ldif
  jans-linux-setup/jans_setup/openbanking/templates/scripts.ldif
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/httpd.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/static.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/crypto64.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/templates/jans-cli/.#client.ldif
Labels: kind-bug, comp-jans-cli, kind-feature, enhancement, comp-jans-linux-setup

#1473 feat: fix the dependencies and code issues #1465
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/plugins/admin-ui-plugin/pom.xml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/Fido2RegistrationService.java
Labels: comp-jans-config-api, kind-feature

#1475 fix(jans-orm):sql localizedstring persistence SqlEntryManager
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlEntryManager.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-orm

#1476 fix: jans-linux-setup multiple argument --import-ldif
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
Labels: kind-bug, comp-jans-linux-setup

#1477 feat(jans-config-api): enhancement to expose user inum at root level …
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/model/user/CustomUser.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
Labels: comp-jans-config-api, kind-feature
