Repository JanssenProject/jans, pull requests merged in 2022-12, with the labels that each got.

#3144 chore(main): release jans-scim 1.0.5
  jans-scim/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#3150 chore(main): release jans-fido2 1.0.5
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#3151 chore(main): release jans-orm 1.0.5
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#3154 chore(main): release jans-bom 1.0.5
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#3155 chore(main): release jans-notify 1.0.5
  jans-notify/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#3156 chore(main): release jans-eleven 1.0.5
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#3157 chore(main): release jans-config-api 1.0.5
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#3158 chore(main): release jans-core 1.0.5
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#3166 chore(main): release docker-jans-auth-server 1.0.5-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#3167 chore(main): release docker-jans-certmanager 1.0.5-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#3168 chore(main): release docker-jans-persistence-loader 1.0.5-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#3169 chore(main): release docker-jans-scim 1.0.5-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#3170 chore(main): release docker-jans-configurator 1.0.5-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#3171 chore(main): release docker-jans-fido2 1.0.5-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#3172 chore(main): release docker-jans-config-api 1.0.5-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#3182 chore(main): release jans-pycloudlib 1.0.5
  jans-pycloudlib/CHANGELOG.md
  jans-pycloudlib/jans/pycloudlib/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-pycloudlib

#3184 chore(main): release jans-cli-tui 1.0.5
  jans-cli-tui/CHANGELOG.md
  jans-cli-tui/cli_tui/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-cli-tui

#3186 chore(main): release jans-linux-setup 1.0.5
  jans-linux-setup/CHANGELOG.md
  jans-linux-setup/jans_setup/setup_app/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-linux-setup

#3188 chore(main): release 1.0.5
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#3109 feat(jans-auth-server): draft for - improve dcr / ssa validation for dynamic registration #2980
  docs/admin/auth-server/endpoints/client-registration.md
  jans-auth-server/model/src/main/java/io/jans/as/model/common/SoftwareStatementValidationType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaValidationConfig.java
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaValidationType.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/SsaValidationConfigContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/SsaValidationConfigService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/register/ws/rs/SsaValidationConfigServiceTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: comp-jans-auth-server, kind-feature

#3199 fix: app_info.json value of JANS_BUILD
  jans-linux-setup/jans_setup/app_info.json
Labels: kind-bug, comp-jans-linux-setup

#3200 chore(jans-core): avoid jans-auth-model dependency in uma-rs-core module #2826
  jans-core/uma-rs-core/pom.xml
  jans-core/uma-rs-core/src/main/java/io/jans/ca/rs/protect/Condition.java
  jans-core/uma-rs-core/src/main/java/io/jans/ca/rs/protect/JsonLogicNode.java
  jans-core/uma-rs-core/src/main/java/io/jans/ca/rs/protect/RsResource.java
Labels: kind-enhancement, comp-jans-core

#3206 docs: fix the formatting
  docs/admin/fido/README.md
Labels: area-documentation

#3204 Feature: Block authentication flow originating from a web view (mobile app)
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidatorTest.java
  jans-linux-setup/jans_setup/openbanking/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: comp-jans-auth-server, comp-jans-linux-setup

#3189 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#3209 docs: steps for running Jans integ tests against an installed Janssen Server
  docs/assets/image-run-integ-test-jans-vm.png
  docs/assets/image-run-integration-test-from-workspace-06122022.png
  docs/developer/development.md
Labels: area-documentation

#3214 Summary Page Updates
  docs/admin/auth-server/README.md
  docs/admin/auth-server/config.md
  docs/admin/install/README.md
  docs/admin/vm-ops/README.md
Labels: area-documentation

#3228 feat(jans-linux-setup): update setup to support ADS projects
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
  jans-linux-setup/jans_setup/templates/agama.ldif
Labels: kind-feature, comp-jans-linux-setup

#3236 First draft README for Auth Sever
  docs/admin/auth-server/README.md
  docs/admin/auth-server/crypto/supported-algorithms.md
  docs/admin/vm-ops/README.md
Labels: area-documentation

#3242 feat(jans-core): added AES utility class #3215
  jans-core/util/pom.xml
  jans-core/util/src/main/java/io/jans/util/security/AESUtil.java
  jans-core/util/src/test/java/io/jans/util/security/AESUtilTest.java
Labels: kind-enhancement

#3249 fix: jans-linux setup enable couchbase for packages
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#3262 feat: add endpoints for MVP ADS projects management
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ADSDeploymentsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ADSDeploymentsService.java
Labels: comp-jans-config-api, kind-feature

#3266 fix: jans-linux-setup longtext for pgsql
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-bug, comp-jans-linux-setup

#3202 jans-cli-tui features/bug fixes
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_oxauth/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_oxauth/edit_scope_dialog.py
  jans-cli-tui/cli_tui/plugins/010_oxauth/main.py
  jans-cli-tui/cli_tui/plugins/020_fido/main.py
  jans-cli-tui/cli_tui/plugins/030_scim/main.py
  jans-cli-tui/cli_tui/plugins/060_scripts/main.py
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
  jans-cli-tui/cli_tui/utils/utils.py
  jans-cli-tui/setup.py
Labels: comp-jans-cli-tui, comp-jans-linux-setup

#3281 fix: fix config-api agama flow dn generation
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaFlowService.java
Labels: kind-bug, comp-jans-config-api

#3291 feat(jans-auth-server): end session - if id_token is expired but signature is correct, we should make attempt to look up session by "sid" claim #3231
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImpl.java
Labels: comp-jans-auth-server, kind-feature

#3285 Feature: Remove ox properties name
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/JwtAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/ApplicationTypeRestrictionHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizationCodeFlowHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizeRestWebServiceHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/ClientLanguageMetadataTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/ClientSecretBasicTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/EnableClientToRestrictJavascriptOrigin.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/TokenEncryptionHttpDeprecated.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/TokenRevocationTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/ValidateIdTokenHashesTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/deviceauthz/DeviceAuthzFlowHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/par/ParHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/token/NativeSsoHttpTest.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/CryptoProviderFactory.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwt/JwtClaimName.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/IdTokenFactory.java
  jans-linux-setup/jans_setup/openbanking/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: comp-jans-auth-server, comp-jans-linux-setup

#3293 feat(config-api): health check response rectification and Agama ADS swagger spec
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/health/ApiHealthCheck.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ADSDeploymentsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaFlowService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AttributeService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ClientService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ScopeService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/UmaResourceService.java
  jans-core/service/src/main/java/io/jans/service/custom/CustomScriptService.java
Labels: comp-jans-config-api, comp-jans-core, kind-feature

#3290 fix: jans-linux-setup set db component based on dn
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/templates/jans-auth/role-scope-mappings.ldif
  jans-linux-setup/jans_setup/templates/jans-config-api/auiConfiguration.properties
Labels: kind-bug, comp-jans-linux-setup

#3306 feat(docs): jans TUI SCIM configuration feature - screenshot1
  docs/assets/Janssen_TUI_SCIM_1.png
Labels: area-documentation, kind-feature

#3301 Docs: configapi edits
  docs/admin/config-api/README.md
  docs/admin/config-api/attribute.md
  docs/admin/config-api/config.md
  docs/admin/config-api/openid-client.md
  docs/admin/config-api/plugins.md
  mkdocs.yml
Labels: area-documentation

#3313 fix: jans-linux-setup agama test data file locations
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: kind-bug, comp-jans-linux-setup

#3254 docs: config cli rework
  docs/admin/config-guide/jans-cli/README.md
  docs/admin/config-guide/jans-cli/im/im-attribute.md
  docs/admin/config-guide/jans-cli/im/im-authentication-method.md
  docs/admin/config-guide/jans-cli/im/im-cache-configuration.md
  docs/admin/config-guide/jans-cli/im/im-couchbase-configuration.md
  docs/admin/config-guide/jans-cli/im/im-custom-scripts.md
  docs/admin/config-guide/jans-cli/im/im-group.md
  docs/admin/config-guide/jans-cli/im/im-index.md
  docs/admin/config-guide/jans-cli/im/im-jans-authorization-server.md
  docs/admin/config-guide/jans-cli/im/im-janssen-fido2.md
  docs/admin/config-guide/jans-cli/im/im-janssen-logging-configuration.md
  docs/admin/config-guide/jans-cli/im/im-json-web-key.md
  docs/admin/config-guide/jans-cli/im/im-ldap-configuration.md
  docs/admin/config-guide/jans-cli/im/im-oauth-scopes.md
  docs/admin/config-guide/jans-cli/im/im-openid-connect-clients.md
  docs/admin/config-guide/jans-cli/im/im-smtp-server-configuration.md
  docs/admin/config-guide/jans-cli/im/im-uma-resources.md
  docs/admin/config-guide/jans-cli/im/im-user.md
  docs/admin/config-guide/jans-cli/index.md
  mkdocs.yml
Labels: area-documentation

#3317 chore: make ADS listing 0-based index
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ADSDeploymentsResource.java
Labels: kind-dependencies, comp-jans-config-api

#3331 docs: minor corrections
  docs/admin/developer/customization/customize-web-pages.md
Labels: area-documentation

#3330 fix: catch org.eclipse.jetty.http.BadMessageException: in
  jans-auth-server/server/src/main/java/io/jans/as/server/filter/CorsFilter.java
Labels: kind-bug, comp-jans-auth-server

#3328 ci: introduce release number marker for documentation
  .github/workflows/build-docs.yml
  docs/CONTRIBUTING.md
Labels: area-CI, area-documentation

#3346 fix(jans-auth-server): changed getAttributeValues to getAttributeObje…
  jans-auth-server/common/src/main/java/io/jans/as/common/model/common/SimpleUser.java
Labels: kind-bug, comp-jans-auth-server

#3354 Download ubuntu package to /tmp not home directory
  docs/admin/install/vm-install/ubuntu.md
Labels: area-documentation

#3357 docs: removed Jans Eleven auth guide
  docs/admin/eleven/README.md
  docs/admin/eleven/auth-server-test.md
  docs/admin/eleven/cloudhsm.md
  docs/admin/eleven/config.md
  docs/admin/eleven/google-key-mgt.md
  docs/admin/eleven/health.md
  docs/admin/eleven/logs.md
  docs/admin/eleven/monitoring.md
  docs/admin/eleven/softhsm.md
  docs/admin/eleven/supported-algs.md
  mkdocs.yml
Labels: area-documentation

#3349 Feature: Date Formatter configuration for userinfo endpoint
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/userinfo/UserInfoConfiguration.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/java/io/jans/as/server/userinfo/ws/rs/UserInfoRestWebServiceImpl.java
  jans-linux-setup/jans_setup/openbanking/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: comp-jans-auth-server, comp-jans-linux-setup

#3369 feat(config-api): audit log, agama ADS spec, fix for 0 index search
  jans-auth-server/common/src/main/java/io/jans/as/common/model/registration/Client.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/ApiAppConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AuditLogConf.java
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/interceptor/AuditLogInterceptor.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ADSDeploymentsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ClientService.java
  jans-config-api/server/src/main/java/io/jans/configapi/util/AuthUtil.java
  jans-config-api/server/src/main/resources/META-INF/beans.xml
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/server/src/main/resources/log4j2.xml
  jans-config-api/shared/src/main/java/io/jans/configapi/core/interceptor/RequestAuditInterceptor.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/interceptor/RequestInterceptor.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-jans-linux-setup

#3371 test: write agama tests that call Java script code
  agama/transpiler/src/main/resources/JSGenerator.ftl
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/misc/PrimitiveUtils.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/script/ScriptUtils.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/ActionService.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/FlowService.java
  jans-auth-server/agama/engine/src/test/java/io/jans/agama/test/InvocationsTest.java
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.invocations
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.invocations2
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.invocations3
  jans-auth-server/agama/engine/src/test/resources/testng.xml
  jans-linux-setup/jans_setup/templates/test/agama/agama-test-data.ldif
Labels: area-CI, comp-jans-auth-server, comp-jans-linux-setup, comp-agama

#3375 chore(agama): upload missing Java/Groovy files for tests
  jans-auth-server/agama/engine/src/test/resources/libs/co/ListUtil.java
  jans-auth-server/agama/engine/src/test/resources/libs/co/MyInterface.java
  jans-auth-server/agama/engine/src/test/resources/libs/co/SubTest.java
  jans-auth-server/agama/engine/src/test/resources/libs/co/Test.java
  jans-auth-server/agama/engine/src/test/resources/libs/co/coo/Foo.groovy
  jans-auth-server/agama/engine/src/test/resources/libs/co/coo/Foobar.groovy
Labels: kind-dependencies, comp-jans-auth-server, comp-agama

#3376 fix: jans-linux-setup copy libs directory of agama test data
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: kind-bug, comp-jans-linux-setup

#3370 docs: unlisted script catalog from navigation
  mkdocs.yml
Labels: area-documentation

#3382 Fix: when obtain new token using refresh token
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenExchangeService.java
Labels: comp-jans-auth-server

#3387 fix(jans-auth-server): Duplicate iss and aud on introspection as jwt #3366
  jans-auth-server/model/src/main/java/io/jans/as/model/jwt/JwtClaimSet.java
  jans-auth-server/model/src/test/java/io/jans/as/model/jwt/JwtClaimsTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/introspection/ws/rs/IntrospectionWebService.java
Labels: kind-bug, comp-jans-auth-server

#3391 TUI Docs update
  docs/admin/config-guide/tui.md
Labels: area-documentation

#3393 fix: use correct Ubuntu version in README
  README.md
Labels: kind-bug, area-documentation

#3397 docs: add ropc script
  docs/admin/developer/scripts/post-authentication.md
  docs/admin/developer/scripts/ropc.md
  docs/admin/developer/scripts/rpoc.md
  mkdocs.yml
Labels: area-documentation

#3399 fix: TUI client pre-authorized
  jans-linux-setup/jans_setup/templates/jans-cli/client.ldif
Labels: kind-bug, comp-jans-linux-setup

#3404 fix: jans-linux-setup centos/rhel pgsql installation
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/utils/package_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/setup_utils.py
Labels: kind-bug, comp-jans-linux-setup

#3411 fix: jans-linux-setup opPolicyUri and opTosUri
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: kind-bug, comp-jans-linux-setup

#3413 feat(config-api): client claim enhancement, manual spec removed
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/configuration/AppInitializer.java
  jans-config-api/server/src/main/java/io/jans/configapi/interceptor/AuditLogInterceptor.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/api/ApiProtectionService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AttributeService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ClientService.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/shared/src/main/java/io/jans/configapi/core/interceptor/RequestAuditInterceptor.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/interceptor/RequestInterceptor.java
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup

#3403 fix: user attributes not updated #2753
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ClientService.java
  jans-scim/service/src/main/java/io/jans/scim/service/PersonService.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-scim

#3417 docs: add revoke token
  docs/admin/developer/scripts/revoke-token.md
Labels: area-documentation

#3422 fix: jans-linux-setup remove dependency to removed dependency yaml
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
Labels: kind-bug, comp-jans-linux-setup

#3425 feat(jans-auth-server): added externalUriWhiteList configuration property before call external uri from AS #3130
  jans-auth-server/agama/engine/pom.xml
  jans-auth-server/agama/model/pom.xml
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/SsaValidationConfigService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/net/UriService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/net/UriServiceTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: comp-jans-auth-server, kind-feature

#3426 docs: add steps for enabling logs
  docs/developer/developer-faq.md
Labels: area-documentation

#3432 fix: jans-linux-setup load test data with jans-auth only
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/templates/test/jans-auth/server/config-oxauth-test-data.properties
Labels: kind-bug, comp-jans-linux-setup

#3412 chore(docker-jans-images): sync assets for images
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/requirements.txt
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/plugins.py
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-config-api/scripts/utils.py
  docker-jans-config-api/templates/jans-config-api/clients.ldif
  docker-jans-config-api/templates/jans-config-api/scim-scopes.ldif
  docker-jans-config-api/templates/jans-config-api/scopes.ldif
  docker-jans-configurator/scripts/bootstrap.py
  docker-jans-fido2/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/requirements.txt
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/scripts/utils.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-jans-config-api

#3434 fix: fix token indexes and clnId type
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/static/rdbm/mysql_index.json
  jans-linux-setup/jans_setup/static/rdbm/pgsql_index.json
  jans-linux-setup/jans_setup/static/rdbm/spanner_index.json
Labels: kind-bug, comp-jans-linux-setup

#3423 Docs: config api move
  docs/admin/auth-server/crypto/keys.md
  docs/admin/config-guide/config-api/README.md
  docs/admin/config-guide/config-api/attribute.md
  docs/admin/config-guide/config-api/config.md
  docs/admin/config-guide/config-api/logs.md
  docs/admin/config-guide/config-api/monitoring.md
  docs/admin/config-guide/config-api/openid-client.md
  docs/admin/config-guide/config-api/plugins.md
  docs/admin/config-guide/config-api/security.md
  mkdocs.yml
Labels: area-documentation

#3439 chore(prometheus): exclude optional prometheus exporter from images
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/entrypoint.sh
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/entrypoint.sh
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/entrypoint.sh
  docker-jans-scim/Dockerfile
  docker-jans-scim/scripts/entrypoint.sh
Labels: kind-dependencies, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim

#3446 docs: document userinfo endpoint
  docs/admin/auth-server/endpoints/userinfo.md
  docs/assets/image-tui-enable-components.png
Labels: area-documentation

#3450 docs: fix spellings
  docs/admin/developer/scripts/dynamic-scope.md
  docs/admin/developer/scripts/uma-rpt.md
Labels: area-documentation

#3455 docs: document authorization endpoint
  docs/admin/auth-server/endpoints/authorization.md
Labels: area-documentation

#3456 fix: jans-linux-setup enable mysqld on boot for el8
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
Labels: kind-bug, comp-jans-linux-setup

#3462 docs: script references
  docs/admin/developer/scripts/client-registration.md
  docs/admin/developer/scripts/consent-gathering.md
  docs/admin/developer/scripts/dynamic-scope.md
  docs/admin/developer/scripts/end-session.md
  docs/admin/developer/scripts/id-generator.md
  docs/admin/developer/scripts/introspection.md
  docs/admin/developer/scripts/post-authentication.md
  docs/admin/developer/scripts/revoke-token.md
  docs/admin/developer/scripts/ropc.md
  docs/admin/developer/scripts/uma-rpt.md
Labels: area-documentation

#3465 docs: Auth Server Guide / id_token
  docs/admin/auth-server/session-management/multiple-sessions-one-browser.md
  docs/admin/auth-server/tokens/openid-id-token.md
Labels: area-documentation

#3467 feat(jans-auth-server): renamed "code"->"random" uniqueness claims of id_token to avoid confusion with Authorization Code Flow #3466
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/IdTokenFactory.java
Labels: comp-jans-auth-server

#3470 Fix: Parse String from Object
  jans-auth-server/model/src/main/java/io/jans/as/model/jwt/JwtClaimSet.java
Labels: comp-jans-auth-server
