Repository JanssenProject/jans, pull requests merged in 2022-06, with the labels that each got.

#1488 chore(agama): complete integration of agama to auth-server
  jans-auth-server/server/pom.xml
  jans-auth-server/server/src/main/resources/log4j2.xml
  jans-auth-server/server/src/main/resources/quartz.properties
  jans-auth-server/server/src/main/webapp/agama.xhtml
Labels: kind-dependencies, comp-jans-auth-server

#1492 fix: jans app and java version
  jans-linux-setup/jans_setup/app_info.json
Labels: kind-bug, comp-jans-linux-setup

#1495 fix: jans-linux-setup remove temporary link file
  jans-linux-setup/jans_setup/templates/jans-cli/.#client.ldif
Labels: kind-bug, comp-jans-cli, comp-jans-linux-setup

#1501 feat(jans-config-api): agama configuration integration
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigResource.java
Labels: comp-jans-config-api, kind-feature

#1497 chore: update images dependencies
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/jetty/agama_web_resources.xml
  docker-jans-auth-server/jetty/log4j2.xml
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/scripts/utils.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim

#1506 chore(Dockerfiles): updated janspycloud build in cn-merge-hybrid
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#1508 fix: add path parameter to /fido2/registration/entries #1465
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, comp-jans-config-api

#1478 fix: jans-cli help message format and prompt values (ref: #1352)
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli

#1510 fix: jans-cli hide menu item
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli

#1505 feat: introduce new hybrid persistence mapping
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/README.md
  docker-jans-auth-server/requirements.txt
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-auth-server/scripts/keystore_mod.py
  docker-jans-auth-server/scripts/wait.py
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/README.md
  docker-jans-certmanager/requirements.txt
  docker-jans-certmanager/scripts/auth_handler.py
  docker-jans-client-api/Dockerfile
  docker-jans-client-api/README.md
  docker-jans-client-api/requirements.txt
  docker-jans-client-api/scripts/bootstrap.py
  docker-jans-client-api/scripts/wait.py
  docker-jans-client-api/templates/jans-spanner.properties.tmpl
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/requirements.txt
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/utils.py
  docker-jans-config-api/scripts/wait.py
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/README.md
  docker-jans-fido2/requirements.txt
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-fido2/scripts/wait.py
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/README.md
  docker-jans-persistence-loader/requirements.txt
  docker-jans-persistence-loader/scripts/couchbase_setup.py
  docker-jans-persistence-loader/scripts/hybrid_setup.py
  docker-jans-persistence-loader/scripts/ldap_setup.py
  docker-jans-persistence-loader/scripts/settings.py
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/scripts/utils.py
  docker-jans-persistence-loader/scripts/wait.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/README.md
  docker-jans-scim/requirements.txt
  docker-jans-scim/scripts/bootstrap.py
  docker-jans-scim/scripts/wait.py
  jans-pycloudlib/jans/pycloudlib/__init__.py
  jans-pycloudlib/jans/pycloudlib/constants.py
  jans-pycloudlib/jans/pycloudlib/persistence/__init__.py
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
  jans-pycloudlib/jans/pycloudlib/persistence/hybrid.py
  jans-pycloudlib/jans/pycloudlib/persistence/utils.py
  jans-pycloudlib/jans/pycloudlib/validators.py
  jans-pycloudlib/jans/pycloudlib/wait.py
  jans-pycloudlib/tests/conftest.py
  jans-pycloudlib/tests/test_persistence.py
  jans-pycloudlib/tests/test_validators.py
  jans-pycloudlib/tests/test_wait.py
  jans-pycloudlib/tox.ini
Labels: comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, kind-feature, comp-jans-pycloudlib

#1512 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#1516 fix: jans-linux-setup add gcs path after packages check (ref: #1514)
  jans-linux-setup/jans_setup/jans_setup.py
Labels: kind-bug, comp-jans-linux-setup

#1518 feat: jans-cli tabulate scim user list
  jans-cli/cli/config_cli.py
Labels: comp-jans-cli, kind-feature

#1521 chore(Dockerfiles): updated janspycloud build in cn-reconfigure-logging
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#1515 refactor: re-configure logging for jans.pycloudlib logger
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/conf/jans.properties.tmpl
  docker-jans-auth-server/requirements.txt
  docker-jans-auth-server/scripts/wait.py
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-client-api/scripts/wait.py
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/requirements.txt
  docker-jans-config-api/scripts/wait.py
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/conf/jans.properties.tmpl
  docker-jans-fido2/requirements.txt
  docker-jans-fido2/scripts/wait.py
  docker-jans-persistence-loader/requirements.txt
  docker-jans-persistence-loader/scripts/wait.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/conf/jans.properties.tmpl
  docker-jans-scim/requirements.txt
  docker-jans-scim/scripts/wait.py
  jans-pycloudlib/setup.py
Labels: kind-enhancement, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim

#1523 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#1524 feat(jans-auth-server): add support for ranges in statistic endpoint (UI team request)
  jans-auth-server/server/src/main/java/io/jans/as/server/service/stat/StatResponseService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ws/rs/stat/Months.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ws/rs/stat/StatWS.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/stat/StatResponseServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/stat/MonthsTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: comp-jans-auth-server, kind-feature

#1525 fix: jans-cli user list failing for empty customAttributes
  jans-cli/cli/config_cli.py
Labels: kind-bug, comp-jans-cli

#1526 chore(agama): avoid serialization of managed beans
  agama/engine/pom.xml
  agama/engine/src/main/java/io/jans/agama/engine/page/Page.java
  agama/engine/src/main/java/io/jans/agama/engine/script/ScriptUtils.java
  agama/engine/src/main/java/io/jans/agama/engine/serialize/ContinuationSerializer.java
  agama/engine/src/main/java/io/jans/agama/engine/serialize/NativeJavaBox.java
  agama/engine/src/main/java/io/jans/agama/engine/serialize/ObjectSerializer.java
  agama/engine/src/main/java/io/jans/agama/engine/serialize/SerializerFactory.java
  agama/engine/src/main/java/io/jans/agama/engine/service/ActionService.java
  agama/engine/src/main/java/io/jans/agama/engine/service/ManagedBeanService.java
  agama/engine/src/main/java/io/jans/agama/engine/service/ServicesFactory.java
Labels: kind-dependencies

#1538 fix: jans-linux-setup add gcs module path for downloading apps
  jans-linux-setup/jans_setup/setup_app/downloads.py
Labels: kind-bug, comp-jans-linux-setup

#1544 docs: add claims release to mod_auth_openidc
  docs/user/how-to/authn-with-apache-reverse-proxy.md
Labels: area-documentation

#1545 docs: fix links to contributing guide and CoC
  docs/README.md
Labels: area-documentation

#1542 fix: Jans cli user userpassword
  jans-cli/cli/config_cli.py
  jans-linux-setup/jans_setup/templates/jans-auth/people.ldif
Labels: kind-bug, comp-jans-cli, comp-jans-linux-setup

#1548 Jans config api 418
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserService.java
Labels: comp-jans-config-api

#1540 feat: add newly redesigned jans-client-api
  automation/rancher-partner-charts/questions.yaml
  charts/janssen/README.md
  charts/janssen/charts/config/README.md
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/charts/config/values.yaml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
  docker-jans-client-api/.dockerignore
  docker-jans-client-api/Dockerfile
  docker-jans-client-api/Makefile
  docker-jans-client-api/README.md
  docker-jans-client-api/jetty/jans-client-api.xml
  docker-jans-client-api/jetty/jetty-env.xml
  docker-jans-client-api/jetty/log4j2.xml
  docker-jans-client-api/scripts/bootstrap.py
  docker-jans-client-api/scripts/entrypoint.sh
  docker-jans-client-api/templates/client-api-server.yml.tmpl
  docker-jans-client-api/templates/jans.properties.tmpl
Labels: comp-docker-jans-client-api, area-CI, area-documentation, kind-feature, comp-charts-jans

#1569 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#1572 feat: add support for requestUriBlockList config
  docker-jans-auth-server/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, kind-feature

#1573 feat: expose prometheus metrics via jmx exporter
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/README.md
  docker-jans-auth-server/conf/prometheus-config.yaml
  docker-jans-auth-server/scripts/entrypoint.sh
  docker-jans-client-api/.dockerignore
  docker-jans-client-api/Dockerfile
  docker-jans-client-api/README.md
  docker-jans-client-api/conf/jans-couchbase.properties.tmpl
  docker-jans-client-api/conf/jans-ldap.properties.tmpl
  docker-jans-client-api/conf/jans-spanner.properties.tmpl
  docker-jans-client-api/conf/jans-sql.properties.tmpl
  docker-jans-client-api/conf/jans.properties.tmpl
  docker-jans-client-api/conf/prometheus-config.yaml
  docker-jans-client-api/conf/salt.tmpl
  docker-jans-client-api/scripts/entrypoint.sh
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/conf/prometheus-config.yaml
  docker-jans-config-api/scripts/entrypoint.sh
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/README.md
  docker-jans-fido2/conf/prometheus-config.yaml
  docker-jans-fido2/scripts/entrypoint.sh
  docker-jans-scim/Dockerfile
  docker-jans-scim/README.md
  docker-jans-scim/conf/prometheus-config.yaml
  docker-jans-scim/scripts/entrypoint.sh
Labels: comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, kind-feature

#1576 chore(jans-auth-server): resolve cycle dependency between fido2 and jans-auth
  jans-auth-server/server/pom.xml
  jans-auth-server/server/src/main/java/io/jans/as/server/service/UserService.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/Fido2RegistrationResource.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/Fido2RegistrationService.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/entry/Fido2AuthenticationData.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/entry/Fido2AuthenticationEntry.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/RegistrationPersistenceService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/AppleAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/PackedAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/U2FAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AndroidKeyAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AndroidSafetyNetAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AppleAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/NoneAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/PackedAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/TPMProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/U2FAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processors/AssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processors/AttestationFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/AssertionVerifier.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/AttestationVerifier.java
  jans-fido2/server/src/main/java/io/jans/u2f/service/persist/DeviceRegistrationService.java
  jans-orm/model/pom.xml
  jans-orm/model/src/main/java/io/jans/orm/model/fido2/Fido2Data.java
  jans-orm/model/src/main/java/io/jans/orm/model/fido2/Fido2Entry.java
  jans-orm/model/src/main/java/io/jans/orm/model/fido2/Fido2RegistrationData.java
  jans-orm/model/src/main/java/io/jans/orm/model/fido2/Fido2RegistrationEntry.java
  jans-orm/model/src/main/java/io/jans/orm/model/fido2/Fido2RegistrationStatus.java
Labels: kind-enhancement, kind-dependencies, comp-jans-auth-server, comp-jans-config-api, comp-jans-fido2, comp-jans-orm

#1582 refactor(pycloudlib): add more typehint on manager, secret, and config modules
  jans-pycloudlib/README.md
  jans-pycloudlib/docs/conf.py
  jans-pycloudlib/docs/config.rst
  jans-pycloudlib/docs/manager.rst
  jans-pycloudlib/docs/secret.rst
  jans-pycloudlib/jans/pycloudlib/config/base_config.py
  jans-pycloudlib/jans/pycloudlib/config/consul_config.py
  jans-pycloudlib/jans/pycloudlib/config/google_config.py
  jans-pycloudlib/jans/pycloudlib/config/kubernetes_config.py
  jans-pycloudlib/jans/pycloudlib/manager.py
  jans-pycloudlib/jans/pycloudlib/secret/base_secret.py
  jans-pycloudlib/jans/pycloudlib/secret/google_secret.py
  jans-pycloudlib/jans/pycloudlib/secret/kubernetes_secret.py
  jans-pycloudlib/jans/pycloudlib/secret/vault_secret.py
  jans-pycloudlib/pyproject.toml
  jans-pycloudlib/tests/conftest.py
  jans-pycloudlib/tests/test_config.py
  jans-pycloudlib/tests/test_manager.py
  jans-pycloudlib/tests/test_secret.py
Labels: kind-enhancement, area-documentation, comp-jans-pycloudlib

#1587 feat: jans-linux-setup add forgot password script
  jans-linux-setup/jans_setup/setup_app/utils/crypto64.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-feature, comp-jans-linux-setup

#1589 fix: update external modules for otp/fido2
  docker-jans-auth-server/Dockerfile
  docker-jans-fido2/Dockerfile
Labels: kind-bug, comp-docker-jans-auth-server, comp-docker-jans-fido2

#1590 fix: a workaround for fido2 dependency
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/entrypoint.sh
Labels: kind-bug, comp-docker-jans-auth-server

#1595 fix: jans-linux-setup displayName of forgot-password script
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#1602 feat(jans-auth-server): added convenient method for up-scoping or down-scoping AT scopes #1218
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/ExternalUpdateTokenContext.java
Labels: comp-jans-auth-server, kind-feature

#1609 refactor(pycloudlib): add more typehint on meta modules
  jans-pycloudlib/docs/meta.rst
  jans-pycloudlib/jans/pycloudlib/config/consul_config.py
  jans-pycloudlib/jans/pycloudlib/meta/base_meta.py
  jans-pycloudlib/jans/pycloudlib/meta/docker_meta.py
  jans-pycloudlib/jans/pycloudlib/meta/kubernetes_meta.py
  jans-pycloudlib/jans/pycloudlib/secret/vault_secret.py
  jans-pycloudlib/pyproject.toml
  jans-pycloudlib/tests/conftest.py
  jans-pycloudlib/tests/test_meta.py
Labels: kind-enhancement, area-documentation, comp-jans-pycloudlib

#1598 ci: publish wars to GH packages
  .github/workflows/build-wars.yml
  agama/pom.xml
  jans-auth-server/pom.xml
  jans-auth-server/static/pom.xml
  jans-bom/pom.xml
  jans-client-api/pom.xml
  jans-config-api/pom.xml
  jans-core/pom.xml
  jans-eleven/pom.xml
  jans-fido2/pom.xml
  jans-notify/pom.xml
  jans-orm/pom.xml
  jans-scim/pom.xml
Labels: area-CI, comp-jans-auth-server, comp-jans-client-api, comp-jans-config-api, comp-jans-core, comp-jans-fido2, comp-jans-orm, comp-jans-scim, comp-jans-bom, comp-jans-eleven

#1613 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-client-api, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#1614 Jans linux setup setup properties opendj
  jans-linux-setup/jans_setup/setup.properties.sample
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#1616 fix (jans-config-api) : error in POST, PUT endpoint of user management plugin if birthdate attribute is present in request #1593
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserService.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/util/MgtUtil.java
Labels: kind-bug, comp-jans-config-api

#1619 refactor(pycloudlib): add more typehint on cli modules
  jans-pycloudlib/docs/README.md
  jans-pycloudlib/docs/cli.rst
  jans-pycloudlib/docs/conf.py
  jans-pycloudlib/docs/index.rst
  jans-pycloudlib/jans/pycloudlib/cli/__init__.py
  jans-pycloudlib/jans/pycloudlib/cli/encoding.py
Labels: kind-enhancement, area-documentation, comp-jans-pycloudlib

#1622 chore(Dockerfiles): updated janspycloud build
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-client-api/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#1621 feat(agama): allow the config-api to perform syntax check of flows
  agama/engine/src/main/java/io/jans/agama/engine/continuation/PendingRenderException.java
  agama/engine/src/main/java/io/jans/agama/engine/script/ScriptUtils.java
  agama/engine/src/main/java/io/jans/agama/engine/service/FlowService.java
  agama/engine/src/main/java/io/jans/agama/timer/Transpilation.java
  agama/transpiler/grammar/AuthnFlow.interp
  agama/transpiler/grammar/AuthnFlow.tokens
  agama/transpiler/grammar/AuthnFlowLexer.interp
  agama/transpiler/grammar/AuthnFlowLexer.tokens
  agama/transpiler/pom.xml
  agama/transpiler/src/main/antlr4/io/jans/agama/antlr/AuthnFlow.g4
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowBaseListener.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowBaseVisitor.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowLexer.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowListener.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowParser.java
  agama/transpiler/src/main/java/io/jans/agama/antlr/AuthnFlowVisitor.java
  agama/transpiler/src/main/java/io/jans/agama/dsl/Transpiler.java
  agama/transpiler/src/main/resources/util.js
Labels: kind-feature

#1624 feat(jans-auth-server): removed dcrSkipSignatureValidation configuration property #1623
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterValidator.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/test/resources/feature/config/properties/properties.feature
  jans-linux-setup/jans_setup/openbanking/templates/jans-auth/jans-auth-config.json
Labels: comp-docker-jans-persistence-loader, comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-jans-linux-setup

#1630 test(jans-client-api):jenkins Fullrebuild loading test.properties
  jans-client-api/client/pom.xml
Labels: area-CI, comp-jans-client-api

#1633 fix: fido2-plugin throwing error during deployment #1632
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/Fido2RegistrationService.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/UserFido2Service.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
Labels: kind-bug, comp-jans-config-api

#1634 feat: jans linux setup enable/disable script via arg
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-feature, comp-jans-linux-setup

#1635 fix: jans-cli download yaml files for build
  jans-cli/setup.py
Labels: kind-bug, comp-jans-cli

#1636 feat(agama): add shortcut for finishing flows
  .github/workflows/docs.yml
  agama/engine/src/main/java/io/jans/agama/engine/service/ActionService.java
  agama/misc/template.ftlh
  agama/transpiler/src/main/antlr4/io/jans/agama/antlr/AuthnFlow.g4
  agama/transpiler/src/main/resources/JSGenerator.ftl
  agama/transpiler/src/main/resources/util.js
  docs/agama/dsl-full.md
  docs/agama/dsl.md
  docs/agama/faq.md
  docs/agama/flows-lifecycle.md
  docs/agama/hello_world.png
  docs/agama/quick-start.md
  docs/agama/test
  docs/agama/ui-pages.md
Labels: area-documentation, kind-feature

#1645 fix(jans-auth-server): disable surefire for jans-auth-static
  jans-auth-server/static/pom.xml
Labels: kind-bug, comp-jans-auth-server

#1627 feat: proper plugin activation of config-api container
  automation/auto_update_build_date.py
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/entrypoint.sh
  docker-jans-config-api/scripts/mod_context.py
  docker-jans-config-api/scripts/plugins.py
Labels: comp-docker-jans-config-api, area-CI, area-documentation, kind-feature
