Repository JanssenProject/jans, pull requests merged in 2023-09, with the labels that each got.

#5409 feat(fido2): make mds and attestation optional
  docs/admin/fido/config.md
  docs/admin/fido/vendor-metadata.md
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/Fido2Configuration.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/MDS3UpdateTimer.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/AttestationCertificateService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/TocService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AndroidKeyAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AndroidSafetyNetAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AppleAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/PackedAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/TPMProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/U2FAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/util/AppleUtilService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/util/CommonUtilService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/CommonVerifiers.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/attestation/AndroidKeyAttestationProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/attestation/AndroidSafetyNetAttestationProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/attestation/AppleAttestationProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/attestation/PackedAttestationProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/attestation/TPMProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/attestation/U2FAttestationProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/util/CommonUtilServiceTest.java
  jans-fido2/server/src/test/java/io/jans/util/TestUtil.java
  jans-linux-setup/jans_setup/templates/jans-fido2/dynamic-conf.json
Labels: comp-jans-fido2, kind-feature

#5943 fix: data type too small for jansDeviceData #5940
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-bug, comp-jans-linux-setup

#5946 fix: data type too small for jansDeviceNotificationConf #5940
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-bug, comp-jans-linux-setup

#5948 feat: mobile app with DPoP token generation and DCR with attestation #5947
  demos/jans-chip/.gitignore
  demos/jans-chip/README.md
  demos/jans-chip/app/.gitignore
  demos/jans-chip/app/build.gradle.kts
  demos/jans-chip/app/proguard-rules.pro
  demos/jans-chip/app/src/androidTest/java/io/jans/chip/ExampleInstrumentedTest.java
  demos/jans-chip/app/src/main/AndroidManifest.xml
  demos/jans-chip/app/src/main/java/io/jans/chip/AfterLoginActivity.java
  demos/jans-chip/app/src/main/java/io/jans/chip/LoginActivity.java
  demos/jans-chip/app/src/main/java/io/jans/chip/RegisterActivity.java
  demos/jans-chip/app/src/main/java/io/jans/chip/SplashScreenActivity.java
  demos/jans-chip/app/src/main/java/io/jans/chip/keyGen/DPoPProofFactory.java
  demos/jans-chip/app/src/main/java/io/jans/chip/keyGen/KeyManager.java
  demos/jans-chip/app/src/main/java/io/jans/chip/modal/DCRequest.java
  demos/jans-chip/app/src/main/java/io/jans/chip/modal/DCResponse.java
  demos/jans-chip/app/src/main/java/io/jans/chip/modal/JSONWebKeySet.java
  demos/jans-chip/app/src/main/java/io/jans/chip/modal/LoginResponse.java
  demos/jans-chip/app/src/main/java/io/jans/chip/modal/OIDCClient.java
  demos/jans-chip/app/src/main/java/io/jans/chip/modal/OPConfiguration.java
  demos/jans-chip/app/src/main/java/io/jans/chip/modal/TokenResponse.java
  demos/jans-chip/app/src/main/java/io/jans/chip/modal/UserInfoResponse.java
  demos/jans-chip/app/src/main/java/io/jans/chip/retrofit/RetrofitClient.java
  demos/jans-chip/app/src/main/java/io/jans/chip/services/APIInterface.java
  demos/jans-chip/app/src/main/java/io/jans/chip/services/DBHandler.java
  demos/jans-chip/app/src/main/res/drawable/ic_launcher_background.xml
  demos/jans-chip/app/src/main/res/drawable/ic_launcher_foreground.xml
  demos/jans-chip/app/src/main/res/drawable/janssen_logo.png
  demos/jans-chip/app/src/main/res/layout/activity_after_login.xml
  demos/jans-chip/app/src/main/res/layout/activity_login.xml
  demos/jans-chip/app/src/main/res/layout/activity_register.xml
  demos/jans-chip/app/src/main/res/layout/activity_splash_screen.xml
  demos/jans-chip/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  demos/jans-chip/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  demos/jans-chip/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  demos/jans-chip/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  demos/jans-chip/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  demos/jans-chip/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  demos/jans-chip/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  demos/jans-chip/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  demos/jans-chip/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  demos/jans-chip/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  demos/jans-chip/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  demos/jans-chip/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  demos/jans-chip/app/src/main/res/values-night/themes.xml
  demos/jans-chip/app/src/main/res/values/colors.xml
  demos/jans-chip/app/src/main/res/values/strings.xml
  demos/jans-chip/app/src/main/res/values/themes.xml
  demos/jans-chip/app/src/main/res/xml/backup_rules.xml
  demos/jans-chip/app/src/main/res/xml/data_extraction_rules.xml
  demos/jans-chip/app/src/test/java/io/jans/chip/ExampleUnitTest.java
  demos/jans-chip/build.gradle.kts
  demos/jans-chip/gradle.properties
  demos/jans-chip/gradle/wrapper/gradle-wrapper.jar
  demos/jans-chip/gradle/wrapper/gradle-wrapper.properties
  demos/jans-chip/gradlew
  demos/jans-chip/gradlew.bat
  demos/jans-chip/settings.gradle.kts
Labels: area-documentation, kind-feature

#5949 refactor(docker-jans): unify path to JVM cacert file
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/plugins.py
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-link/Dockerfile
  docker-jans-link/scripts/bootstrap.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/scripts/bootstrap.py
Labels: kind-enhancement, comp-docker-jans-certmanager, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim

#5951 fix(docker-jans-persistence-loader): data type too small for jansDevice data
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#5954 fix(jans-auth-server): added JIT compiler support under jvm 17
  jans-core/script/pom.xml
  jans-core/script/src/main/java/io/jans/service/custom/script/ExternalTypeCreator.java
  jans-core/script/src/main/java/io/jans/service/custom/script/jit/DiscardableClassLoader.java
  jans-core/script/src/main/java/io/jans/service/custom/script/jit/IndentedPrintWriter.java
  jans-core/script/src/main/java/io/jans/service/custom/script/jit/JavaCodeGenerator.java
  jans-core/script/src/main/java/io/jans/service/custom/script/jit/SimpleJavaCompiler.java
  jans-core/script/src/test/java/io/jans/service/custom/script/test/java/SimpleJavaCompileTest.java
  jans-core/script/src/test/java/io/jans/service/custom/script/test/java/Testable.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-core

#5956 chore(jans-auth-server): upgraded quartz 2.3.2 -> 2.4.0-rc2
  jans-bom/pom.xml
Labels: kind-enhancement, comp-jans-auth-server, comp-jans-core

#5964 test(jans-auth-server): fix test failures - added issuers to test ssa
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/RegistrationWithSoftwareStatementTest.java
Labels: kind-bug, area-CI, comp-jans-auth-server

#5967 fix: update org_id in persistence when ssa is uploaded from UI #5966
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/DCRResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/BaseService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
Labels: kind-bug, comp-jans-config-api

#5979 fix(jans-auth-server): ignore custom OC for non-LDAP during client merge
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ClientService.java
Labels: kind-bug, comp-jans-auth-server

#5974 fix(docker-jans-fido2): duplicate logs for fido2 prefix
  docker-jans-fido2/jetty/log4j2.xml
Labels: kind-bug, comp-docker-jans-fido2

#5992 fix(docker-jans-configurator): use longer expiration time for initial jwks
  docker-jans-configurator/scripts/bootstrap.py
Labels: kind-bug, comp-docker-jans-configurator

#5999 services installation instruction updated in setup.md
  docs/admin/install/setup.md
Labels: area-documentation

#6002 fix(jans-auth-server): server can handle prompts incorrectly when acr is changed #5930
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
Labels: kind-bug, comp-jans-auth-server

#6003 chore: use bc-fips <= 1.0.2.4
  jans-bom/pom.xml
Labels: kind-dependencies, comp-jans-bom

#5996 docs: TUI install and connect to k8s installation
  docs/admin/kubernetes-ops/README.md
  docs/admin/kubernetes-ops/tui-k8s.md
  mkdocs.yml
Labels: area-documentation

#6011 feat: fido2 needs to search cache for session instead of persistent
  docs/admin/fido/config.md
  docs/admin/reference/json/properties/fido2-properties.md
  jans-core/cache/src/main/java/io/jans/service/BaseCacheService.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/AppConfiguration.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/UserSessionIdService.java
  jans-linux-setup/jans_setup/templates/jans-fido2/dynamic-conf.json
Labels: area-documentation, comp-jans-core, comp-jans-fido2, kind-feature, comp-jans-linux-setup

#6013 fix: failed to search session by deviceSecret if DB is PostgreSQL #6012
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: kind-bug, comp-jans-linux-setup

#6019 feat: add encrypted inum to session params
  docs/script-catalog/person_authentication/agama-bridge/AgamaBridge.py
Labels: kind-feature

#6016 fix(docker-jans-config-api): missing config-api scopes for test client
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/bootstrap.py
Labels: kind-bug, comp-docker-jans-config-api

#6022 test(jans-auth-server): fixed prompt test #5977
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImplTest.java
Labels: kind-bug, comp-jans-auth-server

#6021 fix(jans-cli-tui): table widget size for agama details dialog
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
Labels: kind-bug, comp-jans-cli-tui

#6028 fix(jans-cli-tui): table rows fith dialog
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/wui_components/jans_table.py
Labels: kind-bug, comp-jans-cli-tui

#6032 feat(jans-auth-server): add client_id parameter support to /end_session #5942
  docs/admin/auth-server/endpoints/end-session.md
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/EndSessionRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImpl.java
  jans-auth-server/server/src/test/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImplTest.java
Labels: kind-enhancement, area-documentation, comp-jans-auth-server, kind-feature

#6036 fix: add exception handling in Fido2DeviceTest test case
  jans-scim/client/src/test/java/io/jans/scim2/client/singleresource/Fido2DeviceTest.java
Labels: kind-bug, comp-jans-scim

#6038 fix(docker-jans-persistence-loader): search session by deviceSecret
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#6040 fix(docker-jans-fido2): search cache for session instead of persistence
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/upgrade.py
Labels: kind-bug, comp-docker-jans-fido2

#6075 chore(main): release jans-eleven 1.0.17
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#6073 chore(main): release jans-bom 1.0.17
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#6072 chore(main): release jans-core 1.0.17
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#6071 chore(main): release agama 1.0.17
  agama/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#6070 chore(main): release jans-config-api 1.0.17
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#6069 chore(main): release jans-fido2 1.0.17
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#6068 chore(main): release jans-orm 1.0.17
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#6067 chore(main): release jans-auth-server 1.0.17
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#6064 chore(main): release 1.0.17
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#6060 chore(main): release docker-jans-auth-server 1.0.17-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#6059 chore(main): release docker-jans-persistence-loader 1.0.17-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#6058 chore(main): release docker-jans-config-api 1.0.17-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#6057 chore(main): release docker-jans-fido2 1.0.17-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#6056 chore(main): release docker-jans-link 1.0.17-1
  docker-jans-link/CHANGELOG.md
  docker-jans-link/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#6055 chore(main): release docker-jans-configurator 1.0.17-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#6054 chore(main): release docker-jans-monolith 1.0.17-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#6053 chore(main): release docker-jans-certmanager 1.0.17-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#6052 chore(main): release docker-jans-scim 1.0.17-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#6042 chore(main): release docs 1.0.17
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#6074 chore(main): release jans-scim 1.0.17
  jans-scim/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#6086 fix(jans-auth-server): swagger is malformed due to typo #6085
  jans-auth-server/docs/swagger.yaml
Labels: kind-bug, comp-jans-auth-server

#6092 docs: janssen install using rancher
  docs/admin/install/helm-install/rancher.md
Labels: area-documentation

#6099 fix: remove content-type in header from /retrieve GET request #6096
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
Labels: kind-bug, comp-jans-config-api

#6103 docs: add note for single node deployment and update links to latest
  docs/admin/install/helm-install/rancher.md
Labels: area-documentation

#6104 fix(jans-auth-server): redirect when session does not exist but client_id parameter is present
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImpl.java
  jans-auth-server/server/src/test/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImplTest.java
Labels: kind-bug, comp-jans-auth-server

#6136 chore(main): release jans-auth-server 1.0.18
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#6134 chore(main): release jans-scim 1.0.18
  jans-scim/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#6133 chore(main): release jans-eleven 1.0.18
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#6132 chore(main): release jans-core 1.0.18
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#6131 chore(main): release jans-config-api 1.0.18
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#6130 chore(main): release agama 1.0.18
  agama/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#6129 chore(main): release jans-bom 1.0.18
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#6128 chore(main): release jans-fido2 1.0.18
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#6127 chore(main): release 1.0.18
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#6123 chore(main): release docker-jans-auth-server 1.0.18-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#6122 chore(main): release docker-jans-scim 1.0.18-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#6121 chore(main): release docker-jans-fido2 1.0.18-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#6120 chore(main): release docker-jans-config-api 1.0.18-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#6119 chore(main): release docker-jans-certmanager 1.0.18-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#6118 chore(main): release docker-jans-monolith 1.0.18-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#6117 chore(main): release docker-jans-persistence-loader 1.0.18-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#6116 chore(main): release docker-jans-configurator 1.0.18-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#6106 chore(main): release docs 1.0.18
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#6135 chore(main): release jans-orm 1.0.18
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#6101 feat: adding folder for android and ios inside jans-chip #6100
  demos/jans-chip/android/.gitignore
  demos/jans-chip/android/README.md
  demos/jans-chip/android/app/.gitignore
  demos/jans-chip/android/app/build.gradle.kts
  demos/jans-chip/android/app/proguard-rules.pro
  demos/jans-chip/android/app/src/androidTest/java/io/jans/chip/ExampleInstrumentedTest.java
  demos/jans-chip/android/app/src/main/AndroidManifest.xml
  demos/jans-chip/android/app/src/main/java/io/jans/chip/AfterLoginActivity.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/LoginActivity.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/RegisterActivity.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/SplashScreenActivity.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/keyGen/DPoPProofFactory.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/keyGen/KeyManager.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/DCRequest.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/DCResponse.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/JSONWebKeySet.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/LoginResponse.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/OIDCClient.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/OPConfiguration.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/TokenResponse.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/UserInfoResponse.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/retrofit/RetrofitClient.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/services/APIInterface.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/services/DBHandler.java
  demos/jans-chip/android/app/src/main/res/drawable/ic_launcher_background.xml
  demos/jans-chip/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  demos/jans-chip/android/app/src/main/res/drawable/janssen_logo.png
  demos/jans-chip/android/app/src/main/res/layout/activity_after_login.xml
  demos/jans-chip/android/app/src/main/res/layout/activity_login.xml
  demos/jans-chip/android/app/src/main/res/layout/activity_register.xml
  demos/jans-chip/android/app/src/main/res/layout/activity_splash_screen.xml
  demos/jans-chip/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  demos/jans-chip/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  demos/jans-chip/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  demos/jans-chip/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  demos/jans-chip/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  demos/jans-chip/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  demos/jans-chip/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  demos/jans-chip/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  demos/jans-chip/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  demos/jans-chip/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  demos/jans-chip/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  demos/jans-chip/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  demos/jans-chip/android/app/src/main/res/values-night/themes.xml
  demos/jans-chip/android/app/src/main/res/values/colors.xml
  demos/jans-chip/android/app/src/main/res/values/strings.xml
  demos/jans-chip/android/app/src/main/res/values/themes.xml
  demos/jans-chip/android/app/src/main/res/xml/backup_rules.xml
  demos/jans-chip/android/app/src/main/res/xml/data_extraction_rules.xml
  demos/jans-chip/android/app/src/test/java/io/jans/chip/ExampleUnitTest.java
  demos/jans-chip/android/build.gradle.kts
  demos/jans-chip/android/gradle.properties
  demos/jans-chip/android/gradle/wrapper/gradle-wrapper.jar
  demos/jans-chip/android/gradle/wrapper/gradle-wrapper.properties
  demos/jans-chip/android/gradlew
  demos/jans-chip/android/gradlew.bat
  demos/jans-chip/android/settings.gradle.kts
  demos/jans-chip/ios/README.md
Labels: area-documentation, kind-feature

#6140 fix(jans-cli-tui): mail validation and link log level
  jans-cli-tui/cli_tui/plugins/070_users/main.py
  jans-cli-tui/cli_tui/plugins/090_jans_link/main.py
  jans-cli-tui/cli_tui/utils/utils.py
Labels: kind-bug, comp-jans-cli-tui

#6144 docs(native-sso): create documentation for native SSO support
  docs/admin/auth-server/openid-features/native-sso.md
Labels: area-documentation

#6146 fix(terraform-provider-jans): update terraform module
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/docs/resources/app_configuration.md
  terraform-provider-jans/docs/resources/oidc_client.md
  terraform-provider-jans/docs/resources/scope.md
  terraform-provider-jans/jans/app_configuration.go
  terraform-provider-jans/jans/attributes.go
  terraform-provider-jans/jans/oidc_client.go
  terraform-provider-jans/provider/resource_app_configuration.go
  terraform-provider-jans/provider/resource_oidc_client.go
  terraform-provider-jans/provider/resource_script.go
Labels: kind-bug, area-documentation

#6148 feat(jans-auth-server): passing custom parameters in the body of POST authorization request and ROPC #6141
  docs/admin/developer/scripts/ropc.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequestService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/RequestParameterService.java
Labels: kind-enhancement, comp-jans-auth-server, kind-feature

#6149 docs: add postgres and tui instructions
  docs/admin/install/helm-install/amazon-eks.md
  docs/admin/install/helm-install/google-gke.md
  docs/admin/install/helm-install/microsoft-azure.md
  docs/admin/kubernetes-ops/tui-k8s.md
Labels: area-documentation

#6150 feat(keycloak-integration): create authenticator for keycloak
  .github/CODEOWNERS
  .github/workflows/build-wars.yml
  .github/workflows/central_code_quality_check.yml
  .github/workflows/release.yaml
  keycloak-integration/authenticator/pom.xml
  keycloak-integration/authenticator/src/assembly/dependencies.xml
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/JansAuthenticator.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/JansAuthenticatorConfigProp.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/JansAuthenticatorFactory.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/SessionAttributes.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCAccessToken.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCAuthRequest.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCMetaCache.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCMetaCacheKeys.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCMetaError.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCRefreshToken.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCService.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCTokenError.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCTokenRequest.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCTokenRequestError.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCTokenResponse.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCUserInfoError.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCUserInfoRequestError.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/OIDCUserInfoResponse.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/impl/HashBasedOIDCMetaCache.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/impl/NimbusOIDCAccessToken.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/impl/NimbusOIDCRefreshToken.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/impl/NimbusOIDCService.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/impl/NimbusOIDCTokenResponse.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/oidc/impl/NimbusOIDCUserInfoResponse.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/rest/JansAuthResponseResourceProvider.java
  keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/rest/JansAuthResponseResourceProviderFactory.java
  keycloak-integration/authenticator/src/main/resources/META-INF/services/org.keycloak.authentication.AuthenticatorFactory
  keycloak-integration/authenticator/src/main/resources/META-INF/services/org.keycloak.services.resource.RealmResourceProviderFactory
  keycloak-integration/authenticator/src/main/resources/theme-resources/messages/messages_en.properties
  keycloak-integration/authenticator/src/main/resources/theme-resources/resources/img/janssen project favicon transparent 50px 50px.png
  keycloak-integration/authenticator/src/main/resources/theme-resources/resources/img/janssen-project.jpg
  keycloak-integration/authenticator/src/main/resources/theme-resources/resources/img/janssen_dove_icon.jpg
  keycloak-integration/authenticator/src/main/resources/theme-resources/resources/js/jans-auth.js
  keycloak-integration/authenticator/src/main/resources/theme-resources/templates/jans-auth-error.ftl
  keycloak-integration/authenticator/src/main/resources/theme-resources/templates/jans-auth-redirect.ftl
  keycloak-integration/authenticator/src/main/resources/theme-resources/templates/jans-auth-response-complete.ftl
  keycloak-integration/authenticator/src/main/resources/theme-resources/templates/jans-auth-response-error.ftl
  keycloak-integration/pom.xml
Labels: kind-feature

#6153 test(jans-scim): add test case to confirm custom attributes of type date are returned on retrieval
  jans-scim/client/src/test/java/io/jans/scim2/client/singleresource/FullUserTest.java
Labels: area-CI, comp-jans-scim

#6169 docs(jans-auth-server): fixed mistake introduced during merge in device-grant.md #6168
  docs/admin/auth-server/oauth-features/device-grant.md
Labels: area-documentation, comp-jans-auth-server
