Repository JanssenProject/jans, pull requests merged in 2023-10, with the labels that each got.

#6167 feat: include app integrity check through DCR #6166
  demos/jans-chip/android/app/build.gradle.kts
  demos/jans-chip/android/app/src/main/java/io/jans/chip/AfterLoginActivity.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/LoginActivity.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/RegisterActivity.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/SplashScreenActivity.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/factories/DPoPProofFactory.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/factories/KeyManager.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/appIntegrity/AccountDetails.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/appIntegrity/AppIntegrity.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/appIntegrity/AppIntegrityResponse.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/appIntegrity/DeviceIntegrity.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/appIntegrity/RequestDetails.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/services/APIInterface.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/services/DBHandler.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/services/PlayIntegrityService.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/utils/AppConfig.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/utils/AppUtil.java
  demos/jans-chip/android/app/src/main/res/layout/activity_register.xml
  demos/jans-chip/android/app/src/main/res/layout/activity_splash_screen.xml
Labels: kind-feature

#6181 fix(jans-linux-setup): script hide attribute
  jans-cli-tui/cli_tui/plugins/060_scripts/edit_script_dialog.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-cli-tui, comp-jans-linux-setup

#6187 fix(jans-linux-setup): casa url
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/couchbase.py
  jans-linux-setup/jans_setup/setup_app/installers/eleven.py
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_casa.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_link.py
  jans-linux-setup/jans_setup/setup_app/installers/oxd.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/installers/scim.py
Labels: kind-bug, comp-jans-linux-setup

#6196 feat(jans-auth-server): added DPoP to authorization code and PAR
  docs/admin/auth-server/oauth-features/dpop.md
  docs/assets/dpop-diagram.png
  jans-auth-server/client/src/main/java/io/jans/as/client/AuthorizationRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/AuthorizeClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/par/ParClient.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/dpop/DpopTokenRequestHttpTest.java
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/authorize/AuthorizeRequestParam.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/ParAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/AuthenticationFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/DpopService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequestService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/audit/Action.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/authorize/JwtAuthorizationRequest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AbstractAuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrantList.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/ldap/TokenAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/RequestParameterService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/test/java/io/jans/as/server/auth/DpopServiceTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: comp-jans-auth-server, kind-feature

#6200 docs: migrate casa from flex to jans
  docs/admin/recipes/casa.md
  docs/admin/reference/kubernetes/docker-jans-casa.md
  mkdocs.yml
Labels: area-documentation

#6203 chore(jans-casa): remove Gluu references in UI and logs
  jans-auth-server/server/src/main/webapp/casa/login.xhtml
  jans-casa/app/src/main/resources/labels/admin.properties
  jans-casa/app/src/main/resources/labels/general.properties
  jans-casa/app/src/main/resources/labels/user.properties
  jans-casa/app/src/main/webapp/WEB-INF/zk.xml
  jans-casa/plugins/custom-branding/pom.xml
  jans-casa/plugins/custom-branding/src/main/resources/labels/zk-label.properties
Labels: kind-dependencies, comp-jans-auth-server

#6205 doc(jans-auth-server): removed fido from AS swagger #6204
  jans-auth-server/docs/swagger.yaml
Labels: area-documentation, comp-jans-auth-server

#6198 fix(jans-casa): jans-casa installation issues
  jans-casa/extras/Casa.py
  jans-casa/extras/casa_web_resources.xml
  jans-linux-setup/jans_setup/setup_app/installers/jans_casa.py
  jans-linux-setup/jans_setup/templates/jetty/jans-casa_web_resources.xml
Labels: kind-bug, comp-jans-linux-setup

#6210 feat(agama): add support for autoconfiguration
  docs/admin/developer/agama/projects-deployment.md
  jans-auth-server/agama/engine/src/main/java/io/jans/ads/Deployer.java
  jans-auth-server/agama/model/src/main/java/io/jans/ads/model/DeploymentDetails.java
  jans-auth-server/agama/model/src/main/java/io/jans/ads/model/ProjectMetadata.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaDeploymentsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaDeploymentsService.java
Labels: area-documentation, comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-agama

#6211 docs: update swagger descriptor wrt issue #6192
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: area-documentation, comp-jans-config-api

#6214 feat(jans-auth): new lifetime attribute in ssa
  docs/admin/auth-server/endpoints/ssa.md
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/create/SsaCreateClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/create/SsaCreateRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/util/ClientUtil.java
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/SsaCreateAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/SsaGetAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/SsaGetJwtAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaCreateTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/util/ClientUtilTest.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/ssa/SsaAttributes.java
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaErrorResponseType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaRequestParam.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaJsonServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceValidatorTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateActionTest.java
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-errors.json
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#6209 fix(kc): add configuration for sonarcloud
  keycloak-integration/pom.xml
Labels: kind-bug

#6216 feat(jans-auth-server): added "authorization_challenge" scope enforcement #5856
  docs/admin/auth-server/endpoints/authorization-challenge.md
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/config/Constants.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeValidatorTest.java
  jans-linux-setup/jans_setup/templates/scopes.ldif
  jans-linux-setup/jans_setup/templates/test/jans-auth/data/oxauth-test-data.ldif
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#6212 fix(jans-linux-setup): post-setup install issues
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
  jans-linux-setup/jans_setup/setup_app/messages.py
  jans-linux-setup/jans_setup/setup_app/utils/package_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#6217 fix(jans-linux-setup): post setup fix for config-api
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
Labels: kind-bug, comp-jans-linux-setup

#6225 feat(jans-linux-setup): hide saml setup for developers
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-feature, comp-jans-linux-setup

#6228 chore(jans-linux-setup): Java 17
  jans-linux-setup/jans_setup/app_info.json
Labels: kind-dependencies, comp-jans-linux-setup

#6231 feat(docker-jans): upgrade base image to Java 17
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/Dockerfile
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/requirements.txt
  docker-jans-link/Dockerfile
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/requirements.txt
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/requirements.txt
Labels: comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, kind-feature

#6222 fix(docs): scripts should be shown alphabetically
  mkdocs.yml
Labels: kind-bug, area-documentation

#6089 fix(charts): use interval-based cronjob schedule syntax
  charts/janssen/charts/auth-server-key-rotation/templates/cronjobs.yaml
Labels: kind-bug, comp-charts-jans

#6237 chore(main): release jans-core 1.0.19-SNAPSHOT
  jans-core/saml/src/pom.xml
Labels: kind-dependencies, comp-jans-core, autorelease: snapshot

#6271 chore(main): release agama 1.0.19
  agama/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#6268 chore(main): release jans-eleven 1.0.19
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#6267 chore(main): release jans-auth-server 1.0.19
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#6266 chore(main): release jans-bom 1.0.19
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#6265 chore(main): release jans-fido2 1.0.19
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#6264 chore(main): release jans-orm 1.0.19
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#6260 chore(main): release 1.0.19
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#6256 chore(main): release docker-jans-persistence-loader 1.0.19-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#6255 chore(main): release docker-jans-link 1.0.19-1
  docker-jans-link/CHANGELOG.md
  docker-jans-link/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#6254 chore(main): release docker-jans-scim 1.0.19-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#6253 chore(main): release docker-jans-fido2 1.0.19-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#6252 chore(main): release docker-jans-configurator 1.0.19-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#6251 chore(main): release docker-jans-monolith 1.0.19-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#6250 chore(main): release docker-jans-config-api 1.0.19-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#6249 chore(main): release docker-jans-casa 1.0.19-1
  docker-jans-casa/CHANGELOG.md
  docker-jans-casa/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#6248 chore(main): release docker-jans-certmanager 1.0.19-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#6247 chore(main): release docker-jans-auth-server 1.0.19-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#6246 chore(main): release keycloak-integration 1.0.19
  keycloak-integration/CHANGELOG.md
  keycloak-integration/authenticator/pom.xml
  keycloak-integration/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation

#6243 chore(main): release jans-link 1.0.19
  jans-link/CHANGELOG.md
  jans-link/model/pom.xml
  jans-link/pom.xml
  jans-link/server-fips/pom.xml
  jans-link/server/pom.xml
  jans-link/service/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation

#6234 chore(main): release docs 1.0.19
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#6270 chore(main): release jans-core 1.0.19
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#6269 chore(main): release jans-config-api 1.0.19
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#6275 feat(jans-auth-server): multi-step authn challenge flow custom script
  docs/admin/auth-server/endpoints/authorization-challenge.md
  docs/admin/developer/scripts/authorization-challenge.md
  docs/script-catalog/authorization_challenge/multi_step/AuthorizationChallenge.java
Labels: area-documentation, comp-jans-auth-server, kind-feature

#6276 feat(jans-config-api): need API to fetch list containing all script-types from persistence
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
  jans-config-api/server/src/main/resources/example/auth/scripts/scripts-types.json
Labels: comp-jans-config-api

#6278 feat(jans-auth-server): enabled authorization_challenge scope for dynamic registration #6277
  jans-linux-setup/jans_setup/templates/scopes.ldif
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#6290 feat(config-api): open api spec changes for fetch custom script type endpoint
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature

#6297 fix(jans-pycloudlib): incorrect persistence entry check for ldap and couchbase
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-scim/Dockerfile
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
  jans-pycloudlib/jans/pycloudlib/persistence/utils.py
  jans-pycloudlib/jans/pycloudlib/wait.py
  jans-pycloudlib/tests/test_persistence.py
Labels: kind-bug, comp-jans-pycloudlib

#6274 fix: make tarp compatible with keycloak #6229
  demos/jans-tarp/README.md
  demos/jans-tarp/docs/images/kc_add_scope.png
  demos/jans-tarp/docs/images/kc_trusted_hosts.png
  demos/jans-tarp/src/options/oidcClientDetails.tsx
  demos/jans-tarp/src/options/options.css
  demos/jans-tarp/src/options/registerForm.tsx
Labels: kind-bug, area-documentation

#6314 feat(jans-cli-tui): obtain script types from config-api
  jans-cli-tui/cli_tui/plugins/060_scripts/edit_script_dialog.py
  jans-cli-tui/cli_tui/plugins/060_scripts/main.py
Labels: comp-jans-cli-tui, kind-feature

#6315 feat(jans-linux-setup): display casa brwose url after setup
  jans-linux-setup/jans_setup/jans_setup.py
Labels: kind-feature, comp-jans-linux-setup

#6317 feat(jans-auth-server): add configuration property to AS which will allow to bypass basic client authentication restriction to query only own tokens #6307
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/introspection/ws/rs/IntrospectionWebService.java
Labels: kind-enhancement, comp-jans-auth-server, kind-feature

#6311 fix(jans-linux-setup): KC install fixes
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/installers/base.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/static/system/systemd/kc.service
  jans-linux-setup/jans_setup/templates/jans-saml/jans-saml-config.json
Labels: kind-bug, comp-jans-linux-setup

#5984 docs: fixes
  docs/admin/planning/load-balancers.md
  docs/admin/planning/platform-goal.md
  docs/admin/planning/use-cases.md
  docs/admin/terraform/README.md
  docs/script-catalog/person_authentication/fido2-external-authenticator/README.md
  jans-config-api/README.md
Labels: area-documentation, comp-jans-config-api

#6325 test(jans-auth-server): fixed test client for AuthorizationChallengeHttpTest #6318
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizationChallengeHttpTest.java
Labels: kind-bug, area-CI, comp-jans-auth-server

#6326 feat: changing names of clients used in admin-ui
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/OIDCSettings.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/config/AUIConfiguration.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/auth/OAuth2Resource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/auth/OAuth2Service.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/config/AUIConfigurationService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature

#6284 docs(casa): casa content adaptation
  docker-jans-casa/README.md
  docker-jans-casa/scripts/jca_sync.py
  docs/admin/recipes/casa.md
  docs/admin/reference/kubernetes/docker-jans-casa.md
  docs/casa/administration/2fa-basics.md
  docs/casa/administration/README.md
  docs/casa/administration/admin-console.md
  docs/casa/administration/change-context-path.md
  docs/casa/administration/custom-branding.md
  docs/casa/administration/faq.md
  docs/casa/administration/installation.md
  docs/casa/administration/localization.md
  docs/casa/index.md
  docs/casa/plugins/2fa-settings.md
  docs/casa/plugins/bioid.md
  docs/casa/plugins/consent-management.md
  docs/casa/plugins/custom-branding.md
  docs/casa/quick-start.md
  docs/casa/user-guide.md
  docs/script-catalog/person_authentication/bioid/BioIDExternalAuthenticator.py
  docs/script-catalog/person_authentication/bioid/README.txt
  docs/script-catalog/person_authentication/other/bioid/README.md
  docs/script-catalog/person_authentication/other/bioid/README.txt
  mkdocs.yml
Labels: area-documentation

#6330 fix(jans-linux-setup): super gluu credentials url
  jans-linux-setup/jans_setup/static/auth/conf/super_gluu_creds.json
Labels: kind-bug, comp-jans-linux-setup

#6333 fix(jans-linux-setup): super gluu credentials url for test data
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: kind-bug, comp-jans-linux-setup

#6323 Update developer-faq.md for letsencrypte
  docs/contribute/developer-faq.md
Labels: area-documentation

#6329 feat(jans-pycloudlib): add lock to prevent race condition
  .github/workflows/testcases.yml
  automation/startjanssendemo.sh
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/janssen/charts/auth-server/templates/deployment.yml
  charts/janssen/charts/casa/templates/deployment.yaml
  charts/janssen/charts/config-api/templates/deployment.yaml
  charts/janssen/charts/config/README.md
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/charts/config/templates/load-init-config.yml
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/charts/config/values.yaml
  charts/janssen/charts/fido2/templates/deployment.yml
  charts/janssen/charts/link/templates/deployment.yaml
  charts/janssen/charts/nginx-ingress/templates/ingress.yaml
  charts/janssen/charts/opendj/templates/cronjobs.yaml
  charts/janssen/charts/opendj/templates/statefulset.yaml
  charts/janssen/charts/persistence/templates/jobs.yml
  charts/janssen/charts/scim/templates/deployment.yml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
  docker-jans-auth-server/requirements.txt
  docker-jans-auth-server/scripts/auth_conf.py
  docker-jans-casa/requirements.txt
  docker-jans-casa/scripts/bootstrap.py
  docker-jans-casa/scripts/upgrade.py
  docker-jans-certmanager/requirements.txt
  docker-jans-certmanager/scripts/bootstrap.py
  docker-jans-config-api/requirements.txt
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-configurator/requirements.txt
  docker-jans-configurator/scripts/bootstrap.py
  docker-jans-fido2/requirements.txt
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-fido2/scripts/upgrade.py
  docker-jans-link/requirements.txt
  docker-jans-link/scripts/bootstrap.py
  docker-jans-link/scripts/upgrade.py
  docker-jans-persistence-loader/requirements.txt
  docker-jans-persistence-loader/scripts/bootstrap.py
  docker-jans-scim/requirements.txt
  docker-jans-scim/scripts/bootstrap.py
  docker-jans-scim/scripts/upgrade.py
  docs/admin/install/helm-install/amazon-eks.md
  docs/admin/install/helm-install/google-gke.md
  docs/admin/install/helm-install/microsoft-azure.md
  jans-pycloudlib/jans/pycloudlib/lock/__init__.py
  jans-pycloudlib/jans/pycloudlib/lock/base_lock.py
  jans-pycloudlib/jans/pycloudlib/lock/couchbase_lock.py
  jans-pycloudlib/jans/pycloudlib/lock/ldap_lock.py
  jans-pycloudlib/jans/pycloudlib/lock/spanner_lock.py
  jans-pycloudlib/jans/pycloudlib/lock/sql_lock.py
  jans-pycloudlib/jans/pycloudlib/manager.py
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
Labels: comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-CI, area-documentation, kind-feature, comp-jans-pycloudlib, comp-charts-jans

#6336 chore(Dockerfile): updated build dates
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#6339 feat(jans-auth-server): added PKCE support to authz challenge endpoint #6180
  docs/admin/auth-server/endpoints/authorization-challenge.md
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeEndpoint.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/token/TokenService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidatorTest.java
Labels: area-documentation, comp-jans-auth-server, kind-feature

#6342 chore: refactor 2FA requirements related to password
  jans-casa/app/src/main/java/io/jans/casa/core/ConfigurationHandler.java
  jans-casa/app/src/main/java/io/jans/casa/core/PasswordStatusService.java
  jans-casa/app/src/main/java/io/jans/casa/core/PersistenceService.java
  jans-casa/app/src/main/java/io/jans/casa/rest/config/PasswordResetAvailWS.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/admin/PassResetViewModel.java
  jans-casa/app/src/main/webapp/admin-api.yaml
  jans-casa/app/src/main/webapp/admin/pass-reset.zul
  jans-casa/app/src/main/webapp/menubuttons.zul
  jans-casa/app/src/main/webapp/user.zul
Labels: kind-dependencies

#6299 certbot_instruction updates
  docs/admin/install/vm-install/rhel.md
  docs/admin/install/vm-install/suse.md
  docs/admin/install/vm-install/ubuntu.md
Labels: area-documentation

#6344 docs: add clear cli instructions
  docs/admin/install/docker-install/compose.md
  docs/admin/install/docker-install/quick-start.md
  docs/admin/install/helm-install/local.md
Labels: area-documentation

#6347 fix(jans-pycloudlib): handle operational error when creating table for lock
  jans-pycloudlib/jans/pycloudlib/lock/sql_lock.py
Labels: kind-bug, comp-jans-pycloudlib

#6359 Sharpen messaging on README and platform goals doc.
  README.md
  docs/admin/planning/platform-goal.md
Labels: area-documentation

#6361 fix(docs): remove additional Agama title
  docs/governance/charter.md
Labels: kind-bug, area-documentation

#6354 fix(docker-jans-casa): add missing smtp-keys.pkcs12 file
  docker-jans-casa/scripts/bootstrap.py
Labels: kind-bug

#6363 fix(jans-auth-server): cnf introspection response is null even when valid cert is send during MTLS #6343
  jans-auth-server/server/src/main/java/io/jans/as/server/introspection/ws/rs/IntrospectionWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AbstractAuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrantList.java
Labels: kind-bug, comp-jans-auth-server

#6372 fix(jans-cli-tui): hide client scret
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#6374 fix(docs): minor fixes in DPOP document
  docs/admin/auth-server/oauth-features/dpop.md
  docs/assets/dpop-diagram.png
Labels: kind-bug, area-documentation

#6378 fix(jans-cli-tui): save changes before testing STMP config
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/080_smtp/main.py
  jans-cli-tui/cli_tui/utils/utils.py
Labels: kind-bug, comp-jans-cli-tui

#6379 fix(jans-linux-setup): jans-saml dependencies
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#6348 chore(Dockerfile): updated build dates
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#6384 fix(jans-linux-setup): change oxtrust to Janssen
  jans-linux-setup/jans_setup/templates/base.ldif
Labels: kind-bug, comp-jans-linux-setup

#6386 fix(jans-linux-setup): kc maven urls
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
Labels: kind-bug, comp-jans-linux-setup

#6365 fix: fix issues found in app #6364
  demos/jans-chip/android/app/src/main/java/io/jans/chip/AppDatabase.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/RegisterActivity.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modal/SingleLiveEvent.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modelview/DCRViewModel.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modelview/LoginViewModel.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modelview/LogoutViewModel.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modelview/OPConfigurationViewModel.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modelview/PlayIntegrityViewModel.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modelview/TokenViewModel.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/modelview/UserInfoViewModel.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/repository/DCRRepository.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/repository/LoginResponseRepository.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/repository/LogoutRepository.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/repository/OPConfigurationRepository.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/repository/PlayIntegrityRepository.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/repository/TokenResponseRepository.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/repository/UserInfoResponseRepository.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/services/APIInterface.java
  demos/jans-chip/android/app/src/main/java/io/jans/chip/utils/AppConfig.java
Labels: kind-bug

#6395 Docs: Fix mTLS doc
  docs/admin/auth-server/oauth-features/mtls.md
  docs/assets/mtls1.png
Labels: area-documentation

#6392 feat(docker-jans-all-in-one): implement plugin system
  docker-jans-all-in-one/Dockerfile
  docker-jans-all-in-one/app/jans_aio/bootstrap.py
  docker-jans-all-in-one/app/jans_aio/hooks.py
  docker-jans-all-in-one/app/jans_aio/mod_context.py
  docker-jans-all-in-one/app/jans_aio/settings.py
  docker-jans-all-in-one/app/jans_aio/utils.py
  docker-jans-all-in-one/app/jans_aio/wait.py
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-all-in-one/app/templates/nginx/nginx-default.conf
Labels: kind-feature, comp-docker-jans-all-in-one

#6399 docs: fix formatting issues in introspection endpoint doc
  docs/admin/auth-server/endpoints/introspection.md
Labels: area-documentation

#6400 docs: fix formatting issues in persistence doc
  docs/admin/developer/scripts/persistence.md
Labels: area-documentation

#6402 fix(docker-jans-all-in-one): adjust permissions for jans-link component
  docker-jans-all-in-one/Dockerfile
Labels: kind-bug, comp-docker-jans-all-in-one

#6369 fix: registration_uri for super gluu script defaults to an /identity
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/SuperGluuExternalAuthenticator.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#6403 fix(terraform-provider-jans): update provider to match latest API
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/docs/data-sources/custom_script_types.md
  terraform-provider-jans/docs/resources/app_configuration.md
  terraform-provider-jans/examples/data-sources/jans_custom_script_types/data-source.tf
  terraform-provider-jans/examples/provider/provider.tf
  terraform-provider-jans/jans/agama_deployment.go
  terraform-provider-jans/jans/agama_deployment_test.go
  terraform-provider-jans/jans/app_configuration.go
  terraform-provider-jans/jans/oidc_client_test.go
  terraform-provider-jans/jans/script.go
  terraform-provider-jans/jans/script_test.go
  terraform-provider-jans/provider/data_source_custom_script_types.go
  terraform-provider-jans/provider/provider.go
  terraform-provider-jans/provider/resource_agama_deployment.go
  terraform-provider-jans/provider/resource_agama_deployment_test.go
  terraform-provider-jans/provider/resource_app_configuration.go
  terraform-provider-jans/provider/resource_oidc_client_test.go
Labels: kind-bug, area-documentation

#6407 fix(jans-linux-setup): saml install issues
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
Labels: kind-bug, comp-jans-linux-setup

#6411 fix(jans-cli-tui): ruamel.yaml<0.18.0
  jans-cli-tui/setup.py
Labels: kind-bug, comp-jans-cli-tui

#6412 feat(jans-auth-server): allow revoke any token - explicitly allow by config and scope #6381
  docs/admin/auth-server/endpoints/token-revocation.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/config/Constants.java
  jans-auth-server/server/src/main/java/io/jans/as/server/revoke/RevokeRestWebServiceImpl.java
  jans-auth-server/server/src/test/java/io/jans/as/server/revoke/RevokeRestWebServiceImplTest.java
  jans-auth-server/server/src/test/resources/testng.xml
  jans-linux-setup/jans_setup/templates/scopes.ldif
Labels: comp-jans-auth-server, kind-feature

#6424 fix(jans-linux-setup): selected idp
  jans-linux-setup/jans_setup/templates/jans-saml/jans-saml-config.json
Labels: kind-bug, comp-jans-linux-setup

#6414 feat: adding scopes in config-api endpoint access token based on tags (admin-ui) #6413
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/AdminPermission.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/ApiTokenRequest.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/auth/OAuth2Resource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/BaseService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/auth/OAuth2Service.java
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature

#6431 ci: update java versions
  .github/workflows/build-wars.yml
  .github/workflows/central_code_quality_check.yml
Labels: area-CI

#6434 chore(agama): update dependencies used by the engine
  jans-auth-server/agama/engine/pom.xml
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/TemplatingService.java
Labels: kind-dependencies, comp-jans-auth-server, comp-agama

#6439 Added folder for Jans Lock and initial content for design.md
  docs/admin/lock/README.md
  docs/admin/lock/design.md
  docs/assets/lock-design-diagram-00.png
Labels: area-documentation
