Repository JanssenProject/jans, pull requests merged in 2023-04, with the labels that each got.

#4416 feat(docker-jans): upstream changes for license credentials
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
Labels: comp-docker-jans-auth-server, comp-docker-jans-config-api, kind-feature

#4407 docs: update README to add social and DPGA info
  README.md
Labels: area-documentation

#4423 docs: remove references to cli interactive mode and fix other broken links
  docs/CONTRIBUTING.md
  docs/README.md
  docs/admin/config-guide/jans-cli/README.md
  docs/admin/config-guide/jans-cli/cli-attribute.md
  docs/admin/config-guide/jans-cli/cli-cache-configuration.md
  docs/admin/config-guide/jans-cli/cli-couchbase-configuration.md
  docs/admin/config-guide/jans-cli/cli-custom-scripts.md
  docs/admin/config-guide/jans-cli/cli-default-authentication-method.md
  docs/admin/config-guide/jans-cli/cli-group.md
  docs/admin/config-guide/jans-cli/cli-jans-authorization-server.md
  docs/admin/config-guide/jans-cli/cli-janssen-fido2-configuration.md
  docs/admin/config-guide/jans-cli/cli-jwk-json-web-key-jwk.md
  docs/admin/config-guide/jans-cli/cli-ldap-configuration.md
  docs/admin/config-guide/jans-cli/cli-logging-configuration.md
  docs/admin/config-guide/jans-cli/cli-oauthscopes.md
  docs/admin/config-guide/jans-cli/cli-oauthumaresources.md
  docs/admin/config-guide/jans-cli/cli-openid-connect-client-configuration.md
  docs/admin/config-guide/jans-cli/cli-smtp-configuration.md
  docs/admin/config-guide/jans-cli/cli-user.md
  docs/admin/config-guide/jans-tui/README.md
  docs/admin/config-guide/scim-cli.md
  docs/admin/developer/agama/engine-config.md
  docs/admin/developer/agama/flows-lifecycle.md
  docs/admin/developer/agama/lifecycle.md
  docs/admin/developer/agama/logging.md
  docs/admin/developer/agama/quick-start.md
  docs/admin/developer/agama/ui-pages.md
  docs/admin/developer/interception-scripts.md
  docs/admin/developer/scripts/client-registration.md
  docs/admin/developer/scripts/dynamic-scope.md
  docs/admin/developer/scripts/person-authentication.md
  docs/admin/developer/scripts/scim.md
  docs/admin/install/docker-install/quick-start.md
  docs/admin/install/install-faq.md
  docs/admin/kubernetes-ops/start-order.md
  docs/admin/planning/benchmarking.md
  docs/admin/planning/central-auth-service.md
  docs/admin/planning/security-best-practices.md
  docs/admin/planning/use-cases.md
  docs/admin/recipes/benchmark.md
  docs/admin/recipes/custom-web-development/authn-with-apache-reverse-proxy.md
  docs/admin/recipes/social-login.md
  docs/admin/reference/kubernetes/docker-opendj.md
  docs/developer/implementation-design/README.md
  docs/developer/implementation-design/technical-overview-template.md
  docs/script-catalog/client_registration/OpenBanking/client-registration.md
  docs/script-catalog/person_authentication/other/bioid/README.md
Labels: area-documentation, comp-agama

#4424 feat(jans-auth-server): added configurable acr to Device Flow #4305
  docs/admin/auth-server/oauth-features/device-grant.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/DeviceAuthorizationAction.java
Labels: kind-enhancement, comp-jans-auth-server

#4431 docs: update README with DPG info
  README.md
  docs/assets/DPGA_color_logo.png
Labels: area-documentation

#4433 docs: initial category readme drafts
  docs/admin/auth-server/openid-features/README.md
  docs/admin/auth-server/uma-features/README.md
  docs/admin/recipes/README.md
Labels: area-documentation

#4435 fix(docs): jans TUI configuration -- update user password
  docs/admin/config-guide/jans-tui/navigation-guide.md
Labels: kind-bug, area-documentation

#4437 feat(tent): auto-register client in startup
  demos/jans-tent/README.md
  demos/jans-tent/clientapp/__init__.py
  demos/jans-tent/clientapp/helpers/__init__.py
  demos/jans-tent/clientapp/helpers/cgf_checker.py
  demos/jans-tent/clientapp/helpers/client_handler.py
  demos/jans-tent/clientapp/register_new_client.py
  demos/jans-tent/clientapp/utils/__init__.py
  demos/jans-tent/clientapp/utils/dcr_from_config.py
  demos/jans-tent/main.py
  demos/jans-tent/register_new_client.py
  demos/jans-tent/tests/unit_integration/test_cfg_checker.py
  demos/jans-tent/tests/unit_integration/test_client_register_endpoint.py
  demos/jans-tent/tests/unit_integration/test_dcr_from_config.py
  demos/jans-tent/tests/unit_integration/test_dynamic_client_registration.py
Labels: kind-feature

#4442 docs(tent): synch demos and tent description
  demos/README.md
  demos/jans-tent/README.md
Labels: area-documentation

#4436 feat(agama): add means to selectively prevent flow crash when a subflow crashes
  agama/transpiler/src/main/antlr4/io/jans/agama/antlr/AuthnFlow.g4
  agama/transpiler/src/main/resources/JSGenerator.ftl
  agama/transpiler/src/main/resources/util.js
  docs/admin/developer/agama/dsl-full.md
  docs/admin/developer/agama/flows-lifecycle.md
  docs/admin/developer/agama/lifecycle.md
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/FlowService.java
  jans-auth-server/agama/engine/src/main/java/org/mozilla/javascript/SubflowRhinoException.java
  jans-auth-server/agama/inboundID/src/main/java/io/jans/util/NetworkUtils.java
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-agama

#4438 fix(jans-cli-tui): agama related issues
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/wui_components/jans_path_browser.py
Labels: kind-bug, comp-jans-cli-tui

#4439 feat(tent): customize client scope
  demos/jans-tent/clientapp/__init__.py
  demos/jans-tent/clientapp/config.py
  demos/jans-tent/tests/unit_integration/test_config.py
Labels: kind-feature

#4446 feat(jans-auth-server): increase sessionIdUnauthenticatedUnusedLifetime value in setup #4445
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
  docs/admin/config-guide/jans-cli/cli-jans-authorization-server.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/conf/jans-config.json
  jans-linux-setup/jans_setup/openbanking/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: kind-enhancement, comp-docker-jans-persistence-loader, area-documentation, comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#4448 feat(jans-auth-server): use "nologs" version of WebApplicationException in custom script context to avoid stacktrace during redirects #4447
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/ExternalScriptContext.java
Labels: kind-enhancement, comp-jans-auth-server, kind-feature

#4450 fix(config-api): user creation in couchbase DB
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
  jans-config-api/plugins/docs/scim-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/server/src/main/java/io/jans/configapi/filters/SpecFilter.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientAuthResource.java
Labels: kind-bug, comp-jans-config-api

#4440 feat(tent): log to console too
  demos/jans-tent/clientapp/__init__.py
  demos/jans-tent/clientapp/utils/logger.py
Labels: kind-feature

#4043 ci(tent): add pytest workflow
  .github/workflows/python-pytest.yml
Labels: area-CI

#4452 fix(config-api): custom script revision increment on update
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
Labels: kind-bug, comp-jans-config-api

#4455 fix: mailservice should send non signed emails, if keystore isn't defied;
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
  jans-config-api/plugins/docs/scim-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigSmtpResource.java
  jans-core/service/src/main/java/io/jans/service/MailService.java
  jans-core/util/src/main/java/io/jans/model/SmtpConfiguration.java
  jans-core/util/src/main/java/io/jans/util/security/SecurityProviderUtility.java
  jans-linux-setup/jans_setup/templates/configuration.ldif
  jans-scim/service/src/main/java/io/jans/scim/service/ConfigurationService.java
Labels: kind-bug, comp-jans-config-api, comp-jans-core, comp-jans-scim, comp-jans-linux-setup

#4462 feat: backend changes for admin-ui to call licenseSpring apis via. SCAN #4461
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/config/LicenseConfiguration.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/config/AUIConfigurationService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
Labels: comp-jans-config-api, kind-feature

#4454 chore(docker-jans-persistence-loader): reuse jans-auth-config files
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/utils.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
Labels: kind-dependencies, comp-docker-jans-persistence-loader

#4468 chore(main): release jans-scim 1.0.11-SNAPSHOT
  jans-scim/README.md
Labels: kind-dependencies, area-documentation, comp-jans-scim, autorelease: snapshot

#4497 chore(main): release jans-config-api 1.0.11
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#4495 chore(main): release jans-notify 1.0.11
  jans-notify/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4494 chore(main): release agama 1.0.11
  agama/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#4493 chore(main): release jans-core 1.0.11
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#4492 chore(main): release jans-fido2 1.0.11
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#4491 chore(main): release jans-bom 1.0.11
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#4490 chore(main): release jans-orm 1.0.11
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#4489 chore(main): release jans-auth-server 1.0.11
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#4488 chore(main): release jans-eleven 1.0.11
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#4485 chore(main): release 1.0.11
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4482 chore(main): release jans-linux-setup 1.0.11
  jans-linux-setup/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-linux-setup

#4481 chore(main): release docker-jans-fido2 1.0.11-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#4480 chore(main): release docker-jans-monolith 1.0.11-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#4478 chore(main): release docker-jans-configurator 1.0.11-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#4477 chore(main): release docker-jans-scim 1.0.11-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#4476 chore(main): release docker-jans-certmanager 1.0.11-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#4474 chore(main): release docker-jans-auth-server 1.0.11-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#4463 chore(main): release docs 1.0.11
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4496 chore(main): release jans-scim 1.0.11
  jans-scim/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#4503 fix(agama): avoid assets mess/loss when different projects use the same folder/file names
  jans-auth-server/agama/engine/src/main/java/io/jans/ads/Deployer.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaDeploymentsService.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-config-api, comp-agama

#4509 fix(jans-linux-setup): version 1.0.12
  jans-linux-setup/jans_setup/app_info.json
Labels: kind-bug, 1.0, comp-jans-linux-setup

#4507 Updated Tent README for testing new OP
  demos/jans-tent/README.md
Labels: area-documentation

#4279 feat (jans-cli-tui): Authn
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/authn.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/defaults.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/020_fido/main.py
  jans-cli-tui/cli_tui/plugins/060_scripts/edit_script_dialog.py
  jans-cli-tui/cli_tui/plugins/060_scripts/main.py
  jans-cli-tui/cli_tui/wui_components/jans_spinner.py
  jans-cli-tui/cli_tui/wui_components/jans_tab.py
Labels: kind-bug, comp-jans-cli-tui, kind-feature

#4512 fix(docs): Paraphrasing #4369
  docs/admin/auth-server/openid-features/acrs.md
Labels: kind-bug, area-documentation

#4514 build(docker-jans): fix incorrect syntax on label
  demos/benchmarking/docker-jans-loadtesting-jmeter/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim

#4520 jans-cli-tui noticable script error (ref: #4306)
  jans-cli-tui/cli_tui/plugins/060_scripts/main.py
  jans-cli-tui/cli_tui/wui_components/jans_vetrical_nav.py
Labels: comp-jans-cli-tui, kind-feature, comp-jans-tui

#4526 jans-cli-tui TUI view is not updated (ref: #4521)
  jans-cli-tui/cli_tui/plugins/010_auth_server/view_property.py
Labels: comp-jans-cli-tui

#4505 feat(jans-auth-server): redirect back to RP when session is expired or if not possible show error page #4449
  docs/admin/config-guide/jans-cli/cli-jans-authorization-server.md
  docs/admin/reference/json/properties/janssenauthserver-properties.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/error/ErrorHandlingMethod.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/Authenticator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthorizeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ErrorHandlerService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalAuthenticationService.java
  jans-auth-server/server/src/main/resources/jans-auth.properties
  jans-auth-server/server/src/main/resources/jans-auth_en.properties
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizeActionTest.java
  jans-linux-setup/jans_setup/openbanking/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#4534 feat(agama): add version to project metadata
  jans-auth-server/agama/model/src/main/java/io/jans/ads/model/ProjectMetadata.java
Labels: comp-jans-auth-server, kind-feature, comp-agama

#4536 docs: review and update documentation search tags
  docs/admin/install/helm-install/rancher.md
  docs/admin/planning/README.md
  docs/admin/planning/application-portal.md
  docs/admin/planning/caching.md
  docs/admin/planning/central-auth-service.md
  docs/admin/planning/components.md
  docs/admin/planning/discovery.md
  docs/admin/planning/load-balancers.md
  docs/admin/planning/persistence.md
  docs/admin/planning/platform-goal.md
  docs/admin/planning/role-based-access-management.md
  docs/admin/planning/security-best-practices.md
  docs/admin/planning/self-service-password-2fa.md
  docs/admin/planning/stepped-up-auth.md
  docs/admin/planning/timeout-management.md
  docs/admin/planning/use-cases.md
  docs/admin/planning/vm-cluster.md
  docs/admin/planning/vm-single-instance.md
Labels: area-documentation

#4542 fix(jans-cli-tui): edit client's scope
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
Labels: kind-bug, comp-jans-cli-tui

#4540 fix(jans-auth-server) - client registration request defaults to code flow #4296
  jans-auth-server/server/src/main/java/io/jans/as/server/model/registration/RegisterParamsValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/register/ws/rs/RegisterServiceTest.java
Labels: kind-bug, comp-jans-auth-server

#4547 fix(jans-cli-tui): display jansId when editing client's scope
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#4515 fix(jans-cli-tui): agama deployments fixes
  jans-cli-tui/cli_tui/cli_style.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/utils/static.py
  jans-cli-tui/cli_tui/wui_components/jans_cli_dialog.py
  jans-cli-tui/cli_tui/wui_components/jans_table.py
  jans-cli-tui/cli_tui/wui_components/jans_table.py.org
Labels: kind-bug, comp-jans-cli-tui

#4551 docs: clarified firewall note
  docs/admin/install/vm-install/suse.md
Labels: area-documentation

#4560 fix(jans-cli-tui): check if verification uri exists during authorization
  jans-cli-tui/cli_tui/jans_cli_tui.py
Labels: kind-bug, comp-jans-cli-tui

#4561 fix(jans-tui-cli): Jans cli tui agama post fixes
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
Labels: kind-bug, comp-jans-cli-tui

#4564 Jans cli tui on page enter
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/authn.py
  jans-cli-tui/cli_tui/wui_components/jans_vetrical_nav.py
Labels: kind-bug, comp-jans-cli-tui, comp-jans-tui

#4565 fix(jans-config-api): agama deployment detail endpoint not including all flows IDs
  docs/admin/developer/agama/gama-deployment.md
  jans-auth-server/agama/engine/src/main/java/io/jans/ads/Deployer.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaDeploymentsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaDeploymentsService.java
Labels: kind-bug, area-documentation, comp-jans-auth-server, comp-jans-config-api, comp-agama

#4566 fix(jans-config-api): agama deployment detail endpoint not including all flows IDs
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaDeploymentsResource.java
Labels: kind-bug, comp-jans-config-api

#4571 fix(jans-cli-tui): null valued agama flow error
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/wui_components/jans_table.py
Labels: kind-bug, comp-jans-cli-tui

#4572 fix(jans-cli-tui): save 'Suppress Authorization'
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#4573 fix(jans-cli-tui): agama project removal message
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
Labels: kind-bug, comp-jans-cli-tui

#4576 feat: remove credentialsEncryptionKey field from admin-ui configuration #4539
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/CredentialsEncryptionKeyDetails.java
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/LicenseConfig.java
Labels: comp-jans-auth-server, kind-feature

#4580 fix(jans-cli-tui) remove agama project
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
Labels: kind-bug, comp-jans-cli-tui

#4569 test(tent): mock auto register on server start
  demos/jans-tent/clientapp/__init__.py
  demos/jans-tent/clientapp/utils/dcr_from_config.py
  demos/jans-tent/tests/unit_integration/helper.py
  demos/jans-tent/tests/unit_integration/test_callback_endpoint.py
  demos/jans-tent/tests/unit_integration/test_client_register_endpoint.py
  demos/jans-tent/tests/unit_integration/test_configuration_endpoint.py
  demos/jans-tent/tests/unit_integration/test_dcr_from_config.py
  demos/jans-tent/tests/unit_integration/test_flask_factory.py
  demos/jans-tent/tests/unit_integration/test_gluu_preselected_provider.py
  demos/jans-tent/tests/unit_integration/test_protected_content_endpoint.py
Labels: area-CI

#4583 docs(tent): add required python version
  demos/jans-tent/README.md
Labels: area-documentation

#4587 fix(tent): remove print calls
  demos/jans-tent/clientapp/__init__.py
Labels: kind-bug

#4585 chore: merge libs and services from update from Gluu
  jans-auth-server/server/src/main/java/io/jans/as/server/service/net/HttpService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/net/HttpService2.java
  jans-bom/pom.xml
Labels: kind-dependencies, comp-jans-auth-server, comp-jans-bom

#4530 fix(docker-jans-config-api): add missing smtp keystore
  docker-jans-config-api/scripts/bootstrap.py
Labels: kind-bug, comp-docker-jans-config-api

#4589 chore(jans-auth-server): added more logs when show error page
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ErrorHandlerService.java
Labels: kind-enhancement, comp-jans-auth-server

#4592 fix(jans-auth-server): upgraded jettison, 1.5.2 -> 1.5.4 #4591
  jans-auth-server/pom.xml
Labels: kind-enhancement, comp-jans-auth-server

#4607 chore(docker-jans): sync jans-auth-config template
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim

#4613 fix(terraform-provider-jans): update terraform module
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/README.md
  terraform-provider-jans/docs/resources/script.md
  terraform-provider-jans/examples/resources/jans_script/resource.tf
  terraform-provider-jans/jans/api_app_configuration.go
  terraform-provider-jans/jans/api_app_configuration_test.go
  terraform-provider-jans/jans/app_configuration.go
  terraform-provider-jans/jans/app_configuration_test.go
  terraform-provider-jans/jans/cache.go
  terraform-provider-jans/jans/cache_test.go
  terraform-provider-jans/jans/fido2_config.go
  terraform-provider-jans/jans/fido2_config_test.go
  terraform-provider-jans/jans/organization.go
  terraform-provider-jans/jans/organization_test.go
  terraform-provider-jans/jans/patch_request.go
  terraform-provider-jans/jans/scim_app_configuration.go
  terraform-provider-jans/jans/scim_app_configuration_test.go
  terraform-provider-jans/provider/entity_mapper.go
  terraform-provider-jans/provider/resource_api_app_configuration.go
  terraform-provider-jans/provider/resource_api_app_configuration_test.go
  terraform-provider-jans/provider/resource_app_configuration.go
  terraform-provider-jans/provider/resource_app_configuration_test.go
  terraform-provider-jans/provider/resource_cache_configuration.go
  terraform-provider-jans/provider/resource_cache_configuration_test.go
  terraform-provider-jans/provider/resource_fido2_configuration.go
  terraform-provider-jans/provider/resource_fido2_configuration_test.go
  terraform-provider-jans/provider/resource_organization.go
  terraform-provider-jans/provider/resource_organization_test.go
  terraform-provider-jans/provider/resource_scim_app_configuration.go
  terraform-provider-jans/provider/resource_scim_app_configuration_test.go
  terraform-provider-jans/provider/resource_script_test.go
Labels: kind-bug, area-documentation

#4604 fix: jsonvalue has been added;
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-core/util/src/main/java/io/jans/model/SmtpConnectProtectionType.java
Labels: kind-bug, comp-jans-config-api, comp-jans-core

#4624 fix(docs): #2487
  docs/script-catalog/person_authentication/casa/Casa.py
  docs/script-catalog/person_authentication/casa/README.md
Labels: kind-bug, area-documentation

#4619 chore(jans-auth-server): provide a simpler sendMail method in MailService
  jans-core/service/src/main/java/io/jans/service/MailService.java
Labels: kind-dependencies, comp-jans-auth-server, comp-jans-core

#4621 fix(jans-linux-setup): remove scan_update_token
  jans-linux-setup/jans_setup/openbanking/static/extension/update_token/updatetoken.json
  jans-linux-setup/jans_setup/openbanking/templates/scripts.ldif
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#4651 fix(docs): autogenerate docs
  docs/admin/install/docker-install/compose.md
  docs/admin/reference/kubernetes/docker-jans-auth-server.md
  docs/admin/reference/kubernetes/docker-jans-certmanager.md
  docs/admin/reference/kubernetes/docker-jans-config-api.md
  docs/admin/reference/kubernetes/docker-jans-configurator.md
  docs/admin/reference/kubernetes/docker-jans-fido2.md
  docs/admin/reference/kubernetes/docker-jans-monolith.md
  docs/admin/reference/kubernetes/docker-jans-persistence-loader.md
  docs/admin/reference/kubernetes/docker-jans-scim.md
  docs/admin/reference/kubernetes/docker-opendj.md
  docs/admin/reference/kubernetes/helm-chart.md
Labels: kind-bug, area-documentation

#4663 chore(main): release jans-core 1.0.12
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#4661 chore(main): release jans-auth-server 1.0.12
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#4660 chore(main): release jans-config-api 1.0.12
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#4659 chore(main): release jans-bom 1.0.12
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#4658 chore(main): release jans-fido2 1.0.12
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#4657 chore(main): release agama 1.0.12
  agama/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#4656 chore(main): release jans-orm 1.0.12
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#4655 chore(main): release jans-scim 1.0.12
  jans-scim/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#4654 chore(main): release jans-eleven 1.0.12
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#4650 chore(main): release 1.0.12
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4646 chore(main): release docker-jans-scim 1.0.12-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#4645 chore(main): release docker-jans-certmanager 1.0.12-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#4644 chore(main): release docker-jans-configurator 1.0.12-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#4643 chore(main): release docker-jans-monolith 1.0.12-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#4642 chore(main): release docker-jans-persistence-loader 1.0.12-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#4641 chore(main): release docker-jans-fido2 1.0.12-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#4640 chore(main): release docker-jans-auth-server 1.0.12-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#4639 chore(main): release docker-jans-config-api 1.0.12-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#4628 chore(main): release docs 1.0.12
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4662 chore(main): release jans-notify 1.0.12
  jans-notify/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4039 [Snyk] Fix for 1 vulnerabilities
  jans-config-api/plugins/sample/helloworld/pom.xml
Labels: kind-dependencies, comp-jans-config-api

#4037 [Snyk] Fix for 1 vulnerabilities
  jans-config-api/plugins/sample/demo/pom.xml
Labels: kind-dependencies, comp-jans-config-api

#3531 [Snyk] Upgrade com.google.http-client:google-http-client-jackson2 from 1.40.1 to 1.42.3
  jans-auth-server/common/pom.xml
Labels: kind-dependencies, comp-jans-auth-server

#4667 feat(jans-linux-setup): detect arch before starting setup
  jans-linux-setup/jans_setup/jans_setup.py
Labels: kind-feature, comp-jans-linux-setup

#4671 feat(jans-cli-tui): CLI works
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: comp-jans-cli-tui, kind-feature, comp-jans-tui

#4674 doc(jans-cli-tui): update cli doc
  docs/admin/config-guide/jans-cli/README.md
Labels: area-documentation, comp-jans-cli-tui

#4673 fix(jans-cli-tui): endpoint arguments with multiple value
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui

#4677 feat(jans-cli-tui): obtain auth scripts with single query
  jans-cli-tui/cli_tui/plugins/010_auth_server/authn.py
Labels: comp-jans-cli-tui, kind-feature

#4679 fix(jans-cli-tui): remove unused code
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui

#4681 fix(jans-auth-server): forced clientWhiteList when session is valid for post_logout_redirect_uri (allowPostLogoutRedirectWithoutValidation=true ) #4672
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/EndSessionService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/session/ws/rs/EndSessionServiceTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: kind-bug, comp-jans-auth-server

#4682 Jans linux setup mnove openbanking to gluu
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/openbanking/.borrows
  jans-linux-setup/jans_setup/openbanking/.profiledirs
  jans-linux-setup/jans_setup/openbanking/setup_app/data/jetty_app_configuration.json
  jans-linux-setup/jans_setup/openbanking/static/extension/client_registration/Registration.py
  jans-linux-setup/jans_setup/openbanking/static/extension/client_registration/clientregistration.json
  jans-linux-setup/jans_setup/openbanking/static/extension/introspection/IntrospectionScript.py
  jans-linux-setup/jans_setup/openbanking/static/extension/introspection/introspection.json
  jans-linux-setup/jans_setup/openbanking/static/extension/person_authentication/OpenBanking.py
  jans-linux-setup/jans_setup/openbanking/static/extension/person_authentication/personauthentication.json
  jans-linux-setup/jans_setup/openbanking/static/extension/update_token/UpdateToken.py
  jans-linux-setup/jans_setup/openbanking/static/extension/update_token/updatetoken.json
  jans-linux-setup/jans_setup/openbanking/static/ob-gluu-test.key
  jans-linux-setup/jans_setup/openbanking/templates/apache/https_jans.conf
  jans-linux-setup/jans_setup/openbanking/templates/attributes.ldif
  jans-linux-setup/jans_setup/openbanking/templates/configuration.ldif
  jans-linux-setup/jans_setup/openbanking/templates/jans-auth/configuration.ldif
  jans-linux-setup/jans_setup/openbanking/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/openbanking/templates/scopes.ldif
  jans-linux-setup/jans_setup/openbanking/templates/scripts.ldif
  jans-linux-setup/jans_setup/openbanking/templates/system_profile_systemd
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
Labels: kind-enhancement, comp-jans-linux-setup

#4688 fix: cors filter should not store in local variable allowed
  jans-auth-server/server/src/main/java/io/jans/as/server/filter/CorsFilter.java
  jans-core/server/src/main/java/io/jans/server/filters/AbstractCorsFilter.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-core

#4535 jans-cli-tui properties edit missing object items (ref: #4532)
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/view_property.py
  jans-cli-tui/cli_tui/utils/utils.py
  jans-cli-tui/cli_tui/wui_components/jans_vetrical_nav.py
Labels: comp-jans-cli-tui

#4691 docs(config-api): config-api implementation design
  docs/admin/config-guide/config-api/README.md
  docs/assets/config-api-components.png
  docs/assets/sequence-config-api-flow.png
  docs/assets/sequence-config-api-flow.txt
  docs/developer/implementation-design/jans-config-api.md
Labels: area-documentation

#4685 refactor(docker-jans): remove openbanking distribution code
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-auth-server/scripts/hooks.py
  docker-jans-auth-server/scripts/keystore_mod.py
  docker-jans-certmanager/scripts/auth_handler.py
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/README.md
  docker-jans-persistence-loader/scripts/couchbase_setup.py
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-persistence-loader/scripts/ldap_setup.py
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/scripts/utils.py
  docker-jans-persistence-loader/templates/configuration.ldif
  docker-jans-persistence-loader/templates/configuration.ob.ldif
  docker-jans-persistence-loader/templates/jans-auth/configuration.ldif
  docker-jans-persistence-loader/templates/scripts.ob.ldif
  docker-jans-scim/Dockerfile
Labels: kind-enhancement, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation

#4696 fix(jans-cli-tui): typo
  jans-cli-tui/cli_tui/jans_cli_tui.py
Labels: kind-bug, comp-jans-cli-tui

#4698 jans upgrade document
  docs/admin/upgrade/vm/README.md
Labels: area-documentation

#4712 fix(jans-cli-tui): remove popup on agama screen
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
Labels: kind-bug, comp-jans-cli-tui

#4723 doc(jans-cli-tui): upgrade.md
  jans-cli-tui/docs/upgrade.md
Labels: area-documentation, comp-jans-cli-tui

#4603 Feature: TPM Attestation
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/TPMProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/SignatureVerifier.java
Labels: comp-jans-fido2

#4608 Feature: Unit Test for Fido2
  jans-bom/pom.xml
  jans-fido2/server/pom.xml
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/AttestationVerifier.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/DomainVerifier.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/sg/FullFlowAppleTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/AssertionVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/AttestationVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/AuthenticatorDataVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/DomainVerifierTest.java
Labels: comp-jans-fido2, comp-jans-bom

#4716 feat(jans-auth-server): add "introspection" scope check on introspection endpoint access #4557
  docs/admin/auth-server/endpoints/introspection.md
  jans-auth-server/model/src/main/java/io/jans/as/model/common/ScopeConstants.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/introspection/ws/rs/IntrospectionWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/IntrospectionService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/ExternalUpdateTokenContext.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/IntrospectionServiceTest.java
  jans-linux-setup/jans_setup/templates/scopes.ldif
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#4736 fix(jans-cli-tui): f4 to close dialog
  docs/admin/config-guide/jans-tui/navigation-guide.md
  jans-cli-tui/cli_tui/jans_cli_tui.py
Labels: kind-bug, area-documentation, comp-jans-cli-tui

#4738 fix(jans-linux-setup): role_based introspection script
  jans-linux-setup/jans_setup/static/extension/introspection/introspection_role_based_scope.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#4741 docs(jans-cli-tui): update readme
  jans-cli-tui/README.md
  jans-cli-tui/docs/upgrade.md
Labels: area-documentation, comp-jans-cli-tui

#4739 docs(developer): update mapping to README of implementation and design section
  docs/developer/implementation-design/README.md
  mkdocs.yml
Labels: area-documentation

#4749 fix: set appropriate redirect_uris for registration in DCR using ssa (admin-ui)#4748
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/BaseService.java
Labels: kind-bug, comp-jans-config-api

#4755 feat(tent): add headers to home JSON payloads
  demos/jans-tent/clientapp/templates/home.html
Labels: kind-feature

#4754 feat(tent): add `scope` in DCR request
  demos/jans-tent/.gitignore
  demos/jans-tent/README.md
  demos/jans-tent/clientapp/__init__.py
  demos/jans-tent/clientapp/helpers/client_handler.py
  demos/jans-tent/clientapp/helpers/custom_msg_factory.py
  demos/jans-tent/clientapp/utils/dcr_from_config.py
  demos/jans-tent/tests/unit_integration/test_client_register_endpoint.py
  demos/jans-tent/tests/unit_integration/test_dcr_from_config.py
  demos/jans-tent/tests/unit_integration/test_dynamic_client_registration.py
Labels: area-documentation, kind-feature
