Repository JanssenProject/jans, pull requests merged in 2023-06, with the labels that each got.

#5144 fix(config-api): test compile issue for cache refresh plugin
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/cache-refresh-plugin/src/test/java/io/jans/jans-config-api/plugins/AppTest.java
Labels: kind-bug, comp-jans-config-api

#5149 feat(jans-auth-server): Support of Select Account interception script #3452
  docs/admin/developer/interception-scripts.md
  docs/admin/developer/scripts/select-account.md
  docs/script-catalog/select_account/select-account/select_account.py
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/SelectAccountAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalSelectAccountService.java
  jans-auth-server/server/src/main/resources/jans-auth.properties
  jans-auth-server/server/src/main/resources/jans-auth_en.properties
  jans-auth-server/server/src/test/java/io/jans/as/server/model/common/ExecutionContextTest.java
  jans-auth-server/server/src/test/resources/testng.xml
  jans-core/script/src/main/java/io/jans/model/custom/script/CustomScriptType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/selectaccount/DummySelectAccountType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/selectaccount/SelectAccountType.java
  mkdocs.yml
Labels: comp-jans-auth-server, comp-jans-core, kind-feature

#5145 feat: adding default values in fields #5143
  demos/jans-tarp/package.json
  demos/jans-tarp/postcss.config.js
  demos/jans-tarp/src/assets/tailwind.css
  demos/jans-tarp/src/contentScript/contentScript.ts
  demos/jans-tarp/src/options/index.tsx
  demos/jans-tarp/src/options/oidcClientDetails.tsx
  demos/jans-tarp/src/options/options.css
  demos/jans-tarp/src/options/registerForm.tsx
  demos/jans-tarp/src/options/userDetails.tsx
  demos/jans-tarp/src/popup/index.tsx
  demos/jans-tarp/src/static/manifest.json
  demos/jans-tarp/src/tabs/components/About.tsx
  demos/jans-tarp/src/tabs/components/Home.tsx
  demos/jans-tarp/src/tabs/index.tsx
  demos/jans-tarp/src/tabs/tabs.css
  demos/jans-tarp/src/tabs/tabs.tsx
  demos/jans-tarp/tailwind.config.js
  demos/jans-tarp/webpack.common.js
Labels: kind-feature

#5155 fix(terraform-provider-jans): update terraform module
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/docs/index.md
  terraform-provider-jans/docs/resources/agama_deployment.md
  terraform-provider-jans/provider/resource_agama_deployment.go
Labels: kind-bug, area-documentation

#5166 docs: update cli-jans-authorization-server.md
  docs/admin/config-guide/jans-cli/cli-jans-authorization-server.md
Labels: area-documentation

#5167 docs(jans-auth-server): created documentation for reporting #4878
  docs/admin/auth-server/logging/audit-logs.md
  docs/admin/auth-server/reporting-metrics/README.md
  docs/admin/auth-server/reporting-metrics/failed-success-authn.md
  docs/admin/auth-server/reporting-metrics/health.md
  docs/admin/auth-server/reporting-metrics/mau.md
  docs/admin/auth-server/reporting-metrics/tokens-issued.md
  docs/admin/auth-server/reporting-metrics/user-client-count.md
  mkdocs.yml
Labels: area-documentation, comp-jans-auth-server

#5161 fix(jans-cli-tui): agama project upload
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui

#5169 feat: override acr when triggering auth-flow #5168
  demos/jans-tarp/src/options/ILooseObject.ts
  demos/jans-tarp/src/options/IOption.ts
  demos/jans-tarp/src/options/oidcClientDetails.tsx
  demos/jans-tarp/src/options/registerForm.tsx
Labels: kind-feature

#5175 docs(jans-auth-server): Update managing-key-rotation.md
  docs/admin/vm-ops/managing-key-rotation.md
Labels: area-documentation, comp-jans-auth-server

#5176 (docs:jans-auth-server): Uploading KeyRotation property
  docs/assets/Jans_Key_Rotation_properties.png
Labels: area-documentation

#5178 (docs jans-auth-server): Update managing-key-rotation.md
  docs/admin/vm-ops/managing-key-rotation.md
Labels: area-documentation

#5180 chore(jans-auth-server): renamed dcrIssuers -> trustedSsaIssuer #5165
  docs/admin/auth-server/endpoints/client-registration.md
  docs/admin/reference/javadocs/jans-auth-server/model/index-all.html
  docs/admin/reference/javadocs/jans-auth-server/model/io/jans/as/model/configuration/AppConfiguration.html
  docs/admin/reference/javadocs/jans-auth-server/model/member-search-index.js
  docs/admin/reference/json/properties/janssenauthserver-properties.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/DynamicClientRegistrationContext.java
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-enhancement, kind-dependencies, area-documentation, comp-jans-auth-server, comp-jans-config-api

#5182 feat(agama): update deployer to account project's metadata `noDirectLaunch`
  docs/agama/gama-format.md
  docs/agama/introduction.md
  jans-auth-server/agama/engine/src/main/java/io/jans/ads/Deployer.java
  jans-auth-server/agama/model/src/main/java/io/jans/ads/model/ProjectMetadata.java
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-agama

#5183 Jans config api fixes
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-core/service/src/main/java/io/jans/service/custom/CustomScriptService.java
Labels: comp-jans-config-api, comp-jans-core

#5184 docs: create documentation for SCIM adding bulk users
  docs/admin/scim/bulk-users.md
Labels: area-documentation

#4756 fix(jans-fido2):move appleWebauthnRootCa to Fido2 configurations issue#4744
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/AttestationCertificateService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AppleAttestationProcessor.java
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
Labels: kind-bug, area-documentation, comp-jans-config-api, comp-jans-fido2, comp-jans-linux-setup

#5188 docs: rewrite jans-specific agama docs
  docs/agama-catalog/jans/inboundID/README.md
  docs/agama-catalog/jans/inboundID/apple/README.md
  docs/agama-catalog/jans/inboundID/project/code/io.jans.flow.sample.basic.flow
  docs/agama-catalog/jans/inboundID/project/code/io.jans.inbound.ExternalSiteLogin.flow
  docs/agama-catalog/jans/inboundID/project/code/oauth/io.jans.inbound.oauth2.AuthzCode
  docs/agama-catalog/jans/inboundID/project/code/oauth/io.jans.inbound.oauth2.AuthzCodeWithUserInfo
  docs/agama-catalog/jans/inboundID/project/code/provider/io.jans.inbound.Apple.flow
  docs/agama-catalog/jans/inboundID/project/code/provider/io.jans.inbound.Facebook.flow
  docs/agama-catalog/jans/inboundID/project/code/provider/io.jans.inbound.Github.flow
  docs/agama-catalog/jans/inboundID/project/code/provider/io.jans.inbound.Google.flow
  docs/agama-catalog/jans/inboundID/project/web/inboundID/apple.png
  docs/agama-catalog/jans/inboundID/project/web/inboundID/email-prompt.ftlh
  docs/agama-catalog/jans/inboundID/project/web/inboundID/facebook.png
  docs/agama-catalog/jans/inboundID/project/web/inboundID/github.png
  docs/agama-catalog/jans/inboundID/project/web/inboundID/google.png
  docs/agama-catalog/jans/inboundID/project/web/inboundID/login-chooser.ftlh
  docs/agama-catalog/jans/inboundID/project/web/inboundID/none.png
  docs/agama-catalog/jans/inboundID/project/web/samples/basic/login.ftlh
Labels: area-documentation

#5185 feat(jans-auth-server): add ability to set client expiration via DCR #5057
  docs/admin/auth-server/endpoints/client-registration.md
  jans-auth-server/client/src/main/java/io/jans/as/client/RegisterRequest.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/register/RegisterRequestParam.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/ClientAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterCreateAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/register/ws/rs/action/RegisterCreateActionTest.java
  jans-auth-server/server/src/test/resources/testng.xml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: comp-jans-auth-server, kind-feature

#5193 feat: allow the full path of the configuration document during DCR #5173
  demos/jans-tarp/src/options/registerForm.tsx
  demos/jans-tarp/src/static/icon.png
Labels: kind-feature

#5195 docs(oauth): add content about password grant
  docs/admin/auth-server/oauth-features/password-grant.md
Labels: area-documentation

#5196 chore(jans-config-api): remove flows management endpoints
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
Labels: kind-dependencies, comp-jans-config-api

#5200 docs(persistence): create documentation for the overview section of the database guide
  docs/admin/reference/database/README.md
Labels: area-documentation

#5192 feat(fido2): validate acceptable status when loading MDS
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/TocService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/CertificateVerifier.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/CertificateVerifierTest.java
Labels: comp-jans-fido2, kind-feature

#5190 chore(docker-jans-fido2): move location of downloaded Apple WebAuthn Root CA file
  docker-jans-fido2/Dockerfile
Labels: kind-dependencies, comp-docker-jans-fido2

#5187 fix(docker-jans-auth-server): handle missing secret when comparing contents
  docker-jans-auth-server/.dockerignore
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/certs/cert_creds.json
  docker-jans-auth-server/certs/duo_creds.json
  docker-jans-auth-server/certs/gplus_client_secrets.json
  docker-jans-auth-server/certs/otp_configuration.json
  docker-jans-auth-server/certs/super_gluu_creds.json
  docker-jans-auth-server/certs/vericloud_jans_creds.json
  docker-jans-auth-server/scripts/auth_conf.py
Labels: kind-bug, comp-docker-jans-auth-server

#5231 chore(main): release agama 1.0.14
  agama/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#5230 chore(main): release jans-bom 1.0.14
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#5227 chore(main): release jans-orm 1.0.14
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#5226 chore(main): release jans-core 1.0.14
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#5218 chore(main): release docker-jans-monolith 1.0.14-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#5216 chore(main): release docker-jans-configurator 1.0.14-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#5215 chore(main): release docker-jans-scim 1.0.14-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#5214 chore(main): release docker-jans-config-api 1.0.14-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#5212 chore(main): release docker-jans-fido2 1.0.14-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#5232 chore(main): release jans-eleven 1.0.14
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#5210 chore(main): release jans-auth-server 1.0.14-SNAPSHOT
  jans-auth-server/agama/engine/pom.xml
  jans-auth-server/agama/inboundID/pom.xml
  jans-auth-server/agama/model/pom.xml
  jans-auth-server/client/pom.xml
  jans-auth-server/common/pom.xml
  jans-auth-server/model/pom.xml
  jans-auth-server/persistence-model/pom.xml
  jans-auth-server/pom.xml
  jans-auth-server/server/pom.xml
  jans-auth-server/static/pom.xml
  jans-auth-server/test-model/pom.xml
Labels: autorelease: snapshot

#5236 chore: move jans-fido2/notify-client to jans-core/notify-client
  jans-core/notify-client/pom.xml
  jans-core/notify-client/src/main/java/io/jans/notify/client/NotifyClientFactory.java
  jans-core/notify-client/src/main/java/io/jans/notify/client/NotifyClientService.java
  jans-core/notify-client/src/main/java/io/jans/notify/client/NotifyMetadataClientService.java
  jans-core/notify-client/src/main/java/io/jans/notify/model/NotificationResponse.java
  jans-core/notify-client/src/main/java/io/jans/notify/model/NotifyMetadata.java
  jans-core/notify-client/src/main/java/io/jans/notify/model/RegisterDeviceResponse.java
Labels: kind-dependencies, comp-jans-core

#5238 docs(OpenID): add content about id token
  docs/admin/auth-server/openid-features/id-token.md
  docs/admin/auth-server/tokens/openid-id-token.md
Labels: area-documentation

#5162 feat(fido2): added MDS loading from external URL
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/Fido2Configuration.java
  jans-fido2/server/src/main/java/io/jans/fido2/exception/mds/MdsClientException.java
  jans-fido2/server/src/main/java/io/jans/fido2/model/mds/AuthenticatorCertificationStatus.java
  jans-fido2/server/src/main/java/io/jans/fido2/model/mds/MdsGetEndpointResponse.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/DataMapperService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/FetchMdsProviderService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/MdsService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/TocService.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/DataMapperServiceTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/mds/FetchMdsProviderServiceTest.java
  jans-linux-setup/.gitignore
  jans-linux-setup/jans_setup/templates/jans-fido2/dynamic-conf.json
Labels: comp-jans-fido2, kind-feature, comp-jans-linux-setup

#5244 docs(OAuth feature): create documentation for PAR #4859
  docs/admin/auth-server/endpoints/par.md
  docs/admin/auth-server/oauth-features/par.md
Labels: area-documentation

#5249 fix(jans-cli): remove local jwt token when session is revoked
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui, comp-jans-tui

#5241 feat: add client expiry date field in registration form #5240
  demos/jans-tarp/package.json
  demos/jans-tarp/src/options/oidcClientDetails.tsx
  demos/jans-tarp/src/options/options.css
  demos/jans-tarp/src/options/registerForm.tsx
Labels: kind-feature

#5253 fix: jans-auth-server: initializing of jsf navigation has been updated;
  jans-auth-server/server/src/main/resources/META-INF/navigation/cas2.navigation.xml
  jans-auth-server/server/src/main/resources/META-INF/navigation/cert.navigation.xml
  jans-auth-server/server/src/main/resources/META-INF/navigation/duo.navigation.xml
  jans-auth-server/server/src/main/resources/META-INF/navigation/gplus.navigation.xml
  jans-auth-server/server/src/main/resources/META-INF/navigation/otp.navigation.xml
  jans-auth-server/server/src/main/resources/META-INF/navigation/oxpush.navigation.xml
  jans-auth-server/server/src/main/resources/META-INF/navigation/passport.navigation.xml
  jans-auth-server/server/src/main/resources/META-INF/navigation/saml.navigation.xml
  jans-auth-server/server/src/main/resources/META-INF/navigation/super-gluu.navigation.xml
  jans-auth-server/server/src/main/resources/META-INF/navigation/u2f.navigation.xml
  jans-auth-server/server/src/main/resources/META-INF/navigation/uaf.navigation.xml
  jans-auth-server/server/src/main/resources/META-INF/navigation/uma2.sample.navigation.xml
  jans-auth-server/server/src/main/resources/faces-config.xml
  jans-auth-server/server/src/main/webapp/WEB-INF/faces-config.xml
  jans-core/jsf-util/src/main/resources/META-INF/faces-config.xml
  jans-core/jsf-util/src/main/resources/META-INF/services/jakarta.faces.application.ApplicationConfigurationPopulator
Labels: kind-bug, comp-jans-auth-server, comp-jans-core

#5110 feat (jans-config-api): add feature in admin-ui to request trial license#5109
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/LicenseApiResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/license/LicenseResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
Labels: comp-jans-config-api, kind-feature

#5100 fix: adjust opendj permissions and remove unneeded initContainer
  charts/janssen/charts/opendj/templates/statefulset.yaml
Labels: kind-bug, comp-charts-jans

#5260 feat(jans-tarp): on registering client the scope parameter should be space separated string #5259
  demos/jans-tarp/src/options/oidcClientDetails.tsx
  demos/jans-tarp/src/options/registerForm.tsx
Labels: kind-feature

#5251 feat(docker-jans-fido2): loading mds using external urls
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/upgrade.py
Labels: comp-docker-jans-fido2, kind-feature

#5263 test(jans-auth-server): some tests fail after removing automatic client scopes granting #5262
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizationCodeFlowHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizeRestWebServiceHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/ClientInfoRestWebServiceHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/EncodeClaimsInStateParameter.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/EndSessionRestWebServiceHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/SSOWithMultipleBackendServicesHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/SetPublicSubjectIdentifierPerClientTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/Tester.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/TokenEndpointAuthMethodRestrictionHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/TokenSignaturesHttpTest.java
Labels: kind-bug, area-CI, comp-jans-auth-server

#5264 docs(openid): write documentation for logout methods
  docs/admin/auth-server/endpoints/end-session.md
  docs/admin/auth-server/openid-features/logout/README.md
Labels: area-documentation

#5265 test(jans-auth-server): bulk fixes of tests after AS behavior changes #5262
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/IgnoresExtraQueryComponentInRequest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/IncludesAtHashInIdTokenWhenImplicitFlowUsed.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/IncludesCHashInIdTokenWhenCodeFlowUsed.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/ProvidingIdTokenWithEssentialAuthTimeClaim.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/ProvidingIdTokenWithMaxAgeRestriction.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/RejectRequestWithoutRedirectUriWhenMultipleRegistered.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/RejectRequestsWithoutNonceUsingImplicitFlow.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/RejectsIncorrectAtHashWhenImplicitFlowUsed.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/RejectsIncorrectCHashWhenCodeFlowUsed.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/RejectsSecondUseOfAccessCode.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/RequestingUserInfoClaimsWithOpenIdRequestObject.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/RequestingUserInfoClaimsWithScopeValues.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SecondUseOfAccessCodeRevokesPreviouslyIssuedAccessToken.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportClaimsRequestSpecifyingSubValue.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportCodeResponseType.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportCombinationOfCodeIdTokenTokenResponseTypes.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportCombinationOfCodeTokenResponseTypes.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportCombinationOfIdTokenCodeResponseTypes.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportCombinationOfIdTokenTokenResponseTypes.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportDisplayValuePage.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportDisplayValuePopup.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportIdTokenResponseType.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportPromptValueLogin.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportPromptValueNone.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportRequestFile.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportRequestsContainingNonce.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportRequestsWithoutNonce.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportScopeRequestingAddressClaims.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportScopeRequestingAllBasicClaims.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportScopeRequestingEmailClaims.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportScopeRequestingNoSpecificClaims.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportScopeRequestingPhoneClaims.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportScopeRequestingProfileClaims.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/SupportTokenResponseType.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/UserInfoEndpointAccessWithFormEncodedBodyMethod.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/UserInfoEndpointAccessWithHeaderMethod.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/VerifiesCorrectAtHashWhenImplicitFlowUsed.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/VerifiesCorrectCHashWhenCodeFlowUsed.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthnScriptAliasesTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizationAcrValuesTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizationCodeFlowHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizationResponseModeHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizationSupportCustomParams.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizeRestWebServiceHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizeSessionIdRestWebServiceHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizedAcrValuesTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/MultivaluedClaims.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/OpenIDRequestObjectHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/PersistClientAuthorizationsHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/ResponseTypesRestrictionHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/TokenBindingHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/TokenRestWebServiceHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/UILocales.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/UserInfoRestWebServiceHttpTest.java
Labels: kind-bug, area-CI, comp-jans-auth-server

#5266 chore: fix CR version
  jans-cache-refresh/pom.xml
Labels: kind-dependencies

#4745 feat(jans-linux-setup): cache refresh installation
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/data/jetty_app_configuration.json
  jans-linux-setup/jans_setup/setup_app/installers/cache_refresh.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/static/system/systemd/jans-cache-refresh.service
  jans-linux-setup/jans_setup/templates/jans-cache-refresh/configuration.ldif
  jans-linux-setup/jans_setup/templates/jans-cache-refresh/jans-cache-refresh-config.json
  jans-linux-setup/jans_setup/templates/jans-cache-refresh/jans-cache-refresh-static-config.json
  jans-linux-setup/jans_setup/templates/jans.properties
  jans-linux-setup/jans_setup/templates/jetty/jans-cache-refresh
Labels: kind-feature, comp-jans-linux-setup

#5271 test(jans-auth-server): some tests fail after removing automatic client scopes granting #5262
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ciba/BackchannelAuthenticationPollMode.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ciba/BackchannelAuthenticationPushMode.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/MultivaluedClaims.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/OpenIDRequestObjectHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/SectorIdentifierUrlVerificationHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/Tester.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/TokenSignaturesHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/UserInfoRestWebServiceHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/uma/ClientAuthenticationByAccessTokenHttpTest.java
Labels: kind-bug, area-CI, comp-jans-auth-server

#5276 feat(config-api): cache config plugin refresh attributes
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/cache-refresh-plugin/src/main/java/io/jans/configapi/plugin/cacherefresh/model/config/CacheRefreshConfiguration.java
  jans-config-api/plugins/docs/cache-refresh-plugin-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
Labels: comp-jans-config-api, kind-feature

#5278 docs(usermgmt):docs on 'managing users with LDAP and Jans TUI'
  docs/admin/usermgmt/usermgmt-cli-tui.md
Labels: area-documentation

#5279 fix(jans-linux-setup): cache refresh port
  jans-linux-setup/jans_setup/templates/jetty/jans-cache-refresh
Labels: kind-bug, comp-jans-linux-setup

#5284 docs(scim): add more details to documentation for SCIM configuration
  docs/admin/developer/agama/flows-navigation-ui.md
  docs/admin/scim/config.md
Labels: area-CI, area-documentation, comp-agama

#5283 fix: admin-ui should redirect to login page if license has been already activated #5282
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
Labels: kind-bug, comp-jans-config-api

#5281 fix(jans-scim): date custom attribute not returned on user creation when set via custom script
  jans-scim/model/src/main/java/io/jans/scim/model/scim2/extensions/ExtensionField.java
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/ExtensionService.java
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/Scim2UserService.java
Labels: kind-bug, area-CI, comp-jans-scim

#5286 fix(jans-auth-server): ClassCastException during select account #5285
  jans-auth-server/client/src/test/java/io/jans/as/client/ciba/CibaPingModeJwtAuthRequestTests.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ciba/CibaPollModeJwtAuthRequestTests.java
  jans-auth-server/client/src/test/java/io/jans/as/client/interop/CanProvideEncryptedUserInfoResponse.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/ResponseTypesRestrictionHttpTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-linux-setup/jans_setup/templates/test/jans-auth/data/oxauth-test-data.ldif
Labels: kind-bug, comp-jans-auth-server, comp-jans-linux-setup

#5287 chore(jans-auth-server): added more trace logs #5262
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/SelectAccountAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/CookieService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
Labels: kind-enhancement, comp-jans-auth-server

#5290 Docs oauth dpop
  docs/admin/auth-server/oauth-features/dpop.md
Labels: area-documentation

#5297 docs: #819 Twilio interception script
  docs/script-catalog/person_authentication/twilio-2fa/README.md
Labels: area-documentation

#5302 fix(jans-linux-setup): CR variable names and snapshot dir
  jans-linux-setup/jans_setup/setup_app/installers/cache_refresh.py
  jans-linux-setup/jans_setup/templates/jans-cache-refresh/configuration.ldif
  jans-linux-setup/jans_setup/templates/jans-cache-refresh/jans-cache-refresh-config.json
Labels: kind-bug, comp-jans-linux-setup

#5305 Update setup.md
  docs/admin/install/setup.md
Labels: area-documentation, comp-jans-linux-setup

#5306 Update README.md
  docs/admin/config-guide/jans-cli/README.md
Labels: area-documentation, comp-jans-cli-tui

#5307 Jans cli tui combobox spacing
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/060_scripts/edit_script_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#5308 fix(jans-cli-tui): set checkbox selected index to 0 upon filtering
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#5315 fix: remove unneeded configuration snippet
  charts/janssen/charts/nginx-ingress/templates/ingress.yaml
Labels: kind-bug, comp-charts-jans

#5319 Update suse.md
  docs/admin/install/vm-install/suse.md
Labels: area-documentation

#5320 Update rhel.md
  docs/admin/install/vm-install/rhel.md
Labels: area-documentation

#5318 fix(jans-linux-setup): opendj stop for nonldap backends
  jans-linux-setup/jans_setup/install.py
Labels: kind-bug, comp-jans-linux-setup

#5314 docs(config-api): rectify agama doc title
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaDeploymentsResource.java
Labels: area-documentation, comp-jans-config-api

#5332 Some minor fixes to Jans SUSE install
  docs/admin/install/vm-install/suse.md
Labels: area-documentation

#5337 fix(jans-pycloudlib): unable to parse mysql server version
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
  jans-pycloudlib/tests/test_persistence.py
Labels: kind-bug, comp-jans-pycloudlib

#5338 chore(Dockerfile): updated build dates
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#5141 docs: rewrite rdbm doc schema generator for mysql and pgsql
  .github/workflows/test_docker_linux_installer.yml
  automation/docs/generate-rdbms-docs.py
  automation/docs/generate-rdbms-docs.sh
Labels: area-CI, area-documentation, kind-feature

#5343 feat(jans-linux-setup): add option --keep-setup
  jans-linux-setup/jans_setup/install.py
Labels: kind-feature, comp-jans-linux-setup

#5348 Restore usage of PoolingHttpClientConnectionManager in scim client
  jans-scim/client/src/main/java/io/jans/scim2/client/AbstractScimClient.java
Labels: comp-jans-scim

#5351 chore(jans-auth-server): added more logs during select account #5262
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
Labels: kind-enhancement

#5349 docs: helm upgrade
  docs/admin/kubernetes-ops/README.md
  docs/admin/kubernetes-ops/upgrade.md
  mkdocs.yml
Labels: area-documentation

#5355 feat (config-api): add opHost url in /config response in admin-ui plugin #5353
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/OAuth2ConfigResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/auth/OAuth2Resource.java
Labels: comp-jans-config-api, kind-feature

#5360 fix(jans-auth-server): explicit user consent is required when up-scope within client authorized scopes #5247
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/SessionIdServiceTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: kind-bug, comp-jans-auth-server

#5359 fix(jans-linux-setup): scope offline_access is non-default
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/templates/scopes.ldif
Labels: kind-bug, comp-jans-linux-setup

#5362 fix(jans-linux-setup): mapping changes for admin-ui
  jans-linux-setup/jans_setup/templates/jans-auth/role-scope-mappings.json
Labels: kind-bug, comp-jans-linux-setup

#5363 docs(usermgmt): Update scim user management
  docs/admin/usermgmt/usermgmt-scim.md
Labels: area-documentation
