Repository JanssenProject/jans, pull requests merged in 2023-08, with the labels that each got.

#5701 fix(jans-linux-setup): remove modification of dirAllowed
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
Labels: kind-bug, comp-jans-linux-setup

#5702 fix(jans-linux-setup): update build dependencies
  jans-linux-setup/requirements.txt
  jans-linux-setup/setup.py
Labels: kind-bug, comp-jans-linux-setup

#5685 feat(jans-link): add health check service in jans link #5608
  jans-link/server/src/main/java/io/jans/link/service/SystemResteasyInitializer.java
  jans-link/server/src/main/java/io/jans/link/ws/rs/HealthCheckController.java
  jans-link/server/src/main/webapp/index.jsp
Labels: kind-feature

#5706 fix(jans-linux-setup): jans-link download url
  jans-linux-setup/jans_setup/setup_app/installers/jans_link.py
Labels: kind-bug, comp-jans-linux-setup

#5707 fix(jans-auth-server): state is not always returned on redirect from /end_session endpoint #5704
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/EndSessionUtils.java
Labels: kind-bug, comp-jans-auth-server

#5699 refactor(docker-jans): handle custom jetty.xml and webdefault.xml
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-link/Dockerfile
  docker-jans-link/scripts/bootstrap.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/scripts/bootstrap.py
Labels: kind-enhancement, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim

#5714 fix(jans-cli-tui): remove serverIpAddress from link configuration
  jans-cli-tui/cli_tui/plugins/090_jans_link/main.py
Labels: kind-bug, comp-jans-cli-tui

#5710 fix(jans-link): fix null pointer exception for sourceConfig #5709
  jans-link/server/src/main/java/io/jans/link/timer/CacheRefreshTimer.java
Labels: kind-bug

#5715 feat(jans-cli-tui): agama-cli
  jans-linux-setup/tools/gamarchive.py
Labels: comp-jans-cli-tui, kind-feature, comp-jans-linux-setup

#5723 fix(jans-linux-setup): load test data with setup.properties
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#5759 chore(main): release jans-eleven 1.0.16
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#5756 chore(main): release jans-bom 1.0.16
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#5755 chore(main): release jans-config-api 1.0.16
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#5754 chore(main): release jans-orm 1.0.16
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#5751 chore(main): release jans-auth-server 1.0.16
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#5747 chore(main): release 1.0.16
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#5742 chore(main): release docker-jans-link 1.0.16-1
  docker-jans-link/CHANGELOG.md
  docker-jans-link/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#5741 chore(main): release docker-jans-auth-server 1.0.16-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#5739 chore(main): release docker-jans-monolith 1.0.16-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#5738 chore(main): release docker-jans-config-api 1.0.16-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#5737 chore(main): release docker-jans-configurator 1.0.16-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#5736 chore(main): release docker-jans-certmanager 1.0.16-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#5735 chore(main): release docker-jans-persistence-loader 1.0.16-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#5734 chore(main): release docker-jans-scim 1.0.16-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#5724 chore(main): release docs 1.0.16
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#5758 chore(main): release jans-core 1.0.16
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#5757 chore(main): release jans-fido2 1.0.16
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#5766 docs: improve instructions for integration test execution
  docs/contribute/development.md
Labels: area-documentation

#5711 feat(jans-tarp): creating build compatible to firefox browser #5568
  demos/jans-tarp/README.md
  demos/jans-tarp/pack.js
  demos/jans-tarp/src/static/chrome/manifest.json
  demos/jans-tarp/src/static/firefox/manifest.json
  demos/jans-tarp/webpack.common.js
  demos/jans-tarp/webpack.dev.js
  demos/jans-tarp/webpack.prod.js
Labels: area-documentation, kind-feature

#5777 feat(docker-jans-link): add healthcheck support
  charts/janssen/charts/link/README.md
  charts/janssen/charts/link/values.yaml
  docker-jans-link/Dockerfile
  docker-jans-link/scripts/healthcheck.py
Labels: area-documentation, kind-feature, comp-charts-jans

#5779 feat: BCFIPS support (sub-part 02)
  jans-auth-server/client/src/main/java/io/jans/as/client/util/KeyGenerator.java
  jans-auth-server/common/src/main/java/io/jans/as/common/cert/fingerprint/FingerprintHelper.java
  jans-auth-server/common/src/main/java/io/jans/as/common/cert/validation/CRLCertificateVerifier.java
  jans-auth-server/common/src/main/java/io/jans/as/common/cert/validation/OCSPCertificateVerifier.java
  jans-auth-server/common/src/main/java/io/jans/as/common/cert/validation/PathCertificateVerifier.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/CertUtils.java
Labels: comp-jans-auth-server, kind-feature

#5782 test(jans-auth-server): fix EndSessionRestWebServiceImplTest #5781
  jans-auth-server/server/src/test/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImplTest.java
Labels: kind-bug, area-CI, comp-jans-auth-server

#5786 feat(jans-linux-setup): salt with argument
  docs/admin/config-guide/config-tools/jans-tui/.#README.md
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
Labels: area-documentation, kind-feature, comp-jans-linux-setup

#5788 fix(docs): remove tmp file
  docs/admin/config-guide/config-tools/jans-tui/.#README.md
Labels: kind-bug, area-documentation

#5800 docs(installation): proofread the note on SELinux policy
  docs/admin/install/README.md
Labels: area-documentation

#5797 feat(jans-linux-setup): add selinux policies to post setup messages
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
Labels: kind-enhancement, kind-feature, comp-jans-linux-setup

#5792 refactor(docker-jans-persistence-loader): reusable assets for custom image
  docker-jans-persistence-loader/scripts/couchbase_setup.py
  docker-jans-persistence-loader/scripts/entrypoint.sh
  docker-jans-persistence-loader/scripts/ldap_setup.py
  docker-jans-persistence-loader/scripts/settings.py
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: kind-enhancement, comp-docker-jans-persistence-loader

#5811 fix(docs): Corrected path #5810
  docs/admin/recipes/casa.md
Labels: kind-bug, area-documentation

#5823 docs(database): move content for data conversion
  docs/admin/reference/database/converting-data.md
  docs/admin/reference/database/mysql-ops.md
Labels: area-documentation

#5825 chore: add missing descriptor
  docs/agama-catalog/jans/inboundID/README.md
  docs/agama-catalog/jans/inboundID/project/project.json
Labels: kind-dependencies, area-documentation

#5826 chore: add extension to supporting flows
  docs/agama-catalog/jans/inboundID/project/code/oauth/io.jans.inbound.oauth2.AuthzCode.flow
  docs/agama-catalog/jans/inboundID/project/code/oauth/io.jans.inbound.oauth2.AuthzCodeWithUserInfo.flow
Labels: kind-dependencies

#5827 docs: minor fix #4707
  docs/admin/developer/scripts/persistence.md
Labels: area-documentation

#5829 feat(jans-linux-setup): make Casa .administrable by default
  jans-linux-setup/jans_setup/setup_app/installers/casa.py
Labels: kind-feature, comp-jans-linux-setup

#5803 feat(jans-linux-setup): support for CentOS Stream 9
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
Labels: kind-feature, comp-jans-linux-setup

#5830 feat(jans-linux-setup): option for java version
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/installers/jre.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
Labels: kind-feature, comp-jans-linux-setup

#5836 fix(jans-cli-tui): check if host in config
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui

#5654 feat(jans-auth-server): OAuth 2.0 for First-Party Native Applications
  docs/admin/auth-server/endpoints/authorization-challenge.md
  docs/admin/auth-server/endpoints/authorization.md
  docs/admin/auth-server/oauth-features/README.md
  docs/admin/config-guide/jans-authorization-server-config.md
  docs/admin/developer/interception-scripts.md
  docs/admin/developer/scripts/authorization-challenge.md
  docs/script-catalog/authorization_challenge/AuthorizationChallenge.java
  jans-auth-server/client/src/main/java/io/jans/as/client/AuthorizationResponse.java
  jans-auth-server/client/src/main/java/io/jans/as/client/OpenIdConfigurationClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/OpenIdConfigurationResponse.java
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ciba/ConfigurationTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/Asserter.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizationChallengeHttpTest.java
  jans-auth-server/client/src/test/resources/testng.xml
  jans-auth-server/common/src/main/java/io/jans/as/common/model/session/DeviceSession.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/session/DeviceSessionAttributes.java
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/authorize/AuthorizationChallengeResponse.java
  jans-auth-server/model/src/main/java/io/jans/as/model/config/Constants.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/ConfigurationResponseClaim.java
  jans-auth-server/model/src/main/java/io/jans/as/model/discovery/OAuth2Discovery.java
  jans-auth-server/model/src/main/java/io/jans/as/model/error/ErrorResponseFactory.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeEndpoint.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequestService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/DeviceSessionService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/audit/Action.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ResteasyInitializer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalAuthorizationChallengeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/DynamicScopeExternalContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/ExternalScriptContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/FapiOpenIdConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/ws/rs/UmaMetadataWS.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeValidatorTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/TestResteasyInitializer.java
  jans-auth-server/server/src/test/resources/testng.xml
  jans-config-api/server/src/test/resources/feature/config/properties/endpoints/endpoints.json
  jans-core/script/src/main/java/io/jans/model/custom/script/CustomScriptType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/authzchallenge/AuthorizationChallengeType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/authzchallenge/DummyAuthorizationChallengeType.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: area-documentation, comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-jans-linux-setup

#5840 fix(config-api): source LDAP server test
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/util/ConnectionStatus.java
Labels: kind-bug, comp-jans-config-api

#5834 docs(navigation): fix 404 for configuration docs
  docs/admin/config-guide/config-tools/jans-cli/README.md
  docs/admin/config-guide/config-tools/jans-cli/install.md
  mkdocs.yml
Labels: area-documentation

#5846 fix(docs): mysql-operation-1
  docs/admin/reference/database/mysql-ops.md
Labels: kind-bug, area-documentation

#5848 fix(docs): mysql operation for custom attr TUI
  docs/assets/TUI_CustomAttribute.png
Labels: kind-bug, area-documentation

#5849 fix(docs): Adding custom attribute - mysql-ops.md
  docs/admin/reference/database/mysql-ops.md
Labels: kind-bug, area-documentation

#5850 fix(docs): initial commit - Update pgsql-ops.md
  docs/admin/reference/database/pgsql-ops.md
Labels: kind-bug, area-documentation

#5689 Fix(fido2): Exception handling for assertion
  jans-fido2/model/src/main/java/io/jans/fido2/model/assertion/AssertionErrorResponseType.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/attestation/AttestationErrorResponseType.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/AppConfiguration.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/Conf.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/error/CommonErrorResponseType.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/error/ErrorResponseFactory.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/error/Fido2ErrorMessages.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/u2f/error/Fido2ErrorResponseFactory.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/u2f/error/Fido2ErrorResponseType.java
  jans-fido2/server/src/main/java/io/jans/fido2/google/safetynet/OfflineVerify.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/CertificateService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/ConfigurationFactory.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/AuthenticationPersistenceService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/RegistrationPersistenceService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AndroidKeyAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AndroidSafetyNetAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/AppleAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/PackedAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/TPMProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/U2FAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/sg/converter/AssertionSuperGluuController.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/sg/converter/AttestationSuperGluuController.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/AttestationVerifier.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/CertificateVerifier.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/CommonVerifiers.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/DomainVerifier.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/SignatureVerifier.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/AssertionController.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/AttestationController.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/ConfigurationController.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/DataMapperServiceTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/mds/FetchMdsProviderServiceTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/attestation/AndroidKeyAttestationProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/attestation/AndroidSafetyNetAttestationProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/sg/FullFlowAndroidTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/sg/FullFlowAppleTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/sg/converter/AssertionSuperGluuControllerTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/sg/converter/AttestationSuperGluuControllerTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/AssertionVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/AttestationVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/AuthenticatorDataVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/CertificateVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/CommonVerifiersTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/DomainVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/UserVerificationVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/ws/rs/controller/AssertionControllerTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/ws/rs/controller/AttestationControllerTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/ws/rs/controller/ConfigurationControllerTest.java
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
  jans-linux-setup/jans_setup/templates/jans-fido2/dynamic-conf.json
  jans-linux-setup/jans_setup/templates/jans-fido2/fido2.ldif
  jans-linux-setup/jans_setup/templates/jans-fido2/jans-fido2-errors.json
Labels: comp-jans-auth-server, comp-jans-core, comp-jans-fido2, comp-jans-linux-setup

#5845 feat: display access_token and id_token generated during authentication flow #5804
  demos/jans-tarp/src/options/alerts.css
  demos/jans-tarp/src/options/oidcClientDetails.tsx
  demos/jans-tarp/src/options/options.css
  demos/jans-tarp/src/options/userDetails.tsx
Labels: kind-feature

#5865 docs: fixes and additions
  docs/admin/auth-server/config.md
  docs/admin/install/helm-install/amazon-eks.md
  docs/admin/install/helm-install/google-gke.md
Labels: area-documentation

#5866 fix(docs): Update pgsql-ops.md
  docs/admin/reference/database/pgsql-ops.md
Labels: kind-bug, area-documentation

#5847 fix(docs): Update mysql-ops.md
  docs/admin/reference/database/mysql-ops.md
Labels: kind-bug, area-documentation

#5872 doc(jans-auth-server): changed "spec" to "draft spec" for attestationpages #5871
  docs/admin/auth-server/endpoints/client-registration.md
  docs/admin/auth-server/oauth-features/README.md
Labels: area-documentation, comp-jans-auth-server

#5873 docs(persistence): Update ldap-operation docs
  docs/admin/reference/database/ldap-ops.md
Labels: area-documentation

#5852 feat: BCFIPS support (sub-part 03)
  jans-auth-server/client/src/main/java/io/jans/as/client/util/KeyGenerator.java
  jans-auth-server/common/src/main/java/io/jans/as/common/cert/validation/OCSPCertificateVerifier.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/AuthCryptoProvider.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/Certificate.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/KeyFactory.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/signature/ECDSAKeyFactory.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/signature/EDDSAKeyFactory.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/signature/RSAKeyFactory.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwk/KeyType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jws/ECDSASigner.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jws/EDDSASigner.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jws/RSASigner.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/HashUtil.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/JwtUtil.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/HashUtilTest.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/JwtUtilTest.java
  jans-core/util/src/main/java/io/jans/util/security/SecurityProviderUtility.java
Labels: comp-jans-auth-server, kind-feature

#5874 fix(docs): removed Agama Developer Studio reference
  docs/admin/config-guide/agama-configuration.md
Labels: kind-bug, area-documentation

#5877 docs: refactor interception scripts document structure
  docs/admin/developer/interception-scripts.md
  docs/admin/developer/scripts/README.md
  docs/admin/developer/scripts/interception-scripts-debug.md
  mkdocs.yml
Labels: area-documentation

#5888 docs: key-storage.md has been updated;
  docs/admin/auth-server/crypto/key-storage.md
Labels: area-documentation

#5882 docs: create documentation for user claims #4851
  docs/admin/auth-server/openid-features/user-claims/README.md
  docs/admin/auth-server/openid-features/user-claims/built-in-claims.md
  docs/admin/auth-server/openid-features/user-claims/claim-uniqueness-validation.md
  docs/admin/auth-server/openid-features/user-claims/custom-claims.md
  docs/assets/image-tui-add-attribute.png
  docs/assets/image-tui-attribute-datatype.png
  docs/assets/image-tui-user-claim.png
  mkdocs.yml
Labels: area-documentation

#5894 docs: correct formatting and sentences in user claims docs #5893
  docs/admin/auth-server/openid-features/user-claims/built-in-claims.md
  docs/admin/auth-server/openid-features/user-claims/custom-claims.md
Labels: area-documentation

#5904 docs(jans-link): create initial docs for jans-link
  docs/admin/link/README.md
Labels: area-documentation

#5901 chore(Dockerfile): updated build dates
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#5905 feat(docker-jans-configurator): custom location for generate.json via ENV
  docker-jans-configurator/scripts/bootstrap.py
Labels: comp-docker-jans-configurator, kind-feature

#5898 fix(jans-linux-setup): prompt for Gluu Casa
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#5907 feat(docker-jans): sync assets of images
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-fido2/scripts/upgrade.py
  docker-jans-link/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-scim/Dockerfile
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, kind-feature

#5912 docs(persistence): Update postgres operation docs.
  docs/admin/reference/database/pgsql-ops.md
Labels: area-documentation

#5889 feat: refactoring for change in license flow #5402
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/GenericResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/UserInfoRequest.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/auth/OAuth2Resource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/license/LicenseResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/logging/AuditLoggerResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/user/UserManagementResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/user/UserManagementService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/CommonUtils.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
Labels: comp-jans-config-api, kind-feature

#5890 feat: BCFIPS support (sub-part 04)
  jans-auth-server/model/src/test/java/io/jans/as/model/jwk/JSONWebKeyTest.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/HashUtilTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/crypto/cert/CertificateParser.java
  jans-auth-server/server/src/main/java/io/jans/as/server/crypto/signature/SHA256withECDSASignatureVerification.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/CrossEncryptionTest.java
  jans-config-api/pom.xml
  jans-eleven/server/pom.xml
  jans-eleven/server/src/main/java/io/jans/eleven/service/AppInitializer.java
  jans-eleven/server/src/main/java/io/jans/eleven/service/PKCS11Service.java
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-jans-eleven

#5914 feat: commit the admin-ui openapi specs changes #5913
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
Labels: comp-jans-config-api, kind-feature

#5910 chore(agama): update nimbus oauth2-oidc-sdk version in agama-inbound
  docs/admin/developer/agama/projects-deployment.md
  jans-auth-server/agama/inboundID/pom.xml
  jans-bom/pom.xml
Labels: kind-dependencies, comp-jans-auth-server, comp-agama

#5916 fix(jans-linux-setup): Gluu/Flex Casa
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
Labels: kind-bug, comp-jans-linux-setup

#5886 fix(jans-linux-setup): missing attribute mappings
  jans-linux-setup/jans_setup/schema/jans_schema_mappings.json
Labels: kind-bug, comp-jans-linux-setup

#5899 feat(jans-linux-setup): use builtin libs for tar, zip, wget
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/setup_app/installers/jre.py
  jans-linux-setup/jans_setup/setup_app/installers/node.py
  jans-linux-setup/jans_setup/setup_app/installers/opendj.py
  jans-linux-setup/jans_setup/setup_app/installers/oxd.py
  jans-linux-setup/jans_setup/setup_app/paths.py
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
  jans-linux-setup/jans_setup/setup_app/utils/package_utils.py
Labels: kind-enhancement, kind-feature, comp-jans-linux-setup

#5921 doc(jans-auth-server): updated swagger for /register endpoint #5920
  jans-auth-server/docs/swagger.yaml
Labels: area-documentation, comp-jans-auth-server

#5908 Docs(script): Application session script
  docs/admin/developer/scripts/application-session.md
Labels: area-documentation

#5923 fix(docs): add missing interception scripts to the listing
  docs/admin/developer/scripts/README.md
Labels: kind-bug, area-documentation

#5931 fix(jans-auth-server): fixed prompts handling when acr is changed #5930
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequestService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImplTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthzRequestTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: kind-bug, comp-jans-auth-server

#5933 fix(jans-linux-setup): node installer
  jans-linux-setup/jans_setup/setup_app/installers/node.py
Labels: kind-bug, comp-jans-linux-setup

#5938 fix(jans-linux-setup): suse apache version
  jans-linux-setup/jans_setup/setup_app/utils/base.py
Labels: kind-bug, comp-jans-linux-setup
