Repository JanssenProject/jans, pull requests merged in 2023-03, with the labels that each got.

#3998 chore(main): release docs 1.0.8
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4009 chore(main): release jans-auth-server 1.0.8
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#4010 chore(main): release jans-fido2 1.0.8
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#4013 chore(main): release docker-jans-configurator 1.0.8-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#4015 chore(main): release docker-jans-scim 1.0.8-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#4021 chore(main): release jans-cli-tui 1.0.8
  jans-cli-tui/CHANGELOG.md
  jans-cli-tui/cli_tui/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-cli-tui

#4023 chore(main): release jans-pycloudlib 1.0.8
  jans-pycloudlib/CHANGELOG.md
  jans-pycloudlib/jans/pycloudlib/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-pycloudlib

#4027 chore(main): release 1.0.8
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4030 chore(docker-jans-auth-server): update external scripts used by casa
  docker-jans-auth-server/Dockerfile
Labels: kind-dependencies, comp-docker-jans-auth-server

#4033 feat(jans-auth-server): introduced additional_token_endpoint_auth_method client's property #3473
  jans-auth-server/client/src/main/java/io/jans/as/client/RegisterRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/builder/RegistrationBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/RegisterRequestTest.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/registration/Client.java
  jans-auth-server/common/src/test/java/io/jans/as/common/model/registration/ClientTest.java
  jans-auth-server/common/src/test/resources/testng.xml
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/common/AuthenticationMethod.java
  jans-auth-server/model/src/main/java/io/jans/as/model/register/RegisterRequestParam.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/ClientAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/AuthenticationFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/MTLSService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/registration/RegisterParamsValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/ClientAssertion.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ClientService.java
Labels: comp-jans-auth-server, kind-feature

#4051 docs: fix formatting issue
  docs/developer/developer-faq.md
Labels: area-documentation

#4049 feat(agama): update gama deployment endpoint to support configuration properties
  docs/admin/developer/agama/gama-deployment.md
  jans-auth-server/agama/model/src/main/java/io/jans/ads/model/ProjectMetadata.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaDeploymentsResource.java
Labels: area-documentation, comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-agama

#4042 test(tent): restructure and uncouple tests
  demos/jans-tent/clientapp/__init__.py
  demos/jans-tent/clientapp/client_handler.py
  demos/jans-tent/requirements.txt
  demos/jans-tent/tests/unit_integration/test_client_register_endpoint.py
  demos/jans-tent/tests/unit_integration/test_dynamic_client_registration.py
  demos/jans-tent/tests/unit_integration/test_gluu_preselected_provider.py
  demos/jans-tent/tests/unit_integration/test_login_endpoint.py
Labels: area-CI, comp-charts-jans

#4109 fix(jans-auth-server): bad indentation in AS swagger.yaml #4108
  jans-auth-server/docs/swagger.yaml
Labels: kind-bug, comp-jans-auth-server

#4110 chore(main): release jans-auth-server 1.0.9
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#4098 chore(main): release jans-cli-tui 1.0.9
  jans-cli-tui/CHANGELOG.md
  jans-cli-tui/cli_tui/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-cli-tui

#4087 chore(main): release docker-jans-persistence-loader 1.0.9-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#4082 chore(main): release docker-jans-auth-server 1.0.9-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#4081 chore(main): release docker-jans-configurator 1.0.9-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#4080 chore(main): release docker-jans-certmanager 1.0.9-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#4071 chore(main): release jans-orm 1.0.9
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#4070 chore(main): release jans-bom 1.0.9
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#4069 chore(main): release jans-config-api 1.0.9
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#4068 chore(main): release jans-scim 1.0.9
  jans-scim/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#4067 chore(main): release jans-eleven 1.0.9
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#4066 chore(main): release jans-notify 1.0.9
  jans-notify/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4063 chore(main): release agama 1.0.9
  agama/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#4061 chore(main): release docs 1.0.9
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4088 fix: javadoc errors
  jans-orm/core/src/main/java/io/jans/orm/operation/auth/BCrypt.java
  jans-orm/core/src/main/java/io/jans/orm/reflect/util/ReflectHelper.java
  jans-orm/ldap/src/main/java/io/jans/orm/ldap/operation/LdapOperationService.java
  jans-orm/ldap/src/main/java/io/jans/orm/ldap/operation/impl/LdapConnectionProvider.java
Labels: kind-bug, comp-jans-orm

#4115 feat: include jansDeviceData in SCIM Fido2Resource schema
  jans-scim/model/src/main/java/io/jans/scim/model/scim2/fido/DeviceData.java
  jans-scim/model/src/main/java/io/jans/scim/model/scim2/fido/Fido2DeviceResource.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/Fido2DeviceWebService.java
  jans-scim/service/src/main/java/io/jans/scim/model/GluuFido2Device.java
  jans-scim/service/src/main/java/io/jans/scim/model/fido2/Fido2DeviceData.java
Labels: comp-jans-scim, kind-feature

#4118 docs: fix response codes in deployment endpoints table
  docs/admin/developer/agama/gama-deployment.md
  docs/admin/developer/agama/ui-pages.md
Labels: area-documentation, comp-agama

#4106 feat(jans-auth-server): added online_access scope to issue session bound refresh token #3012
  docs/admin/auth-server/tokens/oauth-refresh-tokens.md
  jans-auth-server/model/src/main/java/io/jans/as/model/common/ScopeConstants.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/ldap/TokenAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/GrantService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/GrantServiceTest.java
  jans-auth-server/server/src/test/resources/testng.xml
  jans-linux-setup/jans_setup/openbanking/templates/scopes.ldif
  jans-linux-setup/jans_setup/templates/scopes.ldif
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#4123 fix(config-api): user custom attribute changes and agama param changes
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaDeploymentsResource.java
  jans-config-api/server/src/test/resources/feature/agama/agama-deployment.feature
  jans-config-api/server/src/test/resources/karate-config-jenkins.js
  jans-config-api/server/src/test/resources/karate-config.js
Labels: kind-bug, comp-jans-config-api, comp-agama

#4125 fix(docker-jans-config-api): remove licenseSpringCredentials from admin-ui jansConfDyn
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: kind-bug, comp-docker-jans-persistence-loader, comp-docker-jans-config-api

#4044 feat(tent): support additional params
  demos/jans-tent/.gitignore
  demos/jans-tent/clientapp/__init__.py
  demos/jans-tent/clientapp/config.py
Labels: kind-feature, comp-charts-jans

#4129 fix: prevent getFlowByName method crash by refactoring
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaFlowService.java
Labels: kind-bug, comp-jans-config-api

#3980 fix(jans-cli-tui): working branch 11
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/attributes.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/defaults.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/020_fido/main.py
  jans-cli-tui/cli_tui/plugins/060_scripts/main.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
  jans-cli-tui/cli_tui/utils/static.py
  jans-cli-tui/cli_tui/wui_components/jans_drop_down.py
  jans-cli-tui/cli_tui/wui_components/jans_vetrical_nav.py
Labels: kind-bug, kind-enhancement, comp-jans-cli-tui

#4134 docs: added TUI instructions to VM installation docs
  docs/admin/install/vm-install/rhel.md
  docs/admin/install/vm-install/suse.md
  docs/admin/install/vm-install/ubuntu.md
Labels: area-documentation

#4131 feat(jans-linux-setup): enable agama engine by default
  docs/admin/developer/agama/engine-config.md
  docs/admin/developer/agama/faq.md
  docs/admin/developer/agama/quick-start.md
  jans-auth-server/server/conf/jans-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#4142 fix(jans-cli-tui): dropdown raises error if not initial values provided
  jans-cli-tui/cli_tui/wui_components/jans_drop_down.py
Labels: kind-bug, comp-jans-cli-tui

#4139 fix(jans-fido2):handling exception fido2 get endpoints by invalid params
  jans-fido2/model/src/main/java/io/jans/fido2/model/u2f/error/Fido2ErrorResponseFactory.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/u2f/error/Fido2ErrorResponseType.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/sg/converter/AssertionSuperGluuController.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/sg/converter/AttestationSuperGluuController.java
Labels: kind-bug, comp-jans-fido2

#4146 docs(agama): include SMTP details required for the sample flows to work
  docs/admin/developer/agama/flows-lifecycle.md
  docs/admin/developer/agama/samples.md
Labels: area-documentation, comp-agama

#4136 feat(docker-jans-persistence-loader): add online_access scope and enable agama engine by default
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
Labels: comp-docker-jans-persistence-loader, kind-feature

#4147 feat(config-api): agama deployment path param change and client authorization
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaDeploymentsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientAuthResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ClientAuthService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ScopeService.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/shared/src/main/java/io/jans/configapi/core/model/Token.java
Labels: comp-jans-config-api, kind-feature

#4148 fix(terraform-provider-jans): update terraform module
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/docs/index.md
  terraform-provider-jans/docs/resources/api_app_configuration.md
  terraform-provider-jans/docs/resources/app_configuration.md
  terraform-provider-jans/examples/resources/jans_api_app_configuration/import.sh
  terraform-provider-jans/examples/resources/jans_api_app_configuration/resource.tf
  terraform-provider-jans/go.mod
  terraform-provider-jans/go.sum
  terraform-provider-jans/jans/api_app_configuration.go
  terraform-provider-jans/jans/api_app_configuration_test.go
  terraform-provider-jans/jans/app_configuration.go
  terraform-provider-jans/provider/provider.go
  terraform-provider-jans/provider/resource_api_app_configuration.go
  terraform-provider-jans/provider/resource_api_app_configuration_test.go
  terraform-provider-jans/provider/resource_app_configuration_test.go
  terraform-provider-jans/templates/index.md.tmpl
Labels: kind-bug, area-documentation

#4159 feat(jans-linux-setup) smtp configuration template
  jans-linux-setup/jans_setup/templates/configuration.ldif
Labels: kind-feature, comp-jans-linux-setup

#4161 fix(config-api): smtp password decryption and encryption logic
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/profiles/default/config-api-test.properties
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigSmtpResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/api/ApiProtectionService.java
Labels: kind-bug, comp-jans-config-api

#4162 fix(jans-linux-setup): set jansAuthMode - default acr mode
  jans-linux-setup/jans_setup/templates/configuration.ldif
Labels: kind-bug, comp-jans-linux-setup

#4152 docs: remove OIDC client doc link
  mkdocs.yml
Labels: area-documentation

#4164 fix(terraform-provider-jans): update terraform module
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/docs/data-sources/plugins.md
  terraform-provider-jans/jans/custom_user_test.go
  terraform-provider-jans/jans/plugins.go
  terraform-provider-jans/jans/plugins_test.go
  terraform-provider-jans/provider/data_source_plugins.go
  terraform-provider-jans/provider/data_source_plugins_test.go
  terraform-provider-jans/provider/provider.go
Labels: kind-bug, area-documentation

#4209 chore(main): release jans-notify 1.0.10
  jans-notify/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4207 chore(main): release jans-fido2 1.0.10
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#4206 chore(main): release jans-config-api 1.0.10
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#4205 chore(main): release jans-orm 1.0.10
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#4204 chore(main): release jans-eleven 1.0.10
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#4203 chore(main): release jans-auth-server 1.0.10
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#4202 chore(main): release agama 1.0.10
  agama/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#4201 chore(main): release jans-bom 1.0.10
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#4198 chore(main): release 1.0.10
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4194 chore(main): release jans-pycloudlib 1.0.10
  jans-pycloudlib/CHANGELOG.md
  jans-pycloudlib/jans/pycloudlib/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-pycloudlib

#4192 chore(main): release jans-cli-tui 1.0.10
  jans-cli-tui/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-cli-tui

#4183 chore(main): release docker-jans-persistence-loader 1.0.10-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#4182 chore(main): release docker-jans-scim 1.0.10-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#4181 chore(main): release docker-jans-monolith 1.0.10-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#4180 chore(main): release docker-jans-auth-server 1.0.10-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#4179 chore(main): release docker-jans-fido2 1.0.10-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#4178 chore(main): release docker-jans-certmanager 1.0.10-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#4177 chore(main): release docker-jans-configurator 1.0.10-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#4176 chore(main): release docker-jans-config-api 1.0.10-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#4165 chore(main): release docs 1.0.10
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4211 docs(config-api): fixed broken link and added monitoring, client doc
  docs/admin/config-guide/config-api/README.md
  docs/admin/config-guide/config-api/attribute.md
  docs/admin/config-guide/config-api/authorization.md
  docs/admin/config-guide/config-api/monitoring.md
  docs/admin/config-guide/config-api/openid-client.md
  docs/admin/config-guide/config-api/security.md
Labels: area-documentation

#4217 Update README.md
  docs/agama-catalog/jans/inboundID/README.md
Labels: area-documentation

#4218 docs: add documentation for sector identifiers
  docs/admin/auth-server/client-management/sector-identifiers.md
Labels: area-documentation

#4219 docs-enhancement: agama configuration -1
  docs/agama-catalog/jans/inboundID/README.md
Labels: area-documentation

#4220 docs-enhancement: Agama configuration - loginF
  docs/agama-catalog/jans/inboundID/README.md
Labels: area-documentation

#4222 docs-enhancement:Agama configuration-Add main flow
  docs/agama-catalog/jans/inboundID/README.md
Labels: area-documentation

#4223 docs-enhancement: email template
  docs/agama-catalog/jans/inboundID/README.md
Labels: area-documentation

#4229 docs(agama): fix broken links in agama inbound identity docs
  docs/agama-catalog/jans/inboundID/README.md
Labels: area-documentation, comp-agama

#4230 docs-enhancement: Add Facebook provider
  docs/agama-catalog/jans/inboundID/README.md
Labels: area-documentation

#4234 docs(agama): fix broken links in agama inbound identity docs
  docs/agama-catalog/jans/inboundID/README.md
Labels: area-documentation, comp-agama

#4235 Fixed ubuntu version in shell command
  docs/admin/install/vm-install/ubuntu.md
Labels: area-documentation

#4247 fix(jans-linux-setup): typo - remove attribute county (ref: #4058)
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/schema/jans_schema_mappings.json
Labels: kind-bug, comp-jans-linux-setup

#4252 feat: loggerService should update root log level #4251
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-config-api/server/src/main/java/io/jans/configapi/configuration/AppInitializer.java
  jans-core/service/src/main/java/io/jans/service/logger/LoggerService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/AppInitializer.java
  jans-scim/server/src/main/java/io/jans/scim/service/init/AppInitializer.java
Labels: comp-jans-auth-server, comp-jans-config-api, comp-jans-core, comp-jans-fido2, comp-jans-scim, kind-feature

#4259 fix(jans-auth-server): simple_password_auth is missed in acr_values_supported #4258
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
  jans-auth-server/server/src/test/java/io/jans/as/server/servlet/OpenIdConfigurationTest.java
Labels: kind-bug, comp-jans-auth-server

#4263 fix(jans-cli-tui): display jans id in scope list
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#4250 fix(docker-jans-persistence-loader): set highest level script to false by default
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
Labels: kind-bug, comp-docker-jans-persistence-loader

#4240 feat: restore status/errorMessage and timeout attributes
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
Labels: comp-jans-fido2, kind-feature

#4282 fix(jans-auth-server) : Authorization with acr_values=simple_password_auth failing #4278
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizeActionTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: kind-bug, comp-jans-auth-server

#4281 fix(tent): use params according to OpenID specs
  demos/jans-tent/README.md
  demos/jans-tent/clientapp/__init__.py
  demos/jans-tent/clientapp/config.py
  demos/jans-tent/clientapp/config_dummy.py
Labels: kind-bug

#4286 Update cli-default-authentication-method.md
  docs/admin/config-guide/jans-cli/cli-default-authentication-method.md
Labels: area-documentation

#4288 fix(jans-linux-setup): TUI string
  jans-linux-setup/jans_setup/jans_setup.py
Labels: kind-bug, comp-jans-linux-setup

#4295 docs: edited doc for proofreading and formatting
  docs/admin/config-guide/jans-tui/navigation-guide.md
Labels: area-documentation

#4297 docs(tent): reformat readme
  demos/jans-tent/README.md
Labels: area-documentation

#4302 chore(docker-jans): remove obsolete attribute county
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim

#4309 feat(agama): add a "default agama flow" to bridge
  docs/admin/developer/agama/faq.md
  docs/admin/developer/agama/quick-start.md
  docs/script-catalog/person_authentication/agama-bridge/AgamaBridge.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: area-documentation, kind-feature, comp-jans-linux-setup, comp-agama

#4311 fix(jans-auth-server) : corrected acr change handling from device authorization to other acr #4255
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/acr/AcrChangedHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/deviceauthz/DeviceAuthzRequestRegistrationTest.java
  jans-auth-server/client/src/test/resources/testng.xml
  jans-auth-server/model/src/main/java/io/jans/as/model/config/Constants.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/Util.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/UtilTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/Authenticator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/DeviceAuthorizationAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/authorize/AuthorizeParamsValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthorizeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
Labels: kind-bug, comp-jans-auth-server

#4303 chore(tent): remove source licensing copyright notice
  demos/jans-tent/clientapp/__init__.py
  demos/jans-tent/clientapp/client_handler.py
  demos/jans-tent/clientapp/config.py
  demos/jans-tent/main.py
Labels: kind-dependencies

#4322 fix(jans-auth): #4137 properties file entries were missing
  jans-auth-server/server/src/main/resources/jans-auth.properties
  jans-auth-server/server/src/main/webapp/auth/fido2/platform.xhtml
Labels: kind-bug, comp-jans-auth-server

#4326 fix(docs): temporary record incase of one_step #3340
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/README.md
Labels: kind-bug, area-documentation

#4327 fix(docs): post-install setup #3340
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/README.md
Labels: kind-bug, area-documentation

#4328 feat(jans-cli-tui): device verification url with code
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
Labels: comp-jans-cli-tui, kind-feature

#4331 fix(jans-auth-server): corrected npe in redirect uri validator #4330
  jans-auth-server/server/src/main/java/io/jans/as/server/service/RedirectionUriService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/RedirectionUriServiceTest.java
Labels: kind-bug, comp-jans-auth-server

#4339 chore(docker-jans-persistence-loader): add default_flow_name property to agama script
  docker-jans-persistence-loader/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader

#4352 test(tent): restructure client registration unit
  demos/jans-tent/clientapp/client_handler.py
  demos/jans-tent/tests/unit_integration/helper.py
  demos/jans-tent/tests/unit_integration/test_dynamic_client_registration.py
Labels: area-CI

#4361 fix(jans-auth-server): avoid redirect 302 exception every time an authentication request is issued #2287
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
Labels: kind-enhancement, comp-jans-auth-server

#4363 fix(jans-cli-tui): use -dev isntead of -SNAPSHOT in build version
  jans-cli-tui/setup.py
Labels: kind-bug, comp-jans-cli-tui

#4367 fix(jans-cli-tui): remove unused code
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui

#4310 docs: document the flow that determines applicable acr
  docs/admin/auth-server/openid-features/acrs.md
  docs/admin/developer/scripts/person-authentication-faq.md
  docs/assets/image-tui-client-advance-properties.png
  docs/assets/jans-tui-auth-server-default.png
Labels: area-documentation

#4317 docs: remove low priority document topics from navigation
  docs/admin/auth-server/session-management/README.md
  docs/admin/auth-server/session-management/multiple-browser-sessions.md
  docs/admin/developer/back-channel-scripts.md
  docs/admin/developer/front-channel-scripts.md
  docs/admin/upgrade/README.md
  mkdocs.yml
Labels: area-documentation

#4333 fix: Unable to send emails issue 4121
  jans-auth-server/client/src/main/java/io/jans/as/client/util/KeyExporter.java
  jans-auth-server/client/src/main/java/io/jans/as/client/util/KeyGenerator.java
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/DcrDemo.java
  jans-auth-server/common/src/main/java/io/jans/as/common/cert/validation/CRLCertificateVerifier.java
  jans-auth-server/common/src/main/java/io/jans/as/common/cert/validation/GenericCertificateVerifier.java
  jans-auth-server/common/src/main/java/io/jans/as/common/cert/validation/OCSPCertificateVerifier.java
  jans-auth-server/common/src/main/java/io/jans/as/common/cert/validation/PathCertificateVerifier.java
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/ApplicationFactory.java
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/ConfigurationService.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwe/JweDecrypterImpl.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/SecurityProviderUtility.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/CertUtilsTest.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/JwtUtilTest.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/SecurityProviderUtilityTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-bom/pom.xml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/pom.xml
  jans-config-api/server/src/main/java/io/jans/configapi/configuration/ConfigurationFactory.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigSmtpResource.java
  jans-core/service/pom.xml
  jans-core/service/src/main/java/io/jans/service/MailService.java
  jans-core/util/src/main/java/io/jans/model/SmtpConfiguration.java
  jans-core/util/src/main/java/io/jans/model/SmtpConnectProtectionType.java
  jans-core/util/src/main/java/io/jans/model/SmtpTest.java
  jans-core/util/src/main/java/io/jans/util/security/SecurityProviderUtility.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/AppInitializer.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/sg/RawRegistrationService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/SignatureVerifier.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/KeySignatureVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/sg/FullFlowAndroidTest.java
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/templates/configuration.ldif
  jans-scim/client/src/main/java/io/jans/scim2/client/factory/ScimClientFactory.java
  jans-scim/client/src/test/java/io/jans/scim2/listener/AlterSuiteListener.java
  jans-scim/server/src/main/java/io/jans/scim/service/init/AppInitializer.java
  jans-scim/service/src/main/java/io/jans/scim/service/ApplicationFactory.java
  jans-scim/service/src/main/java/io/jans/scim/service/ConfigurationService.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-config-api, comp-jans-core, comp-jans-fido2, comp-jans-scim, comp-jans-bom, comp-jans-linux-setup

#4375 fix(jans-linux-setup): disable agama script by default (avoid blank page) #4374
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-enhancement, comp-jans-linux-setup

#4376 fix(jans-linux-setup): remove password strength check for ldap
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#4381 bug(jans-linux-setup): agama engine should be disabled by default
  docs/admin/developer/agama/engine-config.md
  docs/admin/developer/agama/quick-start.md
  jans-auth-server/server/conf/jans-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: area-documentation, comp-jans-auth-server, comp-jans-linux-setup, comp-agama

#4387 fix(jans-auth-server): fixed test which prevents build from completion #4386
  jans-auth-server/model/src/test/java/io/jans/as/model/util/SecurityProviderUtilityTest.java
Labels: kind-bug, comp-jans-auth-server

#4390 docs: fix broken links in docs under auth server directory
  docs/admin/auth-server/client-management/README.md
  docs/admin/auth-server/client-management/client-authn.md
  docs/admin/auth-server/client-management/client-configuration.md
  docs/admin/auth-server/config.md
  docs/admin/auth-server/crypto/key-generation.md
  docs/admin/auth-server/crypto/keys.md
  docs/admin/auth-server/endpoints/authorization.md
  docs/admin/auth-server/endpoints/client-registration.md
  docs/admin/auth-server/endpoints/clientinfo.md
  docs/admin/auth-server/endpoints/configuration.md
  docs/admin/auth-server/endpoints/end-session.md
  docs/admin/auth-server/endpoints/introspection.md
  docs/admin/auth-server/endpoints/jwks-uri.md
  docs/admin/auth-server/endpoints/par.md
  docs/admin/auth-server/endpoints/session-revocation.md
  docs/admin/auth-server/endpoints/ssa.md
  docs/admin/auth-server/endpoints/token-revocation.md
  docs/admin/auth-server/endpoints/token.md
  docs/admin/auth-server/endpoints/userinfo.md
  docs/admin/auth-server/oauth-features/auth-code-grant.md
  docs/admin/auth-server/oauth-features/device-grant.md
  docs/admin/auth-server/oauth-features/implicit-grant.md
  docs/admin/auth-server/openid-features/acrs.md
  docs/admin/auth-server/session-management/README.md
  docs/admin/auth-server/session-management/multiple-sessions-one-browser.md
  docs/admin/auth-server/tokens/oauth-access-tokens.md
  docs/admin/auth-server/tokens/oauth-refresh-tokens.md
  docs/admin/auth-server/tokens/openid-userinfo-token.md
Labels: area-documentation

#4400 fix(docker-jans-persistence-loader): disable agama engine by default
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
Labels: kind-bug, comp-docker-jans-persistence-loader

#4401 feat: userName -> smtpAuthenticationAccountUsername;
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/ConfigurationService.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigSmtpResource.java
  jans-core/service/src/main/java/io/jans/service/MailService.java
  jans-core/util/src/main/java/io/jans/model/SmtpConfiguration.java
  jans-scim/service/src/main/java/io/jans/scim/service/ConfigurationService.java
Labels: comp-jans-auth-server, comp-jans-config-api, comp-jans-core, comp-jans-scim, kind-feature

#4410 test(jans-auth-server): UserServiceTest.addUser_noEmptyPersonCustomObject_user is failing after changes in UserService #4408
  jans-auth-server/common/src/test/java/io/jans/as/common/service/common/UserServiceTest.java
Labels: kind-bug, comp-jans-auth-server

#4409 feat(jans-config-api): new endpoint for users consent management
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
  jans-config-api/plugins/docs/scim-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/pom.xml
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/pom.xml
  jans-config-api/server/src/main/java/io/jans/configapi/filters/SpecFilter.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientAuthResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ClientAuthService.java
  jans-config-api/server/src/main/resources/example/client-auth/client-auth-get.json
  jans-config-api/server/src/test/resources/feature/client-auth/client-auth.feature
  jans-config-api/server/src/test/resources/karate-config-jenkins.js
  jans-config-api/server/src/test/resources/karate-config.js
Labels: comp-jans-config-api, kind-feature

#4412 feat(config-api): user consent mgmt code quality fix
  jans-config-api/server/src/main/java/io/jans/configapi/filters/SpecFilter.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ClientAuthService.java
Labels: comp-jans-config-api, kind-feature

#4414 jans-cli-tui filter scopes (ref: #4299)
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
Labels: comp-jans-cli-tui, kind-feature, comp-jans-tui
