Repository JanssenProject/jans, pull requests merged in 2023-12, with the labels that each got.

#6884 docs: add custom jar in customization doc
  docs/admin/kubernetes-ops/customization.md
Labels: area-documentation

#6883 feat(agama): use a mixed strategy for serialization
  agama/transpiler/src/main/java/io/jans/agama/dsl/Transpiler.java
  docs/admin/developer/agama/engine-bridge-config.md
  docs/admin/developer/agama/faq.md
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/exception/FlowCrashException.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/script/ScriptUtils.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/serialize/ContinuationSerializer.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/serialize/FstSerializer.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/serialize/KryoSerializer.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/serialize/NativeJavaBox.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/serialize/ObjectSerializer.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/serialize/SerializationUtil.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/serialize/SerializerFactory.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/ServicesFactory.java
  jans-auth-server/agama/model/src/main/java/io/jans/agama/model/EngineConfig.java
  jans-auth-server/agama/model/src/main/java/io/jans/agama/model/serialize/Type.java
  jans-auth-server/server/conf/jans-config.json
  jans-bom/pom.xml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/jetty/jans-auth
Labels: area-documentation, comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-jans-bom, comp-jans-linux-setup, comp-agama

#6833 feat(docker-jans-persistence-loader): set feature flags state
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
Labels: comp-docker-jans-persistence-loader, kind-feature

#6889 feat(docker-jans): use mixed strategy for Agama serialization
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, kind-feature

#6890 fix(jans-linux-setup): postgresql permission
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
Labels: kind-bug, comp-jans-linux-setup

#6918 docs: custom attributes in k8s setup
  docs/admin/kubernetes-ops/custom-attributes.md
  mkdocs.yml
Labels: area-documentation

#6915 fix: command to External/LB IP
  automation/startjanssendemo.sh
  automation/startjanssenmonolithdemo.sh
Labels: kind-bug, area-CI

#6936 fix(jans-auth-server): authz challenge session attributes are overwritten after external script run #6933
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeService.java
Labels: kind-bug, comp-jans-auth-server

#6925 fix(terraform-provider-jans): update terraform module
  terraform-provider-jans/go.mod
  terraform-provider-jans/go.sum
Labels: kind-bug

#6825 refactor: remove all jars from source code
  demos/jans-chip/android/README.md
  demos/jans-chip/android/gradle/wrapper/gradle-wrapper.jar
  docs/script-catalog/person_authentication/other/otp/OTPExternalAuthenticator.py
  docs/script-catalog/person_authentication/other/otp/README.md
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp-keyprovisioning/0.0.1-SNAPSHOT/_remote.repositories
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp-keyprovisioning/0.0.1-SNAPSHOT/maven-metadata-local.xml
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp-keyprovisioning/0.0.1-SNAPSHOT/oath-otp-keyprovisioning-0.0.1-SNAPSHOT-javadoc.jar
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp-keyprovisioning/0.0.1-SNAPSHOT/oath-otp-keyprovisioning-0.0.1-SNAPSHOT-sources.jar
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp-keyprovisioning/0.0.1-SNAPSHOT/oath-otp-keyprovisioning-0.0.1-SNAPSHOT.jar
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp-keyprovisioning/0.0.1-SNAPSHOT/oath-otp-keyprovisioning-0.0.1-SNAPSHOT.pom
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp-keyprovisioning/maven-metadata-local.xml
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp/0.0.1-SNAPSHOT/_remote.repositories
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp/0.0.1-SNAPSHOT/maven-metadata-local.xml
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp/0.0.1-SNAPSHOT/oath-otp-0.0.1-SNAPSHOT-javadoc.jar
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp/0.0.1-SNAPSHOT/oath-otp-0.0.1-SNAPSHOT-sources.jar
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp/0.0.1-SNAPSHOT/oath-otp-0.0.1-SNAPSHOT.jar
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp/0.0.1-SNAPSHOT/oath-otp-0.0.1-SNAPSHOT.pom
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-otp/maven-metadata-local.xml
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-parent/0.0.1-SNAPSHOT/_remote.repositories
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-parent/0.0.1-SNAPSHOT/maven-metadata-local.xml
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-parent/0.0.1-SNAPSHOT/oath-parent-0.0.1-SNAPSHOT.pom
  docs/script-catalog/person_authentication/other/otp/repository/com/lochbridge/oath/oath-parent/maven-metadata-local.xml
Labels: kind-enhancement

#6948 ci: fix packages permissions
  .github/workflows/backport.yml
  .github/workflows/docker_build_image.yml
Labels: area-CI

#6952 fix(docker-jans-persistence-loader): passing CN_SCIM_ENABLED doesn't toggle jansScimEnabled config
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#6956 ci: replace set-out per workflow
  .github/workflows/build-docs.yml
  .github/workflows/commit-check.yml
  .github/workflows/docker_build_image.yml
Labels: area-CI

#6958 chore(deps): remove jwcrypto dependency from jans-all-in-one image
  docker-jans-all-in-one/app/requirements.txt
Labels: kind-dependencies, comp-docker-jans-all-in-one

#6957 fix: support boolean jdbc data type #6953
  jans-auth-server/server/src/test/java/io/jans/as/server/dev/TokenTest.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlFilterConverter.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-orm

#6971 chore(keycloak-integration): fix broken build due to version bump
  jans-keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/JansAuthenticator.java
  jans-keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/rest/JansAuthResponseResourceProvider.java
  jans-keycloak-integration/pom.xml
Labels: kind-dependencies

#6977 docs: update readme -- steps to test janssen IdP with self-signed certificate #6976
  demos/jans-tarp/README.md
  demos/jans-tarp/docs/images/untrusted_cert_risk.png
Labels: area-documentation

#6974 fix(kc-saml-plugin): error while updating SAML TR
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/IdpService.java
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
  jans-linux-setup/jans_setup/templates/base.ldif
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: kind-bug, comp-jans-config-api, comp-jans-linux-setup

#6988 chore: add message artifcat
  jans-core/pom.xml
Labels: kind-dependencies, comp-jans-core

#6895 feat(jans-linux-setup): config-idp-plugin related changes
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/static/system/systemd/kc.service
  jans-linux-setup/jans_setup/templates/jans-saml/jans-saml-config.json
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.api-openid-client.json
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.api-realm.json
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.api-user.json
Labels: kind-feature, comp-jans-linux-setup

#6991 chore: fix schema
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/ApplicationFactory.java
  jans-core/message/src/main/java/io/jans/service/message/NullMessageProvider.java
  jans-core/message/src/main/java/io/jans/service/message/NullPool.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: kind-dependencies, comp-jans-linux-setup

#6970 feat: add support for custom scripts
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/cronjobs.yaml
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/README.md
  charts/janssen/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/janssen/charts/auth-server-key-rotation/values.yaml
  charts/janssen/charts/auth-server/README.md
  charts/janssen/charts/auth-server/templates/deployment.yml
  charts/janssen/charts/auth-server/values.yaml
  charts/janssen/charts/casa/README.md
  charts/janssen/charts/casa/templates/deployment.yaml
  charts/janssen/charts/casa/values.yaml
  charts/janssen/charts/config-api/README.md
  charts/janssen/charts/config-api/templates/deployment.yaml
  charts/janssen/charts/config-api/values.yaml
  charts/janssen/charts/config/README.md
  charts/janssen/charts/config/templates/load-init-config.yml
  charts/janssen/charts/config/values.yaml
  charts/janssen/charts/fido2/README.md
  charts/janssen/charts/fido2/templates/deployment.yml
  charts/janssen/charts/fido2/values.yaml
  charts/janssen/charts/link/README.md
  charts/janssen/charts/link/templates/deployment.yaml
  charts/janssen/charts/link/values.yaml
  charts/janssen/charts/opendj/README.md
  charts/janssen/charts/opendj/templates/statefulset.yaml
  charts/janssen/charts/opendj/values.yaml
  charts/janssen/charts/persistence/README.md
  charts/janssen/charts/persistence/templates/jobs.yml
  charts/janssen/charts/persistence/values.yaml
  charts/janssen/charts/scim/README.md
  charts/janssen/charts/scim/templates/deployment.yml
  charts/janssen/charts/scim/values.yaml
  charts/janssen/values.yaml
  docs/admin/kubernetes-ops/customization.md
Labels: area-documentation, kind-feature, comp-charts-jans

#7000 chore(docker-jans): sync patched jans_schema.json
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link

#7002 fix(jans-linux-setup): jans saml installation
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/templates/jans-saml/jans-saml-config.json
Labels: kind-bug, comp-jans-linux-setup

#6591 feat(jans-cli-tui): SAML configuration interface
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/080_smtp/main.py
  jans-cli-tui/cli_tui/plugins/100_saml/.enabled
  jans-cli-tui/cli_tui/plugins/100_saml/__init__.py
  jans-cli-tui/cli_tui/plugins/100_saml/edit_tr_dialog.py
  jans-cli-tui/cli_tui/plugins/100_saml/main.py
  jans-cli-tui/cli_tui/wui_components/jans_drop_down.py
Labels: comp-jans-cli-tui, kind-feature

#6996 docs: update CORS documentation.
  docs/admin/developer/cors.md
Labels: area-documentation

#7004 fix(jans-linux-setup): sql key regeneration fails
  jans-linux-setup/tools/key_regeneration.py
Labels: kind-bug, comp-jans-linux-setup

#6995 fix(docs): add more clarity to triage labels
  docs/governance/triage.md
Labels: kind-bug, area-documentation

#7008 fix: prepare for 1.0.21 release
  agama/README.md
  docker-jans-auth-server/README.md
  docker-jans-casa/README.md
  docker-jans-certmanager/README.md
  docker-jans-config-api/README.md
  docker-jans-configurator/README.md
  docker-jans-fido2/README.md
  docker-jans-link/README.md
  docker-jans-monolith/README.md
  docker-jans-persistence-loader/README.md
  docker-jans-scim/README.md
  docs/README.md
  jans-auth-server/README.md
  jans-bom/README.md
  jans-casa/README.md
  jans-cli-tui/README.md
  jans-config-api/README.md
  jans-core/README.md
  jans-eleven/README.md
  jans-fido2/README.md
  jans-linux-setup/README.md
  jans-orm/README.md
  jans-pycloudlib/README.md
  jans-scim/README.md
Labels: kind-bug, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, comp-jans-auth-server, comp-jans-cli-tui, comp-jans-config-api, comp-jans-core, comp-jans-fido2, comp-jans-orm, comp-jans-scim, comp-jans-bom, comp-jans-eleven, comp-jans-linux-setup, comp-jans-pycloudlib, comp-agama, comp-docker-jans-link

#6998 test(agama): augment test cases
  agama/transpiler/src/main/resources/JSGenerator.ftl
  agama/transpiler/src/main/resources/util.js
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/script/ScriptUtils.java
  jans-auth-server/agama/engine/src/test/java/io/jans/agama/test/CrashedFlowsTest.java
  jans-auth-server/agama/engine/src/test/java/io/jans/agama/test/TemplateOverridesTest.java
  jans-auth-server/agama/engine/src/test/java/io/jans/agama/test/VariableSurvivalTest.java
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.broken.flow1
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.broken.flow2
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.broken.flow3
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.broken.parent
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.broken.sub.flow3
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.broken.sub.parent
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.ot.flow1
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.ot.flow2
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.ot.flow3
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.vars_and_rrf.agamaValues
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.vars_and_rrf.javaValues1
  jans-auth-server/agama/engine/src/test/resources/libs/co/Test.java
  jans-auth-server/agama/engine/src/test/resources/templates/ot/cust/cancel.ftlh
  jans-auth-server/agama/engine/src/test/resources/templates/ot/cust/mypage.ftlh
  jans-auth-server/agama/engine/src/test/resources/templates/ot/page.ftl
  jans-auth-server/agama/engine/src/test/resources/testng.xml
  jans-linux-setup/jans_setup/templates/test/agama/agama-test-data.ldif
Labels: area-CI, comp-jans-auth-server, comp-agama

#7052 fix(jans-linux-setup): python requests-toolbelt library for tui
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/setup.py
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
Labels: kind-bug, comp-jans-cli-tui, comp-jans-linux-setup

#7054 feat(kc-saml-plugin): cleanup and error handling
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/configuration/SamlAppInitializer.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/extensions/SamlExtension.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/form/BrokerIdentityProviderForm.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/ApiApplication.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/IdpResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/configuration/ObjectMapperContextResolver.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseApiApplication.java
Labels: comp-jans-config-api, kind-feature

#7055 docs (jans-lock): Updated docs with PDP Plugin to support third party PDPs
  docs/admin/lock/README.md
  docs/admin/lock/lock_auth_server_config.md
  docs/admin/lock/lock_opa.md
  docs/admin/lock/lock_pdp_plugin.md
Labels: area-documentation

#7059 fix(kc-saml-plugin): metadata file type in Openi API spec incorrect
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/form/BrokerIdentityProviderForm.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/form/TrustRelationshipForm.java
Labels: kind-bug, comp-jans-config-api

#6415 Fix(jans-fido2): put timeout when authenticator attachment is cross-platform
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
Labels: comp-jans-fido2

#7066 fix(jans-cli-tui): save client
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#7063 fix(config-api): hide authenticationMethod client model utility method
  jans-auth-server/common/src/main/java/io/jans/as/common/model/registration/Client.java
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, comp-jans-auth-server, comp-jans-config-api

#7068 fix(jans-cli-tui): saml tr issues
  jans-cli-tui/cli_tui/plugins/100_saml/edit_tr_dialog.py
  jans-cli-tui/cli_tui/plugins/100_saml/main.py
Labels: kind-bug, comp-jans-cli-tui

#7074 feat: add Jans lock
  jans-auth-server/server/src/main/java/io/jans/as/server/model/config/ConfigurationFactory.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-core/model/src/main/java/io/jans/model/ApplicationType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/CustomScriptType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/lock/DummyLockExtensionType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/lock/LockExtensionType.java
  jans-core/service/src/main/java/io/jans/service/ApplicationConfigurationFactory.java
  jans-lock/CHANGELOG.md
  jans-lock/client/pom.xml
  jans-lock/client/src/main/java/io/jans/lock/client/util/ClientUtil.java
  jans-lock/client/src/main/resources/META-INF/beans.xml
  jans-lock/model/pom.xml
  jans-lock/model/src/main/java/io/jans/lock/model/UpdateRequest.java
  jans-lock/pom.xml
  jans-lock/server-fips/pom.xml
  jans-lock/server/pom.xml
  jans-lock/server/profiles/default/config-api-test.properties
  jans-lock/server/profiles/default/config-build.properties
  jans-lock/server/profiles/local/karate.properties
  jans-lock/server/profiles/local/test.properties
  jans-lock/server/src/main/java/io/jans/lock/server/service/AppInitializer.java
  jans-lock/server/src/main/java/io/jans/lock/server/service/AttributeService.java
  jans-lock/server/src/main/java/io/jans/lock/server/service/ConfigurationService.java
  jans-lock/server/src/main/java/io/jans/lock/server/service/CustomScriptService.java
  jans-lock/server/src/main/java/io/jans/lock/server/service/EncryptionService.java
  jans-lock/server/src/main/java/io/jans/lock/server/service/LoggerService.java
  jans-lock/server/src/main/java/io/jans/lock/server/service/MetricService.java
  jans-lock/server/src/main/java/io/jans/lock/server/service/OrganizationService.java
  jans-lock/server/src/main/java/io/jans/lock/server/service/SystemResteasyInitializer.java
  jans-lock/server/src/main/java/io/jans/lock/service/config/ApplicationFactory.java
  jans-lock/server/src/main/java/io/jans/lock/ws/rs/HealthCheckController.java
  jans-lock/server/src/main/resources/META-INF/beans.xml
  jans-lock/server/src/main/resources/config-api-rs-protect.json
  jans-lock/server/src/main/resources/log4j2.xml
  jans-lock/server/src/main/resources/quartz.properties
  jans-lock/server/src/main/webapp/WEB-INF/jetty-env.xml
  jans-lock/server/src/main/webapp/WEB-INF/jetty-web.xml
  jans-lock/server/src/main/webapp/WEB-INF/web.xml
  jans-lock/server/src/main/webapp/index.jsp
  jans-lock/server/src/test/java/io/jans/lock/test/dev/TestPubSubPostgres.java
  jans-lock/server/src/test/java/io/jans/lock/test/dev/TestPubSubRedis.java
  jans-lock/service/pom.xml
  jans-lock/service/src/main/java/io/jans/lock/external/ExternalScriptService.java
  jans-lock/service/src/main/java/io/jans/lock/model/config/AppConfiguration.java
  jans-lock/service/src/main/java/io/jans/lock/model/config/BaseDnConfiguration.java
  jans-lock/service/src/main/java/io/jans/lock/model/config/Conf.java
  jans-lock/service/src/main/java/io/jans/lock/model/config/Configuration.java
  jans-lock/service/src/main/java/io/jans/lock/model/config/StaticConfiguration.java
  jans-lock/service/src/main/java/io/jans/lock/service/config/ConfigurationFactory.java
  jans-lock/service/src/main/java/io/jans/lock/service/custom/CustomScriptService.java
  jans-lock/service/src/main/java/io/jans/lock/service/status/cdi/event/StatusCheckerTimerEvent.java
  jans-lock/service/src/main/resources/META-INF/beans.xml
Labels: area-documentation, comp-jans-auth-server, comp-jans-core, kind-feature

#7080 chore: update version
  jans-lock/client/pom.xml
  jans-lock/model/pom.xml
  jans-lock/pom.xml
  jans-lock/server-fips/pom.xml
  jans-lock/server/pom.xml
  jans-lock/service/pom.xml
Labels: kind-dependencies

#7069 docs (jans-lock): Fixed Lock Docs README: bad links / missing diagrams
  docs/admin/lock/README.md
Labels: area-documentation

#7084 ci: add jans-lock to workflows
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/build-wars.yml
  .github/workflows/central_code_quality_check.yml
  .github/workflows/release.yaml
Labels: area-CI

#7092 feat(jans-linux-setup): put KC behind apache
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/static/system/systemd/kc.service
  jans-linux-setup/jans_setup/templates/apache/https_jans.conf
  jans-linux-setup/jans_setup/templates/jans-saml/jans-saml-config.json
Labels: kind-feature, comp-jans-linux-setup

#7095 fix: remove agama inbound jar dependency
  docker-jans-auth-server/Dockerfile
Labels: kind-bug, comp-docker-jans-auth-server

#7097 fix: location for saml plugin
  docker-jans-config-api/Dockerfile
Labels: kind-bug, comp-docker-jans-config-api

#7101 chore(main): release 1.0.21
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#7050 chore(main): release jans-config-api 1.0.21
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#7049 chore(main): release jans-scim 1.0.21
  jans-scim/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#7048 chore(main): release jans-casa 1.0.21
  jans-casa/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#7047 chore(main): release agama 1.0.21
  agama/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#7046 chore(main): release jans-orm 1.0.21
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#7045 chore(main): release jans-eleven 1.0.21
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#7044 chore(main): release jans-bom 1.0.21
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#7043 chore(main): release jans-core 1.0.21
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#7042 chore(main): release jans-auth-server 1.0.21
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#7041 chore(main): release jans-keycloak-link 1.0.21
  jans-keycloak-link/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#7040 chore(main): release jans-fido2 1.0.21
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#7039 chore(main): release jans-linux-setup 1.0.21
  jans-linux-setup/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-linux-setup

#7038 chore(main): release jans-cli-tui 1.0.21
  jans-cli-tui/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-cli-tui

#7037 chore(main): release jans-pycloudlib 1.0.21
  jans-pycloudlib/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-pycloudlib

#7036 chore(main): release docker-jans-saml 1.0.21-1
  docker-jans-saml/CHANGELOG.md
  docker-jans-saml/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#7035 chore(main): release docker-jans-keycloak-link 1.0.21-1
  docker-jans-keycloak-link/CHANGELOG.md
  docker-jans-keycloak-link/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#7034 chore(main): release docker-jans-configurator 1.0.21-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#7033 chore(main): release docker-jans-link 1.0.21-1
  docker-jans-link/CHANGELOG.md
  docker-jans-link/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-docker-jans-link

#7032 chore(main): release docker-jans-scim 1.0.21-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#7031 chore(main): release docker-jans-persistence-loader 1.0.21-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#7030 chore(main): release docker-jans-casa 1.0.21-1
  docker-jans-casa/CHANGELOG.md
  docker-jans-casa/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#7028 chore(main): release docker-jans-fido2 1.0.21-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#7027 chore(main): release docker-jans-config-api 1.0.21-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#7026 chore(main): release docker-jans-auth-server 1.0.21-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#7025 chore(main): release docker-jans-certmanager 1.0.21-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#7024 chore(main): release docker-jans-all-in-one 1.0.21-1
  docker-jans-all-in-one/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-docker-jans-all-in-one

#7023 chore(main): release jans-link 1.0.21
  jans-link/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#7099 chore(main): release jans-lock 1.0.21
  jans-lock/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#7011 chore(main): release docs 1.0.21
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#7103 fix(jans-linux-setup): systemctl fido2 start order
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/static/system/systemd/jans-casa.service
Labels: kind-bug, comp-jans-linux-setup

#7133 fix(keycloak-integration): Keycloak startup issue #7123
  jans-keycloak-integration/pom.xml
Labels: kind-bug

#7135 fix(config-api): changes for json processing of customattribute & tokenEndpointAuthMethod definition in spec
  jans-auth-server/common/src/main/java/io/jans/as/common/model/registration/Client.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-orm/model/src/main/java/io/jans/orm/model/base/CustomObjectAttribute.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-config-api, comp-jans-orm

#7121 fix(jans-fido2): jansPublicKeyId updated to 256 characters
  jans-fido2/server/profiles/default/config-build.properties
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-bug, comp-jans-fido2, comp-jans-linux-setup

#7141 feat(jans-cli-tui): grab values of tokenEndpointAuthMethod from swagg…
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
Labels: comp-jans-cli-tui, kind-feature

#7140 fix(jans-linux-setup): KC version 23.0.3
  jans-linux-setup/jans_setup/app_info.json
Labels: kind-bug, kind-feature, comp-jans-linux-setup

#7152 fix: re-engineer how calls work in the engine
  agama/transpiler/src/main/resources/util.js
  docs/admin/developer/agama/faq.md
  docs/admin/developer/agama/jans-agama-engine.md
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/ActionService.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/MethodInvoker.java
  jans-auth-server/agama/engine/src/test/java/io/jans/agama/test/InvocationsTest.java
  jans-auth-server/agama/engine/src/test/java/io/jans/agama/test/VariableSurvivalTest.java
  jans-auth-server/agama/engine/src/test/resources/flows/README.txt
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.invocations
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.invocations2
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.invocations3
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.invocations4
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.invocations5
  jans-auth-server/agama/engine/src/test/resources/flows/io.jans.agama.test.vars_and_rrf.javaValues2
  jans-auth-server/agama/engine/src/test/resources/libs/co/SubTest.java
  jans-linux-setup/jans_setup/templates/test/agama/agama-test-data.ldif
Labels: kind-bug, area-documentation, comp-jans-auth-server, comp-jans-linux-setup, comp-agama

#7153 feat(jans-cli-tui): save client summary
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
Labels: comp-jans-cli-tui, kind-feature

#7161 fix(jans-cli-tui): don't include client secret in summary
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
Labels: kind-bug, comp-jans-cli-tui

#7166 chore(deps): remove optional libcst dependency
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-saml/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one

#7168 chore(deps): upgrade click version
  docker-jans-certmanager/requirements.txt
  docker-jans-configurator/requirements.txt
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-configurator

#7175 chore: exclude null message conf
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-core/message/pom.xml
  jans-core/message/src/main/java/io/jans/service/message/model/config/MessageConfiguration.java
Labels: kind-dependencies, comp-jans-config-api, comp-jans-core

#7170 feat(jans-linux-setup): jans-lock installer
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/data/jetty_app_configuration.json
  jans-linux-setup/jans_setup/setup_app/installers/base.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/static/system/systemd/jans-lock.service
  jans-linux-setup/jans_setup/templates/apache/https_jans.conf
  jans-linux-setup/jans_setup/templates/jans-lock/config.ldif
  jans-linux-setup/jans_setup/templates/jans-lock/errors.json
  jans-linux-setup/jans_setup/templates/jetty/jans-lock
Labels: kind-feature, comp-jans-linux-setup

#7177 fix(jans-linux-setup): KC client
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.api-openid-client.json
Labels: kind-bug, comp-jans-linux-setup

#7182 feat(jans-linux-setup): install OPA
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/static/system/systemd/opa.service
Labels: kind-enhancement, kind-feature, comp-jans-linux-setup

#7180 chore: fix message patch tests
  jans-config-api/server/src/test/resources/feature/config/message/message.feature
Labels: kind-dependencies, comp-jans-config-api

#7184 fix(jans-linux-setup): uninstall opa
  jans-linux-setup/jans_setup/install.py
Labels: kind-bug, comp-jans-linux-setup

#7172 feat(docs): ssa lifetime docs updated
  docs/admin/auth-server/endpoints/ssa.md
  jans-auth-server/docs/swagger.yaml
Labels: area-documentation, comp-jans-auth-server, kind-feature

#7171 chore(docker-jans-persistence-loader): sync role-scope-mappings
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/scripts/utils.py
Labels: kind-dependencies, comp-docker-jans-persistence-loader

#7186 feat: rename JSON message configuration properties to conform karate test framework
  docker-jans-persistence-loader/scripts/upgrade.py
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/test/resources/feature/config/message/message.feature
  jans-core/message/src/main/java/io/jans/service/message/model/config/PostgresMessageConfiguration.java
  jans-linux-setup/jans_setup/templates/configuration.ldif
Labels: comp-docker-jans-persistence-loader, comp-jans-config-api, comp-jans-core, kind-feature, comp-jans-linux-setup

#7194 fix: update ldif entry related to failing test
  jans-linux-setup/jans_setup/templates/test/agama/agama-test-data.ldif
Labels: kind-bug, comp-jans-linux-setup, comp-agama

#7198 feat(jans-cli-tui): message configuration
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/message.py
  jans-cli-tui/cli_tui/utils/utils.py
Labels: kind-enhancement, comp-jans-cli-tui, kind-feature

#7199 fix(jans-fido2): none assertiona and unit test for none attestation
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/NoneAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/NoneAttestationProcessor.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/assertion/NoneAssertionFormatProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/attestation/NoneAttestationProcessorTest.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-config-api, comp-jans-core, comp-jans-fido2, comp-agama

#7201 fix(jans-auth-server): fix swagger.yaml
  jans-auth-server/docs/swagger.yaml
Labels: kind-bug, comp-jans-auth-server

#7207 fix(jans-cli-tui): CLI asks creds for unauthorized request
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui

#7210 fix(jans-cli-tui): rename Message to Lock
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
Labels: kind-bug, comp-jans-cli-tui

#7196 feat(docker): support for OAuth 2.0 Rich Authorization Requests
  docker-jans-auth-server/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, kind-feature

#7218 feat(jans-linux-setup): remove MariaDB support
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
  jans-linux-setup/jans_setup/setup_app/downloads.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/package_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-feature, comp-jans-linux-setup
