Repository JanssenProject/jans, pull requests merged in 2023-07, with the labels that each got.

#5346 fix(docs): autogenerate MYSQL RDBMS docs
  docs/admin/reference/database/mysql-schema-indexes.md
  docs/admin/reference/database/mysql-schema.md
Labels: kind-bug, area-documentation

#5347 fix(docs): autogenerate PGSQL RDBMS docs
  docs/admin/reference/database/pgsql-schema-indexes.md
  docs/admin/reference/database/pgsql-schema.md
Labels: kind-bug, area-documentation

#5370 feat(docker): add deletion support for persistence
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
  jans-pycloudlib/jans/pycloudlib/persistence/spanner.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
Labels: comp-docker-jans-persistence-loader, kind-feature, comp-jans-pycloudlib

#5386 feat(jans-linux-setup): disable selinux
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
Labels: kind-feature, comp-jans-linux-setup

#5387 chore(Dockerfile): updated build dates
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#5394 feat(jans-linux-setup): make jans_stat a default oauth scope #5393
  jans-linux-setup/jans_setup/templates/scopes.ldif
Labels: kind-enhancement, comp-jans-linux-setup

#5397 Update rhel.md for gpg key changes
  docs/admin/install/vm-install/rhel.md
Labels: area-documentation

#5398 Update ubuntu.md for gpgkey
  docs/admin/install/vm-install/ubuntu.md
Labels: area-documentation

#5399 fix(jans-auth-server): check client has access before granting
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
Labels: kind-enhancement, comp-jans-auth-server

#5401 feat(jans-linux-setup): argument -disable-selinux
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-feature, comp-jans-linux-setup

#5372 docs: much needed content refresh of main Janssen Project README home page.
  README.md
Labels: area-documentation

#5404 fix(docs): markdown structure of RDBM schema creation
  automation/docs/generate-rdbms-docs.py
Labels: kind-bug, area-CI, area-documentation

#5413 fix(jans-orm): orm compilation failure #5412
  jans-orm/ldap-sample/src/main/java/io/jans/orm/ldap/LdapUserFieldRemove.java
  jans-orm/ldap-sample/src/main/java/io/jans/orm/ldap/model/SimpleUser.java
Labels: kind-bug, comp-jans-orm

#5430 fix(jans-linux-setup): spanner import ldif with modify add
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
Labels: kind-bug, comp-jans-linux-setup

#5440 fix(jans-link): corrected import class in py script
  jans-linux-setup/jans_setup/static/extension/cache_refresh/SampleScript.py
Labels: kind-bug, comp-jans-linux-setup

#5426 docs(cli): add agama CLI to nav
  mkdocs.yml
Labels: area-documentation

#5448 fix(jans-auth-server): maintain client scopes during authorization #5247
  jans-auth-server/common/src/main/java/io/jans/as/common/model/session/SessionId.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthorizeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
Labels: kind-bug, comp-jans-auth-server

#5449 fix(config-api): cache refresh pwd encryption and agama spec
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/cache-refresh-plugin/src/main/java/io/jans/configapi/plugin/cacherefresh/rest/CacheRefreshConfigResource.java
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaDeploymentsResource.java
Labels: kind-bug, comp-jans-config-api

#5450 doc(jans-cli-tui): find tui client id
  jans-cli-tui/docs/build.md
Labels: area-documentation, comp-jans-cli-tui

#5460 docs(scopes): created documentation for scopes #4714
  docs/admin/auth-server/scopes/README.md
  docs/admin/auth-server/scopes/oauth.md
  docs/admin/auth-server/scopes/openid.md
  docs/admin/auth-server/scopes/uma.md
Labels: area-documentation, comp-jans-auth-server

#5463 docs: #605 - mention setting integer value claim
  docs/admin/developer/scripts/update-token.md
Labels: area-documentation

#5472 feat(jans-link): set jans-link by default disabled
  jans-linux-setup/jans_setup/templates/jans-cache-refresh/jans-cache-refresh-config.json
Labels: kind-feature, comp-jans-linux-setup

#5466 fix(jans-cli-tui): remove agama developer studio
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
Labels: kind-bug, comp-jans-cli-tui

#5475 feat(agama): prefix log statements generated by Agama flows with the qualified name
  agama/transpiler/src/main/java/io/jans/agama/dsl/Transpiler.java
  agama/transpiler/src/main/java/io/jans/agama/dsl/Visitor.java
  agama/transpiler/src/main/resources/JSGenerator.ftl
  agama/transpiler/src/main/resources/util.js
  docs/script-catalog/person_authentication/agama-bridge/AgamaBridge.py
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/script/LogUtils.java
Labels: comp-jans-auth-server, kind-feature, comp-agama

#5446 fix(jans-cli-tui): error while saving auth creds
  jans-cli-tui/cli_tui/jans_cli_tui.py
Labels: kind-bug, comp-jans-cli-tui

#5477 test(jans-auth-server): adapted test after new methods added into SessionIdService #5476
  jans-auth-server/server/src/test/java/io/jans/as/server/service/SessionIdServiceTest.java
Labels: kind-bug, area-CI, comp-jans-auth-server

#5478 refactor(jans-linux-setup): order start level of jans services
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/couchbase.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/opendj.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/static/system/systemd/jans-auth.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-cache-refresh.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-config-api.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-eleven.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-fido2.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-scim.service
Labels: kind-enhancement, comp-jans-linux-setup

#5480 docs(agama): describe what (and where) is logged in Agama
  docs/admin/developer/agama/jans-agama-engine.md
Labels: area-documentation, comp-agama

#5481 Update jans suse.md doc for enable package
  docs/admin/install/vm-install/suse.md
Labels: area-documentation

#5484 feat(jans-link): change schema name cache refresh to link
  jans-config-api/plugins/jans-link-plugin/src/test/resources/feature/link/dynamiconf.json
  jans-link/src/main/java/io/jans/link/constants/JansConstants.java
  jans-linux-setup/jans_setup/static/cache-refresh/o_site.ldif
  jans-linux-setup/jans_setup/templates/jans-cache-refresh/jans-cache-refresh-config.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup

#5486 docs(auth-server): created documentation for OAuth features overview README #4899
  docs/admin/auth-server/oauth-features/README.md
Labels: area-documentation, comp-jans-auth-server

#5510 fix(docs): autogenerate docs
  docs/admin/install/docker-install/compose.md
  docs/admin/reference/kubernetes/docker-jans-auth-server.md
  docs/admin/reference/kubernetes/docker-jans-certmanager.md
  docs/admin/reference/kubernetes/docker-jans-config-api.md
  docs/admin/reference/kubernetes/docker-jans-configurator.md
  docs/admin/reference/kubernetes/docker-jans-fido2.md
  docs/admin/reference/kubernetes/docker-jans-monolith.md
  docs/admin/reference/kubernetes/docker-jans-persistence-loader.md
  docs/admin/reference/kubernetes/docker-jans-scim.md
  docs/admin/reference/kubernetes/helm-chart.md
Labels: kind-bug, area-documentation

#5523 chore(main): release agama 1.0.15
  agama/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#5522 chore(main): release jans-core 1.0.15
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#5521 chore(main): release jans-eleven 1.0.15
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#5520 chore(main): release jans-fido2 1.0.15
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#5519 chore(main): release jans-config-api 1.0.15
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#5518 chore(main): release jans-bom 1.0.15
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#5517 chore(main): release jans-orm 1.0.15
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#5516 chore(main): release jans-scim 1.0.15
  jans-scim/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#5504 chore(main): release docker-jans-scim 1.0.15-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#5503 chore(main): release docker-jans-configurator 1.0.15-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#5502 chore(main): release docker-jans-monolith 1.0.15-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#5501 chore(main): release docker-jans-persistence-loader 1.0.15-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#5499 chore(main): release docker-jans-config-api 1.0.15-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#5498 chore(main): release docker-jans-fido2 1.0.15-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#5497 chore(main): release docker-jans-certmanager 1.0.15-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#5496 chore(main): release jans-auth-server 1.0.15
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server, comp-agama

#5487 chore(main): release docs 1.0.15
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#5525 fix: authentication Filter should not process OPTIONS request method
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/AuthenticationFilter.java
  jans-core/server/src/main/java/io/jans/server/filters/AbstractCorsFilter.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-core

#5512 chore(jans-core): notify-client is not included in parent pom.xml #5511
  jans-core/pom.xml
Labels: kind-dependencies, comp-jans-core

#5533 change the jans link DN
  jans-config-api/plugins/jans-link-plugin/src/main/java/io/jans/configapi/plugin/link/service/JansLinkService.java
  jans-link/src/main/java/io/jans/link/service/CacheRefrshConfigurationService.java
  jans-link/src/main/java/io/jans/link/service/config/ConfigurationFactory.java
  jans-linux-setup/jans_setup/templates/jans.properties
Labels: comp-jans-config-api, comp-jans-linux-setup

#5323 chore: add new SQL ORM options to check connection before executing
  jans-linux-setup/jans_setup/templates/jans-mysql.properties
  jans-orm/sql-sample/src/main/java/io/jans/orm/sql/persistence/SqlEntryManagerSample.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlConnectionProvider.java
  jans-orm/util/src/main/java/io/jans/orm/util/StringHelper.java
Labels: kind-dependencies, comp-jans-orm

#5529 chore(agama): update test cases wrt latest changes in transpiler
  jans-linux-setup/jans_setup/templates/test/agama/agama-test-data.ldif
Labels: kind-dependencies, comp-jans-linux-setup, comp-agama

#5530 fix(jans-cli-tui): get information for Agama and AgamaConfiguration
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui, comp-jans-tui

#5453 fix(jans-linux-setup): remove disabling selinux and apply policies
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#5539 fix(jans-linux-setup): link configuration DN
  jans-linux-setup/jans_setup/templates/jans.properties
Labels: kind-bug, comp-jans-linux-setup

#5550 docs: updated cli-attribute.md
  docs/admin/config-guide/jans-cli/cli-attribute.md
Labels: area-documentation

#5553 feat(jans-auth-server): automatically provision scopes if they are present in the SSA for trusted issuer #5164
  docs/admin/auth-server/endpoints/client-registration.md
  docs/admin/reference/json/properties/janssenauthserver-properties.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/TrustedIssuerConfig.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/DynamicClientRegistrationContext.java
  jans-auth-server/server/src/test/java/io/jans/as/server/register/ws/rs/RegisterValidatorTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: area-documentation, comp-jans-auth-server, kind-feature

#5417 feat(jans-cli-tui): Jans Link interface
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/040_config_api/main.py
  jans-cli-tui/cli_tui/plugins/090_jans_link/.enabled
  jans-cli-tui/cli_tui/plugins/090_jans_link/__init__.py
  jans-cli-tui/cli_tui/plugins/090_jans_link/main.py
  jans-cli-tui/cli_tui/wui_components/jans_drop_down.py
Labels: comp-jans-cli-tui, kind-feature

#5554 fix(jans-linux-setup): cryptography, opensuse tumbleweed support, openssl requirement
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
  jans-linux-setup/jans_setup/setup_app/utils/base.py
Labels: kind-bug, comp-jans-linux-setup

#5558 docs: demo script application_session (session audit) has been added;
  docs/script-catalog/application_session/jans-session-audit/README.md
  docs/script-catalog/application_session/jans-session-audit/jans-session-audit.py
  jans-orm/model/src/main/java/io/jans/orm/model/base/CustomObjectEntry.java
Labels: area-documentation, comp-jans-orm

#5431 fix(docs): autogenerate MYSQL RDBMS docs
  docs/admin/reference/database/mysql-schema-indexes.md
  docs/admin/reference/database/mysql-schema.md
Labels: kind-bug, area-documentation

#5432 fix(docs): autogenerate PGSQL RDBMS docs
  docs/admin/reference/database/pgsql-schema-indexes.md
  docs/admin/reference/database/pgsql-schema.md
Labels: kind-bug, area-documentation

#5560 fix(jans-auth-server): npe during client registration #5559
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterValidator.java
Labels: kind-bug, comp-jans-auth-server

#5564 feat(jans-auth-server): added dcr load test #5438
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/tests/register_client.jmx
Labels: comp-jans-auth-server, kind-feature

#5565 fix(jans-auth-server): clean up register_client.jmx #5438
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/tests/register_client.jmx
Labels: kind-enhancement, comp-jans-auth-server

#5573 docs(integ-tests): document steps for running integration tests from developer workspace
  docs/contribute/development.md
Labels: area-CI, area-documentation

#5566 feat: add dcr load test
  demos/benchmarking/docker-jans-loadtesting-jmeter/Dockerfile
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/entrypoint.sh
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/tests/register_client.jmx
  demos/benchmarking/docker-jans-loadtesting-jmeter/yaml/load-test/load_test_dcr.yaml
  docs/admin/recipes/benchmark.md
Labels: kind-feature

#5578 docs: highlight key differences between Java and Groovy code in agama docs
  docs/admin/developer/agama/jans-agama-engine.md
Labels: area-documentation, comp-agama

#5581 fix(jans-cli-tui): inumdb server in jans link
  jans-cli-tui/cli_tui/plugins/090_jans_link/main.py
Labels: kind-bug, comp-jans-cli-tui

#5584 docs: highlight key differences between Java and Groovy code in agama docs
  docs/admin/developer/agama/jans-agama-engine.md
Labels: area-documentation, comp-agama

#5590 feat(jans-linux-setup): gluu/flex casa installer
  docs/admin/install/setup.md
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/data/jetty_app_configuration.json
  jans-linux-setup/jans_setup/setup_app/installers/casa.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/static/system/systemd/casa.service
  jans-linux-setup/jans_setup/templates/apache/https_jans.conf
  jans-linux-setup/jans_setup/templates/casa/casa-config.json
  jans-linux-setup/jans_setup/templates/casa/client.ldif
  jans-linux-setup/jans_setup/templates/casa/configuration.ldif
  jans-linux-setup/jans_setup/templates/casa/person_authentication_script.ldif
  jans-linux-setup/jans_setup/templates/casa/scopes.json
  jans-linux-setup/jans_setup/templates/jetty/casa
Labels: area-documentation, kind-feature, comp-jans-linux-setup

#5588 refactor(docker-jans-configurator): allow custom location for db and certs directories
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/scripts/bootstrap.py
  docker-jans-configurator/scripts/entrypoint.sh
Labels: kind-enhancement, comp-docker-jans-configurator

#5384 Renamed demos/mobile-sso to demos/jans-chip
  demos/jans-chip/README.md
Labels: area-documentation

#5592 docs: fixes in Jans README
  README.md
Labels: area-documentation

#5598 fix(jans-linux-setup): casa install option --with-casa
  docs/admin/install/setup.md
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
Labels: kind-bug, area-documentation, comp-jans-linux-setup

#5596 feat: adding PKCE in admin-ui authentication (Admin UI plugin) #5595
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/UserInfoRequest.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/auth/OAuth2Resource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/BaseService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/auth/OAuth2Service.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
Labels: comp-jans-config-api, kind-feature

#5591 fix: remove ingress.class annotation and add spec.ingressClassName
  charts/janssen/charts/nginx-ingress/templates/ingress.yaml
  charts/janssen/charts/nginx-ingress/values.yaml
  charts/janssen/values.yaml
Labels: kind-bug, comp-charts-jans

#5551 docs: vm upgrade using terraform
  docs/admin/terraform/README.md
  docs/admin/vm-ops/upgrade.md
  mkdocs.yml
Labels: area-documentation

#5602 fix(jans-linux-setup): remove service files after stop in uninstall
  jans-linux-setup/jans_setup/install.py
Labels: kind-bug, comp-jans-linux-setup

#5607 feat(jans-auth-server): added DPoP-Nonce and client level dpop control "dpop_bound_access_tokens"
  jans-auth-server/client/src/main/java/io/jans/as/client/RegisterRequest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/dpop/DpopTokenRequestHttpTest.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwt/DPoPJwtPayloadParam.java
  jans-auth-server/model/src/main/java/io/jans/as/model/register/RegisterRequestParam.java
  jans-auth-server/model/src/main/java/io/jans/as/model/token/TokenErrorResponseType.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/ClientAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/AuthenticationFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/DPoPService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-errors.json
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#5610 docs(vm-ops): update Jans Server backup
  docs/admin/vm-ops/backup.md
Labels: area-documentation

#5613 chore: ensure primary e-mail (if any) is sent 1st to persistence
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/UserPersistenceHelper.java
Labels: kind-dependencies, comp-jans-scim

#5614 fix(jans-cli-tui): source ldap server dialog
  jans-cli-tui/cli_tui/cli_style.py
  jans-cli-tui/cli_tui/plugins/090_jans_link/main.py
  jans-cli-tui/cli_tui/utils/static.py
Labels: kind-bug, comp-jans-cli-tui

#5620 fix(jans-core): db document Store fixes #5619
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DBDocumentStoreProvider.java
Labels: kind-bug, comp-jans-core

#5621 docs: add couchbase helm instructions
  docs/admin/install/helm-install/amazon-eks.md
  docs/admin/install/helm-install/google-gke.md
  docs/admin/install/helm-install/microsoft-azure.md
Labels: area-documentation

#5624 fix(jans-linux-setup): remove fido-u2f-configuration proxypass from apache
  jans-linux-setup/jans_setup/templates/apache/https_jans.conf
Labels: kind-bug, comp-jans-linux-setup

#5626 feat(config-api): jans-link plugin changes to use jans-link module
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/jans-link-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/jans-link-plugin/pom.xml
  jans-config-api/plugins/jans-link-plugin/src/main/assembly/assembly.xml
  jans-config-api/plugins/jans-link-plugin/src/main/java/io/jans/configapi/plugin/link/model/config/Conf.java
  jans-config-api/plugins/jans-link-plugin/src/main/java/io/jans/configapi/plugin/link/model/config/JansLinkConfiguration.java
  jans-config-api/plugins/jans-link-plugin/src/main/java/io/jans/configapi/plugin/link/rest/JansLinkConfigResource.java
  jans-config-api/plugins/jans-link-plugin/src/main/java/io/jans/configapi/plugin/link/service/JansLinkService.java
Labels: comp-jans-config-api

#5629 fix(jans-linux-setup): remove proxypass fido-configuration
  jans-linux-setup/jans_setup/templates/apache/https_jans.conf
Labels: kind-bug, comp-jans-linux-setup

#5630 fix(jans-auth-server): if scopes are missed in grant_type=refresh_token AS must take scopes from previous grant #5462
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
Labels: kind-bug, comp-jans-auth-server

#5617 refactor(docker): avoid context collision on custom log4j2.xml
  docker-jans-auth-server/jetty/log4j2.xml
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-config-api/jetty/log4j2.xml
  docker-jans-config-api/plugins/admin-ui/log4j2-adminui.xml
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-fido2/jetty/log4j2.xml
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-link/jetty/log4j2.xml
  docker-jans-link/scripts/bootstrap.py
  docker-jans-scim/jetty/log4j2.xml
  docker-jans-scim/scripts/bootstrap.py
Labels: kind-enhancement, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim

#5632 chore(jans-core): document-store does not compile which prevents FullRebuild from run #5631
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DBDocumentStoreProvider.java
Labels: kind-bug, comp-jans-core

#5640 feat(docker-jans): add dpop nonce
  docker-jans-auth-server/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, kind-feature

#5638 ci(docker-jans): extract info from Dockerfile to build local image
  demos/benchmarking/docker-jans-loadtesting-jmeter/Makefile
  docker-jans-auth-server/Makefile
  docker-jans-certmanager/Makefile
  docker-jans-config-api/Makefile
  docker-jans-configurator/Makefile
  docker-jans-fido2/Makefile
  docker-jans-link/Makefile
  docker-jans-monolith/Makefile
  docker-jans-persistence-loader/Makefile
  docker-jans-scim/Makefile
Labels: comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-CI

#5641 fix(jans-linux-setup): new location of jans_test_client_keys.zip
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: kind-bug, comp-jans-linux-setup

#5656 chore: update libs
  jans-bom/pom.xml
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
Labels: kind-dependencies, comp-jans-config-api, comp-jans-bom

#5658 fix(terraform-provider-jans): update terraform module
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/README.md
  terraform-provider-jans/docs/resources/app_configuration.md
  terraform-provider-jans/docs/resources/oidc_client.md
  terraform-provider-jans/docs/resources/scope.md
  terraform-provider-jans/jans/agama_deployment.go
  terraform-provider-jans/jans/app_configuration.go
  terraform-provider-jans/jans/oidc_client.go
  terraform-provider-jans/jans/oidc_client_test.go
  terraform-provider-jans/jans/plugins_test.go
  terraform-provider-jans/provider/provider.go
  terraform-provider-jans/provider/resource_app_configuration.go
  terraform-provider-jans/provider/resource_fido2_configuration_test.go
  terraform-provider-jans/provider/resource_oidc_client.go
  terraform-provider-jans/provider/resource_script.go
Labels: kind-bug, area-documentation

#5660 refactor(jans): rename `GluuAttribute` to `JansAttribute` in all project
  jans-auth-server/common/src/main/java/io/jans/as/common/service/AttributeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/clientinfo/ws/rs/ClientInfoRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/idgen/ws/rs/InumGenerator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/jans/ws/rs/JansConfigurationWS.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/IdTokenFactory.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ScopeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/FapiOpenIdConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/userinfo/ws/rs/UserInfoRestWebServiceImpl.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/ScopeServiceTest.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/interceptor/RequestReaderInterceptor.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AttributesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AttributeService.java
  jans-core/jsf-util/src/main/java/io/jans/jsf2/converter/AttributeNameConverter.java
  jans-core/jsf-util/src/main/java/io/jans/jsf2/validator/AttributeValidator.java
  jans-core/service/src/main/java/io/jans/model/JansAttribute.java
  jans-core/service/src/main/java/io/jans/model/JansCustomAttribute.java
  jans-core/service/src/main/java/io/jans/service/AttributeService.java
  jans-link/service/src/main/java/io/jans/link/service/AttributeService.java
  jans-link/service/src/main/java/io/jans/link/service/InumService.java
  jans-scim/server/src/main/java/io/jans/scim/service/antlr/scimFilter/FilterListener.java
  jans-scim/server/src/main/java/io/jans/scim/service/antlr/scimFilter/ScimFilterParserService.java
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/ExtensionService.java
  jans-scim/service/src/main/java/io/jans/scim/model/GluuCustomAttribute.java
  jans-scim/service/src/main/java/io/jans/scim/service/AttributeService.java
  jans-scim/service/src/main/java/io/jans/scim/service/PersonService.java
Labels: kind-enhancement, comp-jans-auth-server, comp-jans-config-api, comp-jans-core, comp-jans-scim

#5649 fix(docs): autogenerate PGSQL RDBMS docs
  docs/admin/reference/database/pgsql-schema.md
Labels: kind-bug, area-documentation

#5648 fix(docs): autogenerate MYSQL RDBMS docs
  docs/admin/reference/database/mysql-schema.md
Labels: kind-bug, area-documentation

#5651 fix(docker-jans-persistence-loader): enlarge column adsPrjDeplDetails
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#5665 fix(terraform-provider-jans): dpop_use_nonce attribute type
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/provider/resource_app_configuration.go
Labels: kind-bug, area-documentation

#5673 docs: steps for running integration tests for jans modules
  docs/contribute/development.md
Labels: area-documentation

#5675 docs: clarify syntax of Finish directive
  docs/admin/developer/agama/jans-agama-engine.md
  docs/agama/language-reference.md
Labels: area-documentation, comp-agama

#5679 docs(navigation): add jans-link to nav
  docs/admin/README.md
  docs/admin/usermgmt/usermgmt-jans-link.md
  mkdocs.yml
Labels: area-documentation

#5677 fix(jans-linux-setup): non-document entry
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
Labels: kind-bug, comp-jans-linux-setup

#5681 docs: remove occurrences of ADS in agama docs
  docs/admin/developer/agama/projects-deployment.md
Labels: area-documentation, comp-agama

#5683 feat: add new methnod to fido2 extension to allow modify json
  docs/admin/developer/interception-scripts.md
  docs/admin/developer/scripts/fido2-extension.md
  docs/admin/developer/scripts/fido2-interception.md
  docs/script-catalog/fido2_extension/Fido2ExtensionSample.py
  docs/script-catalog/fido2_extension/README.md
  docs/script-catalog/fido2_interception/Fido2Interception_Script.py
  jans-core/script/src/main/java/io/jans/model/custom/script/CustomScriptType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/fido2/DummyFido2ExtensionType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/fido2/Fido2ExtensionType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/fido2/Fido2InterceptionType.java
  jans-core/script/src/main/java/io/jans/service/custom/script/ExternalScriptService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/AppInitializer.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/external/ExternalFido2InterceptionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/external/ExternalFido2Service.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/external/context/ExternalFido2Context.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/external/context/ExternalFido2InterceptionContext.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
Labels: area-documentation, comp-jans-core, comp-jans-fido2, kind-feature

#5668 fix(jans-link): polling interval and time difference calculation #5667
  jans-link/server/src/main/java/io/jans/link/timer/CacheRefreshTimer.java
Labels: kind-bug

#5688 feat: add new methnod to fido2 extension to allow modify json
  jans-cli-tui/cli_tui/plugins/060_scripts/edit_script_dialog.py
Labels: comp-jans-cli-tui, kind-feature

#5691 fix(jans-linux-setup): typed value when setting value
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
Labels: kind-bug, comp-jans-linux-setup

#5682 fix(docker-jans): add test client with all scopes to CN-based setup
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-config-api/templates/jans-config-api/testing-clients.ldif
  docs/admin/reference/kubernetes/config-secret-keys.md
  docs/admin/terraform/README.md
Labels: kind-bug, comp-docker-jans-config-api, comp-jans-config-api

#5696 fix(jans-link): corrected jansTertiaryKeyValue attribute #5695
  jans-link/model/src/main/java/io/jans/link/model/JansInumMap.java
Labels: kind-bug

#5700 fix(jans-linux-setup): OS dependent location of jwks.json
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: kind-bug, comp-jans-linux-setup
