Repository JanssenProject/jans, pull requests merged in 2023-02, with the labels that each got.

#3750 chore(docker-jans): update dependencies and assets from upstream
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/values.yaml
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/jetty/log4j2.xml
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/README.md
  docker-jans-fido2/jetty/log4j2.xml
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-fido2/scripts/entrypoint.sh
  docker-jans-fido2/scripts/upgrade.py
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation

#3755 feat: add -key_ops ALL to setup (ref: #3747)
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/setup_app/utils/crypto64.py
Labels: kind-feature, comp-jans-linux-setup

#3756 fix(jans-config-api): Fixing runtime ambiguity for RegistrationPersis…
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/RegistrationPersistenceService.java
Labels: kind-bug, comp-jans-config-api

#3759 feat: jans-linux-setup ssa admin scope
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
  jans-linux-setup/jans_setup/templates/jans-cli/client.ldif
  jans-linux-setup/jans_setup/templates/scopes.ldif
Labels: kind-feature, comp-jans-linux-setup

#3760 docs: update client auth documentation
  docs/admin/auth-server/client-management/client-authn.md
Labels: area-documentation

#3649 fix: jans-cli-tui working branch 5
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/cli_style.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/.#edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
  jans-cli-tui/cli_tui/plugins/030_scim/main.py
  jans-cli-tui/cli_tui/plugins/060_scripts/edit_script_dialog.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
  jans-cli-tui/cli_tui/utils/static.py
  jans-cli-tui/cli_tui/utils/utils.py
  jans-cli-tui/cli_tui/wui_components/jans_cli_dialog.py
  jans-cli-tui/cli_tui/wui_components/jans_drop_down.py
  jans-cli-tui/cli_tui/wui_components/jans_label_container.py
  jans-cli-tui/cli_tui/wui_components/jans_vetrical_nav.py
  jans-cli-tui/setup.py
Labels: kind-bug, comp-jans-cli-tui

#3763 Feature: Change org_id to String type and Add status in get SSA
  docs/admin/auth-server/endpoints/ssa.md
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/create/SsaCreateClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/create/SsaCreateRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/get/SsaGetClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/get/SsaGetRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/revoke/SsaRevokeClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/revoke/SsaRevokeRequest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/SsaCreateAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/SsaGetAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaCreateTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaGetTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaRevokeTest.java
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaRequestParam.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaGetAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaRevokeAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaJsonServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceImplTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateActionTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaGetActionTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaRevokeActionTest.java
  jans-linux-setup/jans_setup/openbanking/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: area-documentation, comp-jans-auth-server, comp-jans-linux-setup

#3765 fix: jans-cli-tui SSA org_id, status and software_roles
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
Labels: kind-bug, comp-jans-cli-tui

#3769 docs(agama): update instructions on how to retrieve client creds in quick-start guide
  docs/admin/developer/agama/quick-start.md
Labels: area-documentation, comp-agama

#3762 feat(docker-jans-persistence-loader): add ssa admin scope
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: comp-docker-jans-persistence-loader, kind-feature

#3770 feat(docker-jans): introduce key_ops when generating keys
  docker-jans-auth-server/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/scripts/auth_handler.py
  docker-jans-certmanager/scripts/utils.py
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/scripts/bootstrap.py
Labels: comp-docker-jans-certmanager, comp-docker-jans-auth-server, comp-docker-jans-configurator, kind-feature

#3767 fix(config-api): user service conflict with fido2 and script enhancement
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/RegistrationPersistenceService.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AcrsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AuthConfigResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/OrganizationResource.java
  jans-config-api/server/src/test/resources/feature/config/scripts/custom/generic/custom.feature
  jans-config-api/server/src/test/resources/feature/config/scripts/custom/generic/post-script.json
  jans-config-api/server/src/test/resources/feature/config/scripts/custom/persons/person-script.json
  jans-config-api/server/src/test/resources/feature/config/scripts/custom/persons/person-scripts.feature
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/service/ConfigUserService.java
  jans-core/util/src/main/java/io/jans/model/ScriptLocationType.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: kind-bug, comp-jans-config-api, comp-jans-core, comp-jans-linux-setup

#3773 chore(agama): include Groovy code in sample flows
  docs/admin/developer/agama/otp-email/EmailOTPUtil.groovy
  docs/admin/developer/agama/samples.md
Labels: kind-dependencies, area-documentation, comp-agama

#3775 docs: corrected broken link
  docs/admin/developer/agama/gama-deployment.md
Labels: area-documentation, comp-agama

#3778 fix(jans-auth-server): key_ops in jwks must be array #3777
  jans-auth-server/client/src/main/java/io/jans/as/client/util/KeyGenerator.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/AbstractCryptoProvider.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/AuthCryptoProvider.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwk/JSONWebKey.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwk/KeyOps.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequestService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/JwrService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/JwtSigner.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthorizeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ServerCryptoProvider.java
  jans-auth-server/server/src/main/java/io/jans/as/server/userinfo/ws/rs/UserInfoRestWebServiceImpl.java
Labels: kind-bug, comp-jans-auth-server

#3783 chore(jans-auth-server): clean up #3779
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
Labels: kind-enhancement

#3782 fix(jans-auth-server): jansApp attribute only relevant for SG
  docs/script-catalog/person_authentication/fido2-external-authenticator/Fido2ExternalAuthenticator.py
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/fido2/RegistrationPersistenceService.java
  jans-auth-server/server/src/main/webapp/auth/fido2/platform.xhtml
  jans-auth-server/server/src/main/webapp/auth/fido2/secKeys.xhtml
  jans-auth-server/server/src/main/webapp/stylesheet/style.css
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-fido2

#3786 feat(config-api): script default script validation for location
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
Labels: comp-jans-config-api, kind-feature

#3788 fix: jans-linux-setup script locatipn is db
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#3789 fix: jans-linux-setup script locatipn is db openbanking
  jans-linux-setup/jans_setup/openbanking/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#3791 feat(jans-auth-server): renamed "key_ops" -> "key_ops_type" #3790
  jans-auth-server/client/src/main/java/io/jans/as/client/util/KeyGenerator.java
  jans-auth-server/client/src/main/java/io/jans/as/client/util/KeyGeneratorContext.java
  jans-auth-server/client/src/test/java/io/jans/as/client/util/KeyGeneratorContextTest.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/AbstractCryptoProvider.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/AuthCryptoProvider.java
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/ElevenCryptoProvider.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwk/JSONWebKey.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwk/JWKParameter.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwk/KeyOpsType.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequestService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/JwrService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/JwtSigner.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthorizeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ServerCryptoProvider.java
  jans-auth-server/server/src/main/java/io/jans/as/server/userinfo/ws/rs/UserInfoRestWebServiceImpl.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/CrossEncryptionTest.java
Labels: kind-enhancement, comp-jans-auth-server

#3792 feat(jans-auth-server): renamed "key_ops" -> "key_ops_type" #3790
  docker-jans-certmanager/scripts/auth_handler.py
  docker-jans-certmanager/scripts/utils.py
  docker-jans-configurator/scripts/bootstrap.py
  docs/admin/auth-server/crypto/key-generation.md
  jans-auth-server/docs/swagger.yaml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/setup_app/utils/crypto64.py
Labels: kind-enhancement

#3794 fix: jans-cli-tui working branch 6
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/.#edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
  jans-cli-tui/cli_tui/plugins/060_scripts/edit_script_dialog.py
  jans-cli-tui/cli_tui/wui_components/jans_cli_dialog.py
  jans-cli-tui/cli_tui/wui_components/jans_path_finder.py.txt
Labels: kind-bug, comp-jans-cli-tui, kind-feature

#3802 fix(tent): remove unknown module refference
  demos/jans-tent/clientapp/__init__.py
Labels: kind-bug

#3806 Feature: use key_ops=ssa to generate JWT from SSA
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaErrorResponseType.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateActionTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/action/SsaGetJwtActionTest.java
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-errors.json
Labels: comp-jans-auth-server, comp-jans-linux-setup

#3818 fix: jans-cli-tui documentation and setup
  jans-cli-tui/Makefile
  jans-cli-tui/README.md
  jans-cli-tui/docs/build.md
  jans-cli-tui/setup.py
Labels: kind-bug, area-documentation, comp-jans-cli-tui

#3801 chore(docker-jans): sync manifests from upstream
  docker-jans-auth-server/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
  docker-jans-persistence-loader/templates/scripts.ob.ldif
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim

#3815 fix: fix authenticatorData encoding
  jans-fido2/server/src/main/java/io/jans/fido2/service/sg/converter/AssertionSuperGluuController.java
Labels: kind-bug, comp-jans-fido2

#3822 chore(agama): create custom parameter for agama flows
  jans-linux-setup/jans_setup/templates/test/agama/config-agama-test.properties
Labels: kind-dependencies, comp-jans-linux-setup, comp-agama

#3816 Set application for all
  jans-auth-server/model/src/main/java/io/jans/as/model/fido/u2f/protocol/ClientData.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/AssertionController.java
Labels: comp-jans-auth-server, comp-jans-fido2

#3826 fix(jans-pycloudlib): avoid overwritten data by using merge strategy for Google wrappers
  jans-pycloudlib/jans/pycloudlib/config/google_config.py
  jans-pycloudlib/jans/pycloudlib/secret/google_secret.py
Labels: kind-bug, comp-jans-pycloudlib

#3829 chore: temporary disable SG attestion certificate check
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/U2FAttestationProcessor.java
Labels: kind-dependencies, comp-jans-fido2

#3824 fix: jans-cli-tui working branch 7
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/utils/static.py
  jans-cli-tui/cli_tui/wui_components/jans_cli_dialog.py
  jans-cli-tui/cli_tui/wui_components/jans_path_browser.py
  jans-cli-tui/cli_tui/wui_components/jans_path_finder.py.txt
Labels: kind-bug, comp-jans-cli-tui, enhancement

#3831 fix(config-api): agama swagger spec and admin-ui web key issue
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/admin-ui-plugin/src/main/assembly/assembly.xml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientAuthResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ClientAuthService.java
  jans-config-api/server/src/main/resources/example/openid-clients/clients/openid-clients-get-all.json
  jans-config-api/server/src/main/resources/example/openid-clients/clients/openid-clients-get.json
  jans-config-api/server/src/main/resources/example/openid-clients/clients/openid-clients-patch.json
  jans-config-api/server/src/main/resources/example/openid-clients/clients/openid-clients-post.json
  jans-config-api/server/src/main/resources/example/openid-clients/clients/openid-clients-put.json
Labels: kind-bug, comp-jans-config-api

#3832 fix(jans-pycloudlib): avoid overwritten data by using merge strategy for AWS wrappers
  jans-pycloudlib/jans/pycloudlib/config/aws_config.py
  jans-pycloudlib/jans/pycloudlib/secret/aws_secret.py
Labels: kind-bug, comp-jans-pycloudlib

#3835 fix: jans-cli-tui include pyproject.toml
  jans-cli-tui/pyproject.toml
Labels: kind-bug, comp-jans-cli-tui, comp-jans-tui

#3839 fix(jans-auth)(jans-fido2): Fixes to FIDO2 functions impacted by chan…
  docs/script-catalog/person_authentication/fido2-external-authenticator/Fido2ExternalAuthenticator.py
  jans-auth-server/server/src/main/java/io/jans/as/server/service/UserService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-fido2

#3841 fix(jans-auth-server): provided corrected public key for outdated key stores during id_token creation if key_ops_type is absent #3840
  jans-auth-server/model/src/main/java/io/jans/as/model/crypto/AuthCryptoProvider.java
Labels: kind-bug, comp-jans-auth-server

#3844 fix: jans-linux-setup save test_client_id to setup.properties
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
Labels: kind-bug, comp-jans-linux-setup

#3846 fix: jans-cli-tui fail to create SSA
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
Labels: kind-bug, comp-jans-cli-tui

#3851 feat(jans-auth-server): provide ability to ignore/bypass prompt=consent #3721
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/ExternalPostAuthnContext.java
Labels: comp-jans-auth-server, kind-feature

#3847 docs: auto-generate swagger docs
  .github/workflows/build-docs.yml
  automation/docs/generate-autogenerated-docs.sh
  automation/docs/generate-swagger-specs.sh
Labels: area-CI, area-documentation

#3853 fix: jans-cli-tui working branch 8
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
Labels: kind-bug, kind-enhancement, comp-jans-cli-tui

#3849 fix(docker-jans-persistence-loader): add missing persist tokens config when upgrading from previous version
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#3859 docs: minor updates on agama deployment guide
  docs/admin/developer/agama/gama-deployment.md
Labels: area-documentation, comp-agama

#3862 fix: jans-linux-setup sync test client variable names
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
Labels: kind-bug, comp-jans-linux-setup

#3864 fix(jans-auth-server): AS complication fails on main #3863
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeAction.java
Labels: kind-bug, comp-jans-auth-server

#3869 fix(terraform-provider-jans): update terraform module
  terraform-provider-jans/.goreleaser.yml
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/jans/admin_ui_rbac_test.go
  terraform-provider-jans/jans/app_configuration.go
  terraform-provider-jans/jans/app_configuration_test.go
  terraform-provider-jans/jans/client.go
  terraform-provider-jans/jans/client_test.go
  terraform-provider-jans/jans/custom_user_test.go
  terraform-provider-jans/jans/fido2_config_test.go
  terraform-provider-jans/jans/fido2_configuration_test.go
  terraform-provider-jans/jans/fido2_device_test.go
  terraform-provider-jans/jans/group_test.go
  terraform-provider-jans/jans/oidc_client_test.go
  terraform-provider-jans/jans/scripts_test.go
  terraform-provider-jans/jans/smtp_config.go
  terraform-provider-jans/jans/user_test.go
  terraform-provider-jans/provider/entity_mapper.go
  terraform-provider-jans/provider/resource_app_configuration.go
  terraform-provider-jans/provider/resource_app_configuration_test.go
  terraform-provider-jans/terraform-registry-manifest.json
Labels: kind-bug, area-documentation

#3876 feat(jans-auth-server): add configurable rotation of client's registration access token #3578
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterCreateAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ClientService.java
Labels: comp-jans-auth-server, kind-feature

#3875 feat: add Jupiter+Weld+Mockito+Extension to Fido2
  jans-bom/pom.xml
  jans-core/service/src/main/java/io/jans/service/net/NetworkService.java
  jans-fido2/pom.xml
  jans-fido2/server/pom.xml
  jans-fido2/server/src/main/java/io/jans/fido2/service/sg/converter/AttestationSuperGluuController.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/KeySignatureVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/sg/AttestationSignatureAndroidTest.java
  jans-fido2/server/src/test/java/io/jans/junit/extension/CustomExtension.java
  jans-fido2/server/src/test/java/io/jans/junit/extension/Name.java
  jans-fido2/server/src/test/resources/junit-platform.properties
  jans-fido2/server/src/test/resources/keys/secp256r1/data.txt
  jans-fido2/server/src/test/resources/keys/secp256r1/private.key
  jans-fido2/server/src/test/resources/keys/secp256r1/public.pem
  jans-fido2/server/src/test/resources/keys/secp256r1/signature.txt
  jans-fido2/server/src/test/resources/log4j2.xml
  jans-fido2/server/src/test/resources/test.properties
Labels: comp-jans-core, comp-jans-fido2, kind-feature, comp-jans-bom

#3877 feat: add authentication SG flow tests
  jans-fido2/server/src/main/java/io/jans/fido2/service/ChallengeGenerator.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/AuthenticationPersistenceService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/RegistrationPersistenceService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/sg/converter/AssertionSuperGluuController.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/sg/AttestationSignatureAndroidTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/sg/FullFlowAndroidTest.java
  jans-fido2/server/src/test/java/io/jans/junit/extension/FileParameterExtension.java
  jans-fido2/server/src/test/resources/test.properties
Labels: comp-jans-fido2, kind-feature

#3885 feat(jans-auth-server): OAuth 2.0 Step-up - added acr and auth_time to introspection response #2589
  jans-auth-server/model/src/main/java/io/jans/as/model/common/IntrospectionResponse.java
  jans-auth-server/server/src/main/java/io/jans/as/server/introspection/ws/rs/IntrospectionWebService.java
Labels: comp-jans-auth-server, kind-feature

#3889 fix: auto installing of the GithubAuthenticatorForADS.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#3890 fix(jans-pycloudlib): split google secrets when payload is larger than 65536 bytes
  jans-pycloudlib/jans/pycloudlib/secret/google_secret.py
Labels: kind-bug, comp-jans-pycloudlib

#3891 chore(Dockerfile): updated build dates
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#3871 fix(jans-cli-tui): working branch 9
  jans-cli-tui/cli_tui/cli_style.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
  jans-cli-tui/cli_tui/plugins/060_scripts/edit_script_dialog.py
  jans-cli-tui/cli_tui/plugins/999_jans/main.py
  jans-cli-tui/cli_tui/utils/static.py
  jans-cli-tui/cli_tui/wui_components/jans_path_browser.py
  jans-cli-tui/cli_tui/wui_components/jans_vetrical_nav.py
Labels: kind-bug, kind-enhancement, comp-jans-cli-tui

#3893 fix(docker-jans): handle failure on running API requests to Kubernetes API server in Google Cloud Run
  docker-jans-certmanager/scripts/auth_handler.py
  jans-pycloudlib/jans/pycloudlib/meta/kubernetes_meta.py
Labels: kind-bug, comp-docker-jans-certmanager, comp-jans-pycloudlib

#3894 chore(Dockerfile): updated build dates
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#3899 docs: minor fixes for Janssen Project README
  README.md
Labels: area-documentation

#3905 fix(jans-auth-server): error from introspection interception script is not propagated during AT as JWT creation #3904
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/ExternalScriptContext.java
Labels: kind-bug, comp-jans-auth-server

#3907 chore(docker-jans-persistence-loader): remove github_ads script from default installation
  docker-jans-persistence-loader/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader

#3908 docs: fix few format issues in key generation document
  docs/admin/auth-server/crypto/key-generation.md
Labels: area-documentation

#3909 chore(main): release docs 1.0.7
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#3955 chore(main): release agama 1.0.7
  agama/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#3954 chore(main): release jans-core 1.0.7
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#3952 chore(main): release jans-eleven 1.0.7
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#3951 chore(main): release jans-scim 1.0.7
  jans-scim/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#3950 chore(main): release jans-fido2 1.0.7
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#3949 chore(main): release jans-orm 1.0.7
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#3948 chore(main): release jans-bom 1.0.7
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#3947 chore(main): release jans-config-api 1.0.7
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#3946 chore(main): release jans-notify 1.0.7
  jans-notify/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#3945 chore(main): release jans-auth-server 1.0.7
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#3939 chore(main): release jans-linux-setup 1.0.7
  jans-linux-setup/CHANGELOG.md
  jans-linux-setup/jans_setup/setup_app/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-linux-setup

#3921 chore(main): release docker-jans-config-api 1.0.7-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#3924 chore(main): release docker-jans-certmanager 1.0.7-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#3927 chore(main): release docker-jans-scim 1.0.7-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#3938 chore(main): release jans-pycloudlib 1.0.7
  jans-pycloudlib/CHANGELOG.md
  jans-pycloudlib/jans/pycloudlib/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-pycloudlib

#3937 chore(main): release jans-cli-tui 1.0.7
  jans-cli-tui/CHANGELOG.md
  jans-cli-tui/cli_tui/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-cli-tui

#3928 chore(main): release docker-jans-configurator 1.0.7-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#3925 chore(main): release docker-jans-persistence-loader 1.0.7-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#3922 chore(main): release docker-jans-monolith 1.0.7-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#3923 chore(main): release docker-jans-auth-server 1.0.7-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#3926 chore(main): release docker-jans-fido2 1.0.7-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#3943 chore(main): release 1.0.7
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#3970 feat(jans-cli-tui): enable super gluu option
  jans-cli-tui/cli_tui/plugins/020_fido/main.py
Labels: kind-enhancement, comp-jans-cli-tui, kind-feature

#3969 fix(jans-linux-setup): install ncurses-compat-libs cb backend for el8
  jans-linux-setup/jans_setup/setup_app/installers/couchbase.py
Labels: kind-bug, comp-jans-linux-setup

#3972 ci: added ubuntu22 build
  .github/workflows/build-packages.yml
Labels: area-CI

#3975 fix(jans-linux-setup): start jans-auth after backend
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/base.py
  jans-linux-setup/jans_setup/setup_app/installers/couchbase.py
  jans-linux-setup/jans_setup/setup_app/installers/opendj.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/static/system/systemd/jans-auth.service
Labels: kind-bug, comp-jans-linux-setup

#3978 feat: add to AS session the data passed in `Finish`
  docs/admin/developer/agama/dsl-full.md
  docs/admin/developer/agama/faq.md
  docs/script-catalog/person_authentication/agama-bridge/AgamaBridge.py
Labels: area-documentation, kind-feature, comp-agama

#3971 fix(jans-pycloudlib): split aws secrets when payload is larger than 65536 bytes
  jans-pycloudlib/jans/pycloudlib/secret/aws_secret.py
Labels: kind-bug, comp-jans-pycloudlib

#3979 chore(Dockerfile): updated build dates
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, bot, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, enhancement

#3981 fix(jans-linux-setup): install cb before jans installation
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/installers/couchbase.py
Labels: kind-bug, comp-jans-linux-setup

#3983 Feature: Include additional attributes on SSA Get endpoint
  docs/admin/auth-server/endpoints/ssa.md
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/create/SsaCreateRequest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaServiceTest.java
Labels: area-documentation, comp-jans-auth-server

#3985 Fix: solved error when generate jwt of ssa return error, but ssa persist in database
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/SsaGetAssertBuilder.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaServiceTest.java
Labels: area-documentation, comp-jans-auth-server

#3990 fix(docker-jans): resolve required keys_ops_type for generating/rotating keys
  docker-jans-certmanager/scripts/auth_handler.py
  docker-jans-configurator/scripts/bootstrap.py
Labels: kind-bug, comp-docker-jans-certmanager, comp-docker-jans-configurator

#3967 chore(docker-jans): uninstall Jython ensurepip module to reduce vulnerabilities
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim

#3994 fix(docker-jans): add missing logs due to improper configuration
  docker-jans-config-api/plugins/admin-ui/log4j2-adminui.xml
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-scim/jetty/log4j2.xml
Labels: kind-bug, comp-docker-jans-config-api, comp-docker-jans-scim

#3852 docs: TUI documentation refactoring
  docs/admin/config-guide/jans-tui/README.md
  docs/admin/config-guide/jans-tui/navigation-guide.md
  mkdocs.yml
Labels: area-documentation

#3997 fix(jans-auth-server): WebApplicationException is not propagated out of "Update Token" script #3996
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
Labels: kind-bug, comp-jans-auth-server
