Repository JanssenProject/jans, pull requests merged in 2023-11, with the labels that each got.

#6443 docs(jans-helm): memory allocation
  docs/admin/install/helm-install/local.md
Labels: area-documentation

#6445 fix:generate latest openApi spec from code #6444
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
Labels: kind-bug, comp-jans-config-api

#6449 docs: fixes
  docs/admin/auth-server/logging/README.md
  docs/admin/auth-server/logging/standard-logs.md
  docs/admin/keycloak/README.md
  docs/admin/keycloak/keycloak-saml-inbound.md
  docs/admin/keycloak/keycloak-saml-sso.md
  docs/admin/kubernetes-ops/tui-k8s.md
  docs/admin/link/README.md
  docs/admin/link/jans-link.md
  docs/admin/link/keycloak-synch.md
Labels: area-documentation

#6451 fix(jans-linux-setup): enable agama by default
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: kind-bug, comp-jans-linux-setup

#6452 fix(jans-cli-tui): save logging response is app properties not schema
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
Labels: kind-bug, comp-jans-cli-tui

#6433 feat(jans-auth-server): enabled JWT response at introspection endpoint configured by AS and client config
  jans-auth-server/client/src/main/java/io/jans/as/client/RegisterRequest.java
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/ConfigurationResponseClaim.java
  jans-auth-server/model/src/main/java/io/jans/as/model/register/RegisterRequestParam.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/ClientAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/introspection/ws/rs/IntrospectionWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/registration/RegisterParamsValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/IntrospectionService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/FapiOpenIdConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
Labels: kind-enhancement, comp-jans-auth-server, kind-feature

#6457 Documentation: Jans Lock Design Overview and Diagram
  docs/admin/lock/design.md
  docs/assets/lock-design-diagram-00.png
Labels: area-documentation

#6460 fix(jans-cli-tui): add client properties client uri, policy uri, logo uri
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#6463 docs (jans-lock): Moved content to README.md
  docs/admin/lock/README.md
  docs/admin/lock/design.md
  docs/admin/lock/lock_client.md
  docs/admin/lock/lock_opa_policies.md
  docs/admin/lock/lock_token_stream.md
Labels: area-documentation

#6465 fix: able to add duplicate role #6464
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/user/UserManagementService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
Labels: kind-bug, comp-jans-config-api

#6468 docs(kubernetes): update instruction to rotate LDAP cert and key
  docs/admin/kubernetes-ops/cert-management.md
Labels: area-documentation

#6469 docs(lock): markdown fixes
  docs/admin/lock/README.md
Labels: area-documentation

#6471 fix(jans-linux-setup): typo in filename of casa plugin twilio
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_casa.py
Labels: kind-bug, comp-jans-linux-setup

#6467 feat(jans-tarp): user should be allowed to paste an SSA (or specify a file from disk) in DCR form #6161
  demos/jans-tarp/package.json
  demos/jans-tarp/src/options/StyledDropzone.tsx
  demos/jans-tarp/src/options/options.css
  demos/jans-tarp/src/options/registerForm.tsx
Labels: kind-feature

#6513 chore(main): release jans-eleven 1.0.20
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#6511 chore(main): release jans-auth-server 1.0.20
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#6510 chore(main): release jans-scim 1.0.20
  jans-scim/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#6508 chore(main): release jans-bom 1.0.20
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#6507 chore(main): release jans-orm 1.0.20
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#6506 chore(main): release jans-core 1.0.20
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#6505 chore(main): release jans-config-api 1.0.20
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#6504 chore(main): release jans-casa 1.0.20
  jans-casa/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#6501 chore(main): release 1.0.20
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#6497 chore(main): release docker-jans-link 1.0.20-1
  docker-jans-link/CHANGELOG.md
  docker-jans-link/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-docker-jans-link

#6496 chore(main): release docker-jans-configurator 1.0.20-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#6495 chore(main): release docker-jans-scim 1.0.20-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#6494 chore(main): release docker-jans-persistence-loader 1.0.20-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#6493 chore(main): release docker-jans-monolith 1.0.20-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#6492 chore(main): release docker-jans-fido2 1.0.20-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#6491 chore(main): release docker-jans-config-api 1.0.20-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#6490 chore(main): release docker-jans-all-in-one 1.0.20-1
  docker-jans-all-in-one/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-docker-jans-all-in-one

#6488 chore(main): release docker-jans-auth-server 1.0.20-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#6487 chore(main): release docker-jans-casa 1.0.20-1
  docker-jans-casa/CHANGELOG.md
  docker-jans-casa/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#6486 chore(main): release jans-keycloak-link 1.0.20
  jans-keycloak-link/CHANGELOG.md
  jans-keycloak-link/model/pom.xml
  jans-keycloak-link/model/src/main/resources/archetype-resources/pom.xml
  jans-keycloak-link/pom.xml
  jans-keycloak-link/server/pom.xml
  jans-keycloak-link/service/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation

#6474 chore(main): release docs 1.0.20
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#6512 chore(main): release jans-fido2 1.0.20
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#6517 docs: mention custom jars can be included in the project archive
  docs/admin/developer/agama/faq.md
  docs/agama/gama-format.md
Labels: area-documentation, comp-agama

#6518 Jans Lock initial documentation and diagrams.
  docs/admin/lock/README.md
  docs/admin/lock/lock_opa_policies.md
  docs/assets/lock-design-diagram-00.png
  docs/assets/lock-design-diagram-01.png
Labels: area-documentation

#6524 fix(terraform-provider-jans): update terraform module
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/docs/resources/oidc_client.md
  terraform-provider-jans/docs/resources/scope.md
  terraform-provider-jans/jans/oidc_client.go
  terraform-provider-jans/provider/resource_oidc_client.go
Labels: kind-bug, area-documentation

#6520 fix: permission not getting added successfully #6519
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/AdminPermission.java
Labels: kind-bug, comp-jans-auth-server

#6532 fix(jans-auth): SCIM sample script doesnt have all methods
  docs/script-catalog/scim/sample-script/SampleScript.py
Labels: kind-bug

#6549 fix(jans-casa): error while enrolling OTP
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/otp/HOTPAlgorithmService.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/otp/TOTPAlgorithmService.java
Labels: kind-bug

#6550 docs (jans-lock): Added note about east-west service mesh authorization to Lock README
  docs/admin/lock/README.md
  docs/assets/lock-east-west-service-mesh-diagram.png
Labels: area-documentation

#6551 fix(docker-jans): allow custom salt
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/secret.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/config/README.md
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/charts/config/values.yaml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
  docker-jans-all-in-one/Dockerfile
  docker-jans-configurator/scripts/parameter.py
Labels: kind-bug, comp-docker-jans-configurator, area-documentation, comp-charts-jans, comp-docker-jans-all-in-one

#6503 feat(jans-auth-server): archived jwks
  docs/admin/auth-server/crypto/keys.md
  docs/admin/auth-server/endpoints/archived-jwks-uri.md
  jans-auth-server/client/src/main/java/io/jans/as/client/OpenIdConfigurationClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/OpenIdConfigurationResponse.java
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/common/ArchivedJwk.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/common/ArchivedKeyAttributes.java
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/config/BaseDnConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/ConfigurationResponseClaim.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwk/JSONWebKeySet.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/conf/jans-static-conf.json
  jans-auth-server/server/src/main/java/io/jans/as/server/jwk/ws/rs/ArchivedJwksService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/jwk/ws/rs/ArchivedJwksWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/CleanerTimer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/KeyGeneratorTimer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ResteasyInitializer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/FapiOpenIdConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
  jans-auth-server/server/src/test/java/io/jans/as/server/jwk/ws/rs/ArchivedJwksServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/TestResteasyInitializer.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-static-conf.json
  mkdocs.yml
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#6473 fix: API spec metadata
  jans-auth-server/docs/swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-fido2/docs/jansFido2Swagger.yaml
  jans-scim/server/src/main/resources/jans-scim-openapi.yaml
Labels: kind-bug, comp-jans-auth-server, comp-jans-config-api, comp-jans-fido2, comp-jans-scim

#6521 feat(jans-cli-tui): replace list by label container for scope claims
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/attributes.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_scope_dialog.py
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
  jans-cli-tui/cli_tui/utils/background_tasks.py
Labels: comp-jans-cli-tui, kind-feature

#6515 feat: if DB column is boolean convert string "true" and '1' to true
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlFilterConverter.java
Labels: comp-jans-orm, kind-feature

#6556 feat(jans-linux-tui): tag field for endpoint adminUIPermissions
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: comp-jans-cli-tui, kind-feature

#6560 fix(docker-jans-configurator): add missing salt field
  docker-jans-configurator/scripts/parameter.py
Labels: kind-bug, comp-docker-jans-configurator

#6554 chore(jans-auth-server): added oauth2-oidc-sdk dependency #6545
  jans-auth-server/server/pom.xml
  jans-bom/pom.xml
Labels: kind-enhancement, kind-dependencies, comp-jans-auth-server, comp-jans-bom

#6569 chore: fix dependecies to guava lib
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ClientService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SpontaneousScopeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/service/UmaValidationService.java
Labels: kind-dependencies, comp-jans-auth-server

#6564 feat(docker-jans): add archived jwks
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, kind-feature, comp-docker-jans-link

#6455 feat: add casa, and enable public endpoints
  automation/startjanssendemo.sh
Labels: area-CI, kind-feature

#6557 feat: add postgres option
  automation/startjanssendemo.sh
  charts/janssen/values.schema.json
Labels: area-CI, kind-feature

#6573 fix(jans-auth-server): UpdateToken script is not invoked during Implicit Flow #6561
  docs/admin/developer/scripts/update-token.md
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalUpdateTokenService.java
Labels: kind-bug, area-documentation, comp-jans-auth-server

#6335 feat(jans-keycloak-link): implement password decryption
  jans-keycloak-link/server/src/main/java/io/jans/keycloak/link/server/service/KeycloakService.java
  jans-keycloak-link/server/src/main/java/io/jans/keycloak/link/timer/JansKeycloakLinkTimer.java
  jans-link/service/src/main/java/io/jans/link/util/PropertyUtil.java
Labels: kind-feature

#6580 chore(agama): rephrase misleading message in log
  docs/admin/developer/agama/engine-bridge-config.md
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/exception/FlowCrashException.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/script/ScriptUtils.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/servlet/ExecutionServlet.java
  jans-auth-server/agama/inboundID/pom.xml
Labels: kind-dependencies, area-documentation, comp-jans-auth-server, comp-agama

#6583 docs: add feature flag update instructions
  docs/admin/config-guide/config-tools/jans-tui/README.md
  docs/admin/config-guide/config-tools/jans-tui/navigation-guide.md
  docs/admin/reference/json/feature-flags/README.md
  docs/assets/image-tui-exit-logout.png
  docs/assets/image-tui-feature-flags.png
Labels: area-documentation

#6574 feat(jans-cli-tui): JWT Response for OAuth Token Introspection
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
Labels: comp-jans-cli-tui, kind-feature

#6585 feat(jans-linux-setup): use reference token for TUI
  docs/script-catalog/introspection/role-based-scopes-update-token/role_based_scopes_update_token.py
  jans-linux-setup/jans_setup/templates/jans-cli/client.ldif
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-feature, comp-jans-linux-setup

#6582 fix(config-api): json build issue and saml plugin swagger spec annotation
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/saml-plugin-swagger.yaml
  jans-config-api/plugins/saml-plugin/src/main/java/io/jans/configapi/plugin/saml/form/TrustRelationshipForm.java
  jans-config-api/plugins/saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
  jans-config-api/pom.xml
Labels: kind-bug, comp-jans-config-api

#6587 feat: replace jwt token with reference token to access config-api (admin ui plugin) #6562
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/OIDCClientSettings.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/BaseService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/auth/OAuth2Service.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/config/AUIConfigurationService.java
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature

#6590 docs(config-api): auth featureFlags should be described as enum in spec
  jans-auth-server/model/pom.xml
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: area-documentation, comp-jans-auth-server, comp-jans-config-api

#6593 fix(jans-cli-tui): fix saving acr script
  jans-cli-tui/cli_tui/plugins/010_auth_server/authn.py
Labels: kind-bug, comp-jans-cli-tui

#6602 docs: fix postgres host
  docs/admin/install/helm-install/amazon-eks.md
  docs/admin/install/helm-install/google-gke.md
  docs/admin/install/helm-install/microsoft-azure.md
Labels: area-documentation

#6600 feat(docker-jans): use reference token for TUI client
  docker-jans-config-api/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-config-api, kind-feature

#6578 feat(docker-jans-config-api): change the location of admin-ui log files
  docker-jans-config-api/Dockerfile
Labels: comp-docker-jans-config-api, kind-feature

#6608 docs: added details for `.config` directory
  docs/admin/config-guide/config-tools/jans-cli/README.md
Labels: area-documentation

#6596 docs: some fixes
  docs/admin/install/docker-install/compose.md
  docs/admin/kubernetes-ops/README.md
  docs/admin/reference/database/README.md
  docs/admin/usermgmt/usermgmt-cli-tui.md
  mkdocs.yml
Labels: area-documentation

#6609 fix: serialization of undesired content when a flow crashes
  agama/transpiler/src/main/resources/JSGenerator.ftl
  agama/transpiler/src/main/resources/util.js
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/script/ScriptUtils.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/ActionService.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/FlowService.java
  jans-auth-server/agama/engine/src/main/java/org/mozilla/javascript/NativeErrorUtil.java
  jans-auth-server/agama/engine/src/main/java/org/mozilla/javascript/SubflowRhinoException.java
Labels: kind-bug, comp-jans-auth-server, comp-agama

#6613 feat(jans-linux-setup): config-api idp-plugin
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
Labels: kind-feature, comp-jans-linux-setup

#6605 docs(saml-plugin): saml swagger spec rectification
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/saml-plugin-swagger.yaml
  jans-config-api/plugins/saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
Labels: area-documentation, comp-jans-config-api

#6588 docs: pkce documentation
  docs/admin/auth-server/oauth-features/pkce.md
  docs/assets/pkce1.png
  docs/assets/pkce2.png
  docs/assets/pkce3.png
Labels: area-documentation

#6614 fix: avoid crash when variables at the top of util.js are serialized
  jans-linux-setup/jans_setup/templates/jetty/jans-auth
Labels: kind-bug, comp-jans-linux-setup

#6623 docs: pkce formats !!! note
  docs/admin/auth-server/oauth-features/pkce.md
Labels: area-documentation

#6621 feat(jans-cli-tui): provide list of enabled scripts for client scripts
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/060_scripts/main.py
  jans-cli-tui/cli_tui/utils/background_tasks.py
  jans-cli-tui/cli_tui/wui_components/jans_label_container.py
  jans-cli-tui/cli_tui/wui_components/jans_label_widget.py
Labels: comp-jans-cli-tui, kind-feature

#6625 fix: update transpiled code of test flows
  jans-linux-setup/jans_setup/templates/test/agama/agama-test-data.ldif
Labels: kind-bug, comp-jans-linux-setup, comp-agama

#6630 fix(jans-cli-tui): search attribute
  jans-cli-tui/cli_tui/plugins/010_auth_server/attributes.py
Labels: kind-bug, comp-jans-cli-tui

#6631 fix: add missing attribute name
  jans-linux-setup/jans_setup/templates/test/agama/agama-test-data.ldif
Labels: kind-bug, comp-jans-linux-setup, comp-agama

#6634 feat(docker-jans): automatically update schema of sql/spanner tables
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  jans-pycloudlib/jans/pycloudlib/persistence/spanner.py
Labels: comp-docker-jans-persistence-loader, kind-feature, comp-jans-pycloudlib

#6769 feat(jans-auth-server): set feature flags state according to list discussed in #6611
  jans-auth-server/server/conf/jans-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: kind-enhancement, comp-jans-auth-server

#6552 Update setup.md
  docs/admin/install/setup.md
Labels: kind-bug, area-documentation, priority-4

#6779 feat(config-api): new endpoint to fetch feature flag except UNKOWN
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AuthConfigResource.java
Labels: comp-jans-config-api, kind-feature

#6784 fix(jans-core): jans-core starts to fail after dependencies upgrade #6783
  jans-core/util/pom.xml
Labels: kind-bug, comp-jans-core

#6782 chore(jans-casa): update custom script to support scan api
  jans-casa/extras/casa-external_super_gluu.py
Labels: kind-dependencies

#6789 fix(jans-bom): resteasy 6.2.x required weld upgrade thus reverting resteasy back to 6.0.3.Final #6787
  jans-bom/pom.xml
Labels: kind-bug, comp-jans-bom

#6797 docs: add a note in certificate and key generation in jans
  docs/admin/kubernetes-ops/cert-management.md
Labels: area-documentation

#6799 fix(jans-auth-server): ClassNotFoundException: javax.xml.bind.annotation.XmlElement #6798
  jans-auth-server/client/pom.xml
Labels: kind-bug, comp-jans-auth-server

#6780 fix: openapi spec version element
  jans-auth-server/docs/swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-fido2/docs/jansFido2Swagger.yaml
  jans-scim/server/src/main/resources/jans-scim-openapi.yaml
Labels: kind-bug, comp-jans-auth-server, comp-jans-config-api, comp-jans-fido2, comp-jans-scim

#6827 fix(jans-auth-server): common-text upgrade 1.11.0 leads to class initialization problems #6826
  jans-bom/pom.xml
Labels: kind-bug, comp-jans-auth-server, comp-jans-bom

#6838 test(jans-auth-server): embedded tests are failing after testng upgrade to 7.8.0 #6837
  jans-auth-server/server/pom.xml
  jans-auth-server/server/src/test/java/io/jans/as/server/ConfigurableTest.java
Labels: kind-enhancement, area-CI, comp-jans-auth-server

#6844 Embellished Jans Lock intro page.
  docs/admin/lock/README.md
  docs/assets/lock-design-diagram-00.png
  docs/assets/lock-design-diagram-02.png
Labels: area-documentation

#6857 fix: fix feature flag default values
  jans-auth-server/model/src/main/java/io/jans/as/model/common/FeatureFlagType.java
  jans-core/doc/src/main/java/io/jans/doc/annotation/DocFeatureFlag.java
Labels: kind-bug, area-documentation, priority-4

#6868 docs(jans-lock): Updated data topology diagram and README.
  docs/admin/lock/README.md
  docs/admin/lock/lock_as_config.md
  docs/admin/lock/lock_client_config.md
  docs/assets/lock-design-diagram-01.png
Labels: area-documentation

#6866 fix(fido2): tests are failing due to NoClassDefFoundError: javax/xml/bind/annotation/XmlElement #6865
  jans-fido2/server/pom.xml
Labels: kind-bug, comp-jans-fido2
