Repository JanssenProject/jans, pull requests merged in 2023-01, with the labels that each got.

#3478 fix:#2201 removing an irrelevant head from mkdocs
  mkdocs.yml
Labels: kind-bug

#3459 fix: modify clnId column type
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-scim/Dockerfile
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
Labels: kind-bug, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, comp-jans-pycloudlib

#3325 feat: add benchmark demo
  .github/workflows/docker_build_image.yml
  charts/janssen/values.yaml
  demos/benchmarking/docker-jans-loadtesting-jmeter/.dockerignore
  demos/benchmarking/docker-jans-loadtesting-jmeter/.gitattributes
  demos/benchmarking/docker-jans-loadtesting-jmeter/.gitignore
  demos/benchmarking/docker-jans-loadtesting-jmeter/.hadolint.yaml
  demos/benchmarking/docker-jans-loadtesting-jmeter/Dockerfile
  demos/benchmarking/docker-jans-loadtesting-jmeter/LICENSE
  demos/benchmarking/docker-jans-loadtesting-jmeter/Makefile
  demos/benchmarking/docker-jans-loadtesting-jmeter/README.md
  demos/benchmarking/docker-jans-loadtesting-jmeter/requirements.txt
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/add_users_couchbase.py
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/add_users_ldap.py
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/add_users_rdbm.py
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/add_users_spanner.py
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/entrypoint.sh
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/tests/authorization_code_flow.jmx
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/tests/implicit_flow.jmx
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/tests/resource_owner_password_credentials.jmx
  demos/benchmarking/docker-jans-loadtesting-jmeter/version.txt
  demos/benchmarking/docker-jans-loadtesting-jmeter/yaml/load-test/load_test_auth_code.yaml
  demos/benchmarking/docker-jans-loadtesting-jmeter/yaml/load-users/load_users_couchbase_job.yaml
  demos/benchmarking/docker-jans-loadtesting-jmeter/yaml/load-users/load_users_ldap_job.yaml
  demos/benchmarking/docker-jans-loadtesting-jmeter/yaml/load-users/load_users_rdbms_job.yaml
  demos/benchmarking/docker-jans-loadtesting-jmeter/yaml/load-users/load_users_spanner_job.yaml
  demos/load-testing/jmeter/test/Authorization Code Flow_amazon.jmx
  demos/load-testing/jmeter/test/Authorization Code Flow_amazon_client_credentials.jmx
  demos/load-testing/jmeter/test/Authorization Code Flow_ce-dev5.jmx
  demos/load-testing/jmeter/test/Authorization Code Flow_jans.jmx
  demos/load-testing/jmeter/test/Authorization Code Flow_xeon.jmx
  demos/load-testing/jmeter/test/Implicit_Flow_benchmark_gluu_org.jmx
  demos/load-testing/jmeter/test/ResourceOwnerPasswordCredentials_jans.jmx
  demos/load-testing/jmeter/test/authorization/ResourceOwnerPasswordCredentials_jans.jmx
  demos/load-testing/jmeter/test/authorization/oxServer - Test user authorization - testing data.csv
  demos/load-testing/jmeter/test/authorization/oxServer - Test user authorization.jmx
  docs/admin/planning/benchmarking.md
  docs/admin/recipes/benchmark.md
  jans-linux-setup/tools/benchmark/add_sequenced_jans_user_rdbm.py
  mkdocs.yml
Labels: area-documentation, kind-feature, comp-jans-linux-setup

#3287 fix: jans-cli-tui
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/cli_style.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/.enabled
  jans-cli-tui/cli_tui/plugins/010_auth_server/__init__.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_scope_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/view_property.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/view_uma_dialog.py
  jans-cli-tui/cli_tui/plugins/040_config_api/main.py
  jans-cli-tui/cli_tui/plugins/060_scripts/edit_script_dialog.py
  jans-cli-tui/cli_tui/plugins/060_scripts/main.py
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
  jans-cli-tui/cli_tui/utils/static.py
  jans-cli-tui/cli_tui/utils/utils.py
  jans-cli-tui/cli_tui/wui_components/jans_date_picker.py
  jans-cli-tui/test.py
Labels: kind-bug, comp-jans-cli-tui

#3482 fix: jans-cli-tui refactor mouse operations
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
Labels: kind-bug, comp-jans-cli-tui

#3487 docs: fixed navigation to config API docs
  mkdocs.yml
Labels: area-documentation

#3496 docs: add session revocation endpoint documentation
  docs/admin/auth-server/endpoints/authorization.md
  docs/admin/auth-server/endpoints/session-revocation.md
  docs/admin/auth-server/endpoints/token-revocation.md
  docs/admin/auth-server/endpoints/userinfo.md
Labels: area-documentation

#3500 fix: jans-linux-setup start mysql server before jans-auth on SUSE
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
Labels: kind-bug, comp-jans-linux-setup

#3481 feat(docker-jans): enable prefix and group for stdout logs
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/values.yaml
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/README.md
  docker-jans-auth-server/jetty/log4j2.xml
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/jetty/log4j2.xml
  docker-jans-config-api/plugins/admin-ui/log4j2-adminui.xml
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/README.md
  docker-jans-fido2/jetty/log4j2.xml
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/README.md
  docker-jans-scim/jetty/log4j2.xml
  docker-jans-scim/scripts/bootstrap.py
Labels: comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, kind-feature

#3485 refactor(jans-pycloudlib): simplify Google Secret integration
  jans-pycloudlib/jans/pycloudlib/config/google_config.py
  jans-pycloudlib/jans/pycloudlib/secret/google_secret.py
Labels: kind-enhancement, comp-jans-pycloudlib

#3507 docs: add scopes documentation to Auth Guide
  docs/admin/auth-server/scopes/README.md
  docs/admin/auth-server/scopes/oauth.md
  docs/admin/auth-server/scopes/openid.md
  docs/admin/auth-server/scopes/uma.md
  mkdocs.yml
Labels: area-documentation

#3377 docs: host javadocs on GH
  .github/workflows/build-docs.yml
  automation/docs/generate-javadocs.sh
Labels: area-CI, area-documentation

#3509 Jans config api issue 3508
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/license/LicenseResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/user/UserManagementResource.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
Labels: comp-jans-config-api

#3515 chore(docker-jans): upgrade image dependencies
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/README.md
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/README.md
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/README.md
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/README.md
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/README.md
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/Dockerfile
  docker-jans-scim/README.md
  docker-jans-scim/requirements.txt
  jans-pycloudlib/setup.py
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, comp-jans-pycloudlib

#3005 [Snyk] Security upgrade io.swagger.core.v3:swagger-core-jakarta from 2.2.4 to 2.2.7
  jans-config-api/pom.xml
Labels: kind-dependencies, comp-jans-config-api

#3522 feat(jans-auth-server): implemented auth server config property to disable prompt=login #3006
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImplTest.java
Labels: comp-jans-auth-server, kind-feature

#3526 fix: remove multiple sed commands
  automation/docs/generate-javadocs.sh
Labels: kind-bug, area-CI

#3523 [Snyk] Fix for 4 vulnerabilities
  docs/requirements.txt
Labels: kind-dependencies

#3528 fix: login page doesn't display the correct localized characters
  jans-core/jsf-util/src/main/java/io/jans/jsf2/message/FacesMessages.java
Labels: kind-bug, comp-jans-core

#3530 feat(docker-jans): add admin-ui scopes
  docker-jans-config-api/Dockerfile
  docker-jans-persistence-loader/Dockerfile
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-config-api, kind-feature

#3534 fix: add 'java' to the list of restricted variable names
  agama/transpiler/src/main/java/io/jans/agama/dsl/VarsTransformer.java
  jans-bom/pom.xml
Labels: kind-bug, comp-jans-bom, comp-agama

#3560 fix(jans-auth-server): corrected keys description "id_token <purpose>" -> "Connect <purpose>" #3415
  jans-auth-server/model/src/main/java/io/jans/as/model/jwk/Algorithm.java
Labels: kind-bug, comp-jans-auth-server

#3355 docs: add release version marker to URLs
  docs/admin/auth-server/endpoints/ssa.md
  docs/admin/config-guide/config-api/README.md
  docs/admin/config-guide/config-api/config.md
  docs/admin/config-guide/config-api/plugins.md
  docs/admin/developer/scripts/person-authentication-faq.md
  docs/admin/developer/scripts/ropc.md
  docs/admin/install/docker-install/compose.md
  docs/admin/install/docker-install/quick-start.md
  docs/admin/install/helm-install/local.md
  docs/admin/install/vm-install/dynamic-download.md
  docs/admin/install/vm-install/rhel.md
  docs/admin/install/vm-install/suse.md
  docs/admin/install/vm-install/ubuntu.md
  docs/admin/kubernetes-ops/backup-restore.md
  docs/admin/kubernetes-ops/cert-management.md
  docs/admin/recipes/benchmark.md
  docs/admin/reference/kubernetes/docker-jans-certmanager.md
  docs/admin/reference/kubernetes/docker-jans-monolith.md
  docs/admin/reference/openapi.md
  docs/agama-catalog/jans/inboundID/README.md
  docs/agama-catalog/jans/inboundID/apple/README.md
  docs/developer/developer-faq.md
  docs/script-catalog/client_registration/OpenBanking/Registration.py
  docs/script-catalog/client_registration/OpenBanking/client-registration.md
  docs/script-catalog/client_registration/sample-script/SampleScript.py
  docs/script-catalog/idp/sample-script/SampleScript.py
  docs/script-catalog/person_authentication/apple-external-authenticator/README.md
  docs/script-catalog/person_authentication/duo-external-authenticator/README.md
  docs/script-catalog/person_authentication/fido2-external-authenticator/README.md
  docs/script-catalog/person_authentication/google-external-authenticator/README.md
  docs/script-catalog/person_authentication/other/obconnect/README.me
  docs/script-catalog/person_authentication/other/obconnect/documentation/README.txt
  docs/script-catalog/person_authentication/other/uaf/Properties description.md
  docs/script-catalog/person_authentication/other/uaf/README.md
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/README.md
  docs/script-catalog/update_token/README.md
Labels: area-documentation

#3536 chore(main): release docs 1.0.6
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#3549 chore(main): release docker-jans-fido2 1.0.6-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#3550 chore(main): release docker-jans-config-api 1.0.6-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#3551 chore(main): release docker-jans-configurator 1.0.6-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#3554 chore(main): release docker-jans-persistence-loader 1.0.6-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#3553 chore(main): release docker-jans-monolith 1.0.6-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#3555 chore(main): release docker-jans-scim 1.0.6-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#3570 chore(main): release jans-fido2 1.0.6
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#3569 chore(main): release jans-orm 1.0.6
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#3567 chore(main): release jans-eleven 1.0.6
  jans-eleven/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-eleven

#3568 chore(main): release jans-notify 1.0.6
  jans-notify/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#3566 chore(main): release jans-auth-server 1.0.6
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#3564 chore(main): release jans-scim 1.0.6
  jans-scim/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#3563 chore(main): release jans-config-api 1.0.6
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#3558 chore(main): release jans-pycloudlib 1.0.6
  jans-pycloudlib/CHANGELOG.md
  jans-pycloudlib/jans/pycloudlib/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-pycloudlib

#3557 chore(main): release jans-linux-setup 1.0.6
  jans-linux-setup/CHANGELOG.md
  jans-linux-setup/jans_setup/setup_app/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-linux-setup

#3556 chore(main): release jans-cli-tui 1.0.6
  jans-cli-tui/CHANGELOG.md
  jans-cli-tui/cli_tui/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-cli-tui

#3576 docs: sequence diagram - client credentials grant
  docs/admin/auth-server/oauth-features/client-credential-grant.md
Labels: area-documentation

#3580 ci: added missing python packages
  .github/workflows/build-packages.yml
Labels: area-CI

#3581 chore(jans-auth-server): move enabledFeatureFlags out of AppConfiguration to avoid patch issues on jans-config-api side #3577
  jans-auth-server/model/src/main/java/io/jans/as/model/common/FeatureFlagType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/error/ErrorResponseFactory.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/stat/StatService.java
Labels: kind-enhancement, comp-jans-auth-server

#3583 feat: add fast forward suport to skip step authentication flow #3582
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
Labels: comp-jans-auth-server, kind-feature

#3584 feat(agama): account metadata in `.gama` files
  jans-auth-server/agama/engine/src/main/java/io/jans/ads/Deployer.java
  jans-auth-server/agama/model/src/main/java/io/jans/ads/model/DeploymentDetails.java
  jans-auth-server/agama/model/src/main/java/io/jans/ads/model/ProjectMetadata.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ADSDeploymentsService.java
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-agama

#3589 docs: fix syntax error diagram
  docs/admin/auth-server/oauth-features/client-credential-grant.md
Labels: area-documentation

#3588 feat(config-api): data conversion, audit log and swagger enhancement
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/ApiAppConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AuditLogConf.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/ConversionAttributes.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/DataFormatConversionConf.java
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/user/UserManagementResource.java
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/Fido2RegistrationResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/test/resources/feature/mgt/user/user.json
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/interceptor/AuditLogInterceptor.java
  jans-config-api/server/src/main/java/io/jans/configapi/interceptor/RequestReaderInterceptor.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AttributesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/JwksResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/LdapConfigurationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ScopesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/SessionResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/StatResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/UmaResourcesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/util/AuthUtil.java
  jans-config-api/server/src/main/resources/META-INF/beans.xml
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
  jans-orm/core/src/main/java/io/jans/orm/PersistenceEntryManager.java
  jans-orm/core/src/main/java/io/jans/orm/impl/BaseEntryManager.java
Labels: comp-jans-config-api, comp-jans-orm, kind-feature, comp-jans-linux-setup

#3596 feat(jans-auth-server): added dynamicRegistrationDefaultCustomAttributes to provide default custom attributes during dcr #3595
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/register/ws/rs/RegisterServiceTest.java
Labels: comp-jans-auth-server, kind-feature

#3597 docs: add more details to token endpoint document
  docs/admin/auth-server/endpoints/token.md
  docs/assets/image-tui-client-registration-basic.png
  docs/assets/image-tui-client-registration-scripts.png
Labels: area-documentation

#3598 fix(jans-auth-server): wrong Client Authn Method at token endpoint throws npe #3503
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthorizeService.java
Labels: kind-bug, comp-jans-auth-server

#3601 feat(jans-auth-server): added flexible date formatter handler to AS (required by certification tools) #3600
  docs/admin/auth-server/tokens/openid-userinfo-token.md
  docs/admin/config-guide/jans-cli/cli-jans-authorization-server.md
  docs/admin/reference/json/properties/janssenauthserver-properties.md
  jans-auth-server/model/src/main/java/io/jans/as/model/common/CallerType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/userinfo/UserInfoConfiguration.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/java/io/jans/as/server/service/date/DateFormatterService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/userinfo/ws/rs/UserInfoRestWebServiceImpl.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/date/DateFormatterServiceTest.java
  jans-linux-setup/jans_setup/openbanking/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: comp-jans-auth-server, kind-feature

#3605 feat(jans-auth-server): added flexible formatter handler for IdTokenF…
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/IdTokenFactory.java
Labels: comp-jans-auth-server, kind-feature

#3606 ci: updated python packages build
  .github/workflows/build-packages.yml
Labels: area-CI

#3436 feat: jans-linux-setup spanner rest client
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/setup_app/downloads.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/spanner.py
  jans-linux-setup/jans_setup/setup_app/utils/spanner_rest_client.py
  jans-linux-setup/setup.py
Labels: kind-enhancement, kind-feature, comp-jans-linux-setup

#3613 feat(config-api): plugin endpoint and audit interceptor
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/ApiAppConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/PluginConf.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/interceptor/AuditLogInterceptor.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/PluginResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ScopesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/util/AuthUtil.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/server/src/main/resources/example/plugins/plugin-all.json
  jans-config-api/server/src/test/resources/feature/defaultAcr/defaultAcr.feature
  jans-config-api/server/src/test/resources/feature/plugins/plugin-all.json
  jans-config-api/server/src/test/resources/feature/plugins/plugin.feature
  jans-config-api/server/src/test/resources/karate-config-jenkins.js
  jans-config-api/server/src/test/resources/karate-config.js
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup

#3621 fix: jans-linux-setup downgrade jwt for py3.6
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/jans_setup.py
Labels: kind-bug, comp-jans-linux-setup

#3618 feat(docker-jans): change persistence entry check to read configuration
  docker-jans-persistence-loader/scripts/utils.py
  jans-pycloudlib/jans/pycloudlib/wait.py
Labels: comp-docker-jans-persistence-loader, kind-feature, comp-jans-pycloudlib

#3623 feat(docker-jans): add support for mounted hybrid properties file
  docker-jans-auth-server/requirements.txt
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-config-api/requirements.txt
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-fido2/requirements.txt
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-scim/requirements.txt
  docker-jans-scim/scripts/bootstrap.py
Labels: comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, kind-feature

#3627 fix: jans-linux-setup external libs in jans-fido2.xml
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
Labels: kind-bug, comp-jans-linux-setup

#3630 fix: jans-linux-setup rename role_based_client as tui_client
  jans-cli-tui/docs/remote_install.md
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
  jans-linux-setup/jans_setup/templates/jans-cli/client.ldif
Labels: kind-bug, area-documentation, comp-jans-cli-tui, comp-jans-linux-setup

#3635 fix: jans-linux-setup downgrade cryptography
  jans-linux-setup/jans_setup/app_info.json
Labels: kind-bug, comp-jans-linux-setup

#3641 feat(jans-auth-server): added sector_identifier_uri content validation (certification) #3639
  jans-auth-server/server/src/main/java/io/jans/as/server/model/registration/RegisterParamsValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/model/registration/RegisterParamsValidatorTest.java
Labels: comp-jans-auth-server

#3636 fix(fido2-client): conflict of log4j config
  jans-fido2/client/pom.xml
Labels: kind-bug, comp-jans-fido2

#3504 fix: jans-cli-tui working branch 4
  jans-cli-tui/cli_tui/cli_style.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/view_property.py
  jans-cli-tui/cli_tui/plugins/020_fido/main.py
  jans-cli-tui/cli_tui/plugins/030_scim/main.py
  jans-cli-tui/cli_tui/plugins/040_config_api/main.py
  jans-cli-tui/cli_tui/plugins/060_scripts/main.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
  jans-cli-tui/cli_tui/plugins/999_jans/main.py
  jans-cli-tui/cli_tui/utils/static.py
  jans-cli-tui/cli_tui/utils/utils.py
  jans-cli-tui/cli_tui/wui_components/jans_cli_dialog.py
  jans-cli-tui/cli_tui/wui_components/jans_dialog_with_nav.py
  jans-cli-tui/cli_tui/wui_components/jans_label_container.py
  jans-cli-tui/cli_tui/wui_components/jans_tab.py
  jans-cli-tui/cli_tui/wui_components/jans_vetrical_nav.py
Labels: kind-bug, comp-jans-cli-tui, comp-jans-tui

#3644 feat: process lib directory in `.gama` files for ADS projects deployment
  docs/admin/developer/agama/lifecycle.md
  jans-auth-server/agama/engine/src/main/java/io/jans/ads/Deployer.java
  jans-auth-server/agama/model/src/main/java/io/jans/ads/model/DeploymentDetails.java
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-agama

#3648 feat(config-api): config api configuration endpoint
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AuditLogConf.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger-auto.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/Fido2ConfigResource.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/util/Constants.java
  jans-config-api/plugins/fido2-plugin/src/test/resources/karate-config-jenkins.js
  jans-config-api/plugins/fido2-plugin/src/test/resources/karate-config.js
  jans-config-api/server/src/main/java/io/jans/configapi/configuration/ConfigurationFactory.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AuthConfigResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigApiResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/api/ApiProtectionService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/conf/ConfigApiService.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/server/src/test/resources/feature/config/api/properties.feature
  jans-config-api/server/src/test/resources/karate-config-jenkins.js
  jans-config-api/server/src/test/resources/karate-config.js
Labels: comp-jans-config-api, kind-feature

#3624 feat(docker-jans-configurator): allow user-defined salt
  docker-jans-configurator/README.md
  docker-jans-configurator/scripts/bootstrap.py
  docker-jans-configurator/scripts/parameter.py
Labels: comp-docker-jans-configurator, area-documentation, kind-feature

#3656 docs(config-api): documentation for authorization, logs and security
  docs/admin/config-guide/config-api/authorization.md
  docs/admin/config-guide/config-api/logs.md
  docs/admin/config-guide/config-api/openid-client.md
  docs/admin/config-guide/config-api/security.md
Labels: area-documentation

#3660 docs: Admin Guide / Tokens / Access Token Page
  docs/admin/auth-server/tokens/oauth-access-tokens.md
  docs/admin/auth-server/tokens/openid-id-token.md
Labels: area-documentation

#3662 docs: Refresh / RPT token pages
  docs/admin/auth-server/tokens/oauth-access-tokens.md
  docs/admin/auth-server/tokens/oauth-refresh-tokens.md
  docs/admin/auth-server/tokens/uma-rpt-token.md
Labels: area-documentation

#3664 docs: LDAP namespace
  docs/admin/reference/database/ldap-namespace.md
Labels: area-documentation

#3665 docs: fix LDAP schema
  docs/admin/reference/database/ldap-schema.md
Labels: area-documentation

#3666 docs: LDAP schema fixes
  docs/admin/reference/database/ldap-schema.md
Labels: area-documentation

#3668 feat(jans-auth-server): provided ability to set scriptDns related attributes of client (e.g. introspectionScripts) #3645
  jans-auth-server/client/src/main/java/io/jans/as/client/RegisterRequest.java
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/register/RegisterRequestParam.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
Labels: comp-jans-auth-server, kind-feature

#3669 docs: fixes minor
  docs/admin/reference/database/ldap-schema.md
Labels: area-documentation

#3671 docs(config-api): renamed auto generated swagger file
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: area-documentation, comp-jans-config-api

#3657 fix: rename role_based_client as tui_client
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/utils.py
  docs/admin/config-guide/jans-cli/install.md
  docs/admin/recipes/benchmark.md
  docs/admin/reference/kubernetes/config-secret-keys.md
  jans-cli-tui/docs/build.md
Labels: kind-bug, comp-docker-jans-persistence-loader, area-documentation, comp-jans-cli-tui

#3674 doc(jans-auth-server): docs has outdated run_introspection_script_before_access_token_as_jwt_creation_and_include_claims
  docs/admin/developer/scripts/introspection.md
  docs/script-catalog/introspection/README.md
  jans-auth-server/docs/swagger.yaml
Labels: comp-jans-auth-server

#3675 Client Management README
  docs/admin/auth-server/client-management/README.md
  docs/assets/federated_identity_actors.png
Labels: area-documentation

#3676 docs: Auth Server Guide Client Management README typo fixes
  docs/admin/auth-server/client-management/README.md
Labels: area-documentation

#3678 fix: jans-linux-setup rename config-api swagger file
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
Labels: kind-bug, comp-jans-linux-setup

#3681 doc(jans-auth-server): put more info about token related configuration properties #3680
  docs/admin/auth-server/endpoints/introspection.md
  docs/admin/auth-server/endpoints/token-revocation.md
  docs/admin/auth-server/tokens/oauth-access-tokens.md
  docs/admin/auth-server/tokens/oauth-refresh-tokens.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
Labels: area-documentation, comp-jans-auth-server

#3684 fix(jans-auth-server): corrected issue caught by RegisterRequestTest
  jans-auth-server/client/src/main/java/io/jans/as/client/RegisterRequest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/RegisterRequestTest.java
Labels: kind-bug, comp-jans-auth-server

#3692 ci: fix python version used in testcases workflow
  .github/workflows/testcases.yml
Labels: area-CI

#3688 chore(docker-jans): sync schema, templates, and config from upstream
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-fido2/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.json
  docker-jans-persistence-loader/templates/jans-auth/jans-auth-config.ob.json
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim

#3697 fix(config-api): fixed start-up issue due to scope objectclass case
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/pom.xml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/PluginResource.java
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
Labels: kind-bug, comp-jans-config-api, comp-jans-linux-setup

#3696 feat: jans-linux-setup create test client with all available scopes
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/ldif_utils.py
Labels: kind-feature, comp-jans-linux-setup

#3690 docs: refactor client mgmt documentation section
  docs/admin/auth-server/client-management/client-configuration.md
  docs/admin/auth-server/client-management/configuration/client-config.md
  docs/admin/auth-server/client-management/configuration/client-crypto.md
  docs/admin/auth-server/client-management/configuration/grants.md
  docs/admin/auth-server/client-management/configuration/pre-authorization.md
  docs/admin/auth-server/client-management/configuration/redirect-uris.md
  docs/admin/auth-server/client-management/configuration/response-types.md
  mkdocs.yml
Labels: area-documentation

#3699 fix: jans-linux-setup test client fixes
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#3702 fix: jans-linux-setup ldif property objectClass should be case sensitive
  jans-linux-setup/jans_setup/setup_app/installers/scim.py
  jans-linux-setup/jans_setup/setup_app/utils/ldif_utils.py
Labels: kind-bug, comp-jans-linux-setup

#3704 fix: store correct script revision after script reload from file
  jans-core/script/src/main/java/io/jans/service/custom/script/CustomScriptManager.java
Labels: kind-bug, comp-jans-core

#3706 fix: jans-linux-setup installation without test client
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/ldif_utils.py
Labels: kind-bug, comp-jans-linux-setup

#3708 docs : useful tools
  docs/developer/useful-tools.md
Labels: area-documentation

#3709 docs: add documentation for client authn
  docs/admin/auth-server/client-management/client-authn.md
Labels: area-documentation

#3647 feat(jans-tent): add Jans Tent product
  .github/workflows/flake8-lint.yml
  demos/README.md
  demos/jans-tent/.flaskenv
  demos/jans-tent/.gitignore
  demos/jans-tent/LICENSE
  demos/jans-tent/README.md
  demos/jans-tent/behave.ini
  demos/jans-tent/clientapp/__init__.py
  demos/jans-tent/clientapp/client_handler.py
  demos/jans-tent/clientapp/config_dummy.py
  demos/jans-tent/clientapp/templates/home.html
  demos/jans-tent/docs/images/authorize_code_flow.png
  demos/jans-tent/main.py
  demos/jans-tent/requirements.txt
  demos/jans-tent/tests/behaver/features/environment.py
  demos/jans-tent/tests/behaver/features/oidc_auth.feature
  demos/jans-tent/tests/behaver/features/passport_social_auth.feature
  demos/jans-tent/tests/behaver/features/steps/allow.py
  demos/jans-tent/tests/unit_integration/helper.py
  demos/jans-tent/tests/unit_integration/test_callback_endpoint.py
  demos/jans-tent/tests/unit_integration/test_client_register_endpoint.py
  demos/jans-tent/tests/unit_integration/test_config.py
  demos/jans-tent/tests/unit_integration/test_configuration_endpoint.py
  demos/jans-tent/tests/unit_integration/test_dynamic_client_registration.py
  demos/jans-tent/tests/unit_integration/test_flask_factory.py
  demos/jans-tent/tests/unit_integration/test_gluu_preselected_provider.py
  demos/jans-tent/tests/unit_integration/test_login_endpoint.py
  demos/jans-tent/tests/unit_integration/test_protected_content_endpoint.py
Labels: area-documentation, kind-feature

#3710 docs: add emoji support for docs
  mkdocs.yml
Labels: area-documentation

#3719 fix(jans-auth-server): added testng to agama-inbound #3714
  jans-auth-server/agama/inboundID/pom.xml
Labels: kind-bug

#3716 fix: jans-linux-setup add twilio and fido2 client libs to jans-auth
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
Labels: kind-bug, comp-jans-linux-setup

#3725 fix(jans-config-api): runtime exceptions in config-api at startup
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/fido2/RegistrationPersistenceService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/RegistrationPersistenceService.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/RegistrationPersistenceService.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-config-api

#3728 fix(jans-fido2): RegistrationPersistenceService implemntation
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/RegistrationPersistenceService.java
Labels: kind-bug, comp-jans-fido2

#3745 doc(jans-auth-server): added key_ops description to docs
  docs/admin/auth-server/crypto/key-generation.md
Labels: area-documentation, comp-jans-auth-server
