Repository JanssenProject/jans, pull requests merged in 2023-05, with the labels that each got.

#4753 fix(docker-jans): sync role-based introspection script
  docker-jans-config-api/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
Labels: kind-bug, comp-docker-jans-persistence-loader, comp-docker-jans-config-api

#4537 ci: add generate rdbms docs script
  .github/workflows/test_docker_linux_installer.yml
  automation/docs/generate-rdbms-docs.py
  automation/docs/generate-rdbms-docs.sh
Labels: area-CI

#4767 fix(docs): Jans cli tui update tui navigation docs
  docs/admin/config-guide/jans-tui/navigation-guide.md
Labels: kind-bug, area-documentation

#4766 ci: add automation publishing javadocs on GH
  .github/workflows/build-docs.yml
  automation/docs/add-javadocs-to-mkdocs.py
  mkdocs.yml
Labels: area-CI, area-documentation

#4763 feat(jans-cli-tui): warn the user when upload agama project if disapled
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
Labels: comp-jans-cli-tui, kind-feature, comp-jans-tui

#4771 fix(config-api): filtering script is not working when backend is
  jans-orm/sql-sample/src/main/java/io/jans/orm/sql/model/SimpleCustomScript.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlFilterConverter.java
Labels: kind-bug, comp-jans-orm

#4778 docs: config-api and SCIM config documentation
  docs/admin/config-guide/config-api/config.md
  docs/admin/config-guide/jans-cli/cli-smtp-configuration.md
  docs/admin/scim/bulk-users.md
  docs/admin/scim/config.md
Labels: area-documentation

#4781 docs: corrected formatting and layout of Update Token page
  docs/admin/developer/scripts/update-token.md
Labels: area-documentation

#4780 fix(jans-linux-setup): key_regeneration should look up db for keystore type
  jans-linux-setup/tools/key_regeneration.py
Labels: kind-bug, comp-jans-linux-setup

#4765 fix(jans-cli-tui): change help content for agama page
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
Labels: kind-bug, comp-jans-cli-tui

#4786 feat(jans-auth-server): avoided unnecessary "session not found" error messages during refresh token flow #4785
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/IdTokenFactory.java
Labels: kind-enhancement, comp-jans-auth-server, kind-feature

#4760 chore(docker-jans): upgrade jetty to mitigate vulnerabilities
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim

#4788 fix(jans-linux-setup): default keystore type pkcs12
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/utils/crypto64.py
Labels: kind-bug, comp-jans-linux-setup

#4799 fix(jans-cli-tui): set seleted to zero in JansVerticalNav when cleared
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/attributes.py
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
  jans-cli-tui/cli_tui/wui_components/jans_vetrical_nav.py
Labels: kind-bug, comp-jans-cli-tui

#4804 fix(jans-linux-setup): create opendj sysv script for k8s
  jans-linux-setup/jans_setup/setup_app/installers/opendj.py
Labels: kind-bug, comp-jans-linux-setup

#4807 fix(jans-linux-setup): use /opt/dist/scripts in case of k8s
  jans-linux-setup/jans_setup/setup_app/installers/base.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
Labels: kind-bug, comp-jans-linux-setup

#4810 fix(docker-jans-monolith): add support for using /opt/dist/scripts
  automation/startjanssenmonolithdemo.sh
  docker-jans-monolith/Dockerfile
  docker-jans-monolith/scripts/entrypoint.sh
Labels: kind-bug, area-CI

#4812 feat(jans-auth-server): invalidate discovery cache if some scripts are (re)loaded #4500
  jans-auth-server/server/src/main/java/io/jans/as/server/service/LocalResponseCache.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalAuthenticationService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/LocalResponseCacheTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: kind-enhancement, comp-jans-auth-server, kind-feature

#4816 fix(agama): fix test case randUid
  jans-auth-server/agama/engine/src/test/java/io/jans/agama/test/UidOnlyAuthTest.java
Labels: kind-bug, comp-jans-auth-server, comp-agama

#4824 docs(agama): write Agama quick start using Agama Lab guide
  docs/admin/developer/agama/engine-config.md
  docs/admin/developer/agama/quick-start-using-agama-lab.md
  docs/assets/agama-lab-GH-login.png
  docs/assets/agama-lab-add-gh-repo.png
  docs/assets/agama-lab-flow-passwd-1.png
  docs/assets/agama-lab-flow-passwd-check-repeat.png
  docs/assets/agama-lab-flow-passwd-complete-flow.png
  docs/assets/agama-lab-flow-passwd-create-assignment-uid.png
  docs/assets/agama-lab-flow-passwd-create-assignment.png
  docs/assets/agama-lab-flow-passwd-create-call.png
  docs/assets/agama-lab-flow-passwd-create-cdiutil-instance.png
  docs/assets/agama-lab-flow-passwd-create-cdiutil.png
  docs/assets/agama-lab-flow-passwd-create-fail-finish.png
  docs/assets/agama-lab-flow-passwd-create-finish.png
  docs/assets/agama-lab-flow-passwd-create-login-page.png
  docs/assets/agama-lab-flow-passwd-create-repeat.png
  docs/assets/agama-lab-flow-passwd-create-when.png
  docs/assets/agama-lab-flow-passwd-edit-assignment-uid.png
  docs/assets/agama-lab-flow-passwd-edit-assignment.png
  docs/assets/agama-lab-flow-passwd-edit-call.png
  docs/assets/agama-lab-flow-passwd-edit-cdiutil-instance.png
  docs/assets/agama-lab-flow-passwd-edit-cdiutil.png
  docs/assets/agama-lab-flow-passwd-edit-fail-finish.png
  docs/assets/agama-lab-flow-passwd-edit-finish.png
  docs/assets/agama-lab-flow-passwd-edit-repeat.png
  docs/assets/agama-lab-flow-passwd-edit-rrf.png
  docs/assets/agama-lab-flow-passwd-edit-template-2.png
  docs/assets/agama-lab-flow-passwd-edit-template.png
  docs/assets/agama-lab-flow-passwd-edit-when.png
  docs/assets/agama-lab-flow-passwd-new-call.png
  docs/assets/agama-lab-flow-passwd-release-list-gh.png
  docs/assets/agama-lab-flow-passwd-release-list.png
  docs/assets/agama-lab-flow-passwd-release-project-gh.png
  docs/assets/agama-lab-flow-passwd-release-project.png
  docs/assets/agama-lab-flow-passwd-render-template.png
  docs/assets/agama-lab-flow-passwd-save-template.png
  docs/assets/agama-lab-flow-passwd-select-template.png
  docs/assets/agama-lab-login.png
  docs/assets/agama-lab-new-flow-name.png
  docs/assets/agama-lab-new-flow.png
  docs/assets/agama-lab-new-proj.png
  docs/assets/agama-lab-project-listing.png
  docs/assets/agama-lab-project-page.png
Labels: area-documentation, effort-5, triaged, comp-agama

#4823 Jdk 17
  jans-auth-server/pom.xml
  jans-auth-server/server/pom.xml
  jans-bom/pom.xml
  jans-config-api/plugins/sample/demo/pom.xml
  jans-config-api/plugins/sample/helloworld/pom.xml
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
  jans-core/pom.xml
  jans-core/service/src/main/java/io/jans/model/security/Identity.java
  jans-core/service/src/main/java/io/jans/model/security/SimpleGroup.java
  jans-core/uma-rs-core/pom.xml
  jans-eleven/pom.xml
  jans-eleven/server/src/main/java/io/jans/eleven/rest/GenerateKeyRestServiceImpl.java
  jans-fido2/client/pom.xml
  jans-fido2/pom.xml
  jans-fido2/server/pom.xml
  jans-fido2/server/src/main/java/io/jans/fido2/service/external/ExternalFido2InterceptionService.java
  jans-linux-setup/jans_setup/app_info.json
  jans-notify/pom.xml
  jans-orm/pom.xml
  jans-orm/sql-sample/src/test/java/io/jans/orm/sql/test/ManualSqlEntryManagerTest.java
  jans-scim/client/pom.xml
  jans-scim/pom.xml
  jans-scim/server/pom.xml
  jans-scim/service/pom.xml
Labels: comp-jans-auth-server, comp-jans-config-api, comp-jans-core, comp-jans-fido2, comp-jans-orm, comp-jans-scim, comp-jans-bom, comp-jans-eleven, comp-jans-linux-setup

#4818 fix(docker-jans-monolith): incorrect image tag for compose-based deployment
  docker-jans-monolith/jans-mysql-compose.yml
  docker-jans-monolith/jans-postgres-compose.yml
Labels: kind-bug

#4839 docs: config-api configuration and SCIM typo
  docs/admin/config-guide/config-api/config.md
  docs/admin/scim/config.md
Labels: area-documentation

#4836 fix(docker-jans-persistence-loader): ensure smtp config is multivalued
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#4417 feat(jans-auth-server): log httpresponse body configurated by httpLoggingResponseBodyContent #349
  docs/admin/reference/json/properties/janssenauthserver-properties.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/audit/debug/ServletLoggingFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/audit/debug/entity/HttpResponse.java
  jans-auth-server/server/src/main/java/io/jans/as/server/audit/debug/wrapper/LogResponseWrapper.java
  jans-auth-server/server/src/main/java/io/jans/as/server/audit/debug/wrapper/ServletOutputStreamCopier.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/AuthenticationFilter.java
  jans-auth-server/server/src/main/webapp-jetty/WEB-INF/web.xml
Labels: area-documentation, comp-jans-auth-server, kind-feature

#4841 fix(jans-cli-tui): remove duplicated fido value
  jans-cli-tui/cli_tui/plugins/020_fido/main.py
Labels: kind-bug, comp-jans-cli-tui

#4843 chore(deps): bump nimbus-jose-jwt from 9.11.1 to 9.28
  jans-config-api/pom.xml
Labels: kind-dependencies, comp-jans-config-api

#4820 feat: initial commit jans-tarp
  .github/workflows/build-packages.yml
  demos/jans-tarp/.editorconfig
  demos/jans-tarp/.gitignore
  demos/jans-tarp/.prettierignore
  demos/jans-tarp/.prettierrc
  demos/jans-tarp/LICENSE
  demos/jans-tarp/README.md
  demos/jans-tarp/config/paths.js
  demos/jans-tarp/config/webpack.common.js
  demos/jans-tarp/config/webpack.config.js
  demos/jans-tarp/pack.js
  demos/jans-tarp/package.json
  demos/jans-tarp/public/icons/icon_128.png
  demos/jans-tarp/public/icons/icon_32.png
  demos/jans-tarp/public/icons/icon_48.png
  demos/jans-tarp/public/icons/loading.gif
  demos/jans-tarp/public/loader.css
  demos/jans-tarp/public/loading.js
  demos/jans-tarp/public/manifest.json
  demos/jans-tarp/public/options.html
  demos/jans-tarp/public/popup.html
  demos/jans-tarp/src/background.js
  demos/jans-tarp/src/contentScript.js
  demos/jans-tarp/src/popup.css
  demos/jans-tarp/src/popup.js
Labels: area-documentation, kind-feature

#4832 fix(jans-pycloudlib): service label is missing on subsequent wait function calls
  jans-pycloudlib/jans/pycloudlib/wait.py
  jans-pycloudlib/tests/test_wait.py
Labels: kind-bug, comp-jans-pycloudlib

#4844 chore(Dockerfile): updated build dates
  docker-jans-auth-server/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-scim/requirements.txt
Labels: bot, enhancement

#4834 chore(docker-jans): add support for extra build/scan args
  .gitignore
  demos/benchmarking/docker-jans-loadtesting-jmeter/Makefile
  docker-jans-auth-server/Makefile
  docker-jans-certmanager/Makefile
  docker-jans-config-api/Makefile
  docker-jans-configurator/Makefile
  docker-jans-fido2/Makefile
  docker-jans-monolith/Makefile
  docker-jans-persistence-loader/Makefile
  docker-jans-scim/Makefile
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim

#4853 fix(config-api): starup issue realted to mail service
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/pom.xml
Labels: kind-bug, comp-jans-config-api

#4825 docs: add agama lab guide to the docs navigation
  docs/admin/developer/agama/quick-start-using-agama-lab.md
  mkdocs.yml
Labels: area-documentation, comp-agama

#4867 chore: fix test resources processing
  jans-auth-server/client/pom.xml
  jans-auth-server/server/pom.xml
Labels: kind-dependencies, comp-jans-auth-server

#4882 fix(jans-cli-tui): process auth endpoint has security constraint
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
Labels: kind-bug, comp-jans-cli-tui, kind-feature

#4908 fix(docker-jans-loadtesting-jmeter): rename incorrect reference to OCI image
  demos/benchmarking/docker-jans-loadtesting-jmeter/Dockerfile
  demos/benchmarking/docker-jans-loadtesting-jmeter/Makefile
  demos/benchmarking/docker-jans-loadtesting-jmeter/yaml/load-test/load_test_auth_code.yaml
  demos/benchmarking/docker-jans-loadtesting-jmeter/yaml/load-users/load_users_couchbase_job.yaml
  demos/benchmarking/docker-jans-loadtesting-jmeter/yaml/load-users/load_users_ldap_job.yaml
  demos/benchmarking/docker-jans-loadtesting-jmeter/yaml/load-users/load_users_rdbms_job.yaml
  demos/benchmarking/docker-jans-loadtesting-jmeter/yaml/load-users/load_users_spanner_job.yaml
  docs/admin/planning/benchmarking.md
  docs/admin/recipes/benchmark.md
Labels: kind-bug, area-CI

#4945 chore(main): release jans-orm 1.0.13
  jans-orm/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-orm

#4943 chore(main): release jans-config-api 1.0.13
  jans-config-api/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-config-api

#4942 chore(main): release jans-bom 1.0.13
  jans-bom/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-bom

#4941 chore(main): release jans-auth-server 1.0.13
  jans-auth-server/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-auth-server

#4940 chore(main): release jans-core 1.0.13
  jans-core/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-core

#4939 chore(main): release agama 1.0.13
  agama/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-agama

#4938 chore(main): release jans-fido2 1.0.13
  jans-fido2/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-fido2

#4936 chore(main): release jans-scim 1.0.13
  jans-scim/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-scim

#4932 chore(main): release 1.0.13
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4928 chore(main): release docker-jans-fido2 1.0.13-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#4927 chore(main): release docker-jans-scim 1.0.13-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#4926 chore(main): release docker-jans-monolith 1.0.13-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#4925 chore(main): release docker-jans-config-api 1.0.13-1
  docker-jans-config-api/CHANGELOG.md
  docker-jans-config-api/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-config-api, area-documentation

#4924 chore(main): release docker-jans-configurator 1.0.13-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#4923 chore(main): release docker-jans-persistence-loader 1.0.13-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#4922 chore(main): release docker-jans-auth-server 1.0.13-1
  docker-jans-auth-server/CHANGELOG.md
  docker-jans-auth-server/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-auth-server, area-documentation

#4921 chore(main): release docker-jans-certmanager 1.0.13-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#4910 chore(main): release docs 1.0.13
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4944 chore(main): release jans-notify 1.0.13
  jans-notify/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#4934 fix(jans-auth-server): Illegal op_policy_uri parameter: - exclude entries with blank values from discovery response (oxauth counterpart) #4888
  docs/admin/reference/json/properties/janssenauthserver-properties.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
  jans-auth-server/server/src/test/java/io/jans/as/server/servlet/OpenIdConfigurationTest.java
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, kind-enhancement, area-documentation, comp-jans-auth-server, comp-jans-config-api

#4970 docs: fix reference to OCI images
  docker-jans-auth-server/README.md
  docker-jans-certmanager/README.md
  docker-jans-config-api/README.md
  docker-jans-configurator/README.md
  docker-jans-fido2/README.md
  docker-jans-monolith/jans-mysql-compose.yml
  docker-jans-monolith/jans-postgres-compose.yml
  docker-jans-persistence-loader/README.md
  docker-jans-scim/README.md
  docs/admin/kubernetes-ops/cert-management.md
  docs/admin/reference/kubernetes/docker-jans-auth-server.md
  docs/admin/reference/kubernetes/docker-jans-certmanager.md
  docs/admin/reference/kubernetes/docker-jans-config-api.md
  docs/admin/reference/kubernetes/docker-jans-configurator.md
  docs/admin/reference/kubernetes/docker-jans-fido2.md
  docs/admin/reference/kubernetes/docker-jans-persistence-loader.md
  docs/admin/reference/kubernetes/docker-jans-scim.md
Labels: comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation

#4976 fix(config-api): hide smtp and client model utility method
  jans-auth-server/common/pom.xml
  jans-auth-server/common/src/main/java/io/jans/as/common/model/registration/Client.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-core/util/src/main/java/io/jans/model/SmtpConfiguration.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-config-api, comp-jans-core

#4980 chore(agama): refactor deployment endpoint
  docs/admin/developer/agama/gama-deployment.md
  jans-auth-server/agama/engine/src/main/java/io/jans/ads/Deployer.java
  jans-auth-server/agama/model/src/main/java/io/jans/ads/model/DeploymentDetails.java
  jans-auth-server/agama/model/src/main/java/io/jans/ads/model/ProjectMetadata.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaDeploymentsResource.java
Labels: kind-dependencies, area-documentation, comp-jans-auth-server, comp-jans-config-api, comp-agama

#4985 fix(jans-cli-tui): height of checkbox field
  jans-cli-tui/cli_tui/jans_cli_tui.py
Labels: kind-bug, comp-jans-cli-tui

#4982 feat(jans-auth-server): made not found exceptions logging level configurable #4973
  docs/admin/reference/json/properties/janssenauthserver-properties.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/GrantService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-enhancement, area-documentation, comp-jans-auth-server, comp-jans-config-api, kind-feature

#4994 chore: ui improvement of extension #4993
  demos/jans-tarp/public/icons/JansTarp.png
  demos/jans-tarp/public/icons/loading.gif
  demos/jans-tarp/public/popup.html
  demos/jans-tarp/src/popup.css
Labels: kind-dependencies

#4997 docs(jans-auth): #4957
  docs/admin/reference/database/mysql-config.md
Labels: area-documentation

#4998 docs (jans-auth): #4957 Update mysql-ops.md
  docs/admin/reference/database/mysql-ops.md
Labels: area-documentation

#5000 feat(config-api): cache-refresh plugin code
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/cache-refresh-plugin/pom.xml
  jans-config-api/plugins/cache-refresh-plugin/src/main/assembly/assembly.xml
  jans-config-api/plugins/cache-refresh-plugin/src/main/java/io/jans/configapi/plugin/cacherefresh/extensions/CacheRefreshExtension.java
  jans-config-api/plugins/cache-refresh-plugin/src/main/java/io/jans/configapi/plugin/cacherefresh/model/config/CacheRefreshConfigSource.java
  jans-config-api/plugins/cache-refresh-plugin/src/main/java/io/jans/configapi/plugin/cacherefresh/model/config/CacheRefreshConfiguration.java
  jans-config-api/plugins/cache-refresh-plugin/src/main/java/io/jans/configapi/plugin/cacherefresh/model/config/Conf.java
  jans-config-api/plugins/cache-refresh-plugin/src/main/java/io/jans/configapi/plugin/cacherefresh/rest/ApiApplication.java
  jans-config-api/plugins/cache-refresh-plugin/src/main/java/io/jans/configapi/plugin/cacherefresh/rest/CacheRefreshConfigResource.java
  jans-config-api/plugins/cache-refresh-plugin/src/main/java/io/jans/configapi/plugin/cacherefresh/service/CacheRefreshService.java
  jans-config-api/plugins/cache-refresh-plugin/src/main/java/io/jans/configapi/plugin/cacherefresh/util/Constants.java
  jans-config-api/plugins/cache-refresh-plugin/src/main/resources/META-INF/beans.xml
  jans-config-api/plugins/cache-refresh-plugin/src/main/resources/META-INF/services/javax.enterprise.inject.spi.Extension
  jans-config-api/plugins/cache-refresh-plugin/src/main/resources/META-INF/services/javax.ws.rs.ext.Providers
  jans-config-api/plugins/cache-refresh-plugin/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSource
  jans-config-api/plugins/cache-refresh-plugin/src/main/resources/cacherefresh.properties
  jans-config-api/plugins/cache-refresh-plugin/src/test/java/io/jans/configapi/KarateTestRunner.java
  jans-config-api/plugins/cache-refresh-plugin/src/test/java/io/jans/configapi/TestJenkinsRunner.java
  jans-config-api/plugins/cache-refresh-plugin/src/test/java/io/jans/jans-config-api/plugins/AppTest.java
  jans-config-api/plugins/cache-refresh-plugin/src/test/resources/feature/cacherefresh/cacherefresh.feature
  jans-config-api/plugins/cache-refresh-plugin/src/test/resources/feature/cacherefresh/dynamiconf.json
  jans-config-api/plugins/cache-refresh-plugin/src/test/resources/karate-config-jenkins.js
  jans-config-api/plugins/cache-refresh-plugin/src/test/resources/karate-config.js
  jans-config-api/plugins/cache-refresh-plugin/src/test/resources/karate.properties
  jans-config-api/plugins/cache-refresh-plugin/src/test/resources/karate_jenkins.properties
  jans-config-api/plugins/cache-refresh-plugin/src/test/resources/logback-test.xml
  jans-config-api/plugins/cache-refresh-plugin/src/test/resources/test.properties
  jans-config-api/plugins/cache-refresh-plugin/src/test/resources/testClient.feature
  jans-config-api/plugins/cache-refresh-plugin/src/test/resources/token.feature
  jans-config-api/plugins/docs/cache-refresh-plugin-swagger.yaml
  jans-config-api/plugins/pom.xml
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/server/src/test/resources/feature/agama/agama-deployment.feature
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup, comp-agama

#5002 fix(terraform-provider-jans): update terraform module
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/docs/resources/agama_deployment.md
  terraform-provider-jans/docs/resources/agama_flow.md
  terraform-provider-jans/docs/resources/app_configuration.md
  terraform-provider-jans/docs/resources/attribute.md
  terraform-provider-jans/docs/resources/cache_configuration.md
  terraform-provider-jans/docs/resources/json_web_key.md
  terraform-provider-jans/docs/resources/oidc_client.md
  terraform-provider-jans/docs/resources/scope.md
  terraform-provider-jans/docs/resources/script.md
  terraform-provider-jans/docs/resources/smtp_configuration.md
  terraform-provider-jans/docs/resources/uma_resource.md
  terraform-provider-jans/jans/agama_deployment.go
  terraform-provider-jans/jans/agama_deployment_test.go
  terraform-provider-jans/jans/agama_flow.go
  terraform-provider-jans/jans/app_configuration.go
  terraform-provider-jans/jans/attributes.go
  terraform-provider-jans/jans/cache.go
  terraform-provider-jans/jans/cache_test.go
  terraform-provider-jans/jans/client.go
  terraform-provider-jans/jans/jwk.go
  terraform-provider-jans/jans/oidc_client.go
  terraform-provider-jans/jans/oidc_client_test.go
  terraform-provider-jans/jans/organization.go
  terraform-provider-jans/jans/organization_test.go
  terraform-provider-jans/jans/scope.go
  terraform-provider-jans/jans/script.go
  terraform-provider-jans/jans/script_test.go
  terraform-provider-jans/jans/smtp_config.go
  terraform-provider-jans/jans/smtp_config_test.go
  terraform-provider-jans/jans/uma_resource.go
  terraform-provider-jans/provider/provider.go
  terraform-provider-jans/provider/resource_agama_deployment.go
  terraform-provider-jans/provider/resource_agama_deployment_test.go
  terraform-provider-jans/provider/resource_agama_flow.go
  terraform-provider-jans/provider/resource_app_configuration.go
  terraform-provider-jans/provider/resource_attribute.go
  terraform-provider-jans/provider/resource_cache_configuration.go
  terraform-provider-jans/provider/resource_json_web_key.go
  terraform-provider-jans/provider/resource_oidc_client.go
  terraform-provider-jans/provider/resource_oidc_client_test.go
  terraform-provider-jans/provider/resource_scope.go
  terraform-provider-jans/provider/resource_script.go
  terraform-provider-jans/provider/resource_script_test.go
  terraform-provider-jans/provider/resource_smtp_configuration.go
  terraform-provider-jans/provider/resource_smtp_configuration_test.go
  terraform-provider-jans/provider/resource_uma_resource.go
  terraform-provider-jans/testdata/agama_project.gama
Labels: kind-bug, area-documentation

#4782 fix(fido2): unit test for the package io.jans.fido2.service.verifier
  jans-fido2/server/src/main/java/io/jans/fido2/service/CertificateService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/CertificateVerifier.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/CommonVerifiers.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/CertificateVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/CommonVerifiersTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/UserVerificationVerifierTest.java
Labels: kind-bug, comp-jans-fido2

#5010 feat(agama): allow flows to supply the identity of the user to authenticate with a parameterizable attribute
  docs/admin/developer/agama/dsl-full.md
  docs/admin/developer/agama/quick-start.md
  docs/script-catalog/person_authentication/agama-bridge/AgamaBridge.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: area-documentation, kind-feature, comp-jans-linux-setup, comp-agama

#5015 fix(terraform-provider-jans): erorrs while using fido2 app configuration resource
  terraform-provider-jans/.gitignore
  terraform-provider-jans/jans/fido2_config.go
  terraform-provider-jans/jans/fido2_config_test.go
  terraform-provider-jans/provider/resource_fido2_configuration.go
Labels: kind-bug

#5026 feat(terraform): add missing attributes for fido2 app configuration updates
  terraform-provider-jans/docs/resources/fido2_configuration.md
  terraform-provider-jans/examples/resources/jans_fido2_configuration/resource.tf
  terraform-provider-jans/jans/fido2_config.go
  terraform-provider-jans/jans/fido2_config_test.go
  terraform-provider-jans/provider/resource_fido2_configuration.go
  terraform-provider-jans/provider/resource_fido2_configuration_test.go
Labels: area-documentation, kind-feature

#5029 docs: add recommendation about HA
  docs/admin/planning/kubernetes.md
  docs/admin/planning/vm-cluster.md
Labels: area-documentation

#5008 feat: use PKCE in jans-tarp for auth flow #4996
  demos/jans-tarp/config/webpack.common.js
  demos/jans-tarp/config/webpack.config.js
  demos/jans-tarp/package.json
  demos/jans-tarp/src/contentScript.js
  demos/jans-tarp/src/popup.js
Labels: kind-feature

#5035 fix(docs): #4881 improvised
  docs/admin/recipes/stepped-up-authn.md
Labels: kind-bug, area-documentation

#5036 fix(docs): Included Stepped-up Authentication in navigation
  mkdocs.yml
Labels: kind-bug, area-documentation

#4813 feat: store AttestationType
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
Labels: comp-jans-fido2, kind-feature

#5045 docs: software statement DCR usecase
  docs/admin/auth-server/client-management/software-statements.md
Labels: area-documentation

#5044 feat(charts): add missing options for auth-server-key-rotation
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/janssen/charts/auth-server-key-rotation/values.yaml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
  docker-jans-certmanager/README.md
  docker-jans-certmanager/scripts/auth_handler.py
Labels: comp-docker-jans-certmanager, area-documentation, kind-feature, comp-charts-jans

#5048 docs: update API reference page for javadocs links
  docs/admin/reference/openapi.md
Labels: area-documentation

#5052 fix(jans-fido2): compilation is failing due to missed jans-doc dependency #5051
  jans-fido2/notify-client/pom.xml
Labels: kind-bug, comp-jans-fido2

#5056 docs(fix): #1217
  docs/admin/developer/managed-beans.md
Labels: kind-bug, area-documentation

#5055 feat (jans-tarp) : shift additional param field to Auth request form #5054
  demos/jans-tarp/public/options.html
  demos/jans-tarp/src/popup.css
  demos/jans-tarp/src/popup.js
Labels: kind-feature

#5059 fix(jans-linux-setup): type of jans_stat is oauth
  jans-linux-setup/jans_setup/templates/scopes.ldif
Labels: kind-bug, comp-jans-linux-setup

#5062 feat: update SG script and notify client to conform scan API #5061
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/SuperGluuExternalAuthenticator.py
  jans-auth-server/model/src/main/java/io/jans/as/model/util/Util.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/util/ServerUtil.java
  jans-fido2/notify-client/src/main/java/io/jans/notify/client/NotifyClientFactory.java
  jans-fido2/notify-client/src/main/java/io/jans/notify/client/NotifyClientService.java
  jans-fido2/notify-client/src/main/java/io/jans/notify/client/NotifyMetadataClientService.java
Labels: comp-jans-auth-server, comp-jans-fido2, kind-feature

#5064 chore: increase application column size to 96 #5063
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-dependencies, comp-jans-linux-setup

#5068 fix(docs): #3675
  docs/admin/auth-server/client-management/README.md
Labels: kind-bug, area-documentation

#5069 fix(docs): Mention of Update Token script #3465
  docs/admin/auth-server/tokens/openid-id-token.md
Labels: kind-bug, area-documentation

#5073 docs(reference guide): update README.md
  docs/admin/reference/README.md
Labels: area-documentation

#5072 chore(jans-auth-server): upgraded snakeyaml cross-dependency to 2.0 #5071
  jans-auth-server/common/pom.xml
  jans-auth-server/model/pom.xml
  jans-auth-server/pom.xml
Labels: kind-enhancement, kind-dependencies, comp-jans-auth-server

#5074 fix(terraform-provider-jans): update terraform module
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/docs/resources/organization.md
  terraform-provider-jans/jans/client.go
  terraform-provider-jans/jans/fido2_config.go
  terraform-provider-jans/jans/fido2_config_test.go
  terraform-provider-jans/provider/resource_fido2_configuration.go
  terraform-provider-jans/provider/resource_organization.go
  terraform-provider-jans/provider/resource_organization_test.go
Labels: kind-bug, area-documentation

#5076 docs(reference): update README.md
  docs/admin/reference/json/README.md
Labels: area-documentation

#5078 docs(client mgmt): remove mention of stmt as id
  docs/admin/auth-server/client-management/software-statements.md
Labels: area-documentation

#5082 feat: enable working of tarp in incognito mode #5080
  demos/jans-tarp/public/manifest.json
Labels: kind-feature

#5083 fix(docs): minor addition #4881
  docs/admin/recipes/stepped-up-authn.md
Labels: kind-bug, area-documentation

#5084 docs(fix) : removing unnecessary folder #4707
  docs/script-catalog/persistence_extension/SampleScript.py
Labels: kind-bug, area-documentation

#5085 fix(docs) : Create README.md
  docs/script-catalog/persistence_extension/README.md
Labels: kind-bug, area-documentation

#5087 fix(docs): renamed SampleScript.py to PersistenceExtension.py
  docs/script-catalog/persistence_extension/PersistenceExtension.py
Labels: kind-bug, area-documentation

#5090 fix(docs): #4707
  docs/admin/developer/scripts/persistence.md
Labels: kind-bug, area-documentation

#5091 chore(docker-jans-persistence-loader): increase jansApp column size
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
Labels: kind-dependencies, comp-docker-jans-persistence-loader

#5022 feat(tent): support RP initiated logout
  demos/jans-tent/clientapp/__init__.py
  demos/jans-tent/clientapp/helpers/client_handler.py
  demos/jans-tent/clientapp/utils/dcr_from_config.py
  demos/jans-tent/tests/unit_integration/helper.py
  demos/jans-tent/tests/unit_integration/test_dcr_from_config.py
  demos/jans-tent/tests/unit_integration/test_logout_endpoint.py
Labels: kind-feature

#4798 fix(docker-jans-auth-server): compare contents before pushing otp_configuration and super_gluu_creds to secrets
  docker-jans-auth-server/scripts/auth_conf.py
Labels: kind-bug, comp-docker-jans-auth-server

#5079 fix(jans-linux-setup): maridb json columns
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
Labels: kind-bug, kind-feature, comp-jans-linux-setup

#5095 fix(jans-linux-setup): change location of persistence script
  jans-linux-setup/jans_setup/static/extension/persistence_extension/SampleScript.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#5096 feat: Add DCR flow
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/SuperGluuExternalAuthenticator.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-feature, comp-jans-linux-setup

#5099 chore(docker): sync assets from upstream
  docker-jans-auth-server/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/templates/configuration.ldif
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim

#5106 docs: add instructions to set SCIM log level
  docs/admin/scim/logs.md
Labels: area-documentation

#5107 docs: add details of how oauth protection mode works
  docs/admin/scim/oauth-protection.md
Labels: area-documentation

#5103 feat: update SG script to conform prod server
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/SuperGluuExternalAuthenticator.py
  jans-linux-setup/jans_setup/static/auth/conf/super_gluu_creds.json
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-feature, comp-jans-linux-setup

#5111 docs(vm-ops): create Managing Key Rotation documentation
  docs/admin/auth-server/crypto/key-generation.md
  docs/admin/vm-ops/managing-key-rotation.md
Labels: area-documentation

#5113 feat(jans-cli-tui): log command line for write operations
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
Labels: comp-jans-cli-tui, kind-feature

#5114 fix(jans-auth-server): Device Flow fails if web session already exists #3388
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/DeviceAuthorizationAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/DeviceAuthorizationRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/DeviceAuthorizationRestWebServiceImpl.java
Labels: kind-bug, comp-jans-auth-server

#5115 docs: write document for subject identifiers
  docs/admin/auth-server/client-management/sector-identifiers.md
  docs/admin/auth-server/openid-features/subject-identifiers.md
Labels: area-documentation

#5118 fix: failed to initialize resteasy proxy from script at server
  jans-core/script/src/main/java/io/jans/service/PythonService.java
  jans-core/script/src/main/java/io/jans/service/custom/script/ExternalTypeCreator.java
Labels: kind-bug, comp-jans-core

#5121 docs(jans-auth): Create ACRouter.md #5120
  docs/admin/recipes/ACRouter.md
Labels: area-documentation

#5122 docs(jans-auth-server): create documentation for logging #4879
  docs/admin/auth-server/logging/README.md
  docs/admin/auth-server/logging/audit-logs.md
  docs/admin/auth-server/logging/custom-logs.md
  docs/admin/auth-server/logging/log-levels.md
  docs/admin/auth-server/logging/log4j2.md
  docs/admin/auth-server/logging/standard-logs.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
Labels: area-documentation, comp-jans-auth-server

#5125 docs(jans-auth) : #3494 adding User Journeys
  mkdocs.yml
Labels: area-documentation

#5127 doc(jans-cli-tui): update documentation for cmd logs
  docs/admin/config-guide/jans-cli/cli-using-command-line-log.md
  docs/admin/config-guide/jans-tui/README.md
  docs/assets/jans-tui-create-user.png
Labels: area-documentation, comp-jans-cli-tui

#5130 fix(jans-cli-tui): userPassword should not be sent in customAttributes
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
Labels: kind-bug, comp-jans-cli-tui

#5124 feat(jans-tarp): migrate tarp from vanilla javascript to react.js and typescript #5123
  demos/jans-tarp/.editorconfig
  demos/jans-tarp/.gitignore
  demos/jans-tarp/.prettierignore
  demos/jans-tarp/.prettierrc
  demos/jans-tarp/LICENSE
  demos/jans-tarp/README.md
  demos/jans-tarp/config/paths.js
  demos/jans-tarp/config/webpack.common.js
  demos/jans-tarp/config/webpack.config.js
  demos/jans-tarp/pack.js
  demos/jans-tarp/package.json
  demos/jans-tarp/postcss.config.js
  demos/jans-tarp/public/icons/JansTarp.png
  demos/jans-tarp/public/icons/icon_32.png
  demos/jans-tarp/public/icons/icon_48.png
  demos/jans-tarp/public/loader.css
  demos/jans-tarp/public/loading.js
  demos/jans-tarp/public/options.html
  demos/jans-tarp/public/popup.html
  demos/jans-tarp/src/assets/tailwind.css
  demos/jans-tarp/src/background.js
  demos/jans-tarp/src/background/background.ts
  demos/jans-tarp/src/contentScript/contentScript.ts
  demos/jans-tarp/src/options/header.tsx
  demos/jans-tarp/src/options/index.tsx
  demos/jans-tarp/src/options/oidcClientDetails.tsx
  demos/jans-tarp/src/options/options.css
  demos/jans-tarp/src/options/options.tsx
  demos/jans-tarp/src/options/registerForm.tsx
  demos/jans-tarp/src/options/userDetails.tsx
  demos/jans-tarp/src/popup.js
  demos/jans-tarp/src/popup/index.tsx
  demos/jans-tarp/src/popup/popup.css
  demos/jans-tarp/src/popup/popup.tsx
  demos/jans-tarp/src/static/icon.png
  demos/jans-tarp/src/static/manifest.json
  demos/jans-tarp/src/tabs/components/About.tsx
  demos/jans-tarp/src/tabs/components/Home.tsx
  demos/jans-tarp/src/tabs/index.tsx
  demos/jans-tarp/src/tabs/tabs.css
  demos/jans-tarp/src/tabs/tabs.tsx
  demos/jans-tarp/tailwind.config.js
  demos/jans-tarp/tsconfig.json
  demos/jans-tarp/webpack.common.js
  demos/jans-tarp/webpack.dev.js
  demos/jans-tarp/webpack.prod.js
Labels: kind-feature

#5135 docs: write external scripts document
  docs/admin/developer/external-libraries.md
Labels: area-documentation
