Repository JanssenProject/jans, pull requests merged in 2024-07, with the labels that each got.

#8824 test(jans-auth-server): fixed StatusListHttpTest failure #8823
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/token/StatusListHttpTest.java
Labels: area-CI, comp-jans-auth-server

#8826 feat(jans-auth-server): stat RDN must have date to be unique under RDBMS #8825
  jans-auth-server/server/src/main/java/io/jans/as/server/service/stat/StatService.java
Labels: comp-jans-auth-server, kind-feature

#8835 fix(jans-cli-tui): scim config disableLoggerTimer
  jans-cli-tui/cli_tui/plugins/030_scim/main.py
Labels: kind-bug, comp-jans-cli-tui

#8837 fix(jans-cli-tui): SSA expire date should be greater than now
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
  jans-cli-tui/cli_tui/wui_components/jans_date_picker.py
Labels: kind-bug, comp-jans-cli-tui

#8832 First draft of new cedar Lock docs.
  docs/admin/lock/README.md
  docs/admin/lock/lock-master.md
  docs/admin/lock/lock_auth_server_config.md
  docs/admin/lock/lock_client_config.md
  docs/admin/lock/lock_installation.md
  docs/admin/lock/lock_opa.md
  docs/admin/lock/lock_pdp_plugin.md
  docs/assets/lock-design-diagram-01.png
  docs/assets/lock-east-west-service-mesh-diagram.png
  docs/assets/lock-flows.png
  docs/assets/lock-north-south-api-gateway-diagram.png
  docs/assets/lock-wam-v-cloud-native-authz.png
Labels: area-documentation

#8834 chore(cloud-native): sync assets to OCI images
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/lock.py
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-casa/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-saml/scripts/configure_kc.py
  docker-jans-saml/scripts/entrypoint.sh
  docker-jans-saml/scripts/healthcheck.py
  docker-jans-saml/templates/jans-couchbase.properties
  docker-jans-saml/templates/jans-ldap.properties
  docker-jans-saml/templates/jans-mysql.properties
  docker-jans-saml/templates/jans-pgsql.properties
  docker-jans-saml/templates/jans-saml/clients.ldif
  docker-jans-saml/templates/jans-saml/keycloak.conf
  docker-jans-saml/templates/jans-saml/keycloak.extra.conf
  docker-jans-saml/templates/jans-spanner.properties
  docker-jans-saml/templates/jans.properties
  docker-jans-saml/templates/salt
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one

#8809 docs(fido2): updates to fido2 config doc
  docs/admin/config-guide/janssen-fido2-configuration.md
  docs/assets/tui-fido2-Static-configuration.png
  docs/assets/tui-fido2-add-party.png
  docs/assets/tui-fido2-dynamic-configuration.png
Labels: area-documentation

#8839 feat(jans-linux-setup): status list must be enabled during tests #8838
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/token/StatusListHttpTest.java
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#8811 docs(jwks): update jwks conf documents
  docs/admin/config-guide/json-web-key-config.md
  docs/assets/tui-json-web-key.png
Labels: area-documentation

#8845 fix(jans-linux-setup): typo
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/templates/jans-saml/jans-saml-config.json
  jans-linux-setup/jans_setup/templates/jans-saml/keycloak.conf
Labels: kind-bug, comp-jans-linux-setup

#8861 ci: fix catching the docs commit
  .github/workflows/docs.yml
  .github/workflows/documenation_check.yml
Labels: area-CI

#8865 feat(jans-keycloak-integration): disable verify_profile required action #8863
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.disable-required-action-verify-profile.json
Labels: kind-feature, comp-jans-linux-setup

#8856 fix(jans-linux-setup): kc deployment updates
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
Labels: kind-bug, comp-jans-linux-setup

#8873 feat(jans-linux-setup): KC disable verify_profile required action
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
Labels: kind-feature, comp-jans-linux-setup

#8871 fix(fido2): remove weld dependency
  jans-fido2/model/pom.xml
Labels: kind-bug, comp-jans-fido2

#8876 feat(cloud-native): disable keycloak verify_profile action
  docker-jans-all-in-one/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/configure_kc.py
Labels: kind-feature

#8880 fix(jans-linux-setup): KC setup - providerId UserStorageProvider
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.userstorage-provider-component.json
Labels: kind-bug, comp-jans-linux-setup

#8882 fix(cloud-native): pre-populate parentId in userstorage config
  docker-jans-all-in-one/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/configure_kc.py
Labels: kind-bug, comp-docker-jans-all-in-one

#8885 fix(jans-linux-setup): disable kc verify_profile
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
Labels: kind-bug, comp-jans-linux-setup

#8862 docs: lock configuration schema declaration
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-lock/lock-master/model/src/main/java/io/jans/lock/model/config/AppConfiguration.java
  jans-lock/lock-master/model/src/main/java/io/jans/lock/model/config/OpaConfiguration.java
Labels: area-documentation, comp-jans-config-api

#8891 fix(docs): autogenerate docs
  charts/janssen-all-in-one/README.md
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/README.md
  charts/janssen/charts/auth-server/README.md
  charts/janssen/charts/casa/README.md
  charts/janssen/charts/cn-istio-ingress/README.md
  charts/janssen/charts/config-api/README.md
  charts/janssen/charts/config/README.md
  charts/janssen/charts/fido2/README.md
  charts/janssen/charts/kc-scheduler/README.md
  charts/janssen/charts/link/README.md
  charts/janssen/charts/nginx-ingress/README.md
  charts/janssen/charts/opendj/README.md
  charts/janssen/charts/persistence/README.md
  charts/janssen/charts/saml/README.md
  charts/janssen/charts/scim/README.md
  docs/admin/install/docker-install/compose.md
  docs/admin/reference/kubernetes/docker-jans-configurator.md
  docs/admin/reference/kubernetes/docker-jans-monolith.md
  docs/admin/reference/kubernetes/helm-chart.md
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, area-documentation, comp-jans-config-api, comp-charts-jans

#8932 docs: config guide restructuring
  docs/admin/auth-server/config.md
  docs/admin/auth-server/openid-features/acrs.md
  docs/admin/config-guide/auth-server-config/agama-project-configuration.md
  docs/admin/config-guide/auth-server-config/attribute-configuration.md
  docs/admin/config-guide/auth-server-config/cache-configuration.md
  docs/admin/config-guide/auth-server-config/couchbase-configuration.md
  docs/admin/config-guide/auth-server-config/default-authentication-method-config.md
  docs/admin/config-guide/auth-server-config/jans-authorization-server-config.md
  docs/admin/config-guide/auth-server-config/json-web-key-config.md
  docs/admin/config-guide/auth-server-config/ldap-configuration.md
  docs/admin/config-guide/auth-server-config/logging-configuration.md
  docs/admin/config-guide/auth-server-config/messaging-config.md
  docs/admin/config-guide/auth-server-config/oauth-scopes-config.md
  docs/admin/config-guide/auth-server-config/oauth-umaresources-config.md
  docs/admin/config-guide/auth-server-config/openid-connect-client-configuration.md
  docs/admin/config-guide/auth-server-config/ssa-config.md
  docs/admin/config-guide/config-tools/jans-cli/README.md
  docs/admin/config-guide/custom-assets-configuration.md
  docs/admin/config-guide/fido2-config/janssen-fido2-configuration.md
  docs/admin/config-guide/link-configuration.md
  docs/admin/config-guide/scim-config/scim-group-config.md
  docs/admin/config-guide/scim-config/user-config.md
  docs/admin/developer/agama/engine-bridge-config.md
  docs/admin/developer/agama/jans-agama-engine.md
  docs/admin/recipes/casa.md
  docs/admin/recipes/device-flow-config.md
  docs/admin/recipes/user-password-validation.md
  mkdocs.yml
Labels: area-documentation, comp-agama

#8936 fix(jans-auth-server): clean up jansDeviceSess entries after expiration #8704
  jans-auth-server/server/src/main/java/io/jans/as/server/service/CleanerTimer.java
Labels: kind-bug, comp-jans-auth-server

#8944 fix(jans-auth):unable to login with super_gluu as acr
  jans-auth-server/server/src/main/webapp/WEB-INF/incl/layout/login-extended-template.xhtml
  jans-auth-server/server/src/main/webapp/js/jquery-ui.min.js
Labels: kind-bug, comp-jans-auth-server

#8517 fix: allow version pass to avoid latest install always
  automation/startjanssendemo.sh
Labels: kind-bug, area-CI

#8953 fix(jans-core): inherit context classloader #8952
  jans-auth-server/server/src/main/resources/quartz.properties
  jans-casa/app/src/main/resources/quartz.properties
  jans-config-api/plugins/kc-saml-plugin/src/main/resources/quartz.properties
  jans-config-api/server/src/main/resources/quartz.properties
  jans-core/service/src/main/java/io/jans/service/cdi/async/AsynchronousInterceptor.java
  jans-fido2/server/src/main/resources/quartz.properties
  jans-keycloak-link/server/src/main/resources/quartz.properties
  jans-link/server/src/main/resources/quartz.properties
  jans-lock/lock-master/server/src/main/resources/quartz.properties
  jans-scim/server/src/main/resources/quartz.properties
Labels: kind-bug, comp-jans-auth-server, comp-jans-config-api, comp-jans-core, comp-jans-fido2, comp-jans-scim

#8956 chore(docs): revise content for OAuth scopes configuration
  docs/admin/config-guide/auth-server-config/oauth-scopes-config.md
  docs/assets/tui-scope-data.png
  docs/assets/tui-scope-screen.png
Labels: kind-dependencies, area-documentation

#8950 chore: optimization of db and rest calls on App start #8947
  demos/jans-chip/android/README.md
  demos/jans-chip/android/app/src/main/java/io/jans/chip/MainActivity.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/PasswordTextField.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/model/OIDCClient.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/model/OPConfiguration.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/model/UserInfoResponse.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/model/appIntegrity/AppIntegrityResponse.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/model/fido/config/FidoConfiguration.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/repository/DCRRepository.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/repository/FidoConfigurationRepository.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/repository/LoginResponseRepository.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/repository/OPConfigurationRepository.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/repository/PlayIntegrityRepository.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/retrofit/APIInterface.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/theme/Color.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/theme/Theme.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/theme/Type.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/ui/screens/dashboard/DashboardScreen.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/ui/screens/unauthenticated/login/LoginScreen.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/ui/screens/unauthenticated/login/LoginViewModel.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/ui/screens/unauthenticated/registration/RegistrationScreen.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/ui/theme/Theme.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/utils/biometric/BiometricHelper.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/utils/biometric/Constants.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/utils/biometric/CryptoManager.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/utils/biometric/EnableBiometricDialog.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/viewmodel/MainViewModel.kt
  demos/jans-chip/android/app/src/main/java/io/jans/chip/viewmodel/state/MainState.kt
  demos/jans-chip/android/docs/authentication.png
  demos/jans-chip/android/docs/enrolment.png
  demos/jans-chip/android/webauthn/src/main/java/io/jans/webauthn/Authenticator.java
  demos/jans-chip/android/webauthn/src/main/java/io/jans/webauthn/util/SelectCredentialDialogFragment.java
Labels: kind-dependencies, area-documentation

#8958 Issue 8744
  jans-auth-server/server/pom.xml
  jans-bom/pom.xml
  jans-core/util/src/main/java/io/jans/util/exception/MissingResourceException.java
  jans-linux-setup/jans_setup/templates/apache/https_jans.conf
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
  jans-lock/lock-master/model/src/main/java/io/jans/lock/model/config/AppConfiguration.java
  jans-lock/lock-master/server/pom.xml
  jans-lock/lock-master/service/pom.xml
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/OpenIdService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ServiceInitializer.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/TokenStsatusListService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/config/ConfigurationService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/event/PolicyDownloadEvent.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/event/TokenStatusListReloadEvent.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/policy/PolicyDownloadService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/util/ServerUtil.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/ConfigurationRestWebService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/WellKnownConfiguration.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/audit/AuditRestWebServiceImpl.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/config/ConfigRestWebServiceImpl.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/sse/LockSseBroadcaster.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/util/ServerUtil.java
Labels: comp-jans-auth-server, comp-jans-core, comp-jans-bom, comp-jans-linux-setup

#8969 ci(codeowners): update CODEOWNERS
  .github/CODEOWNERS
Labels: area-CI

#8973 docs(config): add instructions for messaging configuration
  docs/admin/config-guide/auth-server-config/messaging-config.md
  docs/assets/tui-message-screen.png
Labels: area-documentation

#8924 feat(jans-pycloudlib): add configuration schema
  jans-pycloudlib/jans/pycloudlib/config/consul_config.py
  jans-pycloudlib/jans/pycloudlib/schema/__init__.py
  jans-pycloudlib/setup.py
  jans-pycloudlib/tests/test_schema.py
Labels: kind-feature, comp-jans-pycloudlib

#8977 fix(jans-keycloak-integration): scheduler throws error on metadata files referencing xml namespace #8976
  jans-core/saml/pom.xml
  jans-core/saml/src/main/java/io/jans/saml/AuthRequest.java
  jans-core/saml/src/main/java/io/jans/saml/Response.java
  jans-core/saml/src/main/java/io/jans/saml/SamlConfiguration.java
  jans-core/saml/src/main/java/io/jans/saml/SimpleNamespaceContext.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/EntityIDHandler.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/SAMLMetadataParser.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/util/SAMLMetadataNamespaceContext.java
  jans-keycloak-integration/pom.xml
Labels: kind-bug, comp-jans-core

#8974 fix(jans-config-api): security bugfixes #8963
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/configuration/SamlAppInitializer.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/IdpResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/IdentityProviderService.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/IdpService.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/SamlService.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/timer/MetadataValidationTimer.java
Labels: kind-bug, comp-jans-config-api

#8982 fix(jans-linux-setup): kc-scheduler.service upon uninstall
  jans-linux-setup/jans_setup/install.py
Labels: kind-bug, comp-jans-linux-setup

#8994 fix(jans-linux-setup): install with setup.properties
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#8996 docs: more Cedarling overview docs
  docs/admin/lock/README.md
  docs/admin/lock/cedarling.md
  docs/admin/lock/lock-master.md
  docs/assets/lock-cedarling-diagram-1.jpg
  docs/assets/lock-cedarling-diagram-2.jpg
  docs/assets/lock-cedarling-diagram-3.jpg
  docs/assets/lock-cedarling-diagram-4.jpg
  mkdocs.yml
Labels: area-documentation

#8991 fix(jans-linux-setup): remove/rename old variable/file names
  jans-linux-setup/docs/README.md
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/schema/jans_schema_mappings.json
  jans-linux-setup/jans_setup/setup.properties.sample
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
  jans-linux-setup/jans_setup/setup_app/installers/httpd.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_casa.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_keycloak_link.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_link.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/setup_app/installers/jre.py
  jans-linux-setup/jans_setup/setup_app/installers/jython.py
  jans-linux-setup/jans_setup/setup_app/installers/oxd.py
  jans-linux-setup/jans_setup/setup_app/installers/scim.py
  jans-linux-setup/jans_setup/setup_app/messages.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/crypto64.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/static/oxd/oxd-server.default
  jans-linux-setup/jans_setup/static/scripts/renew_certs.py
  jans-linux-setup/jans_setup/templates/jans-auth/configuration.ldif
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/test/docs/jans-auth-config-update.md
  jans-linux-setup/jans_setup/templates/test/jans-auth/client/config-jans-auth-test-data.properties
  jans-linux-setup/jans_setup/templates/test/jans-auth/data/jans-auth-test-data-user.ldif
  jans-linux-setup/jans_setup/templates/test/jans-auth/data/jans-auth-test-data.ldif
  jans-linux-setup/jans_setup/templates/test/jans-auth/schema/102-jans-auth_test.ldif
  jans-linux-setup/jans_setup/templates/test/jans-auth/schema/jans-auth_index.txt
  jans-linux-setup/jans_setup/templates/test/jans-auth/server/config-jans-auth-test-couchbase.properties.nrnd
  jans-linux-setup/jans_setup/templates/test/jans-auth/server/config-jans-auth-test-data.properties
  jans-linux-setup/jans_setup/templates/test/jans-auth/server/config-jans-auth-test-ldap.properties.nrnd
  jans-linux-setup/jans_setup/templates/test/jans-auth/server/config-jans-auth-test-spanner.properties.nrnd
  jans-linux-setup/jans_setup/templates/test/jans-auth/server/config-jans-auth-test-sql.properties.nrnd
  jans-linux-setup/jans_setup/templates/test/jans-auth/server/config-jans-auth.properties
  jans-linux-setup/jans_setup/tests/sample1.properties
  jans-linux-setup/jans_setup/tests/sample2.properties
  jans-linux-setup/jans_setup/tests/sample3.properties
  jans-linux-setup/jans_setup/tests/test_functions.py
  jans-linux-setup/jans_setup/tests/test_setup.py
  jans-linux-setup/tools/key_regeneration.py
Labels: kind-bug, area-documentation, comp-jans-linux-setup

#9002 doc(jans-auth-server): added global token revocation page to mkdocs
  mkdocs.yml
Labels: comp-jans-auth-server

#9016 Mike cedarling docs 01
  docs/admin/lock/cedarling.md
  docs/assets/lock-cedarling-diagram-3.jpg
Labels: area-documentation

#9003 feat(jans-linux-setup): overwrite minimum mem allocation for couchbase buckets
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/data/couchbase_buckets.json
  jans-linux-setup/jans_setup/setup_app/installers/couchbase.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: area-documentation, kind-feature, comp-jans-linux-setup

#9017 docs(lock): add missing files with placeholder content
  docs/admin/lock/lock-auth-server-config.md
  docs/admin/lock/lock-client-config.md
  docs/admin/lock/lock-installation.md
  docs/admin/lock/lock-opa.md
  docs/admin/lock/lock-pdp-plugin.md
  mkdocs.yml
Labels: area-documentation

#8960 feat(cloud-native): modify images to conform to configuration schema
  charts/janssen-all-in-one/templates/_helpers.tpl
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen-all-in-one/templates/secret.yaml
  charts/janssen/charts/config/templates/_helpers.tpl
  charts/janssen/charts/config/templates/load-init-config.yml
  charts/janssen/charts/config/templates/secrets.yaml
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/README.md
  docker-jans-configurator/requirements.txt
  docker-jans-configurator/scripts/bootstrap.py
  docker-jans-configurator/scripts/parameter.py
  docker-jans-fido2/Dockerfile
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/utils.py
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
  docs/admin/reference/kubernetes/docker-jans-configurator.md
Labels: comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, kind-feature, comp-docker-jans-link

#9027 fix(cloud-native): remove oxauth variable naming inside templates
  docker-jans-all-in-one/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-persistence-loader/scripts/utils.py
Labels: kind-bug, comp-docker-jans-persistence-loader, comp-docker-jans-all-in-one

#9033 fix(charts): pass correct indentation
  charts/janssen/charts/auth-server/templates/deployment.yml
  charts/janssen/charts/fido2/templates/deployment.yml
  charts/janssen/charts/scim/templates/deployment.yml
Labels: kind-bug, comp-charts-jans

#9029 feat(cloud-native): import SSL cert of internal proxy service
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/plugins.py
  docs/admin/reference/kubernetes/docker-jans-config-api.md
Labels: comp-docker-jans-config-api, area-documentation, kind-feature

#9030 docs: Cedarling Overview edits for readability.
  docs/admin/lock/cedarling.md
Labels: area-documentation

#9020 docs(jans-lock): add default schema
  jans-lock/schema/cedarling_core_schema.json
  jans-lock/schema/cedarling_core_schema.schema
Labels: area-documentation

#9041 fix(jans-linux-setup): client kc_saml_openid is trusted
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/templates/jans-saml/clients.json
Labels: kind-bug, comp-jans-linux-setup

#9024 feat(jans-auth-server): introduce client authentication custom script
  docs/admin/auth-server/endpoints/token.md
  docs/admin/developer/scripts/client-authn.md
  docs/script-catalog/client_authn/ClientAuthn.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/AuthenticationFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalClientAuthnService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/ExternalClientAuthnContext.java
  jans-core/script/src/main/java/io/jans/model/custom/script/CustomScriptType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/client/ClientAuthnType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/client/DummyClientAuthnType.java
  mkdocs.yml
Labels: comp-jans-auth-server, comp-jans-core, kind-feature

#9048 fix(jans-linux-setup): remove saml_scim_client
  jans-linux-setup/jans_setup/templates/jans-saml/clients.json
Labels: kind-bug, comp-jans-linux-setup

#9050 fix(jans-cli-tui): asset upload
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui

#9052 fix(jans-cli-tui): asset creation date
  jans-cli-tui/cli_tui/plugins/130_assets/main.py
Labels: kind-bug, comp-jans-cli-tui

#9044 fix(docker-jans-saml): set kc_saml_openid client as trusted client
  docker-jans-saml/templates/jans-saml/clients.ldif
Labels: kind-bug

#9055 fix(jans-linux-setup): set size of acr in jansToken is 1024
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-bug, comp-jans-linux-setup

#9059 fix(jans-linux-setup): auto convert varchar to string for spanner
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
Labels: kind-bug, comp-jans-linux-setup

#9062 fix(jans-lock): fix lock startup in jans-auth service mode
  jans-lock/lock-master/server/src/main/java/io/jans/lock/service/net/HttpService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/util/LockUtil.java
Labels: kind-bug

#9066 fix(jans-linux-setup): remove trailing whitespace on eventType column
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: kind-bug, comp-jans-linux-setup

#9067 docs(config): custom assets configuration via CLI and TUI
  docs/admin/config-guide/custom-assets-configuration.md
  docs/assets/tui-asset-data.png
  docs/assets/tui-asset-screen.png
Labels: area-documentation

#9070 fix(jans-linux-setup): apache config for jans-lock wellknown endpoint
  jans-linux-setup/jans_setup/templates/apache/https_jans.conf
Labels: kind-bug, comp-jans-linux-setup
