Repository JanssenProject/jans, pull requests merged in 2024-11, with the labels that each got.

#10010 feat(jans-linux-setup): status script optionally accepts service
  jans-linux-setup/jans_setup/static/scripts/jans_services_status.py
Labels: kind-enhancement, kind-feature, comp-jans-linux-setup

#10006 human-readable test fixtures
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/src/common/cedar_schema.rs
  jans-cedarling/cedarling/src/common/mod.rs
  jans-cedarling/cedarling/src/common/policy_store.rs
  jans-cedarling/test_files/policy-store_blobby.json
  jans-cedarling/test_files/policy-store_readable.json
  jans-cedarling/test_files/policy-store_readable.yaml
Labels: kind-feature, comp-jans-cedarling

#10009 feat(jans-pycloudlib): detect JSON data format
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
Labels: kind-feature, comp-jans-pycloudlib

#10022 feat: update Readme
  demos/jans-tarp/README.md
Labels: area-documentation, kind-feature

#10020 fix(jans-linux-setup): increase setup time-out
  jans-linux-setup/jans_setup/setup_app/utils/progress.py
Labels: kind-bug, comp-jans-linux-setup

#10034 feat(jans-auth-server): used single-valued attribute for client id instead of multi-valued where it is needed (e.g. jansClntAuthz ) #10033
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/ClientAuthorization.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/PairwiseIdentifier.java
  jans-casa/plugins/client-authorizations/src/main/java/io/jans/casa/plugins/consent/model/ClientAuthorization.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup, comp-jans-casa

#9936 feat(cloud-native): add support for legacy and simple JSON data
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-auth-server/templates/jans-mysql.properties
  docker-jans-casa/Dockerfile
  docker-jans-casa/scripts/bootstrap.py
  docker-jans-casa/scripts/upgrade.py
  docker-jans-casa/templates/jans-mysql.properties
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-config-api/templates/jans-mysql.properties
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-fido2/templates/jans-mysql.properties
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/scripts/bootstrap.py
  docker-jans-keycloak-link/templates/jans-mysql.properties
  docker-jans-link/Dockerfile
  docker-jans-link/scripts/bootstrap.py
  docker-jans-link/templates/jans-mysql.properties
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-saml/templates/jans-mysql.properties
  docker-jans-scim/Dockerfile
  docker-jans-scim/scripts/bootstrap.py
  docker-jans-scim/scripts/upgrade.py
  docker-jans-scim/templates/jans-mysql.properties
Labels: comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, kind-feature, comp-charts-jans, comp-docker-jans-monolith, comp-docker-jans-link, comp-docker-jans-all-in-one, comp-docker-jans-casa, comp-docker-jans-kc-scheduler, comp-docker-jans-saml

#10016 feat(jans-cedarling): add build `Role` entity
  docs/cedarling/cedarling-authz.md
  docs/cedarling/cedarling-policy-store.md
  jans-cedarling/bindings/cedarling_python/Cargo.toml
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/example_files/policy-store.json
  jans-cedarling/bindings/cedarling_python/example_files/policy-store_human_readable/cedar.schema
  jans-cedarling/bindings/cedarling_python/src/authorize/authorize_result.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/errors.rs
  jans-cedarling/bindings/cedarling_python/tests/test_authorize.py
  jans-cedarling/bindings/cedarling_python/tests/test_policy_store.py
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/src/authz/authorize_result.rs
  jans-cedarling/cedarling/src/authz/entities/create.rs
  jans-cedarling/cedarling/src/authz/entities/mod.rs
  jans-cedarling/cedarling/src/authz/entities/test_create.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/authz/token_data.rs
  jans-cedarling/cedarling/src/bootstrap_config/policy_store_config.rs
  jans-cedarling/cedarling/src/common/cedar_schema.rs
  jans-cedarling/cedarling/src/common/cedar_schema/cedar_json.rs
  jans-cedarling/cedarling/src/common/cedar_schema/test_files/test_data_cedar.json
  jans-cedarling/cedarling/src/common/cedar_schema/test_files/test_data_cedar.schema
  jans-cedarling/cedarling/src/common/policy_store.rs
  jans-cedarling/cedarling/src/common/policy_store/test.rs
  jans-cedarling/cedarling/src/init/policy_store.rs
  jans-cedarling/cedarling/src/init/service_config.rs
  jans-cedarling/cedarling/src/init/service_factory.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/key_service.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/key_service/openid_config.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/open_id_storage.rs
  jans-cedarling/cedarling/src/jwt/jwt_service_config.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/access_token.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/id_token.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/key_service.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/userinfo_token.rs
  jans-cedarling/cedarling/src/jwt/test/without_validation.rs
  jans-cedarling/cedarling/src/log/log_entry.rs
  jans-cedarling/cedarling/src/log/memory_logger.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_without_check_jwt.rs
  jans-cedarling/cedarling/src/tests/mod.rs
  jans-cedarling/cedarling/src/tests/success_test_json.rs
  jans-cedarling/cedarling/src/tests/utils.rs
  jans-cedarling/test_files/policy-store_blobby.json
  jans-cedarling/test_files/policy-store_ok.json
  jans-cedarling/test_files/policy-store_ok/cedar.schema
  jans-cedarling/test_files/policy-store_ok/schema.json
  jans-cedarling/test_files/policy-store_ok_2.yaml
  jans-cedarling/test_files/policy-store_readable.json
  jans-cedarling/test_files/policy-store_readable.yaml
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#10014 feat(config-api): new endpoint for jans service status and file type script enhancement
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/health/ApiHealthCheck.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/TokenService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/status/StatusCheckerTimer.java
  jans-config-api/server/src/main/resources/example/health/server-stat.json
  jans-config-api/server/src/main/resources/example/health/service-status.json
  jans-config-api/shared/src/main/java/io/jans/configapi/core/util/DataUtil.java
Labels: comp-jans-config-api, kind-feature, comp-docs

#10049 chore(jans-pycloudlib)!: remove spanner support from pycloudlib
  jans-pycloudlib/docs/api/persistence/spanner.md
  jans-pycloudlib/docs/api/wait.md
  jans-pycloudlib/jans/pycloudlib/lock/__init__.py
  jans-pycloudlib/jans/pycloudlib/lock/spanner_lock.py
  jans-pycloudlib/jans/pycloudlib/persistence/__init__.py
  jans-pycloudlib/jans/pycloudlib/persistence/spanner.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
  jans-pycloudlib/jans/pycloudlib/persistence/utils.py
  jans-pycloudlib/jans/pycloudlib/validators.py
  jans-pycloudlib/jans/pycloudlib/wait.py
  jans-pycloudlib/mkdocs.yml
  jans-pycloudlib/setup.py
  jans-pycloudlib/tests/conftest.py
  jans-pycloudlib/tests/test_persistence.py
  jans-pycloudlib/tests/test_validators.py
  jans-pycloudlib/tests/test_wait.py
Labels: kind-dependencies, area-documentation, comp-jans-pycloudlib, comp-docs

#10041 chore: upgrade javascript libraries to newer versions in HTML files
  jans-casa/app/src/main/resources/css-component-rules.properties
  jans-casa/app/src/main/resources/labels/admin.properties
  jans-casa/app/src/main/webapp/admin.zul
  jans-casa/app/src/main/webapp/admin/plugins.zul
  jans-casa/app/src/main/webapp/back-home.zul
  jans-casa/app/src/main/webapp/header.zul
  jans-casa/app/src/main/webapp/scripts/bootstrap.min.js
  jans-casa/app/src/main/webapp/scripts/popper-1.16.min.js
  jans-casa/app/src/main/webapp/styles/bootstrap.min.css
Labels: kind-dependencies, comp-jans-casa

#9973 feat(charts): add pod level annotations and customizable command
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/cronjobs.yaml
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/README.md
  charts/janssen/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/janssen/charts/auth-server-key-rotation/values.yaml
  charts/janssen/charts/auth-server/README.md
  charts/janssen/charts/auth-server/templates/deployment.yml
  charts/janssen/charts/auth-server/values.yaml
  charts/janssen/charts/casa/README.md
  charts/janssen/charts/casa/templates/deployment.yaml
  charts/janssen/charts/casa/values.yaml
  charts/janssen/charts/config-api/README.md
  charts/janssen/charts/config-api/templates/deployment.yaml
  charts/janssen/charts/config-api/values.yaml
  charts/janssen/charts/config/README.md
  charts/janssen/charts/config/templates/load-init-config.yml
  charts/janssen/charts/config/values.yaml
  charts/janssen/charts/fido2/README.md
  charts/janssen/charts/fido2/templates/deployment.yml
  charts/janssen/charts/fido2/values.yaml
  charts/janssen/charts/kc-scheduler/README.md
  charts/janssen/charts/kc-scheduler/templates/cronjobs.yaml
  charts/janssen/charts/kc-scheduler/values.yaml
  charts/janssen/charts/link/README.md
  charts/janssen/charts/link/templates/deployment.yaml
  charts/janssen/charts/link/values.yaml
  charts/janssen/charts/persistence/README.md
  charts/janssen/charts/persistence/templates/jobs.yml
  charts/janssen/charts/persistence/values.yaml
  charts/janssen/charts/saml/README.md
  charts/janssen/charts/saml/templates/deployment.yaml
  charts/janssen/charts/saml/values.yaml
  charts/janssen/charts/scim/README.md
  charts/janssen/charts/scim/templates/deployment.yml
  charts/janssen/charts/scim/values.yaml
  charts/janssen/values.yaml
Labels: area-documentation, kind-feature, comp-charts-jans

#10057 chore(docs): remove spanner related documentation
  docs/janssen-server/install/setup.md
  docs/janssen-server/install/vm-install/ubuntu.md
  docs/janssen-server/reference/database/README.md
  docs/janssen-server/reference/database/mysql-config.md
  docs/janssen-server/reference/database/spanner-config.md
  docs/janssen-server/reference/database/spanner-ops.md
  docs/janssen-server/reference/database/spanner-schema.md
  mkdocs.yml
Labels: kind-dependencies, area-documentation, comp-jans-pycloudlib, comp-docs

#10068 chore(jans-linux-setup) remove spanner db
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/static.py
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/spanner_rest_client.py
  jans-linux-setup/jans_setup/static/rdbm/ldap_sql_data_type_mapping.json
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
  jans-linux-setup/jans_setup/static/rdbm/sub_tables.json
  jans-linux-setup/jans_setup/templates/jans-spanner.properties
  jans-linux-setup/jans_setup/templates/test/jans-auth/server/config-jans-auth-test-spanner.properties.nrnd
  jans-linux-setup/jans_setup/tests/analyzer.py
Labels: kind-enhancement, kind-dependencies, comp-jans-linux-setup

#10071 chore(charts)!: remove spanner support from Helm charts
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/configmap.yaml
  charts/janssen-all-in-one/templates/secret.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/config/README.md
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/charts/config/values.yaml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
Labels: kind-dependencies, area-documentation, comp-charts-jans

#10075 fix(config-api): date filter fix
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/shared/src/main/java/io/jans/configapi/core/util/DataUtil.java
Labels: kind-bug, comp-jans-config-api, comp-docs

#10076 chore(docs): docs remove spanner refs
  docs/janssen-server/install/setup.md
  docs/janssen-server/install/vm-install/ubuntu.md
  docs/janssen-server/reference/database/README.md
  docs/janssen-server/reference/database/mysql-config.md
  docs/janssen-server/reference/database/spanner-config.md
  docs/janssen-server/reference/database/spanner-ops.md
  docs/janssen-server/reference/database/spanner-schema.md
  mkdocs.yml
Labels: kind-dependencies, area-documentation, comp-docs

#9982 feat(jans-cedarling): improve error handling for JWKS responses
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/tokens.json
  jans-cedarling/cedarling/src/init/service_config.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/error.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/key_service.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/key_service/error.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/key_service/openid_config.rs
  jans-cedarling/cedarling/src/jwt/jwt_service_config.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/jwt/test/utils.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/access_token.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/id_token.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/key_service.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/userinfo_token.rs
  jans-cedarling/cedarling/src/jwt/test/without_validation.rs
Labels: kind-feature, comp-jans-cedarling

#10087 fix(jans-bom): define plugins in base parent project
  jans-bom/pom.xml
  jans-link/pom.xml
  jans-link/server/pom.xml
Labels: kind-bug, comp-jans-bom, comp-jans-link

#10096 fix(jans-orm): throw exception if table in DB is not exists
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlFilterConverter.java
Labels: kind-bug, comp-jans-orm

#10084 fix(jans-casa): primary button not changing color when customized via custom branding plugin
  jans-casa/app/src/main/resources/css-component-rules.properties
Labels: kind-bug, comp-jans-casa

#10107 fix(jans-cli-tui): remove filePath when putting asset
  jans-cli-tui/cli_tui/plugins/130_assets/main.py
Labels: kind-bug, comp-jans-cli-tui

#10110 fix(jans-lock): fix broken link in lock docs
  docs/janssen-server/lock/lock-server.md
Labels: kind-bug, area-documentation, comp-jans-lock, comp-docs

#10115 feat(jans-cedarling): add env variable for python
  jans-cedarling/bindings/cedarling_python/README.md
  jans-cedarling/bindings/cedarling_python/example.py
Labels: area-documentation, kind-feature, comp-jans-cedarling

#10108 chore: upgrade javascript libraries to newer versions in HTML files
  jans-auth-server/server/src/main/webapp/js/bootstrap.bundle.min.js
  jans-auth-server/server/src/main/webapp/js/bootstrap.min.js
  jans-auth-server/server/src/main/webapp/js/popper.min.js
  jans-auth-server/server/src/main/webapp/stylesheet/bootstrap-grid.min.css
  jans-auth-server/server/src/main/webapp/stylesheet/bootstrap-reboot.min.css
  jans-auth-server/server/src/main/webapp/stylesheet/bootstrap.css
  jans-auth-server/server/src/main/webapp/stylesheet/bootstrap.min.css
Labels: kind-dependencies, comp-jans-auth-server

#10112 fix: remove unnecessary mount for k8s setup
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/configmap.yaml
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen-all-in-one/templates/secret.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/README.md
  charts/janssen/charts/auth-server/README.md
  charts/janssen/charts/casa/README.md
  charts/janssen/charts/cn-istio-ingress/README.md
  charts/janssen/charts/config-api/README.md
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/charts/fido2/README.md
  charts/janssen/charts/kc-scheduler/README.md
  charts/janssen/charts/link/README.md
  charts/janssen/charts/nginx-ingress/README.md
  charts/janssen/charts/persistence/README.md
  charts/janssen/charts/saml/README.md
  charts/janssen/charts/saml/templates/deployment.yaml
  charts/janssen/charts/scim/README.md
  charts/janssen/values.yaml
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-saml/scripts/configure_kc.py
  docker-jans-saml/scripts/utils.py
  docs/janssen-server/reference/kubernetes/helm-chart.md
Labels: kind-bug, area-documentation, comp-charts-jans, comp-docs

#10125 docs(update): custom scripts docs update
  docs/janssen-server/developer/scripts/README.md
Labels: area-documentation, comp-docs

#10129 chore(jans-pycloudlib)!: remove couchbase support from pycloudlib
  jans-pycloudlib/docs/api/persistence/couchbase.md
  jans-pycloudlib/docs/api/wait.md
  jans-pycloudlib/jans/pycloudlib/lock/__init__.py
  jans-pycloudlib/jans/pycloudlib/lock/couchbase_lock.py
  jans-pycloudlib/jans/pycloudlib/persistence/__init__.py
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
  jans-pycloudlib/jans/pycloudlib/persistence/hybrid.py
  jans-pycloudlib/jans/pycloudlib/persistence/utils.py
  jans-pycloudlib/jans/pycloudlib/schema/__init__.py
  jans-pycloudlib/jans/pycloudlib/validators.py
  jans-pycloudlib/jans/pycloudlib/wait.py
  jans-pycloudlib/mkdocs.yml
  jans-pycloudlib/tests/conftest.py
  jans-pycloudlib/tests/test_persistence.py
  jans-pycloudlib/tests/test_schema.py
  jans-pycloudlib/tests/test_validators.py
  jans-pycloudlib/tests/test_wait.py
Labels: kind-dependencies, area-documentation, comp-jans-pycloudlib, comp-docs

#10123 fix(docs): fix docs link
  docs/janssen-server/config-guide/auth-server-config/authentication-method-config.md
  docs/janssen-server/recipes/casa.md
  docs/janssen-server/scim/README.md
  docs/janssen-server/usermgmt/usermgmt-scim.md
  docs/script-catalog/select_account/select-account.md
Labels: kind-bug, area-documentation, comp-docs

#10133 chore(jans-linux-setup): drop couchbase support
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/data/couchbase_buckets.json
  jans-linux-setup/jans_setup/setup_app/installers/couchbase.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/messages.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/static.py
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
  jans-linux-setup/jans_setup/setup_app/utils/cbm.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/setup_utils.py
  jans-linux-setup/jans_setup/static/couchbase/couchbase_attribute_resolver.xml
  jans-linux-setup/jans_setup/static/couchbase/couchbase_bean.xml
  jans-linux-setup/jans_setup/static/couchbase/disable-thp.init.d
  jans-linux-setup/jans_setup/static/couchbase/get_map.py
  jans-linux-setup/jans_setup/static/couchbase/index.json
  jans-linux-setup/jans_setup/static/couchbase/maps.json
  jans-linux-setup/jans_setup/templates/datasource.properties
  jans-linux-setup/jans_setup/templates/jans-auth/role-scope-mappings.json
  jans-linux-setup/jans_setup/templates/jans-couchbase.properties
  jans-linux-setup/jans_setup/templates/test/docs/jans-auth-config-update.md
  jans-linux-setup/jans_setup/templates/test/jans-auth/server/config-jans-auth-test-couchbase.properties.nrnd
Labels: kind-dependencies, area-documentation, comp-jans-linux-setup, comp-docs

#10140 chore(jans-cedarling): remove ipaddr
  jans-cedarling/schema/cedarling_core.cedarschema
  jans-cedarling/schema/cedarling_core.json
Labels: kind-dependencies, comp-jans-cedarling

#10082 ci: move jenkins operations to GH
  .github/maven-settings.xml
  .github/workflows/build-docker-image.yml
  .github/workflows/build-nightly-build.yml
  .github/workflows/build-test.yml
  .github/workflows/build-wars.yml
  .github/workflows/documenation_check.yml
  .github/workflows/jans_pycloud_build_package.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-flak8.yml
  .github/workflows/ops-docs.yml
  .github/workflows/ops-label-pr-issues.yml
  .github/workflows/ops-pr-ref-issue.yml
  .github/workflows/ops-sync-tf.yml
  .github/workflows/release-backport.yml
  .github/workflows/sanitary-github-cache.yml
  .github/workflows/sanitary-workflow-runs.yml
  .github/workflows/scan-codeql.yml
  .github/workflows/scan-dependency.yml
  .github/workflows/scan-sonar.yml
  .github/workflows/security-scorecard.yml
  .github/workflows/test-cedarling.yml
  .github/workflows/test-jans-pycloudlib.yml
  .github/workflows/test-microk8s.yml
  .github/workflows/test_docker_linux_installer.yml
  agama/pom.xml
  automation/startjanssenmonolithdemo.sh
  docker-jans-monolith/scripts/entrypoint.sh
  jans-auth-server/agama/engine/pom.xml
  jans-auth-server/agama/inboundID/pom.xml
  jans-auth-server/pom.xml
  jans-bom/pom.xml
  jans-casa/app-fips/pom.xml
  jans-casa/app/pom.xml
  jans-casa/plugins/acct-linking/pom.xml
  jans-casa/plugins/bioid/pom.xml
  jans-casa/plugins/client-authorizations/pom.xml
  jans-casa/plugins/custom-branding/pom.xml
  jans-casa/plugins/email_2fa_core/pom.xml
  jans-casa/plugins/strong-authn-settings/pom.xml
  jans-casa/pom.xml
  jans-config-api/pom.xml
  jans-core/pom.xml
  jans-fido2/pom.xml
  jans-keycloak-integration/job-scheduler/pom.xml
  jans-keycloak-integration/pom.xml
  jans-keycloak-link/pom.xml
  jans-link/pom.xml
  jans-link/server-fips/pom.xml
  jans-link/server/pom.xml
  jans-link/service/pom.xml
  jans-lock/lock-server/pom.xml
  jans-orm/pom.xml
  jans-scim/pom.xml
Labels: area-CI, comp-jans-auth-server, comp-jans-config-api, comp-jans-core, comp-jans-fido2, comp-jans-orm, comp-jans-scim, comp-jans-bom, comp-agama, comp-docker-jans-monolith, comp-jans-lock, comp-jans-casa, comp-jans-keycloak-link, comp-jans-link

#10126 feat(jans-cedarling): Implement check authorization principals based on the schema for action
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/src/authorize/authorize_result.rs
  jans-cedarling/cedarling/src/authz/authorize_result.rs
  jans-cedarling/cedarling/src/authz/entities/create.rs
  jans-cedarling/cedarling/src/authz/entities/meta.rs
  jans-cedarling/cedarling/src/authz/entities/mod.rs
  jans-cedarling/cedarling/src/authz/entities/test_create.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/authz/request.rs
  jans-cedarling/cedarling/src/common/cedar_schema/cedar_json.rs
  jans-cedarling/cedarling/src/common/cedar_schema/cedar_json/entity_types.rs
  jans-cedarling/cedarling/src/common/cedar_schema/mod.rs
  jans-cedarling/cedarling/src/common/cedar_schema/test_files/test_data_cedar.json
  jans-cedarling/cedarling/src/common/cedar_schema/test_files/test_data_cedar.schema
  jans-cedarling/cedarling/src/common/policy_store.rs
  jans-cedarling/cedarling/src/common/policy_store/test.rs
  jans-cedarling/cedarling/src/log/log_entry.rs
  jans-cedarling/cedarling/src/log/memory_logger.rs
  jans-cedarling/cedarling/src/tests/agama_policy_test.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_different_principals.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_namespace_jans2.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_without_check_jwt.rs
  jans-cedarling/cedarling/src/tests/mod.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
  jans-cedarling/cedarling/src/tests/utils/mod.rs
  jans-cedarling/cedarling/src/tests/utils/token_claims.rs
  jans-cedarling/test_files/policy-store_ok.yaml
  jans-cedarling/test_files/policy-store_ok_2.yaml
  jans-cedarling/test_files/policy-store_ok_namespace_Jans2.yaml
  jans-cedarling/test_files/policy-store_readable.json
  jans-cedarling/test_files/policy-store_readable.yaml
Labels: kind-feature, comp-jans-cedarling

#10141 feat(jans-cedarling): update Trusted Issuers schema in the policy store
  docs/cedarling/cedarling-policy-store.md
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/example_files/policy-store.json
  jans-cedarling/cedarling/src/authz/entities/mod.rs
  jans-cedarling/cedarling/src/common/policy_store.rs
  jans-cedarling/cedarling/src/common/policy_store/claim_mapping.rs
  jans-cedarling/cedarling/src/common/policy_store/test.rs
  jans-cedarling/cedarling/src/common/policy_store/token_entity_metadata.rs
  jans-cedarling/cedarling/src/init/service_config.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/access_token.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/id_token.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/key_service.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/userinfo_token.rs
  jans-cedarling/cedarling/src/tests/agama_policy_test.rs
  jans-cedarling/test_files/agama-store.yaml
  jans-cedarling/test_files/policy-store_blobby.json
  jans-cedarling/test_files/policy-store_policy_err_broken_utf8.json
  jans-cedarling/test_files/policy-store_schema_err_base64.json
  jans-cedarling/test_files/policy-store_schema_err_cedar_mistake.yaml
  jans-cedarling/test_files/policy-store_with_trusted_issuers_ok.yaml
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#10154 fix(jans-bom): update libs
  jans-bom/pom.xml
Labels: kind-bug, comp-jans-bom

#10156 fix(config-api): adding missing scope in spec and udated example of search field
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/IdpResource.java
  jans-config-api/profiles/default/config-api-test.properties
  jans-config-api/profiles/jans-ui.jans.io/test.properties
  jans-config-api/profiles/jenkins-config-api.gluu.org/test.properties
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/health/ApiHealthCheck.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/SessionResource.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
Labels: kind-bug, comp-jans-config-api, comp-docs

#10138 chore(charts)!: remove couchbase support from Helm charts
  automation/rancher-partner-charts/questions.yaml
  automation/startjanssenmonolithdemo.sh
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/_helpers.tpl
  charts/janssen-all-in-one/templates/configmap.yaml
  charts/janssen-all-in-one/templates/secret.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/config/README.md
  charts/janssen/charts/config/templates/_helpers.tpl
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/charts/config/values.yaml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
  docs/janssen-server/install/helm-install/amazon-eks.md
  docs/janssen-server/install/helm-install/google-gke.md
  docs/janssen-server/install/helm-install/microsoft-azure.md
  docs/janssen-server/planning/components.md
  docs/janssen-server/planning/vm-cluster.md
  docs/janssen-server/recipes/benchmark.md
  docs/janssen-server/reference/database/README.md
  docs/janssen-server/reference/kubernetes/config-secret-keys.md
Labels: kind-dependencies, area-documentation, comp-charts-jans

#10162 fix(jans-linux-setup): missing scopes of api-admin
  jans-linux-setup/jans_setup/templates/jans-auth/role-scope-mappings.json
Labels: kind-bug, comp-jans-linux-setup

#10164 feat(jans-cli-tui): session management
  docs/assets/tui-auth-server-sessions.png
  docs/janssen-server/auth-server/session-management/README.md
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/sessions.py
Labels: area-documentation, comp-jans-cli-tui, kind-feature, comp-docs

#10165 feat: implement native internationalization for Agama projects
  docs/agama/gama-format.md
  docs/janssen-server/developer/agama/advanced-usages.md
  docs/janssen-server/developer/agama/agama-best-practices.md
  docs/janssen-server/developer/agama/flows-navigation-ui.md
  jans-auth-server/agama/engine/src/main/java/io/jans/ads/Deployer.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/page/Page.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/LabelsService.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/MessagesService.java
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-agama, comp-docs

#10172 ci: remove python3 ldap package
  .github/workflows/build-packages.yml
  automation/packaging/deb/focal/debian/control
  automation/packaging/deb/jammy/debian/control
  automation/packaging/rpm/el8/jans.spec
  automation/packaging/rpm/suse15/jans.spec
  jans-linux-setup/tools/ldap2mysql/README.md
Labels: area-CI, area-documentation, comp-jans-linux-setup

#10173 refactor(jans-cedarling): relax JWT validation to allow optional claims
  jans-cedarling/cedarling/src/jwt/decoding_strategy.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/access_token.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/id_token.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/userinfo_token.rs
Labels: kind-enhancement, comp-jans-cedarling

#10181 fix(jans-cli-tui): file type scripts
  jans-cli-tui/cli_tui/plugins/010_auth_server/sessions.py
  jans-cli-tui/cli_tui/plugins/060_scripts/edit_script_dialog.py
  jans-cli-tui/cli_tui/plugins/060_scripts/main.py
Labels: kind-bug, comp-jans-cli-tui

#10177 chore(jans-pycloudlib): remove ldap references from pycloudlib
  jans-pycloudlib/docs/api/persistence/ldap.md
  jans-pycloudlib/jans/pycloudlib/lock/ldap_lock.py
  jans-pycloudlib/jans/pycloudlib/persistence/ldap.py
  jans-pycloudlib/setup.py
Labels: kind-dependencies, area-documentation, comp-jans-pycloudlib, comp-docs

#10189 fix: admin-ui plugin should send appropriate message on expiry/ for inactive license. #10178
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/LicenseResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
Labels: kind-bug, comp-jans-config-api, comp-docs

#10191 User auth test
  docs/janssen-server/reference/database/mysql-config.md
  docs/janssen-server/reference/database/mysql-schema.md
  docs/janssen-server/reference/database/pgsql-config.md
  docs/script-catalog/scim/sample-script/SampleScript.py
  docs/script-catalog/scim/sample-script/custom_scim_handler.java
  docs/script-catalog/scim/sample-script/custom_scim_handler.py
  docs/script-catalog/scim/scim.md
  jans-auth-server/server/conf/jans-sql.properties
  jans-auth-server/server/pom.xml
  jans-auth-server/server/src/test/java/io/jans/as/server/BaseComponentTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/db/UserServiceTest.java
  jans-core/model/src/main/java/io/jans/model/user/SimpleUser.java
  jans-core/model/src/main/java/io/jans/model/user/authenticator/UserAuthenticator.java
  jans-core/service/src/main/java/io/jans/service/UserAuthenticatorService.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/schema/jans_schema_mappings.json
  jans-linux-setup/jans_setup/templates/test/scim-client/data/scim-test-data-user.ldif
  jans-orm/core/src/main/java/io/jans/orm/impl/BaseEntryManager.java
  jans-orm/spanner-sample/src/main/java/io/jans/orm/cloud/spanner/SpannerSample.java
  jans-orm/sql-sample/src/main/java/io/jans/orm/sql/persistence/SqlEntryManagerSample.java
  jans-scim/model/src/main/java/io/jans/scim/model/scim2/user/UserResource.java
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/Scim2UserService.java
Labels: area-documentation, comp-jans-auth-server, comp-jans-core, comp-jans-orm, comp-jans-scim, comp-jans-linux-setup, comp-docs

#10183 chore(jans-cedarling): update python example and docs
  docs/cedarling/python/usage.md
  jans-cedarling/bindings/cedarling_python/README.md
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/example_files/policy-store.json
  jans-cedarling/schema/cedarling_core.cedarschema
  jans-cedarling/schema/cedarling_core.json
Labels: kind-dependencies, area-documentation, comp-docs, comp-jans-cedarling

#10197 feat(jans-auth-server): openID AuthZEN implementation
  docs/assets/log/access-evaluation-run-log.txt
  docs/janssen-server/auth-server/README.md
  docs/janssen-server/auth-server/endpoints/access-evaluation.md
  docs/janssen-server/developer/interception-scripts.md
  docs/janssen-server/developer/scripts/README.md
  docs/script-catalog/access_evaluation/AccessEvaluation.java
  docs/script-catalog/access_evaluation/access-evaluation.md
  jans-auth-server/client/src/main/java/io/jans/as/client/AccessEvaluationClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/AccessEvaluationClientRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/AccessEvaluationClientResponse.java
  jans-auth-server/client/src/main/java/io/jans/as/client/BaseClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/IsJsonRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/OpenIdConfigurationClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/OpenIdConfigurationResponse.java
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AccessEvaluationHttpTest.java
  jans-auth-server/client/src/test/resources/testng.xml
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/common/FeatureFlagType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/ConfigurationResponseClaim.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authzen/ws/rs/AccessEvaluationRestWebServiceImplV1.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authzen/ws/rs/AccessEvaluationService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authzen/ws/rs/AccessEvaluationValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/DiscoveryService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ResteasyInitializer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalAccessEvaluationService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authzen/ws/rs/AccessEvaluationRestWebServiceImplV1Test.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authzen/ws/rs/AccessEvaluationValidatorTest.java
  jans-auth-server/server/src/test/resources/testng.xml
  jans-core/model/src/main/java/io/jans/model/authzen/AccessEvaluationRequest.java
  jans-core/model/src/main/java/io/jans/model/authzen/AccessEvaluationResponse.java
  jans-core/model/src/main/java/io/jans/model/authzen/AccessEvaluationResponseContext.java
  jans-core/model/src/main/java/io/jans/model/authzen/Action.java
  jans-core/model/src/main/java/io/jans/model/authzen/Context.java
  jans-core/model/src/main/java/io/jans/model/authzen/Resource.java
  jans-core/model/src/main/java/io/jans/model/authzen/Subject.java
  jans-core/script/src/main/java/io/jans/model/custom/script/CustomScriptType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/authzen/AccessEvaluationType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/authzen/DummyAccessEvaluationType.java
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/scopes.ldif
  jans-linux-setup/jans_setup/templates/scripts.ldif
  jans-linux-setup/jans_setup/templates/test/jans-auth/data/jans-auth-test-data.ldif
  mkdocs.yml
Labels: area-documentation, comp-jans-auth-server, comp-jans-core, kind-feature, comp-jans-linux-setup, comp-docs

#10215 chore(jans-cedarling): remove additional check for Role
  docs/cedarling/cedarling-authz.md
  docs/cedarling/cedarling-policy-store.md
  docs/cedarling/python/usage.md
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/src/authorize/authorize_result.rs
  jans-cedarling/bindings/cedarling_python/src/config/policy_store_source.rs
  jans-cedarling/cedarling/src/authz/authorize_result.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/common/mod.rs
  jans-cedarling/cedarling/src/common/policy_store/token_entity_metadata.rs
  jans-cedarling/cedarling/src/init/policy_store.rs
  jans-cedarling/cedarling/src/log/log_entry.rs
  jans-cedarling/cedarling/src/log/memory_logger.rs
  jans-cedarling/cedarling/src/log/test.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_different_principals.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_namespace_jans2.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_without_check_jwt.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
  jans-cedarling/schema/cedarling_core.cedarschema
  jans-cedarling/test_files/agama-store.yaml
  jans-cedarling/test_files/agama-store_2.yaml
  jans-cedarling/test_files/policy-store_ok_2.yaml
Labels: kind-dependencies, area-documentation, comp-docs, comp-jans-cedarling

#10213 fix(jans-auth): fix client side jans-auth tests failures #10212
  jans-auth-server/client/pom.xml
  jans-auth-server/client/src/test/java/io/jans/as/client/BaseTest.java
  jans-bom/pom.xml
Labels: kind-bug, comp-jans-auth-server, comp-jans-bom

#10203 fix(config-api): application status endpoint specification changes
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/health/ApiHealthCheck.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/status/StatusCheckerTimer.java
Labels: kind-bug, comp-jans-config-api, comp-docs

#10230 ci: fix docker build
  .github/workflows/build-docker-image.yml
  demos/benchmarking/docker-jans-loadtesting-jmeter/Makefile
  docker-jans-all-in-one/Makefile
  docker-jans-auth-server/Makefile
  docker-jans-casa/Makefile
  docker-jans-certmanager/Makefile
  docker-jans-config-api/Makefile
  docker-jans-configurator/Makefile
  docker-jans-fido2/Makefile
  docker-jans-kc-scheduler/Makefile
  docker-jans-keycloak-link/Makefile
  docker-jans-link/Makefile
  docker-jans-monolith/Makefile
  docker-jans-persistence-loader/Makefile
  docker-jans-saml/Makefile
  docker-jans-scim/Makefile
Labels: area-CI

#10232 fix(docs): autogenerate docs
  charts/janssen-all-in-one/README.md
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/README.md
  charts/janssen/charts/auth-server/README.md
  charts/janssen/charts/casa/README.md
  charts/janssen/charts/cn-istio-ingress/README.md
  charts/janssen/charts/config-api/README.md
  charts/janssen/charts/config/README.md
  charts/janssen/charts/fido2/README.md
  charts/janssen/charts/kc-scheduler/README.md
  charts/janssen/charts/link/README.md
  charts/janssen/charts/nginx-ingress/README.md
  charts/janssen/charts/persistence/README.md
  charts/janssen/charts/saml/README.md
  charts/janssen/charts/scim/README.md
  docs/janssen-server/install/docker-install/compose.md
  docs/janssen-server/reference/kubernetes/docker-jans-auth-server.md
  docs/janssen-server/reference/kubernetes/docker-jans-casa.md
  docs/janssen-server/reference/kubernetes/docker-jans-certmanager.md
  docs/janssen-server/reference/kubernetes/docker-jans-config-api.md
  docs/janssen-server/reference/kubernetes/docker-jans-configurator.md
  docs/janssen-server/reference/kubernetes/docker-jans-fido2.md
  docs/janssen-server/reference/kubernetes/docker-jans-link.md
  docs/janssen-server/reference/kubernetes/docker-jans-persistence-loader.md
  docs/janssen-server/reference/kubernetes/docker-jans-scim.md
  docs/janssen-server/reference/kubernetes/helm-chart.md
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, area-documentation, comp-jans-config-api, comp-charts-jans, comp-docs

#10234 ci: fix packages and docs build
  .github/workflows/build-docs.yml
  .github/workflows/build-packages.yml
Labels: area-CI

#10251 fix(jans-cli-tui): display error for session search
  jans-cli-tui/cli_tui/plugins/010_auth_server/sessions.py
Labels: kind-bug, comp-jans-cli-tui

#10254 feat(jans-cli-tui) client tokens
  docs/assets/tui-openid-client-search-tokens.png
  docs/janssen-server/config-guide/auth-server-config/openid-connect-client-configuration.md
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/sessions.py
  jans-cli-tui/cli_tui/utils/static.py
Labels: area-documentation, comp-jans-cli-tui, kind-feature, comp-docs

#10259 ci: fix building jassen assets on GH
  .github/workflows/build-packages.yml
  .github/workflows/build-test.yml
  automation/packaging/rpm/el8/checksum.sh
  automation/packaging/rpm/el8/jans.spec
  automation/packaging/rpm/suse15/checksum.sh
  automation/packaging/rpm/suse15/jans.spec
Labels: area-CI

#10262 fix(jans-linux-setup): display CLI logs in jans script
  jans-linux-setup/jans_setup/static/scripts/jans
Labels: kind-bug, comp-jans-linux-setup

#10269 feat(jans-auth-server): allow to use openidSubAttribute for localAccountId for pairwise identifier look up #9696
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/PairwiseIdentifierService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SectorIdentifierService.java
Labels: comp-jans-auth-server, kind-feature

#10272 feat(jans-cedarling): New bootstrap properties to request authz for User, Workload or both
  jans-cedarling/bindings/cedarling_python/src/authorize/errors.rs
  jans-cedarling/bindings/cedarling_python/src/config/bootstrap_config.rs
  jans-cedarling/bindings/cedarling_python/tests/config.py
  jans-cedarling/bindings/cedarling_python/tests/test_logger.py
  jans-cedarling/bindings/cedarling_python/tests/test_policy_store.py
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/src/authz/authorize_result.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/authorization_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/common/policy_store.rs
  jans-cedarling/cedarling/src/init/service_factory.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_different_principals.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
  jans-cedarling/cedarling/src/tests/utils/mod.rs
  jans-cedarling/test_files/policy-store_ok_2.yaml
Labels: comp-jans-cedarling

#10280 chore(jans-pycloudlib): conform to PEP 440 versioning
  jans-cli-tui/cli_tui/version.py
  jans-linux-setup/jans_setup/setup_app/version.py
  jans-pycloudlib/jans/pycloudlib/version.py
Labels: kind-dependencies, comp-jans-pycloudlib

#10274 fix(jans-linux-setup): bug if version passed is a tag
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/setup_app/downloads.py
Labels: kind-bug, comp-jans-linux-setup

#10285 fix(jans-auth-server): lower possibility to get data loss during status index pool update #10284
  jans-auth-server/server/src/main/java/io/jans/as/server/service/cluster/StatusIndexPoolService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/token/StatusListIndexService.java
Labels: kind-bug, comp-jans-auth-server

#10275 feat(jans-cedarling): pass entities data into the context
  jans-cedarling/bindings/cedarling_python/src/authorize/errors.rs
  jans-cedarling/cedarling/src/authz/merge_json.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_without_check_jwt.rs
  jans-cedarling/test_files/policy-store_ok.yaml
  jans-cedarling/test_files/policy-store_ok_2.yaml
  jans-cedarling/test_files/policy-store_ok_abac.yaml
  jans-cedarling/test_files/policy-store_ok_namespace_Jans2.yaml
Labels: kind-feature, comp-jans-cedarling

#10290 fix(jans-cedarling): revert "pass entities data into the context"
  jans-cedarling/bindings/cedarling_python/src/authorize/errors.rs
  jans-cedarling/cedarling/src/authz/merge_json.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_without_check_jwt.rs
  jans-cedarling/test_files/policy-store_ok.yaml
  jans-cedarling/test_files/policy-store_ok_2.yaml
  jans-cedarling/test_files/policy-store_ok_abac.yaml
  jans-cedarling/test_files/policy-store_ok_namespace_Jans2.yaml
Labels: comp-jans-cedarling

#10294 feat: migrate and fix e-mail otp plugin
  docs/casa/index.md
  docs/casa/plugins/email-otp.md
  jans-casa/agama/project/project.json
  jans-casa/plugins/email_2fa/agama/pom.xml
  jans-casa/plugins/email_2fa/agama/project/code/io.jans.casa.authn.emailotp.flow
  jans-casa/plugins/email_2fa/agama/project/lib/io/jans/casa/emailotp/MailMan.java
  jans-casa/plugins/email_2fa/agama/project/lib/io/jans/casa/emailotp/Sender.java
  jans-casa/plugins/email_2fa/agama/project/project.json
  jans-casa/plugins/email_2fa/agama/project/web/otp-email-prompt.ftlh
  jans-casa/plugins/email_2fa/agama/project/web/otp-email.ftlh
  jans-casa/plugins/email_2fa/pom.xml
  jans-casa/plugins/email_2fa/src/main/java/io/jans/casa/plugins/emailotp/EmailOtpPlugin.java
  jans-casa/plugins/email_2fa/src/main/java/io/jans/casa/plugins/emailotp/extension/EmailOtpAuthnMethod.java
  jans-casa/plugins/email_2fa/src/main/java/io/jans/casa/plugins/emailotp/model/EmailPerson.java
  jans-casa/plugins/email_2fa/src/main/java/io/jans/casa/plugins/emailotp/service/EmailOtpService.java
  jans-casa/plugins/email_2fa/src/main/java/io/jans/casa/plugins/emailotp/vm/EmailOtpVM.java
  jans-casa/plugins/email_2fa/src/main/resources/assets/emails.zul
  jans-casa/plugins/email_2fa/src/main/resources/labels/zk-label.properties
  jans-casa/plugins/email_2fa_core/README.md
  jans-casa/plugins/email_2fa_core/extras/README.md
  jans-casa/plugins/email_2fa_core/extras/email-ver.png
  jans-casa/plugins/email_2fa_core/extras/email_2fa_core.py
  jans-casa/plugins/email_2fa_core/extras/jans-auth.properties
  jans-casa/plugins/email_2fa_core/extras/otp_email.xhtml
  jans-casa/plugins/email_2fa_core/extras/otp_email_prompt.xhtml
  jans-casa/plugins/email_2fa_core/img/01.smtp.png
  jans-casa/plugins/email_2fa_core/img/02.script.png
  jans-casa/plugins/email_2fa_core/img/03.script.png
  jans-casa/plugins/email_2fa_core/pom.xml
  jans-casa/plugins/email_2fa_core/src/main/assembly/src.xml
  jans-casa/plugins/email_2fa_core/src/main/java/io/jans/casa/plugins/credentials/extensions/EmailOtpAuthnMethod.java
  jans-casa/plugins/email_2fa_core/src/main/java/io/jans/casa/plugins/emailotp/EmailOtpInitiator.java
  jans-casa/plugins/email_2fa_core/src/main/java/io/jans/casa/plugins/emailotp/EmailOtpPlugin.java
  jans-casa/plugins/email_2fa_core/src/main/java/io/jans/casa/plugins/emailotp/EmailOtpService.java
  jans-casa/plugins/email_2fa_core/src/main/java/io/jans/casa/plugins/emailotp/EmailOtpVM.java
  jans-casa/plugins/email_2fa_core/src/main/java/io/jans/casa/plugins/emailotp/model/EmailPerson.java
  jans-casa/plugins/email_2fa_core/src/main/java/io/jans/casa/plugins/emailotp/model/JansConfiguration.java
  jans-casa/plugins/email_2fa_core/src/main/java/io/jans/casa/plugins/emailotp/model/SmtpConfiguration.java
  jans-casa/plugins/email_2fa_core/src/main/java/io/jans/casa/plugins/emailotp/model/SmtpConnectProtectionType.java
  jans-casa/plugins/email_2fa_core/src/main/java/io/jans/casa/plugins/emailotp/model/VerifiedEmail.java
  jans-casa/plugins/email_2fa_core/src/main/resources/assets/js/email.js
  jans-casa/plugins/email_2fa_core/src/main/resources/assets/menu.zul
  jans-casa/plugins/email_2fa_core/src/main/resources/assets/user/cred_details.zul
  jans-casa/plugins/email_2fa_core/src/main/resources/labels/zk-label.properties
  jans-casa/plugins/samples/sample-cred/src/main/resources/labels/zk-label.properties
  jans-casa/pom.xml
  mkdocs.yml
Labels: area-documentation, kind-feature, comp-agama, comp-docs, comp-jans-casa

#10297 fix(jans-cedarling): add missing fields on LogEntry struct
  jans-cedarling/cedarling/src/authz/token_data.rs
  jans-cedarling/cedarling/src/common/policy_store/claim_mapping.rs
  jans-cedarling/cedarling/src/log/stdout_logger.rs
  jans-cedarling/cedarling/src/log/test.rs
Labels: kind-bug, comp-jans-cedarling

#10216 feat(jans-cedarling): Bootstrap support for JSON and YAML properties
  docs/cedarling/cedarling-properties.md
  jans-cedarling/bindings/cedarling_python/Cargo.toml
  jans-cedarling/bindings/cedarling_python/PYTHON_TYPES.md
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/print_documentation.py
  jans-cedarling/bindings/cedarling_python/src/authorize/errors.rs
  jans-cedarling/bindings/cedarling_python/src/config/bootstrap_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/jwt_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/memory_log_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/mod.rs
  jans-cedarling/bindings/cedarling_python/src/config/off_log_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/policy_store_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/policy_store_source.rs
  jans-cedarling/bindings/cedarling_python/src/config/stdout_log_config.rs
  jans-cedarling/bindings/cedarling_python/tests/config.py
  jans-cedarling/bindings/cedarling_python/tests/test_logger.py
  jans-cedarling/bindings/cedarling_python/tests/test_policy_store.py
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/src/authz/authorize_result.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/authorization_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/jwt_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/log_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/policy_store_config.rs
  jans-cedarling/cedarling/src/common/cedar_schema/cedar_json.rs
  jans-cedarling/cedarling/src/common/cedar_schema/mod.rs
  jans-cedarling/cedarling/src/common/policy_store.rs
  jans-cedarling/cedarling/src/init/jwt_algorithm.rs
  jans-cedarling/cedarling/src/init/mod.rs
  jans-cedarling/cedarling/src/init/policy_store.rs
  jans-cedarling/cedarling/src/init/service_config.rs
  jans-cedarling/cedarling/src/init/service_factory.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy.rs
  jans-cedarling/cedarling/src/jwt/jwt_service_config.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/access_token.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/id_token.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/key_service.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/userinfo_token.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_different_principals.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
  jans-cedarling/cedarling/src/tests/utils/mod.rs
  jans-cedarling/test_files/bootstrap_props.json
  jans-cedarling/test_files/bootstrap_props.yaml
  jans-cedarling/test_files/policy-store_generated.json
  jans-cedarling/test_files/policy-store_ok_2.yaml
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling
