Repository JanssenProject/jans, pull requests merged in 2024-04, with the labels that each got.

#8186 docs(VM install): update the system h/w requirements for VM installations
  docs/admin/install/vm-install/vm-requirements.md
Labels: area-documentation

#8185 fix(jans-config-api): fetching a non-existing trustrelationship by id returns a 200k empty response instead of a 404 Not Found #8162
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
Labels: kind-bug, comp-jans-config-api

#8194 fix(jans-casa): wrong endpoint to retrieve userinfo in accts linking plugin
  docs/casa/plugins/accts-linking/account-linking-index.md
  jans-auth-server/agama/inboundID/pom.xml
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/ConfigProcessor.java
  jans-casa/plugins/acct-linking/extras/agama/lib/io/jans/casa/acctlinking/UidUtils.java
Labels: kind-bug, area-documentation, comp-jans-auth-server, comp-agama

#8201 docs(casa): add account linking to navigation
  docs/casa/plugins/accts-linking/account-linking-index.md
  docs/casa/plugins/accts-linking/accts-linking-agama.md
  mkdocs.yml
Labels: area-documentation

#8206 feat(jans-core): add new Person claim jansAuthenticator #8158
  docs/script-catalog/person_authentication/otp-external-authenticator/OtpExternalAuthenticator.py
  jans-core/model/src/main/java/io/jans/model/user/authenticator/UserAuthenticatorList.java
  jans-core/service/src/main/java/io/jans/service/UserAuthenticatorService.java
Labels: comp-jans-core, kind-feature

#8205 fix(config-api): asset management fetch issue
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
Labels: kind-bug, comp-jans-config-api

#8189 feat(jans-auth-server): support unmet_authentication_requirements error code #7900
  docs/admin/auth-server/oauth-features/README.md
  docs/admin/auth-server/openid-features/acrs.md
  jans-auth-server/model/src/main/java/io/jans/as/model/authorize/AuthorizeErrorResponseType.java
  jans-auth-server/server/conf/jans-errors.json
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidatorTest.java
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-errors.json
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#8220 feat: healt-check should check script manager initialization status
  docs/script-catalog/person_authentication/otp-external-authenticator/OtpExternalAuthenticator.py
  jans-auth-server/server/src/main/java/io/jans/as/server/ws/rs/controller/HealthCheckController.java
  jans-core/script/src/main/java/io/jans/service/custom/script/CustomScriptManager.java
Labels: comp-jans-auth-server, comp-jans-core, kind-feature

#8218 feat(jans-core): add new Person claim jansAuthenticator #8158
  jans-core/service/src/main/java/io/jans/service/UserAuthenticatorService.java
Labels: comp-jans-core, kind-feature

#8215 fix(config-api): asset mgt save method changed and user mgt pwd validation change
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
Labels: kind-bug, comp-jans-config-api

#8223 fix(jans-auth-server): device auth is failing
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidatorTest.java
Labels: kind-bug, comp-jans-auth-server

#8231 chore(jans-casa): bioid tasks
  .gitignore
  jans-casa/plugins/bioid/README.md
  jans-casa/pom.xml
  mkdocs.yml
Labels: kind-dependencies, area-documentation

#8229 feature(jans-keycloak-integration): sync trust relationship configuration between config-api and keycloak #8008
  jans-core/saml/pom.xml
  jans-core/saml/src/main/java/io/jans/saml/metadata/builder/EndpointBuilder.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/builder/SPSSODescriptorBuilder.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/model/Endpoint.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/model/EntityDescriptor.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/model/KeyDescriptor.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/model/RoleDescriptor.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/model/SAMLBinding.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/model/SAMLMetadata.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/model/SPSSODescriptor.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/model/ds/X509Data.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/parser/SAMLMetadataParser.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/util/LSResourceResolverImpl.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/util/SAXUtils.java
  jans-keycloak-integration/job-scheduler/pom.xml
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/api/admin/client/KeycloakApi.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/api/admin/client/model/AuthenticationFlow.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/api/admin/client/model/ManagedSamlClient.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/api/admin/client/model/ProtocolMapper.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/api/admin/client/model/SamlNameIDFormat.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/api/admin/client/model/SamlSignatureAlgorithm.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/api/config/client/JansConfigApi.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/api/config/client/model/JansAttributeRepresentation.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/api/config/client/model/JansTrustRelationship.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/App.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/TrustRelationshipSyncJob.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/config/AppConfiguration.java
  jans-keycloak-integration/job-scheduler/src/main/resources/config.properties.sample
  jans-keycloak-integration/job-scheduler/src/main/resources/logback.xml.sample
  jans-keycloak-integration/pom.xml
Labels: comp-jans-core, kind-feature

#8234 fix(jans-linux-setup): saml clients
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/templates/jans-saml/clients.json
Labels: kind-bug, comp-jans-linux-setup

#8233 fix(config-api): attribute search is case sensitive
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AttributeService.java
Labels: kind-bug, comp-jans-config-api

#8224 fix(jans-linux-setup): improper scim configuration for kc #8210
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.userstorage-provider-component.json
  jans-linux-setup/jans_setup/templates/jans-saml/keycloak.conf
Labels: kind-bug, comp-jans-linux-setup

#8255 chore(jans-core): replace references to Java 16 features causing the build to break #8254
  jans-core/saml/src/main/java/io/jans/saml/metadata/model/RoleDescriptor.java
  jans-core/saml/src/main/java/io/jans/saml/metadata/model/SPSSODescriptor.java
Labels: kind-dependencies, comp-jans-core

#8253 fix(jans-linuux-setup): KC setup issues
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/setup_app/installers/scim.py
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.userstorage-provider-component.json
  jans-linux-setup/jans_setup/templates/jans-saml/keycloak.conf
Labels: kind-bug, comp-jans-linux-setup

#8251 feat(jans-cli-tui): missing Lock Configuration parameters
  jans-cli-tui/cli_tui/plugins/120_lock/main.py
Labels: comp-jans-cli-tui, kind-feature, enhancement, comp-jans-tui

#8266 chore(docker): sync assets and kc setup
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-saml/scripts/configure_kc.py
  docker-jans-saml/templates/jans-saml/clients.ldif
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link

#8268 feat(jans-auth-server): reviewed and renamed dynamicGrantTypeDefault->grantTypesSupportedByDynamicRegistration with tests #8089
  docs/admin/config-guide/jans-authorization-server-config.md
  docs/admin/reference/json/properties/janssenauthserver-properties.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/register/ws/rs/RegisterServiceTest.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ClientService.java
  jans-config-api/server/src/test/resources/feature/config/properties/dynamic/registration/registration.feature
  jans-config-api/server/src/test/resources/feature/config/properties/dynamic/registration/registration.json
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/test/docs/oxauth-config-update.md
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature

#8271 feat: disable jdk15on dependecies
  jans-auth-server/server/pom.xml
  jans-bom/pom.xml
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
  jans-fido2/server/pom.xml
Labels: comp-jans-auth-server, comp-jans-config-api, comp-jans-fido2, kind-feature, comp-jans-bom

#8273 feat: add documentation to explain details about new jansAuthenticator
  docs/admin/developer/scripts/person-authentication.md
Labels: area-documentation, kind-feature

#8274 docs: refactor and proofread the person authn script doc
  docs/admin/developer/scripts/person-authentication.md
  mkdocs.yml
Labels: area-documentation

#8281 fix(jans-cli-tui): LOCK OPA Configuration
  jans-cli-tui/cli_tui/plugins/120_lock/main.py
Labels: kind-bug, comp-jans-cli-tui

#8279 fix(config-api): user mgt error for duplicate jansStatus issue
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/model/user/CustomUser.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AssetResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
Labels: kind-bug, comp-jans-config-api

#8285 feat: disable jdk15on dependecies
  jans-auth-server/common/pom.xml
Labels: comp-jans-auth-server, kind-feature

#8288 fix(config-api): config pi failing build
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ClientService.java
  jans-config-api/server/src/test/resources/feature/attribute/attributes.feature
Labels: kind-bug, comp-jans-config-api

#8292 fix(config-api): fix attribute validation issue while update
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AttributesResource.java
  jans-config-api/server/src/test/resources/feature/attribute/attributes.feature
Labels: kind-bug, comp-jans-config-api

#8293 fix(config-api): user status field changes
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: kind-bug, comp-jans-config-api, comp-jans-linux-setup

#8295 chore(docker): sync assets and config
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link

#8301 fix(jans-cli-tui): jansStatus to status for users
  docs/overrides/main.html
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#8309 feat(jans-core): define sql type for jansAuthenticator
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: comp-jans-core, kind-feature, comp-jans-linux-setup

#8313 fix(docker-jans-config-api): handle NULL jansScope.creatorAttrs during upgrade
  docker-jans-config-api/scripts/upgrade.py
Labels: kind-bug, comp-docker-jans-config-api

#8305 feat(jans-core): use jansStatus property
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/UserService.java
  jans-auth-server/common/src/test/java/io/jans/as/common/service/common/UserServiceTest.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/message/opa/OpaMessageConsumer.java
Labels: comp-jans-auth-server, comp-jans-core, kind-feature

#8314 chore: update docker image build date
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/Dockerfile
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/requirements.txt
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/Dockerfile
  docker-jans-link/requirements.txt
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/requirements.txt
  docker-jans-saml/Dockerfile
  docker-jans-saml/requirements.txt
  docker-jans-scim/Dockerfile
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one

#8318 fix(agama-inbound): make method urlBeforeContextPath public
  jans-auth-server/agama/inboundID/src/main/java/io/jans/util/NetworkUtils.java
Labels: kind-bug, comp-jans-auth-server, comp-agama

#8320 feat(cloud-native): allow pulling SSL cert from FQDN
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/README.md
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-casa/Dockerfile
  docker-jans-casa/README.md
  docker-jans-casa/scripts/bootstrap.py
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-fido2/README.md
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/README.md
  docker-jans-keycloak-link/scripts/bootstrap.py
  docker-jans-link/Dockerfile
  docker-jans-link/README.md
  docker-jans-link/scripts/bootstrap.py
  docker-jans-saml/Dockerfile
  docker-jans-saml/README.md
  docker-jans-scim/Dockerfile
  docker-jans-scim/README.md
  docker-jans-scim/scripts/bootstrap.py
  docs/admin/reference/kubernetes/docker-jans-auth-server.md
  docs/admin/reference/kubernetes/docker-jans-casa.md
  docs/admin/reference/kubernetes/docker-jans-config-api.md
  docs/admin/reference/kubernetes/docker-jans-fido2.md
  docs/admin/reference/kubernetes/docker-jans-link.md
  docs/admin/reference/kubernetes/docker-jans-saml.md
  docs/admin/reference/kubernetes/docker-jans-scim.md
Labels: comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, kind-feature, comp-docker-jans-link

#8316 chore(jans-keycloak-integration): bump kc version to 24.0.2 #8315
  jans-keycloak-integration/pom.xml
  jans-linux-setup/jans_setup/app_info.json
Labels: kind-dependencies, comp-jans-linux-setup

#8299 fix(docs): autogenerate docs
  charts/janssen-all-in-one/README.md
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/README.md
  charts/janssen/charts/auth-server/README.md
  charts/janssen/charts/casa/README.md
  charts/janssen/charts/cn-istio-ingress/README.md
  charts/janssen/charts/config-api/README.md
  charts/janssen/charts/config/README.md
  charts/janssen/charts/fido2/README.md
  charts/janssen/charts/link/README.md
  charts/janssen/charts/nginx-ingress/README.md
  charts/janssen/charts/opendj/README.md
  charts/janssen/charts/persistence/README.md
  charts/janssen/charts/saml/README.md
  charts/janssen/charts/scim/README.md
  docs/admin/install/docker-install/compose.md
  docs/admin/reference/kubernetes/docker-jans-all-in-one.md
  docs/admin/reference/kubernetes/docker-jans-monolith.md
  docs/admin/reference/kubernetes/helm-chart.md
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, area-documentation, comp-jans-config-api, comp-charts-jans

#8207 fix(jans-keycloak-integration): various runtime issues with the kc storage spi #8199
  jans-keycloak-integration/storage-spi/src/main/java/io/jans/kc/spi/storage/config/PluginConfiguration.java
  jans-keycloak-integration/storage-spi/src/main/java/io/jans/kc/spi/storage/service/ScimService.java
  jans-keycloak-integration/storage-spi/src/main/java/io/jans/kc/spi/storage/service/UserAdapter.java
  jans-keycloak-integration/storage-spi/src/main/java/io/jans/kc/spi/storage/util/JansUtil.java
Labels: kind-bug

#8325 feat(jans-linux-setup): introduce rdbm_json_column in schema definitions
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-feature, comp-jans-linux-setup

#8329 chore(jans-linux-setup): use wildcard for auth-server custom libs
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_casa.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
Labels: kind-dependencies, comp-jans-linux-setup

#7856 chore: upgrade css libraries in jans-auth-server #7835
  docs/casa/user-guide.md
  jans-auth-server/server/src/main/webapp/WEB-INF/incl/layout/login-extended-template.xhtml
  jans-auth-server/server/src/main/webapp/device_authorization.xhtml
  jans-auth-server/server/src/main/webapp/js/bootstrap.bundle.min.js
  jans-auth-server/server/src/main/webapp/js/bootstrap.min.js
  jans-auth-server/server/src/main/webapp/js/fontawesome.min.js
  jans-auth-server/server/src/main/webapp/js/jquery-ui.min.js
  jans-auth-server/server/src/main/webapp/stylesheet/bootstrap-grid.min.css
  jans-auth-server/server/src/main/webapp/stylesheet/bootstrap-reboot.min.css
  jans-auth-server/server/src/main/webapp/stylesheet/bootstrap.css
  jans-auth-server/server/src/main/webapp/stylesheet/bootstrap.min.css
  jans-auth-server/server/src/main/webapp/stylesheet/font-awesome.css
  jans-auth-server/server/src/main/webapp/stylesheet/fontawesome.min.css
  jans-auth-server/server/src/main/webapp/stylesheet/jquery-ui.min.css
  jans-auth-server/server/src/main/webapp/stylesheet/jquery-ui.structure.min.css
  jans-auth-server/server/src/main/webapp/stylesheet/jquery-ui.theme.min.css
  jans-auth-server/server/src/main/webapp/stylesheet/style.css
  jans-casa/app/src/main/webapp/scripts/bootstrap.min.js
  jans-casa/app/src/main/webapp/styles/bootstrap.min.css
Labels: kind-enhancement, kind-dependencies, comp-jans-auth-server

#8323 fix(docker-casa): add missing casa plugins
  docker-jans-casa/Dockerfile
Labels: kind-bug

#8332 fix(docs): autogenerate docs
  docs/admin/reference/kubernetes/helm-chart.md
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-bug, area-documentation, comp-jans-config-api

#8336 docs: fix incorrect plugin download link
  docs/casa/plugins/custom-branding.md
Labels: area-documentation

#8304 feat(jans-auth-server): introduce acr mappings and prefixed acr - "agama_<flow name> " #8216
  docs/admin/auth-server/openid-features/acrs.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AcrService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalAuthenticationService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImplTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidatorTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/AcrServiceTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: comp-jans-auth-server, kind-feature

#8331 docs: update intro and remove xml edition requirement
  docs/agama-catalog/jans/inboundID/README.md
Labels: area-documentation

#8334 fix(jans-linux-setup): replace jetty favicon
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/static/favicon.ico
Labels: kind-bug, comp-jans-linux-setup

#8307 feat(jans-casa): switch bioid to jansAuthenticator
  docs/casa/plugins/bioid.md
  jans-casa/plugins/bioid/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.3.20211002-1029.xml
  jans-casa/plugins/bioid/extras/BioIDExternalAuthenticator.py
  jans-casa/plugins/bioid/extras/agama/lib/io/jans/agama/bioid/BioIdConfiguration.java
  jans-casa/plugins/bioid/extras/agama/lib/io/jans/agama/bioid/BioIdService.java
  jans-casa/plugins/bioid/extras/agama/lib/io/jans/agama/bioid/IdentityProcessor.java
  jans-casa/plugins/bioid/extras/agama/lib/io/jans/agama/bioid/IdentityProcessorInterface.java
  jans-casa/plugins/bioid/pom.xml
  jans-casa/plugins/bioid/src/main/java/io/jans/casa/plugins/bioid/BioIdPersonModel.java
  jans-casa/plugins/bioid/src/main/java/io/jans/casa/plugins/bioid/BioIdService.java
  jans-casa/plugins/bioid/src/main/java/io/jans/casa/plugins/bioid/vm/BioIdViewModel.java
  jans-casa/plugins/bioid/src/main/java/io/jans/casa/plugins/bioid/vm/RedirectViewModel.java
Labels: area-documentation, kind-feature, comp-agama

#8340 fix(jans-pycloudlib): incorrect password loaded for couchbase access
  jans-pycloudlib/jans/pycloudlib/lock/couchbase_lock.py
Labels: kind-bug, comp-jans-pycloudlib

#8324 feat(config-api): asset mgt changes to use document service rather than provider
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
Labels: comp-jans-config-api, kind-feature

#8346 feat(lock): rename access to authorization tokens
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-lock/model/src/main/java/io/jans/lock/model/config/AppConfiguration.java
  jans-lock/service/src/main/java/io/jans/lock/service/policy/PolicyDownloadService.java
Labels: comp-jans-config-api, kind-feature

#8351 feat(jans-cli-tui): display agama project configuration
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
Labels: comp-jans-cli-tui, kind-feature

#8357 fix(jans-casa): revert bootstrap update #8344
  jans-casa/app/src/main/webapp/scripts/bootstrap.min.js
  jans-casa/app/src/main/webapp/styles/bootstrap.min.css
Labels: kind-bug

#8354 chore(agama): refactor agama to use acr_values instead of agama_flow
  docs/admin/developer/agama/engine-bridge-config.md
  docs/admin/developer/agama/jans-agama-engine.md
  docs/script-catalog/person_authentication/agama-bridge/AgamaBridge.py
  jans-auth-server/server/conf/jans-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-dependencies, area-documentation, comp-jans-auth-server, comp-jans-linux-setup, comp-agama

#8359 feat(jans-pycloudlib): handle rdbm_json_column in schema definitions
  jans-pycloudlib/jans/pycloudlib/persistence/spanner.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
Labels: kind-feature, comp-jans-pycloudlib

#8338 fix: add missing couchbase cb-pass volume
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/janssen/charts/config/templates/load-init-config.yml
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-saml/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-bug, comp-charts-jans

#8361 chore(cloud-native): sync assets of images
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/Dockerfile
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/requirements.txt
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/Dockerfile
  docker-jans-link/requirements.txt
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/requirements.txt
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-saml/Dockerfile
  docker-jans-saml/requirements.txt
  docker-jans-scim/Dockerfile
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-jans-pycloudlib, comp-docker-jans-link, comp-docker-jans-all-in-one

#8397 feat(jans-auth): add utility methods for external authenticators
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthenticationService.java
Labels: comp-jans-auth-server, kind-feature

#8350 feat(documentstore) : added new field jansFilePath to storing file-pa…
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DBDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/DBDocumentService.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/Document.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: comp-jans-core, kind-feature, comp-jans-linux-setup

#8410 chore(jans-casa): bioid plugin fixes
  docs/casa/index.md
  docs/casa/plugins/bioid.md
  jans-casa/plugins/bioid/src/main/java/io/jans/casa/plugins/bioid/extension/AdminMenu.java
  jans-casa/plugins/bioid/src/main/resources/assets/admin/index.zul
  jans-casa/plugins/bioid/src/main/resources/assets/admin/menu.zul
  jans-casa/plugins/bioid/src/main/resources/assets/user/index.zul
  jans-casa/plugins/bioid/src/main/resources/assets/user/menu.zul
  jans-casa/plugins/bioid/src/main/resources/labels/zk-label.properties
Labels: kind-dependencies, area-documentation

#8413 feat(docker-jans-persistence-loader): add jansFilePath to jansDocument
  docker-jans-persistence-loader/Dockerfile
Labels: comp-docker-jans-persistence-loader, kind-feature

#8411 chore(docker-jans-saml): update keycloak version
  docker-jans-saml/Dockerfile
Labels: kind-dependencies

#8417 ci: update workflows and remove old flows
  .github/workflows/backport.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-packages.yml
  .github/workflows/build-wars.yml
  .github/workflows/commit-check.yml
  .github/workflows/docker_imagescan.yml
  .github/workflows/docs.yml
  .github/workflows/jans_pycloud_build_package.yml
  .github/workflows/label_pr_issues.yml
  .github/workflows/pr-ref-issue.yml
  .github/workflows/python-pytest.yml
  .github/workflows/release.yaml
  .github/workflows/scorecard.yml
  .github/workflows/sync.yml
Labels: area-CI
