Repository JanssenProject/jans, pull requests merged in 2024-03, with the labels that each got.

#7916 fix(jans-cli-tui): backend ldap server for jans-link
  jans-cli-tui/cli_tui/plugins/010_auth_server/attributes.py
  jans-cli-tui/cli_tui/plugins/090_jans_link/main.py
Labels: kind-bug, comp-jans-cli-tui

#7925 chore(jans-bom): upgrade org.postgresql:postgresql from 42.6.0 to 42.6.1 #7924
  jans-bom/pom.xml
Labels: kind-dependencies, comp-jans-bom

#7888 docs(database): add instructions for passing DB properties dynamically
  docs/admin/reference/database/README.md
Labels: area-documentation

#7930 fix(config-api): SAML TR metadata validation, user mgt spec for error and security issue
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/model/MetadataSourceType.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/pom.xml
  jans-config-api/profiles/default/config-api-test.properties
  jans-config-api/profiles/jans-ui.jans.io/test.properties
  jans-config-api/profiles/jenkins-config-api.gluu.org/test.properties
  jans-config-api/profiles/local/test.properties
Labels: kind-bug, comp-jans-config-api

#7929 chore(deps): update java libs in OCI images
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link

#7931 fix(charts): add missing jans-fido2 ingress
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/nginx-ingress.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/fido2/templates/fido2-virtual-services.yaml
  charts/janssen/charts/nginx-ingress/templates/ingress.yaml
  charts/janssen/values.yaml
Labels: kind-bug, area-documentation, comp-charts-jans

#7935 fix(charts): add missing fido2Labels and fido2AdditionalAnnotations
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/fido2/README.md
  charts/janssen/charts/nginx-ingress/README.md
  charts/janssen/charts/nginx-ingress/values.yaml
  charts/janssen/values.yaml
Labels: kind-bug, area-documentation, comp-charts-jans

#7945 ci(build-docker-builds): fix dockerbuild
  .github/workflows/docker_build_image.yml
  .github/workflows/pr-ref-issue.yml
Labels: kind-dependencies, area-CI

#7934 feat: add feature to allow registration of multiple clients #7725
  demos/jans-tarp/.gitignore
  demos/jans-tarp/package.json
  demos/jans-tarp/src/options/Utils.ts
  demos/jans-tarp/src/options/authFlowInputs.tsx
  demos/jans-tarp/src/options/helpDrawer.tsx
  demos/jans-tarp/src/options/oidcClientDetails.tsx
  demos/jans-tarp/src/options/oidcClients.tsx
  demos/jans-tarp/src/options/options.tsx
  demos/jans-tarp/src/options/registerClient.tsx
  demos/jans-tarp/src/options/registerForm.tsx
  demos/jans-tarp/src/static/tarpDocs1.png
  demos/jans-tarp/src/static/tarpDocs2.png
  demos/jans-tarp/src/static/tarpDocs3.png
  demos/jans-tarp/src/static/tarpDocs4.png
  demos/jans-tarp/webpack.common.js
Labels: kind-feature

#7884 docs(jans-lock): add setup instructions
  docs/admin/lock/lock_auth_server_config.md
  docs/admin/lock/lock_client_config.md
  docs/admin/lock/lock_installation.md
  docs/admin/lock/lock_opa.md
  docs/admin/lock/lock_pdp_plugin.md
  mkdocs.yml
Labels: area-documentation

#7939 feat(documentstore): modified to be used for asset endpoint and resolved run time error
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DBDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/DBDocumentService.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/Document.java
Labels: comp-jans-core, kind-feature

#7926 docs: add details about TUI version screen
  docs/admin/install/install-faq.md
  docs/assets/tui-version-screen.png
Labels: area-documentation

#7949 fix: make loggers static fields
  docs/agama-catalog/jans/inboundID/README.md
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/ConfigProcessor.java
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/IdentityProcessor.java
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/Provider.java
  jans-casa/app-fips/pom.xml
  jans-casa/app/pom.xml
Labels: kind-bug, area-documentation, comp-jans-auth-server, comp-agama

#7954 fix(jans-cli-tui): check required fields for IDP
  jans-cli-tui/cli_tui/plugins/100_saml/edit_identity_provider_dialog.py
  jans-cli-tui/cli_tui/utils/utils.py
Labels: kind-bug, comp-jans-cli-tui

#7904 feat(jans-cli-tui): LOCK configuration
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/message.py
  jans-cli-tui/cli_tui/plugins/110_kc_link/main.py
  jans-cli-tui/cli_tui/plugins/120_lock/.enabled
  jans-cli-tui/cli_tui/plugins/120_lock/__init__.py
  jans-cli-tui/cli_tui/plugins/120_lock/main.py
  jans-cli-tui/cli_tui/wui_components/widget_collections.py
Labels: comp-jans-cli-tui, kind-feature

#7885 feat(jans-cli-tui): Jans Lock Configuration #7855
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/rest/LockConfigResource.java
Labels: comp-jans-cli-tui, comp-jans-config-api, kind-feature

#7947 docs(admin): minor edits to certificate install process
  docs/admin/vm-ops/certificates.md
Labels: area-documentation

#7970 fix: remove javadocs error logged during jenkins build #7969
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/BaseService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/auth/OAuth2Service.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/config/AUIConfigurationService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/webhook/WebhookService.java
Labels: kind-bug, comp-jans-config-api

#7975 docs(jans-cli-tui): executi tui with sudo
  docs/admin/config-guide/config-tools/jans-tui/README.md
Labels: area-documentation, comp-jans-cli-tui

#7987 ci(CODEOWNERS): add codeowner
  .github/CODEOWNERS
Labels: area-CI

#7979 fix(config-api): SAML TR fix for filename and user mgmt enhancement for search and custom attribute validation
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/util/Constants.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
Labels: kind-bug, comp-jans-config-api

#7989 feat(jans-config-api): enhancements to saml api #7362
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/SamlIdpService.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/SamlService.java
Labels: comp-jans-config-api, kind-feature

#7997 feat: jans Lock Configuration docs
  docs/admin/lock/lock_auth_server_config.md
  docs/assets/lock-flows.png
Labels: area-documentation, kind-feature

#7996 fix(jans-cli-tui): keycloakLinkPollingInterval
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
  jans-cli-tui/cli_tui/plugins/110_kc_link/main.py
Labels: kind-bug, comp-jans-cli-tui

#8002 fix(jans-cli-tui): operationId for saml tr
  jans-cli-tui/cli_tui/plugins/100_saml/main.py
Labels: kind-bug, comp-jans-cli-tui

#8005 Jans config api fixes
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
Labels: comp-jans-config-api

#8006 feat(jans-orm): print root cause when invalid json object is present in db
  jans-orm/core/src/main/java/io/jans/orm/impl/BaseEntryManager.java
Labels: comp-jans-orm, kind-feature

#8009 feat: doc store update
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/SamlIdpService.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DBDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DocumentStore.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/JcaDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/LocalDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/WebDavDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/BaseDocumentStoreService.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/DBDocumentService.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/DocumentStoreService.java
  jans-core/document-store/src/test/java/io/jans/service/document/store/manual/JcaDocumentStoreManualTest.java
Labels: comp-jans-config-api, comp-jans-core, kind-feature

#7965 fix(jans-cli-tui): required fields for SP
  jans-cli-tui/cli_tui/plugins/100_saml/edit_identity_provider_dialog.py
  jans-cli-tui/cli_tui/plugins/100_saml/edit_tr_dialog.py
  jans-cli-tui/cli_tui/plugins/100_saml/main.py
Labels: kind-bug, comp-jans-cli-tui

#8011 fix: issues found in tarp #8007
  demos/jans-tarp/package.json
  demos/jans-tarp/src/options/authFlowInputs.tsx
  demos/jans-tarp/src/static/chrome/manifest.json
  demos/jans-tarp/src/static/firefox/manifest.json
Labels: kind-bug

#7828 fix(jans-cli-tui): display only agama project details
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/utils/static.py
Labels: kind-bug, area-documentation, comp-jans-cli-tui

#7971 perf(jans-pycloudlib): handle google secret versioning
  docs/admin/kubernetes-ops/external-secrets-configmaps.md
  jans-pycloudlib/jans/pycloudlib/config/google_config.py
  jans-pycloudlib/jans/pycloudlib/secret/google_secret.py
Labels: kind-enhancement, comp-jans-pycloudlib

#8017 fix: agama inbound identity project not reloading mappings
  docs/agama-catalog/jans/inboundID/README.md
  docs/agama-catalog/jans/inboundID/project/code/io.jans.inbound.ExternalSiteLogin.flow
  docs/agama-catalog/jans/inboundID/project/lib/io/jans/inbound/Utils.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/Utils.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/script/ScriptUtils.java
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/IdentityProcessor.java
Labels: kind-bug, area-documentation, comp-jans-auth-server, comp-agama

#8020 chore: update pycloudlib and fix aio cronjob
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/cronjobs.yaml
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen-all-in-one/values.yaml
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-saml/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, comp-charts-jans, comp-docker-jans-link, comp-docker-jans-all-in-one

#8019 fix: bugs in admin-ui webhook #8018
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/webhook/WebhookEntry.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/webhook/WebhookResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/webhook/WebhookCallable.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/webhook/WebhookService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/AppConstants.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/CommonUtils.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-bug, comp-jans-config-api, comp-jans-linux-setup

#8024 fix(jans-linux-setup): write hostname to /etc/hosts
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
Labels: kind-bug, comp-jans-linux-setup

#8026 chore(docker): sync assets
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link

#8030 feat(documentstore): should throw relevant exception rather than dige…
  jans-core/document-store/src/main/java/io/jans/service/document/store/exception/DocumentException.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/exception/WriteDocumentException.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DBDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/JcaDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/LocalDocumentStoreProvider.java
Labels: comp-jans-core, kind-feature

#8038 fix: : bugs in admin-ui webhook #8018
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/webhook/ShortCodeRequest.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/webhook/WebhookResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/resources/example/webhook/get-all-webhooks.json
  jans-config-api/plugins/admin-ui-plugin/src/main/resources/example/webhook/get-webhook-by-feature-id.json
  jans-config-api/plugins/admin-ui-plugin/src/main/resources/example/webhook/post-webhook-response.json
  jans-config-api/plugins/admin-ui-plugin/src/main/resources/example/webhook/put-webhook.json
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
Labels: kind-bug, comp-jans-config-api

#8042 fix(jans-cli-tui): re-enable agama project config management
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
Labels: kind-bug, comp-jans-cli-tui

#8037 chore(jans-auth-server): fix typo build-oxauth-fips-war #8036
  jans-auth-server/server-fips/pom.xml
  jans-config-api/server-fips/pom.xml
Labels: kind-dependencies, comp-jans-auth-server, comp-jans-config-api

#8033 docs(jans-cli): upload test agama project
  docs/admin/config-guide/agama-configuration.md
  docs/assets/agama/journey-configs.json
  docs/assets/agama/journey.zip
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
Labels: area-documentation, comp-jans-cli-tui, comp-agama

#8054 fix(javadoc): fix javadoc generation due to `doclint` warnings
  jans-keycloak-link/pom.xml
  jans-link/pom.xml
  jans-lock/pom.xml
Labels: kind-bug, area-documentation

#8049 feat(docker): allow custom sql_data_types
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
Labels: kind-feature, comp-jans-pycloudlib

#8058 chore(deps): update pycloudlib requirement
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-saml/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one

#7993 docs: fix java docs and move it out
  .github/workflows/build-docs.yml
  automation/docs/add-javadocs-to-mkdocs.py
  automation/docs/generate-javadocs.sh
  mkdocs.yml
Labels: area-CI, area-documentation

#8071 feat: health-check should return starting if external authentication …
  jans-auth-server/server/src/main/java/io/jans/as/server/ws/rs/controller/HealthCheckController.java
Labels: comp-jans-auth-server, kind-feature

#8076 refactor(docs): update jans link naming in the docs and add to README
  README.md
  docs/admin/link/keycloak-link.md
  mkdocs.yml
Labels: kind-enhancement, area-documentation

#8092 fix(jans-cli-tui): if adminui permissons added do not display error
  jans-cli-tui/cli_tui/plugins/040_config_api/main.py
Labels: kind-bug, comp-jans-cli-tui, comp-jans-tui

#8096 feat(config-api): asset mgt endpoint
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/ApiAppConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/profiles/default/config-api-test.properties
  jans-config-api/profiles/jans-ui.jans.io/test.properties
  jans-config-api/profiles/jenkins-config-api.gluu.org/test.properties
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/configuration/AppInitializer.java
  jans-config-api/server/src/main/java/io/jans/configapi/interceptor/AuditLogInterceptor.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/form/AssetForm.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/health/ApiHealthCheck.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AssetResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ConfigurationService.java
  jans-config-api/server/src/main/java/io/jans/configapi/util/AuthUtil.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/server/src/main/resources/example/assets/get-all-asset.json
  jans-config-api/server/src/main/resources/example/assets/get-asset-by-inum.json
  jans-config-api/server/src/main/resources/example/assets/post-asset.json
  jans-config-api/server/src/main/resources/example/assets/put-asset.json
  jans-config-api/server/src/main/resources/example/openid-clients/clients/openid-clients-get-all.json
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
  jans-linux-setup/jans_setup/templates/base.ldif
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup

#8097 perf(jans-pycloudlib): destroy old secret version instead of disable
  docs/admin/kubernetes-ops/external-secrets-configmaps.md
  jans-pycloudlib/jans/pycloudlib/config/google_config.py
  jans-pycloudlib/jans/pycloudlib/secret/google_secret.py
Labels: kind-enhancement, area-documentation, comp-jans-pycloudlib

#8091 feat: implement account linking plugin
  docs/casa/index.md
  docs/casa/plugins/accts-linking/accts-linking-agama.md
  docs/casa/plugins/accts-linking/index.md
  jans-casa/app/src/main/java/io/jans/casa/core/PasswordStatusService.java
  jans-casa/plugins/acct-linking/extras/Casa.py
  jans-casa/plugins/acct-linking/extras/agama/code/io.jans.casa.acctlinking.Launcher.flow
  jans-casa/plugins/acct-linking/extras/agama/lib/io/jans/casa/acctlinking/Mappings.java
  jans-casa/plugins/acct-linking/extras/agama/lib/io/jans/casa/acctlinking/UidUtils.java
  jans-casa/plugins/acct-linking/extras/agama/project.json
  jans-casa/plugins/acct-linking/extras/agama/web/apple.png
  jans-casa/plugins/acct-linking/extras/agama/web/email-prompt.ftlh
  jans-casa/plugins/acct-linking/extras/agama/web/facebook.png
  jans-casa/plugins/acct-linking/extras/agama/web/github.png
  jans-casa/plugins/acct-linking/extras/agama/web/google.png
  jans-casa/plugins/acct-linking/extras/agama/web/none.png
  jans-casa/plugins/acct-linking/extras/login.xhtml
  jans-casa/plugins/acct-linking/pom.xml
  jans-casa/plugins/acct-linking/src/main/java/io/jans/casa/plugins/acctlinking/AccountsLinkingPlugin.java
  jans-casa/plugins/acct-linking/src/main/java/io/jans/casa/plugins/acctlinking/AccountsLinkingService.java
  jans-casa/plugins/acct-linking/src/main/java/io/jans/casa/plugins/acctlinking/extension/AdminMenu.java
  jans-casa/plugins/acct-linking/src/main/java/io/jans/casa/plugins/acctlinking/extension/UserMenu.java
  jans-casa/plugins/acct-linking/src/main/java/io/jans/casa/plugins/acctlinking/vm/AccountsLinkingSettingsVM.java
  jans-casa/plugins/acct-linking/src/main/java/io/jans/casa/plugins/acctlinking/vm/AccountsLinkingVM.java
  jans-casa/plugins/acct-linking/src/main/java/io/jans/casa/plugins/acctlinking/vm/SiteRedirectVM.java
  jans-casa/plugins/acct-linking/src/main/resources/assets/admin/al-settings.zul
  jans-casa/plugins/acct-linking/src/main/resources/assets/admin/menu.zul
  jans-casa/plugins/acct-linking/src/main/resources/assets/user/index.zul
  jans-casa/plugins/acct-linking/src/main/resources/assets/user/interlude.zul
  jans-casa/plugins/acct-linking/src/main/resources/assets/user/menu.zul
  jans-casa/plugins/acct-linking/src/main/resources/labels/zk-label.properties
  jans-casa/pom.xml
  mkdocs.yml
Labels: area-documentation, kind-feature, comp-agama

#8119 chore(deps): sync image assets and dependencies
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/requirements.txt
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-auth-server/scripts/entrypoint.sh
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/requirements.txt
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/requirements.txt
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/requirements.txt
  docker-jans-saml/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one

#8120 feat(fido2): allow to update device data in SG authentication respons…
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/SuperGluuExternalAuthenticator.py
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/sg/converter/AssertionSuperGluuController.java
  jans-orm/model/src/main/java/io/jans/orm/model/fido2/Fido2DeviceNotificationConf.java
  jans-orm/model/src/main/java/io/jans/orm/model/fido2/Fido2RegistrationEntry.java
Labels: comp-jans-fido2, comp-jans-orm, kind-feature

#8125 docs: fix versions
  docs/requirements.txt
Labels: area-documentation

#8130 fix: update deprecated scim sample script
  jans-linux-setup/jans_setup/static/extension/scim/SampleScript.py
Labels: kind-bug, comp-jans-linux-setup

#8135 fix(jans-cli-tui): typo in agama help popup
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
Labels: kind-bug, comp-jans-cli-tui

#8136 fix(jans-cli-tui): user management fixes
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#8133 feat: create help button for tarp #8132
  demos/jans-tarp/src/options/oidcClients.tsx
  demos/jans-tarp/src/static/tarpDocs1.png
  demos/jans-tarp/src/static/tarpDocs3.png
Labels: kind-feature

#8145 feat(fido2): allow to update device data in SG authentication respons…
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/SuperGluuExternalAuthenticator.py
Labels: kind-feature

#8150 fix(docs): add new OIDC SPEC to supported list
  docs/admin/auth-server/README.md
Labels: kind-bug, area-documentation

#8147 fix(docs): fix navigation for account linking
  docs/casa/plugins/accts-linking/account-linking-index.md
  mkdocs.yml
Labels: kind-bug, area-documentation

#8115 feat: add java memory arguments
  charts/janssen/charts/auth-server/templates/_helpers.tpl
  charts/janssen/charts/auth-server/templates/deployment.yml
  charts/janssen/charts/casa/templates/_helpers.tpl
  charts/janssen/charts/casa/templates/deployment.yaml
  charts/janssen/charts/config-api/templates/_helpers.tpl
  charts/janssen/charts/config-api/templates/deployment.yaml
  charts/janssen/charts/fido2/templates/_helpers.tpl
  charts/janssen/charts/fido2/templates/deployment.yml
  charts/janssen/charts/link/templates/_helpers.tpl
  charts/janssen/charts/link/templates/deployment.yaml
  charts/janssen/charts/saml/templates/_helpers.tpl
  charts/janssen/charts/saml/templates/deployment.yaml
  charts/janssen/charts/scim/templates/_helpers.tpl
  charts/janssen/charts/scim/templates/deployment.yml
  charts/janssen/values.yaml
Labels: kind-feature, comp-charts-jans

#8151 chore: sync SG script wrt latest updates
  jans-casa/extras/casa-external_super_gluu.py
Labels: kind-dependencies

#8156 docs(jans-casa): fix typo in accounts linking plugin
  docs/casa/plugins/accts-linking/account-linking-index.md
Labels: area-documentation

#8160 fix(jans-cli-tui): update plugin docs list
  jans-cli-tui/setup.py
Labels: kind-bug, comp-jans-cli-tui, comp-jans-tui

#8122 docs(system-requirements): update values centrally
  docs/admin/install/helm-install/amazon-eks.md
  docs/admin/install/helm-install/google-gke.md
  docs/admin/install/helm-install/local.md
  docs/admin/install/helm-install/microsoft-azure.md
  docs/includes/cn-system-requirements.md
  mkdocs.yml
Labels: area-documentation

#8129 refactor(docker-jans): unify mod_context.py scripts in OCI images
  docker-jans-auth-server/scripts/mod_context.py
  docker-jans-casa/scripts/mod_context.py
Labels: kind-enhancement, comp-docker-jans-auth-server

#8165 chore(jans-casa): use friendlier ID attribute for sample mappings of accts linking plugin
  jans-casa/plugins/acct-linking/extras/agama/lib/io/jans/casa/acctlinking/Mappings.java
Labels: kind-dependencies, comp-agama

#8144 feat(jans-auth-server): new HealthCheck custom sсript
  docs/admin/developer/interception-scripts.md
  docs/admin/developer/scripts/create-user.md
  docs/admin/developer/scripts/health-check.md
  docs/script-catalog/health_check/HealthCheck.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalCreateUserService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalHealthCheckService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ws/rs/controller/HealthCheckController.java
  jans-core/script/src/main/java/io/jans/model/custom/script/CustomScriptType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/health/DummyHealthCheck.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/health/HealthCheckType.java
Labels: area-documentation, comp-jans-auth-server, comp-jans-core, kind-feature

#8168 fix(monolith): update monolith version in compose files
  docker-jans-monolith/jans-ldap-compose.yml
  docker-jans-monolith/jans-mysql-compose.yml
  docker-jans-monolith/jans-postgres-compose.yml
Labels: kind-bug

#8167 feat(jans-core): add new Person attribute and models for jansAuthenti…
  jans-auth-server/common/src/main/java/io/jans/as/common/model/common/SimpleUser.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/common/User.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthenticationService.java
  jans-core/model/src/main/java/io/jans/model/user/authenticator/UserAuthenticator.java
  jans-core/model/src/main/java/io/jans/model/user/authenticator/UserAuthenticatorList.java
  jans-core/model/src/main/java/io/jans/model/user/authenticator/serialize/UserAuthenticatorDeserializer.java
  jans-core/model/src/main/java/io/jans/model/user/authenticator/serialize/UserAuthenticatorSerializer.java
  jans-orm/model/src/main/java/io/jans/orm/model/base/SimpleUser.java
  jans-orm/model/src/main/java/io/jans/orm/model/fido2/Fido2DeviceNotificationConf.java
Labels: comp-jans-auth-server, comp-jans-core, comp-jans-orm, kind-feature

#8171 docs: list external learning content
  docs/admin/reference/learning-reference.md
  mkdocs.yml
Labels: area-documentation

#8173 fix(jans-auth-server): extend attachDeviceRegistrationToUser method
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/fido2/RegistrationPersistenceService.java
Labels: kind-bug, comp-jans-auth-server

#8175 feat(jans-core): add new Person attribute and models for jansAuthenti…
  jans-orm/model/src/main/java/io/jans/orm/model/base/SimpleUser.java
Labels: comp-jans-core, comp-jans-orm, kind-feature

#8177 feat(jans-core): add new Person attribute and models for jansAuthenti…
  jans-auth-server/common/src/main/java/io/jans/as/common/model/common/User.java
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/UserService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthenticationService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenCreatorService.java
  jans-core/model/src/main/java/io/jans/model/user/SimpleUser.java
  jans-orm/couchbase-sample/src/main/java/io/jans/orm/couchbase/CouchbaseAuthenticationSample.java
  jans-orm/couchbase-sample/src/main/java/io/jans/orm/couchbase/CouchbaseScimSubstringSearchSample.java
  jans-orm/sql-sample/src/main/java/io/jans/orm/sql/SqlScimSubstringSearchSample.java
  jans-scim/service/src/main/java/io/jans/scim/service/PersonService.java
Labels: comp-jans-auth-server, comp-jans-core, comp-jans-orm, comp-jans-scim, kind-feature

#8182 fix(docker): resolve jansMessageConf value upon upgrade
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#8179 fix(jans-aio): adjust config-api port
  charts/janssen-all-in-one/templates/nginx-ingress.yaml
Labels: kind-bug, comp-charts-jans

#8183 feat(jans-core): add new Person attribute and models for jansAuthenti…
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/ExternalIdGeneratorService.java
  jans-auth-server/common/src/test/java/io/jans/as/common/service/common/UserServiceTest.java
  jans-core/model/src/main/java/io/jans/model/user/SimpleUser.java
  jans-core/service/src/main/java/io/jans/service/UserAuthenticatorService.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: comp-jans-auth-server, comp-jans-core, kind-feature, comp-jans-linux-setup
