Repository JanssenProject/jans, pull requests merged in 2024-12, with the labels that each got.

#10305 feat(jans-cli-tui): user fido devices
  docs/assets/tui-ser-fido-device-list.png
  docs/assets/tui-user-change-password.png
  docs/janssen-server/fido/README.md
  docs/janssen-server/usermgmt/usermgmt-cli-tui.md
  jans-cli-tui/cli_tui/plugins/070_users/fido_entries.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
  jans-cli-tui/cli_tui/wui_components/jans_cli_dialog.py
  jans-cli-tui/cli_tui/wui_components/jans_dialog_with_nav.py
  jans-cli-tui/cli_tui/wui_components/jans_vetrical_nav.py
Labels: area-documentation, comp-jans-cli-tui, kind-feature, comp-docs

#10306 feat(jans-cedarling): implement new bootstrap configs for JWT validation
  docs/cedarling/cedarling-properties.md
  jans-cedarling/bindings/cedarling_python/PYTHON_TYPES.md
  jans-cedarling/bindings/cedarling_python/src/authorize/errors.rs
  jans-cedarling/bindings/cedarling_python/src/config/bootstrap_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/jwt_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/mod.rs
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/src/authz/authorize_result.rs
  jans-cedarling/cedarling/src/authz/entities/mod.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/jwt_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/common/cedar_schema/cedar_json.rs
  jans-cedarling/cedarling/src/common/cedar_schema/mod.rs
  jans-cedarling/cedarling/src/init/service_config.rs
  jans-cedarling/cedarling/src/init/service_factory.rs
  jans-cedarling/cedarling/src/jwt/README.md
  jans-cedarling/cedarling/src/jwt/decoding_strategy.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/error.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/key_service.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/key_service/error.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/key_service/openid_config.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/open_id_storage.rs
  jans-cedarling/cedarling/src/jwt/error.rs
  jans-cedarling/cedarling/src/jwt/http_client.rs
  jans-cedarling/cedarling/src/jwt/issuers_store.rs
  jans-cedarling/cedarling/src/jwt/jwk_store.rs
  jans-cedarling/cedarling/src/jwt/jwt_service_config.rs
  jans-cedarling/cedarling/src/jwt/key_service.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/jwt/test.rs
  jans-cedarling/cedarling/src/jwt/test/utils.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/access_token.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/id_token.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/key_service.rs
  jans-cedarling/cedarling/src/jwt/test/with_validation/userinfo_token.rs
  jans-cedarling/cedarling/src/jwt/test/without_validation.rs
  jans-cedarling/cedarling/src/jwt/test_utils.rs
  jans-cedarling/cedarling/src/jwt/token.rs
  jans-cedarling/cedarling/src/jwt/validator.rs
  jans-cedarling/cedarling/src/jwt/validator/config.rs
  jans-cedarling/cedarling/src/jwt/validator/test.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#10308 fix(jans-cedarling): update example authorize_without_jwt_validation
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
Labels: kind-bug, comp-jans-cedarling

#10313 feat: add programatic access to labels in Agama
  docs/janssen-server/developer/agama/faq.md
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/LabelsService.java
  jans-casa/plugins/email_2fa/pom.xml
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-agama, comp-docs, comp-jans-casa

#10324 chore(jans-cedarling): add missing license headers
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/print_documentation.py
  jans-cedarling/bindings/cedarling_python/tests/test_authorize.py
  jans-cedarling/bindings/cedarling_python/tests/test_logger.py
  jans-cedarling/bindings/cedarling_python/tests/test_policy_store.py
  jans-cedarling/cedarling/src/common/cedar_schema/mod.rs
  jans-cedarling/cedarling/src/common/policy_store/test.rs
  jans-cedarling/test_files/agama-store.yaml
  jans-cedarling/test_files/agama-store_2.yaml
  jans-cedarling/test_files/bootstrap_props.yaml
  jans-cedarling/test_files/policy-store_ok.yaml
  jans-cedarling/test_files/policy-store_ok_2.yaml
  jans-cedarling/test_files/policy-store_ok_namespace_Jans2.yaml
  jans-cedarling/test_files/policy-store_policy_err_broken_policy.yaml
  jans-cedarling/test_files/policy-store_readable.yaml
  jans-cedarling/test_files/policy-store_schema_err.yaml
  jans-cedarling/test_files/policy-store_schema_err_cedar_mistake.yaml
  jans-cedarling/test_files/policy-store_with_multiple_role_mappings_err.yaml
  jans-cedarling/test_files/policy-store_with_trusted_issuers_ok.yaml
  jans-cedarling/test_utils/src/lib.rs
  jans-cedarling/test_utils/src/sort_json.rs
Labels: kind-dependencies, comp-jans-cedarling

#10270 feat(jans-cedarling): initialize flask sidecar
  .github/workflows/build-docker-image.yml
  .github/workflows/build-packages.yml
  jans-cedarling/bindings/cedarling_python/pyproject.toml
  jans-cedarling/flask-sidecar/Dockerfile
  jans-cedarling/flask-sidecar/README.md
  jans-cedarling/flask-sidecar/docker-compose.yml
  jans-cedarling/flask-sidecar/docker-entrypoint.sh
  jans-cedarling/flask-sidecar/flask-sidecar.yml
  jans-cedarling/flask-sidecar/gunicorn_logging.conf
  jans-cedarling/flask-sidecar/main/__init__.py
  jans-cedarling/flask-sidecar/main/app.py
  jans-cedarling/flask-sidecar/main/base/cedarling/__init__.py
  jans-cedarling/flask-sidecar/main/base/cedarling/cedarling.py
  jans-cedarling/flask-sidecar/main/config.py
  jans-cedarling/flask-sidecar/main/core.py
  jans-cedarling/flask-sidecar/main/extensions/__init__.py
  jans-cedarling/flask-sidecar/main/extensions/routes_extension.py
  jans-cedarling/flask-sidecar/main/logger.py
  jans-cedarling/flask-sidecar/main/v1/__init__.py
  jans-cedarling/flask-sidecar/main/v1/resource.py
  jans-cedarling/flask-sidecar/main/v1/schema.py
  jans-cedarling/flask-sidecar/poetry.lock
  jans-cedarling/flask-sidecar/pyproject.toml
  jans-cedarling/flask-sidecar/tox.ini
Labels: area-documentation, kind-feature, comp-jans-cedarling

#10335 feat(jans-linux-setup): Retreive Agama Lab project scripts
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/static/scripts/get_agama_lab_projects.py
Labels: kind-feature, comp-jans-linux-setup

#10336 feat(jans-cedarling): implement loading policy store from CEDARLING_POLICY_STORE_URI
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/src/config/bootstrap_config.rs
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/src/authz/authorize_result.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/policy_store_config.rs
  jans-cedarling/cedarling/src/http/blocking.rs
  jans-cedarling/cedarling/src/http/mod.rs
  jans-cedarling/cedarling/src/http/wasm.rs
  jans-cedarling/cedarling/src/init/policy_store.rs
  jans-cedarling/cedarling/src/jwt/jwk_store.rs
  jans-cedarling/cedarling/src/jwt/key_service.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/test_files/policy-store_lock_master_ok.json
Labels: kind-feature, comp-jans-cedarling

#10322 refactor(jans-cedarling): improve ServiceFactory error handling
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/init/service_factory.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/lib.rs
Labels: kind-enhancement, comp-jans-cedarling

#10344 docs(jans-cedarling): add cedarling docs
  docs/cedarling/cedarling-logs.md
  docs/cedarling/cedarling-properties.md
  docs/cedarling/python/sidecar.md
  jans-cedarling/flask-sidecar/README.md
  jans-cedarling/flask-sidecar/main/base/cedarling/cedarling.py
  jans-cedarling/flask-sidecar/main/config.py
  jans-cedarling/flask-sidecar/main/logger.py
  jans-cedarling/flask-sidecar/secrets/bootstrap.json
  mkdocs.yml
Labels: area-documentation, comp-jans-cedarling

#10321 feat(jans-auth-server): introduce `/.well-known/authzen-configuration` endpoint
  docs/janssen-server/auth-server/endpoints/access-evaluation.md
  docs/janssen-server/developer/interception-scripts.md
  docs/janssen-server/developer/scripts/README.md
  docs/script-catalog/access_evaluation/AccessEvaluationDiscovery.java
  docs/script-catalog/access_evaluation/access-evaluation-discovery.md
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authzen/ws/rs/AccessEvaluationDiscoveryService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authzen/ws/rs/AccessEvaluationDiscoveryWS.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/DiscoveryService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/LocalResponseCache.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ResteasyInitializer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalAccessEvaluationDiscoveryService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/LocalResponseCacheTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/TestResteasyInitializer.java
  jans-core/script/src/main/java/io/jans/model/custom/script/CustomScriptType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/authzen/AccessEvaluationDiscoveryType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/authzen/DummyAccessEvaluationDiscoveryType.java
  jans-linux-setup/jans_setup/templates/apache/https_jans.conf
Labels: area-documentation, comp-jans-auth-server, kind-feature

#10338 feat (jans-cedarling): Create Decision Log optimized for Centralized Log Storage
  docs/cedarling/cedarling-logs.md
  docs/cedarling/cedarling-properties.md
  jans-cedarling/bindings/cedarling_python/PYTHON_TYPES.md
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/src/authorize/diagnostics.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/errors.rs
  jans-cedarling/bindings/cedarling_python/src/config/bootstrap_config.rs
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/src/authz/authorize_result.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/authz/token_data.rs
  jans-cedarling/cedarling/src/bootstrap_config/authorization_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/common/mod.rs
  jans-cedarling/cedarling/src/common/policy_store.rs
  jans-cedarling/cedarling/src/init/policy_store.rs
  jans-cedarling/cedarling/src/init/service_config.rs
  jans-cedarling/cedarling/src/init/service_factory.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/log/interface.rs
  jans-cedarling/cedarling/src/log/log_entry.rs
  jans-cedarling/cedarling/src/log/log_strategy.rs
  jans-cedarling/cedarling/src/log/memory_logger.rs
  jans-cedarling/cedarling/src/log/mod.rs
  jans-cedarling/cedarling/src/log/nop_logger.rs
  jans-cedarling/cedarling/src/log/stdout_logger.rs
  jans-cedarling/cedarling/src/log/test.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_different_principals.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#10346 Jans ext uid test
  jans-auth-server/pom.xml
  jans-auth-server/server/pom.xml
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/db/UserJansExtUidAttributeTest.java
  jans-bom/pom.xml
  jans-core/model/src/main/java/io/jans/model/user/SimpleUser.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlEntryManager.java
Labels: comp-jans-auth-server, comp-jans-config-api, comp-jans-core, comp-jans-orm, comp-jans-bom, comp-docs

#10359 chore(jans-cedarling): update schema for optional fields
  jans-cedarling/schema/cedarling_core.cedarschema
  jans-cedarling/schema/cedarling_core.json
Labels: kind-dependencies, comp-jans-cedarling

#10341 feat(jans-linux-setup): location of service scripts, config-api plugins
  docs/janssen-server/install/setup.md
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/base.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_link.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/setup_app/installers/scim.py
  jans-linux-setup/jans_setup/static/system/systemd/jans-auth.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-casa.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-config-api.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-fido2.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-keycloak-link.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-link.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-lock.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-scim.service
Labels: area-documentation, kind-feature, comp-jans-linux-setup, comp-docs

#10365 fix(jans-linux-setup): auth server test configuration
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/templates/test/jans-auth/server/config-jans-auth-test-sql.properties.nrnd
Labels: kind-bug, comp-jans-linux-setup

#10361 fix(jans-cedarling): fix sidecar docker
  .github/workflows/build-packages.yml
  jans-cedarling/flask-sidecar/Dockerfile
Labels: kind-bug, comp-jans-cedarling

#10373 feat(config-api): implemenetd agama repo endpoint and fixed user pwd validation for patch
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/webhook/WebhookService.java
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/profiles/default/config-api-test.properties
  jans-config-api/profiles/jans-ui.jans.io/test.properties
  jans-config-api/profiles/jenkins-config-api.gluu.org/test.properties
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaRepoResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaRepoService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/status/StatusCheckerTimer.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
Labels: comp-jans-config-api, kind-feature, comp-docs

#10358 feat(jans-cedarling): add support for Cedar schema action introspection
  jans-cedarling/cedarling/src/common/cedar_schema/cedar_json.rs
  jans-cedarling/cedarling/src/common/cedar_schema/cedar_json/action.rs
Labels: kind-feature, comp-jans-cedarling

#10367 chore(cloud-native): add authzen-configuration endpoint
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/nginx-ingress.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/README.md
  charts/janssen/charts/auth-server/README.md
  charts/janssen/charts/auth-server/templates/auth-server-virtual-services.yaml
  charts/janssen/charts/casa/README.md
  charts/janssen/charts/cn-istio-ingress/README.md
  charts/janssen/charts/config-api/README.md
  charts/janssen/charts/config/README.md
  charts/janssen/charts/fido2/README.md
  charts/janssen/charts/kc-scheduler/README.md
  charts/janssen/charts/link/README.md
  charts/janssen/charts/nginx-ingress/README.md
  charts/janssen/charts/nginx-ingress/templates/ingress.yaml
  charts/janssen/charts/persistence/README.md
  charts/janssen/charts/saml/README.md
  charts/janssen/charts/scim/README.md
  charts/janssen/values.yaml
  docker-jans-auth-server/Dockerfile
Labels: kind-dependencies, comp-docker-jans-auth-server, area-documentation, comp-charts-jans

#10357 chore(cloud-native): add script to retrieve agama projects
  docker-jans-all-in-one/Dockerfile
  docker-jans-config-api/Dockerfile
Labels: kind-dependencies, comp-docker-jans-config-api, comp-docker-jans-all-in-one

#10379 feat(jans-auth-server): access token lifetime from UpdateToken interception script has highest priority #9748
  docs/script-catalog/update_token/update-token.md
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AbstractAuthorizationGrant.java
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-docs

#10370 docs(automation): skip generating version footer when using helm-docs
  automation/docs/generated-cn-docs.sh
Labels: area-CI, area-documentation, comp-docs

#10350 refactor(jans-cedarling): BootstrapConfig loading in python bindings
  jans-cedarling/bindings/cedarling_python/PYTHON_TYPES.md
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/example_files/sample_bootstrap_props.yaml
  jans-cedarling/bindings/cedarling_python/src/cedarling.rs
  jans-cedarling/bindings/cedarling_python/src/config/bootstrap_config.rs
  jans-cedarling/bindings/cedarling_python/tests/config.py
  jans-cedarling/bindings/cedarling_python/tests/test_authorize.py
  jans-cedarling/bindings/cedarling_python/tests/test_logger.py
  jans-cedarling/bindings/cedarling_python/tests/test_policy_store.py
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/jwt/key_service.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
  jans-cedarling/test_files/bootstrap_props.json
  jans-cedarling/test_files/bootstrap_props.yaml
  jans-cedarling/test_files/local_jwks.json
Labels: kind-enhancement, area-documentation, comp-jans-cedarling

#10377 feat (jans-cedarling): Use bootstrap MAPPING properties to map Core Cedar entities
  docs/cedarling/cedarling-properties.md
  jans-cedarling/bindings/cedarling_python/PYTHON_TYPES.md
  jans-cedarling/bindings/cedarling_python/src/authorize/errors.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/src/authz/entities/create.rs
  jans-cedarling/cedarling/src/authz/entities/mod.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/authorization_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_different_principals.rs
  jans-cedarling/cedarling/src/tests/mapping_entities.rs
  jans-cedarling/cedarling/src/tests/mod.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
  jans-cedarling/test_files/policy-store_entity_mapping.yaml
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#10383 chore(jans-cedarling): switch sidecar to debian
  jans-cedarling/flask-sidecar/Dockerfile
  jans-cedarling/flask-sidecar/secrets/bootstrap.json
Labels: kind-dependencies, comp-jans-cedarling

#10363 fix(actions): microk8s action passing correct arguments
  .github/workflows/test-microk8s.yml
  docs/contribute/ci-cd/release-process.md
Labels: kind-bug, area-documentation, comp-docs

#10376 refactor(jans-pycloudlib): simplify classes and methods for locking
  jans-pycloudlib/jans/pycloudlib/lock/__init__.py
  jans-pycloudlib/jans/pycloudlib/lock/sql_lock.py
  jans-pycloudlib/jans/pycloudlib/manager.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
Labels: kind-enhancement, comp-jans-pycloudlib

#10389 fix(jans-linux-setup): config-api plugin installation
  jans-linux-setup/jans_setup/setup_app/installers/jans_keycloak_link.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
Labels: kind-bug, comp-jans-linux-setup

#10391 fix(jans-linux-setup): download from tags
  jans-linux-setup/jans_setup/install.py
Labels: kind-bug, comp-jans-linux-setup

#10397 chore(jans-cedarling): update dockerfile flask jans version
  jans-cedarling/flask-sidecar/Dockerfile
Labels: kind-dependencies, comp-jans-cedarling

#10395 chore(jans-cedarling): update schema for role principals
  jans-cedarling/flask-sidecar/secrets/bootstrap.json
  jans-cedarling/schema/cedarling_core.cedarschema
  jans-cedarling/schema/cedarling_core.json
Labels: kind-dependencies, comp-jans-cedarling

#10402 feat (jans-cedarling): Add CEDARLING_LOG_LEVEL bootstrap property
  docs/cedarling/cedarling-logs.md
  docs/cedarling/cedarling-properties.md
  docs/cedarling/python/usage.md
  jans-cedarling/bindings/cedarling_python/example_files/sample_bootstrap_props.yaml
  jans-cedarling/bindings/cedarling_python/src/config/bootstrap_config.rs
  jans-cedarling/bindings/cedarling_python/tests/config.py
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/log_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/log/interface.rs
  jans-cedarling/cedarling/src/log/log_entry.rs
  jans-cedarling/cedarling/src/log/log_level.rs
  jans-cedarling/cedarling/src/log/log_strategy.rs
  jans-cedarling/cedarling/src/log/memory_logger.rs
  jans-cedarling/cedarling/src/log/mod.rs
  jans-cedarling/cedarling/src/log/stdout_logger.rs
  jans-cedarling/cedarling/src/log/test.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
  jans-cedarling/test_files/bootstrap_props.json
  jans-cedarling/test_files/bootstrap_props.yaml
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#10411 fix(jans-cli-tui): properties object with no keys
  jans-cli-tui/cli_tui/plugins/010_auth_server/view_property.py
Labels: kind-bug, comp-jans-cli-tui

#10339 Created new WebAuthn configuration controller that returns an origins array list
  docs/janssen-server/fido/config.md
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/ResteasyInitializer.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/WebAuthnController.java
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
  jans-linux-setup/jans_setup/templates/apache/https_jans.conf
  jans-linux-setup/jans_setup/templates/jetty/jans-fido2
Labels: comp-docker-jans-fido2, area-documentation, comp-jans-auth-server, comp-jans-cli-tui, comp-jans-config-api, comp-jans-core, comp-jans-fido2, comp-docs, comp-jans-casa

#10415 Resolve Dependency Issue #10080
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/AuthenticationPersistenceService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/CommonVerifiers.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/AssertionController.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/AttestationController.java
Labels: comp-jans-fido2

#10405 feat: add internationalization in selector page
  agama/transpiler/pom.xml
  docs/casa/developer/add-authn-methods.md
  docs/casa/developer/overview.md
  docs/casa/plugins/email-otp.md
  jans-casa/agama/project/project.json
  jans-casa/agama/project/web/authn/code.ftlh
  jans-casa/agama/project/web/authn/fido-authn.ftlh
  jans-casa/agama/project/web/authn/sg/code-scan.ftlh
  jans-casa/agama/project/web/authn/sg/notification.ftlh
  jans-casa/agama/project/web/authn/sms.ftlh
  jans-casa/agama/project/web/authn/sms_prompt.ftlh
  jans-casa/agama/project/web/commons.ftlh
  jans-casa/agama/project/web/labels.txt
  jans-casa/agama/project/web/main.ftlh
  jans-casa/agama/project/web/selector.ftlh
  jans-casa/plugins/acct-linking/agama/project/web/acctlinking.ftlh
  jans-casa/plugins/acct-linking/agama/project/web/labels.txt
  jans-casa/plugins/email_2fa/agama/project/web/labels.txt
  jans-casa/plugins/email_2fa/agama/project/web/otp-email-prompt.ftlh
  jans-casa/plugins/email_2fa/agama/project/web/otp-email.ftlh
  jans-casa/plugins/samples/sample-cred/agama/web/labels.txt
Labels: area-documentation, kind-feature, comp-agama, comp-docs, comp-jans-casa

#10381 refactor(cloud-native): remove self-mounted password files for locking and persistence
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/auth_conf.py
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-casa/Dockerfile
  docker-jans-casa/scripts/bootstrap.py
  docker-jans-casa/scripts/upgrade.py
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/scripts/bootstrap.py
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/scripts/bootstrap.py
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-fido2/scripts/upgrade.py
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/scripts/bootstrap.py
  docker-jans-keycloak-link/scripts/upgrade.py
  docker-jans-link/Dockerfile
  docker-jans-link/scripts/bootstrap.py
  docker-jans-link/scripts/upgrade.py
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/bootstrap.py
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-saml/scripts/configure_kc.py
  docker-jans-saml/scripts/entrypoint.sh
  docker-jans-saml/scripts/upgrade.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/scripts/bootstrap.py
  docker-jans-scim/scripts/upgrade.py
Labels: kind-enhancement, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one, comp-docker-jans-casa, comp-docker-jans-kc-scheduler, comp-docker-jans-saml

#10423 chore(cloud-native): sync fido2 assets and configuration
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/nginx-ingress.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/fido2/templates/fido2-virtual-services.yaml
  charts/janssen/charts/nginx-ingress/templates/ingress.yaml
  charts/janssen/values.yaml
  docker-jans-all-in-one/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-fido2/scripts/upgrade.py
Labels: kind-dependencies, comp-docker-jans-fido2, area-documentation, comp-charts-jans

#10431 fix(jans-cedarling): add handling nonexistent authorization decisions
  jans-cedarling/flask-sidecar/main/base/cedarling/cedarling.py
Labels: kind-bug, comp-jans-cedarling

#10387 feat(jans-cedarling): automatically add entity references into the context
  docs/cedarling/cedarling-authz.md
  jans-cedarling/bindings/cedarling_python/src/authorize/errors.rs
  jans-cedarling/cedarling/src/authz/entities/mod.rs
  jans-cedarling/cedarling/src/authz/merge_json.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/common/cedar_schema/cedar_json.rs
  jans-cedarling/cedarling/src/common/cedar_schema/cedar_json/action.rs
  jans-cedarling/cedarling/src/common/cedar_schema/cedar_json/entity_types.rs
  jans-cedarling/cedarling/src/common/cedar_schema/test_files/test_schema.json
  jans-cedarling/cedarling/src/tests/cases_authorize_without_check_jwt.rs
  jans-cedarling/test_files/policy-store_ok.yaml
  jans-cedarling/test_files/policy-store_ok_2.yaml
  jans-cedarling/test_files/policy-store_ok_abac.yaml
  jans-cedarling/test_files/policy-store_ok_namespace_Jans2.yaml
Labels: comp-jans-cedarling

#10419 chore: update codeowners
  .github/CODEOWNERS
Labels: kind-dependencies, area-CI

#10441 fix(config-api): user password being displayed as clear text
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/model/user/CustomUser.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/model/user/UserPatchRequest.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/server/src/main/java/io/jans/configapi/interceptor/AuditLogInterceptor.java
Labels: kind-bug, comp-jans-config-api, comp-docs

#10444 chore(docker-jans-config-api): add external script to poll components healthcheck
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/external_healthcheck.py
Labels: kind-dependencies, comp-docker-jans-config-api

#10450 fix(docker-jans-config-api): resolve path to external healthcheck script
  docker-jans-config-api/.dockerignore
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/contrib/external_healthcheck.py
Labels: kind-bug, comp-docker-jans-config-api

#10446 fix(jans-auth): #10445 modified the script and properties file
  docs/script-catalog/person_authentication/fido2-external-authenticator/Fido2ExternalAuthenticator.py
  jans-auth-server/server/src/main/resources/jans-auth.properties
  jans-auth-server/server/src/main/webapp/auth/fido2/login.xhtml
  jans-auth-server/server/src/main/webapp/auth/fido2/passkeys.xhtml
Labels: kind-bug, comp-jans-auth-server, comp-docs

#10456 fix(jans-cli-tui): update user password
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui

#10458 refactor(docker-jans-persistence-loader): remove unnecessary smtp config upgrade
  docker-jans-all-in-one/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: kind-enhancement, comp-docker-jans-persistence-loader, comp-docker-jans-all-in-one

#10448 Htmlunit update
  jans-auth-server/server/pom.xml
  jans-bom/pom.xml
Labels: comp-jans-auth-server, comp-jans-bom

#10435 feat(jans-cedarling): add well-known authzen configuration endpoint
  jans-cedarling/flask-sidecar/flask-sidecar.yml
  jans-cedarling/flask-sidecar/main/extensions/routes_extension.py
  jans-cedarling/flask-sidecar/main/v1/resource.py
  jans-cedarling/flask-sidecar/main/v1/schema.py
  jans-cedarling/flask-sidecar/secrets/bootstrap.json
Labels: kind-feature, comp-jans-cedarling

#10422 feat(jans-cedarling): implement loading role from many JWT tokens
  docs/cedarling/cedarling-policy-store.md
  jans-cedarling/cedarling/src/authz/entities/mod.rs
  jans-cedarling/cedarling/src/common/policy_store.rs
  jans-cedarling/cedarling/src/tests/mapping_entities.rs
  jans-cedarling/test_files/policy-store_entity_mapping.yaml
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#10452 chore(charts): values.schema.json conform to latest values.yaml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
Labels: kind-dependencies, comp-charts-jans

#10459 fix(cloud-native): applications are failing to start when prometheus metrics are enabled
  docker-jans-all-in-one/app/bin/entrypoint.sh
  docker-jans-auth-server/scripts/entrypoint.sh
  docker-jans-casa/Dockerfile
  docker-jans-casa/scripts/entrypoint.sh
  docker-jans-config-api/scripts/entrypoint.sh
  docker-jans-fido2/scripts/entrypoint.sh
  docker-jans-keycloak-link/scripts/entrypoint.sh
  docker-jans-link/scripts/entrypoint.sh
  docker-jans-scim/scripts/entrypoint.sh
Labels: kind-bug, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-casa

#10463 feat(config-api): agama download endpoint
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaRepoResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaRepoService.java
Labels: comp-jans-config-api, kind-feature, comp-docs

#10464 feat(jans-agama): update htmlunit
  jans-auth-server/agama/engine/pom.xml
Labels: comp-jans-auth-server, kind-feature, comp-agama

#10439 Update suse.md document for package name
  docs/janssen-server/install/vm-install/suse.md
Labels: area-documentation, comp-docs

#10468 feat(jans-linux-setup): jans-fido2-model auth lib
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
Labels: kind-enhancement, kind-feature, comp-jans-linux-setup

#10473 fix(jans-casa): enrollment of a passkey implies the enrollment…
  jans-casa/app/src/main/java/io/jans/casa/core/PersistenceService.java
  jans-casa/app/src/main/java/io/jans/casa/core/model/Fido2RegistrationData.java
  jans-casa/app/src/main/java/io/jans/casa/core/model/Fido2RegistrationEntry.java
  jans-casa/app/src/main/java/io/jans/casa/core/pojo/FidoDevice.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/PasskeysExtension.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/rs/PasskeysEnrollingWS.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/Fido2Service.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/user/PasskeysViewModel.java
  jans-casa/app/src/main/resources/labels/user.properties
  jans-casa/app/src/main/webapp/user/fido2-detail.zul
Labels: kind-bug, comp-jans-casa

#10442 feat(jans-auth-server): updated first party native authn implementation ( in backwards compatibility way) #10380
  docs/janssen-server/auth-server/endpoints/authorization-challenge.md
  docs/janssen-server/auth-server/oauth-features/README.md
  docs/script-catalog/authorization_challenge/AuthorizationChallenge.java
  docs/script-catalog/authorization_challenge/authorization-challenge.md
  jans-auth-server/common/src/main/java/io/jans/as/common/model/session/AuthorizationChallengeSessionAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/DpopService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeEndpoint.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeSessionService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AbstractAuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrantList.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidatorTest.java
  jans-core/service/src/main/java/io/jans/model/token/TokenAttributes.java
Labels: comp-jans-auth-server, kind-feature

#10478 chore(cloud-native): update assets and dependencies of OCI images
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-monolith, comp-docker-jans-link, comp-docker-jans-all-in-one, comp-docker-jans-casa, comp-docker-jans-kc-scheduler, comp-docker-jans-saml

#10480 fix(jans-casa) : FIDO authentication related fixes. #10472
  jans-casa/agama/project/lib/io/jans/casa/authn/FidoValidator.java
Labels: kind-bug, comp-agama, comp-jans-casa

#10481 fix(docker-jans-monolith): update scripts location
  docker-jans-monolith/Dockerfile
  docker-jans-monolith/scripts/entrypoint.sh
  docs/janssen-server/install/docker-install/compose.md
Labels: kind-bug, area-documentation, comp-docker-jans-monolith, comp-docs

#10412 fix(jans-fido2) : #10080 fixed dependencies
  jans-fido2/client/pom.xml
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/AssertionController.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/AttestationController.java
Labels: kind-bug, comp-jans-fido2

#10493 docs(jans-cedarling): update schema
  jans-cedarling/schema/cedarling_core.cedarschema
  jans-cedarling/schema/cedarling_core.json
Labels: area-documentation, comp-jans-cedarling

#10503 fix: add missing file
  jans-casa/app/src/main/java/io/jans/casa/core/pojo/MultideviceAuthenticator.java
Labels: kind-bug, comp-jans-casa

#10490 chore(main): release 1.2.0
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#10526 Update ubuntu.md for stable release
  docs/janssen-server/install/vm-install/ubuntu.md
Labels: area-documentation, comp-docs

#10528 Update rhel.md for stable release
  docs/janssen-server/install/vm-install/rhel.md
  docs/janssen-server/install/vm-install/suse.md
Labels: area-documentation, comp-docs

#10530 ci(workflows): fix conditional in build docs
  .github/workflows/build-docs.yml
Labels: area-CI

#10522 fix(docker-jans-persistence-loader): exclude external tables when creating indexes
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/sql_setup.py
Labels: kind-bug, comp-docker-jans-persistence-loader

#10531 fix(startjanssendemo): remove unneeded code and packages installation
  automation/startjanssendemo.sh
  docs/includes/cn-system-requirements.md
Labels: kind-bug, area-CI, area-documentation, comp-docs
