Repository JanssenProject/jans, pull requests merged in 2024-05, with the labels that each got.

#8422 chore(jans-keycloak-integration): modifications to keycloak scheduler configuration file #8421
  jans-keycloak-integration/job-scheduler/src/main/resources/config.properties.sample
Labels: kind-dependencies

#8424 feat(jans-auth-server): uppercased typ=JWT
  jans-auth-server/model/src/main/java/io/jans/as/model/jwt/JwtType.java
  jans-auth-server/model/src/test/java/io/jans/as/model/jwt/JwtTypeTest.java
Labels: comp-jans-auth-server, kind-feature

#8436 feat(jans-keycloak-integration): add kc scheduler service #8343
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/App.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/TrustRelationshipSyncJob.java
  jans-keycloak-integration/pom.xml
Labels: kind-feature

#8438 chore(jans-linux-setup): added password grantType to grantTypesSupportedByDynamicRegistration
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: kind-dependencies, comp-jans-linux-setup

#8425 feat(jans-linux-setup): keycloak scheduler service
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
  jans-linux-setup/jans_setup/setup_app/utils/setup_utils.py
  jans-linux-setup/jans_setup/static/system/systemd/kc-scheduler.service
  jans-linux-setup/jans_setup/templates/jans-saml/kc-scheduler/kc-scheduler-cron
  jans-linux-setup/jans_setup/templates/jans-saml/kc-scheduler/kc-scheduler.sh
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.api-user.json
Labels: kind-feature, comp-jans-linux-setup

#8454 feat(jans-keycloak-integration): keycloak scheduler integration #8343
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/App.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/TrustRelationshipSyncJob.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/config/AppConfiguration.java
  jans-keycloak-integration/job-scheduler/src/main/resources/config.properties.sample
Labels: kind-feature

#8459 feat(jans-core): improve compatibility to allow get jansExtUid value …
  jans-core/model/src/main/java/io/jans/model/user/SimpleUser.java
Labels: comp-jans-core, kind-feature

#8462 feat(jans-core): improve compatibility to allow get jansExtUid value …
  jans-core/model/src/main/java/io/jans/model/user/SimpleUser.java
Labels: comp-jans-core, kind-feature

#8440 chore(docker-jans-persistence-loader): added password grantType to grantTypesSupportedByDynamicRegistration
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
Labels: kind-dependencies, comp-docker-jans-persistence-loader

#8470 feat(jans-cli-tui): implement assets
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/plugins/130_assets/.enabled
  jans-cli-tui/cli_tui/plugins/130_assets/__init__.py
  jans-cli-tui/cli_tui/plugins/130_assets/main.py
Labels: comp-jans-cli-tui, kind-feature

#8469 docs: fix broken links and add missing tags
  docs/admin/developer/agama/faq.md
  docs/casa/administration/faq.md
  docs/casa/plugins/2fa-settings.md
  docs/casa/plugins/bioid.md
  docs/casa/plugins/consent-management.md
  docs/casa/plugins/custom-branding.md
Labels: area-documentation, comp-agama

#8483 fix(jans-cli-tui): Transaction Token properties to TUI client panel
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
Labels: kind-bug, comp-jans-cli-tui, kind-feature

#8423 feat(cloud-native): add support for keycloak scheduler
  .github/dependabot.yml
  .github/workflows/docker_build_image.yml
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/cronjobs.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/Chart.yaml
  charts/janssen/README.md
  charts/janssen/charts/kc-scheduler/.helmignore
  charts/janssen/charts/kc-scheduler/Chart.yaml
  charts/janssen/charts/kc-scheduler/README.md
  charts/janssen/charts/kc-scheduler/templates/_helpers.tpl
  charts/janssen/charts/kc-scheduler/templates/cronjobs.yaml
  charts/janssen/charts/kc-scheduler/templates/service.yaml
  charts/janssen/charts/kc-scheduler/templates/user-custom-secret-envs.yaml
  charts/janssen/charts/kc-scheduler/values.yaml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
  docker-jans-kc-scheduler/.dockerignore
  docker-jans-kc-scheduler/.hadolint.yaml
  docker-jans-kc-scheduler/CHANGELOG.md
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-kc-scheduler/LICENSE
  docker-jans-kc-scheduler/Makefile
  docker-jans-kc-scheduler/README.md
  docker-jans-kc-scheduler/requirements.txt
  docker-jans-kc-scheduler/scripts/bootstrap.py
  docker-jans-kc-scheduler/scripts/entrypoint.sh
  docker-jans-kc-scheduler/scripts/settings.py
  docker-jans-kc-scheduler/scripts/wait.py
  docker-jans-kc-scheduler/templates/kc-scheduler/config.properties
  docker-jans-kc-scheduler/templates/kc-scheduler/logback.xml
  docker-jans-kc-scheduler/version.txt
  docs/admin/reference/kubernetes/docker-jans-kc-scheduler.md
Labels: area-documentation, kind-feature, comp-charts-jans

#7659 docs: add jans-saml instructions
  docs/admin/kubernetes-ops/jans-saml.md
  mkdocs.yml
Labels: area-documentation

#8471 feat(jans-auth-server): upgraded tx_token implementation to latest spec
  docs/admin/auth-server/oauth-features/README.md
  docs/admin/auth-server/tokens/oauth-tx-tokens.md
  docs/assets/log/tx-token-replace-run-log.txt
  docs/assets/log/tx-token-request-run-log.txt
  jans-auth-server/client/src/main/java/io/jans/as/client/TokenClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/TokenRequest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/token/TxTokenHttpTest.java
  jans-auth-server/model/src/main/java/io/jans/as/model/common/TokenType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/config/Constants.java
  jans-auth-server/model/src/main/java/io/jans/as/model/token/TokenErrorResponseType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/token/TokenRequestParam.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/Base64Util.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/Base64UtilTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TxTokenService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TxTokenServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TxTokenValidatorTest.java
Labels: comp-jans-auth-server, kind-feature

#8505 fix: update how external uids are retrieved
  jans-casa/extras/casa-external_otp.py
Labels: kind-bug

#8506 fix: update authenticate method for step 1
  jans-casa/extras/casa-external_fido2.py
  jans-casa/extras/casa-external_super_gluu.py
Labels: kind-bug

#8509 feat(jans-document-store): remove transient select field
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/Document.java
Labels: comp-jans-core, kind-feature

#8493 chore: update chore image used
  demos/benchmarking/docker-jans-loadtesting-jmeter/Dockerfile
  docker-jans-all-in-one/Dockerfile
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/Dockerfile
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/requirements.txt
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-kc-scheduler/requirements.txt
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/Dockerfile
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/requirements.txt
  docker-jans-saml/Dockerfile
  docker-jans-saml/requirements.txt
  docker-jans-scim/Dockerfile
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one

#8521 fix(cloud-native): resolve missing pkg_resources module
  docker-jans-all-in-one/.hadolint.yaml
  docker-jans-all-in-one/Dockerfile
Labels: kind-bug, comp-docker-jans-all-in-one

#8511 feat(cloud-native): save asset on server based on the service list provided
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/upgrade.py
Labels: comp-docker-jans-config-api, kind-feature

#8516 feat(jans-auth-server): added reference_id to JWT tokens - both encoded into jwt and as separate attribute in persistence #8512
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AbstractAuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AbstractToken.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrantList.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/IAuthorizationGrantList.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/IdTokenFactory.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/GrantService.java
  jans-core/service/src/main/java/io/jans/model/token/TokenEntity.java
  jans-core/util/src/main/java/io/jans/util/IdUtil.java
  jans-core/util/src/test/java/io/jans/util/IdUtilTest.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: comp-jans-auth-server, comp-jans-core, kind-feature

#8526 fix(document-store): jansLevel datatype mismatch
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/Document.java
Labels: kind-bug, comp-jans-core

#8530 fix: documentstore changes for asset mgt and idp changes for new fields
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/client/IdpClientFactory.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/model/IdentityProvider.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/model/config/SamlAppConfiguration.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/IdpService.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/KeycloakService.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/SamlConfigService.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/util/Constants.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DBDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/DBDocumentService.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/Document.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
  jans-linux-setup/jans_setup/templates/jans-saml/jans-saml-config.json
Labels: kind-bug, comp-jans-config-api, comp-jans-core, comp-jans-linux-setup

#8544 fix(docs): install `mkdocs-include-markdown-plugin` along with dependencies
  docs/requirements.txt
  mkdocs.yml
Labels: kind-bug, area-CI, area-documentation

#8542 fix(config-api): added validation for imp fields of asset mgt
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
Labels: kind-bug, comp-jans-config-api

#8538 fix(jans-cli-tui): principalAttribute and principalType for SAML TR
  jans-cli-tui/cli_tui/plugins/100_saml/edit_identity_provider_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#8565 fix(jans-cli-tui): logging level dropdown for auth server
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: kind-bug, comp-jans-cli-tui, comp-jans-linux-setup

#8575 feat(jans-lock): reffactor code to reuse in message-hub
  .gitignore
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-cli-tui/cli_tui/plugins/120_lock/main.py
  jans-core/script/src/main/java/io/jans/service/custom/script/StandaloneCustomScriptManager.java
  jans-core/script/src/test/java/io/jans/service/custom/script/test/StandaloneCustomScriptManagerTest.java
  jans-core/script/src/test/java/io/jans/service/custom/script/test/java/StandaloneJavaCustomScriptManagerTest.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/AppInitializer.java
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
  jans-lock/server/src/main/java/io/jans/lock/server/service/AppInitializer.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/message/generic/NullMessageConsumer.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/message/opa/OpaMessageConsumer.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/policy/generic/NullPolicyConsumer.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/policy/opa/OpaPolicyConsumer.java
  jans-lock/service/src/main/java/io/jans/lock/service/provider/metric/MetricProducerFactory.java
  jans-lock/service/src/main/java/io/jans/lock/service/provider/metric/MetricProvider.java
  jans-lock/service/src/main/java/io/jans/lock/service/provider/metric/MetricProviderInterface.java
  jans-lock/service/src/main/java/io/jans/lock/service/provider/metric/NullMessageProvider.java
  jans-lock/service/src/main/java/io/jans/lock/service/provider/metric/NullMetricProvider.java
Labels: comp-jans-auth-server, comp-jans-cli-tui, comp-jans-core, comp-jans-fido2, kind-feature, comp-jans-linux-setup

#8536 fix(cloud-native): documentstore and idp changes
  docker-jans-config-api/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/upgrade.py
Labels: kind-bug, comp-docker-jans-persistence-loader, comp-docker-jans-config-api

#8533 chore(charts): reformat values.schema.json for readability
  charts/janssen/values.schema.json
Labels: kind-dependencies, comp-charts-jans

#8532 feat(cloud-native): add jti to JWT tokens
  docker-jans-auth-server/Dockerfile
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, kind-feature

#8534 feat(cloud-native): use wildcards for custom lib classpaths
  docker-jans-auth-server/scripts/mod_context.py
Labels: comp-docker-jans-auth-server, kind-feature

#8577 fix(jans-cli-tui): SAML-SP released attributes
  jans-cli-tui/cli_tui/plugins/100_saml/edit_tr_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#8576 fix(jans-cli-tui): remove fields surrogateAuthRequired, rootUrl, adminUrl, url in SAML-SP
  jans-cli-tui/cli_tui/plugins/100_saml/edit_tr_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#8578 fix(jans-cli-tui): jans-kc post-setup prompt
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
Labels: kind-bug, comp-jans-cli-tui, comp-jans-linux-setup

#8564 fix: charts java memory options passed
  charts/janssen/charts/auth-server/templates/_helpers.tpl
  charts/janssen/charts/casa/templates/_helpers.tpl
  charts/janssen/charts/config-api/templates/_helpers.tpl
  charts/janssen/charts/fido2/templates/_helpers.tpl
  charts/janssen/charts/link/templates/_helpers.tpl
  charts/janssen/charts/saml/templates/_helpers.tpl
  charts/janssen/charts/scim/templates/_helpers.tpl
  charts/janssen/values.yaml
Labels: kind-bug, comp-charts-jans

#8590 fix(jans-linux-setup): removed redundant grant_type from setup to correspond changes on AS #8589
  jans-auth-server/server/conf/jans-config.json
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/test/docs/oxauth-config-update.md
Labels: kind-bug, area-documentation, comp-jans-auth-server, comp-jans-linux-setup

#8584 chore(cloud-native): sync assets to OCI images
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-fido2/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-saml/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2

#8592 fix(jans-cli-tui): replace checkbox with drowdown for saml-idp metadata type
  jans-cli-tui/cli_tui/plugins/100_saml/edit_identity_provider_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#8593 fix(cloud-native): resolve failure on sync assets using git
  docker-jans-all-in-one/Dockerfile
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/Dockerfile
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/requirements.txt
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-kc-scheduler/requirements.txt
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/Dockerfile
  docker-jans-link/requirements.txt
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/requirements.txt
  docker-jans-saml/Dockerfile
  docker-jans-saml/requirements.txt
  docker-jans-scim/Dockerfile
  docker-jans-scim/requirements.txt
Labels: kind-bug, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one

#8601 feat(orm): store json values without escaping them
  .gitignore
  jans-core/service/src/main/java/io/jans/service/UserAuthenticatorService.java
  jans-orm/core/src/main/java/io/jans/orm/impl/BaseEntryManager.java
  jans-orm/core/src/main/java/io/jans/orm/model/AttributeData.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlEntryManager.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlOperationServiceImpl.java
Labels: comp-jans-core, comp-jans-orm, kind-feature

#8586 fix(cloud-native): validate cert downloaded from frontend during initialization
  docker-jans-configurator/README.md
  docker-jans-configurator/scripts/bootstrap.py
Labels: kind-bug, comp-docker-jans-configurator, area-documentation

#8605 fix(terraform-provider-jans): update terraform module
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/README.md
  terraform-provider-jans/docs/resources/api_app_configuration.md
  terraform-provider-jans/docs/resources/app_configuration.md
  terraform-provider-jans/docs/resources/asset.md
  terraform-provider-jans/docs/resources/custom_user.md
  terraform-provider-jans/docs/resources/kc_saml_configuration.md
  terraform-provider-jans/docs/resources/kc_saml_identity_provider.md
  terraform-provider-jans/docs/resources/kc_saml_trust_relationship.md
  terraform-provider-jans/go.mod
  terraform-provider-jans/go.sum
  terraform-provider-jans/jans/api_app_configuration.go
  terraform-provider-jans/jans/app_configuration.go
  terraform-provider-jans/jans/app_configuration_test.go
  terraform-provider-jans/jans/client.go
  terraform-provider-jans/jans/custom_user.go
  terraform-provider-jans/jans/jans_asset.go
  terraform-provider-jans/jans/jans_asset_test.go
  terraform-provider-jans/jans/kc_saml_config.go
  terraform-provider-jans/provider/provider.go
  terraform-provider-jans/provider/resource_api_app_configuration.go
  terraform-provider-jans/provider/resource_app_configuration.go
  terraform-provider-jans/provider/resource_custom_user.go
  terraform-provider-jans/provider/resource_jans_asset.go
  terraform-provider-jans/provider/resource_kc_saml_config.go
  terraform-provider-jans/provider/resource_kc_saml_tr.go
  terraform-provider-jans/provider/resource_script.go
Labels: kind-bug, area-documentation

#8609 feat(orm): store json values without escaping them
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlOperationServiceImpl.java
Labels: comp-jans-orm, kind-feature

#8611 ci(workflows): fix docker sign command
  .github/workflows/docker_build_image.yml
Labels: area-CI

#8618 chore(jans-cli-tui): remove api-doc templates
  jans-cli-tui/docs/docs/Gallery/cli.md
  jans-cli-tui/docs/docs/Gallery/gallery.md
  jans-cli-tui/docs/docs/Gallery/tui.md
  jans-cli-tui/docs/docs/getting_started/installation/dynamic-download.md
  jans-cli-tui/docs/docs/getting_started/installation/rhel.md
  jans-cli-tui/docs/docs/getting_started/installation/suse.md
  jans-cli-tui/docs/docs/getting_started/installation/ubuntu.md
  jans-cli-tui/docs/docs/getting_started/installation/vm-requirements.md
  jans-cli-tui/docs/docs/home/about.md
  jans-cli-tui/docs/docs/home/index.md
  jans-cli-tui/docs/docs/home/janssen_modules.md
  jans-cli-tui/docs/docs/plugins/client_api/client_api.md
  jans-cli-tui/docs/docs/plugins/config_api/config_api.md
  jans-cli-tui/docs/docs/plugins/fido/fido.md
  jans-cli-tui/docs/docs/plugins/oauth/edit_client_dialog.md
  jans-cli-tui/docs/docs/plugins/oauth/edit_scope_dialog.md
  jans-cli-tui/docs/docs/plugins/oauth/edit_uma_dialog.md
  jans-cli-tui/docs/docs/plugins/oauth/oauth.md
  jans-cli-tui/docs/docs/plugins/plugins.md
  jans-cli-tui/docs/docs/plugins/scim/scim.md
  jans-cli-tui/docs/docs/plugins/scripts/scripts.md
  jans-cli-tui/docs/docs/stylesheets/extra.css
  jans-cli-tui/docs/docs/wui_components/jans_cli_dialog.md
  jans-cli-tui/docs/docs/wui_components/jans_data_picker.md
  jans-cli-tui/docs/docs/wui_components/jans_dialog.md
  jans-cli-tui/docs/docs/wui_components/jans_dialog_with_nav.md
  jans-cli-tui/docs/docs/wui_components/jans_drop_down.md
  jans-cli-tui/docs/docs/wui_components/jans_message_dialog.md
  jans-cli-tui/docs/docs/wui_components/jans_nav_bar.md
  jans-cli-tui/docs/docs/wui_components/jans_side_nav_bar.md
  jans-cli-tui/docs/docs/wui_components/jans_vetrical_nav.md
  jans-cli-tui/docs/docs/wui_components/wui_components.md
  jans-cli-tui/docs/img/favicon.ico
  jans-cli-tui/docs/img/logo.png
  jans-cli-tui/docs/img/new_tui/new_tui1.png
Labels: kind-dependencies, area-documentation, comp-jans-cli-tui

#8599 @shekhar16 feat(document-store): add jansServices changes
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AssetMgtConfiguration.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/Document.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-config-api, comp-jans-core, comp-jans-linux-setup

#8621 feat(config-api): user mgt error handling
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/model/exception/ApiApplicationException.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/model/exception/ConfigApiApplicationException.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/util/ApiErrorResponse.java
Labels: comp-jans-config-api, kind-feature

#8624 fix(jans-auth-server): tx token replace failing with 500 #8623
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TxTokenService.java
Labels: kind-bug, comp-jans-auth-server
