Repository JanssenProject/jans, pull requests merged in 2024-06, with the labels that each got.

#8622 feat: allow user to enter acr directly #8615
  demos/jans-tarp/src/options/authFlowInputs.tsx
  demos/jans-tarp/src/options/helpDrawer.tsx
  demos/jans-tarp/src/static/tarpDocs1.png
  demos/jans-tarp/src/static/tarpDocs2.png
  demos/jans-tarp/src/static/tarpDocs3.png
  demos/jans-tarp/src/static/tarpDocs4.png
  demos/jans-tarp/src/static/tarpDocs5.png
  demos/jans-tarp/webpack.common.js
Labels: kind-feature

#8639 fix: asset mgt new endpoints and compile time error for core and config-api
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AssetMgtConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AssetResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DBDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/Document.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: kind-bug, comp-jans-config-api, comp-jans-core, comp-jans-linux-setup

#8643 fix(charts): resolve overlapping cronjobs in all-in-one setup
  charts/janssen-all-in-one/templates/cronjobs.yaml
Labels: kind-bug, comp-charts-jans

#8653 fix(jans-auth-server): do not recognized different agama flows as different acr #8652
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
Labels: kind-bug, comp-jans-auth-server

#8650 feat: adding version comments and version_name field
  demos/jans-tarp/src/static/chrome/manifest.json
Labels: kind-feature

#8641 docs: jans memory dump
  docs/admin/kubernetes-ops/memory-dump.md
  mkdocs.yml
Labels: area-documentation

#8649 fix(jans-cli-tui): file browser not re-open in asset mgt
  jans-cli-tui/cli_tui/plugins/130_assets/main.py
Labels: kind-bug, comp-jans-cli-tui

#8644 refactor(docs): update `Agama Configuration` document
  docs/admin/config-guide/agama-configuration.md
  docs/admin/config-guide/agama-project-configuration.md
  docs/assets/add_configurations_screen.png
  docs/assets/tui-agama-project-details.png
  docs/assets/tui-agama-project-help.png
  docs/assets/tui-agama-project-list.png
  docs/assets/tui-agama-project-manage-conf.png
  docs/assets/tui-agama-project-view-conf.png
  mkdocs.yml
Labels: kind-enhancement, area-documentation

#8656 test(jans-auth-server): ExternalAuthenticationServiceTest test failure #8655
  jans-auth-server/server/src/test/java/io/jans/as/server/service/external/ExternalAuthenticationServiceTest.java
Labels: area-CI, comp-jans-auth-server

#8658 fix(jans-cli-tui): asset management: Jans Service and asset types
  jans-cli-tui/cli_tui/plugins/020_fido/main.py
  jans-cli-tui/cli_tui/plugins/130_assets/main.py
  jans-cli-tui/cli_tui/wui_components/jans_path_browser.py
Labels: comp-jans-cli-tui, kind-feature

#8661 docs: update looping section of lang reference
  docs/agama/language-reference.md
  jans-casa/extras/casa-external_super_gluu.py
Labels: area-documentation, comp-agama

#8672 Lock Endpoint Scaffolding
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
  jans-lock/lock-master/model/src/main/java/io/jans/lock/model/config/AppConfiguration.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/util/ResteasyInitializer.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/util/ServerUtil.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/ConfigurationRestWebService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/audit/AuditRestWebService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/audit/AuditRestWebServiceImpl.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/config/ConfigRestWebService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/config/ConfigRestWebServiceImpl.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/sse/SseRestWebService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/sse/SseRestWebServiceImpl.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/sse/TokenSseBroadcater.java
Labels: comp-jans-linux-setup

#8673 fix: removed redundant field from core class, added desc for config-api configuration properties
  docs/admin/config-guide/attribute-configuration.md
  docs/admin/config-guide/config-tools/config-api/attribute.md
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AgamaConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/ApiAppConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AssetDirMapping.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AssetMgtConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AuditLogConf.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/DataFormatConversionConf.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/PluginConf.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/IdpResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigBaseResource.java
  jans-config-api/server/src/main/resources/example/attribute/attribute-get-all.json
  jans-config-api/server/src/main/resources/example/attribute/attribute-get.json
  jans-config-api/server/src/main/resources/example/attribute/attribute.json
  jans-config-api/server/src/test/resources/feature/attribute/attribute-for-patch.json
  jans-config-api/server/src/test/resources/feature/attribute/attribute.json
  jans-config-api/shared/src/main/java/io/jans/configapi/core/util/AuthUtil.java
  jans-core/service/src/main/java/io/jans/model/JansAttribute.java
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
  terraform-provider-jans/jans/attributes.go
Labels: kind-bug, area-documentation, comp-jans-config-api, comp-jans-core, comp-jans-linux-setup

#8670 chore: upgrade freemarker
  agama/transpiler/pom.xml
  agama/transpiler/src/main/java/io/jans/agama/dsl/Transpiler.java
Labels: kind-dependencies, comp-agama

#8676 feat(jans-casa): replace Touch Id with PassKey
  jans-casa/app/src/main/resources/labels/user.properties
Labels: kind-feature

#8682 feat(jans-linux-setup): lock metadata well-known endpoint
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/templates/apache/https_jans.conf
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
  jans-linux-setup/jans_setup/templates/jetty/jans-auth
Labels: kind-feature, comp-jans-linux-setup

#8687 feat(jans-auth): fix schema endpoint
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/config/ConfigRestWebService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/config/ConfigRestWebServiceImpl.java
Labels: kind-feature

#8694 fix(jans-auth-server): agama_flow acr in id_token does not correspond to acr in request #8692
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/Authenticator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AcrService.java
Labels: kind-bug, comp-jans-auth-server

#8684 docs: update default authn method document
  docs/admin/config-guide/default-authentication-method-config.md
  docs/assets/tui-curr-authn-method.png
Labels: area-documentation

#8679 chore(cloud-native): sync assets to OCI images
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-casa/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one

#8702 fix: reduce Freemarker's "incompatible improvements version"
  agama/transpiler/src/main/java/io/jans/agama/dsl/Transpiler.java
Labels: kind-bug, comp-agama

#8705 fix(docs): update content of cache configuration documentation
  docs/admin/config-guide/cache-configuration.md
Labels: kind-bug, area-documentation

#8706 fix(config-api): validation and check enabled for default authentication method
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/ApiAppConfiguration.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AcrsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AssetResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
  jans-core/service/src/main/java/io/jans/service/custom/CustomScriptService.java
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: kind-bug, comp-jans-config-api, comp-jans-core, comp-jans-linux-setup

#8716 feat: apply password validation
  docs/admin/scim/config.md
  docs/admin/usermgmt/usermgmt-scim.md
  jans-linux-setup/jans_setup/templates/jans-scim/dynamic-conf.json
  jans-scim/model/src/main/java/io/jans/scim/model/conf/AppConfiguration.java
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/Scim2UserService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/UserWebService.java
Labels: area-documentation, comp-jans-scim, kind-feature

#8737 feat(jans-linux-setup): top level wrapper command jans
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/static/scripts/jans
  jans-linux-setup/jans_setup/templates/system_profile_systemd
Labels: kind-feature, comp-jans-linux-setup

#8739 fix(jans-cli): --schema option renamed to --schema-sample
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui

#8738 fix: avoid user provisioning when user already exists
  docs/casa/index.md
  jans-casa/plugins/acct-linking/extras/agama/lib/io/jans/casa/acctlinking/UidUtils.java
Labels: kind-bug, area-documentation, comp-agama

#8741 chore: remove usage of agama_flow param in plugin
  jans-casa/plugins/acct-linking/extras/Casa.py
  jans-casa/plugins/acct-linking/pom.xml
  jans-casa/plugins/acct-linking/src/main/java/io/jans/casa/plugins/acctlinking/vm/SiteRedirectVM.java
Labels: kind-dependencies

#8721 docs: update logging configuration documentation
  docs/admin/config-guide/logging-configuration.md
  docs/assets/tui-logging-config.png
Labels: area-documentation

#8746 fix(jans-cli): sample schema generetation (ref: #8713)
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui, kind-feature

#8759 docs: remove remaining mentions of agama_flow param
  docs/admin/config-guide/jans-authorization-server-config.md
  docs/admin/developer/agama/quick-start-using-agama-lab.md
Labels: area-documentation, comp-agama

#8754 docs(jans-lock): add swagger
  jans-lock/lock-master.yaml
Labels: area-documentation

#8766 feat(jans-linux-setup): disable time zone for pgsql
  jans-linux-setup/jans_setup/templates/jans-pgsql.properties
Labels: kind-bug, kind-feature, comp-jans-linux-setup

#8778 chore(cloud-native): sync assets for OCI images
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/scripts/upgrade.py
Labels: kind-dependencies, comp-docker-jans-config-api, comp-docker-jans-scim

#8787 feat(cloud-native): disable timezone for pgsql
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/templates/jans-pgsql.properties
  docker-jans-casa/Dockerfile
  docker-jans-casa/templates/jans-pgsql.properties
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/templates/jans-pgsql.properties
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/templates/jans-pgsql.properties
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/templates/jans-pgsql.properties
  docker-jans-link/Dockerfile
  docker-jans-link/templates/jans-pgsql.properties
  docker-jans-scim/Dockerfile
  docker-jans-scim/templates/jans-pgsql.properties
Labels: comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, kind-feature, comp-docker-jans-link

#8789 feat: add flag to disable logger timer
  jans-scim/model/src/main/java/io/jans/scim/model/conf/AppConfiguration.java
  jans-scim/server/src/main/java/io/jans/scim/service/init/AppInitializer.java
Labels: comp-jans-scim, kind-feature

#8790 fix(jans-cli-tui): re-write date-time picker
  jans-cli-tui/cli_tui/cli_style.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
  jans-cli-tui/cli_tui/utils/static.py
  jans-cli-tui/cli_tui/utils/utils.py
  jans-cli-tui/cli_tui/wui_components/jans_date_picker.py
Labels: kind-bug, area-documentation, comp-jans-cli-tui

#8775 docs(jans-lock): add swagger reference
  docs/admin/reference/openapi.md
Labels: area-documentation

#8794 docs(default-auth): add schema format and example
  docs/admin/config-guide/default-authentication-method-config.md
Labels: area-documentation

#8797 docs(ldap-conf): LDAP config doc updates
  docs/admin/config-guide/ldap-configuration.md
Labels: area-documentation

#8796 docs(logging): add schema format and example
  docs/admin/config-guide/logging-configuration.md
Labels: area-documentation

#8801 fix(jans-cli-tui): scim configuration skipDefinedPasswordValidation
  jans-cli-tui/cli_tui/plugins/030_scim/main.py
Labels: kind-bug, comp-jans-cli-tui

#8802 feat(jans-core): do log4j reconfigure only on log level change
  jans-core/service/src/main/java/io/jans/service/logger/LoggerService.java
Labels: comp-jans-core, kind-feature

#8780 fix(jans-cli-tui): Admin UI roles
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
  jans-cli-tui/cli_tui/utils/background_tasks.py
Labels: kind-bug, comp-jans-cli-tui

#8806 feat(jans-keycloak-integration): update kc saml integration into ce and cn #8776
  jans-keycloak-integration/spi/pom.xml
  jans-keycloak-integration/spi/src/main/java/io/jans/kc/spi/rest/JansAuthResponseResourceProvider.java
Labels: kind-feature

#8715 docs: default acr script validation
  docs/admin/config-guide/custom-scripts-config.md
  docs/admin/config-guide/default-authentication-method-config.md
Labels: area-documentation

#7151 docs(scim): Adding custom attribute In SCIM Extensions
  docs/admin/scim/custom-attributes.md
Labels: area-CI, area-documentation

#8821 fix(jans-linux-setup): dummy values for KC db options
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/templates/jans-saml/keycloak.conf
Labels: kind-bug, comp-jans-linux-setup
