Repository JanssenProject/jans, pull requests merged in 2024-01, with the labels that each got.

#5661 feat(jans-linux-setup): load test data to external Jans setup
  jans-linux-setup/tools/external_data_load.py
Labels: kind-feature, comp-jans-linux-setup

#7231 fix(docs): add section for schema setup
  docs/contribute/development.md
Labels: kind-bug, area-documentation

#7232 fix(docs): remove mariadb from docs
  docs/admin/planning/persistence.md
  docs/admin/reference/database/README.md
  docs/admin/reference/database/mariadb.md
Labels: kind-bug, area-documentation

#7229 feat: lock script, policy downloader, data publisher
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/ApplicationFactory.java
  jans-auth-server/server/pom.xml
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-core/cdi/src/main/java/io/jans/service/cdi/qualifier/Implementation.java
  jans-core/message/src/main/java/io/jans/service/message/model/config/MessageConfiguration.java
  jans-core/message/src/main/java/io/jans/service/message/model/config/MessageProviderType.java
  jans-core/message/src/main/java/io/jans/service/message/provider/MessageProviderFactory.java
  jans-core/message/src/main/java/io/jans/service/message/provider/NullMessageProvider.java
  jans-core/message/src/main/java/io/jans/service/message/provider/StandaloneMessageProviderFactory.java
  jans-core/message/src/main/java/io/jans/service/policy/consumer/MessagePolicyInterface.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/lock/DummyLockExtensionType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/lock/LockExtensionType.java
  jans-core/script/src/main/java/io/jans/service/custom/script/CustomScriptActivator.java
  jans-linux-setup/jans_setup/templates/configuration.ldif
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
  jans-lock/server/src/main/java/io/jans/lock/server/service/CustomScriptService.java
  jans-lock/server/src/main/java/io/jans/lock/service/config/ApplicationFactory.java
  jans-lock/service/src/main/java/io/jans/lock/external/ExternalScriptService.java
  jans-lock/service/src/main/java/io/jans/lock/model/config/AppConfiguration.java
  jans-lock/service/src/main/java/io/jans/lock/model/config/ErrorMessages.java
  jans-lock/service/src/main/java/io/jans/lock/model/config/OpaConfiguration.java
  jans-lock/service/src/main/java/io/jans/lock/service/ServiceInitializer.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/message/MessageConsumerFactory.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/message/NullMessageConsumer.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/message/opa/OpaMessageConsumer.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/policy/NullPolicyConsumer.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/policy/PolicyConsumerFactory.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/policy/opa/OpaPolicyConsumer.java
  jans-lock/service/src/main/java/io/jans/lock/service/custom/CustomScriptService.java
  jans-lock/service/src/main/java/io/jans/lock/service/custom/LockCustomScriptActivator.java
  jans-lock/service/src/main/java/io/jans/lock/service/external/ExternalLockService.java
  jans-lock/service/src/main/java/io/jans/lock/service/external/context/ExternalLockContext.java
  jans-lock/service/src/main/java/io/jans/lock/service/message/TokenSubService.java
  jans-lock/service/src/main/java/io/jans/lock/service/policy/PolicyDownloadService.java
  jans-lock/service/src/main/java/io/jans/lock/service/policy/PolicyDownloader.java
  jans-lock/service/src/main/java/io/jans/lock/service/policy/event/PolicyDownloadEvent.java
  jans-scim/service/src/main/java/io/jans/scim/service/ApplicationFactory.java
Labels: comp-jans-auth-server, comp-jans-config-api, comp-jans-core, comp-jans-scim, kind-feature, comp-jans-linux-setup

#7235 chore(jan-linux-setup): create ou=archived_jwks,o=jans
  jans-linux-setup/jans_setup/templates/base.ldif
Labels: kind-bug, kind-dependencies, comp-jans-linux-setup

#7223 chore(docker): sync jans-saml into OCI image
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/scripts/plugins.py
  docker-jans-saml/Dockerfile
  docker-jans-saml/README.md
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-saml/scripts/configure_kc.py
  docker-jans-saml/scripts/entrypoint.sh
  docker-jans-saml/scripts/healthcheck.py
  docker-jans-saml/templates/jans-saml/clients.ldif
Labels: kind-dependencies, comp-docker-jans-config-api, area-documentation

#7246 feat: publish Lock message on id_token issue/revoke
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/LockMessageConfig.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/AuthenticationFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AbstractAuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrantList.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/IAuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/UnmodifiableAuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/revoke/RevokeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/CleanerTimer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/GrantService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/CleanerTimerTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/GrantServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/dev/TokenTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/GrantServiceTest.java
  jans-core/service/src/main/java/io/jans/model/token/TokenAttributes.java
  jans-core/service/src/main/java/io/jans/model/token/TokenEntity.java
  jans-core/service/src/main/java/io/jans/model/token/TokenType.java
  jans-lock/service/src/main/java/io/jans/lock/service/ServiceInitializer.java
Labels: comp-jans-auth-server, comp-jans-core, kind-feature

#7255 docs: re-arrange TOC and improve intro page
  docs/casa/administration/README.md
  docs/casa/index.md
  docs/casa/quick-start.md
  mkdocs.yml
Labels: area-documentation

#7256 fix(jans-cli-tui): LOCK configuration NULL to DISABLED
  jans-cli-tui/cli_tui/plugins/010_auth_server/message.py
Labels: kind-bug, comp-jans-cli-tui

#7260 chore(docker): sync assets for KC integration
  docker-jans-config-api/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-saml/scripts/entrypoint.sh
  docker-jans-saml/scripts/upgrade.py
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-config-api

#7265 refactor(jans-pycloudlib): rename CN_LOCK env vars to avoid conflict with jans-lock
  jans-pycloudlib/jans/pycloudlib/lock/__init__.py
  jans-pycloudlib/jans/pycloudlib/lock/couchbase_lock.py
  jans-pycloudlib/jans/pycloudlib/lock/ldap_lock.py
  jans-pycloudlib/jans/pycloudlib/lock/sql_lock.py
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
  jans-pycloudlib/jans/pycloudlib/utils.py
  jans-pycloudlib/setup.py
  jans-pycloudlib/tests/test_utils.py
Labels: kind-enhancement, comp-jans-pycloudlib

#7269 fix(kc-saml-plugin): update IDP throws Internal server error - 500
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/client/IdpClientFactory.java
Labels: kind-bug, comp-jans-config-api

#7273 chore: ORM filter logging changes and message issue on id_token
  jans-auth-server/server/src/main/java/io/jans/as/server/service/GrantService.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/message/opa/OpaMessageConsumer.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/policy/opa/OpaPolicyConsumer.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlFilterConverter.java
Labels: kind-dependencies, comp-jans-auth-server, comp-jans-orm

#7277 feat(jans-linux-setup): auto-enable PubSub messages for Postgres and Lock
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/templates/configuration.ldif
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
  jans-linux-setup/jans_setup/templates/jans-lock/jans_message_conf.json
Labels: kind-feature, comp-jans-linux-setup

#7287 chore(jans-auth-server): do not log WebApplicationException as error #7285
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/introspection/ws/rs/IntrospectionWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/action/RegisterCreateAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ws/rs/stat/StatWS.java
Labels: kind-dependencies, comp-jans-auth-server

#7291 docs: add links to OpenAPI descriptors
  docs/casa/administration/credentials-stored.md
  docs/casa/administration/faq.md
  docs/casa/index.md
Labels: area-documentation

#7279 chore(docker-jans): update image dependencies
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/Dockerfile
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/requirements.txt
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/Dockerfile
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/requirements.txt
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/configuration.ldif
  docker-jans-saml/Dockerfile
  docker-jans-saml/requirements.txt
  docker-jans-scim/Dockerfile
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one

#7296 chore(docker-jans): add parent directory for admin-ui plugin logs
  docker-jans-all-in-one/Dockerfile
  docker-jans-config-api/Dockerfile
Labels: kind-dependencies, comp-docker-jans-config-api, comp-docker-jans-all-in-one

#7298 feat(docker-jans): add support for passing jetty.http.idleTimeout option
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/README.md
  docker-jans-auth-server/scripts/entrypoint.sh
  docker-jans-casa/Dockerfile
  docker-jans-casa/README.md
  docker-jans-casa/scripts/entrypoint.sh
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/scripts/entrypoint.sh
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/README.md
  docker-jans-fido2/scripts/entrypoint.sh
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/README.md
  docker-jans-keycloak-link/scripts/entrypoint.sh
  docker-jans-link/Dockerfile
  docker-jans-link/README.md
  docker-jans-link/scripts/entrypoint.sh
  docker-jans-scim/Dockerfile
  docker-jans-scim/README.md
  docker-jans-scim/scripts/entrypoint.sh
Labels: comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, kind-feature, comp-docker-jans-link, comp-docker-jans-all-in-one

#7300 fix(jans-pycloudlib): specify decoder to load password from file
  jans-pycloudlib/jans/pycloudlib/utils.py
  jans-pycloudlib/tests/test_utils.py
Labels: kind-bug, comp-jans-pycloudlib

#7302 chore(docker-jans): update jans-pycloudlib version in images
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/requirements.txt
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/requirements.txt
  docker-jans-saml/requirements.txt
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one

#7313 chore(docker-jans): patches for jansMessageConf and Jetty args
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/README.md
  docker-jans-auth-server/scripts/entrypoint.sh
  docker-jans-casa/Dockerfile
  docker-jans-casa/README.md
  docker-jans-casa/scripts/entrypoint.sh
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/scripts/entrypoint.sh
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/README.md
  docker-jans-fido2/scripts/entrypoint.sh
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/README.md
  docker-jans-keycloak-link/scripts/entrypoint.sh
  docker-jans-link/Dockerfile
  docker-jans-link/README.md
  docker-jans-link/scripts/entrypoint.sh
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/README.md
  docker-jans-scim/scripts/entrypoint.sh
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, comp-docker-jans-link

#7328 fix(jans-linux-setup): opa and jans-lock unit files
  jans-linux-setup/jans_setup/setup_app/installers/base.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
Labels: kind-bug, comp-jans-linux-setup

#7329 fix(jans-linux-setup): print version
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/printVersion.py
Labels: kind-bug, comp-jans-linux-setup

#7331 feat: lock should periodically check policies updates in git and update them in OPA
  jans-lock/service/src/main/java/io/jans/lock/model/config/AppConfiguration.java
  jans-lock/service/src/main/java/io/jans/lock/service/policy/PolicyDownloadService.java
Labels: kind-feature

#7339 chore: rework sample-cred-plugin
  docs/casa/administration/quick-start.md
  docs/casa/developer/add-authn-methods.md
  docs/casa/index.md
  jans-casa/plugins/samples/helloworld/src/main/java/io/jans/casa/plugins/helloworld/HelloWorldMenu.java
  jans-casa/plugins/samples/helloworld/src/main/resources/assets/menu.zul
  jans-casa/plugins/samples/sample-cred-plugin/README.md
  jans-casa/plugins/samples/sample-cred-plugin/pom.xml
  jans-casa/plugins/samples/sample-cred-plugin/src/main/java/io/jans/casa/plugins/credentials/extensions/SampleExtension.java
  jans-casa/plugins/samples/sample-cred-plugin/src/main/java/io/jans/casa/plugins/credentials/extensions/SampleFragment.java
  jans-casa/plugins/samples/sample-cred-plugin/src/main/java/io/jans/casa/plugins/credentials/extensions/SampleMenu.java
  jans-casa/plugins/samples/sample-cred-plugin/src/main/java/io/jans/casa/plugins/sample/SampleInitiator.java
  jans-casa/plugins/samples/sample-cred-plugin/src/main/java/io/jans/casa/plugins/sample/SamplePlugin.java
  jans-casa/plugins/samples/sample-cred-plugin/src/main/java/io/jans/casa/plugins/sample/SampleService.java
  jans-casa/plugins/samples/sample-cred-plugin/src/main/java/io/jans/casa/plugins/sample/SampleVM.java
  jans-casa/plugins/samples/sample-cred-plugin/src/main/resources/assets/admin/menu.zul
  jans-casa/plugins/samples/sample-cred-plugin/src/main/resources/assets/images/sample.png
  jans-casa/plugins/samples/sample-cred-plugin/src/main/resources/assets/index.zul
  jans-casa/plugins/samples/sample-cred-plugin/src/main/resources/assets/menu.zul
  jans-casa/plugins/samples/sample-cred-plugin/src/main/resources/assets/user/cred_details.zul
  jans-casa/plugins/samples/sample-cred-plugin/src/main/resources/labels/zk-label.properties
  jans-casa/plugins/samples/sample-cred/README.md
  jans-casa/plugins/samples/sample-cred/pom.xml
  jans-casa/plugins/samples/sample-cred/script.py
  jans-casa/plugins/samples/sample-cred/src/main/java/io/jans/casa/plugins/SampleCredentialPlugin.java
  jans-casa/plugins/samples/sample-cred/src/main/java/io/jans/casa/plugins/sample/extension/SampleCredentialAuthnMethod.java
  jans-casa/plugins/samples/sample-cred/src/main/java/io/jans/casa/plugins/sample/service/SampleCredentialService.java
  jans-casa/plugins/samples/sample-cred/src/main/java/io/jans/casa/plugins/sample/vm/SampleCredentialVM.java
  jans-casa/plugins/samples/sample-cred/src/main/resources/assets/user/cred_details.zul
  jans-casa/plugins/samples/sample-cred/src/main/resources/labels/zk-label.properties
  mkdocs.yml
Labels: kind-dependencies, area-documentation

#7336 fix(docker-jans-saml): unable to access KC admin console from browser
  docker-jans-saml/Dockerfile
  docker-jans-saml/README.md
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-saml/scripts/configure_kc.py
  docker-jans-saml/scripts/entrypoint.sh
  docker-jans-saml/scripts/healthcheck.py
  docker-jans-saml/templates/jans-saml/keycloak.extra.conf
Labels: kind-bug, area-documentation

#7351 fix(kc-saml-plugin): exception handling and error handling
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/client/IdpClientFactory.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/IdpResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/IdpService.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/KeycloakService.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/health/ApiHealthCheck.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/status/StatusCheckerTimer.java
  jans-config-api/server/src/main/java/io/jans/configapi/util/AuthUtil.java
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/pom.xml
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/assembly/dependencies.xml
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/assembly/deps-zip.xml
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/java/io/jans/kc/idp/broker/config/JansIdpBrokerConfigSource.java
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/java/io/jans/kc/idp/broker/exception/JansIdpBrokerException.java
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/java/io/jans/kc/idp/broker/model/JansIdentityProvider.java
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/java/io/jans/kc/idp/broker/rest/KcIdentityBrokerApiApplication.java
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/java/io/jans/kc/idp/broker/rest/KcSAMLIdentityBrokerResource.java
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/java/io/jans/kc/idp/broker/service/KcIdentityBrokerService.java
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/java/io/jans/kc/idp/broker/util/Constants.java
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/java/io/jans/kc/idp/broker/util/JansDataUtil.java
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/java/io/jans/kc/idp/broker/util/JansUtil.java
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSource
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/resources/META-INF/services/org.keycloak.storage.UserStorageProviderFactory
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/resources/jans-kc-idp-broker.properties
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/main/resources/log4j2.xml
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/idp-broker-api/src/test/java/io/jans/idp/keycloak/TestJenkinsRunner.java
Labels: kind-bug, comp-jans-config-api, comp-jans-linux-setup

#7353 feat: use Bearer token if OPA started with it
  docs/script-catalog/person_authentication/agama-bridge/AgamaBridge.py
  docs/script-catalog/person_authentication/forgot_password/forgot_password.py
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/SuperGluuExternalAuthenticator.py
  docs/script-catalog/person_authentication/user-cert-external-authenticator/UserCertExternalAuthenticator.py
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/ConfigurationService.java
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/EncryptionService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ClientService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/push/sns/PushSnsService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/BaseComponentTest.java
  jans-casa/extras/Casa.py
  jans-casa/extras/casa-external_super_gluu.py
  jans-casa/plugins/email_2fa_core/extras/email_2fa_core.py
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/auth/OAuth2Service.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/config/AUIConfigurationService.java
  jans-config-api/plugins/jans-link-plugin/src/main/java/io/jans/configapi/plugin/link/rest/JansLinkConfigResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigSmtpResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/CouchbaseConfService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/LdapConfigurationService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/SqlConfService.java
  jans-config-api/server/src/main/java/io/jans/configapi/util/AuthUtil.java
  jans-core/service/src/main/java/io/jans/service/EncryptionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/AppInitializer.java
  jans-keycloak-link/server/src/main/java/io/jans/keycloak/link/server/service/AppInitializer.java
  jans-keycloak-link/server/src/main/java/io/jans/keycloak/link/server/service/KeycloakService.java
  jans-keycloak-link/server/src/main/java/io/jans/keycloak/link/timer/JansKeycloakLinkTimer.java
  jans-link/server/src/main/java/io/jans/link/server/service/AppInitializer.java
  jans-link/server/src/main/java/io/jans/link/timer/JansLinkTimer.java
  jans-link/service/src/main/java/io/jans/link/service/BaseJansLinkTimer.java
  jans-link/service/src/main/java/io/jans/link/service/EncryptionService.java
  jans-link/service/src/main/java/io/jans/link/util/PropertyUtil.java
  jans-lock/server/src/main/java/io/jans/lock/server/service/AppInitializer.java
  jans-lock/server/src/main/java/io/jans/lock/server/service/ConfigurationService.java
  jans-lock/server/src/main/java/io/jans/lock/server/service/EncryptionService.java
  jans-lock/service/src/main/java/io/jans/lock/model/config/OpaConfiguration.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/message/opa/OpaMessageConsumer.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/policy/opa/OpaPolicyConsumer.java
  jans-lock/service/src/main/java/io/jans/lock/service/policy/PolicyDownloadService.java
  jans-scim/service/src/main/java/io/jans/scim/service/ConfigurationService.java
Labels: comp-jans-auth-server, comp-jans-config-api, comp-jans-core, comp-jans-fido2, comp-jans-scim, kind-feature

#7357 chore: fix typo in import
  docs/script-catalog/person_authentication/agama-bridge/AgamaBridge.py
  docs/script-catalog/person_authentication/forgot_password/forgot_password.py
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/SuperGluuExternalAuthenticator.py
  docs/script-catalog/person_authentication/user-cert-external-authenticator/UserCertExternalAuthenticator.py
  jans-casa/extras/Casa.py
  jans-casa/extras/casa-external_super_gluu.py
  jans-casa/plugins/email_2fa_core/extras/email_2fa_core.py
Labels: kind-dependencies

#7366 fix(docs): minor updates to the Docs README
  docs/README.md
Labels: kind-bug, area-documentation

#7355 fix(jans-linux-setup): typo and primission of printVersion.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/templates/jans-auth/groups.ldif
Labels: kind-bug, comp-jans-linux-setup

#7371 fix(jans-linux-setup): write default lock config even not installed
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
Labels: kind-bug, comp-jans-linux-setup

#7373 feat(jans-linux-setup): schema for admin-ui webhook
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: kind-feature, comp-jans-linux-setup

#7283 Update suse.md for suse leap version
  docs/admin/install/vm-install/suse.md
Labels: area-documentation

#7383 chore: avoid duplicy in logging when jans-lock is part of jans-auth-server
  jans-lock/server/src/main/resources/log4j2.xml
  jans-lock/service/src/main/resources/log4j2-lock.xml
Labels: kind-dependencies

#7385 ci(docs): exclude unreferenced docs from search results
  docs/requirements.txt
  mkdocs.yml
Labels: area-CI, area-documentation

#7227 feat(jans-config-api): admin-ui webhook backend #7205
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/webhook/AuiFeature.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/webhook/KeyValuePair.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/webhook/WebhookEntry.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/ApiApplication.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/webhook/WebhookResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/webhook/WebhookCallable.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/webhook/WebhookService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/AppConstants.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/CommonUtils.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/main/resources/example/webhook/get-all-features.json
  jans-config-api/plugins/admin-ui-plugin/src/main/resources/example/webhook/get-all-webhooks.json
  jans-config-api/plugins/admin-ui-plugin/src/main/resources/example/webhook/get-features-by-webhook-id.json
  jans-config-api/plugins/admin-ui-plugin/src/main/resources/example/webhook/get-webhook-by-feature-id.json
  jans-config-api/plugins/admin-ui-plugin/src/main/resources/example/webhook/post-webhook-request.json
  jans-config-api/plugins/admin-ui-plugin/src/main/resources/example/webhook/post-webhook-response.json
  jans-config-api/plugins/admin-ui-plugin/src/main/resources/example/webhook/put-webhook.json
  jans-config-api/plugins/admin-ui-plugin/src/main/resources/example/webhook/trigger-webooks.json
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature

#7381 feat(docker-jans): add jans-lock as custom library in jans-auth
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/README.md
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-auth-server/scripts/entrypoint.sh
  docker-jans-auth-server/scripts/lock.py
  docker-jans-auth-server/scripts/mod_context.py
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-auth-server/templates/jans-lock/log4j2-lock.xml
  docker-jans-auth-server/templates/jans.properties
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/README.md
  docker-jans-persistence-loader/scripts/upgrade.py
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, area-documentation, kind-feature

#7390 fix(docs): remove oxtrust references
  docs/admin/config-guide/openid-connect-client-configuration.md
  docs/admin/install/setup.md
  docs/casa/administration/2fa-basics.md
  docs/casa/administration/faq.md
Labels: kind-bug, area-documentation

#7388 fix(agama): content type header disappears when content length is more than 32KB
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/servlet/BaseServlet.java
Labels: kind-bug, comp-jans-auth-server, comp-agama

#7394 fix(config-api): IDP mysql creation issue and added version endpoint
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/IdpResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/IdentityProviderService.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/IdpService.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/SamlIdpService.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/timer/MetadataValidationTimer.java
  jans-config-api/profiles/default/config-api-test.properties
  jans-config-api/profiles/jans-ui.jans.io/test.properties
  jans-config-api/profiles/jenkins-config-api.gluu.org/test.properties
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/health/ApiHealthCheck.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/status/StatusCheckerTimer.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-bug, comp-jans-config-api, comp-jans-linux-setup

#7397 docs: add details on CDI usage and logging in agama flows
  docs/admin/developer/agama/faq.md
  docs/admin/developer/agama/jans-agama-engine.md
  docs/agama/language-reference.md
Labels: area-documentation, comp-agama

#7398 chore: use column names from DB definition in filters
  jans-orm/core/src/main/java/io/jans/orm/model/AttributeType.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlEntryManager.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlFilterConverter.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/SqlOperationService.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlConnectionProvider.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlOperationServiceImpl.java
Labels: kind-dependencies, comp-jans-orm

#7147 feat(jans-cli-tui): inbound SAML
  jans-cli-tui/cli_tui/plugins/100_saml/edit_identity_provider_dialog.py
  jans-cli-tui/cli_tui/plugins/100_saml/edit_tr_dialog.py
  jans-cli-tui/cli_tui/plugins/100_saml/main.py
Labels: comp-jans-cli-tui, kind-feature

#7400 chore: don't call operationService from tests
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlFilterConverter.java
Labels: kind-dependencies, comp-jans-orm

#7405 docs(saml): high level documentation for inbound SAML
  docs/admin/keycloak/keycloak-saml-inbound.md
  docs/assets/inbound-saml-flow.png
Labels: area-documentation

#7361 feat(charts): add chart for docker-jans-saml
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/_helpers.tpl
  charts/janssen-all-in-one/templates/configmap.yaml
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen-all-in-one/templates/nginx-ingress.yaml
  charts/janssen-all-in-one/templates/secret.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/Chart.yaml
  charts/janssen/README.md
  charts/janssen/charts/config/README.md
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/charts/config/values.yaml
  charts/janssen/charts/nginx-ingress/README.md
  charts/janssen/charts/nginx-ingress/templates/ingress.yaml
  charts/janssen/charts/nginx-ingress/values.yaml
  charts/janssen/charts/saml/.helmignore
  charts/janssen/charts/saml/Chart.yaml
  charts/janssen/charts/saml/README.md
  charts/janssen/charts/saml/templates/_helpers.tpl
  charts/janssen/charts/saml/templates/deployment.yaml
  charts/janssen/charts/saml/templates/hpa.yaml
  charts/janssen/charts/saml/templates/saml-destination-rules.yaml
  charts/janssen/charts/saml/templates/saml-pdb.yaml
  charts/janssen/charts/saml/templates/saml-virtual-services.yaml
  charts/janssen/charts/saml/templates/service.yaml
  charts/janssen/charts/saml/templates/user-custom-secret-envs.yaml
  charts/janssen/charts/saml/values.yaml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
  docker-jans-all-in-one/Dockerfile
  docker-jans-all-in-one/app/conf/supervisord.conf.d/jans-keycloak-link.conf
  docker-jans-all-in-one/app/conf/supervisord.conf.d/jans-saml.conf
  docker-jans-all-in-one/app/jans_aio/bootstrap.py
  docker-jans-all-in-one/app/templates/nginx/jans-keycloak-link-upstream.conf
  docker-jans-all-in-one/app/templates/nginx/jans-saml-location.conf
  docker-jans-all-in-one/app/templates/nginx/jans-saml-upstream.conf
  docker-jans-config-api/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-saml/README.md
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-saml/scripts/configure_kc.py
  docker-jans-saml/scripts/entrypoint.sh
  docker-jans-saml/templates/jans-saml/keycloak.extra.conf
Labels: area-documentation, kind-feature, comp-charts-jans, comp-docker-jans-all-in-one

#7404 fix(jans-linux-setup): check couchbase readiness before creating buckets
  jans-linux-setup/jans_setup/setup_app/installers/couchbase.py
  jans-linux-setup/jans_setup/setup_app/utils/cbm.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
Labels: kind-bug, comp-jans-linux-setup

#7411 fix(jans-auth-server): avoid NPE if UpdateToken script returned False #7342
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
Labels: kind-bug, comp-jans-auth-server

#7413 feat(jans-auth-server): provide internal way to obtain client_credential access_token #7412
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/ExecutionContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalUpdateTokenService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/util/TokenServiceUtil.java
Labels: comp-jans-auth-server, kind-feature

#7409 fix(kc-saml-plugin): exception handling for non existing IDP
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/IdpService.java
Labels: kind-bug, comp-jans-config-api

#7416 feat: use access token to download policies
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
  jans-lock/service/src/main/java/io/jans/lock/service/policy/PolicyDownloadService.java
Labels: kind-feature, comp-jans-linux-setup

#7430 postLogoutRedirectUris should be multi valued
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: comp-jans-linux-setup

#7432 fix(jans-cli-tui): save auth server logging config
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
Labels: kind-bug, comp-jans-cli-tui

#7420 feat(jans-linux-setup): postgresql is default backend
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup.properties.sample
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/package_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-feature, comp-jans-linux-setup

#7434 fix(jans-cli-tui): display provider list and edit provider
  jans-cli-tui/cli_tui/plugins/100_saml/edit_identity_provider_dialog.py
  jans-cli-tui/cli_tui/plugins/100_saml/main.py
Labels: kind-bug, comp-jans-cli-tui

#7421 feat(jans-casa): use an attribute to designate administrative role
  jans-casa/app/src/main/java/io/jans/casa/core/PersistenceService.java
  jans-casa/app/src/main/java/io/jans/casa/core/model/Person.java
  jans-linux-setup/jans_setup/templates/jans-auth/people.ldif
Labels: kind-feature, comp-jans-linux-setup

#7442 fix(docs): add jans lock navigation
  mkdocs.yml
Labels: kind-bug, area-documentation

#7445 docs: add network traffic notes
  docs/admin/kubernetes-ops/start-order.md
Labels: area-documentation

#7425 refactor(docs): update Jans main README
  README.md
Labels: kind-enhancement, area-documentation

#7441 docs: describe how to make a user and administrator in Casa
  docs/casa/administration/quick-start.md
  docs/casa/index.md
Labels: area-documentation

#7375 chore(docker-jans-scim): use Java JDK instead of JRE to avoid compiler error
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-scim, area-CI

#7439 fix: resolve install failure in CN setup
  .github/workflows/docker_build_image.yml
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen-all-in-one/templates/nginx-ingress.yaml
  charts/janssen-all-in-one/templates/secret.yaml
  docker-jans-all-in-one/Dockerfile
  docker-jans-all-in-one/app/templates/nginx/jans-auth-location.conf
  docker-jans-all-in-one/app/templates/nginx/jans-auth-upstream.conf
  docker-jans-all-in-one/app/templates/nginx/jans-casa-location.conf
  docker-jans-all-in-one/app/templates/nginx/jans-casa-upstream.conf
  docker-jans-all-in-one/app/templates/nginx/jans-config-api-location.conf
  docker-jans-all-in-one/app/templates/nginx/jans-config-api-upstream.conf
  docker-jans-all-in-one/app/templates/nginx/jans-fido2-location.conf
  docker-jans-all-in-one/app/templates/nginx/jans-fido2-upstream.conf
  docker-jans-all-in-one/app/templates/nginx/jans-keycloak-link-upstream.conf
  docker-jans-all-in-one/app/templates/nginx/jans-link-location.conf
  docker-jans-all-in-one/app/templates/nginx/jans-link-upstream.conf
  docker-jans-all-in-one/app/templates/nginx/jans-saml-location.conf
  docker-jans-all-in-one/app/templates/nginx/jans-saml-upstream.conf
  docker-jans-all-in-one/app/templates/nginx/jans-scim-location.conf
  docker-jans-all-in-one/app/templates/nginx/jans-scim-upstream.conf
  docker-jans-all-in-one/app/templates/nginx/nginx-default.conf
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-casa/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-saml/scripts/configure_kc.py
  docker-jans-scim/Dockerfile
Labels: kind-bug, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-fido2, comp-docker-jans-scim, comp-charts-jans, comp-docker-jans-link, comp-docker-jans-all-in-one

#7447 feat(jans-linux-setup): resource provisioning on both jans-auth and keycloak
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/setup_app/utils/ldif_utils.py
  jans-linux-setup/jans_setup/templates/jans-saml/clients.json
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.browser-auth-flow.json
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.execution-auth-cookie.json
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.execution-auth-jans.json
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.execution-config-jans.json
Labels: kind-feature, comp-jans-linux-setup

#7453 fix(jans-linux-setup): modification date of MANIFEST.MF in war file is build date
  jans-linux-setup/jans_setup/setup_app/utils/printVersion.py
Labels: kind-bug, comp-jans-linux-setup

#7487 chore(main): release jans-linux-setup 1.0.22
  jans-linux-setup/CHANGELOG.md
  jans-linux-setup/jans_setup/setup_app/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-linux-setup

#7486 chore(main): release jans-pycloudlib 1.0.22
  jans-pycloudlib/CHANGELOG.md
  jans-pycloudlib/jans/pycloudlib/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-pycloudlib

#7485 chore(main): release jans-cli-tui 1.0.22
  jans-cli-tui/CHANGELOG.md
  jans-cli-tui/cli_tui/version.py
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-jans-cli-tui

#7484 chore(main): release docker-jans-scim 1.0.22-1
  docker-jans-scim/CHANGELOG.md
  docker-jans-scim/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-scim, area-documentation

#7483 chore(main): release docker-jans-saml 1.0.22-1
  docker-jans-saml/CHANGELOG.md
  docker-jans-saml/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#7482 chore(main): release docker-jans-fido2 1.0.22-1
  docker-jans-fido2/CHANGELOG.md
  docker-jans-fido2/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-fido2, area-documentation

#7481 chore(main): release docker-jans-monolith 1.0.22-1
  docker-jans-monolith/CHANGELOG.md
  docker-jans-monolith/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#7480 chore(main): release docker-jans-persistence-loader 1.0.22-1
  docker-jans-persistence-loader/CHANGELOG.md
  docker-jans-persistence-loader/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-persistence-loader, area-documentation

#7479 chore(main): release docker-jans-keycloak-link 1.0.22-1
  docker-jans-keycloak-link/CHANGELOG.md
  docker-jans-keycloak-link/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#7478 chore(main): release docker-jans-link 1.0.22-1
  docker-jans-link/CHANGELOG.md
  docker-jans-link/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-docker-jans-link

#7475 chore(main): release docker-jans-configurator 1.0.22-1
  docker-jans-configurator/CHANGELOG.md
  docker-jans-configurator/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-configurator, area-documentation

#7474 chore(main): release docker-jans-certmanager 1.0.22-1
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/version.txt
Labels: kind-dependencies, autorelease: pending, comp-docker-jans-certmanager, area-documentation

#7472 chore(main): release docker-jans-casa 1.0.22-1
  docker-jans-casa/CHANGELOG.md
  docker-jans-casa/version.txt
Labels: kind-dependencies, autorelease: pending, area-documentation

#7471 chore(main): release docker-jans-all-in-one 1.0.22-1
  docker-jans-all-in-one/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation, comp-docker-jans-all-in-one

#7470 chore(main): release jans-keycloak-integration 1.0.22
  jans-keycloak-integration/CHANGELOG.md
  jans-keycloak-integration/authenticator/pom.xml
  jans-keycloak-integration/job-scheduler/pom.xml
  jans-keycloak-integration/pom.xml
  jans-keycloak-integration/storage-spi/pom.xml
Labels: kind-dependencies, autorelease: pending, area-documentation

#7456 chore(main): release docs 1.0.22
  docs/CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#7490 feat: add Lock documentation
  docs/admin/lock/lock_auth_server_config.md
  docs/admin/lock/lock_client_config.md
  docs/admin/lock/lock_opa.md
  docs/admin/lock/lock_pdp_plugin.md
  jans-core/message/src/main/java/io/jans/service/message/consumer/MessageConsumerInterface.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/message/NullMessageConsumer.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/message/opa/OpaMessageConsumer.java
Labels: area-documentation, comp-jans-core, kind-feature

#7308 test(jans-auth-server): client_credentials jmeter script #7307
  demos/benchmarking/docker-jans-loadtesting-jmeter/README.md
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/entrypoint.sh
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/tests/client_credentials.jmx
Labels: kind-enhancement, area-CI, comp-jans-auth-server

#7514 fix(keycloak-integration): fix build issues keycloak integration #7513
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/api/admin/client/KeycloakAdminClientApiError.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/api/admin/client/KeycloakApi.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/api/config/client/JansConfigApi.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/api/config/client/model/JansTrustRelationship.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/App.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/TrustRelationshipSyncJob.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/config/AppConfiguration.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/job/ExecutionContext.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/job/Job.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/job/JobScheduler.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/job/JobSchedulerException.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/job/JobSpec.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/job/RecurringJob.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/job/RecurringJobSpec.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/job/impl/QuartzExecutionContext.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/job/impl/QuartzJobScheduler.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/job/impl/QuartzJobWrapper.java
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/job/service/impl/QuartzJobWrapper.java
  jans-keycloak-integration/job-scheduler/src/main/resources/config.properties.sample
Labels: kind-bug

#7516 feat: allow to persist Map as JSON in MySQL DB
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlOperationServiceImpl.java
Labels: comp-jans-orm, kind-feature

#7500 fix(jans-linux-setup): post-setup is attampting to connect ldap for any backend
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
Labels: kind-bug, comp-jans-linux-setup

#7521 fix(jans-linux-setup): Jans KC install option
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#7535 feat: allow to persist Map as JSON in MySQL DB
  jans-orm/core/src/main/java/io/jans/orm/impl/BaseEntryManager.java
  jans-orm/couchbase/src/main/java/io/jans/orm/couchbase/impl/CouchbaseEntryManager.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlEntryManager.java
Labels: comp-jans-orm, kind-feature

#7546 fix: fix typos in SG script
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/SuperGluuExternalAuthenticator.py
Labels: kind-bug

#7499 feat(jans-cli-tui): hints for client list
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
Labels: comp-jans-cli-tui, kind-feature

#7534 fix(jans-cli-tui): Saml KC names
  jans-cli-tui/cli_tui/plugins/100_saml/edit_tr_dialog.py
  jans-cli-tui/cli_tui/plugins/100_saml/main.py
Labels: kind-bug, comp-jans-cli-tui, comp-jans-tui

#7212 feat(jans-auth-server): Transaction Tokens support #6291
  docs/admin/auth-server/tokens/oauth-tx-tokens.md
  docs/admin/config-guide/jans-authorization-server-config.md
  docs/assets/log/tx-token-replace-run-log.txt
  docs/assets/log/tx-token-request-run-log.txt
  jans-auth-server/client/src/main/java/io/jans/as/client/RegisterRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/TokenClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/TokenRequest.java
  jans-auth-server/client/src/main/java/io/jans/as/client/TokenResponse.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/AuthorizationDetailsHttpTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/token/TxTokenHttpTest.java
  jans-auth-server/client/src/test/resources/testng.xml
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/common/ExchangeTokenType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/common/GrantType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/common/SubjectTokenType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/common/TokenType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/common/TokenTypeHint.java
  jans-auth-server/model/src/main/java/io/jans/as/model/config/Constants.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/ConfigurationResponseClaim.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwt/JwtType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/register/RegisterRequestParam.java
  jans-auth-server/model/src/main/java/io/jans/as/model/token/TokenErrorResponseType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/token/TokenRequestParam.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/ClientAttributes.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/conf/jans-errors.json
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/AuthenticationFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/introspection/ws/rs/IntrospectionWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AbstractAuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrantList.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrantType.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/IAuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/IAuthorizationGrantList.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/TxToken.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/TxTokenGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/UnmodifiableAuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/registration/RegisterParamsValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/revoke/RevokeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/IntrospectionService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/FapiOpenIdConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TxTokenService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TxTokenValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TxTokenServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TxTokenValidatorTest.java
  jans-auth-server/server/src/test/resources/testng.xml
  jans-core/service/src/main/java/io/jans/model/token/TokenType.java
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-errors.json
  mkdocs.yml
Labels: comp-jans-auth-server, kind-feature

#7554 fix(jans-auth-server): compilation failure after merge
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TxTokenService.java
Labels: kind-bug, comp-jans-auth-server

#7555 feat(jans-linux-setup): unique indexes for uid and mail
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
Labels: kind-feature, comp-jans-linux-setup

#7552 fix(jans-cli-tui): name of idp is read-only after created
  jans-cli-tui/cli_tui/plugins/100_saml/edit_identity_provider_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#7564 feat: ORM should store Map<?, ?> defined in benas with @JsonObject as…
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: kind-feature, comp-jans-linux-setup

#7566 feat: override JSON types for sql tables
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
Labels: kind-feature, comp-jans-linux-setup

#7583 fix(jans-pycloudlib): resolve transform value for json type in couchbase persistence
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
Labels: kind-bug, comp-jans-pycloudlib

#7504 feat(jans-linux-setup): parameterize opa host and port
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/static/system/systemd/opa.service
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
Labels: kind-feature, comp-jans-linux-setup

#7593 Jans linux setup 7592
  jans-linux-setup/jans_setup/setup_app/data/jetty_app_configuration.json
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#7594 docs(install): add notes for uninstallation of persistence
  docs/admin/install/install-faq.md
  docs/admin/install/vm-install/dynamic-download.md
  docs/admin/install/vm-install/rhel.md
  docs/admin/install/vm-install/suse.md
  docs/admin/install/vm-install/ubuntu.md
Labels: area-documentation

#7569 fix(config-api): removed idp & sp metadatafile pattern & app s…
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/model/config/SamlAppConfiguration.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/SamlConfigService.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/util/Constants.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/api/ApiProtectionService.java
  jans-config-api/server/src/main/resources/log4j2.xml
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/templates/jans-saml/jans-saml-config.json
Labels: kind-bug, comp-jans-config-api, comp-jans-linux-setup
