Repository JanssenProject/jans, pull requests merged in 2024-10, with the labels that each got.

#9623 fix(docs): fix broken links
  docs/CONTRIBUTING.md
  docs/README.md
  docs/agama/execution-rules.md
  docs/casa/administration/2fa-basics.md
  docs/casa/administration/change-context-path.md
  docs/casa/administration/faq.md
  docs/casa/administration/localization.md
  docs/casa/administration/quick-start.md
  docs/casa/developer/add-authn-methods.md
  docs/casa/developer/overview.md
  docs/casa/index.md
  docs/cedarling.md
  docs/contribute/developer-faq.md
  docs/contribute/development.md
  docs/contribute/implementation-design/README.md
  docs/contribute/implementation-design/jans-config-api.md
  docs/contribute/implementation-design/jans-fido2.md
  docs/governance/triage.md
  docs/janssen-server/auth-server/endpoints/configuration.md
  docs/janssen-server/auth-server/endpoints/end-session.md
  docs/janssen-server/auth-server/endpoints/token.md
  docs/janssen-server/auth-server/openid-features/acrs.md
  docs/janssen-server/auth-server/openid-features/logout/README.md
  docs/janssen-server/auth-server/openid-features/user-claims/custom-claims.md
  docs/janssen-server/config-guide/auth-server-config/attribute-configuration.md
  docs/janssen-server/config-guide/auth-server-config/authentication-method-config.md
  docs/janssen-server/config-guide/auth-server-config/messaging-config.md
  docs/janssen-server/config-guide/auth-server-config/oauth-scopes-config.md
  docs/janssen-server/config-guide/auth-server-config/oauth-umaresources-config.md
  docs/janssen-server/config-guide/config-api-config/janssen-config-api-configuration.md
  docs/janssen-server/config-guide/config-tools/config-api/config.md
  docs/janssen-server/config-guide/scim-config/scim-group-config.md
  docs/janssen-server/lock/README.md
  docs/janssen-server/recipes/casa.md
  docs/janssen-server/reference/json/properties/janssenauthserver-properties.md
  docs/script-catalog/person_authentication/other/fortinet/README.md
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/README.md
Labels: kind-bug, area-documentation, comp-agama, comp-docs

#9628 fix(docs): add missing hash for Python 3.11
  docs/requirements.txt
Labels: kind-bug, area-documentation, comp-docs

#9637 fix(jans-linux-setup): import ruamel in fucntion read_yaml_file()
  jans-linux-setup/jans_setup/setup_app/utils/base.py
Labels: kind-bug, comp-jans-linux-setup

#9647 fix(jans-linux-setup): remove references of the admin group #9646
  jans-linux-setup/jans_setup/static/scripts/remove_external_people.py
  jans-linux-setup/jans_setup/templates/base.ldif
Labels: kind-bug, comp-jans-linux-setup

#9606 chore(cloud-native): sync assets and dependencies
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/templates/jans-couchbase.properties
  docker-jans-casa/Dockerfile
  docker-jans-casa/Makefile
  docker-jans-casa/templates/jans-couchbase.properties
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/templates/jans-couchbase.properties
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/templates/jans-couchbase.properties
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/templates/jans-couchbase.properties
  docker-jans-link/Dockerfile
  docker-jans-link/templates/jans-couchbase.properties
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-saml/Dockerfile
  docker-jans-saml/templates/jans-couchbase.properties
  docker-jans-scim/Dockerfile
  docker-jans-scim/templates/jans-couchbase.properties
  jans-pycloudlib/jans/pycloudlib/lock/ldap_lock.py
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-monolith, comp-docker-jans-link, comp-docker-jans-all-in-one, comp-docker-jans-casa, comp-docker-jans-kc-scheduler, comp-docker-jans-saml

#9650 fix(jans-cli-tui): mime-type check
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui

#9662 docs: fix wrong Agama engine paths
  docs/janssen-server/developer/agama/engine-bridge-config.md
Labels: area-documentation, comp-agama, comp-docs

#9644 refactor(docs): move Cedarling document to a top level directory
  docs/cedarling/cedarling.md
  mkdocs.yml
Labels: kind-enhancement, area-documentation, comp-docs

#9668 feat(jans-bom): update spanner libs
  jans-bom/pom.xml
Labels: kind-feature, comp-jans-bom

#9665 feat(config-api) custom asset mgt enhancement for asset dir mapping
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AssetDirMapping.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AssetMgtConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/Fido2RegistrationService.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AssetResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup, comp-docs

#9631 feat(jans-cedarling): parse access_token -- create access token and Client entity
  jans-cedarling/Cargo.toml
  jans-cedarling/bindings/cedarling_python/PYTHON_TYPES.md
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/print_documentation.py
  jans-cedarling/bindings/cedarling_python/src/authorize/mod.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/request.rs
  jans-cedarling/bindings/cedarling_python/src/cedarling.rs
  jans-cedarling/bindings/cedarling_python/src/config/authz_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/bootstrap_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/jwt_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/memory_log_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/mod.rs
  jans-cedarling/bindings/cedarling_python/src/config/off_log_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/policy_store_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/policy_store_source.rs
  jans-cedarling/bindings/cedarling_python/src/config/stdout_log_config.rs
  jans-cedarling/bindings/cedarling_python/src/lib.rs
  jans-cedarling/bindings/cedarling_python/tests/config.py
  jans-cedarling/bindings/cedarling_python/tests/test_policy_store.py
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/src/authz/entities/create.rs
  jans-cedarling/cedarling/src/authz/entities/meta.rs
  jans-cedarling/cedarling/src/authz/entities/mod.rs
  jans-cedarling/cedarling/src/authz/entities/test_create.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/init/cedar_schema.rs
  jans-cedarling/cedarling/src/jwt/README.md
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/log/memory_logger.rs
  jans-cedarling/cedarling/src/log/mod.rs
  jans-cedarling/cedarling/src/log/test.rs
  jans-cedarling/cedarling/src/models/app_types.rs
  jans-cedarling/cedarling/src/models/authz_config.rs
  jans-cedarling/cedarling/src/models/bootstrap_config.rs
  jans-cedarling/cedarling/src/models/cedar_schema.rs
  jans-cedarling/cedarling/src/models/cedar_schema/cedar_json.rs
  jans-cedarling/cedarling/src/models/cedar_schema/test_data_cedar.json
  jans-cedarling/cedarling/src/models/jwt_config.rs
  jans-cedarling/cedarling/src/models/log_entry.rs
  jans-cedarling/cedarling/src/models/mod.rs
  jans-cedarling/cedarling/src/models/policy_store.rs
  jans-cedarling/cedarling/src/models/request.rs
  jans-cedarling/cedarling/src/models/token_data.rs
  jans-cedarling/di/Cargo.toml
  jans-cedarling/di/README.md
  jans-cedarling/di/src/lib.rs
Labels: area-documentation, kind-feature, comp-jans-cedarling

#9658 docs(docker-compose): update docs to be more comprehensive
  docker-jans-monolith/README.md
  docker-jans-monolith/clean.sh
  docker-jans-monolith/down.sh
  docs/includes/cn-system-requirements.md
  docs/janssen-server/install/docker-install/compose.md
  docs/janssen-server/install/helm-install/local.md
  docs/janssen-server/reference/kubernetes/docker-jans-monolith.md
  docs/janssen-server/terraform/README.md
Labels: area-documentation, comp-docker-jans-monolith, comp-docs

#9688 feat(jans-orm): redefine protobuf-java version
  jans-bom/pom.xml
  jans-orm/sql/pom.xml
Labels: comp-jans-orm, kind-feature, comp-jans-bom

#9542 docs: update account-linking-index.md
  docs/casa/plugins/accts-linking/account-linking-index.md
Labels: area-documentation, comp-docs

#9709 fix(docs): update old tui command with new `jans` wrapper version
  docs/janssen-server/config-guide/auth-server-config/agama-project-configuration.md
  docs/janssen-server/config-guide/auth-server-config/authentication-method-config.md
  docs/janssen-server/config-guide/auth-server-config/json-web-key-config.md
  docs/janssen-server/config-guide/auth-server-config/logging-configuration.md
  docs/janssen-server/config-guide/auth-server-config/oauth-scopes-config.md
  docs/janssen-server/config-guide/auth-server-config/openid-connect-client-configuration.md
  docs/janssen-server/config-guide/config-tools/config-api/config.md
  docs/janssen-server/config-guide/custom-assets-configuration.md
  docs/janssen-server/config-guide/fido2-config/janssen-fido2-configuration.md
  docs/janssen-server/config-guide/scim-config/user-config.md
  docs/janssen-server/config-guide/smtp-configuration.md
  docs/janssen-server/developer/cors.md
  docs/janssen-server/install/vm-install/rhel.md
  docs/janssen-server/install/vm-install/suse.md
  docs/janssen-server/install/vm-install/ubuntu.md
  docs/janssen-server/scim/config.md
  docs/janssen-server/scim/custom-attributes.md
  docs/janssen-server/scim/logs.md
Labels: kind-bug, area-documentation, comp-docs

#9695 fix(docs): update customization doc for asset intake details
  docs/janssen-server/developer/customization/customize-web-pages.md
Labels: kind-bug, area-documentation, comp-docs

#9713 chore(jans-keyclokak-integration): update dependencies causing security vulnerabilities #9712
  docker-jans-saml/Dockerfile
  jans-keycloak-integration/job-scheduler/pom.xml
  jans-keycloak-integration/pom.xml
  jans-linux-setup/jans_setup/app_info.json
Labels: kind-dependencies

#9694 feat(jans-cedarling): Parse Cedar Schema for Access Token and Workload entities
  jans-cedarling/.gitignore
  jans-cedarling/Cargo.toml
  jans-cedarling/README.md
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/print_documentation.py
  jans-cedarling/bindings/cedarling_python/src/authorize/mod.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/request.rs
  jans-cedarling/bindings/cedarling_python/src/cedarling.rs
  jans-cedarling/bindings/cedarling_python/src/lib.rs
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/examples/authorize.rs
  jans-cedarling/cedarling/src/authz/entities/create.rs
  jans-cedarling/cedarling/src/authz/entities/meta.rs
  jans-cedarling/cedarling/src/authz/entities/mod.rs
  jans-cedarling/cedarling/src/authz/entities/test_create.rs
  jans-cedarling/cedarling/src/authz/entities/test_create_data/successful_scenario.schema
  jans-cedarling/cedarling/src/authz/entities/test_create_data/successful_scenario_schema.json
  jans-cedarling/cedarling/src/authz/entities/test_create_data/type_error_schema.json
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/init/test_files/policy-store_ok.json
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/log/memory_logger.rs
  jans-cedarling/cedarling/src/models/authorize_result.rs
  jans-cedarling/cedarling/src/models/cedar_schema/cedar_json.rs
  jans-cedarling/cedarling/src/models/log_entry.rs
  jans-cedarling/cedarling/src/models/mod.rs
  jans-cedarling/cedarling/src/models/request.rs
  jans-cedarling/cedarling/src/models/token_data.rs
  jans-cedarling/test_utils/Cargo.toml
  jans-cedarling/test_utils/README.md
  jans-cedarling/test_utils/src/lib.rs
  jans-cedarling/test_utils/src/sort_json.rs
Labels: area-documentation, kind-feature, comp-jans-cedarling

#9724 Doc per service
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/SamlIdpService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/model/Document.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DBDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DocumentStore.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/JcaDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/LocalDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/WebDavDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/BaseDocumentStoreService.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/DBDocumentService.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: comp-jans-config-api, comp-jans-core, comp-jans-linux-setup, comp-docs

#9721 fix(docs): navigation for Cedarling
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-docs

#9729 feat(jans-pycloudlib): remove support for ldap persistence
  jans-pycloudlib/docs/api/wait.md
  jans-pycloudlib/docs/guides/container_app.md
  jans-pycloudlib/jans/pycloudlib/lock/__init__.py
  jans-pycloudlib/jans/pycloudlib/persistence/__init__.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
  jans-pycloudlib/jans/pycloudlib/persistence/utils.py
  jans-pycloudlib/jans/pycloudlib/schema/__init__.py
  jans-pycloudlib/jans/pycloudlib/utils.py
  jans-pycloudlib/jans/pycloudlib/validators.py
  jans-pycloudlib/jans/pycloudlib/wait.py
  jans-pycloudlib/mkdocs.yml
  jans-pycloudlib/setup.py
  jans-pycloudlib/tests/conftest.py
  jans-pycloudlib/tests/test_manager.py
  jans-pycloudlib/tests/test_persistence.py
  jans-pycloudlib/tests/test_schema.py
  jans-pycloudlib/tests/test_validators.py
  jans-pycloudlib/tests/test_wait.py
Labels: area-documentation, kind-feature, comp-jans-pycloudlib, comp-docs

#9735 fix(jans-linux-setup): fix logmanager.sh
  jans-linux-setup/jans_setup/static/scripts/logmanager.sh
Labels: kind-bug, comp-jans-linux-setup

#9738 fix(jans-linux-setup): mysql backend with setup.properties
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#9739 feat(jans-config-api): remove session_id from API and use sid in API instead
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/Fido2RegistrationResource.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/Fido2RegistrationService.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/SessionResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/SessionService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/TokenService.java
Labels: comp-jans-config-api, kind-feature, comp-docs

#9733 chore(jans-linux-setup): remove ldap
  docs/janssen-server/install/setup.md
  docs/janssen-server/install/vm-install/dynamic-download.md
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/schema/convert.py
  jans-linux-setup/jans_setup/schema/detect_data_types.py
  jans-linux-setup/jans_setup/schema/generator.py
  jans-linux-setup/jans_setup/schema/manager.py
  jans-linux-setup/jans_setup/schema/opendj_schema_descriptions.json
  jans-linux-setup/jans_setup/schema/schema_parser.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/opendj.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/messages.py
  jans-linux-setup/jans_setup/setup_app/pylib/parse_dn.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/static.py
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/config_property.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/dbutils.py
  jans-linux-setup/jans_setup/setup_app/utils/ldif_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/setup_utils.py
  jans-linux-setup/jans_setup/static/opendj/96-eduperson.ldif
  jans-linux-setup/jans_setup/static/opendj/systemd/opendj.service
  jans-linux-setup/jans_setup/static/rdbm/opendj_index.json
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/jans-keycloak-link-config.json
  jans-linux-setup/jans_setup/templates/jans-ldap.properties
  jans-linux-setup/jans_setup/templates/jans-link/jans-link-config.json
  jans-linux-setup/jans_setup/templates/opendj-setup.properties
  jans-linux-setup/jans_setup/templates/system_profile_systemd
  jans-linux-setup/jans_setup/templates/test/jans-auth/server/config-jans-auth-test-ldap.properties.nrnd
Labels: kind-dependencies, area-documentation, comp-jans-linux-setup, comp-docs, comp-jans-keycloak-link, comp-jans-link

#9746 fix(jans-linux-setup): suse mysql version 8.0.39
  jans-linux-setup/jans_setup/setup_app/utils/package_utils.py
Labels: kind-bug, comp-jans-linux-setup

#9747 Jans linux setup jans cli 9710
  jans-linux-setup/jans_setup/static/scripts/jans
  jans-linux-setup/jans_setup/templates/system_profile_systemd
Labels: kind-bug, comp-jans-linux-setup

#9752 feat(jans-auth-server): spontaneous scope description should have scopeId instead of object identification #9751
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SpontaneousScopeService.java
Labels: comp-jans-auth-server, kind-feature

#9766 fix(jans-cli-tui): config-api configuration
  jans-cli-tui/cli_tui/plugins/140_config_api/main.py
  jans-cli-tui/cli_tui/wui_components/jans_label_widget.py
Labels: kind-bug, comp-jans-cli-tui

#9773 feat(jans-orm): fix like_regex in json array
  jans-orm/sql-sample/src/main/java/io/jans/orm/sql/SqlSample.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlFilterConverter.java
Labels: comp-jans-orm, kind-feature

#9769 chore(jans-keycloak-integration): downgrade kc version to 25.0.6 #9767
  jans-keycloak-integration/pom.xml
Labels: kind-dependencies

#9770 fix(jans-linux-setup): downgrade KC
  docs/assets/tui-config-api-main.png
  jans-linux-setup/jans_setup/app_info.json
Labels: kind-bug, comp-jans-linux-setup, comp-docs

#9774 feat(jans-casa): update bioid plugin
  docs/casa/plugins/bioid.md
  jans-casa/plugins/bioid/src/main/java/io/jans/casa/plugins/bioid/vm/RedirectViewModel.java
Labels: area-documentation, kind-feature, comp-docs, comp-jans-casa

#9683 docs: add release process doc
  docs/contribute/ci-cd/github-ci.md
  docs/contribute/ci-cd/jenkins-ci.md
  docs/contribute/ci-cd/release-process.md
  mkdocs.yml
Labels: area-documentation, comp-docs

#9785 docs: adding Trusted Issuer Schema format in docs #9784
  docs/cedarling/cedarling-policy-store.md
Labels: area-documentation, comp-docs

#9783 docs(jans-cedarling): update python example
  docs/cedarling/python/usage.md
Labels: area-documentation, comp-docs, comp-jans-cedarling

#9777 test(jans-cedarling): rectify intermittent failure in get_token_claim_type_boolean_error
  jans-cedarling/cedarling/src/authz/entities/test_create.rs
Labels: area-CI, comp-jans-cedarling

#9731 feat(jans-cedarling): Implement python bindings for the authorize method
  jans-cedarling/bindings/cedarling_python/Cargo.toml
  jans-cedarling/bindings/cedarling_python/PYTHON_TYPES.md
  jans-cedarling/bindings/cedarling_python/README.md
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/example_files/policy-store.json
  jans-cedarling/bindings/cedarling_python/print_documentation.py
  jans-cedarling/bindings/cedarling_python/src/authorize/authorize_result.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/authorize_result_response.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/decision.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/diagnostics.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/errors.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/mod.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/policy_evaluation_error.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/request.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/resource_data.rs
  jans-cedarling/bindings/cedarling_python/src/cedarling.rs
  jans-cedarling/bindings/cedarling_python/src/lib.rs
  jans-cedarling/bindings/cedarling_python/tests/config.py
  jans-cedarling/bindings/cedarling_python/tests/test_authorize.py
  jans-cedarling/cedarling/examples/authorize.rs
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/init/test_files/README.md
  jans-cedarling/cedarling/src/init/test_files/policy-store_ok/840d_cedar.policy
  jans-cedarling/cedarling/src/init/test_files/policy-store_ok/cedar.schema
  jans-cedarling/cedarling/src/jwt/decoding_strategy.rs
  jans-cedarling/cedarling/src/jwt/error.rs
  jans-cedarling/cedarling/src/jwt/jwt_service.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/models/authorize_result.rs
  jans-cedarling/cedarling/src/models/log_entry.rs
  jans-cedarling/cedarling/src/models/request.rs
Labels: area-documentation, kind-feature, comp-jans-cedarling

#9844 feat(config-api): session and token search enhancement
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/Fido2RegistrationService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/SessionService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/TokenService.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/util/DataUtil.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/util/Util.java
  jans-core/model/src/main/java/io/jans/model/FilterOperator.java
  jans-core/service/src/main/java/io/jans/model/FieldFilterData.java
  jans-core/service/src/main/java/io/jans/model/SearchRequest.java
Labels: comp-jans-config-api, comp-jans-core, kind-feature, comp-docs

#9848 fix(jans-cli-tui): asset management
  jans-cli-tui/cli_tui/plugins/130_assets/main.py
  jans-cli-tui/cli_tui/plugins/140_config_api/main.py
  jans-cli-tui/cli_tui/utils/background_tasks.py
Labels: kind-bug, comp-jans-cli-tui

#9845 feat(jans-orm): add search support in json path
  jans-orm/sql/src/test/java/io/jans/orm/sql/impl/test/SqlFilterConverterCheckExcludeFilterTest.java
  jans-orm/sql/src/test/java/io/jans/orm/sql/impl/test/SqlFilterConverterTest.java
Labels: comp-jans-orm, kind-feature

#9850 feat(jans-orm): use right booelan type in JSON and plan SQL queries
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlFilterConverter.java
Labels: comp-jans-orm, kind-feature

#9853 ci(jans-cedarling): testcase workflow
  .github/workflows/test_cedarling.yml
  jans-cedarling/bindings/cedarling_python/tox.ini
Labels: area-CI, comp-jans-cedarling

#9865 refactor(jans-cli-tui): display popup for save action
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/020_fido/main.py
  jans-cli-tui/cli_tui/plugins/030_scim/main.py
  jans-cli-tui/cli_tui/plugins/080_smtp/main.py
  jans-cli-tui/cli_tui/plugins/090_jans_link/main.py
  jans-cli-tui/cli_tui/plugins/100_saml/main.py
  jans-cli-tui/cli_tui/plugins/110_kc_link/main.py
Labels: kind-enhancement, comp-jans-cli-tui

#9867 feat(config-api): session endpoint changes for search in jansSessAttr JSON
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/SessionService.java
Labels: comp-jans-config-api, kind-feature, comp-docs

#9869 fix(jans-linux-setup): script location
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#9873 fix(jans-cli-tui): do not hide ldap servers in authn when database is not ldap
  docs/janssen-server/config-guide/auth-server-config/authentication-method-config.md
  jans-cli-tui/cli_tui/plugins/010_auth_server/authn.py
Labels: kind-bug, area-documentation, comp-jans-cli-tui, comp-docs

#9886 feat: simplify JSON value in MySQL
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/templates/jans-mysql.properties
  jans-orm/cdi/src/main/java/io/jans/orm/service/PersistanceFactoryService.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlConnectionProvider.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlOperationServiceImpl.java
Labels: comp-jans-orm, kind-feature, comp-jans-linux-setup

#9889 feat(config-api): pagination implemented in fido2, session and token endpoints
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/Fido2RegistrationResource.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/Fido2RegistrationService.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/SessionResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/TokenResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/SessionService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/TokenService.java
Labels: comp-jans-config-api, kind-feature, comp-docs

#9890 fix(jans-linux-setup): index key lenght for text columns
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
Labels: kind-bug, comp-jans-linux-setup

#9839 fix(docs): remove LDAP from documentation
  docs/CONTRIBUTING.md
  docs/janssen-server/auth-server/endpoints/par.md
  docs/janssen-server/auth-server/endpoints/token-revocation.md
  docs/janssen-server/auth-server/logging/standard-logs.md
  docs/janssen-server/auth-server/openid-features/user-claims/custom-claims.md
  docs/janssen-server/config-guide/auth-server-config/couchbase-configuration.md
  docs/janssen-server/config-guide/auth-server-config/jans-authorization-server-config.md
  docs/janssen-server/config-guide/auth-server-config/ldap-configuration.md
  docs/janssen-server/config-guide/config-tools/jans-cli/README.md
  docs/janssen-server/developer/interception-scripts-debug-ce.md
  docs/janssen-server/developer/interception-scripts.md
  docs/janssen-server/developer/scripts/README.md
  docs/janssen-server/install/setup.md
  docs/janssen-server/install/vm-install/ubuntu.md
  docs/janssen-server/recipes/passportjs.md
  docs/janssen-server/reference/database/converting-data.md
  mkdocs.yml
  terraform-provider-jans/docs/resources/ldap_database_configuration.md
Labels: kind-bug, area-documentation, comp-terraform-provider-jans, comp-docs

#9900 fix(jans-core): document store manager should use filePath
  jans-core/document-store/src/main/java/io/jans/service/document/store/manager/DocumentStoreManager.java
Labels: kind-bug, comp-jans-core

#9908 fix(jans-linux-setup): json values in arrays
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/utils/attributes.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
Labels: kind-bug, comp-jans-linux-setup

#9903 docs(jans-cedarling): add Application Entity back and Update Action Principal and Resources
  jans-cedarling/schema/cedarling_core.cedarschema
  jans-cedarling/schema/cedarling_core.json
Labels: area-documentation, comp-jans-cedarling

#9786 feat(charts): allow using custom configuration schema
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/_helpers.tpl
  charts/janssen-all-in-one/templates/cronjobs.yaml
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen-all-in-one/templates/secret.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/janssen/charts/auth-server/templates/deployment.yml
  charts/janssen/charts/casa/templates/deployment.yaml
  charts/janssen/charts/config-api/templates/deployment.yaml
  charts/janssen/charts/config/templates/load-init-config.yml
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/charts/fido2/templates/deployment.yml
  charts/janssen/charts/kc-scheduler/templates/cronjobs.yaml
  charts/janssen/charts/link/templates/deployment.yaml
  charts/janssen/charts/persistence/templates/jobs.yml
  charts/janssen/charts/saml/templates/deployment.yaml
  charts/janssen/charts/scim/templates/deployment.yml
  charts/janssen/templates/_helpers.tpl
  charts/janssen/values.yaml
  docs/janssen-server/reference/kubernetes/config-secret-keys.md
  docs/janssen-server/reference/kubernetes/helm-chart.md
  jans-pycloudlib/jans/pycloudlib/schema/__init__.py
  mkdocs.yml
Labels: area-documentation, kind-feature, comp-jans-pycloudlib, comp-charts-jans, comp-docs

#9898 docs: update customization docs with correct path and new screenshots
  docs/assets/customized-device-code-page.png
  docs/assets/customized-login-page.png
  docs/assets/device-code-page.png
  docs/assets/login-page.png
  docs/janssen-server/kubernetes-ops/customization.md
Labels: area-documentation, comp-docs

#9911 fix(jans-cli-tui): hide agama script on default ACR tab
  jans-cli-tui/cli_tui/plugins/010_auth_server/authn.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/wui_components/jans_nav_bar.py
Labels: kind-bug, comp-jans-cli-tui

#9891 feat(jans-cedarling): Add support of parsing the `Set` type in cedar-policy schema
  jans-cedarling/cedarling/src/authz/entities/create.rs
  jans-cedarling/cedarling/src/authz/entities/mod.rs
  jans-cedarling/cedarling/src/authz/entities/test_create.rs
  jans-cedarling/cedarling/src/authz/entities/test_create_data/successful_scenario.schema
  jans-cedarling/cedarling/src/authz/entities/test_create_data/successful_scenario_schema.json
  jans-cedarling/cedarling/src/authz/entities/trait_as_expression.rs
  jans-cedarling/cedarling/src/authz/token_data.rs
  jans-cedarling/cedarling/src/common/cedar_schema/cedar_json.rs
  jans-cedarling/cedarling/src/common/cedar_schema/test_files/test_data_cedar.json
  jans-cedarling/cedarling/src/common/cedar_schema/test_files/test_data_cedar.schema
  jans-cedarling/cedarling/src/common/cedar_schema/test_files/test_data_cedar_err_entity_or_common.json
  jans-cedarling/cedarling/src/common/cedar_schema/test_files/test_data_cedar_err_field_is_required.json
  jans-cedarling/cedarling/src/common/cedar_schema/test_files/test_data_cedar_err_primitive_type.json
  jans-cedarling/cedarling/src/common/cedar_schema/test_files/test_data_cedar_err_set.json
Labels: kind-feature, comp-jans-cedarling

#9919 fix(config-api): acr enhancement for agama, asset mgt error message made descriptive
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AcrsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/TokenService.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/util/DataUtil.java
Labels: kind-bug, comp-jans-config-api, comp-docs

#9921 Lock health check plugin
  jans-auth-server/server/src/main/java/io/jans/as/server/ws/rs/controller/HealthCheckController.java
  jans-core/service/src/main/java/io/jans/service/HealthCheckPluginService.java
  jans-lock/lock-server/server/src/main/java/io/jans/lock/ws/rs/HealthCheckController.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/HealthCheckLockPluginService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/TokenStsatusListService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/config/ConfigurationFactory.java
Labels: comp-jans-auth-server, comp-jans-core, comp-jans-lock

#9926 fix: add slash
  jans-linux-setup/jans_setup/templates/jetty/jans-auth_web_resources.xml
Labels: kind-bug, comp-jans-linux-setup

#9930 fix(charts): resolve error parsing jans helm chart
  charts/janssen/charts/saml/templates/deployment.yaml
Labels: kind-bug, comp-charts-jans

#9942 chore(jans-linux-setup): facter script
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/static/scripts/facter
Labels: kind-dependencies, comp-jans-linux-setup

#9946 docs(user-mgt): restructure user management documentation
  docs/assets/jans-tui-add-user-claims.png
  docs/assets/jans-tui-scim-config.png
  docs/assets/pgAdmin-connection.png
  docs/assets/pgAdmin-server-name.png
  docs/assets/pgAdmin-ssh-tunnel.png
  docs/assets/scim-attribute-retrieve.png
  docs/assets/tui-attribute.png
  docs/janssen-server/config-guide/scim-config/user-config.md
  docs/janssen-server/fido/monitoring.md
  docs/janssen-server/scim/README.md
  docs/janssen-server/scim/config.md
  docs/janssen-server/scim/custom-attributes.md
  docs/janssen-server/scim/logs.md
  docs/janssen-server/scim/monitoring.md
  docs/janssen-server/scim/oauth-protection.md
  docs/janssen-server/usermgmt/README.md
Labels: area-documentation, comp-docs

#9910 feat(jans-cedarling): update policy_store.json parser and schema
  docs/cedarling/cedarling-jwt.md
  docs/cedarling/cedarling-policy-store.md
  jans-cedarling/bindings/cedarling_python/src/config/policy_store_config.rs
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/examples/authorize.rs
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/policy_store_config.rs
  jans-cedarling/cedarling/src/common/cedar_schema.rs
  jans-cedarling/cedarling/src/common/policy_store.rs
  jans-cedarling/cedarling/src/common/policy_store/cedar-schema.json
  jans-cedarling/cedarling/src/common/policy_store/test.rs
  jans-cedarling/cedarling/src/init/policy_store.rs
  jans-cedarling/cedarling/src/init/service_config.rs
  jans-cedarling/cedarling/src/tests/mod.rs
  jans-cedarling/test_files/policy-store_ok.json
  jans-cedarling/test_files/policy-store_policy_err_base64.json
  jans-cedarling/test_files/policy-store_policy_err_broken_policy.json
  jans-cedarling/test_files/policy-store_policy_err_broken_utf8.json
  jans-cedarling/test_files/policy-store_schema_err_base64.json
  jans-cedarling/test_files/policy-store_schema_err_cedar_mistake.json
  jans-cedarling/test_files/policy-store_schema_err_json.json
  jans-cedarling/test_files/policy-store_with_multiple_role_mappings_err.json
  jans-cedarling/test_files/policy-store_with_trusted_issuers_ok.json
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#9947 fix(docs): remove local LDAP references as LDAP support has been discontinued
  docs/janssen-server/auth-server/logging/log4j2.md
  docs/janssen-server/auth-server/openid-features/acrs.md
  docs/janssen-server/config-guide/config-tools/config-api/monitoring.md
  docs/janssen-server/fido/config.md
  docs/janssen-server/install/setup.md
  docs/janssen-server/recipes/social-login.md
  docs/janssen-server/reference/database/README.md
  docs/janssen-server/reference/database/mysql-schema.md
  docs/janssen-server/reference/database/pgsql-config.md
  docs/janssen-server/reference/database/spanner-config.md
  docs/janssen-server/scim/custom-attributes.md
  docs/janssen-server/vm-ops/logs.md
  docs/script-catalog/discovery/discovery/README.md
  docs/script-catalog/introspection/README.md
  docs/script-catalog/persistence_extension/persistence.md
  docs/script-catalog/person_authentication/other/twilio_sms/README.md
  docs/script-catalog/person_authentication/twilio-2fa/README.md
  docs/script-catalog/scim/scim.md
Labels: kind-bug, area-documentation, comp-docs

#9941 feat(jans-linux-setup): Janssen services healt script
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/static/scripts/jans
  jans-linux-setup/jans_setup/static/scripts/jans_services_status.py
Labels: kind-feature, comp-jans-linux-setup

#9932 chore: update descriptors for ZK update
  jans-casa/app/pom.xml
  jans-casa/app/src/main/webapp/WEB-INF/zk.xml
  jans-casa/pom.xml
  jans-casa/shared/pom.xml
Labels: kind-dependencies, comp-jans-casa

#9960 fix(jans-linux-setup): permission of jans_services_status.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
Labels: kind-bug, comp-jans-linux-setup

#9855 feat(jans-cedarling): implement `KeyService` for `JwtService` for key management
  docs/cedarling/cedarling-policy-store.md
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/src/init/jwt_algorithm.rs
  jans-cedarling/cedarling/src/init/service_config.rs
  jans-cedarling/cedarling/src/init/service_factory.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/key_service.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/key_service/error.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/key_service/openid_config.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/traits.rs
  jans-cedarling/cedarling/src/jwt/error.rs
  jans-cedarling/cedarling/src/jwt/jwt_service.rs
  jans-cedarling/cedarling/src/jwt/jwt_service_config.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/jwt/test/can_decode_claims_with_validation.rs
  jans-cedarling/cedarling/src/jwt/test/can_decode_claims_without_validation.rs
  jans-cedarling/cedarling/src/jwt/test/can_update_local_jwks.rs
  jans-cedarling/cedarling/src/jwt/test/errors_on_invalid_aud.rs
  jans-cedarling/cedarling/src/jwt/test/errors_on_unsupported_alg.rs
  jans-cedarling/cedarling/src/jwt/test/mock_key_service.rs
  jans-cedarling/cedarling/src/jwt/test/mod.rs
  jans-cedarling/cedarling/src/tests/mod.rs
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#9937 feat(jans-pycloudlib): add flag to support simple JSON data format
  jans-pycloudlib/jans/pycloudlib/persistence/couchbase.py
  jans-pycloudlib/jans/pycloudlib/persistence/spanner.py
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
  jans-pycloudlib/tests/test_persistence.py
Labels: kind-feature, comp-jans-pycloudlib

#9727 fix(docs): update cli command
  docs/contribute/developer-faq.md
  docs/contribute/testing.md
  docs/janssen-server/auth-server/endpoints/client-registration.md
  docs/janssen-server/auth-server/logging/audit-logs.md
  docs/janssen-server/auth-server/logging/log-levels.md
  docs/janssen-server/config-guide/auth-server-config/agama-project-configuration.md
  docs/janssen-server/config-guide/auth-server-config/attribute-configuration.md
  docs/janssen-server/config-guide/auth-server-config/authentication-method-config.md
  docs/janssen-server/config-guide/auth-server-config/cache-configuration.md
  docs/janssen-server/config-guide/auth-server-config/couchbase-configuration.md
  docs/janssen-server/config-guide/auth-server-config/jans-authorization-server-config.md
  docs/janssen-server/config-guide/auth-server-config/json-web-key-config.md
  docs/janssen-server/config-guide/auth-server-config/logging-configuration.md
  docs/janssen-server/config-guide/auth-server-config/oauth-scopes-config.md
  docs/janssen-server/config-guide/auth-server-config/oauth-umaresources-config.md
  docs/janssen-server/config-guide/auth-server-config/openid-connect-client-configuration.md
  docs/janssen-server/config-guide/config-tools/config-api/config.md
  docs/janssen-server/config-guide/custom-assets-configuration.md
  docs/janssen-server/config-guide/custom-scripts-config.md
  docs/janssen-server/config-guide/fido2-config/janssen-fido2-configuration.md
  docs/janssen-server/config-guide/scim-config/scim-group-config.md
  docs/janssen-server/config-guide/scim-config/user-config.md
  docs/janssen-server/config-guide/smtp-configuration.md
  docs/janssen-server/developer/agama/quick-start-using-agama-lab.md
  docs/janssen-server/fido/config.md
  docs/janssen-server/fido/logs.md
  docs/janssen-server/install/docker-install/compose.md
  docs/janssen-server/install/docker-install/quick-start.md
  docs/janssen-server/recipes/inbound-oidc.md
  docs/janssen-server/recipes/user-password-validation.md
  docs/janssen-server/reference/kubernetes/docker-jans-monolith.md
  docs/janssen-server/scim/config.md
  docs/janssen-server/usermgmt/usermgmt-cli-tui.md
  docs/janssen-server/vm-ops/logs.md
Labels: kind-bug, area-documentation, comp-agama, comp-docs

#9931 feat(jans-auth-server): update first part applications implementations to draft 02
  docs/assets/log/authorization-details-run-log.txt
  docs/assets/log/tx-token-replace-run-log.txt
  docs/assets/log/tx-token-request-run-log.txt
  docs/janssen-server/auth-server/endpoints/authorization-challenge.md
  docs/janssen-server/auth-server/oauth-features/README.md
  docs/janssen-server/config-guide/auth-server-config/jans-authorization-server-config.md
  docs/script-catalog/authorization_challenge/AuthorizationChallenge.java
  docs/script-catalog/authorization_challenge/authorization-challenge.md
  docs/script-catalog/authorization_challenge/multi_step/AuthorizationChallenge.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/session/AuthorizationChallengeSession.java
  jans-auth-server/common/src/main/java/io/jans/as/common/model/session/AuthorizationChallengeSessionAttributes.java
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeEndpoint.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeSessionService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/CleanerTimer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalAuthorizationChallengeService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeServiceTest.java
  jans-config-api/server/src/test/resources/feature/config/properties/endpoints/endpoints.json
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: area-documentation, comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-jans-linux-setup, comp-docs

#9920 refactor(cloud-native): remove ldap occurences in cloud-native
  charts/janssen/values.schema.json
  demos/benchmarking/docker-jans-loadtesting-jmeter/requirements.txt
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/add_users_ldap.py
  demos/benchmarking/docker-jans-loadtesting-jmeter/scripts/entrypoint.sh
  demos/benchmarking/docker-jans-loadtesting-jmeter/yaml/load-users/load_users_ldap_job.yaml
  docker-jans-monolith/Dockerfile
  docker-jans-monolith/scripts/entrypoint.sh
  docs/janssen-server/kubernetes-ops/logs.md
  mkdocs.yml
Labels: kind-enhancement, area-documentation, comp-charts-jans, comp-docker-jans-monolith, comp-docs

#9990 chore: misc descriptor updates
  jans-casa/app-fips/pom.xml
Labels: kind-dependencies, comp-jans-casa

#9939 feat(jans-cedarling): implement validation for userinfo_token JWT
  docs/cedarling/cedarling-policy-store.md
  jans-cedarling/README.md
  jans-cedarling/bindings/cedarling_python/example_files/policy-store.json
  jans-cedarling/bindings/cedarling_python/src/authorize/request.rs
  jans-cedarling/bindings/cedarling_python/tests/config.py
  jans-cedarling/bindings/cedarling_python/tests/test_policy_store.py
  jans-cedarling/cedarling/examples/authorize.rs
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/authz/request.rs
  jans-cedarling/cedarling/src/init/jwt_algorithm.rs
  jans-cedarling/cedarling/src/init/service_config.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/key_service.rs
  jans-cedarling/cedarling/src/jwt/decoding_strategy/traits.rs
  jans-cedarling/cedarling/src/jwt/error.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/jwt/test/can_decode_claims_with_validation.rs
  jans-cedarling/cedarling/src/jwt/test/can_decode_claims_without_validation.rs
  jans-cedarling/cedarling/src/jwt/test/can_update_local_jwks.rs
  jans-cedarling/cedarling/src/jwt/test/errors_on_invalid_aud.rs
  jans-cedarling/cedarling/src/jwt/test/errors_on_unsupported_alg.rs
  jans-cedarling/cedarling/src/jwt/test/utils.rs
  jans-cedarling/cedarling/src/jwt/token.rs
  jans-cedarling/test_files/policy-store_ok.json
  jans-cedarling/test_files/policy-store_ok/schema.json
  jans-cedarling/test_files/policy-store_with_trusted_issuers_ok.json
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#9992 fix(jans-core): document store manager load filePath attribute
  jans-core/document-store/src/main/java/io/jans/service/document/store/manager/DocumentStoreManager.java
Labels: kind-bug, comp-jans-core

#9701 feat(jans-core): integrate document store manager into applications
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/AppInitializer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-casa/app/src/main/java/io/jans/casa/core/ConfigurationHandler.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/AppInitializer.java
  jans-keycloak-link/server/pom.xml
  jans-keycloak-link/server/src/main/java/io/jans/keycloak/link/server/service/AppInitializer.java
  jans-link/server/pom.xml
  jans-link/server/src/main/java/io/jans/link/server/service/AppInitializer.java
  jans-lock/lock-server/server/pom.xml
  jans-lock/lock-server/server/src/main/java/io/jans/lock/server/service/AppInitializer.java
  jans-scim/server/pom.xml
  jans-scim/server/src/main/java/io/jans/scim/service/init/AppInitializer.java
Labels: comp-jans-auth-server, comp-jans-core, comp-jans-fido2, comp-jans-scim, kind-feature, comp-agama, comp-jans-lock, comp-jans-casa, comp-jans-keycloak-link, comp-jans-link

#10002 fix(jans-core): document store manager should have not null supported…
  jans-core/document-store/src/main/java/io/jans/service/document/store/manager/DocumentStoreManager.java
Labels: kind-bug, comp-jans-core
