Repository JanssenProject/jans, pull requests merged in 2024-09, with the labels that each got.

#9127 feat(jans-cli-tui): config-api configuration
  docs/admin/config-guide/config-api-config/janssen-config-api-configuration.md
  docs/admin/config-guide/config-tools/config-api/config.md
  docs/assets/tui-config-api-main.png
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/040_admin_ui/.enabled
  jans-cli-tui/cli_tui/plugins/040_admin_ui/__init__.py
  jans-cli-tui/cli_tui/plugins/040_admin_ui/edit_mapping_dialog.py
  jans-cli-tui/cli_tui/plugins/040_admin_ui/main.py
  jans-cli-tui/cli_tui/plugins/140_config_api/.enabled
  jans-cli-tui/cli_tui/plugins/140_config_api/__init__.py
  jans-cli-tui/cli_tui/plugins/140_config_api/main.py
  jans-cli-tui/cli_tui/utils/background_tasks.py
  jans-cli-tui/cli_tui/utils/utils.py
  jans-cli-tui/cli_tui/wui_components/jans_label_container.py
  jans-cli-tui/cli_tui/wui_components/jans_label_widget.py
Labels: area-documentation, comp-jans-cli-tui, kind-feature

#9325 chore: misc updates to Casa Agama authn project
  docs/casa/developer/overview.md
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/IdentityProcessor.java
  jans-casa/agama/project/code/io.jans.casa.authn.super_gluu.flow
  jans-casa/agama/project/lib/io/jans/casa/CasaWSBase.java
  jans-casa/agama/project/lib/io/jans/casa/authn/FidoValidator.java
  jans-casa/agama/project/lib/io/jans/casa/authn/OTPValidator.java
  jans-casa/agama/project/web/main.ftlh
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/SuperGluuExtension.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/SGService.java
  jans-casa/plugins/acct-linking/agama/project/project.json
  jans-casa/plugins/acct-linking/agama/project/web/acctlinking.ftlh
  jans-casa/plugins/acct-linking/agama/project/web/apple.png
  jans-casa/plugins/acct-linking/agama/project/web/email-prompt.ftlh
  jans-casa/plugins/acct-linking/agama/project/web/facebook.png
  jans-casa/plugins/acct-linking/agama/project/web/github.png
  jans-casa/plugins/acct-linking/agama/project/web/google.png
  jans-casa/plugins/acct-linking/agama/project/web/none.png
Labels: kind-dependencies, area-documentation, comp-jans-auth-server, comp-agama

#9334 feat(jans-config-api): add missing properties to log/audit/telemetry records
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/model/stat/HealthEntry.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/model/stat/LogEntry.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/model/stat/TelemetryEntry.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup

#9296 feat: remove mounted files for persistence
  charts/janssen-all-in-one/templates/cronjobs.yaml
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen-all-in-one/templates/secret.yaml
  charts/janssen/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/janssen/charts/auth-server/templates/deployment.yml
  charts/janssen/charts/casa/templates/deployment.yaml
  charts/janssen/charts/config-api/templates/deployment.yaml
  charts/janssen/charts/config/templates/load-init-config.yml
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/charts/fido2/templates/deployment.yml
  charts/janssen/charts/kc-scheduler/templates/cronjobs.yaml
  charts/janssen/charts/link/templates/deployment.yaml
  charts/janssen/charts/opendj/templates/cronjobs.yaml
  charts/janssen/charts/opendj/templates/statefulset.yaml
  charts/janssen/charts/persistence/templates/jobs.yml
  charts/janssen/charts/saml/templates/deployment.yaml
  charts/janssen/charts/scim/templates/deployment.yml
Labels: kind-feature, comp-charts-jans

#9311 fix(cloud-native): toggle rendering truststore based on env var
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-casa/scripts/bootstrap.py
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-keycloak-link/scripts/bootstrap.py
  docker-jans-link/scripts/bootstrap.py
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-scim/scripts/bootstrap.py
Labels: kind-bug, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link

#9339 fix(jans-cli-tui): authn page for non-ldap backend
  jans-cli-tui/cli_tui/plugins/010_auth_server/authn.py
Labels: kind-bug, comp-jans-cli-tui

#9343 feat(jans-config-api): add endpoint to load log/telemetery/health dat…
  jans-auth-server/common/src/main/java/io/jans/as/common/util/AttributeConstants.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/model/stat/HealthEntry.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/model/stat/LogEntry.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/model/stat/TelemetryEntry.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/rest/AuditResource.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/service/AuditService.java
  jans-linux-setup/jans_setup/static/rdbm/mysql_index.json
  jans-linux-setup/jans_setup/static/rdbm/pgsql_index.json
  jans-linux-setup/jans_setup/static/rdbm/spanner_index.json
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-jans-linux-setup

#9344 feat(jans-auth-server): AS supports acr aliasing but it's not published on discovery. It should be added to discovery. #9166
  docs/admin/install/install-faq.md
  jans-auth-server/client/src/main/java/io/jans/as/client/OpenIdConfigurationClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/OpenIdConfigurationResponse.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/ConfigurationResponseClaim.java
  jans-auth-server/model/src/main/java/io/jans/as/model/util/Util.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/DiscoveryService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/DiscoveryServiceTest.java
Labels: area-documentation, comp-jans-auth-server, kind-feature

#9347 feat(jans-core): fix javadocs generation
  jans-core/pom.xml
Labels: comp-jans-core, kind-feature

#9349 feat(jans-scim): fix javadocs generation
  jans-scim/pom.xml
Labels: area-CI, comp-jans-scim, kind-feature

#9351 feat(jans-config-api): fix javadocs generation
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/pom.xml
Labels: comp-jans-config-api, kind-feature

#9356 ci: forces download each time on packaging
  .github/workflows/build-packages.yml
Labels: area-CI

#9358 feat: add parameter in client registration request to include claims in id_token
  demos/jans-tarp/src/options/registerClient.tsx
Labels: kind-feature

#9323 fix(docker-jans-persistence-loader): populate jansDbAuth attribute only if using ldap persistence
  docker-jans-persistence-loader/scripts/upgrade.py
  docker-jans-persistence-loader/templates/configuration.ldif
Labels: kind-bug, comp-docker-jans-persistence-loader

#9375 feat(jans-auth-server): added nbf claims to tokens which is equal to iat #9320
  jans-auth-server/model/src/main/java/io/jans/as/model/jwt/JwtClaims.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/IdTokenFactory.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/token/StatusListService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/LogoutTokenFactory.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TxTokenService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/uma/service/UmaRptService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/userinfo/ws/rs/UserInfoRestWebServiceImpl.java
Labels: comp-jans-auth-server, kind-feature

#9382 feat(jans-core): update OpeDJ version
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-linux-setup/jans_setup/app_info.json
Labels: comp-jans-config-api, comp-jans-core, kind-feature, comp-jans-linux-setup

#9383 chore: use pythonic style in Agama bridge
  docs/script-catalog/person_authentication/agama-bridge/AgamaBridge.py
Labels: kind-dependencies

#9388 fix(jans-auth): set auth_user session attribute from authenticateByUserInum method
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthenticationService.java
Labels: kind-bug, comp-jans-auth-server

#9386 fix(config-api): lock endpoint fixes and SAML IDP NPE
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/IdpService.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/model/stat/TelemetryEntry.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/service/AuditService.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/service/OpenIdAuthorizationService.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
  jans-lock/lock-server/model/src/main/java/io/jans/lock/model/config/AppConfiguration.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/TokenEndpointService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/audit/AuditService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/audit/AuditRestWebServiceImpl.java
Labels: kind-bug, comp-jans-config-api, comp-jans-linux-setup

#9389 feat(jans-pycloudlib): handle required files for external configuration backends
  jans-pycloudlib/jans/pycloudlib/manager.py
  jans-pycloudlib/jans/pycloudlib/persistence/spanner.py
  jans-pycloudlib/setup.py
  jans-pycloudlib/tests/test_cli.py
Labels: kind-feature, comp-jans-pycloudlib

#9395 feat(jans-auth): add warn to check if server can't set authenticated
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthenticationService.java
Labels: comp-jans-auth-server, kind-feature

#9400 chore(jans-linux-setup): restart jans services in post-setup
  jans-linux-setup/jans_setup/setup_app/messages.py
Labels: kind-dependencies, comp-jans-linux-setup

#9398 feat(jans-core): store file_name and file_path in separate columns
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AssetResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/manager/DocumentStoreManager.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/model/Document.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DBDocumentStoreProvider.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DocumentStore.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: comp-jans-config-api, comp-jans-core, kind-feature, comp-jans-linux-setup

#9391 fix: high CPU usage on opening tarp #9390
  demos/jans-tarp/src/options/authFlowInputs.tsx
  demos/jans-tarp/src/options/oidcClients.tsx
  demos/jans-tarp/src/options/options.tsx
  demos/jans-tarp/src/options/registerClient.tsx
  demos/jans-tarp/src/options/userDetails.tsx
Labels: kind-bug

#9408 fix: add missing super gluu related files to authn project
  jans-casa/agama/project/code/io.jans.casa.authn.super_gluu.flow
  jans-casa/agama/project/lib/io/jans/casa/authn/SGValidator.java
  jans-casa/agama/project/lib/io/jans/casa/notify/Configuration.java
  jans-casa/agama/project/lib/io/jans/casa/notify/SGNotificationsUtil.java
  jans-casa/agama/project/project.json
  jans-casa/agama/project/web/authn/sg/code-scan.ftlh
  jans-casa/agama/project/web/authn/sg/notification.ftlh
  jans-casa/agama/project/web/authn/sg/sg.jpg
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/SuperGluuExtension.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/SGService.java
  jans-casa/plugins/strong-authn-settings/src/main/java/io/jans/casa/plugins/strongauthn/StrongAuthnSettingsPlugin.java
  jans-casa/plugins/strong-authn-settings/src/main/java/io/jans/casa/plugins/strongauthn/service/TrustedDevicesSweeper.java
Labels: kind-bug, comp-agama

#9406 chore(cloud-native): sync assets into OCI images
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-casa/Dockerfile
  docker-jans-casa/scripts/bootstrap.py
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/scripts/bootstrap.py
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/scripts/bootstrap.py
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/scripts/bootstrap.py
  docker-jans-link/Dockerfile
  docker-jans-link/scripts/bootstrap.py
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/bootstrap.py
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/scripts/bootstrap.py
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one

#9418 fix(jans-cli-tui): re-order feed and background task messages
  jans-cli-tui/cli_tui/plugins/140_config_api/main.py
  jans-cli-tui/cli_tui/utils/background_tasks.py
Labels: kind-bug, comp-jans-cli-tui

#9417 feat(config-api): initializing core documentStore manager timer for config-api
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/configuration/AppInitializer.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AssetResource.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/model/Document.java
Labels: comp-jans-config-api, comp-jans-core, kind-feature

#9428 fix(config-api): scope validation issue #9426
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/security/service/OpenIdAuthorizationService.java
Labels: kind-bug, comp-jans-config-api

#9416 docs: fix mysql-ops command order
  docs/admin/reference/database/mysql-ops.md
Labels: area-documentation

#9436 fix(jans-cli-tui): populate config-api widgets when page entered
  jans-cli-tui/cli_tui/plugins/140_config_api/main.py
  jans-cli-tui/cli_tui/utils/background_tasks.py
Labels: kind-bug, comp-jans-cli-tui

#9437 fix(jans-cli-tui): hide Messages configuration page
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-jans-cli-tui

#9439 doc(jans-auth-server): improved doc for acr aliasing #9438
  docs/admin/auth-server/openid-features/acrs.md
Labels: area-documentation, comp-jans-auth-server

#9370 feat(jans-cli-tui): deploy Agama Lab community projects
  docs/admin/config-guide/auth-server-config/agama-project-configuration.md
  docs/assets/tui-agama-community-projects-list.png
  docs/assets/tui-agama-project-list.png
  docs/assets/tui-agama-select-deployment.png
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/plugins/140_config_api/main.py
  jans-cli-tui/cli_tui/wui_components/jans_message_dialog.py
Labels: area-documentation, comp-jans-cli-tui, kind-feature

#9448 Jans config fix
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
Labels: comp-jans-config-api

#9454 fix: update wrong clause
  docs/script-catalog/person_authentication/agama-bridge/AgamaBridge.py
Labels: kind-bug

#9452 feat: allow specifying scopes during execution of authz url
  demos/jans-tarp/src/options/authFlowInputs.tsx
  demos/jans-tarp/src/options/registerClient.tsx
Labels: kind-feature

#9451 fix(jans-trap): Next Month Arrow is Hidden in calender of client expiry date input while register new OIDC client
  demos/jans-tarp/src/options/options.css
Labels: kind-bug

#9457 fix(jans-linux-setup): jans ldap link server
  docs/admin/install/setup.md
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_link.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, area-documentation, comp-jans-linux-setup

#9458 fix(jans-auth-server): when arc is changed to agama flow fails with AcrChangedException #9374
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AcrService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalAuthenticationService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/AcrServiceTest.java
Labels: kind-bug, comp-jans-auth-server

#9441 fix(jans-cli-tui): asset issues
  docs/admin/config-guide/custom-assets-configuration.md
  docs/assets/tui-asset-data.png
  docs/assets/tui-asset-screen.png
  jans-cli-tui/cli_tui/plugins/130_assets/main.py
Labels: kind-bug, area-documentation, comp-jans-cli-tui

#9462 fix(jans-linux-setup): ruamel.yaml fixes
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/setup_app/installers/scim.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
  jans-linux-setup/jans_setup/setup_app/utils/setup_utils.py
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
Labels: kind-bug, comp-jans-cli-tui, comp-jans-linux-setup

#9402 docs(SCIM config): update the configuration guides for SCIM #9337
  docs/admin/config-guide/scim-config/scim-group-config.md
  docs/admin/config-guide/scim-config/user-config.md
  docs/assets/jans-tui-delete-user.png
  docs/assets/jans-tui-update-user.png
  docs/assets/jans-tui-user-mgt.png
Labels: area-documentation

#9474 fix(jans-cli-tui): scim patch operation
  docs/admin/config-guide/scim-config/user-config.md
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, area-documentation, comp-jans-cli-tui

#9473 fix(config-ap): lock audit endpoint parameter declaration error#9460
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/rest/AuditResource.java
Labels: kind-bug, comp-jans-config-api

#9481 fix(jans-cli-tui): duplicate schema names in info
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui, comp-jans-tui

#9411 feat(charts): reduce mounted files for external configuration backends
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/_helpers.tpl
  charts/janssen-all-in-one/templates/configmap.yaml
  charts/janssen-all-in-one/templates/cronjobs.yaml
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen-all-in-one/templates/secret.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/janssen/charts/auth-server/templates/deployment.yml
  charts/janssen/charts/casa/templates/deployment.yaml
  charts/janssen/charts/config-api/templates/deployment.yaml
  charts/janssen/charts/config/templates/_helpers.tpl
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/charts/config/templates/load-init-config.yml
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/charts/fido2/templates/deployment.yml
  charts/janssen/charts/kc-scheduler/templates/cronjobs.yaml
  charts/janssen/charts/link/templates/deployment.yaml
  charts/janssen/charts/opendj/templates/cronjobs.yaml
  charts/janssen/charts/opendj/templates/statefulset.yaml
  charts/janssen/charts/persistence/templates/jobs.yml
  charts/janssen/charts/saml/templates/deployment.yaml
  charts/janssen/charts/scim/templates/deployment.yml
  charts/janssen/values.yaml
  docs/admin/reference/kubernetes/helm-chart.md
Labels: area-documentation, kind-feature, comp-charts-jans

#9479 feat(cedarling): add an example application using python binding
  jans-lock/cedarling/bindings/README.md
  jans-lock/cedarling/bindings/cedarling_python/pyproject.toml
  jans-lock/cedarling/examples/README.md
  jans-lock/cedarling/examples/cedarling_python_poetry/README.md
  jans-lock/cedarling/examples/cedarling_python_poetry/pyproject.toml
  jans-lock/cedarling/examples/cedarling_python_poetry/pythonpoetry.py
Labels: area-documentation, kind-feature

#9482 feat(jans-auth-server): updated tx_token implementation to latest tx spec 9-Sep-2024 #9352
  docs/admin/auth-server/tokens/oauth-tx-tokens.md
  docs/assets/log/tx-token-replace-run-log.txt
  docs/assets/log/tx-token-request-run-log.txt
  jans-auth-server/model/src/main/java/io/jans/as/model/config/Constants.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwt/JwtType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/token/TokenErrorResponseType.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/TxToken.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TxTokenService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/model/common/TxTokenTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TxTokenValidatorTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: area-documentation, comp-jans-auth-server, kind-feature

#9490 feat(jans-config-api): update schema to conform code
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup

#9492 feat(jans-conf-api): evaluationTimeNs should be integer
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/model/stat/TelemetryEntry.java
Labels: comp-jans-config-api, kind-feature

#9464 fix(terraform-provider-jans): update terraform module
  terraform-provider-jans/CHANGELOG.md
  terraform-provider-jans/README.md
  terraform-provider-jans/docs/resources/api_app_configuration.md
  terraform-provider-jans/docs/resources/app_configuration.md
  terraform-provider-jans/docs/resources/custom_user.md
  terraform-provider-jans/docs/resources/default_authentication_method.md
  terraform-provider-jans/docs/resources/kc_saml_configuration.md
  terraform-provider-jans/docs/resources/kc_saml_identity_provider.md
  terraform-provider-jans/docs/resources/kc_saml_trust_relationship.md
  terraform-provider-jans/docs/resources/scim_app_configuration.md
  terraform-provider-jans/examples/resources/jans_default_authentication_method/resource.tf
  terraform-provider-jans/examples/resources/jans_smtp_configuration/resource.tf
  terraform-provider-jans/jans/agama_deployment_test.go
  terraform-provider-jans/jans/api_app_configuration.go
  terraform-provider-jans/jans/app_configuration.go
  terraform-provider-jans/jans/attributes.go
  terraform-provider-jans/jans/attributes_test.go
  terraform-provider-jans/jans/client.go
  terraform-provider-jans/jans/client_test.go
  terraform-provider-jans/jans/custom_user.go
  terraform-provider-jans/jans/custom_user_test.go
  terraform-provider-jans/jans/default_authentication_method_test.go
  terraform-provider-jans/jans/jans_asset_test.go
  terraform-provider-jans/jans/kc_saml_config.go
  terraform-provider-jans/jans/kc_saml_config_test.go
  terraform-provider-jans/jans/kc_saml_idp.go
  terraform-provider-jans/jans/kc_saml_idp_test.go
  terraform-provider-jans/jans/kc_saml_tr.go
  terraform-provider-jans/jans/kc_saml_tr_test.go
  terraform-provider-jans/jans/plugins_test.go
  terraform-provider-jans/jans/scim_app_configuration.go
  terraform-provider-jans/jans/testdata/metadata.xml
  terraform-provider-jans/provider/resource_api_app_configuration.go
  terraform-provider-jans/provider/resource_api_app_configuration_test.go
  terraform-provider-jans/provider/resource_app_configuration.go
  terraform-provider-jans/provider/resource_attribute_test.go
  terraform-provider-jans/provider/resource_custom_user.go
  terraform-provider-jans/provider/resource_custom_user_test.go
  terraform-provider-jans/provider/resource_default_authentication_method_test.go
  terraform-provider-jans/provider/resource_fido2_configuration_test.go
  terraform-provider-jans/provider/resource_kc_saml_config.go
  terraform-provider-jans/provider/resource_kc_saml_idp.go
  terraform-provider-jans/provider/resource_kc_saml_tr.go
  terraform-provider-jans/provider/resource_organization_test.go
  terraform-provider-jans/provider/resource_scim_app_configuration.go
  terraform-provider-jans/provider/resource_script.go
Labels: kind-bug, area-documentation

#9493 feat(jans-lock): cedarling code refactoring to improve its readability and maintainance
  jans-lock/cedarling/Cargo.toml
  jans-lock/cedarling/README.md
  jans-lock/cedarling/bindings/README.md
  jans-lock/cedarling/bindings/cedarling_python/.gitignore
  jans-lock/cedarling/bindings/cedarling_python/Cargo.toml
  jans-lock/cedarling/bindings/cedarling_python/README.md
  jans-lock/cedarling/bindings/cedarling_python/example.py
  jans-lock/cedarling/bindings/cedarling_python/pyproject.toml
  jans-lock/cedarling/bindings/cedarling_python/src/config.rs
  jans-lock/cedarling/bindings/cedarling_python/src/lib.rs
  jans-lock/cedarling/bindings/cedarling_python/src/policy_store.rs
  jans-lock/cedarling/bindings/cedarling_python/src/request.rs
  jans-lock/cedarling/cedarling/Cargo.toml
  jans-lock/cedarling/cedarling/src/authz/mod.rs
  jans-lock/cedarling/cedarling/src/init/mod.rs
  jans-lock/cedarling/cedarling/src/jwt/mod.rs
  jans-lock/cedarling/cedarling/src/lib.rs
  jans-lock/cedarling/cedarling/src/lock/mod.rs
  jans-lock/cedarling/cedarling/src/log/mod.rs
  jans-lock/cedarling/cedarling/src/models/mod.rs
  jans-lock/cedarling/cedarling/src/tests/mod.rs
  jans-lock/cedarling/cedarling_run/Cargo.toml
  jans-lock/cedarling/cedarling_run/src/main.rs
  jans-lock/cedarling/demo/README.md
  jans-lock/cedarling/demo/input.json
  jans-lock/cedarling/demo/policies_1.cedar
  jans-lock/cedarling/demo/policy-store/local.json
  jans-lock/cedarling/demo/policy-store/local_poisoned.json
  jans-lock/cedarling/demo/policy-store/local_policy_base64_poisoned.json
  jans-lock/cedarling/demo/policy-store/local_policy_struct_poisoned.json
  jans-lock/cedarling/demo/policy-store/local_schema_base64_poisoned.json
  jans-lock/cedarling/demo/policy-store/local_schema_schema_struct_poisoned.json
  jans-lock/cedarling/engines/authz_engine/Cargo.toml
  jans-lock/cedarling/engines/authz_engine/src/authz.rs
  jans-lock/cedarling/engines/authz_engine/src/authz/exp_parsers.rs
  jans-lock/cedarling/engines/authz_engine/src/authz/jwt_data_handler.rs
  jans-lock/cedarling/engines/authz_engine/src/authz/jwt_tokens.rs
  jans-lock/cedarling/engines/authz_engine/src/authz_tests.rs
  jans-lock/cedarling/engines/authz_engine/src/lib.rs
  jans-lock/cedarling/engines/init_engine/Cargo.toml
  jans-lock/cedarling/engines/init_engine/src/lib.rs
  jans-lock/cedarling/engines/init_engine/src/policy_store.rs
  jans-lock/cedarling/engines/init_engine/src/policy_store_config.rs
  jans-lock/cedarling/engines/jwt_engine/Cargo.toml
  jans-lock/cedarling/engines/jwt_engine/src/lib.rs
  jans-lock/cedarling/examples/README.md
  jans-lock/cedarling/examples/cedarling_python_poetry/README.md
  jans-lock/cedarling/examples/cedarling_python_poetry/pyproject.toml
  jans-lock/cedarling/examples/cedarling_python_poetry/pythonpoetry.py
  jans-lock/cedarling/rustfmt.toml
  jans-lock/cedarling/schema/human/00-cedarling_core_schema.schema
  jans-lock/cedarling/schema/human/20-actions-filesystem-core.schema
  jans-lock/cedarling/schema/human/cedarling_demo_schema.schema
  jans-lock/cedarling/schema/json/00-cedarling_core_schema.json
  jans-lock/cedarling/schema/json/20-actions-filesystem-core.json
Labels: area-documentation, kind-feature

#9497 chore: sync assets for OCI images
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/lock.py
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-casa/Dockerfile
  docker-jans-casa/scripts/bootstrap.py
  docker-jans-casa/scripts/upgrade.py
  docker-jans-casa/scripts/utils.py
  docker-jans-config-api/Dockerfile
  docker-jans-persistence-loader/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api

#9513 feat(jans-auth-server): added dedicated deviceSessionLifetime conf property #7010
  docs/admin/auth-server/endpoints/authorization-challenge.md
  docs/admin/developer/scripts/authorization-challenge.md
  docs/script-catalog/authorization_challenge/AuthorizationChallenge.java
  docs/script-catalog/authorization_challenge/multi_step/AuthorizationChallenge.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/DeviceSessionService.java
Labels: area-documentation, comp-jans-auth-server, kind-feature

#9509 docs: update README.md for Lock changes
  README.md
Labels: kind-bug, area-documentation

#9109 docs(config): logging config documentation update
  docs/admin/config-guide/auth-server-config/logging-configuration.md
  docs/assets/tui-FIDO-logging-use.jpg
  docs/assets/tui-scim-logging-use.jpg
Labels: area-documentation

#9522 feat(jans-linux-setup): turn off update profile on first login for the review profile step in the first broker login flow
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
  jans-linux-setup/jans_setup/templates/jans-saml/kc_jans_api/jans.update-authenticator-config.json
Labels: kind-feature, comp-jans-linux-setup

#9523 fix(jans-auth-server): new jans server installation show null in place of client_name #9415
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeAction.java
  jans-auth-server/server/src/main/webapp/WEB-INF/incl/layout/authorize-extended-template.xhtml
Labels: kind-bug, comp-jans-auth-server

#9538 fix(jans-cli-tui): hide realm in idp setup
  docs/admin/keycloak/keycloak-saml-inbound.md
  docs/assets/tui-admin-keycloack-add-idp.png
  docs/assets/tui-admin-keycloack-edit-idp.png
  jans-cli-tui/cli_tui/plugins/100_saml/edit_identity_provider_dialog.py
Labels: kind-bug, area-documentation, comp-jans-cli-tui

#9551 feat(jans-auth): update SG script to conform API
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/SuperGluuExternalAuthenticator.py
Labels: comp-jans-config-api, kind-feature

#9554 feat(config-api): client token mgt endpoint
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/profiles/default/config-api-test.properties
  jans-config-api/profiles/jans-ui.jans.io/test.properties
  jans-config-api/profiles/jenkins-config-api.gluu.org/test.properties
  jans-config-api/profiles/local/test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/TokenResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/client/AuthClientFactory.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ClientAuthService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ConfigurationService.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/server/src/main/resources/example/token/token-get.json
  jans-config-api/server/src/test/resources/feature/token/client-token.feature
  jans-config-api/server/src/test/resources/karate-config-jenkins.js
  jans-config-api/server/src/test/resources/karate-config.js
Labels: comp-jans-config-api, kind-feature

#9564 refactor(jans-cedarling): move cedarling top level
  README.md
  automation/github-labels/labels-schema.json
  jans-cedarling/.gitignore
  jans-cedarling/Cargo.toml
  jans-cedarling/README.md
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/init/mod.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/lock/mod.rs
  jans-cedarling/cedarling/src/log/mod.rs
  jans-cedarling/cedarling/src/models/mod.rs
  jans-cedarling/cedarling/src/tests/mod.rs
  jans-cedarling/rustfmt.toml
Labels: kind-enhancement, area-CI, area-documentation, comp-jans-cedarling

#9500 docs: add license header instruction to contribution guide
  docs/CONTRIBUTING.md
  docs/governance/janssen-project-CLA-version-1.pdf
Labels: area-documentation

#9546 feat (cedarling): Log Startup message
  jans-cedarling/Cargo.toml
  jans-cedarling/README.md
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/log/README.md
  jans-cedarling/cedarling/src/log/interface.rs
  jans-cedarling/cedarling/src/log/log_strategy.rs
  jans-cedarling/cedarling/src/log/memory_logger.rs
  jans-cedarling/cedarling/src/log/mod.rs
  jans-cedarling/cedarling/src/log/nop_logger.rs
  jans-cedarling/cedarling/src/log/stdout_logger.rs
  jans-cedarling/cedarling/src/log/test.rs
  jans-cedarling/cedarling/src/models/authz_config.rs
  jans-cedarling/cedarling/src/models/bootstrap_config.rs
  jans-cedarling/cedarling/src/models/log_config.rs
  jans-cedarling/cedarling/src/models/log_entry.rs
  jans-cedarling/cedarling/src/models/mod.rs
  jans-cedarling/sparkv/.gitignore
  jans-cedarling/sparkv/Cargo.toml
  jans-cedarling/sparkv/LICENSE
  jans-cedarling/sparkv/README.md
  jans-cedarling/sparkv/src/config.rs
  jans-cedarling/sparkv/src/error.rs
  jans-cedarling/sparkv/src/expentry.rs
  jans-cedarling/sparkv/src/kventry.rs
  jans-cedarling/sparkv/src/lib.rs
Labels: area-documentation, kind-feature

#9566 fix: update jansExtUid regardless of skipProfileUpdate value
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/IdentityProcessor.java
Labels: kind-bug, comp-jans-auth-server, comp-agama

#9567 chore: remove id_token_hint from logout url
  jans-casa/app/src/main/java/io/jans/casa/core/OIDCFlowService.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/HeaderViewModel.java
Labels: kind-dependencies, comp-jans-casa

#9573 feat(jans-lock): rename Lock Master to Lock Server
  docs/admin/lock/cedarling.md
  docs/admin/reference/openapi.md
  jans-linux-setup/jans_setup/templates/jans-couchbase.properties
  jans-lock/lock-server.yaml
  jans-lock/lock-server/pom.xml
  mkdocs.yml
Labels: area-documentation, kind-feature, comp-jans-linux-setup, comp-jans-lock, comp-docs

#9574 fix(jans-fido): correct display name for fido interception script #9485
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#9580 fix(jans-auth-server): typo in forceIdTokenHintPrecense, precense -> presence #9559
  docs/admin/auth-server/endpoints/end-session.md
  docs/admin/config-guide/auth-server-config/jans-authorization-server-config.md
  docs/admin/reference/json/properties/janssenauthserver-properties.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImpl.java
  jans-auth-server/server/src/test/java/io/jans/as/server/session/ws/rs/EndSessionRestWebServiceImplTest.java
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: kind-bug, area-documentation, comp-jans-auth-server, comp-jans-linux-setup, comp-docs

#9571 Issue 9570
  jans-linux-setup/jans_setup/templates/jans-couchbase.properties
  jans-orm/couchbase/src/main/java/io/jans/orm/couchbase/operation/impl/CouchbaseConnectionProvider.java
Labels: comp-jans-orm, comp-jans-linux-setup

#9582 fix: changes in passkey script
  demos/jans-chip/android/docs/authChallengeScript.java
Labels: kind-bug, comp-docs

#9585 chore: update labels in fido2 page
  jans-casa/app/src/main/resources/labels/user.properties
  jans-casa/app/src/main/webapp/user/fido2-detail.zul
Labels: kind-dependencies, comp-jans-casa

#9575 feat(jans-cedarling): Policy Store: Parse Schema and Policies
  jans-cedarling/README.md
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/src/authz/README.md
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/init/README.md
  jans-cedarling/cedarling/src/init/cedar_schema.rs
  jans-cedarling/cedarling/src/init/mod.rs
  jans-cedarling/cedarling/src/init/policy_store.rs
  jans-cedarling/cedarling/src/init/test_files/policy-store_ok.json
  jans-cedarling/cedarling/src/init/test_files/policy-store_schema_err_base64.json
  jans-cedarling/cedarling/src/init/test_files/policy-store_schema_err_cedar_mistake.json
  jans-cedarling/cedarling/src/init/test_files/policy-store_schema_err_json.json
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/log/log_strategy.rs
  jans-cedarling/cedarling/src/log/test.rs
  jans-cedarling/cedarling/src/models/bootstrap_config.rs
  jans-cedarling/cedarling/src/models/log_config.rs
  jans-cedarling/cedarling/src/models/mod.rs
  jans-cedarling/cedarling/src/models/policy_store.rs
  jans-cedarling/cedarling/src/models/policy_store_config.rs
Labels: area-documentation, kind-feature, comp-jans-cedarling

#9561 feat(docker-jans-saml): turn off profile update on first login
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/configure_kc.py
Labels: kind-feature

#9584 feat(jans-cedarling): Policy Store: Parse Policies - both valid and invalid
  jans-cedarling/cedarling/src/init/cedar_schema.rs
  jans-cedarling/cedarling/src/init/mod.rs
  jans-cedarling/cedarling/src/init/policy.rs
  jans-cedarling/cedarling/src/init/policy_store.rs
  jans-cedarling/cedarling/src/init/test_files/policy-store_policy_err_base64.json
  jans-cedarling/cedarling/src/init/test_files/policy-store_policy_err_broken_policy.json
  jans-cedarling/cedarling/src/init/test_files/policy-store_policy_err_broken_utf8.json
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/models/policy_store.rs
Labels: area-documentation, kind-feature, comp-jans-cedarling

#9601 fix(jans-auth-server): added operationId to /ssa/validate swagger
  jans-auth-server/docs/swagger.yaml
Labels: kind-bug, comp-jans-auth-server, comp-docs

#9603 feat(jans-tarp): Show loader in jans tarp on Submit/Add form until response comes from API.
  demos/jans-tarp/src/options/authFlowInputs.tsx
  demos/jans-tarp/src/options/options.css
  demos/jans-tarp/src/options/registerClient.tsx
Labels: kind-feature

#9583 refactor(docs): minor re-organisation of documentation sections
  docs/CONTRIBUTING.md
  docs/admin/auth-server/endpoints/archived-jwks-uri.md
  docs/admin/auth-server/endpoints/end-session.md
  docs/admin/auth-server/endpoints/session-revocation.md
  docs/admin/auth-server/endpoints/token-revocation.md
  docs/admin/auth-server/endpoints/token.md
  docs/admin/auth-server/openid-features/acrs.md
  docs/admin/auth-server/openid-features/logout/README.md
  docs/admin/auth-server/openid-features/user-claims/custom-claims.md
  docs/admin/config-guide/auth-server-config/attribute-configuration.md
  docs/admin/config-guide/auth-server-config/authentication-method-config.md
  docs/admin/config-guide/auth-server-config/messaging-config.md
  docs/admin/config-guide/auth-server-config/oauth-scopes-config.md
  docs/admin/config-guide/auth-server-config/oauth-umaresources-config.md
  docs/admin/config-guide/config-api-config/janssen-config-api-configuration.md
  docs/admin/config-guide/config-tools/config-api/config.md
  docs/admin/config-guide/custom-assets-configuration.md
  docs/admin/config-guide/scim-config/scim-group-config.md
  docs/admin/developer/agama/faq.md
  docs/admin/developer/agama/flows-navigation-ui.md
  docs/admin/developer/agama/jans-agama-engine.md
  docs/admin/developer/agama/projects-deployment.md
  docs/admin/developer/managed-beans.md
  docs/admin/developer/scripts/person-authentication.md
  docs/admin/developer/scripts/ropc.md
  docs/admin/fido/README.md
  docs/admin/keycloak/keycloak-saml-inbound.md
  docs/admin/kubernetes-ops/external-secrets-configmaps.md
  docs/admin/lock/README.md
  docs/admin/recipes/casa.md
  docs/admin/recipes/user-password-validation.md
  docs/admin/reference/database/mysql-ops.md
  docs/admin/vm-ops/certificates.md
  docs/casa/administration/2fa-basics.md
  docs/casa/administration/admin-console.md
  docs/casa/user-guide.md
  docs/cedarling.md
  docs/script-catalog/client_registration/OpenBanking/client-registration.md
  docs/script-catalog/person_authentication/other/fortinet/README.md
  docs/script-catalog/person_authentication/super-gluu-external-authenticator/README.md
  docs/script-catalog/person_authentication/twilio-2fa/README.md
  mkdocs.yml
Labels: area-documentation

#9614 feat(config-api) enhancement to fido2 delete endpoint, revoke session endpoint and added new fetch session endpoint
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/rest/Fido2RegistrationResource.java
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/Fido2RegistrationService.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/SessionResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/SessionService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/TokenService.java
  jans-config-api/server/src/main/resources/example/fido2/get-all-fido2-data.json
  jans-config-api/server/src/main/resources/example/fido2/get-fido2-by-id.json
  jans-config-api/server/src/main/resources/example/fido2/search-fido2-registration-data.json
  jans-config-api/server/src/main/resources/example/session/get-session-by-id.json
  jans-config-api/server/src/main/resources/example/token/get-token.json
Labels: comp-jans-config-api, kind-feature, comp-docs

#9619 feat(orm): update ORM drivers #9618
  jans-bom/pom.xml
  jans-orm/sql/pom.xml
Labels: comp-jans-orm, kind-feature, comp-jans-bom

#9616 test(config-api): marked ignore for failing test case
  jans-config-api/server/src/test/resources/feature/config/database/ldap/ldap.feature
  jans-config-api/server/src/test/resources/feature/session/session.feature
  jans-config-api/server/src/test/resources/feature/token/client-token.feature
Labels: area-CI, comp-jans-config-api

#9620 fix(jans-auth-server): prevent rxss #9613
  jans-auth-server/common/src/main/java/io/jans/as/common/util/RedirectUri.java
  jans-auth-server/common/src/test/java/io/jans/as/common/util/RedirectUriTest.java
Labels: kind-bug, comp-jans-auth-server

#9607 feat(jans-cedarling): add python bindings
  jans-cedarling/Cargo.toml
  jans-cedarling/README.md
  jans-cedarling/bindings/cedarling_python/Cargo.toml
  jans-cedarling/bindings/cedarling_python/PYTHON_TYPES.md
  jans-cedarling/bindings/cedarling_python/README.md
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/example_files/policy-store.json
  jans-cedarling/bindings/cedarling_python/print_documentation.py
  jans-cedarling/bindings/cedarling_python/pyproject.toml
  jans-cedarling/bindings/cedarling_python/src/cedarling.rs
  jans-cedarling/bindings/cedarling_python/src/config/README.md
  jans-cedarling/bindings/cedarling_python/src/config/authz_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/bootstrap_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/memory_log_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/mod.rs
  jans-cedarling/bindings/cedarling_python/src/config/off_log_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/policy_store_config.rs
  jans-cedarling/bindings/cedarling_python/src/config/policy_store_source.rs
  jans-cedarling/bindings/cedarling_python/src/config/stdout_log_config.rs
  jans-cedarling/bindings/cedarling_python/src/lib.rs
  jans-cedarling/bindings/cedarling_python/tests/config.py
  jans-cedarling/bindings/cedarling_python/tests/test_logger.py
  jans-cedarling/bindings/cedarling_python/tests/test_policy_store.py
  jans-cedarling/bindings/cedarling_python/tox.ini
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/src/init/cedar_schema.rs
  jans-cedarling/cedarling/src/init/policy.rs
  jans-cedarling/cedarling/src/init/policy_store.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/log/log_strategy.rs
  jans-cedarling/cedarling/src/log/memory_logger.rs
  jans-cedarling/cedarling/src/log/mod.rs
  jans-cedarling/cedarling/src/log/stdout_logger.rs
  jans-cedarling/cedarling/src/log/test.rs
  jans-cedarling/cedarling/src/models/log_config.rs
  jans-cedarling/cedarling/src/models/log_entry.rs
  jans-cedarling/cedarling/src/models/policy_store_config.rs
  jans-cedarling/sparkv/src/config.rs
  jans-cedarling/sparkv/src/lib.rs
Labels: area-documentation, kind-feature, comp-jans-cedarling

#9594 chore: skip plugin build
  docker-jans-casa/Dockerfile
  jans-casa/pom.xml
Labels: kind-dependencies, comp-jans-casa

#9626 feat(jans-orm): use protobuf-java defined in upstream dependecies
  jans-orm/sql/pom.xml
Labels: comp-jans-orm, kind-feature
