Repository JanssenProject/jans, pull requests merged in 2024-08, with the labels that each got.

#9056 docs(config): update instructions in LDAP configuration document
  docs/admin/config-guide/auth-server-config/ldap-configuration.md
Labels: area-documentation

#9076 docs(config): updates to custom assets config page
  docs/admin/config-guide/custom-assets-configuration.md
Labels: area-documentation

#9075 feat(jans-fido): add interception script for registration
  jans-linux-setup/jans_setup/static/extension/fido2/Fido2ExtensionSample.py
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-feature, comp-jans-linux-setup

#9079 feat(jans-linux-setup): update jansServiceModule for config-api in post-setup
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
Labels: kind-feature, comp-jans-linux-setup

#9084 fix(jans-core): register DB document store in Store factory
  jans-core/document-store/src/main/java/io/jans/service/document/store/provider/DocumentStoreProviderFactory.java
Labels: kind-bug, comp-jans-core

#9072 fix(jans-linux-setup): scope id permission to role for inum: C4F5
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_scope_dialog.py
  jans-linux-setup/jans_setup/templates/scopes.ldif
Labels: kind-bug, comp-jans-linux-setup

#9088 docs(customization): update the customization instructions to aling with custom assets
  docs/admin/developer/customization/customize-web-pages.md
Labels: area-documentation

#9104 feat(jans-orm): mask password attribute values
  jans-orm/core/src/main/java/io/jans/orm/impl/BaseEntryManager.java
Labels: comp-jans-orm, kind-feature

#9100 fix(jans-setup): corrected jansscr
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#9086 feat: Minimum support ES256, RS1, RS256, ED25519
  jans-fido2/model/src/main/java/io/jans/fido2/ctap/CoseEdDSAAlgorithm.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/external/context/ExternalFido2Context.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/TocService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/SignatureVerifier.java
Labels: comp-jans-fido2, kind-feature

#9108 fix(docs): update UMA config doc
  docs/admin/config-guide/auth-server-config/oauth-umaresources-config.md
Labels: kind-bug, area-documentation

#9107 docs(config): OpenID Connect client configuration
  docs/admin/config-guide/auth-server-config/openid-connect-client-configuration.md
  docs/assets/tui-add-client-screen.png
  docs/assets/tui-client-screen.png
  docs/assets/tui-openid-delete.png
Labels: area-documentation

#9090 docs(config): update SMTP config instructions
  docs/admin/config-guide/smtp-configuration.md
  docs/assets/tui-smtp-result.png
  docs/assets/tui-smtp.png
Labels: area-documentation

#9004 feat(jans-config-api): make the metadata file parameter optional when updating a relationship
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/SamlService.java
Labels: comp-jans-config-api, kind-feature

#9023 feat: refactor Assertion/Attestation to Jackson ObjectMapper
  jans-fido2/client/src/main/java/io/jans/fido2/client/AssertionService.java
  jans-fido2/client/src/main/java/io/jans/fido2/client/AttestationService.java
  jans-fido2/model/src/main/java/io/jans/fido2/ctap/AttestationConveyancePreference.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/assertion/AsserOptGenerateResponse.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/assertion/AssertionOptions.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/assertion/AssertionOptionsGenerate.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/assertion/AssertionOptionsResponse.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/assertion/AssertionResult.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/assertion/AssertionResultResponse.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/assertion/Response.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/attestation/AttestationOptions.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/attestation/AttestationResult.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/attestation/AttestationResultResponse.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/attestation/AuthenticatorSelection.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/attestation/PublicKeyCredentialCreationOptions.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/attestation/Response.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/common/PublicKeyCredentialDescriptor.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/common/PublicKeyCredentialEntity.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/common/PublicKeyCredentialParameters.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/common/PublicKeyCredentialType.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/common/RelyingParty.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/common/SuperGluuSupport.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/common/User.java
  jans-fido2/server/pom.xml
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/sg/converter/AssertionSuperGluuController.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/sg/converter/AttestationSuperGluuController.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/util/CommonUtilService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/AssertionVerifier.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/AttestationVerifier.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/CommonVerifiers.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/AssertionController.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/AttestationController.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/sg/FullFlowAndroidTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/sg/FullFlowAppleTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/sg/converter/AssertionSuperGluuControllerTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/sg/converter/AttestationSuperGluuControllerTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/AssertionVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/AttestationVerifierTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/CommonVerifiersTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/ws/rs/controller/AssertionControllerTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/ws/rs/controller/AttestationControllerTest.java
Labels: comp-jans-fido2, kind-feature

#9118 feat(jans-auth): fix ldap multi ad script to conform Jans
  docs/script-catalog/person_authentication/other/basic.multi_auth_conf/BasicMultiAuthConfExternalAuthenticator.py
Labels: kind-feature

#9085 chore(cloud-native): sync assets into OCI images
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/nginx-ingress.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/README.md
  charts/janssen/charts/auth-server/README.md
  charts/janssen/charts/auth-server/templates/auth-server-virtual-services.yaml
  charts/janssen/charts/casa/README.md
  charts/janssen/charts/cn-istio-ingress/README.md
  charts/janssen/charts/config-api/README.md
  charts/janssen/charts/config/README.md
  charts/janssen/charts/fido2/README.md
  charts/janssen/charts/kc-scheduler/README.md
  charts/janssen/charts/link/README.md
  charts/janssen/charts/nginx-ingress/README.md
  charts/janssen/charts/nginx-ingress/templates/ingress.yaml
  charts/janssen/charts/nginx-ingress/values.yaml
  charts/janssen/charts/opendj/README.md
  charts/janssen/charts/persistence/README.md
  charts/janssen/charts/saml/README.md
  charts/janssen/charts/scim/README.md
  charts/janssen/values.yaml
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/requirements.txt
  docker-jans-auth-server/scripts/lock.py
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-auth-server/scripts/utils.py
  docker-jans-auth-server/templates/jans-lock/clients.ldif
  docker-jans-casa/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/spanner_setup.py
  docker-jans-persistence-loader/scripts/sql_setup.py
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, comp-charts-jans, comp-docker-jans-link, comp-docker-jans-all-in-one

#8968 feat: add support for BS / BE flags in AuthData #8903
  jans-fido2/server/src/main/java/io/jans/fido2/model/auth/CredAndCounterData.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/AuthenticatorDataParser.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/AppleAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/NoneAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/PackedAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/TPMAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/U2FAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/U2FSuperGluuAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/AttestationVerifier.java
  jans-orm/model/src/main/java/io/jans/orm/model/fido2/Fido2RegistrationData.java
Labels: comp-jans-fido2, comp-jans-orm, kind-feature

#9131 fix(jans-auth): fix AD user authentication
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthenticationService.java
Labels: kind-bug, comp-jans-auth-server

#9135 fix(jans-auth): fix AD user authentication
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AuthenticationService.java
Labels: kind-bug, comp-jans-auth-server

#9133 fix(config-api): asset upload mgt fix and fido2 registration error
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/ApiAppConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/plugins/fido2-plugin/src/main/java/io/jans/configapi/plugin/fido2/service/UserFido2Service.java
  jans-config-api/server/src/main/java/io/jans/configapi/configuration/AppInitializer.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AssetResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/Document.java
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: kind-bug, comp-jans-config-api, comp-jans-core, comp-jans-linux-setup

#9134 fix(docker-jans-saml): kc-jans-spi throws error if using spanner/couchbase persistence
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/bootstrap.py
Labels: kind-bug

#9137 Update README.md
  docs/script-catalog/person_authentication/other/basic.multi_auth_conf/README.md
Labels: area-documentation

#9141 doc(jans-auth-server): client authn script is missed in navigation #9140
  mkdocs.yml
Labels: comp-jans-auth-server

#9139 fix(jans-auth-server): fixed race condition during refresh token removal #9074
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
Labels: kind-bug, comp-jans-auth-server

#9152 feat(cloud-native): upgrade Alpine OS to v3.20
  docker-jans-all-in-one/Dockerfile
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/Dockerfile
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/requirements.txt
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-kc-scheduler/requirements.txt
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/Dockerfile
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/requirements.txt
  docker-jans-saml/Dockerfile
  docker-jans-saml/requirements.txt
  docker-jans-scim/Dockerfile
  docker-jans-scim/requirements.txt
Labels: comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, kind-feature, comp-docker-jans-link, comp-docker-jans-all-in-one

#9149 fix(jans-auth-server): introspection has typo which can lead to invalid json response #9148
  jans-auth-server/server/src/main/java/io/jans/as/server/introspection/ws/rs/IntrospectionWebService.java
Labels: kind-bug, comp-jans-auth-server

#9155 fix(config-api): asset mgt upload error and lock enhancement
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/rest/AuditResource.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/service/AuditService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
  jans-config-api/server/src/main/java/io/jans/configapi/util/AuthUtil.java
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/templates/base.ldif
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
  jans-lock/cedarling/README.md
  jans-lock/cedarling/src/lock_master/mod.rs
  jans-lock/lock-master/client/pom.xml
  jans-lock/lock-master/model/pom.xml
  jans-lock/lock-master/model/src/main/java/io/jans/lock/model/config/AppConfiguration.java
  jans-lock/lock-master/pom.xml
  jans-lock/lock-master/server-fips/pom.xml
  jans-lock/lock-master/server/pom.xml
  jans-lock/lock-master/service/pom.xml
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/WellKnownConfiguration.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/audit/AuditRestWebServiceImpl.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/util/AuditService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/util/LockUtil.java
  jans-lock/lock-server.yaml
Labels: kind-bug, area-documentation, comp-jans-config-api, comp-jans-linux-setup

#9159 fix(jans-cli-tui): focus to container after deleting asset
  jans-cli-tui/cli_tui/plugins/130_assets/main.py
Labels: kind-bug, comp-jans-cli-tui

#9163 fix(jans-cli-tui): save asset
  jans-cli-tui/cli_tui/plugins/130_assets/main.py
Labels: kind-bug, comp-jans-cli-tui

#9165 feat(jans-lock): add audit/health/telemetry endpoint protection
  jans-core/service/src/main/java/io/jans/service/security/api/ProtectedApi.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/filter/AuthorizationProcessingFilter.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/filter/ProtectionService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/filter/openid/OpenIdProtectionService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/util/ResteasyInitializer.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/audit/AuditRestWebService.java
  jans-lock/lock-master/service/src/main/java/io/jans/lock/service/ws/rs/audit/AuditRestWebServiceImpl.java
  jans-orm/ldap-sample/src/main/java/io/jans/orm/ldap/LdapDocumentStoreSample.java
  jans-orm/ldap-sample/src/main/java/io/jans/orm/ldap/model/Document.java
  jans-orm/sql-sample/src/main/java/io/jans/orm/sql/SqlDocumentStoreSample.java
  jans-orm/sql-sample/src/main/java/io/jans/orm/sql/model/Document.java
  jans-scim/service/src/main/java/io/jans/scim/auth/oauth/DefaultOAuthProtectionService.java
Labels: comp-jans-core, comp-jans-orm, comp-jans-scim, kind-feature

#9175 fix(jans-setup): #9174 corrected fido extension description
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: kind-bug, comp-jans-linux-setup

#9177 feat(cloud-native): change lock-master-configuration to lock-server-configuration
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/nginx-ingress.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/auth-server/templates/auth-server-virtual-services.yaml
  charts/janssen/charts/nginx-ingress/templates/ingress.yaml
  charts/janssen/values.yaml
  docker-jans-all-in-one/Dockerfile
  docker-jans-all-in-one/app/templates/nginx/jans-auth-location.conf
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-persistence-loader/Dockerfile
  docs/admin/lock/cedarling.md
  docs/admin/reference/kubernetes/helm-chart.md
  jans-lock/lock-server.yaml
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, kind-feature

#9122 docs(jans-lock): update schema locations
  jans-lock/cedarling/schema/human/00-cedarling_core_schema.schema
  jans-lock/cedarling/schema/human/20-actions-filesystem-core.schema
  jans-lock/cedarling/schema/json/00-cedarling_core_schema.json
  jans-lock/cedarling/schema/json/20-actions-filesystem-core.json
Labels: area-documentation

#9045 feat(jans-lock): `cedarling` Progress Update
  jans-lock/cedarling/Cargo.lock
  jans-lock/cedarling/Cargo.toml
  jans-lock/cedarling/README.md
  jans-lock/cedarling/policy-store/default.json
  jans-lock/cedarling/policy-store/local.json
  jans-lock/cedarling/policy-store/remote.json
  jans-lock/cedarling/src/authz/mod.rs
  jans-lock/cedarling/src/authz/statement.rs
  jans-lock/cedarling/src/authz/token2entity.rs
  jans-lock/cedarling/src/authz/types.rs
  jans-lock/cedarling/src/crypto/decode.rs
  jans-lock/cedarling/src/crypto/mod.rs
  jans-lock/cedarling/src/crypto/types.rs
  jans-lock/cedarling/src/http.rs
  jans-lock/cedarling/src/lib.rs
  jans-lock/cedarling/src/lock_master/mod.rs
  jans-lock/cedarling/src/lock_master/sse.rs
  jans-lock/cedarling/src/lock_master/types.rs
  jans-lock/cedarling/src/startup/mod.rs
  jans-lock/cedarling/src/startup/types.rs
  jans-lock/cedarling/tests/fetch-schema.rs
  jans-lock/cedarling/tests/main.mjs
  jans-lock/cedarling/tests/test-btoa.rs
Labels: area-documentation, kind-feature

#9190 feat(jans-auth-server): added X-Frame-Options header support to AS pages #9031
  docs/admin/developer/xframe.md
  jans-auth-server/model/src/main/java/io/jans/as/model/common/XFrameOptions.java
  jans-auth-server/model/src/main/java/io/jans/as/model/config/Constants.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/filter/CorrelationIdFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/filter/HeadersFilter.java
  jans-auth-server/server/src/main/webapp-jetty/WEB-INF/web.xml
  jans-auth-server/server/src/test/java/io/jans/as/server/filter/HeadersFilterTest.java
  jans-auth-server/server/src/test/resources/testng.xml
  mkdocs.yml
Labels: area-documentation, comp-jans-auth-server, kind-feature

#9192 fix: do not remove shared source files
  jans-auth-server/agama/engine/src/main/java/io/jans/ads/Deployer.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/servlet/ExecutionServlet.java
Labels: kind-bug, comp-jans-auth-server, comp-agama

#9103 docs: fixes to k8s ops
  docker-jans-certmanager/README.md
  docs/admin/kubernetes-ops/README.md
  docs/admin/kubernetes-ops/backup-restore.md
  docs/admin/kubernetes-ops/jans-saml.md
  docs/admin/reference/kubernetes/docker-jans-certmanager.md
Labels: comp-docker-jans-certmanager, area-documentation

#9196 fix(jans-auth): sync test file profile with setup
  jans-auth-server/client/pom.xml
  jans-auth-server/server/pom.xml
Labels: kind-bug, comp-jans-auth-server

#9194 feat: allow access to values stored in cache from templates
  docs/admin/developer/agama/flows-navigation-ui.md
  jans-auth-server/agama/engine/pom.xml
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/page/Page.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/MethodInvoker.java
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-agama

#9205 fix(jans-auth-server): missed chain call in header filter
  jans-auth-server/server/src/main/java/io/jans/as/server/filter/HeadersFilter.java
Labels: kind-bug, comp-jans-auth-server

#9210 docs(jans): fixing typos and wrong urls
  docs/admin/README.md
  docs/admin/lock/lock-server.md
  docs/admin/planning/README.md
  docs/admin/planning/application-portal.md
  docs/admin/planning/benchmarking.md
  docs/admin/planning/caching.md
  docs/admin/planning/central-auth-service.md
  docs/admin/planning/certificates-keys.md
  docs/admin/planning/components.md
  docs/admin/planning/customization.md
  docs/admin/planning/delegated-user-admin.md
  docs/admin/planning/dns.md
  docs/admin/planning/identity-management.md
  docs/admin/planning/kubernetes.md
  docs/admin/planning/load-balancers.md
  docs/admin/planning/multi-tenancy.md
  docs/admin/planning/passwordless-auth.md
  docs/admin/planning/persistence.md
  docs/admin/planning/platform-goal.md
  docs/admin/planning/security-best-practices.md
  docs/admin/planning/self-service-password-2fa.md
  docs/admin/planning/timeout-management.md
  docs/admin/planning/use-cases.md
  docs/admin/planning/vm-cluster.md
  docs/admin/planning/vm-single-instance.md
  docs/admin/reference/openapi.md
Labels: area-documentation

#9200 docs(jans-docs): add jans link interception script doc
  docs/admin/developer/scripts/README.md
  docs/admin/developer/scripts/link.md
Labels: area-documentation

#9227 feat(jans-casa): parameterize acr for casa
  jans-casa/app/src/main/java/io/jans/casa/core/PersistenceService.java
  jans-casa/app/src/main/java/io/jans/casa/core/SessionContext.java
  jans-casa/app/src/main/java/io/jans/casa/core/plugin/PluginSettingsHandler.java
  jans-casa/app/src/main/webapp/scripts/ua-parser.pack-2.0.0.js
  jans-casa/plugins/strong-authn-settings/src/main/java/io/jans/casa/plugins/strongauthn/StrongAuthnSettingsPlugin.java
  jans-casa/plugins/strong-authn-settings/src/main/java/io/jans/casa/plugins/strongauthn/service/StrongAuthSettingsService.java
  jans-casa/plugins/strong-authn-settings/src/main/java/io/jans/casa/plugins/strongauthn/vm/PolicyViewModel.java
  jans-casa/shared/pom.xml
  jans-casa/shared/src/main/java/io/jans/casa/core/pojo/BrowserInfo.java
  jans-casa/shared/src/main/java/io/jans/casa/service/LocalDirectoryInfo2.java
Labels: kind-feature

#9229 feat(jans-casa): add agama project for casa authentication
  jans-casa/agama/pom.xml
  jans-casa/agama/project/code/io.jans.casa.authn.fido2.flow
  jans-casa/agama/project/code/io.jans.casa.authn.main.flow
  jans-casa/agama/project/code/io.jans.casa.authn.otp.flow
  jans-casa/agama/project/code/io.jans.casa.authn.twilio_sms.flow
  jans-casa/agama/project/lib/io/jans/agamalab/CasaWSBase.java
  jans-casa/agama/project/lib/io/jans/agamalab/authn/FidoValidator.java
  jans-casa/agama/project/lib/io/jans/agamalab/authn/OTPValidator.java
  jans-casa/agama/project/lib/io/jans/casa/authn/CasaConfig.java
  jans-casa/agama/project/lib/io/jans/casa/authn/MFAInfoHelper.java
  jans-casa/agama/project/lib/io/jans/casa/authn/OTPSmsSender.java
  jans-casa/agama/project/lib/io/jans/casa/authn/TrustedDevicesManager.java
  jans-casa/agama/project/lib/io/jans/casa/authn/UserAuthnUtil.java
  jans-casa/agama/project/lib/io/jans/util/NetworkUtils.java
  jans-casa/agama/project/project.json
  jans-casa/agama/project/web/authn/code.ftlh
  jans-casa/agama/project/web/authn/fido-authn.ftlh
  jans-casa/agama/project/web/authn/sms.ftlh
  jans-casa/agama/project/web/authn/sms_prompt.ftlh
  jans-casa/agama/project/web/commons.ftlh
  jans-casa/agama/project/web/main.ftlh
  jans-casa/agama/project/web/selector.ftlh
  jans-casa/app/pom.xml
  jans-casa/app/src/main/java/io/jans/casa/core/pojo/OTPDevice.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/OTPSmppExtension.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/rs/SmppMobilePhoneEnrollingWS.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/rs/SmsDeliveryWS.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/SmppMobilePhoneService.java
  jans-casa/app/src/main/java/io/jans/casa/rest/NewSecondFactorUserWS.java
  jans-casa/app/src/main/java/io/jans/casa/timer/AuthnScriptsReloader.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/user/SmppVerifiedPhoneViewModel.java
  jans-casa/app/src/main/resources/labels/user.properties
  jans-casa/app/src/main/webapp/scripts/Sortable.min.js
  jans-casa/app/src/main/webapp/user/smpp-phone-detail.zul
  jans-casa/pom.xml
Labels: kind-feature, comp-agama

#9238 chore: rework availability of authentication methods
  docs/assets/casa/admin-console/LocalDatabase.png
  docs/assets/casa/admin-console/enabled-2FA-methods.png
  docs/assets/casa/developer/authn-methods/credentials-detailed.png
  docs/assets/casa/developer/backtrack_1.png
  docs/assets/casa/developer/backtrack_2.png
  docs/casa/administration/2fa-basics.md
  docs/casa/administration/admin-console.md
  docs/casa/administration/credentials-stored.md
  docs/casa/administration/faq.md
  docs/casa/administration/quick-start.md
  docs/casa/index.md
  jans-casa/app/src/main/java/io/jans/casa/core/ExtensionsManager.java
  jans-casa/app/src/main/java/io/jans/casa/ui/model/AuthnMethodStatus.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/HomeViewModel.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/admin/AuthnMethodsViewModel.java
  jans-casa/app/src/main/resources/labels/admin.properties
  jans-casa/app/src/main/webapp/admin-api.yaml
  jans-casa/app/src/main/webapp/admin/methods.zul
  jans-casa/app/src/main/webapp/index.zul
  jans-casa/app/src/main/webapp/scripts/gluu/main-util.js
  jans-casa/app/src/main/webapp/scripts/platform.js
  jans-casa/config/src/main/java/io/jans/casa/conf/MainSettings.java
  mkdocs.yml
Labels: kind-dependencies, area-documentation

#9239 chore(jans-casa): remove dependency on jython scripts
  jans-casa/app/src/main/java/io/jans/casa/core/ConfigurationHandler.java
  jans-casa/app/src/main/java/io/jans/casa/core/UserService.java
  jans-casa/app/src/main/java/io/jans/casa/core/navigation/HomeInitiator.java
  jans-casa/app/src/main/java/io/jans/casa/core/navigation/ReloginInitiator.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/OTPExtension.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/OTPTwilioExtension.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/SecurityKey2Extension.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/SuperGluuExtension.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/conf/OTPConfig.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/conf/QRConfig.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/conf/SGConfig.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/rs/OTPEnrollingWS.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/rs/OTPValidationWS.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/rs/SecurityKey2EnrollingWS.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/rs/SuperGluuEnrollingWS.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/rs/TwilioMobilePhoneEnrollingWS.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/rs/status/sms/ValidateCode.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/BaseService.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/Fido2Service.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/OTPService.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/SGService.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/TwilioMobilePhoneService.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/otp/HOTPAlgorithmService.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/otp/TOTPAlgorithmService.java
  jans-casa/app/src/main/java/io/jans/casa/rest/config/AuthnMethodsWS.java
  jans-casa/app/src/main/java/io/jans/casa/timer/AuthnScriptsReloader.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/user/SecurityKey2ViewModel.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/user/SuperGluuViewModel.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/user/UserPreferenceViewModel.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/user/UserViewModel.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/user/VerifiedPhoneViewModel.java
  jans-casa/app/src/main/webapp/enrollment-api.yaml
  jans-casa/app/src/main/webapp/user/fido2-detail.zul
Labels: kind-dependencies

#9241 Issue 8908
  jans-fido2/model/src/main/java/io/jans/entry/PublicKeyCredentialHints.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/attestation/PublicKeyCredentialCreationOptions.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/CommonVerifiers.java
Labels: comp-jans-fido2, comp-jans-orm

#9195 fix(jans-cli-tui): scripts retreiving bounderies
  jans-cli-tui/cli_tui/plugins/060_scripts/main.py
Labels: kind-bug, comp-jans-cli-tui

#9250 feat(jans-auth-server): added ability to pass authorizationMethodClaims to id_token via AuthorizationChallengeType script #9221
  docs/admin/developer/scripts/authorization-challenge.md
  docs/script-catalog/authorization_challenge/AuthorizationChallenge.java
  docs/script-catalog/authorization_challenge/multi_step/AuthorizationChallenge.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/IdTokenFactory.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalAuthorizationChallengeService.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/authzchallenge/AuthorizationChallengeType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/authzchallenge/DummyAuthorizationChallengeType.java
Labels: area-documentation, comp-jans-auth-server, comp-jans-core, kind-feature

#9253 doc(config-api): add SAML attribute description
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/model/SAMLMetadata.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/model/config/SamlAppConfiguration.java
Labels: comp-jans-config-api

#9255 chore!: casa installer adjustment for agama flow
  jans-linux-setup/jans_setup/setup_app/installers/jans_casa.py
  jans-linux-setup/jans_setup/setup_app/utils/setup_utils.py
  jans-linux-setup/jans_setup/templates/jans-casa/configuration.ldif
  jans-linux-setup/jans_setup/templates/jans-casa/person_authentication_script.ldif
  jans-linux-setup/jans_setup/templates/jetty/jans-casa
Labels: kind-enhancement, kind-dependencies, comp-jans-linux-setup

#9267 feat(jans-core): use DB document store by default
  jans-linux-setup/jans_setup/templates/configuration.ldif
Labels: comp-jans-core, kind-feature, comp-jans-linux-setup

#9272 feat(jans-config-api): update swagger api
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/DBDocumentService.java
Labels: comp-jans-config-api, comp-jans-core, kind-feature

#9275 fix(jans-cli-tui): change according to new asset Document schema
  jans-cli-tui/cli_tui/plugins/130_assets/main.py
Labels: kind-bug, comp-jans-cli-tui

#9263 Update README.md
  docs/script-catalog/person_authentication/other/basic.multi_auth_conf/README.md
Labels: area-documentation

#9258 docs: custom asset mgt documentation update for optional attribute
  docs/admin/config-guide/custom-assets-configuration.md
Labels: area-documentation

#9282 chore: rework sample credential plugin
  docs/casa/administration/2fa-basics.md
  docs/casa/administration/quick-start.md
  docs/casa/developer/add-authn-methods.md
  docs/casa/developer/overview.md
  docs/casa/index.md
  docs/casa/plugins/accts-linking/account-linking-index.md
  jans-casa/agama/project/lib/io/jans/casa/authn/UserAuthnUtil.java
  jans-casa/plugins/samples/sample-cred/README.md
  jans-casa/plugins/samples/sample-cred/agama/README.md
  jans-casa/plugins/samples/sample-cred/agama/code/com.acme.authn.color.flow
  jans-casa/plugins/samples/sample-cred/agama/lib/com/acme/ColorVerifier.java
  jans-casa/plugins/samples/sample-cred/agama/project.json
  jans-casa/plugins/samples/sample-cred/agama/web/color-prompt.ftlh
  jans-casa/plugins/samples/sample-cred/script.py
  jans-casa/plugins/samples/sample-cred/src/main/java/io/jans/casa/plugins/sample/extension/SampleCredentialAuthnMethod.java
  jans-casa/plugins/samples/sample-cred/src/main/java/io/jans/casa/plugins/sample/model/PersonColor.java
  jans-casa/plugins/samples/sample-cred/src/main/java/io/jans/casa/plugins/sample/service/SampleCredentialService.java
  jans-casa/plugins/samples/sample-cred/src/main/java/io/jans/casa/plugins/sample/vm/SampleCredentialVM.java
  jans-casa/plugins/samples/sample-cred/src/main/resources/assets/user/cred_details.zul
  jans-casa/plugins/samples/sample-cred/src/main/resources/labels/zk-label.properties
  mkdocs.yml
Labels: kind-dependencies, area-documentation, comp-agama

#9284 fix(cloud-native): update jans-pycloudlib version used by OCI images
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-bug, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one

#9293 feat: changing format of access token and user-info to JWT
  demos/jans-tarp/src/options/registerClient.tsx
  demos/jans-tarp/src/options/userDetails.tsx
Labels: kind-feature

#9302 fix: remove unrecognized manifest key #9301
  demos/jans-tarp/src/static/chrome/manifest.json
Labels: kind-bug

#9304 chore: project refactoring and docs
  docs/admin/developer/agama/agama-best-practices.md
  docs/assets/casa/gluu-u2f-authentication.png
  docs/casa/administration/2fa-basics.md
  docs/casa/administration/admin-console.md
  docs/casa/administration/custom-branding.md
  docs/casa/administration/faq.md
  docs/casa/administration/quick-start.md
  docs/casa/developer/add-authn-methods.md
  docs/casa/developer/overview.md
  docs/casa/plugins/bioid.md
  docs/casa/user-guide.md
  jans-casa/app/src/main/java/io/jans/casa/core/ExtensionsManager.java
  jans-casa/app/src/main/resources/labels/user.properties
  jans-casa/plugins/samples/sample-cred/pom.xml
  jans-casa/plugins/samples/sample-cred/src/main/java/io/jans/casa/plugins/sampleauthn/SampleCredentialPlugin.java
  jans-casa/plugins/samples/sample-cred/src/main/java/io/jans/casa/plugins/sampleauthn/extension/SampleCredentialAuthnMethod.java
  jans-casa/plugins/samples/sample-cred/src/main/java/io/jans/casa/plugins/sampleauthn/model/PersonColor.java
  jans-casa/plugins/samples/sample-cred/src/main/java/io/jans/casa/plugins/sampleauthn/service/SampleCredentialService.java
  jans-casa/plugins/samples/sample-cred/src/main/java/io/jans/casa/plugins/sampleauthn/vm/SampleCredentialVM.java
Labels: kind-dependencies, area-documentation, comp-agama

#9310 fix: improve handling of assets data stored in cache
  docs/casa/developer/add-authn-methods.md
  jans-casa/agama/project/code/io.jans.casa.authn.fido2.flow
  jans-casa/agama/project/code/io.jans.casa.authn.main.flow
  jans-casa/agama/project/code/io.jans.casa.authn.otp.flow
  jans-casa/agama/project/code/io.jans.casa.authn.twilio_sms.flow
  jans-casa/agama/project/lib/io/jans/agamalab/CasaWSBase.java
  jans-casa/agama/project/lib/io/jans/agamalab/authn/FidoValidator.java
  jans-casa/agama/project/lib/io/jans/agamalab/authn/OTPValidator.java
  jans-casa/agama/project/lib/io/jans/casa/authn/CasaConfig.java
  jans-casa/agama/project/lib/io/jans/casa/authn/MFAInfoHelper.java
  jans-casa/agama/project/lib/io/jans/casa/authn/OTPSmsSender.java
  jans-casa/agama/project/lib/io/jans/casa/authn/UserAuthnUtil.java
  jans-casa/agama/project/web/selector.ftlh
  jans-casa/app/src/main/java/io/jans/casa/core/AssetsService.java
  jans-casa/plugins/samples/sample-cred/agama/code/com.acme.authn.color.flow
Labels: kind-bug, area-documentation, comp-agama

#9167 feat(jans-cli-tui): acr screen
  docs/admin/auth-server/openid-features/acrs.md
  docs/admin/config-guide/auth-server-config/authentication-method-config.md
  docs/admin/config-guide/auth-server-config/default-authentication-method-config.md
  docs/assets/jans-tui-auth-server-default.png
  docs/assets/tui-authn-agama.png
  docs/assets/tui-authn-basic.png
  docs/assets/tui-authn-dafault-acr.png
  docs/assets/tui-authn-ldap-servers-add.png
  docs/assets/tui-authn-ldap-servers.png
  docs/assets/tui-authn-scripts-edit.png
  docs/assets/tui-authn-scripts-enable.png
  docs/assets/tui-authn-scripts.png
  docs/assets/tui-curr-authn-method.png
  jans-cli-tui/cli_tui/cli_style.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/authn.py
  jans-cli-tui/cli_tui/utils/background_tasks.py
  jans-cli-tui/cli_tui/utils/static.py
  jans-cli-tui/cli_tui/wui_components/jans_table.py
  jans-cli-tui/cli_tui/wui_components/jans_vetrical_nav.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/templates/configuration.ldif
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-jans-cli-tui, kind-feature, comp-jans-linux-setup

#9312 fix(jans-auth-server): if AS fails to allocate status index entire token call fails
  jans-auth-server/server/src/main/java/io/jans/as/server/service/cluster/StatusIndexPoolService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/token/StatusListIndexService.java
Labels: kind-bug, comp-jans-auth-server
