Repository JanssenProject/jans, pull requests merged in 2024-02, with the labels that each got.

#7533 feat(config-api): user mgt plugin changes to handle inactive claims - issue#7446
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
Labels: comp-jans-config-api, kind-feature

#7602 feat(jans-cli-tui): custom validation for attrbiutes
  jans-cli-tui/cli_tui/plugins/010_auth_server/attributes.py
  jans-cli-tui/cli_tui/plugins/100_saml/main.py
Labels: comp-jans-cli-tui, kind-feature

#7491 feat(jans-cli-tui): update to prompt_toolkit v3
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/attributes.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/authn.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/message.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
  jans-cli-tui/cli_tui/plugins/060_scripts/main.py
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
  jans-cli-tui/cli_tui/plugins/080_smtp/main.py
  jans-cli-tui/cli_tui/plugins/100_saml/edit_identity_provider_dialog.py
  jans-cli-tui/cli_tui/plugins/100_saml/edit_tr_dialog.py
  jans-cli-tui/cli_tui/utils/background_tasks.py
  jans-cli-tui/setup.py
Labels: kind-dependencies, comp-jans-cli-tui, priority-4, triaged

#7606 docs(config-api): removed duplicate property
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: area-documentation, comp-jans-config-api

#7607 feat(jans-cli-tui): application versions
  jans-cli-tui/cli_tui/plugins/999_jans/main.py
Labels: comp-jans-cli-tui, kind-feature

#7616 test(jans-auth-server): fixed TxTokenHttpTest failure on jenkins #7615
  docs/admin/config-guide/jans-authorization-server-config.md
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/templates/test/docs/oxauth-config-update.md
Labels: kind-enhancement, area-CI, area-documentation, comp-jans-auth-server, comp-jans-linux-setup

#7632 fix: agama Lab's tab closing automatically if same window has tarp opened #7621
  demos/jans-tarp/src/options/oidcClientDetails.tsx
Labels: kind-bug

#7258 refactor: redesign web-pages for Janssen #1302
  jans-auth-server/server/src/main/webapp/WEB-INF/incl/layout/login-template.xhtml
  jans-auth-server/server/src/main/webapp/device_authorization.xhtml
  jans-auth-server/server/src/main/webapp/login.xhtml
  jans-auth-server/server/src/main/webapp/stylesheet/style.css
Labels: kind-enhancement, comp-jans-auth-server

#7635 fix: revert prompt-toolkit upgrade
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/attributes.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/authn.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/message.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
  jans-cli-tui/cli_tui/plugins/060_scripts/main.py
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
  jans-cli-tui/cli_tui/plugins/080_smtp/main.py
  jans-cli-tui/cli_tui/plugins/100_saml/edit_identity_provider_dialog.py
  jans-cli-tui/cli_tui/plugins/100_saml/edit_tr_dialog.py
  jans-cli-tui/cli_tui/utils/background_tasks.py
  jans-cli-tui/setup.py
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/setup.py
Labels: kind-bug, comp-jans-cli-tui, comp-jans-linux-setup

#7573 feat(jans-fido2): generation assertion options without username
  docs/admin/fido/config.md
  jans-fido2/client/src/main/java/io/jans/fido2/client/AssertionService.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/Fido2Configuration.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/AssertionController.java
  jans-fido2/server/src/main/java/io/jans/fido2/ws/rs/controller/ConfigurationController.java
  jans-fido2/server/src/test/java/io/jans/fido2/ws/rs/controller/AssertionControllerTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/ws/rs/controller/ConfigurationControllerTest.java
  jans-linux-setup/jans_setup/templates/jans-fido2/dynamic-conf.json
Labels: area-documentation, comp-jans-fido2, kind-feature, comp-jans-linux-setup

#7647 fix: for authorization with multiple redirects the one with redirect_url should be considered #7646
  demos/jans-tarp/src/options/oidcClientDetails.tsx
Labels: kind-bug

#7649 fix(jans-auth): configuration changes not taking effect #7631
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-lock/service/src/main/java/io/jans/lock/service/config/ConfigurationFactory.java
Labels: kind-bug, comp-jans-auth-server

#7640 feat(jans-cli-tui): enhance help
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/wui_components/jans_vetrical_nav.py
Labels: comp-jans-cli-tui, kind-feature

#7656 fix(charts): add featureflag for cn-istio-ingress subchart
  charts/janssen/Chart.yaml
Labels: kind-bug, comp-charts-jans

#7653 feat(jans-auth-server): improved session lifetime properties #5275
  docs/admin/auth-server/session-management/README.md
  docs/admin/config-guide/jans-authorization-server-config.md
  docs/admin/planning/timeout-management.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/java/io/jans/as/server/service/CookieService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/test/resources/feature/config/properties/server/session/sessionId.feature
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  terraform-provider-jans/jans/app_configuration.go
Labels: area-documentation, comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-jans-linux-setup

#7544 docs(jans-link): refactor `jans-link` documents
  docs/admin/link/README.md
  docs/admin/link/jans-link.md
  docs/assets/ldap-link-customer-backend.png
  docs/assets/ldap-link-inum-db.png
  docs/assets/ldap-link-main-tab.png
  docs/assets/ldap-link-source-backend.png
Labels: area-documentation

#7660 chore: remove unused plugin
  jans-lock/pom.xml
Labels: kind-dependencies

#7662 fix(keycloak-integration): incorrect redirect url to janssen from the janssen authenticator plugin #7651
  jans-keycloak-integration/authenticator/src/main/java/io/jans/kc/spi/auth/JansAuthenticator.java
Labels: kind-bug

#7664 chore: remove unused plugin
  jans-lock/client/pom.xml
Labels: kind-dependencies

#7672 fix(docker-jans): add missing dynamic config
  docker-jans-auth-server/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/upgrade.py
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
Labels: kind-bug, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-fido2

#7670 fix: fix array java.lang.IndexOutOfBoundsException
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
Labels: kind-bug, comp-jans-config-api

#7673 chore: move jans-auth base configuration to jans-core-service
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/ApplicationFactory.java
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/ConfigurationService.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/base/Entry.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/configuration/InumEntry.java
  jans-auth-server/server/src/main/java/io/jans/as/server/idgen/ws/rs/InumGenerator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/LdapCustomAuthenticationConfigurationService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/dev/duo/PythonToLdapString.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/HomeViewModel.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AcrsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CacheConfigurationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ConfigSmtpResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/MessageConfigurationResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ConfigurationService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/CouchbaseConfService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/LdapConfigurationService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/SqlConfService.java
  jans-core/service/pom.xml
  jans-core/service/src/main/java/io/jans/config/CustomProperty.java
  jans-core/service/src/main/java/io/jans/config/GluuConfiguration.java
  jans-core/service/src/main/java/io/jans/config/IDPAuthConf.java
  jans-lock/server/src/main/java/io/jans/lock/server/service/ConfigurationService.java
  jans-lock/server/src/main/java/io/jans/lock/service/config/ApplicationFactory.java
Labels: kind-dependencies, comp-jans-auth-server, comp-jans-config-api, comp-jans-core

#7680 docs(agama): change the file name
  docs/admin/developer/agama/agama-best-practices.md
  docs/admin/developer/agama/faq.md
  docs/admin/developer/agama/jans-agama-engine.md
  mkdocs.yml
Labels: area-documentation, comp-agama

#7684 chore: change package name in custom scripts
  docs/script-catalog/person_authentication/apple-external-authenticator/AppleExternalAuthenticator.py
  docs/script-catalog/person_authentication/github-external-authenticator/GithubAuthenticatorForADS.py
  docs/script-catalog/person_authentication/github-external-authenticator/GithubExternalAuthenticator.py
  docs/script-catalog/person_authentication/google-external-authenticator/GoogleExternalAuthenticator.py
  docs/script-catalog/person_authentication/oidc/oidc-jans-script.py
  docs/script-catalog/person_authentication/other/bioid/BioIDExternalAuthenticator.py
  jans-casa/extras/Casa.py
Labels: kind-dependencies

#7685 docs(database): remove cb schema docs placeholder file
  docs/admin/reference/database/cb-schema.md
  mkdocs.yml
Labels: area-documentation

#7686 feat(jans-auth-server): add configurable option to put all tokens into cache service #7563
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/GrantService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/GrantServiceTest.java
Labels: comp-jans-auth-server, kind-feature

#7683 docs: misc updates on agama docs
  docs/admin/developer/agama/advanced-usages.md
  docs/admin/developer/agama/engine-bridge-config.md
  docs/admin/developer/agama/faq.md
  docs/agama-catalog/jans/inboundID/README.md
Labels: area-documentation, comp-agama

#7690 fix(jans-linux-setup): remove server word from casa in installer prompt
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
Labels: kind-bug, comp-jans-linux-setup

#7696 fix(jans-linux-setup): disable gpg checks for installing suse packages
  jans-linux-setup/jans_setup/setup_app/utils/package_utils.py
Labels: kind-bug, comp-jans-linux-setup

#7704 feat(jans-auth-server): authz challenge should not require client_id and acr_values if valid device_session is provided #6867
  docs/admin/auth-server/endpoints/authorization-challenge.md
  docs/admin/developer/scripts/authorization-challenge.md
  docs/script-catalog/authorization_challenge/AuthorizationChallenge.java
  docs/script-catalog/authorization_challenge/multi_step/AuthorizationChallenge.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/EndSessionBackchannelRestServerTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: area-documentation, comp-jans-auth-server, kind-feature

#7693 docs(config guide): move `Agama CLI` and remove `SCIM CLI`
  docs/admin/config-guide/config-tools/scim-cli.md
  mkdocs.yml
Labels: area-documentation

#7709 chore: refactor inbound identity project
  docs/agama-catalog/jans/inboundID/README.md
  docs/agama-catalog/jans/inboundID/project/code/io.jans.inbound.ExternalSiteLogin.flow
  docs/agama-catalog/jans/inboundID/project/code/provider/io.jans.inbound.Apple.flow
  docs/agama-catalog/jans/inboundID/project/code/provider/io.jans.inbound.Facebook.flow
  docs/agama-catalog/jans/inboundID/project/code/provider/io.jans.inbound.GenericProvider.flow
  docs/agama-catalog/jans/inboundID/project/code/provider/io.jans.inbound.Google.flow
  docs/agama-catalog/jans/inboundID/project/project.json
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/Provider.java
Labels: kind-dependencies, area-documentation, comp-jans-auth-server, comp-agama

#7710 fix(config-api): user mgt attribute validation implementation
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/rest/UserResource.java
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
Labels: kind-bug, comp-jans-config-api

#7706 refactor(jans-cli-tui): Rewrite admin-ui plugin
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/040_config_api/edit_mapping_dialog.py
  jans-cli-tui/cli_tui/plugins/040_config_api/main.py
  jans-cli-tui/cli_tui/utils/static.py
  jans-cli-tui/cli_tui/utils/utils.py
  jans-cli-tui/cli_tui/wui_components/jans_dialog_with_nav.py
Labels: kind-enhancement, comp-jans-cli-tui

#7713 fix(jans-pycloudlib): set sql_mode while connecting to mysql
  jans-pycloudlib/jans/pycloudlib/persistence/sql.py
Labels: kind-bug, comp-jans-pycloudlib

#7715 chore(docker-jans-casa): sync extension scripts for Casa
  docker-jans-casa/Dockerfile
Labels: kind-dependencies

#7720 fix(jans-cli-tui): disable plugin on TUI if not deployed on server
  jans-cli-tui/cli_tui/jans_cli_tui.py
Labels: kind-bug, comp-jans-cli-tui

#7730 docs(jans-cli): update cli readme
  docs/admin/config-guide/config-tools/jans-cli/README.md
  docs/assets/jans-cli-structure.png
Labels: area-documentation

#7740 ci(dockerbuild): enhance speed of workflow
  .github/workflows/docker_build_image.yml
Labels: kind-dependencies, area-CI

#7737 feat(jans-cli-tui): log command for delete operation
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: comp-jans-cli-tui, kind-feature

#7729 feat(jans-cli-tui): keybindings <d> and <delete> to delete item, <v> to view item
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/utils/static.py
  jans-cli-tui/cli_tui/wui_components/jans_vetrical_nav.py
Labels: kind-enhancement, comp-jans-cli-tui, kind-feature

#7275 fix(jans-linux-setup): remove redundant IDP directories
  jans-linux-setup/jans_setup/setup_app/installers/jans_saml.py
Labels: kind-bug, comp-jans-linux-setup

#7630 feat(jans-cli-tui): metadata location and other fields
  jans-cli-tui/cli_tui/plugins/100_saml/edit_tr_dialog.py
Labels: kind-bug, comp-jans-cli-tui, kind-feature

#7734 chore: add ORM API to get attributy type and check if exists
  jans-orm/couchbase/src/main/java/io/jans/orm/couchbase/impl/CouchbaseEntryManager.java
  jans-orm/ldap/src/main/java/io/jans/orm/ldap/impl/LdapEntryManager.java
  jans-orm/ldap/src/main/java/io/jans/orm/ldap/operation/LdapOperationService.java
  jans-orm/ldap/src/main/java/io/jans/orm/ldap/operation/impl/LdapOperationServiceImpl.java
  jans-orm/spanner/src/main/java/io/jans/orm/cloud/spanner/impl/SpannerEntryManager.java
  jans-orm/spanner/src/main/java/io/jans/orm/cloud/spanner/operation/impl/SpannerConnectionProvider.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlEntryManager.java
Labels: kind-dependencies, comp-jans-orm

#7750 feat: ldap ORM shoould ignore lower case statement in filters #7749
  jans-orm/ldap/src/main/java/io/jans/orm/ldap/impl/LdapFilterConverter.java
Labels: comp-jans-orm, kind-feature

#7756 ci(codeowners): update CODEOWNERS
  .github/CODEOWNERS
Labels: area-CI

#7744 fix: jansCodeChallengeHash should be defiend as Integer
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/AuthenticationPersistenceService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/RegistrationPersistenceService.java
  jans-link/model/src/main/java/io/jans/link/model/Fido2Entry.java
  jans-orm/model/src/main/java/io/jans/orm/model/fido2/Fido2Entry.java
  jans-scim/service/src/main/java/io/jans/scim/model/fido2/Fido2Entry.java
Labels: kind-bug, comp-jans-fido2, comp-jans-orm, comp-jans-scim

#7760 chore: update OCI image dependencies
  docker-jans-all-in-one/Dockerfile
  docker-jans-all-in-one/Makefile
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/Makefile
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/Dockerfile
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/Makefile
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/Makefile
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/Makefile
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/Makefile
  docker-jans-fido2/requirements.txt
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/Makefile
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/Dockerfile
  docker-jans-link/Makefile
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/Makefile
  docker-jans-persistence-loader/requirements.txt
  docker-jans-saml/Dockerfile
  docker-jans-saml/Makefile
  docker-jans-saml/requirements.txt
  docker-jans-scim/Dockerfile
  docker-jans-scim/Makefile
  docker-jans-scim/requirements.txt
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one

#7761 feat(config-api): user management search enhancement
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AttributesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AttributeService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ConfigurationService.java
Labels: comp-jans-config-api, kind-feature

#7766 feat(jans-auth-server): rely on end_session feature flag value when return discovery response #5255
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/RegistrationRestWebServiceHttpTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/DiscoveryService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/OpenIdConfiguration.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/DiscoveryServiceTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/servlet/OpenIdConfigurationTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: comp-jans-auth-server, kind-feature

#7762 chore(docker-jans): add prefix jans to stdout logs
  docker-jans-auth-server/scripts/auth_conf.py
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-auth-server/scripts/jks_sync.py
  docker-jans-auth-server/scripts/lock.py
  docker-jans-auth-server/scripts/mod_context.py
  docker-jans-auth-server/scripts/settings.py
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-auth-server/templates/jans-auth/log4j2.xml
  docker-jans-auth-server/templates/jans-lock/log4j2-lock.xml
  docker-jans-casa/scripts/auth_conf.py
  docker-jans-casa/scripts/bootstrap.py
  docker-jans-casa/scripts/jca_sync.py
  docker-jans-casa/scripts/mod_context.py
  docker-jans-casa/scripts/settings.py
  docker-jans-casa/scripts/upgrade.py
  docker-jans-casa/templates/jans-casa/log4j2.xml
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-config-api/scripts/mod_context.py
  docker-jans-config-api/scripts/plugins.py
  docker-jans-config-api/scripts/settings.py
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-config-api/templates/jans-config-api/log4j2-adminui.xml
  docker-jans-config-api/templates/jans-config-api/log4j2.xml
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-fido2/scripts/mod_context.py
  docker-jans-fido2/scripts/settings.py
  docker-jans-fido2/scripts/upgrade.py
  docker-jans-fido2/templates/jans-fido2/log4j2.xml
  docker-jans-keycloak-link/scripts/bootstrap.py
  docker-jans-keycloak-link/scripts/mod_context.py
  docker-jans-keycloak-link/scripts/settings.py
  docker-jans-keycloak-link/scripts/upgrade.py
  docker-jans-keycloak-link/templates/jans-keycloak-link/log4j2.xml
  docker-jans-link/scripts/bootstrap.py
  docker-jans-link/scripts/mod_context.py
  docker-jans-link/scripts/settings.py
  docker-jans-link/scripts/upgrade.py
  docker-jans-link/templates/jans-link/log4j2.xml
  docker-jans-scim/scripts/bootstrap.py
  docker-jans-scim/scripts/mod_context.py
  docker-jans-scim/scripts/settings.py
  docker-jans-scim/scripts/upgrade.py
  docker-jans-scim/templates/jans-scim/log4j2.xml
Labels: kind-dependencies, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-fido2, comp-docker-jans-scim, comp-jans-config-api, comp-jans-fido2, comp-jans-scim, comp-docker-jans-link

#7775 feat(jans-pycloudlib): allow configurable Vault KV and AppRole paths
  jans-pycloudlib/jans/pycloudlib/secret/vault_secret.py
  jans-pycloudlib/tests/conftest.py
  jans-pycloudlib/tests/test_secret.py
Labels: kind-feature, comp-jans-pycloudlib

#7765 docs(scarf): integration with Scarf Pixel
  .github/workflows/build-docs.yml
  docs/overrides/main.html
Labels: area-CI, area-documentation

#7787 fix: fix link deps
  jans-keycloak-link/server/pom.xml
  jans-link/server/pom.xml
Labels: kind-bug

#7788 fix(jans-cli-tui): documentation link
  jans-cli-tui/cli_tui/utils/static.py
Labels: kind-bug, comp-jans-cli-tui

#7793 feat: add SESSION_TIMEOUT_IN_MINUTES to admin-ui configuration in persistence #7792
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/MainSettings.java
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/UIConfiguration.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/OAuth2ConfigResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/config/AUIConfiguration.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/auth/OAuth2Resource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/config/AUIConfigurationService.java
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature

#7794 feat(config-api): kc link plugin endpoint
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/kc-link-plugin-swagger.yaml
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/kc-link-plugin/pom.xml
  jans-config-api/plugins/kc-link-plugin/src/main/assembly/assembly.xml
  jans-config-api/plugins/kc-link-plugin/src/main/java/io/jans/configapi/plugin/kc/link/extensions/KcLinkExtension.java
  jans-config-api/plugins/kc-link-plugin/src/main/java/io/jans/configapi/plugin/kc/link/model/config/KcLinkConfigSource.java
  jans-config-api/plugins/kc-link-plugin/src/main/java/io/jans/configapi/plugin/kc/link/rest/ApiApplication.java
  jans-config-api/plugins/kc-link-plugin/src/main/java/io/jans/configapi/plugin/kc/link/rest/KcLinkConfigResource.java
  jans-config-api/plugins/kc-link-plugin/src/main/java/io/jans/configapi/plugin/kc/link/service/KcLinkConfigService.java
  jans-config-api/plugins/kc-link-plugin/src/main/java/io/jans/configapi/plugin/kc/link/util/Constants.java
  jans-config-api/plugins/kc-link-plugin/src/main/java/io/jans/configapi/plugin/kc/link/util/KcLinkUtil.java
  jans-config-api/plugins/kc-link-plugin/src/main/resources/META-INF/beans.xml
  jans-config-api/plugins/kc-link-plugin/src/main/resources/META-INF/services/javax.enterprise.inject.spi.Extension
  jans-config-api/plugins/kc-link-plugin/src/main/resources/META-INF/services/javax.ws.rs.ext.Providers
  jans-config-api/plugins/kc-link-plugin/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSource
  jans-config-api/plugins/kc-link-plugin/src/main/resources/kc-link.properties
  jans-config-api/plugins/kc-link-plugin/src/test/java/io/jans/configapi/KarateTestRunner.java
  jans-config-api/plugins/kc-link-plugin/src/test/java/io/jans/configapi/TestJenkinsRunner.java
  jans-config-api/plugins/kc-link-plugin/src/test/resources/feature/kc-link/kc-link-config.feature
  jans-config-api/plugins/kc-link-plugin/src/test/resources/karate-config-jenkins.js
  jans-config-api/plugins/kc-link-plugin/src/test/resources/karate-config.js
  jans-config-api/plugins/kc-link-plugin/src/test/resources/karate.properties
  jans-config-api/plugins/kc-link-plugin/src/test/resources/karate_jenkins.properties
  jans-config-api/plugins/kc-link-plugin/src/test/resources/logback-test.xml
  jans-config-api/plugins/kc-link-plugin/src/test/resources/test.properties
  jans-config-api/plugins/kc-link-plugin/src/test/resources/testClient.feature
  jans-config-api/plugins/kc-link-plugin/src/test/resources/token.feature
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/model/IdentityProvider.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/model/TrustRelationship.java
  jans-config-api/plugins/pom.xml
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup

#7798 fix(jans-cli-tui): List types
  jans-cli-tui/cli_tui/utils/utils.py
Labels: kind-bug, comp-jans-cli-tui

#7728 fix(jans-linux-setup): post-setup config-api plugin for jans-link
  jans-linux-setup/jans_setup/setup_app/installers/jans_link.py
Labels: kind-bug, comp-jans-linux-setup

#7804 feat(config-api): saml metedata elements save
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/ApiAppConfiguration.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/model/SAMLMetadata.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/model/TrustRelationship.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/SamlService.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AttributesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AttributeService.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/shared/src/main/java/io/jans/configapi/core/rest/BaseResource.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup

#7811 feat(jans-linux-setup): config-api kc-link-plugin
  jans-linux-setup/jans_setup/setup_app/installers/jans_keycloak_link.py
Labels: kind-feature, comp-jans-linux-setup

#7810 fix(jans-auth-server): introspection endpoint must return 401 when ORM throws "Failed to find entry" exception #7772
  jans-auth-server/server/src/main/java/io/jans/as/server/introspection/ws/rs/IntrospectionWebService.java
Labels: kind-bug, comp-jans-auth-server

#7813 test(jans-auth-server): after login page re-design DisplaysLogoInLoginPage test starts to fail #7812
  jans-auth-server/server/src/main/webapp/login.xhtml
Labels: area-CI, comp-jans-auth-server

#7821 feat: allow to override ORM connection properties #7816
  jans-orm/cdi/src/main/java/io/jans/orm/service/PersistanceFactoryService.java
Labels: comp-jans-orm, kind-feature

#7818 feat: shift SESSION_TIMEOUT_IN_MINUTES to admin-ui configuration in persistence #1575
  jans-linux-setup/jans_setup/templates/jans-auth/role-scope-mappings.json
Labels: kind-feature, comp-jans-linux-setup

#7778 fix(jans-cli-tui): display error when saving user
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
  jans-cli-tui/cli_tui/plugins/070_users/main.py
Labels: kind-bug, comp-jans-cli-tui

#7826 feat(jans-linux-setup): opa logs to file
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/static/system/systemd/opa.service
Labels: kind-feature, comp-jans-linux-setup

#7850 feat(docker-jans): allow passing initial keys expiration time
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/secret.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/values.yaml
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-configurator/README.md
  docker-jans-configurator/requirements.txt
  docker-jans-configurator/scripts/bootstrap.py
  docker-jans-configurator/scripts/parameter.py
Labels: comp-docker-jans-configurator, area-documentation, kind-feature, comp-charts-jans, comp-docker-jans-all-in-one

#7848 fix: fix typo in index.jsp
  jans-lock/server/src/main/webapp/index.jsp
Labels: kind-bug

#7824 chore(docker-jans): update role scope mapping and plugin
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/scripts/plugins.py
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-persistence-loader/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-config-api, area-documentation

#7841 docs(keycloak-integration): keycloak saml sso documentation #7840
  docs/admin/keycloak/keycloak-saml-sso.md
Labels: area-documentation

#7851 chore(agama): refactor agama inbound identity project
  docs/agama-catalog/jans/inboundID/project/code/oauth/io.jans.inbound.oauth2.AuthzCode.flow
  docs/agama-catalog/jans/inboundID/project/project.json
  docs/agama/language-reference.md
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/oauth2/CodeGrantUtil.java
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/oauth2/OAuthParams.java
  jans-auth-server/agama/inboundID/src/main/java/io/jans/util/NetworkUtils.java
Labels: kind-dependencies, area-documentation, comp-jans-auth-server, comp-agama

#7860 feat: add config-api lock-config API, update message API
  docker-jans-persistence-loader/scripts/hooks.py
  docs/admin/lock/lock_auth_server_config.md
  docs/admin/lock/lock_client_config.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/LockMessageConfig.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/GrantService.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-config-api/plugins/lock-plugin/pom.xml
  jans-config-api/plugins/lock-plugin/src/main/assembly/assembly.xml
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/extensions/LockExtension.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/model/config/LockConfigSource.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/rest/ApiApplication.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/rest/LockConfigResource.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/service/LockConfigService.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/util/Constants.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/util/LockUtil.java
  jans-config-api/plugins/lock-plugin/src/main/resources/META-INF/beans.xml
  jans-config-api/plugins/lock-plugin/src/main/resources/META-INF/services/javax.enterprise.inject.spi.Extension
  jans-config-api/plugins/lock-plugin/src/main/resources/META-INF/services/javax.ws.rs.ext.Providers
  jans-config-api/plugins/lock-plugin/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSource
  jans-config-api/plugins/lock-plugin/src/main/resources/lock.properties
  jans-config-api/plugins/lock-plugin/src/test/java/io/jans/configapi/KarateTestRunner.java
  jans-config-api/plugins/lock-plugin/src/test/java/io/jans/configapi/TestJenkinsRunner.java
  jans-config-api/plugins/lock-plugin/src/test/resources/feature/lock/lock-config.feature
  jans-config-api/plugins/lock-plugin/src/test/resources/karate-config-jenkins.js
  jans-config-api/plugins/lock-plugin/src/test/resources/karate-config.js
  jans-config-api/plugins/lock-plugin/src/test/resources/karate.properties
  jans-config-api/plugins/lock-plugin/src/test/resources/karate_jenkins.properties
  jans-config-api/plugins/lock-plugin/src/test/resources/logback-test.xml
  jans-config-api/plugins/lock-plugin/src/test/resources/test.properties
  jans-config-api/plugins/lock-plugin/src/test/resources/testClient.feature
  jans-config-api/plugins/lock-plugin/src/test/resources/token.feature
  jans-config-api/plugins/pom.xml
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
  jans-lock/model/pom.xml
  jans-lock/model/src/main/java/io/jans/lock/model/UpdateRequest.java
  jans-lock/model/src/main/java/io/jans/lock/model/config/AppConfiguration.java
  jans-lock/model/src/main/java/io/jans/lock/model/config/BaseDnConfiguration.java
  jans-lock/model/src/main/java/io/jans/lock/model/config/Conf.java
  jans-lock/model/src/main/java/io/jans/lock/model/config/Configuration.java
  jans-lock/model/src/main/java/io/jans/lock/model/config/ErrorMessages.java
  jans-lock/model/src/main/java/io/jans/lock/model/config/OpaConfiguration.java
  jans-lock/model/src/main/java/io/jans/lock/model/config/StaticConfiguration.java
  jans-lock/service/src/main/java/io/jans/lock/service/consumer/message/opa/OpaMessageConsumer.java
Labels: comp-docker-jans-persistence-loader, area-documentation, comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-jans-linux-setup

#7865 feat(agama): add openId support to agama inbound identity project
  docs/agama-catalog/jans/inboundID/README.md
  docs/agama-catalog/jans/inboundID/project/code/io.jans.inbound.ExternalSiteLogin.flow
  docs/agama-catalog/jans/inboundID/project/code/provider/io.jans.inbound.Apple.flow
  docs/agama-catalog/jans/inboundID/project/code/provider/io.jans.inbound.GenericProvider.flow
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/Utils.java
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/ConfigProcessor.java
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/OpenIdParams.java
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/Provider.java
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-agama

#7866 feat(jans-cli-tui): Jans Lock Configuration #7855
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
Labels: comp-jans-cli-tui, comp-jans-config-api, kind-feature

#7814 feat(config-api): handled check for attribute validation and client pwd decryption exception handling
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AttributesResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AttributeService.java
Labels: comp-jans-config-api, kind-feature

#7791 feat(jans-linux-setup): jans lock installer
  jans-linux-setup/docs/lock-setup.md
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/lock_setup.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/templates/apache/https_jans.conf
  jans-linux-setup/jans_setup/templates/jans-lock/jans_message_conf.json
Labels: kind-feature, comp-jans-linux-setup

#7868 feat(jans-linux-setup): lock-plugin
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_cli.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
Labels: kind-feature, comp-jans-linux-setup

#7870 fix(jans-auth-server): changed method HEAD to POST in validate ssa
  docs/admin/auth-server/endpoints/ssa.md
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/validate/SsaValidateClient.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/AssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/SsaValidationAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaGetJwtTest.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaValidateTest.java
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaErrorResponseType.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaGetJwtAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaValidateAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceValidatorTest.java
Labels: kind-bug, area-documentation, comp-jans-auth-server

#7872 fix(jans-linux-setup): prompt for http cert info
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-bug, comp-jans-linux-setup

#7854 feat(jans-fido2): add new unit test for processor.assertion
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/AppleAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/PackedAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/TPMAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/U2FAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/assertion/U2FSuperGluuAssertionFormatProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/util/DigestUtilService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/util/HexUtilService.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/assertion/AppleAssertionFormatProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/assertion/PackedAssertionFormatProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/assertion/TPMAssertionFormatProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/assertion/U2FAssertionFormatProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/assertion/U2FSuperGluuAssertionFormatProcessorTest.java
Labels: comp-jans-fido2, kind-feature

#7837 fix: the audit log API in Admin UI is not protected by authorization token #7836
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/logging/AuditLoggerResource.java
  jans-linux-setup/jans_setup/templates/jans-auth/role-scope-mappings.json
Labels: kind-bug, comp-jans-config-api, comp-jans-linux-setup

#7882 feat(jans-cli-tui): Jans Lock Configuration #7855
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-cli-tui, comp-jans-config-api, kind-feature, comp-jans-linux-setup

#7890 docs(deployment): note default DB for PROD and VM
  docs/admin/planning/persistence.md
Labels: area-documentation

#7881 feat: add configurable additional parameters in admin-ui configuration #7880
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/KeyValuePair.java
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/OIDCClientSettings.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/AppConfigResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/config/AUIConfiguration.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/webhook/WebhookEntry.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/adminui/AdminUIService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/config/AUIConfigurationService.java
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature

#7895 fix(jans-auth-server): requestUriParameterSupported and requestParameterSupported now involved in request processing #7827
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/authorize/AuthorizeErrorResponseType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/conf/jans-errors.json
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidatorTest.java
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-errors.json
Labels: kind-bug, comp-jans-auth-server, comp-jans-linux-setup

#7658 fix: add Hashicorp Vault external secret manager
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/configmap.yaml
  charts/janssen-all-in-one/templates/cronjobs.yaml
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen-all-in-one/templates/secret.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/janssen/charts/auth-server/templates/deployment.yml
  charts/janssen/charts/casa/templates/deployment.yaml
  charts/janssen/charts/config-api/templates/deployment.yaml
  charts/janssen/charts/config/README.md
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/charts/config/templates/load-init-config.yml
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/charts/config/values.yaml
  charts/janssen/charts/fido2/templates/deployment.yml
  charts/janssen/charts/link/templates/deployment.yaml
  charts/janssen/charts/persistence/templates/jobs.yml
  charts/janssen/charts/saml/templates/deployment.yaml
  charts/janssen/charts/scim/templates/deployment.yml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/README.md
  docker-jans-auth-server/requirements.txt
  docker-jans-casa/Dockerfile
  docker-jans-casa/README.md
  docker-jans-casa/requirements.txt
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/README.md
  docker-jans-certmanager/requirements.txt
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/requirements.txt
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/README.md
  docker-jans-configurator/requirements.txt
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/README.md
  docker-jans-fido2/requirements.txt
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/README.md
  docker-jans-keycloak-link/requirements.txt
  docker-jans-link/Dockerfile
  docker-jans-link/README.md
  docker-jans-link/requirements.txt
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/README.md
  docker-jans-persistence-loader/requirements.txt
  docker-jans-saml/Dockerfile
  docker-jans-saml/README.md
  docker-jans-saml/requirements.txt
  docker-jans-scim/Dockerfile
  docker-jans-scim/README.md
  docker-jans-scim/requirements.txt
  docs/admin/kubernetes-ops/external-secrets-configmaps.md
  docs/admin/reference/kubernetes/helm-chart.md
Labels: kind-bug, area-documentation, comp-charts-jans

#7906 chore(docker-jans): sync assets to OCI images
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/mod_context.py
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-casa/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/README.md
  docker-jans-config-api/scripts/plugins.py
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
  jans-pycloudlib/jans/pycloudlib/utils.py
Labels: kind-dependencies, comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, comp-jans-pycloudlib, comp-docker-jans-link
