Repository JanssenProject/jans, pull requests merged in 2025-07, with the labels that each got.

#11695 feat(jans-orm): add method to return internal information about tables
  jans-orm/core/src/main/java/io/jans/orm/PersistenceEntryManager.java
  jans-orm/core/src/main/java/io/jans/orm/impl/BaseEntryManager.java
  jans-orm/core/src/main/java/io/jans/orm/operation/PersistenceOperationService.java
  jans-orm/couchbase/src/main/java/io/jans/orm/couchbase/operation/impl/CouchbaseOperationServiceImpl.java
  jans-orm/hybrid/src/main/java/io/jans/orm/hybrid/impl/HybridPersistenceOperationService.java
  jans-orm/ldap/src/main/java/io/jans/orm/ldap/operation/impl/LdapOperationServiceImpl.java
  jans-orm/spanner/src/main/java/io/jans/orm/cloud/spanner/operation/impl/SpannerOperationServiceImpl.java
  jans-orm/sql-sample/src/main/java/io/jans/orm/sql/SqlSample.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlEntryManager.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlConnectionProvider.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlOperationServiceImpl.java
Labels: comp-jans-orm, kind-feature

#11687 fix(docs): docs update jans readme
  README.md
Labels: area-documentation

#11523 Revert "refactor(docs): remove jans kc link and Jans link (#11500)"
  docs/contribute/development/run-integration-tests.md
  docs/janssen-server/config-guide/link-configuration.md
  docs/janssen-server/developer/customization/customize-web-pages.md
  docs/janssen-server/link/README.md
  docs/janssen-server/link/jans-keycloak-link.md
  docs/janssen-server/link/jans-link.md
  docs/janssen-server/usermgmt/usermgmt-jans-link.md
  docs/script-catalog/link_interception/link-interception.md
  mkdocs.yml
Labels: area-documentation, comp-docs

#11699 chore(docs): add recent content to the learning reference
  docs/janssen-server/reference/learning-reference.md
Labels: kind-dependencies, area-documentation, comp-docs

#11564 refactor(jans-cedarling): replace raw loading with config crate and add default config support
  demos/janssen-tarp/src/options/cedarlingBootstrap.json
  docs/cedarling/cedarling-krakend.md
  docs/cedarling/cedarling-properties.md
  docs/cedarling/cedarling-quick-start-tbac.md
  docs/cedarling/cedarling-quick-start-unsigned.md
  docs/cedarling/cedarling-sidecar-tutorial.md
  docs/cedarling/getting-started/javascript.md
  jans-cedarling/README.md
  jans-cedarling/bindings/cedarling-java/README.md
  jans-cedarling/bindings/cedarling_go/README.md
  jans-cedarling/bindings/cedarling_go/cedarling_test.go
  jans-cedarling/bindings/cedarling_python/README.md
  jans-cedarling/bindings/cedarling_python/example_files/sample_bootstrap_props.yaml
  jans-cedarling/bindings/cedarling_python/tests/config.py
  jans-cedarling/bindings/cedarling_uniffi/README.md
  jans-cedarling/bindings/cedarling_wasm/README.md
  jans-cedarling/cedarling-krakend/README.md
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/benches/authz_benchmark.rs
  jans-cedarling/cedarling/benches/startup_benchmark.rs
  jans-cedarling/cedarling/config/default_config.yaml
  jans-cedarling/cedarling/config/policy-store.json
  jans-cedarling/cedarling/examples/authorize_unsigned.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/examples/lock_integration.rs
  jans-cedarling/cedarling/examples/profiling.rs
  jans-cedarling/cedarling/src/bootstrap_config/authorization_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/entity_builder_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/jwt_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/lock_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/log_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/policy_store_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/feature_types.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/token_settings.rs
  jans-cedarling/cedarling/src/common/policy_store/cedar-schema.json
  jans-cedarling/cedarling/src/entity_builder/mod.rs
  jans-cedarling/cedarling/src/init/policy_store.rs
  jans-cedarling/cedarling/src/lock/mod.rs
  jans-cedarling/cedarling/src/log/log_strategy.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_different_principals.rs
  jans-cedarling/cedarling/src/tests/ssa_validation_integration.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
  jans-cedarling/flask-sidecar/README.md
Labels: kind-enhancement, comp-jans-cedarling

#11719 fix(docs): add upgrade note about manual custom script updates
  docs/janssen-server/kubernetes-ops/upgrade.md
  docs/janssen-server/vm-ops/upgrade.md
Labels: kind-bug, area-documentation, comp-docs

#11711 feat: add the mandatory permissions for default roles in Admin UI
  jans-linux-setup/jans_setup/templates/jans-auth/role-scope-mappings.json
Labels: kind-feature, comp-jans-linux-setup

#11724 feat: add check to prevent unsigned user-info jwt in the role_based_scopes_update_token script (Admin UI)
  docs/script-catalog/introspection/role-based-scopes-update-token/role_based_scopes_update_token.py
Labels: kind-feature, comp-docs

#11731 fix(jans-linux-setup): re-order app installations
  jans-linux-setup/jans_setup/jans_setup.py
Labels: kind-bug, comp-jans-linux-setup

#11718 docs: update sequence diagram using Mermaid in Cedarling-based TBAC documentation
  docs/cedarling/cedarling-quick-start-tbac.md
Labels: area-documentation, comp-docs

#11755 feat(jans-config-api): add cedarlingLogType attribute in Admin UI configuration
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/UIConfiguration.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/adminui/CedarlingLogType.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/AppConfigResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/config/AUIConfiguration.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/adminui/AdminUIService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/config/AUIConfigurationService.java
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature, comp-docs

#11745 feat(jans-cedarling): add maven javadocs plugin in java binding
  jans-cedarling/bindings/cedarling-java/pom.xml
Labels: kind-feature, comp-jans-cedarling

#11761 feat(jans-auth-server): improved SessionIdService - added option to load session without local copy #11366
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
Labels: comp-jans-auth-server, kind-feature

#11765 Htmlunit
  jans-auth-server/client/pom.xml
  jans-bom/pom.xml
Labels: comp-jans-auth-server, comp-jans-bom

#11778 fix(jans-auth-server): set sub claim to client identifier for "client credentials grant" for AT as JWT #11413
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrant.java
Labels: kind-bug, comp-jans-auth-server

#11771 docs: fix tabbed sections, large headers and loading times
  docs/stylesheets/home.css
  mkdocs.yml
Labels: area-documentation, comp-docs

#11789 fix(docs): add note on config refresh behavior in TUI
  docs/janssen-server/config-guide/config-tools/jans-tui/navigation-guide.md
Labels: kind-bug, area-documentation, comp-docs

#11793 fix(jans-config-api): changing the /admin-ui/license/resetConfig to DELETE Http method
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/license/LicenseResource.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
Labels: kind-bug, comp-jans-config-api, comp-docs

#11807 fix(jans-cli-tui): adjust entries per page dynamiccally
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#11788 chore(cloud-native): audit for config-api endpoints
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/upgrade.py
  docker-jans-config-api/templates/jans-config-api/log4j2.xml
  docker-jans-persistence-loader/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-config-api, comp-jans-config-api

#11798 fix(docs): fix incorrect link in Jans Casa docs
  docs/casa/plugins/accts-linking/accts-linking-agama.md
Labels: kind-bug, area-documentation, comp-docs

#11812 chore: misc libs updates
  jans-casa/shared/pom.xml
Labels: kind-dependencies, comp-jans-casa

#11813 fix(jans-kc-scheduler): typo prevented proper loading of authz scopes #11802
  jans-keycloak-integration/job-scheduler/src/main/java/io/jans/kc/scheduler/config/AppConfiguration.java
Labels: kind-bug

#11838 feat(jans-config-api): restore jans-config-api plugins jans-link-plugin
  jans-config-api/plugins/pom.xml
Labels: comp-jans-config-api, kind-feature

#11845 fix(jans-fido2): resolve 'Save Another Way' popup issue during device…
  docker-jans-fido2/scripts/upgrade.py
  jans-linux-setup/jans_setup/templates/jans-fido2/dynamic-conf.json
Labels: kind-bug, comp-jans-fido2, comp-jans-linux-setup

#11849 test(kc-link): use junit version from jans bom for kc-link
  jans-keycloak-link/server/pom.xml
  jans-keycloak-link/service/pom.xml
Labels: area-CI, comp-jans-keycloak-link

#11851 feat(jans-auth-server): updates to Audience Values for OAuth 2.0 Authorization Servers #11842
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/AuthenticationFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/token/ClientAssertion.java
  jans-auth-server/server/src/test/java/io/jans/as/server/model/token/ClientAssertionTest.java
Labels: comp-jans-auth-server, kind-feature

#11866 feat(config-api): endpoint to return table info
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
  jans-config-api/plugins/docs/jans-link-plugin-swagger.yaml
  jans-config-api/plugins/docs/kc-link-plugin-swagger.yaml
  jans-config-api/plugins/docs/kc-saml-plugin-swagger.yaml
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-config-api/plugins/docs/scim-plugin-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/pom.xml
  jans-config-api/server/src/main/java/io/jans/configapi/interceptor/AuditLogInterceptor.java
  jans-config-api/server/src/main/java/io/jans/configapi/interceptor/DataLogInterceptor.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AuditLogResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/DatabaseResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/DatabaseService.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/server/src/main/resources/example/database/tableInfo.json
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup, comp-docs

#11873 ci: update codeowner for Cedarling module
  .github/CODEOWNERS
Labels: area-CI

#11872 fix(docs): merge the Cedarling quick start guides
  docs/cedarling/cedarling-quick-start-tbac.md
  docs/cedarling/cedarling-quick-start-unsigned.md
  docs/cedarling/cedarling-quick-start.md
  docs/cedarling/getting-started/java.md
  docs/cedarling/getting-started/javascript.md
  docs/cedarling/getting-started/python.md
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-docs
