Repository JanssenProject/jans, pull requests merged in 2025-06, with the labels that each got.

#11514 refactor(jans-pycloudlib): re-use upstream jans.properties file
  jans-pycloudlib/jans/pycloudlib/persistence/utils.py
  jans-pycloudlib/tests/test_persistence.py
Labels: kind-enhancement, comp-jans-pycloudlib

#11534 chore: update jans source commit
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-cloudtools/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
  jans-cedarling/flask-sidecar/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-monolith, comp-docker-jans-all-in-one, comp-docker-jans-casa, comp-docker-jans-saml, comp-jans-cedarling, comp-docker-jans-cloudtools

#11539 feat(jans-cli-tui): display build date and build versions
  jans-cli-tui/cli_tui/plugins/999_jans/main.py
Labels: comp-jans-cli-tui, kind-feature

#11540 docs: Some minor changes to Cedarling README and diagrams.
  docs/assets/cedarling/lock-cedarling-diagram-1.jpg
  docs/assets/cedarling/lock-cedarling-mobile-generic.jpg
  docs/assets/cedarling/lock-cedarling-rust-core-components.jpg
  docs/assets/lock-cedarling-diagram-1.jpg
  docs/assets/lock-cedarling-rust-core-components.jpg
  docs/cedarling/README.md
Labels: area-documentation, comp-docs

#11532 refactor: jans linux setup revert removing link kclink 11531
  docs/janssen-server/install/setup.md
  docs/janssen-server/install/vm-install/dynamic-download.md
  jans-cli-tui/cli_tui/plugins/090_jans_link/.enabled
  jans-cli-tui/cli_tui/plugins/090_jans_link/__init__.py
  jans-cli-tui/cli_tui/plugins/090_jans_link/main.py
  jans-cli-tui/cli_tui/plugins/110_kc_link/.enabled
  jans-cli-tui/cli_tui/plugins/110_kc_link/__init__.py
  jans-cli-tui/cli_tui/plugins/110_kc_link/main.py
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/data/jetty_app_configuration.json
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_keycloak_link.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_link.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/static/scripts/jans_services_status.py
  jans-linux-setup/jans_setup/static/scripts/logmanager.sh
  jans-linux-setup/jans_setup/static/site/site.ldif
  jans-linux-setup/jans_setup/static/system/systemd/jans-keycloak-link.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-link.service
  jans-linux-setup/jans_setup/templates/jans-auth/role-scope-mappings.json
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/configuration.ldif
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/jans-keycloak-link-config.json
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/jans-keycloak-link-static-config.json
  jans-linux-setup/jans_setup/templates/jans-link/configuration.ldif
  jans-linux-setup/jans_setup/templates/jans-link/jans-link-config.json
  jans-linux-setup/jans_setup/templates/jans-link/jans-link-static-config.json
  jans-linux-setup/jans_setup/templates/jans.properties
Labels: area-documentation, comp-jans-cli-tui, comp-jans-config-api, kind-feature, comp-jans-linux-setup, comp-docs

#11550 refactor(docs): restructure docker compose instructions
  docs/janssen-server/install/docker-install/compose.md
  mkdocs.yml
Labels: kind-enhancement, area-documentation, comp-docs

#11560 refactor(docs): refactor and update user claims (attributes) management documentation
  docs/assets/tui-attribute-screen.png
  docs/assets/tui-delete-attribute.png
  docs/assets/tui-edit-attribute.png
  docs/janssen-server/auth-server/openid-features/user-claims/README.md
  docs/janssen-server/auth-server/openid-features/user-claims/built-in-claims.md
  docs/janssen-server/auth-server/openid-features/user-claims/custom-claims.md
  docs/janssen-server/config-guide/auth-server-config/attribute-configuration.md
  mkdocs.yml
Labels: kind-enhancement, area-documentation, comp-docs

#11556 docs(jans-cedarling): refactor quickstart
  docs/cedarling/cedarling-quick-start-tbac.md
  docs/cedarling/cedarling-quick-start-unsigned.md
Labels: area-documentation, comp-docs, comp-jans-cedarling

#11572 docs(jans-cedarling): add JanssenProject link
  docs/cedarling/cedarling-quick-start-tbac.md
  docs/cedarling/cedarling-quick-start-unsigned.md
Labels: area-documentation, comp-docs, comp-jans-cedarling

#10933 fix(docs): update the instructions for certificates
  docs/janssen-server/vm-ops/certificates.md
Labels: kind-bug, area-documentation, comp-docs

#11557 fix(docs): update release urls to point to latest Janssen release
  docs/cedarling/cedarling-krakend.md
  docs/cedarling/getting-started/go.md
  docs/cedarling/getting-started/python.md
  docs/janssen-server/install/vm-install/README.md
  docs/janssen-server/install/vm-install/rhel.md
  docs/janssen-server/install/vm-install/suse.md
  docs/janssen-server/install/vm-install/ubuntu.md
  docs/janssen-server/kubernetes-ops/tui-k8s.md
Labels: kind-bug, area-documentation, comp-docs

#11587 feat(config-api) filed to mark an attribute required and enforce the same while registration #11546
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/main/java/io/jans/configapi/plugin/mgt/service/UserMgmtService.java
  jans-core/service/src/main/java/io/jans/model/JansAttribute.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
Labels: comp-jans-config-api, comp-jans-core, kind-feature, comp-jans-linux-setup, comp-docs

#11594 feat: add Jans-Client header
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: comp-jans-cli-tui, kind-feature

#11603 chore(cloud-native): sync assets to OCI images
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/templates/jans-mysql.properties
  docker-jans-auth-server/templates/jans-pgsql.properties
  docker-jans-auth-server/templates/jans.properties
  docker-jans-casa/Dockerfile
  docker-jans-casa/templates/jans-mysql.properties
  docker-jans-casa/templates/jans-pgsql.properties
  docker-jans-casa/templates/jans.properties
  docker-jans-cloudtools/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/templates/jans-mysql.properties
  docker-jans-config-api/templates/jans-pgsql.properties
  docker-jans-config-api/templates/jans.properties
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/templates/jans-mysql.properties
  docker-jans-fido2/templates/jans-pgsql.properties
  docker-jans-fido2/templates/jans.properties
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-saml/Dockerfile
  docker-jans-saml/templates/jans-mysql.properties
  docker-jans-saml/templates/jans-pgsql.properties
  docker-jans-saml/templates/jans.properties
  docker-jans-scim/Dockerfile
  docker-jans-scim/templates/jans-mysql.properties
  docker-jans-scim/templates/jans-pgsql.properties
  docker-jans-scim/templates/jans.properties
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-monolith, comp-docker-jans-all-in-one, comp-docker-jans-casa, comp-docker-jans-saml, comp-docker-jans-cloudtools

#11597 docs(jans-cedarling): jans cedarling java binding docs
  docs/cedarling/cedarling-getting-started.md
  docs/cedarling/getting-started/java.md
  docs/cedarling/uniffi/cedarling-kotlin.md
  jans-cedarling/bindings/cedarling-java/README.md
  jans-cedarling/bindings/cedarling-java/pom.xml
  jans-cedarling/bindings/cedarling_uniffi/README.md
  jans-cedarling/bindings/cedarling_uniffi/javaApp/pom.xml
  mkdocs.yml
Labels: area-documentation, comp-docs, comp-jans-cedarling

#11610 Owasp update
  jans-auth-server/pom.xml
Labels: comp-jans-auth-server

#11581 fix(docs): add Cedarling technical overview doc
  docs/contribute/implementation-design/jans-cedarling-design/cedarling-technical-overview.md
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-docs

#11608 docs(jans-cedarling): Updated Cedarling bootstrap properties docs
  docs/cedarling/cedarling-properties.md
Labels: area-documentation, comp-docs, comp-jans-cedarling

#11615 fix(jans-cli-tui): user jansStatus is in body not custom attrbiute
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
Labels: kind-bug, comp-jans-cli-tui

#11628 fix(jans-cli-tui): enforce setting SSA life time at least 5 minutes
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
Labels: kind-bug, comp-jans-cli-tui

#11626 feat(cloud-native): introduce Logout Status JWT
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
Labels: comp-docker-jans-persistence-loader, kind-feature

#11554 refactor(jans-pycloudlib): handle deprecated crypto algorithm and ssl options
  jans-pycloudlib/jans/pycloudlib/utils.py
Labels: kind-enhancement, comp-jans-pycloudlib

#11643 ci: fixes copy code and aligns titles
  docs/javascripts/full-screen-sections.js
  docs/javascripts/skeleton-loader.js
  docs/overrides/main.html
  docs/stylesheets/home.css
  mkdocs.yml
Labels: area-CI, comp-docs

#11659 fix: 1.8.0 post QA notes
  charts/janssen-all-in-one/Chart.yaml
  charts/janssen-all-in-one/README.md
  charts/janssen/Chart.yaml
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/Chart.yaml
  charts/janssen/charts/auth-server-key-rotation/README.md
  charts/janssen/charts/auth-server/Chart.yaml
  charts/janssen/charts/auth-server/README.md
  charts/janssen/charts/casa/Chart.yaml
  charts/janssen/charts/casa/README.md
  charts/janssen/charts/cleanup/Chart.yaml
  charts/janssen/charts/cleanup/README.md
  charts/janssen/charts/cn-istio-ingress/Chart.yaml
  charts/janssen/charts/cn-istio-ingress/README.md
  charts/janssen/charts/config-api/Chart.yaml
  charts/janssen/charts/config-api/README.md
  charts/janssen/charts/config/Chart.yaml
  charts/janssen/charts/config/README.md
  charts/janssen/charts/fido2/Chart.yaml
  charts/janssen/charts/fido2/README.md
  charts/janssen/charts/kc-scheduler/Chart.yaml
  charts/janssen/charts/kc-scheduler/README.md
  charts/janssen/charts/nginx-ingress/Chart.yaml
  charts/janssen/charts/nginx-ingress/README.md
  charts/janssen/charts/persistence/Chart.yaml
  charts/janssen/charts/persistence/README.md
  charts/janssen/charts/saml/Chart.yaml
  charts/janssen/charts/saml/README.md
  charts/janssen/charts/scim/Chart.yaml
  charts/janssen/charts/scim/README.md
  docker-jans-config-api/Dockerfile
  docker-jans-saml/Dockerfile
  jans-auth-server/client/pom.xml
  jans-auth-server/pom.xml
  jans-bom/pom.xml
  jans-casa/shared/pom.xml
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/jans-link-plugin-swagger.yaml
  jans-config-api/plugins/docs/kc-link-plugin-swagger.yaml
  jans-config-api/plugins/pom.xml
  jans-keycloak-integration/pom.xml
  jans-linux-setup/jans_setup/app_info.json
  mkdocs.yml
Labels: kind-bug, comp-docker-jans-config-api, area-documentation, comp-charts-jans
