Repository JanssenProject/jans, pull requests merged in 2025-10, with the labels that each got.

#12323 chore: update jans source version
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-cloudtools/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
  jans-cedarling/flask-sidecar/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-monolith, comp-docker-jans-link, comp-docker-jans-all-in-one, comp-docker-jans-casa, comp-docker-jans-saml, comp-jans-cedarling, comp-docker-jans-cloudtools

#12328 fix(jans-cedarling): Fix broken Cedarling build
  .github/workflows/test-cedarling.yml
  jans-cedarling/.cargo/config.toml
  jans-cedarling/bindings/cedarling_wasm/Cargo.toml
  jans-cedarling/cedarling/Cargo.toml
Labels: kind-bug, comp-jans-cedarling

#12339 fix(jans-linux-setup): jans command linked to /usr/sbin
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
Labels: kind-bug, comp-jans-linux-setup
