Repository JanssenProject/jans, pull requests merged in 2025-08, with the labels that each got.

#11903 fix(jans-cli-tui): avoid logging plain texts
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui

#11906 fix(jans-cli-tui): pagination AIP change for repositories endpoints
  jans-cli-tui/cli_tui/plugins/010_auth_server/agama.py
  jans-cli-tui/cli_tui/plugins/140_config_api/audit_logs.py
Labels: kind-bug, comp-jans-cli-tui

#11908 fix(jans-linux-setup): github API endpoint changes for agama projects
  jans-linux-setup/jans_setup/static/scripts/get_agama_lab_projects.py
Labels: kind-bug, comp-jans-linux-setup

#11898 fix(jans-cedarling): fix krakend plugin to reflect resource changes
  jans-cedarling/cedarling-krakend/go.mod
  jans-cedarling/cedarling-krakend/go.sum
  jans-cedarling/cedarling-krakend/main.go
Labels: kind-bug, comp-jans-cedarling

#11900 feat: increase the validity period of tokens in tarp to one day
  demos/janssen-tarp/src/options/registerClient.tsx
Labels: kind-feature

#11894 feat(jans-fido2) : added integration test cases for the device registration flow
  jans-fido2/client/profiles/default/config-fido2-test.properties
  jans-fido2/server/pom.xml
  jans-fido2/server/src/test/java/io/jans/fido2/test/integration/Fido2DeviceRegistrationBasicTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/test/integration/Fido2DeviceRegistrationEnhancedTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/test/integration/README.md
  jans-fido2/server/src/test/resources/testng.xml
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/base.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/crypto64.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/templates/test/jans-auth/client/config-jans-auth-test-data.properties
  jans-linux-setup/jans_setup/templates/test/jans-auth/data/jans-auth-test-data.ldif
  jans-linux-setup/jans_setup/templates/test/jans-auth/server/config-jans-auth-test-data.properties
  jans-linux-setup/jans_setup/templates/test/jans-fido2/client/config-jans-fido2-test-data.properties
  jans-linux-setup/jans_setup/templates/test/jans-fido2/data/fido2-device-registration-test-data.ldif
  jans-linux-setup/jans_setup/templates/test/jans-fido2/server/config-build.properties
  jans-linux-setup/jans_setup/templates/test/jans-fido2/server/config-jans-fido2-test-data.properties
  jans-linux-setup/jans_setup/templates/test/jans-fido2/server/config-jans-fido2.properties
  jans-linux-setup/jans_setup/templates/test/jans-fido2/server/fido2-device-registration-dynamic-config.json
  jans-linux-setup/jans_setup/templates/test/jans-fido2/server/fido2-device-registration-test-config.properties
Labels: area-documentation, comp-jans-fido2, kind-feature, comp-jans-linux-setup, comp-jans-casa

#11912 feat(jans-config-api): restore jans-config-api plugins jans-link-plugin
  jans-config-api/plugins/pom.xml
Labels: comp-jans-config-api, kind-feature

#11929 fix(jans-linux-setup): fido2 test setup fixes
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
  jans-linux-setup/jans_setup/templates/test/jans-fido2/client/config-jans-fido2-test-data.properties
  jans-linux-setup/jans_setup/templates/test/jans-fido2/data/fido2-device-registration-test-data.ldif
  jans-linux-setup/jans_setup/templates/test/jans-fido2/server/fido2-device-registration-test-config.properties
Labels: kind-bug, comp-jans-fido2, comp-jans-linux-setup

#11895 feat(config-api): audit for config-api endpoint
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/sample/demo/pom.xml
  jans-config-api/plugins/sample/helloworld/pom.xml
  jans-config-api/server/src/main/java/io/jans/configapi/interceptor/AuditLogInterceptor.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AuditLogResource.java
  jans-config-api/server/src/main/resources/log4j2.xml
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup, comp-docs

#11930 feat(jans-auth-server): created interception script for Logout Status JWT #11250
  docs/janssen-server/developer/scripts/README.md
  docs/script-catalog/logout_status_jwt/LogoutStatusJwt.java
  docs/script-catalog/logout_status_jwt/logout-status-jwt.md
  jans-auth-server/client/src/main/java/io/jans/as/client/RegisterRequest.java
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/register/RegisterRequestParam.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/ClientAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalLogoutStatusJwtService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/context/ExternalScriptContext.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/logout/LogoutStatusJwtService.java
  jans-core/script/src/main/java/io/jans/model/custom/script/CustomScriptType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/token/DummyLogoutStatusJwtType.java
  jans-core/script/src/main/java/io/jans/model/custom/script/type/token/LogoutStatusJwtType.java
  jans-linux-setup/jans_setup/templates/scripts.ldif
  mkdocs.yml
Labels: area-documentation, comp-jans-auth-server, comp-jans-core, kind-feature, comp-jans-linux-setup, comp-docs

#11944 ci: fix krakend build
  .github/workflows/build-packages.yml
  .github/workflows/scan-codeql.yml
Labels: area-CI

#11938 fix(docs): fix formatting in Jans README
  README.md
Labels: kind-bug, area-documentation, comp-docs

#11949 feat: offer a way to easily copy the tokens to clipboard
  demos/janssen-tarp/src/options/userDetails.tsx
Labels: kind-feature

#11963 fix(docs): remove duplicate `interception-scripts` readme file
  docs/janssen-server/developer/interception-scripts.md
Labels: kind-bug, area-documentation, comp-docs

#11971 refactor(docs): docs merge Cedarling rust documents
  docs/cedarling/cedarling-rust.md
  docs/cedarling/getting-started/rust.md
Labels: kind-enhancement, area-documentation, comp-docs

#11962 fix(docs): update endpoint file title
  docs/janssen-server/auth-server/endpoints/global-token-revocation.md
  docs/janssen-server/auth-server/endpoints/jwks-uri.md
  docs/janssen-server/auth-server/endpoints/session-revocation.md
  docs/janssen-server/auth-server/endpoints/ssa.md
  docs/janssen-server/auth-server/endpoints/token-revocation.md
  docs/janssen-server/auth-server/endpoints/token.md
  docs/janssen-server/auth-server/endpoints/userinfo.md
Labels: kind-bug, area-documentation, comp-docs

#12003 fix(jans-keycloak-integration): kc health and metrics endpoint throw error #12001
  jans-keycloak-integration/pom.xml
Labels: kind-bug

#11996 feat(Jans-casa) : resolve session issue
  jans-casa/agama/project/code/io.jans.casa.authn.main.flow
  jans-casa/agama/project/lib/io/jans/casa/authn/TrustedDevicesManager.java
  jans-casa/agama/project/lib/io/jans/casa/authn/UserAuthnUtil.java
  jans-casa/agama/project/web/main.ftlh
  jans-casa/app/src/main/java/io/jans/casa/core/LogoutServlet.java
  jans-casa/app/src/main/java/io/jans/casa/core/SessionValidationService.java
Labels: kind-feature, comp-agama, comp-jans-casa

#12011 fix: add no gorn mode
  jans-cli-tui/cli_tui/defeat_gorn.py
  jans-cli-tui/cli_tui/jans_cli_tui.py
Labels: kind-bug, comp-jans-cli-tui

#12013 feat(jans-linux-setup): redirecting errors on stderr for the scheduler
  jans-linux-setup/jans_setup/templates/jans-saml/kc-scheduler/kc-scheduler-cron
Labels: kind-feature, comp-jans-linux-setup

#12018 feat(jans-auth-server): provided configuration for changing case-sensitivity of FAPI response #11394
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/servlet/AccountAccessConsentServlet.java
Labels: comp-jans-auth-server, kind-feature

#12023 Lock config
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
  jans-lock/lock-server/model/src/main/java/io/jans/lock/model/config/AppConfiguration.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ServiceInitializer.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/consumer/message/MessageConsumerFactory.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/consumer/message/generic/NullMessageConsumer.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/consumer/policy/PolicyConsumer.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/consumer/policy/PolicyConsumerFactory.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/consumer/policy/PolicyConsumerInterface.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/consumer/policy/generic/NullPolicyConsumer.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/message/TokenSubService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/policy/PolicyDownloadService.java
Labels: comp-jans-linux-setup, comp-jans-lock

#12037 fix(jans-auth-server): client registration script jwks is not used during validation #12036
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterValidator.java
Labels: kind-bug, comp-jans-auth-server

#12039 fix(config-api): asset endpoint fix for upload and fetch
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
Labels: kind-bug, comp-jans-config-api, comp-docs

#12050 chore(jans-keycloak-integration): upgrade dependency versions #12049
  jans-keycloak-integration/pom.xml
Labels: kind-dependencies

#12052 feat(jans-auth): handle gzip compressed token responses
  jans-auth-server/client/src/main/java/io/jans/as/client/BaseClient.java
  jans-auth-server/client/src/main/java/io/jans/as/client/UserInfoClient.java
Labels: comp-jans-auth-server, kind-feature

#12047 chore(deps): bump org.bouncycastle:bcpkix-jdk18on fom 1.78 to 1.79 in /jans-bom
  jans-bom/pom.xml
  jans-config-api/docs/jans-config-api-swagger.yaml
Labels: kind-dependencies, comp-jans-config-api, comp-jans-bom, comp-docs

#12056 fix(jans-linux-setup): missing python libs for rhel-8
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
Labels: kind-bug, comp-jans-linux-setup

#12058 chore(jans-keycloak-integration): bump keycloak version to 26.3.3 #12057
  jans-keycloak-integration/pom.xml
  jans-linux-setup/jans_setup/app_info.json
Labels: kind-dependencies, comp-jans-linux-setup

#12067 chore(jans-keycloak-integration): bump keycloak version to 26.3.3 #12057
  jans-keycloak-integration/job-scheduler/pom.xml
  jans-keycloak-integration/pom.xml
Labels: kind-dependencies

#12065 fix(jans-linux-setup): remove redirecting of SE to file for KC
  jans-linux-setup/jans_setup/static/system/systemd/kc.service
Labels: kind-bug, comp-jans-linux-setup

#12061 fix(jans-casa): resolve session validator exception
  jans-casa/agama/project/lib/io/jans/casa/authn/TrustedDevicesManager.java
  jans-casa/agama/project/lib/io/jans/casa/authn/UserAuthnUtil.java
  jans-casa/app/src/main/java/io/jans/casa/core/LogoutServlet.java
  jans-casa/app/src/main/java/io/jans/casa/core/SessionValidationService.java
Labels: kind-bug, comp-agama, comp-jans-casa
