Repository JanssenProject/jans, pull requests merged in 2025-09, with the labels that each got.

#12073 ci: update sonarcloud github action
  .github/workflows/scan-sonar.yml
Labels: area-CI

#11199 docs(cedarling): update JWT validation section
  docs/cedarling/cedarling-jwt-validation.md
  docs/cedarling/cedarling-policy-store.md
  docs/cedarling/cedarling-properties.md
  jans-cedarling/cedarling/src/authz/trust_mode.rs
Labels: area-documentation, comp-docs

#11936 feat(jans-cedarling): Support `default_entities` in `policy_stores`
  docs/cedarling/cedarling-authz.md
  docs/cedarling/cedarling-entities.md
  docs/cedarling/cedarling-policy-store.md
  docs/cedarling/cedarling-properties.md
  jans-cedarling/cedarling/benches/authz_benchmark.rs
  jans-cedarling/cedarling/benches/startup_benchmark.rs
  jans-cedarling/cedarling/config/default_config.yaml
  jans-cedarling/cedarling/examples/authorize_unsigned.rs
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/examples/lock_integration.rs
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/examples/profiling.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/config.rs
  jans-cedarling/cedarling/src/common/policy_store.rs
  jans-cedarling/cedarling/src/entity_builder/build_principal_entity.rs
  jans-cedarling/cedarling/src/entity_builder/build_principal_entity/unsigned.rs
  jans-cedarling/cedarling/src/entity_builder/build_principal_entity/user.rs
  jans-cedarling/cedarling/src/entity_builder/build_principal_entity/workload.rs
  jans-cedarling/cedarling/src/entity_builder/build_resource_entity.rs
  jans-cedarling/cedarling/src/entity_builder/build_role_entity.rs
  jans-cedarling/cedarling/src/entity_builder/build_token_entities.rs
  jans-cedarling/cedarling/src/entity_builder/error.rs
  jans-cedarling/cedarling/src/entity_builder/mod.rs
  jans-cedarling/cedarling/src/init/service_factory.rs
  jans-cedarling/cedarling/src/tests/ssa_validation_integration.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
  jans-cedarling/schema/policy_store_schema.json
  jans-cedarling/test_files/policy-store-with-default-entities.yaml
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#12109 fix(jans-linux-setup): missing py libs for suse
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
Labels: kind-bug, comp-jans-linux-setup

#12105 fix(docs): update doc `SMTP configuration` in TUI section
  docs/assets/jans-smtp-config-screen.png
  docs/assets/jans-smtp-test-success.png
  docs/janssen-server/config-guide/smtp-configuration.md
Labels: kind-bug, area-documentation, comp-docs

#12107 feat(config-api): lock and fido2 config and scim audit changes
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AgamaConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AssetDirMapping.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AssetMgtConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/AuditLogConf.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/ConversionAttributes.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/CorsConfiguration.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/CorsConfigurationFilter.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/DataFormatConversionConf.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/ObjectDetails.java
  jans-config-api/common/src/main/java/io/jans/configapi/model/configuration/PluginConf.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiAccessConstants.java
  jans-config-api/common/src/main/java/io/jans/configapi/util/ApiConstants.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/rest/TrustRelationshipResource.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/SamlIdpService.java
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/SamlService.java
  jans-config-api/plugins/scim-plugin/src/main/java/io/jans/configapi/plugin/scim/rest/ScimConfigResource.java
  jans-config-api/profiles/default/config-api-test.properties
  jans-config-api/server/src/main/java/io/jans/configapi/interceptor/AuditLogInterceptor.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/ApiApplication.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AuditLogResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/ClientsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/LoggingResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/SsaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/SsaService.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/shared/src/main/java/io/jans/configapi/core/annotation/Ignore.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/service/ConfigHttpService.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/Fido2Configuration.java
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
  jans-lock/lock-server/model/src/main/java/io/jans/lock/model/config/AppConfiguration.java
Labels: comp-jans-config-api, comp-jans-fido2, kind-feature, comp-jans-linux-setup, comp-jans-lock, comp-docs

#12104 fix(docs): remove unused README
  docs/README.md
Labels: kind-bug, area-documentation, comp-docs

#12102 fix(docs): update java Cedarling docs
  docs/cedarling/getting-started/java.md
Labels: kind-bug, area-documentation, comp-docs

#12103 fix(docs): fix person authentication docs url issue
  docs/script-catalog/person_authentication/person-authentication.md
Labels: kind-bug, area-documentation, comp-docs

#12129 fix(jans-cli-tui): hide logging plain text password when changing user password
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui

#12142 feat(jans-linux-setup): add add password grant type to scim client for testing
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: kind-feature, comp-jans-linux-setup

#12172 fix(jans-cli-tui): error saving auth logging
  jans-cli-tui/cli_tui/cli/config_cli.py
Labels: kind-bug, comp-jans-cli-tui

#12174 fix(config-api): ssa delete endpoint and fix to admin-ui-permission delete endpoint
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/rest/adminui/AdminUIResource.java
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/SsaResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/SsaService.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/service/ConfigHttpService.java
Labels: kind-bug, comp-jans-config-api, comp-docs

#12198 feat(cloud-native): add support for SSL connection to persistence
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/_helpers.tpl
  charts/janssen-all-in-one/templates/configmap.yaml
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen-all-in-one/templates/secret.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/config/README.md
  charts/janssen/charts/config/templates/_helpers.tpl
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/charts/config/templates/load-init-config.yml
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/charts/config/values.yaml
  charts/janssen/values.yaml
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-casa/Dockerfile
  docker-jans-casa/scripts/bootstrap.py
  docker-jans-cloudtools/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/scripts/bootstrap.py
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/scripts/bootstrap.py
  docker-jans-link/Dockerfile
  docker-jans-link/scripts/bootstrap.py
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/scripts/bootstrap.py
  docs/janssen-server/reference/kubernetes/config-secret-keys.md
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, kind-feature, comp-charts-jans, comp-docker-jans-link, comp-docker-jans-all-in-one, comp-docker-jans-casa, comp-docker-jans-saml, comp-docs, comp-docker-jans-cloudtools

#12200 feat(jans-linux-setup) ssl settings for postgresql
  docs/janssen-server/install/setup.md
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/templates/jans-pgsql.properties
Labels: area-documentation, kind-feature, comp-jans-linux-setup, comp-docs

#12219 feat(jans-linux-setup): mysql ssl connection
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/templates/jans-mysql.properties
  jans-linux-setup/jans_setup/templates/jans-pgsql.properties
Labels: kind-feature, comp-jans-linux-setup

#12143 feat(jans-fido2): add comprehensive data model for the performance me…
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/AppConfiguration.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/metric/Fido2MetricsAggregation.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/metric/Fido2MetricsConstants.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/metric/Fido2MetricsData.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/metric/Fido2MetricsEntry.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/metric/Fido2UserMetrics.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/metric/UserMetricsUpdateRequest.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/metric/Fido2AnalyticsService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/metric/Fido2MetricsAggregationScheduler.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/metric/Fido2MetricsService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/metric/Fido2UserMetricsService.java
  jans-fido2/server/src/main/resources/fido2-metrics.properties
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/schema/jans_schema_mappings.json
Labels: comp-jans-fido2, kind-feature, comp-jans-linux-setup

#12098 feat(jans-auth-server): added jwt-bearer grant type #11979
  docs/assets/log/jwt-grant-run-log.txt
  docs/janssen-server/auth-server/endpoints/token.md
  docs/janssen-server/auth-server/oauth-features/README.md
  docs/janssen-server/auth-server/oauth-features/jwt-grant.md
  docs/janssen-server/config-guide/auth-server-config/jans-authorization-server-config.md
  jans-auth-server/client/src/test/java/io/jans/as/client/client/assertbuilders/RegisterResponseAssertBuilder.java
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/token/JwtGrantHttpTest.java
  jans-auth-server/client/src/test/resources/testng.xml
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/UserService.java
  jans-auth-server/model/src/main/java/io/jans/as/model/common/GrantType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/jwk/Algorithm.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrantList.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/AuthorizationGrantType.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/IAuthorizationGrantList.java
  jans-auth-server/server/src/main/java/io/jans/as/server/model/common/JwtBearerGrant.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/JwtGrantService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/userinfo/ws/rs/UserInfoRestWebServiceImpl.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImplTest.java
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  mkdocs.yml
Labels: comp-jans-auth-server, kind-feature
