Repository JanssenProject/jans, pull requests merged in 2025-04, with the labels that each got.

#11137 chore: upgrade cedarling_wasm dependency version in tarp
  demos/jans-tarp/package.json
Labels: kind-dependencies

#11147 feat: add ability to to use cedarling authorize_unsigned in tarp
  demos/jans-tarp/README.md
  demos/jans-tarp/docs/images/add-bootstrap-config.png
  demos/jans-tarp/docs/images/add-oidc-client.png
  demos/jans-tarp/docs/images/cedar-auth-form.png
  demos/jans-tarp/docs/images/oidc-client-reg.png
  demos/jans-tarp/docs/images/successful-tarp-auth-screen.png
  demos/jans-tarp/docs/images/tarp-client-reg.png
  demos/jans-tarp/docs/images/unsigned-cedar-authz.png
  demos/jans-tarp/src/options/Utils.ts
  demos/jans-tarp/src/options/addCedarlingConfig.tsx
  demos/jans-tarp/src/options/authFlowInputs.tsx
  demos/jans-tarp/src/options/cedarling.tsx
  demos/jans-tarp/src/options/homePage.tsx
  demos/jans-tarp/src/options/options.tsx
  demos/jans-tarp/src/options/userDetails.tsx
Labels: area-documentation, kind-feature, comp-docs

#11151 feat: code refactoring for UI improvement in tarp
  demos/jans-tarp/package.json
  demos/jans-tarp/src/options/cedarling.tsx
Labels: kind-feature

#11149 feat: apply password policy to set/reset password
  docs/assets/casa/admin-console/pw-reset-setting.png
  docs/casa/administration/admin-console.md
  jans-casa/app/src/main/java/io/jans/casa/core/PasswordStatusService.java
  jans-casa/app/src/main/java/io/jans/casa/core/PersistenceService.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/Fido2Service.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/admin/PassResetViewModel.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/user/PassResetViewModel.java
  jans-casa/app/src/main/resources/labels/admin.properties
  jans-casa/app/src/main/resources/labels/user.properties
  jans-casa/app/src/main/webapp/admin/menu.zul
  jans-casa/app/src/main/webapp/admin/pass-reset.zul
  jans-casa/config/src/main/java/io/jans/casa/conf/MainSettings.java
Labels: area-documentation, kind-feature, comp-docs, comp-jans-casa

#11154 fix(jans-cli-tui): Catch errors when changing user password
  jans-cli-tui/cli_tui/plugins/070_users/main.py
Labels: kind-bug, comp-jans-cli-tui

#11156 fix: return 500 instead of 404 on lookup error
  agama/transpiler/pom.xml
  docs/script-catalog/authorization_challenge/AgamaChallenge.java
  jans-auth-server/agama/engine/pom.xml
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/Scim2GroupService.java
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/Scim2UserService.java
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/UserPersistenceHelper.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/BaseScimWebService.java
  jans-scim/service/src/main/java/io/jans/scim/service/Fido2DeviceService.java
  jans-scim/service/src/main/java/io/jans/scim/service/GroupService.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-scim, comp-agama, comp-docs

#11159 fix(jans-tarp): unsigned authorization form not working
  .github/workflows/build-packages.yml
  demos/jans-tarp/src/options/cedarling.tsx
  demos/jans-tarp/src/options/options.tsx
Labels: kind-bug

#11098 feat(docs): session management
  docs/janssen-server/auth-server/session-management/README.md
  docs/janssen-server/config-guide/auth-server-config/session-management.md
  mkdocs.yml
Labels: area-documentation, kind-feature, comp-docs

#11124 chore(jans-cedarling): resolve clippy issues
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/examples/profiling.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/json_util.rs
  jans-cedarling/cedarling/src/common/policy_store/claim_mapping.rs
  jans-cedarling/cedarling/src/entity_builder/build_entity_attrs.rs
  jans-cedarling/cedarling/src/entity_builder/build_principal_entity/user.rs
  jans-cedarling/cedarling/src/entity_builder/build_principal_entity/workload.rs
  jans-cedarling/cedarling/src/entity_builder/entity_id_getters.rs
  jans-cedarling/cedarling/src/entity_builder/mod.rs
  jans-cedarling/cedarling/src/entity_builder/value_to_expr.rs
  jans-cedarling/cedarling/src/http/mod.rs
  jans-cedarling/cedarling/src/jwt/jwk_store.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/jwt/test_utils.rs
  jans-cedarling/cedarling/src/jwt/validator/test.rs
  jans-cedarling/cedarling/src/log/memory_logger/mod.rs
  jans-cedarling/cedarling/src/log/stdout_logger/native_logger.rs
  jans-cedarling/cedarling/src/log/test.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_different_principals.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_namespace_jans2.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_without_check_jwt.rs
  jans-cedarling/cedarling/src/tests/schema_type_mapping.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
  jans-cedarling/sparkv/src/test_json_value.rs
Labels: kind-dependencies, comp-jans-cedarling

#11127 fix(jans-fido2): fixes to downloading mds3 blob #11126
  docs/janssen-server/fido/config.md
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/MetadataServer.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/app/MDS3UpdateTimer.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/FetchMdsProviderService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/TocService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
  jans-linux-setup/jans_setup/templates/jans-fido2/dynamic-conf.json
Labels: kind-bug, area-documentation, comp-jans-fido2, comp-jans-linux-setup, comp-docs

#11172 ci: skip publish to firefox
  .github/workflows/build-packages.yml
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-cloudtools/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
  jans-cedarling/flask-sidecar/Dockerfile
Labels: comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-CI, comp-docker-jans-monolith, comp-docker-jans-link, comp-docker-jans-all-in-one, comp-docker-jans-casa, comp-docker-jans-saml, comp-jans-cedarling, comp-docker-jans-cloudtools

#11130 feat(jans-auth-server): added ssa_map_software_roles_to_scopes AS property support
  docs/janssen-server/auth-server/endpoints/ssa.md
  jans-auth-server/common/src/main/java/io/jans/as/common/model/ssa/SsaAttributes.java
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaConfiguration.java
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaRequestParam.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/SsaService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaServiceTest.java
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: comp-jans-auth-server, kind-feature

#11183 fix(docs): fix image paths in SAML SSO document
  docs/assets/agama-create-repeat.png
  docs/assets/agama-lab-add-git-repo.png
  docs/assets/agama-lab-create-cdiutil-instance.png
  docs/assets/agama-lab-flow-passwd-1.png
  docs/assets/agama-lab-flow-passwd-create-call.png
  docs/assets/agama-lab-flow-passwd-create-fail-finish.png
  docs/assets/agama-lab-flow-passwd-create-finish.png
  docs/assets/agama-lab-flow-passwd-create-login-page.png
  docs/assets/agama-lab-flow-passwd-edit-assignment.png
  docs/assets/agama-lab-flow-passwd-edit-cdiutil-instance.png
  docs/assets/agama-lab-flow-passwd-edit-fail-finish.png
  docs/assets/agama-lab-flow-passwd-edit-finish.png
  docs/assets/agama-lab-flow-passwd-edit-repeat.png
  docs/assets/agama-lab-flow-passwd-edit-rrf.png
  docs/assets/agama-lab-flow-passwd-edit-template-2.png
  docs/assets/agama-lab-flow-passwd-edit-template.png
  docs/assets/agama-lab-flow-passwd-new-call.png
  docs/assets/agama-lab-flow-passwd-release-list-gh.png
  docs/assets/agama-lab-flow-passwd-release-list.png
  docs/assets/agama-lab-flow-passwd-render-template.png
  docs/assets/agama-lab-flow-passwd-save-template.png
  docs/assets/agama-lab-flow-passwd-select-template.png
  docs/assets/agama-lab-flow-password-create-when.png
  docs/assets/agama-lab-flow-password-edit-when.png
  docs/assets/agama-lab-flow-render-template.png
  docs/assets/agama-lab-flow-save-template.png
  docs/assets/agama-lab-git-login.png
  docs/assets/agama-lab-new-flow-name.png
  docs/assets/agama-lab-new-flow.png
  docs/assets/agama-lab-project-listing.png
  docs/assets/agama-lab-project-page.png
  docs/assets/agama-login.png
  docs/assets/agama-loginpage.png
  docs/assets/agamalab-flow-passwd-1.png
  docs/assets/agamalab-flow-passwd-create-call.png
  docs/assets/agamalab-flow-passwd-create-fail-finish.png
  docs/assets/agamalab-flow-passwd-create-finish.png
  docs/assets/agamalab-flow-passwd-edit-assignment.png
  docs/assets/agamalab-flow-passwd-edit-cdiUtil-instance.png
  docs/assets/agamalab-flow-passwd-edit-cdiutil.png
  docs/assets/agamalab-flow-passwd-edit-fail-finish.png
  docs/assets/agamalab-flow-passwd-edit-repeat.png
  docs/assets/agamalab-flow-passwd-edit-rrf.png
  docs/assets/agamalab-flow-passwd-edit-template.png
  docs/assets/agamalab-flow-passwd-editcdiutil.png
  docs/assets/agamalab-flow-passwd-new-call.png
  docs/assets/agamalab-flow-passwd-publish-project-gh.png
  docs/assets/agamalab-flow-passwd-publish-project.png
  docs/assets/agamalab-flow-passwd-select-template.png
  docs/assets/agamalab-new-flow-name.png
  docs/assets/agamalab-new-flow.png
  docs/assets/agamalab-project-listing.png
  docs/assets/agamalab-project-page.png
  docs/assets/image-agama-lab-edit-authn-instance.png
  docs/assets/image-agama-lab-flow-quick-start-guide.png
  docs/assets/successful-tarp-auth-screen.png
  docs/janssen-server/keycloak/keycloak-saml-sso.md
Labels: kind-bug, area-documentation, comp-docs

#11186 fix(docs): add missing script to index
  docs/janssen-server/developer/scripts/README.md
  docs/script-catalog/link_interception/link-interception.md
  docs/script-catalog/link_interception/linkinerception.md
  docs/script-catalog/ssa/ssa-modify-response.md
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-docs

#11193 docs(jans-cedarling): improve cedarling docs
  docs/cedarling/cedarling-getting-started.md
  docs/cedarling/getting-started/javascript.md
  docs/cedarling/getting-started/kotlin.md
  docs/cedarling/getting-started/python.md
  docs/cedarling/getting-started/rust.md
  docs/cedarling/getting-started/swift.md
  mkdocs.yml
Labels: area-documentation, comp-docs, comp-jans-cedarling

#11201 feat(jans-auth-server): add none client authentication support to PAR endpoint #10573
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/AuthenticationFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/par/ws/rs/ParValidatorTest.java
Labels: comp-jans-auth-server, kind-feature

#11203 feat: add ability to use cedarling authz before and after authentication
  demos/jans-tarp/src/options/UseSnackbar.tsx
  demos/jans-tarp/src/options/addCedarlingConfig.tsx
  demos/jans-tarp/src/options/cedarling.tsx
  demos/jans-tarp/src/options/cedarlingBootstrap.json
  demos/jans-tarp/src/options/cedarlingSignedAuthz.tsx
  demos/jans-tarp/src/options/cedarlingUnsignedAuthz.tsx
  demos/jans-tarp/src/options/homePage.tsx
  demos/jans-tarp/src/options/options.tsx
  demos/jans-tarp/src/options/userDetails.tsx
  demos/jans-tarp/tsconfig.json
Labels: kind-feature

#11176 fix(jans-cedarling)!: role entity not being created in the unsigned interface
  docs/cedarling/cedarling-properties.md
  jans-cedarling/bindings/cedarling_python/src/authorize/entity_data.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/errors.rs
  jans-cedarling/bindings/cedarling_uniffi/src/lib.rs
  jans-cedarling/cedarling/examples/authorize_unsigned.rs
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/examples/profiling.rs
  jans-cedarling/cedarling/src/authz/build_ctx.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/authz/request.rs
  jans-cedarling/cedarling/src/bootstrap_config/entity_builder_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/config.rs
  jans-cedarling/cedarling/src/entity_builder/build_principal_entity.rs
  jans-cedarling/cedarling/src/entity_builder/build_principal_entity/unsigned.rs
  jans-cedarling/cedarling/src/entity_builder/build_principal_entity/user.rs
  jans-cedarling/cedarling/src/entity_builder/build_principal_entity/workload.rs
  jans-cedarling/cedarling/src/entity_builder/build_resource_entity.rs
  jans-cedarling/cedarling/src/entity_builder/build_role_entity.rs
  jans-cedarling/cedarling/src/entity_builder/build_token_entities.rs
  jans-cedarling/cedarling/src/entity_builder/entity_id_getters.rs
  jans-cedarling/cedarling/src/entity_builder/error.rs
  jans-cedarling/cedarling/src/entity_builder/mod.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/tests/authorize_unsigned.rs
  jans-cedarling/cedarling/src/tests/json_logic.rs
  jans-cedarling/test_files/policy-store_ok.yaml
  jans-cedarling/test_files/policy-store_ok_2.yaml
Labels: kind-bug, area-documentation, comp-docs, comp-jans-cedarling

#11210 fix(docs): proofread and update the Cedarling quick start guide
  docs/cedarling/cedarling-quick-start-unsigned.md
Labels: kind-bug, area-documentation, comp-docs

#11214 fix(docs): proofread and update the TBAC Cedarling quick start guide
  docs/cedarling/cedarling-quick-start-signed.md
Labels: kind-bug, area-documentation, comp-docs

#11189 Update rhel.md for sha command update
  docs/janssen-server/install/vm-install/rhel.md
Labels: area-documentation, comp-docs

#11231 feat(jans-linux-setup): support for cleanUpInactiveClientAfterHoursOfInactivity for clients
  docs/janssen-server/vm-ops/data-cleaning.md
  jans-linux-setup/jans_setup/static/auth/data_clean/clean-data.py
  mkdocs.yml
Labels: kind-bug, area-documentation, kind-feature, comp-jans-linux-setup, comp-docs

#11215 bug(jans-cedarling)!: Fix all tokens_metadata to token_metadata
  docs/cedarling/cedarling-policy-store.md
  jans-cedarling/bindings/cedarling_python/example_files/policy-store.json
  jans-cedarling/bindings/cedarling_uniffi/test_files/policy-store.json
  jans-cedarling/cedarling/src/common/policy_store.rs
  jans-cedarling/cedarling/src/entity_builder/build_iss_entity.rs
  jans-cedarling/cedarling/src/entity_builder/mod.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/schema/policy_store_schema.json
  jans-cedarling/test_files/agama-store_2.yaml
  jans-cedarling/test_files/policy-store_entity_mapping.yaml
  jans-cedarling/test_files/policy-store_ok.yaml
  jans-cedarling/test_files/policy-store_ok_2.yaml
  jans-cedarling/test_files/policy-store_ok_abac.yaml
  jans-cedarling/test_files/policy-store_ok_namespace_Jans2.yaml
Labels: area-documentation, comp-docs, comp-jans-cedarling

#11219 feat(jans-auth-server): add configurable way to put user claims to session attributes #9625
  jans-auth-server/common/src/main/java/io/jans/as/common/service/common/UserService.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/SessionIdService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/service/SessionIdServiceTest.java
Labels: comp-jans-auth-server, kind-feature

#11245 fix: validate license configuration in the database when fetching license details from Agama Lab server upon expiry (Admin UI)
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
Labels: kind-bug, comp-jans-config-api

#11247 fix(jans-pycloudlib): resolve schema error caused by marshmallow upgrades
  jans-pycloudlib/jans/pycloudlib/schema/__init__.py
  jans-pycloudlib/tests/test_schema.py
Labels: kind-bug, comp-jans-pycloudlib

#11255 chore(cloud-native): sync jans-pycloudlib to handle marshmallow library API changes
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-cloudtools/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-link, comp-docker-jans-all-in-one, comp-docker-jans-casa, comp-docker-jans-saml, comp-docker-jans-cloudtools

#11264 chore: updgrade nimbus so json-smart is bumped to 2.5.2
  jans-casa/app/pom.xml
Labels: kind-dependencies, comp-jans-casa

#11166 [Snyk] Security upgrade io.swagger.core.v3:swagger-core-jakarta from 2.2.7 to 2.2.11
  jans-config-api/pom.xml
Labels: kind-dependencies, comp-jans-config-api

#11262 build(config-api): lib version to resolve vulnerabilities
  jans-config-api/plugins/sample/demo/pom.xml
  jans-config-api/plugins/sample/helloworld/pom.xml
  jans-config-api/pom.xml
  jans-config-api/server/pom.xml
Labels: kind-dependencies, comp-jans-config-api

#11273 Update resteasy
  jans-scim/client/src/main/java/io/jans/scim2/client/rest/provider/ScimResourceProvider.java
Labels: comp-jans-scim

#11266 fix(jans-cedarling): fix usage outdated field resource_type
  jans-cedarling/bindings/cedarling_python/PYTHON_TYPES.md
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/src/authorize/entity_data.rs
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/assets/resource.json
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/MainActivity.kt
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/data/resource.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/views/ContentView.swift
  jans-cedarling/bindings/cedarling_uniffi/src/lib.rs
Labels: kind-bug, area-documentation, comp-jans-cedarling

#11278 fix(bom): use right jakarta.ws.rs-api version
  jans-bom/pom.xml
Labels: kind-bug, comp-jans-bom

#11281 feat(jans-cedarling): Optimize Cedar libraries size
  jans-cedarling/Cargo.toml
Labels: kind-feature, comp-jans-cedarling

#11286 fix(bom): deprecate jackson-module-jaxb-annotations
  jans-core/util/pom.xml
  jans-core/util/src/main/java/io/jans/util/Util.java
Labels: kind-bug, comp-jans-core

#11287 fix(bom): deprecate jackson-module-jaxb-annotations
  jans-auth-server/client/pom.xml
Labels: kind-bug, comp-jans-auth-server

#11293 fix(core): fix ClassNotFoundException XmlElement exception
  jans-fido2/server/pom.xml
  jans-fido2/server/src/main/java/io/jans/fido2/service/DataMapperService.java
  jans-lock/lock-server/service/pom.xml
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/DataMapperService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/BaseScimWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/BulkWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/Fido2DeviceWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/GroupWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/HealthCheckController.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/ResourceTypeWS.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/SchemaWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/ScimConfigurationWS.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/ScimResourcesUpdatedWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/SearchResourcesWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/ServiceProviderConfigWS.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/UserWebService.java
Labels: kind-bug, comp-jans-fido2, comp-jans-scim, comp-jans-lock

#11178 feat(jans-cedarling): add some logging msgs for jwt service startup
  jans-cedarling/cedarling/src/init/service_factory.rs
  jans-cedarling/cedarling/src/jwt/jwk_store.rs
  jans-cedarling/cedarling/src/jwt/log_entry.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
Labels: kind-feature, comp-jans-cedarling

#11298 feat(jans-cli-tui): splash screen
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/jans-logo.txt
  jans-cli-tui/cli_tui/jans_cli_tui.py
Labels: kind-bug, comp-jans-cli-tui, kind-feature

#11305 feat: allow linking to occur in a popup
  jans-casa/plugins/acct-linking/src/main/java/io/jans/casa/plugins/acctlinking/AccountsLinkingPlugin.java
  jans-casa/plugins/acct-linking/src/main/java/io/jans/casa/plugins/acctlinking/AccountsLinkingService.java
  jans-casa/plugins/acct-linking/src/main/java/io/jans/casa/plugins/acctlinking/conf/Config.java
  jans-casa/plugins/acct-linking/src/main/java/io/jans/casa/plugins/acctlinking/vm/AccountsLinkingVM.java
  jans-casa/plugins/acct-linking/src/main/resources/assets/user/index.zul
Labels: kind-feature, comp-jans-casa

#11308 fix(config-api): custom script creation failing #11307
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/jans-link-plugin-swagger.yaml
  jans-config-api/plugins/docs/kc-link-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/CustomScriptResource.java
Labels: kind-bug, comp-jans-config-api, comp-docs

#11295 Jans linux setup jetty 12 11276
  docs/janssen-server/vm-ops/data-cleaning.md
  jans-auth-server/server/pom.xml
  jans-auth-server/server/src/main/webapp-jetty/WEB-INF/jetty-env.xml
  jans-auth-server/server/src/main/webapp-jetty/WEB-INF/jetty-web.xml
  jans-auth-server/server/src/test/resources/jetty-env.xml
  jans-bom/pom.xml
  jans-casa/app/src/main/webapp/WEB-INF/jetty-env.xml
  jans-casa/app/src/main/webapp/WEB-INF/jetty-web.xml
  jans-config-api/server/pom.xml
  jans-config-api/server/src/main/webapp-jetty/WEB-INF/jetty-env.xml
  jans-config-api/server/src/main/webapp-jetty/WEB-INF/jetty-web.xml
  jans-core/jsf-util/src/main/java/io/jans/jsf2/component/ValueExpressionAnalyzer.java
  jans-core/jsf-util/src/main/java/io/jans/service/el/ConstantResolver.java
  jans-fido2/server/src/main/webapp/WEB-INF/jetty-env.xml
  jans-fido2/server/src/main/webapp/WEB-INF/jetty-web.xml
  jans-keycloak-link/server/src/main/webapp/WEB-INF/jetty-env.xml
  jans-keycloak-link/server/src/main/webapp/WEB-INF/jetty-web.xml
  jans-link/server/src/main/webapp/WEB-INF/jetty-env.xml
  jans-link/server/src/main/webapp/WEB-INF/jetty-web.xml
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/setup_app/data/jetty_app_configuration.json
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_casa.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_keycloak_link.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_link.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/setup_app/installers/scim.py
  jans-linux-setup/jans_setup/templates/jetty/agama_web_resources.xml
  jans-linux-setup/jans_setup/templates/jetty/default_webcontext.xml
  jans-linux-setup/jans_setup/templates/jetty/jans-app.xml
  jans-linux-setup/jans_setup/templates/jetty/jans-auth_web_resources.xml
  jans-linux-setup/jans_setup/templates/jetty/jans-casa_web_resources.xml
  jans-lock/lock-server/server/src/main/webapp/WEB-INF/jetty-env.xml
  jans-lock/lock-server/server/src/main/webapp/WEB-INF/jetty-web.xml
  jans-scim/server/src/main/webapp/WEB-INF/jetty-env.xml
  jans-scim/server/src/main/webapp/WEB-INF/jetty-web.xml
Labels: kind-feature, comp-jans-linux-setup

#11313 fix(jans-cli-tui): add pylib to path before importing promptoolkit
  jans-cli-tui/cli_tui/jans_cli_tui.py
Labels: kind-bug, comp-jans-cli-tui

#11319 fix(jans-linux-setup): jetty.sh script waits service started
  jans-linux-setup/jans_setup/static/system/initd/jetty.sh
Labels: kind-bug, comp-jans-linux-setup

#11315 feat(jans-auth): add missing erver side tests dependecy
  jans-auth-server/server/pom.xml
  jans-config-api/server/pom.xml
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature

#11317 Lock api
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
Labels: comp-jans-auth-server, comp-jans-config-api, comp-jans-linux-setup, comp-jans-lock

#11321 Auth deps
  jans-auth-server/server/pom.xml
Labels: comp-jans-auth-server
