Repository JanssenProject/jans, pull requests merged in 2025-01, with the labels that each got.

#10539 fix(config-api): setting agama flow as auth method
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AcrsResource.java
Labels: kind-bug, comp-jans-config-api, comp-docs

#10521 refactor(jans-cedarling): update AuthZ interface to use `tokens` for all JWTs sent as input
  docs/cedarling/cedarling-authz.md
  jans-cedarling/bindings/cedarling_python/PYTHON_TYPES.md
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/pyproject.toml
  jans-cedarling/bindings/cedarling_python/src/authorize/mod.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/request.rs
  jans-cedarling/bindings/cedarling_python/tests/test_authorize.py
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/src/authz/entities/create.rs
  jans-cedarling/cedarling/src/authz/entities/workload.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/authz/request.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_different_principals.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_namespace_jans2.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_without_check_jwt.rs
  jans-cedarling/cedarling/src/tests/mapping_entities.rs
  jans-cedarling/cedarling/src/tests/schema_type_mapping.rs
  jans-cedarling/cedarling/src/tests/success_test_json.rs
Labels: kind-enhancement, area-documentation, comp-docs, comp-jans-cedarling

#10544 chore(jans-auth-server): log webapplicationexceptions for /authorize-challenge in TRACE logging level #10540
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeService.java
Labels: kind-dependencies, comp-jans-auth-server

#10328 feat(jans-lock): lock should collect MAU and MAC based on log entries…
  jans-auth-server/pom.xml
  jans-auth-server/server/pom.xml
  jans-bom/pom.xml
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-linux-setup/jans_setup/setup_app/installers/base.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_casa.py
  jans-linux-setup/jans_setup/static/rdbm/sql_data_types.json
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
  jans-linux-setup/jans_setup/templates/jans-lock/errors.json
  jans-linux-setup/jans_setup/templates/jans-lock/scopes.json
  jans-linux-setup/jans_setup/templates/jans-lock/static-conf.json
  jans-lock/lock-server/model/src/main/java/io/jans/lock/model/config/AppConfiguration.java
  jans-lock/lock-server/model/src/main/java/io/jans/lock/model/config/BaseDnConfiguration.java
  jans-lock/lock-server/model/src/main/java/io/jans/lock/model/config/ErrorMessages.java
  jans-lock/lock-server/server/src/main/java/io/jans/lock/server/service/AppInitializer.java
  jans-lock/lock-server/service/pom.xml
  jans-lock/lock-server/service/src/main/java/io/jans/lock/model/Stat.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/model/StatEntry.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/model/error/CommonErrorResponseType.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/model/error/ErrorResponseFactory.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/model/error/StatErrorResponseType.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/audit/AuditService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/config/ConfigurationFactory.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/event/StatEvent.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/filter/openid/OpenIdProtectionService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/stat/StatResponseService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/stat/StatService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/stat/StatTimer.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/util/ResteasyInitializer.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/ConfigurationRestWebService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/audit/AuditRestWebService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/audit/AuditRestWebServiceImpl.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/config/ConfigRestWebService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/sse/SseRestWebService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/sse/SseRestWebServiceImpl.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/stat/FlatStatResponse.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/stat/Months.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/stat/StatResponse.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/stat/StatResponseItem.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/stat/StatRestWebService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/stat/StatRestWebServiceImpl.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/util/Constants.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/util/ServerUtil.java
Labels: comp-jans-auth-server, kind-feature, comp-jans-bom, comp-jans-linux-setup, comp-jans-lock

#10551 feat(jans-pycloudlib): secure mounted configuration schema
  jans-pycloudlib/jans/pycloudlib/config/file_config.py
  jans-pycloudlib/jans/pycloudlib/schema/__init__.py
  jans-pycloudlib/jans/pycloudlib/secret/file_secret.py
  jans-pycloudlib/tests/test_schema.py
Labels: kind-feature, comp-jans-pycloudlib

#10580 docs: update security policy
  .github/SECURITY.md
Labels: area-documentation, comp-docs

#10587 feat: allow integration of Agama flows into the authz challenge enpoint
  agama/misc/json_template.ftl
  docs/assets/agama/challenge-flow.png
  docs/janssen-server/developer/agama/faq.md
  docs/janssen-server/developer/agama/native-applications.md
  docs/script-catalog/authorization_challenge/AgamaChallenge.java
  jans-auth-server/agama/engine/pom.xml
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/NativeJansFlowBridge.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/client/MiniBrowser.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/AgamaPersistenceService.java
  jans-auth-server/agama/engine/src/test/java/io/jans/agama/test/BaseTest.java
  jans-auth-server/agama/engine/src/test/java/io/jans/agama/test/CustomConfigsFlowTest.java
  jans-linux-setup/jans_setup/templates/scripts.ldif
  mkdocs.yml
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-jans-linux-setup, comp-agama, comp-docs

#10601 fix(jans-cedarling): fix Cedarling WASM docs
  docs/cedarling/cedarling-wasm.md
Labels: kind-bug, area-documentation, comp-docs, comp-jans-cedarling

#10581 feat(jans-cedarling): add to decision log diagnostic info
  docs/cedarling/cedarling-logs.md
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/log/log_entry.rs
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#10609 chore(cloud-native): sync assets to OCI images
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/lock.py
  docker-jans-auth-server/scripts/upgrade.py
  docker-jans-persistence-loader/Dockerfile
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server

#10572 feat(jans-fido2): Add test cases for RP domain origin.
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/CommonVerifiersTest.java
Labels: comp-jans-fido2, kind-feature

#10604 fix(docs): minor fixes to the Jans README
  README.md
Labels: kind-bug, area-documentation, comp-docs

#10618 fix: update expected status code
  docs/janssen-server/developer/agama/native-applications.md
  jans-auth-server/agama/engine/src/test/java/io/jans/agama/test/CustomConfigsFlowTest.java
Labels: kind-bug, area-documentation, comp-jans-auth-server, comp-agama, comp-docs

#10621 ci: build flask-cedarling with ubuntu 20
  .github/workflows/build-packages.yml
Labels: area-CI

#10623 ci: fix sidecar versioning and signing whls
  .github/workflows/build-nightly-build.yml
  .github/workflows/build-packages.yml
  jans-cedarling/flask-sidecar/Dockerfile
  jans-cedarling/flask-sidecar/pyproject.toml
Labels: area-CI, comp-jans-cedarling

#10627 fix(jans-keycloak-link): unstatisfied dependencies
  jans-keycloak-link/server/pom.xml
  jans-keycloak-link/server/src/main/java/io/jans/keycloak/link/server/service/ConfigurationService.java
  jans-keycloak-link/server/src/main/java/io/jans/keycloak/link/service/config/ApplicationFactory.java
Labels: kind-bug, comp-jans-keycloak-link

#10577 feat(cloud-native): secure mounted configuration schema
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/_helpers.tpl
  charts/janssen-all-in-one/templates/secret.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/config/templates/_helpers.tpl
  charts/janssen/charts/config/templates/secrets.yaml
  charts/janssen/templates/_helpers.tpl
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
  docker-jans-all-in-one/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-configurator/scripts/bootstrap.py
  docker-jans-fido2/Dockerfile
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
  docs/janssen-server/reference/kubernetes/config-secret-keys.md
Labels: comp-docker-jans-certmanager, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, kind-feature, comp-jans-pycloudlib, comp-charts-jans, comp-docker-jans-link, comp-docker-jans-all-in-one, comp-docker-jans-casa, comp-docker-jans-kc-scheduler, comp-docker-jans-saml, comp-docs

#10620 test(config-api) token test case failure
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/user-mgt-plugin/src/test/resources/feature/mgt/user/user-patch.json
  jans-config-api/server/src/test/resources/feature/token/client-token.feature
Labels: area-CI, comp-jans-config-api, comp-docs

#10630 fix(jans-auth-server): access evaluation tests are failing on jenkins
  jans-auth-server/server/conf/jans-config.json
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: kind-bug, comp-jans-auth-server, comp-jans-linux-setup

#10636 test(jans-auth-server): access evaluation tests are failing on jenkins
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: area-CI, comp-jans-auth-server, comp-jans-linux-setup

#10632 fix(docs): minor URL fixes
  docs/casa/developer/overview.md
  docs/janssen-server/auth-server/oauth-features/dpop.md
  docs/script-catalog/person_authentication/other/fortinet/README.md
Labels: kind-bug, area-documentation, comp-docs

#10638 fix(jans-auth-server): test is failing - TokenRestWebServiceHttpTest requestAccessTokenFail #10637
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
Labels: kind-bug, comp-jans-auth-server

#10641 fix(docker-jans-auth): missing permissions on /app/templates
  docker-jans-auth-server/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-bug, comp-docker-jans-auth-server

#10593 feat(jans-cedarling): Make SparKV use generics, and update MemoryLogger to use those.
  jans-cedarling/cedarling/src/log/interface.rs
  jans-cedarling/cedarling/src/log/log_entry.rs
  jans-cedarling/cedarling/src/log/memory_logger.rs
  jans-cedarling/sparkv/Cargo.toml
  jans-cedarling/sparkv/README.md
  jans-cedarling/sparkv/src/config.rs
  jans-cedarling/sparkv/src/expentry.rs
  jans-cedarling/sparkv/src/kventry.rs
  jans-cedarling/sparkv/src/lib.rs
  jans-cedarling/sparkv/src/test_json_value.rs
  jans-cedarling/sparkv/src/tests.rs
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#10646 fix: implement missing method from interface
  docs/script-catalog/authorization_challenge/AgamaChallenge.java
Labels: kind-bug, comp-docs

#10649 feat(jans-auth): Show valid client name or id in consent form
  docs/script-catalog/consent_gathering/sample-script/ConsentGatheringSample.py
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeAction.java
  jans-auth-server/server/src/main/webapp/WEB-INF/incl/layout/authorize-extended-template.xhtml
  jans-linux-setup/jans_setup/static/extension/consent_gathering/ConsentGatheringSample.py
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup, comp-docs

#10657 fix(jans-auth-server): failing test - SelectAccountHttpTest selectAccountTest #10647
  jans-auth-server/client/src/test/java/io/jans/as/client/ws/rs/SelectAccountHttpTest.java
Labels: kind-bug, comp-jans-auth-server

#10664 fix(jans-auth-server): NPE during client name rendering #10663
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeAction.java
Labels: kind-bug, comp-jans-auth-server

#10662 feat: integrate cedarling with jans-tarp
  demos/jans-tarp/.gitignore
  demos/jans-tarp/README.md
  demos/jans-tarp/package.json
  demos/jans-tarp/src/options/addCedarlingConfig.tsx
  demos/jans-tarp/src/options/authFlowInputs.tsx
  demos/jans-tarp/src/options/cedarling.tsx
  demos/jans-tarp/src/options/homePage.tsx
  demos/jans-tarp/src/options/oidcClients.tsx
  demos/jans-tarp/src/options/options.tsx
  demos/jans-tarp/src/options/registerClient.tsx
  demos/jans-tarp/src/options/userDetails.tsx
  demos/jans-tarp/src/static/chrome/manifest.json
  demos/jans-tarp/src/static/firefox/manifest.json
Labels: area-documentation, kind-feature

#10666 feat(jans-auth): Remove copyright footer
  jans-auth-server/server/src/main/webapp/WEB-INF/incl/layout/authorize-extended-template.xhtml
  jans-auth-server/server/src/main/webapp/authz/authorize.xhtml
  jans-auth-server/server/src/main/webapp/authz/transaction.xhtml
Labels: comp-jans-auth-server, kind-feature

#10667 feat(jans-auth): log current folder in UserJansExtUidAttributeTest test
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/db/UserJansExtUidAttributeTest.java
Labels: comp-jans-auth-server, kind-feature

#10669 Issue log work folder1
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/db/UserJansExtUidAttributeTest.java
  jans-orm/util/src/main/java/io/jans/orm/util/properties/FileConfiguration.java
Labels: comp-jans-auth-server, comp-jans-orm

#10673 ci: change commit sha
  jans-cedarling/flask-sidecar/Dockerfile
Labels: area-CI, comp-jans-cedarling

#10675 feat(jans-auth): log current folder in UserServiceTest test
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/db/UserServiceTest.java
Labels: comp-jans-auth-server, kind-feature

#10679 fix(jans-kc-link): remove default keycloak configs
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/jans-keycloak-link-config.json
Labels: kind-bug, comp-jans-linux-setup, comp-jans-keycloak-link

#10655 docs: stable release update
  docs/janssen-server/install/vm-install/rhel.md
  docs/janssen-server/install/vm-install/suse.md
  docs/janssen-server/install/vm-install/ubuntu.md
Labels: area-documentation, comp-docs

#10681 feat: cedarling integration with tarp
  .github/workflows/build-packages.yml
  demos/jans-tarp/src/options/homePage.tsx
Labels: kind-feature

#10685 Path to salt
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/db/UserServiceTest.java
  jans-orm/model/src/main/java/io/jans/orm/model/base/CustomObjectAttribute.java
Labels: comp-jans-auth-server, comp-jans-orm

#10689 feat: extract wasm tar in /jans-tarp folder
  .github/workflows/build-packages.yml
  demos/jans-tarp/package.json
  demos/jans-tarp/src/options/userDetails.tsx
  demos/jans-tarp/src/static/chrome/manifest.json
  demos/jans-tarp/src/static/firefox/manifest.json
Labels: kind-feature

#10693 test(config-api) test case failing in mysql
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/rest/ApiApplication.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/rest/LockStatResource.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/service/LockService.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/util/Constants.java
  jans-config-api/server/src/test/resources/feature/openid/scopes/scopes.feature
  jans-config-api/shared/src/main/java/io/jans/configapi/core/service/ConfigHttpService.java
Labels: area-CI, comp-jans-config-api, comp-docs

#10680 fix(docs): correct the file name for Keycloak link document
  docs/janssen-server/link/jans-kc-link.md
  docs/janssen-server/link/jans-keycloak-link.md
Labels: kind-bug, area-documentation, comp-docs

#10635 docs: update user management
  docs/janssen-server/config-guide/scim-config/user-config.md
  docs/janssen-server/usermgmt/usermgmt-scim.md
Labels: area-documentation, comp-docs

#10633 docs: update jans tarp README
  demos/jans-tarp/README.md
  demos/jans-tarp/docs/images/agamapw-login.png
  demos/jans-tarp/docs/images/authentication-flow-input.png
  demos/jans-tarp/docs/images/successful-tarp-auth-screen.png
  demos/jans-tarp/docs/images/tarp-client-reg.png
Labels: area-documentation, comp-docs

#10611 fix(docs): add documentation for `jans` wrapper command
  docs/assets/jans_health.png
  docs/assets/jans_info.png
  docs/assets/jans_logs.png
  docs/assets/jans_restart.png
  docs/assets/jans_start.png
  docs/assets/jans_status.png
  docs/assets/jans_stop.png
  docs/assets/jans_version.png
  docs/janssen-server/vm-ops/jans-command.md
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-docs

#10606 chore(main): release 1.3.0
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#10697 fix(jans-linux-setup): Store fido2 authenticator_cert in DB
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
  jans-linux-setup/jans_setup/templates/jans-fido2/docuemts.ldif
Labels: kind-bug, comp-jans-fido2, comp-jans-linux-setup

#10701 Lock update
  jans-cli-tui/cli_tui/plugins/120_lock/main.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/static/system/systemd/opa.service
  jans-linux-setup/jans_setup/templates/jans-lock/dynamic-conf.json
  jans-lock/lock-server/model/src/main/java/io/jans/lock/model/config/AppConfiguration.java
  jans-lock/lock-server/model/src/main/java/io/jans/lock/model/config/OpaConfiguration.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/TokenEndpointService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/audit/AuditService.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/consumer/message/MessageConsumerFactory.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/consumer/message/generic/NullMessageConsumer.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/consumer/message/opa/OpaMessageConsumer.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/consumer/policy/PolicyConsumerFactory.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/consumer/policy/opa/OpaPolicyConsumer.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/provider/metric/MetricProducerFactory.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/provider/metric/MetricProvider.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/provider/metric/MetricProviderInterface.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/provider/metric/NullMetricProvider.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/audit/AuditRestWebServiceImpl.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/util/Constants.java
Labels: comp-jans-cli-tui, comp-jans-linux-setup, comp-jans-lock

#10715 fix(jans-linux-setup): update jansservices module post setup
  jans-linux-setup/jans_setup/setup_app/installers/config_api.py
Labels: kind-bug, comp-jans-linux-setup

#10692 feat(jans-cedarling): Load bootstrap properties from environment variables
  docs/cedarling/cedarling-properties.md
  jans-cedarling/bindings/cedarling_python/PYTHON_TYPES.md
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/example_files/sample_bootstrap_props.yaml
  jans-cedarling/bindings/cedarling_python/src/config/bootstrap_config.rs
  jans-cedarling/cedarling/src/blocking.rs
  jans-cedarling/cedarling/src/bootstrap_config/authorization_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/config.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/default_values.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/feature_types.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/json_util.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/mod.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/flask-sidecar/main/base/cedarling/cedarling.py
  jans-cedarling/flask-sidecar/main/config.py
  jans-cedarling/test_files/bootstrap_props.yaml
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#10708 feat: update help section of tarp
  demos/jans-tarp/src/options/helpDrawer.tsx
  demos/jans-tarp/src/options/options.css
  demos/jans-tarp/src/static/tarpDocs1.png
  demos/jans-tarp/src/static/tarpDocs2.png
  demos/jans-tarp/src/static/tarpDocs3.png
  demos/jans-tarp/src/static/tarpDocs4.png
  demos/jans-tarp/src/static/tarpDocs5.png
  demos/jans-tarp/src/static/tarpDocs6.png
  demos/jans-tarp/webpack.common.js
Labels: kind-feature

#10716 feat: add support for parameterizable enter/exit urls in flows
  agama/misc/finished.ftlh
  agama/misc/json_finished.ftlh
  docs/janssen-server/developer/agama/engine-bridge-config.md
  docs/script-catalog/authorization_challenge/AgamaChallenge.java
  docs/script-catalog/person_authentication/agama-bridge/AgamaBridge.py
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/NativeJansFlowBridge.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/model/FlowStatus.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/service/AgamaPersistenceService.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/servlet/ExecutionServlet.java
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/servlet/RestartServlet.java
  jans-auth-server/agama/model/src/main/java/io/jans/agama/model/EngineConfig.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/webapp/agama/agama.xhtml
  jans-auth-server/server/src/main/webapp/agama/consent.xhtml
  jans-auth-server/server/src/main/webapp/agama/consent_authorize.xhtml
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-jans-linux-setup, comp-agama, comp-docs

#10722 fix(jans-cli-tui): ScrollablePane for config-api main screen
  jans-cli-tui/cli_tui/plugins/140_config_api/main.py
Labels: kind-bug, comp-jans-cli-tui, comp-jans-tui

#10724 fix(jans-cli-tui): save config-api configuration
  jans-cli-tui/cli_tui/plugins/140_config_api/main.py
Labels: kind-bug, comp-jans-cli-tui

#10727 feat(agama): allow integration of Agama flows in AS consent
  docs/script-catalog/consent_gathering/AgamaConsentGathering.py
  docs/script-catalog/consent_gathering/consent-gathering.md
  jans-auth-server/server/src/main/java/io/jans/as/server/util/AgamaConsentUtil.java
  jans-linux-setup/jans_setup/templates/scripts.ldif
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-jans-linux-setup, comp-agama, comp-docs

#10731 fix: account absent start url in native flows
  agama/misc/json_finished.ftlh
  jans-auth-server/agama/engine/src/main/java/io/jans/agama/engine/servlet/ExecutionServlet.java
Labels: kind-bug, comp-jans-auth-server, comp-agama

#10736 feat(config-api): testng framework cleanup changes
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/admin-ui-plugin/src/test/java/io/jans/ca/plugin/adminui/AdminUIBaseTest.java
  jans-config-api/plugins/admin-ui-plugin/src/test/java/io/jans/ca/plugin/adminui/test/AuditLoggingResourceTest.java
  jans-config-api/plugins/admin-ui-plugin/src/test/java/io/jans/ca/plugin/adminui/test/LicenseResourceTest.java
  jans-config-api/plugins/admin-ui-plugin/src/test/java/io/jans/ca/plugin/adminui/test/OAuth2ResourceTest.java
  jans-config-api/plugins/admin-ui-plugin/src/test/resources/test.properties
  jans-config-api/plugins/docs/user-mgt-plugin-swagger.yaml
  jans-config-api/server/src/test/resources/test.properties
  jans-config-api/shared/src/main/java/io/jans/configapi/core/test/BaseTest.java
Labels: comp-jans-config-api, kind-feature, comp-docs

#10740 feat(jans-linux-setup): restart admin-ui via jans
  jans-linux-setup/jans_setup/static/scripts/jans
Labels: kind-feature, comp-jans-linux-setup

#10744 chore(jans-linux-setup): revert admin-ui restart
  jans-linux-setup/jans_setup/static/scripts/jans
Labels: kind-bug, kind-dependencies, comp-jans-linux-setup

#10746 fix(jans-auth-server): second authorization challenge call does not invoke the right script #10745
  docs/script-catalog/authorization_challenge/AgamaChallenge.java
  docs/script-catalog/authorization_challenge/AuthorizationChallenge.java
  docs/script-catalog/authorization_challenge/multi_step/AuthorizationChallenge.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizationChallengeService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthzRequest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/external/ExternalAuthorizationChallengeService.java
Labels: kind-bug, comp-jans-auth-server, comp-docs

#10750 test(config-api) scim test failure
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/scim-plugin/src/test/java/io/jans/configapi/plugin/scim/ScimBaseTest.java
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AgamaDeploymentsResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AgamaDeploymentsService.java
Labels: area-CI, comp-jans-config-api, comp-docs

#10751 feat(jans-cedarling): implement environment variable loading for sidecar
  jans-cedarling/flask-sidecar/Dockerfile
  jans-cedarling/flask-sidecar/README.md
  jans-cedarling/flask-sidecar/docker-compose-env.yml
  jans-cedarling/flask-sidecar/docker-compose-file.yml
  jans-cedarling/flask-sidecar/docker-compose.yml
  jans-cedarling/flask-sidecar/main/base/cedarling/cedarling.py
  jans-cedarling/flask-sidecar/main/config.py
  jans-cedarling/flask-sidecar/main/logger.py
  jans-cedarling/flask-sidecar/poetry.lock
  jans-cedarling/flask-sidecar/pyproject.toml
Labels: area-documentation, kind-feature, comp-jans-cedarling

#10755 feat(config-api): lock stat endpoint and SAML TR fix
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/lock-plugin-swagger.yaml
  jans-config-api/plugins/kc-saml-plugin/src/main/java/io/jans/configapi/plugin/saml/service/SamlIdpService.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/rest/ApiApplication.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/rest/LockStatResource.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/service/LockService.java
  jans-config-api/plugins/lock-plugin/src/main/java/io/jans/configapi/plugin/lock/util/Constants.java
  jans-config-api/server/src/main/java/io/jans/configapi/security/service/OpenIdAuthorizationService.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/AssetService.java
  jans-config-api/server/src/main/resources/config-api-rs-protect.json
  jans-config-api/shared/src/main/java/io/jans/configapi/core/service/ConfigHttpService.java
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup, comp-docs

#10712 feat(jans-auth-server): allow invoke consent script by acr #10548
  docs/script-catalog/consent_gathering/consent-gathering.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeAction.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/ConsentGathererService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/ConsentGatheringSessionService.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/ConsentGathererServiceTest.java
Labels: comp-jans-auth-server, kind-feature

#10759 fix(jans-auth-server): typo in determineConsentFlow method #10758
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/ConsentGatheringSessionService.java
Labels: kind-bug, comp-jans-auth-server

#10706 feat(jans-cedarling): custom tokens and putting tokens in principal attrs
  docs/cedarling/cedarling-authz.md
  docs/cedarling/cedarling-policy-store.md
  docs/cedarling/cedarling-properties.md
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/example_files/policy-store.json
  jans-cedarling/bindings/cedarling_python/example_files/sample_bootstrap_props.yaml
  jans-cedarling/bindings/cedarling_python/src/authorize/mod.rs
  jans-cedarling/bindings/cedarling_python/src/authorize/request.rs
  jans-cedarling/bindings/cedarling_python/tests/test_authorize.py
  jans-cedarling/bindings/cedarling_wasm/example_data.js
  jans-cedarling/bindings/cedarling_wasm/src/tests.rs
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/src/authz/build_ctx.rs
  jans-cedarling/cedarling/src/authz/entity_builder.rs
  jans-cedarling/cedarling/src/authz/entity_builder/build_attrs.rs
  jans-cedarling/cedarling/src/authz/entity_builder/build_expr.rs
  jans-cedarling/cedarling/src/authz/entity_builder/build_resource_entity.rs
  jans-cedarling/cedarling/src/authz/entity_builder/build_role_entity.rs
  jans-cedarling/cedarling/src/authz/entity_builder/build_token_entities.rs
  jans-cedarling/cedarling/src/authz/entity_builder/build_user_entity.rs
  jans-cedarling/cedarling/src/authz/entity_builder/build_workload_entity.rs
  jans-cedarling/cedarling/src/authz/entity_builder/built_entities.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/authz/request.rs
  jans-cedarling/cedarling/src/authz/trust_mode.rs
  jans-cedarling/cedarling/src/bootstrap_config/authorization_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/jwt_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/config.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/token_settings.rs
  jans-cedarling/cedarling/src/common/cedar_schema/cedar_json.rs
  jans-cedarling/cedarling/src/common/policy_store.rs
  jans-cedarling/cedarling/src/common/policy_store/token_entity_metadata.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/jwt/token.rs
  jans-cedarling/cedarling/src/jwt/validator/config.rs
  jans-cedarling/cedarling/src/log/log_entry.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_namespace_jans2.rs
  jans-cedarling/cedarling/src/tests/mapping_entities.rs
  jans-cedarling/cedarling/src/tests/schema_type_mapping.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
  jans-cedarling/flask-sidecar/secrets/bootstrap.json
  jans-cedarling/flask-sidecar/tests/test_secrets/cedarling_test_config.json
  jans-cedarling/test_files/agama-store_2.yaml
  jans-cedarling/test_files/bootstrap_props.json
  jans-cedarling/test_files/bootstrap_props.yaml
  jans-cedarling/test_files/policy-store_entity_mapping.yaml
  jans-cedarling/test_files/policy-store_ok.yaml
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#10761 fix(jans-cedarling): fix token handling
  jans-cedarling/flask-sidecar/Dockerfile
  jans-cedarling/flask-sidecar/main/base/cedarling/cedarling.py
Labels: kind-bug, comp-jans-cedarling

#10765 docs: add Agama section for consent flows
  docs/janssen-server/developer/agama/native-applications.md
  docs/script-catalog/consent_gathering/consent-gathering.md
Labels: area-documentation, comp-agama, comp-docs

#10771 feat(jans-lock): redirect for consent if external script is enabled a…
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
Labels: comp-jans-auth-server, kind-feature, comp-jans-lock

#10777 docs(config-api): customization doc
  docs/janssen-server/developer/customization/customize-web-pages.md
Labels: area-documentation, comp-docs

#10738 docs(jans-cedarling): update schema for tokens
  jans-cedarling/schema/cedarling_core.cedarschema
  jans-cedarling/schema/cedarling_core.json
Labels: area-documentation, comp-jans-cedarling
