Repository JanssenProject/jans, pull requests merged in 2025-03, with the labels that each got.

#10969 fix(jans-config-api): admin UI unable to fetch MAU _threshold on restart of config-api
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/config/AUIConfigurationService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
  jans-config-api/plugins/admin-ui-plugin/src/test/java/io/jans/ca/plugin/adminui/test/services/LicenseServiceTest.java
Labels: kind-bug, comp-jans-config-api

#10970 docs(jans-cedarling): Updated Cedarling Overview page
  docs/assets/lock-cedarling-diagram-1.jpg
  docs/assets/lock-cedarling-mobile-generic.jpg
  docs/assets/lock-cedarling-rust-core-components.jpg
  docs/cedar-intro.md
  docs/cedarling/cedarling-overview.md
  nhi-meeting-notes.txt
Labels: area-documentation, comp-docs, comp-jans-cedarling

#10962 feat(jans-auth-server): requirePkce configuration property on client level
  docs/janssen-server/auth-server/oauth-features/pkce.md
  jans-auth-server/client/src/main/java/io/jans/as/client/RegisterRequest.java
  jans-auth-server/docs/swagger.yaml
  jans-auth-server/model/src/main/java/io/jans/as/model/register/RegisterRequestParam.java
  jans-auth-server/persistence-model/src/main/java/io/jans/as/persistence/model/ClientAttributes.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidator.java
  jans-auth-server/server/src/main/java/io/jans/as/server/par/ws/rs/ParRestWebService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterJsonService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/register/ws/rs/RegisterService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceImpl.java
  jans-auth-server/server/src/main/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidator.java
  jans-auth-server/server/src/test/java/io/jans/as/server/authorize/ws/rs/AuthorizeRestWebServiceValidatorTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/token/ws/rs/TokenRestWebServiceValidatorTest.java
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-docs

#10984 bug(jans-cedarling): cedarling wasm app has wrong default bootstrap properties
  jans-cedarling/bindings/cedarling_wasm/example_data.js
Labels: comp-jans-cedarling

#10976 docs (jans-cedarling): Cedarling doc updates
  docs/cedarling/cedar-intro.md
  docs/cedarling/cedarling-binding-types.md
  docs/cedarling/cedarling-jwt-mapping.md
  docs/cedarling/cedarling-jwt-validation.md
  docs/cedarling/cedarling-jwt.md
  docs/cedarling/cedarling-logs.md
  docs/cedarling/cedarling-overview.md
  docs/cedarling/cedarling-policy-store.md
  docs/cedarling/cedarling-sidecar-tutorial.md
  mkdocs.yml
Labels: area-documentation, comp-docs

#10946 feat(jans-linux-setup): data cleaning cron job task
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/downloads.py
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_auth.py
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/static/auth/data_clean/clean-data.py
  jans-linux-setup/jans_setup/static/auth/data_clean/jans-clean-data-crontab.py
Labels: kind-dependencies, kind-feature, comp-jans-linux-setup, comp-docs

#10986 fix: error when deselect one of the tokens in the cedarling authz form
  demos/jans-tarp/src/options/userDetails.tsx
Labels: kind-bug

#10989 chore: remove external file
  nhi-meeting-notes.txt
Labels: kind-dependencies

#11001 fix(docs): update cedarling docs navigation
  docs/cedarling/cedarling-binding-types.md
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-docs

#10979 feat(jans-cedarling): add an example that runs profiling
  jans-cedarling/.gitignore
  jans-cedarling/README.md
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/examples/profiling.rs
Labels: area-documentation, kind-feature, comp-jans-cedarling

#11011 fix(jans-cli-tui): multivalued claims for users
  jans-cli-tui/cli_tui/plugins/070_users/edit_user_dialog.py
  jans-cli-tui/cli_tui/utils/utils.py
  jans-cli-tui/cli_tui/wui_components/jans_label_container.py
  jans-cli-tui/cli_tui/wui_components/jans_label_widget.py
Labels: kind-bug, comp-jans-cli-tui

#11013 ci(docs): add mkdocstrings
  docs/poetry.lock
  docs/pyproject.toml
Labels: area-CI, area-documentation, comp-docs

#10956 feat(jans-cedarling): Support JSON logic for principal boolean operations
  docs/cedarling/cedarling-properties.md
  docs/cedarling/cedarling-wasm.md
  jans-cedarling/bindings/cedarling_python/PYTHON_TYPES.md
  jans-cedarling/bindings/cedarling_python/example_files/sample_bootstrap_props.json
  jans-cedarling/bindings/cedarling_python/example_files/sample_bootstrap_props.yaml
  jans-cedarling/bindings/cedarling_python/src/authorize/errors.rs
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/data/bootstrap.json
  jans-cedarling/bindings/cedarling_uniffi/test_files/bootstrap.json
  jans-cedarling/bindings/cedarling_wasm/example_data.js
  jans-cedarling/bindings/cedarling_wasm/src/tests.rs
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/benches/authz_benchmark.rs
  jans-cedarling/cedarling/benches/startup_benchmark.rs
  jans-cedarling/cedarling/examples/authorize_with_jwt_validation.rs
  jans-cedarling/cedarling/examples/authorize_without_jwt_validation.rs
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/examples/profiling.rs
  jans-cedarling/cedarling/src/authz/authorize_result.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/authz/request.rs
  jans-cedarling/cedarling/src/bootstrap_config/authorization_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/config.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/feature_types.rs
  jans-cedarling/cedarling/src/common/json_rules/mod.rs
  jans-cedarling/cedarling/src/common/json_rules/rule.rs
  jans-cedarling/cedarling/src/common/json_rules/rule_applier.rs
  jans-cedarling/cedarling/src/common/mod.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/log/log_entry.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_different_principals.rs
  jans-cedarling/cedarling/src/tests/cases_authorize_namespace_jans2.rs
  jans-cedarling/cedarling/src/tests/json_logic.rs
  jans-cedarling/cedarling/src/tests/mapping_entities.rs
  jans-cedarling/cedarling/src/tests/mod.rs
  jans-cedarling/cedarling/src/tests/utils/cedarling_util.rs
  jans-cedarling/flask-sidecar/README.md
  jans-cedarling/flask-sidecar/docker-compose-env.yml
  jans-cedarling/flask-sidecar/secrets/bootstrap.json
  jans-cedarling/flask-sidecar/tests/test_secrets/cedarling_test_config.json
  jans-cedarling/test_files/bootstrap_props.json
  jans-cedarling/test_files/bootstrap_props.yaml
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#11015 fix(jans-cedarling): fix documentation CEDARLING_POLICY_STORE_LOCAL can hold only string
  docs/cedarling/cedarling-properties.md
  jans-cedarling/bindings/cedarling_python/README.md
Labels: kind-bug, area-documentation, comp-docs, comp-jans-cedarling

#10988 fix(docs): review and update Cedarling WASM document
  docs/cedarling/cedarling-wasm.md
Labels: kind-bug, area-documentation, comp-docs

#10995 Keycloak(docs): Update Keycloak SAML SSO docs.
  docs/assets/SAML-Service-provider.png
  docs/assets/SAML-release-attribute.png
  docs/assets/sp-url.png
  docs/janssen-server/keycloak/keycloak-saml-sso.md
Labels: area-documentation, comp-docs

#11034 Moving contributor license agreement to Github.
  docs/CONTRIBUTING.md
  docs/governance/cla.md
  docs/governance/janssen-project-CLA-version-1.pdf
Labels: area-documentation, comp-docs

#10991 feat(jans-auth-server): introduce rate limit support for DCR
  docs/janssen-server/config-guide/auth-server-config/rate-limit.md
  jans-auth-server/client/src/test/java/io/jans/as/client/ssa/SsaCreateTest.java
  jans-auth-server/common/pom.xml
  jans-auth-server/model/src/main/java/io/jans/as/model/common/FeatureFlagType.java
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/pom.xml
  jans-auth-server/server/src/main/java/io/jans/as/server/rate/CachedBodyHttpServletRequest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/rate/RateLimitFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/rate/RateLimitService.java
  jans-auth-server/server/src/main/java/io/jans/as/server/rate/RateLimitType.java
  jans-auth-server/server/src/main/java/io/jans/as/server/rate/RateLimitedException.java
  jans-auth-server/server/src/main/webapp-jetty/WEB-INF/web.xml
  jans-auth-server/server/src/test/java/io/jans/as/server/rate/RateLimitServiceTest.java
  jans-auth-server/server/src/test/resources/testng.xml
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
  mkdocs.yml
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-jans-linux-setup, comp-docs

#11048 fix(jans-cli-tui): properties acrMappings
  jans-cli-tui/cli_tui/plugins/010_auth_server/view_property.py
Labels: kind-bug, comp-jans-cli-tui

#11059 feat(jans-auth-server): rate limit - use guava cache to auto-expire buckets during high load #11054
  jans-auth-server/server/src/main/java/io/jans/as/server/rate/RateLimitFilter.java
  jans-auth-server/server/src/main/java/io/jans/as/server/rate/RateLimitService.java
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
Labels: comp-jans-auth-server, kind-feature, comp-jans-linux-setup

#11085 fix(core): remove jansAlias from jansDocument
  docs/janssen-server/reference/database/mysql-schema.md
  docs/janssen-server/reference/database/pgsql-schema.md
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/plugins/docs/fido2-plugin-swagger.yaml
  jans-config-api/plugins/docs/jans-admin-ui-plugin-swagger.yaml
  jans-config-api/server/src/main/resources/example/assets/post-asset.json
  jans-core/document-store/src/main/java/io/jans/service/document/store/model/Document.java
  jans-core/document-store/src/main/java/io/jans/service/document/store/service/DBDocumentService.java
  jans-linux-setup/jans_setup/schema/jans_schema.json
  jans-orm/ldap-sample/src/main/java/io/jans/orm/ldap/model/Document.java
  jans-orm/sql-sample/src/main/java/io/jans/orm/sql/model/Document.java
Labels: kind-bug, area-documentation, comp-jans-config-api, comp-jans-core, comp-jans-orm, comp-jans-linux-setup, comp-docs

#11087 docs(jans-cedarling): update token metadata section
  docs/cedarling/cedarling-policy-store.md
Labels: area-documentation, comp-docs, comp-jans-cedarling

#11057 fix(jans-fido2): #10244 + docs
  .github/workflows/scan-sonar.yml
  docs/janssen-server/fido/bluetooth-authn.md
  docs/janssen-server/fido/key-mgt.md
  docs/janssen-server/fido/monitoring.md
  docs/janssen-server/fido/passwordlessLoginExperience.md
  docs/janssen-server/fido/platform-authn.md
  docs/janssen-server/fido/types-of-creds.md
  docs/janssen-server/fido/usb-authn.md
  docs/script-catalog/person_authentication/fido2-external-authenticator/Fido2ExternalAuthenticator.py
  jans-auth-server/server/src/main/resources/jans-auth.properties
  jans-auth-server/server/src/main/webapp/auth/fido2/js/webauthn.js
  jans-auth-server/server/src/main/webapp/auth/fido2/passkeys.xhtml
  jans-casa/app/src/main/java/io/jans/casa/core/pojo/FidoDevice.java
  jans-casa/app/src/main/java/io/jans/casa/core/pojo/MultideviceAuthenticator.java
  jans-casa/app/src/main/java/io/jans/casa/core/pojo/PlatformAuthenticator.java
  jans-casa/app/src/main/java/io/jans/casa/core/pojo/SecurityKey.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/rs/PasskeysEnrollingWS.java
  jans-casa/app/src/main/java/io/jans/casa/plugins/authnmethod/service/Fido2Service.java
  jans-casa/app/src/main/java/io/jans/casa/ui/vm/user/PasskeysViewModel.java
  jans-casa/app/src/main/webapp/images/passkey.png
  jans-fido2/client/src/main/java/io/jans/fido2/client/AssertionService.java
  jans-fido2/model/src/main/java/io/jans/fido2/model/assertion/AssertionOptions.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AttestationService.java
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-jans-auth-server, comp-jans-fido2, comp-docs, comp-jans-casa

#10994 feat(jans-cedarling): include a sample android app in cedarling uniffi binding
  docs/cedarling/uniffi/cedarling-android.md
  docs/cedarling/uniffi/cedarling-ios.md
  docs/cedarling/uniffi/cedarling-uniffi.md
  jans-cedarling/bindings/cedarling_uniffi/README.md
  jans-cedarling/bindings/cedarling_uniffi/androidApp/.gitignore
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/.gitignore
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/build.gradle.kts
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/proguard-rules.pro
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/androidTest/java/com/example/androidapp/ExampleInstrumentedTest.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/AndroidManifest.xml
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/assets/action.txt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/assets/bootstrap.json
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/assets/context.json
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/assets/policy-store.json
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/assets/resource.json
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/assets/tokens.json
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/MainActivity.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/ui/theme/Color.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/ui/theme/Theme.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/ui/theme/Type.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/utils/Utils.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/views/JsonTreeView.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/widgets/DataCard.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/widgets/RadioButtonGroup.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/widgets/StateDialog.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/drawable/ic_launcher_background.xml
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/drawable/ic_launcher_foreground.xml
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/values/colors.xml
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/values/strings.xml
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/values/themes.xml
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/xml/backup_rules.xml
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/res/xml/data_extraction_rules.xml
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/test/java/com/example/androidapp/ExampleUnitTest.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/build.gradle.kts
  jans-cedarling/bindings/cedarling_uniffi/androidApp/gradle.properties
  jans-cedarling/bindings/cedarling_uniffi/androidApp/gradle/libs.versions.toml
  jans-cedarling/bindings/cedarling_uniffi/androidApp/gradle/wrapper/gradle-wrapper.jar
  jans-cedarling/bindings/cedarling_uniffi/androidApp/gradle/wrapper/gradle-wrapper.properties
  jans-cedarling/bindings/cedarling_uniffi/androidApp/gradlew
  jans-cedarling/bindings/cedarling_uniffi/androidApp/gradlew.bat
  jans-cedarling/bindings/cedarling_uniffi/androidApp/settings.gradle.kts
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#11100 feat: add tolerations to helm charts
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/_helpers.tpl
  charts/janssen-all-in-one/templates/deployment.yml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/README.md
  charts/janssen/charts/auth-server-key-rotation/templates/cronjobs.yaml
  charts/janssen/charts/auth-server/README.md
  charts/janssen/charts/auth-server/templates/deployment.yml
  charts/janssen/charts/auth-server/values.yaml
  charts/janssen/charts/casa/README.md
  charts/janssen/charts/casa/templates/deployment.yaml
  charts/janssen/charts/casa/values.yaml
  charts/janssen/charts/config-api/templates/deployment.yaml
  charts/janssen/charts/config/README.md
  charts/janssen/charts/config/templates/load-init-config.yml
  charts/janssen/charts/config/values.yaml
  charts/janssen/charts/fido2/README.md
  charts/janssen/charts/fido2/templates/deployment.yml
  charts/janssen/charts/fido2/values.yaml
  charts/janssen/charts/kc-scheduler/README.md
  charts/janssen/charts/kc-scheduler/templates/cronjobs.yaml
  charts/janssen/charts/kc-scheduler/values.yaml
  charts/janssen/charts/link/templates/deployment.yaml
  charts/janssen/charts/persistence/README.md
  charts/janssen/charts/persistence/templates/jobs.yml
  charts/janssen/charts/persistence/values.yaml
  charts/janssen/charts/saml/README.md
  charts/janssen/charts/saml/templates/deployment.yaml
  charts/janssen/charts/saml/values.yaml
  charts/janssen/charts/scim/README.md
  charts/janssen/charts/scim/templates/deployment.yml
  charts/janssen/charts/scim/values.yaml
  charts/janssen/values.yaml
Labels: area-documentation, kind-feature, comp-charts-jans

#11096 feat(jans-auth-server): removed CleanerTimer from AS (replaced by independent clean service)
  docs/janssen-server/auth-server/client-management/client-configuration.md
  docs/janssen-server/reference/json/properties/janssenauthserver-properties.md
  jans-auth-server/model/src/main/java/io/jans/as/model/configuration/AppConfiguration.java
  jans-auth-server/server/conf/jans-config.json
  jans-auth-server/server/src/main/java/io/jans/as/server/service/CleanerTimer.java
  jans-auth-server/server/src/main/java/io/jans/as/server/service/ClientLastUpdateAtTimer.java
  jans-auth-server/server/src/test/java/io/jans/as/server/comp/CleanerTimerTest.java
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-core/service/src/main/java/io/jans/service/cdi/event/CleanerEvent.java
  jans-linux-setup/jans_setup/setup_app/test_data_loader.py
  jans-linux-setup/jans_setup/templates/jans-auth/jans-auth-config.json
Labels: area-documentation, comp-jans-auth-server, comp-jans-core, kind-feature, comp-jans-linux-setup, comp-docs

#11105 fix(docs): update document titles for better search results
  docs/janssen-server/auth-server/README.md
  docs/janssen-server/auth-server/crypto/README.md
  docs/janssen-server/auth-server/crypto/key-storage.md
  docs/janssen-server/auth-server/crypto/keys.md
  docs/janssen-server/auth-server/endpoints/access-evaluation.md
  docs/janssen-server/auth-server/endpoints/archived-jwks-uri.md
  docs/janssen-server/auth-server/endpoints/authorization-challenge.md
  docs/janssen-server/auth-server/endpoints/authorization.md
  docs/janssen-server/auth-server/endpoints/backchannel-authentication.md
  docs/janssen-server/auth-server/endpoints/client-registration.md
  docs/janssen-server/auth-server/endpoints/clientinfo.md
  docs/janssen-server/auth-server/endpoints/configuration.md
  docs/janssen-server/auth-server/endpoints/device-authorization.md
  docs/janssen-server/auth-server/endpoints/end-session.md
  docs/janssen-server/auth-server/endpoints/global-token-revocation.md
  docs/janssen-server/auth-server/endpoints/jwks-uri.md
  docs/janssen-server/auth-server/endpoints/session-revocation.md
  docs/janssen-server/auth-server/endpoints/token-revocation.md
  docs/janssen-server/auth-server/endpoints/token.md
  docs/janssen-server/auth-server/endpoints/userinfo.md
  docs/janssen-server/auth-server/openid-features/ciba.md
  docs/janssen-server/auth-server/openid-features/consent/README.md
  docs/janssen-server/auth-server/openid-features/consent/customize.md
  docs/janssen-server/auth-server/openid-features/consent/list-delete.md
  docs/janssen-server/auth-server/openid-features/jarm.md
  docs/janssen-server/auth-server/openid-features/logout/back-channel.md
  docs/janssen-server/auth-server/openid-features/logout/customizing-logout.md
  docs/janssen-server/auth-server/openid-features/logout/forcing-logout.md
  docs/janssen-server/auth-server/openid-features/logout/front-channel.md
  docs/janssen-server/auth-server/openid-features/request-objects.md
  docs/janssen-server/auth-server/session-management/README.md
  docs/janssen-server/auth-server/tokens/oauth-access-tokens.md
  docs/janssen-server/auth-server/tokens/oauth-refresh-tokens.md
  docs/janssen-server/auth-server/tokens/oauth-tx-tokens.md
  docs/janssen-server/auth-server/tokens/openid-userinfo-token.md
  docs/janssen-server/auth-server/tokens/uma-rpt-token.md
  docs/janssen-server/config-guide/config-tools/config-api/logs.md
  docs/janssen-server/install/docker-install/compose.md
  docs/janssen-server/install/docker-install/quick-start.md
  docs/janssen-server/install/helm-install/README.md
  docs/janssen-server/kubernetes-ops/README.md
  docs/janssen-server/kubernetes-ops/cert-management.md
  docs/janssen-server/kubernetes-ops/custom-attributes.md
  docs/janssen-server/kubernetes-ops/customization.md
  docs/janssen-server/kubernetes-ops/external-secrets-configmaps.md
  docs/janssen-server/kubernetes-ops/health-check.md
  docs/janssen-server/kubernetes-ops/jans-saml.md
  docs/janssen-server/kubernetes-ops/logs.md
  docs/janssen-server/kubernetes-ops/memory-dump.md
  docs/janssen-server/kubernetes-ops/scaling.md
  docs/janssen-server/kubernetes-ops/tui-k8s.md
  docs/janssen-server/planning/benchmarking.md
  docs/janssen-server/planning/identity-access-governance.md
  docs/janssen-server/planning/kubernetes.md
  docs/janssen-server/reference/database/README.md
  docs/janssen-server/reference/database/mysql-ops.md
Labels: kind-bug, area-documentation, comp-docs

#11108 fix(jans-auth-server): correction after removing CleanerTimer from AS (replaced by independent clean service) #10935
  jans-auth-server/server/src/main/java/io/jans/as/server/service/AppInitializer.java
  jans-auth-server/server/src/test/java/io/jans/as/server/BaseComponentTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: kind-bug, comp-jans-auth-server

#11110 fix: show proper error message for when MAU threshold absent when checking flex license
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/test/java/io/jans/ca/plugin/adminui/test/services/LicenseServiceTest.java
Labels: kind-bug, comp-jans-config-api

#11117 test(jans-auth-server): fix AuthorizationCodeFlowEmbeddedTest #11116
  jans-auth-server/server/src/test/java/io/jans/as/server/ws/rs/AuthorizationCodeFlowEmbeddedTest.java
Labels: area-CI, comp-jans-auth-server

#11097 chore(cloud-native): sync assets to OCI images
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-auth-server/scripts/bootstrap.py
  docker-jans-casa/Dockerfile
  docker-jans-casa/scripts/bootstrap.py
  docker-jans-certmanager/Dockerfile
  docker-jans-cloudtools/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-config-api/scripts/bootstrap.py
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-fido2/scripts/bootstrap.py
  docker-jans-fido2/scripts/upgrade.py
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/scripts/bootstrap.py
  docker-jans-link/Dockerfile
  docker-jans-link/scripts/bootstrap.py
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-persistence-loader/scripts/hooks.py
  docker-jans-saml/Dockerfile
  docker-jans-saml/scripts/bootstrap.py
  docker-jans-scim/Dockerfile
  docker-jans-scim/scripts/bootstrap.py
Labels: kind-dependencies, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, comp-docker-jans-monolith, comp-docker-jans-link, comp-docker-jans-all-in-one, comp-docker-jans-casa, comp-docker-jans-saml, comp-docker-jans-cloudtools

#11120 fix: ssaCustomAttributes is missing in response from Auth server Configuration endpoint
  jans-auth-server/model/src/main/java/io/jans/as/model/ssa/SsaConfiguration.java
Labels: kind-bug, comp-jans-auth-server

#11122 fix(jans-linux-setup): owner of service status script
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
Labels: kind-bug, comp-jans-linux-setup

#11132 fix(docs): remove agama lab quick start guide from Jans docs
  docs/janssen-server/developer/agama/quick-start-using-agama-lab.md
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-agama, comp-docs

#11135 ci: build cedarling with ubuntu24
  .github/workflows/build-packages.yml
Labels: area-CI
