Repository JanssenProject/jans, pull requests merged in 2025-02, with the labels that each got.

#10779 fix(docs): update Agama Lab quick start guide
  docs/assets/agama-create-assignment.png
  docs/assets/agama-create-cdiutil.png
  docs/assets/agama-create-repeat.png
  docs/assets/agama-lab-add-git-repo.png
  docs/assets/agama-lab-create-assignment-uid.png
  docs/assets/agama-lab-create-cdiutil-instance.png
  docs/assets/agama-lab-flow-passwd-edit-assignment-uid.png
  docs/assets/agama-lab-flow-passwd-edit-finish.png
  docs/assets/agama-lab-flow-password-create-when.png
  docs/assets/agama-lab-flow-password-edit-when.png
  docs/assets/agama-lab-flow-render-template.png
  docs/assets/agama-lab-flow-save-template.png
  docs/assets/agama-lab-git-login.png
  docs/assets/agama-login.png
  docs/assets/agama-loginpage.png
  docs/assets/agamalab-flow-passwd-1.png
  docs/assets/agamalab-flow-passwd-call.png
  docs/assets/agamalab-flow-passwd-create-call.png
  docs/assets/agamalab-flow-passwd-create-fail-finish.png
  docs/assets/agamalab-flow-passwd-create-finish.png
  docs/assets/agamalab-flow-passwd-edit-assignment.png
  docs/assets/agamalab-flow-passwd-edit-cdiUtil-instance.png
  docs/assets/agamalab-flow-passwd-edit-cdiutil-instance.png
  docs/assets/agamalab-flow-passwd-edit-cdiutil.png
  docs/assets/agamalab-flow-passwd-edit-fail-finish.png
  docs/assets/agamalab-flow-passwd-edit-repeat.png
  docs/assets/agamalab-flow-passwd-edit-rrf.png
  docs/assets/agamalab-flow-passwd-edit-template.png
  docs/assets/agamalab-flow-passwd-edit-validationService-instance.png
  docs/assets/agamalab-flow-passwd-editcdiutil.png
  docs/assets/agamalab-flow-passwd-new-call.png
  docs/assets/agamalab-flow-passwd-publish-project-gh.png
  docs/assets/agamalab-flow-passwd-publish-project.png
  docs/assets/agamalab-flow-passwd-release-project-gh.png
  docs/assets/agamalab-flow-passwd-release-project.png
  docs/assets/agamalab-flow-passwd-select-template.png
  docs/assets/agamalab-new-flow-name.png
  docs/assets/agamalab-new-flow.png
  docs/assets/agamalab-new-proj.png
  docs/assets/agamalab-project-listing.png
  docs/assets/agamalab-project-page.png
  docs/assets/authentication-flow-input.png
  docs/assets/check-repeat.png
  docs/assets/image-agama-lab-edit-authn-instance.png
  docs/assets/image-agama-lab-flow-quick-start-guide.png
  docs/assets/select-agama-project.png
  docs/assets/select-community-agamaproject.png
  docs/assets/successful-tarp-auth-screen.png
  docs/assets/tarp-client-reg.png
  docs/assets/upload-gama-file.png
  docs/janssen-server/developer/agama/quick-start-using-agama-lab.md
Labels: kind-bug, area-documentation, comp-agama, comp-docs

#10775 feat(jans-cedarling): implement benchmarks for startup and authz
  jans-cedarling/README.md
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/benches/authz_benchmark.rs
  jans-cedarling/cedarling/benches/startup_benchmark.rs
Labels: area-documentation, kind-feature, comp-jans-cedarling

#10780 fix: align consent script wrt latest AS updates
  docs/script-catalog/consent_gathering/AgamaConsentGathering.py
  docs/script-catalog/consent_gathering/consent-gathering.md
Labels: kind-bug, area-documentation, comp-docs

#10784 fix(jans-auth-server): always save access_token to persistence regardless of cache configuration #10763
  jans-auth-server/server/src/main/java/io/jans/as/server/service/GrantService.java
  jans-core/service/src/main/java/io/jans/model/token/TokenEntity.java
Labels: kind-bug, comp-jans-auth-server, comp-jans-core

#10792 chore: replace deprecated LDAP enum by DB
  jans-scim/service/src/main/java/io/jans/scim/service/ConfigurationService.java
Labels: kind-dependencies, comp-jans-scim

#10772 feat(jans-cedarling): Improve log searching and retrieval
  docs/cedarling/cedarling-logs.md
  jans-cedarling/bindings/cedarling_python/PYTHON_TYPES.md
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/print_documentation.py
  jans-cedarling/bindings/cedarling_python/src/authorize/authorize_result.rs
  jans-cedarling/bindings/cedarling_python/src/cedarling.rs
  jans-cedarling/bindings/cedarling_python/tests/test_authorize.py
  jans-cedarling/bindings/cedarling_python/tests/test_logger.py
  jans-cedarling/bindings/cedarling_wasm/README.md
  jans-cedarling/bindings/cedarling_wasm/src/lib.rs
  jans-cedarling/cedarling/Cargo.toml
  jans-cedarling/cedarling/src/authz/authorize_result.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/blocking.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/log/interface.rs
  jans-cedarling/cedarling/src/log/log_entry.rs
  jans-cedarling/cedarling/src/log/log_level.rs
  jans-cedarling/cedarling/src/log/log_strategy.rs
  jans-cedarling/cedarling/src/log/memory_logger.rs
  jans-cedarling/cedarling/src/log/stdout_logger/native_logger.rs
  jans-cedarling/cedarling/src/log/test.rs
  jans-cedarling/clippy.toml
  jans-cedarling/sparkv/src/index.rs
  jans-cedarling/sparkv/src/kventry.rs
  jans-cedarling/sparkv/src/lib.rs
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#10788 fix!(jans-cedarling): fix cedarling-properties docs to be more proper
  docs/cedarling/cedarling-properties.md
  jans-cedarling/bindings/cedarling_python/README.md
  jans-cedarling/bindings/cedarling_python/cedarling_python.pyi
  jans-cedarling/bindings/cedarling_python/example_files/sample_bootstrap_props.json
  jans-cedarling/bindings/cedarling_python/example_files/sample_bootstrap_props.yaml
  jans-cedarling/bindings/cedarling_wasm/example_data.js
  jans-cedarling/bindings/cedarling_wasm/src/tests.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/config.rs
  jans-cedarling/flask-sidecar/secrets/bootstrap.json
  jans-cedarling/flask-sidecar/tests/test_secrets/cedarling_test_config.json
  jans-cedarling/test_files/bootstrap_props.json
  jans-cedarling/test_files/bootstrap_props.yaml
Labels: kind-bug, area-documentation, comp-docs, comp-jans-cedarling

#10801 fix(jans-linux-setup): fido document store paths
  jans-linux-setup/jans_setup/setup_app/installers/fido.py
  jans-linux-setup/jans_setup/templates/jans-fido2/docuemts.ldif
Labels: kind-bug, comp-jans-fido2, comp-jans-linux-setup

#10804 ci: publish cedarling wasm to npm
  .github/workflows/build-packages.yml
  jans-cedarling/bindings/cedarling_wasm/Cargo.toml
Labels: area-CI

#10811 docs(jans-cedarling): update readme for scope based access
  docs/cedarling/cedarling-krakend.md
  jans-cedarling/cedarling-krakend/README.md
Labels: area-documentation, comp-docs, comp-jans-cedarling

#10725 chore(jans): upgrade packages installed to a non-vulnerable version
  README.md
  automation/requirements.txt
  demos/benchmarking/docker-jans-loadtesting-jmeter/README.md
  demos/benchmarking/docker-jans-loadtesting-jmeter/requirements.txt
  docs/janssen-server/reference/kubernetes/README.md
  docs/requirements.txt
  jans-linux-setup/jans_setup/app_info.json
  jans-linux-setup/requirements.txt
  jans-linux-setup/setup.py
Labels: kind-dependencies, area-CI, area-documentation, comp-jans-linux-setup, comp-docs

#10786 feat(jans-cedarling): update sidecar for log retrieval
  jans-cedarling/flask-sidecar/Dockerfile
  jans-cedarling/flask-sidecar/main/base/cedarling/cedarling.py
Labels: kind-feature, comp-jans-cedarling

#10834 chore(docs): fix miscellaneous issues
  docs/casa/plugins/accts-linking/accts-linking-agama.md
  docs/script-catalog/ciba/ciba.md
  docs/script-catalog/uma_claims_gathering/uma-claims-web.md
  docs/script-catalog/uma_rpt_claims/uma-claims-jwt.md
Labels: kind-dependencies, area-documentation, comp-docs

#10824 fix(docs): update LDAP link document with configuration details
  docs/janssen-server/link/jans-link.md
Labels: kind-bug, area-documentation, comp-docs

#10828 docs(terraform-provider-jans): fix docs example
  docs/janssen-server/config-guide/config-tools/config-api/config.md
  docs/janssen-server/install/helm-install/amazon-eks.md
  docs/janssen-server/install/helm-install/google-gke.md
  docs/janssen-server/install/helm-install/microsoft-azure.md
  docs/janssen-server/planning/multi-tenancy.md
  terraform-provider-jans/README.md
  terraform-provider-jans/docs/index.md
  terraform-provider-jans/examples/resources/jans_script/resource.tf
Labels: area-documentation, comp-terraform-provider-jans, comp-docs

#10836 fix: update resource endpoints for terraform
  terraform-provider-jans/jans/api_app_configuration.go
  terraform-provider-jans/jans/app_configuration.go
  terraform-provider-jans/provider/resource_api_app_configuration.go
  terraform-provider-jans/provider/resource_app_configuration.go
Labels: kind-bug, comp-terraform-provider-jans

#10822 chore: update person orm bean
  jans-scim/model/src/main/java/io/jans/scim/model/scim/ScimCustomPerson.java
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/Scim2UserService.java
  jans-scim/service/src/main/java/io/jans/scim/model/GluuGroup.java
Labels: kind-dependencies, comp-jans-scim

#10818 chore(main): release 1.4.0
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#10812 docs(jans-cedarling): shorten conditional
  docs/cedarling/cedarling-krakend.md
  jans-cedarling/cedarling-krakend/README.md
Labels: area-documentation, comp-docs, comp-jans-cedarling

#10852 doc(jans-auth-server): added /internal/stat to swagger #10839
  jans-auth-server/docs/swagger.yaml
Labels: comp-jans-auth-server, comp-docs

#10857 fix: getting 401 Unauthorized for /jans-config-api/api/v1/stat
  jans-config-api/server/src/main/java/io/jans/configapi/security/service/OpenIdAuthorizationService.java
Labels: kind-bug, comp-jans-config-api

#10823 fix(docs): add SSA configuration docs
  CHANGELOG.md
  docker-jans-all-in-one/Dockerfile
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-certmanager/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-link/Dockerfile
  docker-jans-monolith/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
  docs/assets/tui-add-ssa.png
  docs/assets/tui-ssa-detail.png
  docs/assets/tui-ssa-screen.png
  docs/janssen-server/config-guide/auth-server-config/ssa-config.md
  jans-cedarling/flask-sidecar/Dockerfile
Labels: kind-bug, area-documentation, comp-docs

#10868 refactor!(jans-cedarling): rename bootstrap property LOCK_MASTER to LOCK_SERVER
  docs/cedarling/cedarling-properties.md
  jans-cedarling/bindings/cedarling_python/example_files/sample_bootstrap_props.json
  jans-cedarling/bindings/cedarling_python/example_files/sample_bootstrap_props.yaml
  jans-cedarling/bindings/cedarling_wasm/example_data.js
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/policy_store_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/config.rs
  jans-cedarling/cedarling/src/init/policy_store.rs
  jans-cedarling/flask-sidecar/secrets/bootstrap.json
  jans-cedarling/flask-sidecar/tests/test_secrets/cedarling_test_config.json
  jans-cedarling/test_files/bootstrap_props.json
  jans-cedarling/test_files/bootstrap_props.yaml
Labels: kind-enhancement, area-documentation, comp-docs, comp-jans-cedarling

#10864 feat(jans-cli-tui): add hints to fido configuration screen
  docs/assets/tui-fido2-dynamic-configuration.png
  docs/janssen-server/config-guide/fido2-config/janssen-fido2-configuration.md
  jans-cli-tui/cli_tui/plugins/020_fido/main.py
Labels: area-documentation, comp-jans-cli-tui, kind-feature, comp-docs

#10877 feat(jans-auth-server): do not return claim in introspection response if it's null. #10865
  jans-auth-server/model/src/main/java/io/jans/as/model/util/JsonUtil.java
  jans-auth-server/model/src/test/java/io/jans/as/model/util/JsonUtilTest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/introspection/ws/rs/IntrospectionWebService.java
Labels: comp-jans-auth-server, kind-feature

#10870 Jans cli tui ssa custom attributes 10855
  docs/assets/tui-add-ssa.png
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
  jans-cli-tui/cli_tui/utils/utils.py
Labels: comp-jans-cli-tui, comp-docs

#10886 chore: remove `Gluu` references in file names
  docs/script-catalog/consent_gathering/consent-gathering.md
  jans-scim/client/src/test/java/io/jans/scim2/client/singleresource/FidoU2fDeviceTest.java
  jans-scim/server/src/main/java/io/jans/scim/service/external/ExternalScimService.java
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/Scim2GroupService.java
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/Scim2UserService.java
  jans-scim/server/src/main/java/io/jans/scim/service/scim2/UserPersistenceHelper.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/BaseScimWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/Fido2DeviceWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/FidoDeviceWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/GroupWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/ScimResourcesUpdatedWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/UserWebService.java
  jans-scim/service/src/main/java/io/jans/scim/model/CustomEntry.java
  jans-scim/service/src/main/java/io/jans/scim/model/GluuGroupVisibility.java
  jans-scim/service/src/main/java/io/jans/scim/model/GluuOxTrustStat.java
  jans-scim/service/src/main/java/io/jans/scim/model/JansBoolean.java
  jans-scim/service/src/main/java/io/jans/scim/model/JansConfiguration.java
  jans-scim/service/src/main/java/io/jans/scim/model/JansCustomAttribute.java
  jans-scim/service/src/main/java/io/jans/scim/model/JansCustomPerson.java
  jans-scim/service/src/main/java/io/jans/scim/model/JansFido2Device.java
  jans-scim/service/src/main/java/io/jans/scim/model/JansGroup.java
  jans-scim/service/src/main/java/io/jans/scim/model/JansOrganization.java
  jans-scim/service/src/main/java/io/jans/scim/model/User.java
  jans-scim/service/src/main/java/io/jans/scim/model/fido/GluuDeviceDataBean.java
  jans-scim/service/src/main/java/io/jans/scim/model/fido/JansCustomFidoDevice.java
  jans-scim/service/src/main/java/io/jans/scim/service/ApplicationFactory.java
  jans-scim/service/src/main/java/io/jans/scim/service/AttributeService.java
  jans-scim/service/src/main/java/io/jans/scim/service/ConfigurationService.java
  jans-scim/service/src/main/java/io/jans/scim/service/Fido2DeviceService.java
  jans-scim/service/src/main/java/io/jans/scim/service/FidoDeviceService.java
  jans-scim/service/src/main/java/io/jans/scim/service/GroupService.java
  jans-scim/service/src/main/java/io/jans/scim/service/OrganizationService.java
  jans-scim/service/src/main/java/io/jans/scim/service/PersonService.java
  jans-scim/service/src/main/java/io/jans/scim/util/OxTrustConstants.java
  jans-scim/service/src/main/java/io/jans/scim/util/ServiceUtil.java
Labels: kind-dependencies, area-documentation, comp-jans-scim, comp-docs

#10833 refactor(jans-cedarling): embed the pdp_id and appplication_id into the logger
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/common/app_types.rs
  jans-cedarling/cedarling/src/init/service_factory.rs
  jans-cedarling/cedarling/src/lib.rs
  jans-cedarling/cedarling/src/log/err_log_entry.rs
  jans-cedarling/cedarling/src/log/log_entry.rs
  jans-cedarling/cedarling/src/log/log_strategy.rs
  jans-cedarling/cedarling/src/log/memory_logger.rs
  jans-cedarling/cedarling/src/log/mod.rs
  jans-cedarling/cedarling/src/log/nop_logger.rs
  jans-cedarling/cedarling/src/log/stdout_logger/native_logger.rs
  jans-cedarling/cedarling/src/log/stdout_logger/wasm_logger.rs
  jans-cedarling/cedarling/src/log/test.rs
Labels: kind-enhancement, comp-jans-cedarling

#10816 feat(jans-cedarling): create uniffi binding for cedarling with sample ios app using it
  docs/cedarling/uniffi/cedarling-ios.md
  docs/cedarling/uniffi/cedarling-uniffi.md
  jans-cedarling/.gitignore
  jans-cedarling/bindings/cedarling_uniffi/Cargo.toml
  jans-cedarling/bindings/cedarling_uniffi/README.md
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/.gitignore
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp.xcodeproj/project.pbxproj
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/Assets.xcassets/AccentColor.colorset/Contents.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/Assets.xcassets/Contents.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/Preview Content/Preview Assets.xcassets/Contents.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/data/bootstrap.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/data/context.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/data/policy-store.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/data/resource.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/data/tokens.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/iOSAppApp.swift
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/utils/Helper.swift
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/utils/Labels.swift
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/views/ContentView.swift
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/views/DataParserView.swift
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/views/JSONTreeNodeView.swift
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSAppTests/iOSAppTests.swift
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSAppUITests/iOSAppUITests.swift
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSAppUITests/iOSAppUITestsLaunchTests.swift
  jans-cedarling/bindings/cedarling_uniffi/src/bin/uniffi-bindgen.rs
  jans-cedarling/bindings/cedarling_uniffi/src/lib.rs
  jans-cedarling/bindings/cedarling_uniffi/src/request_wrapper.rs
  jans-cedarling/bindings/cedarling_uniffi/src/tests.rs
  jans-cedarling/bindings/cedarling_uniffi/test_files/bootstrap.json
  jans-cedarling/bindings/cedarling_uniffi/test_files/policy-store.json
  jans-cedarling/cedarling/Cargo.toml
  mkdocs.yml
Labels: kind-feature, comp-jans-cedarling

#10894 chore: remove endpoints and classes regarding fido u2f
  jans-linux-setup/jans_setup/templates/test/scim-client/data/scim-test-data-user.ldif
  jans-scim/client/src/main/java/io/jans/scim2/client/rest/ClientSideFidoDeviceService.java
  jans-scim/client/src/main/java/io/jans/scim2/client/rest/ClientSideGroupService.java
  jans-scim/client/src/main/java/io/jans/scim2/client/rest/ClientSideService.java
  jans-scim/client/src/test/java/io/jans/scim2/client/servicemeta/SchemasTest.java
  jans-scim/client/src/test/java/io/jans/scim2/client/singleresource/FidoU2fDeviceTest.java
  jans-scim/client/src/test/resources/testng.xml
  jans-scim/model/src/main/java/io/jans/scim/model/scim2/BaseScimResource.java
  jans-scim/model/src/main/java/io/jans/scim/model/scim2/Meta.java
  jans-scim/model/src/main/java/io/jans/scim/model/scim2/fido/FidoDeviceResource.java
  jans-scim/model/src/main/java/io/jans/scim/model/scim2/util/IntrospectUtil.java
  jans-scim/model/src/main/java/io/jans/scim/ws/rs/scim2/IFidoDeviceWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ScimConfiguration.java
  jans-scim/server/src/main/java/io/jans/scim/service/init/ResteasyInitializer.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/BulkWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/FidoDeviceWebService.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/ResourceTypeWS.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/ScimConfigurationWS.java
  jans-scim/server/src/main/java/io/jans/scim/ws/rs/scim2/SearchResourcesWebService.java
Labels: kind-dependencies, comp-jans-scim, comp-jans-linux-setup

#10895 fix(jans-cedarling): reason missing from decision log
  jans-cedarling/cedarling/src/authz/mod.rs
Labels: kind-bug, comp-jans-cedarling

#10893 feat(jans-cedarling): add alias to load key policy_store_version`
  jans-cedarling/cedarling/src/common/policy_store.rs
Labels: kind-feature, comp-jans-cedarling

#10898 docs(jans-cedarling): fix formatting of uniffi binding of cedarling #10897
  docs/cedarling/uniffi/cedarling-ios.md
  docs/cedarling/uniffi/cedarling-uniffi.md
Labels: area-documentation, comp-docs, comp-jans-cedarling

#10900 fix(docs): cedarling documentation reorganisation
  docs/cedarling/cedarling-binding-types.md
  docs/cedarling/cedarling-lock-server.md
  docs/cedarling/cedarling-quick-start.md
  docs/cedarling/uniffi/cedarling-android.md
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-docs

#10915 fix(jans-linux-setup): rename permission to role in attribute inum=6049
  jans-linux-setup/jans_setup/templates/attributes.ldif
Labels: kind-bug, comp-jans-linux-setup

#10807 feat(jans-cedarling): implement loading types from other namespace
  docs/cedarling/cedarling-properties.md
  jans-cedarling/bindings/cedarling_python/example_files/policy-store_human_readable/cedar.schema
  jans-cedarling/bindings/cedarling_python/example_files/sample_bootstrap_props.yaml
  jans-cedarling/bindings/cedarling_wasm/src/tests.rs
  jans-cedarling/cedarling/src/authz/build_ctx.rs
  jans-cedarling/cedarling/src/authz/entity_builder.rs
  jans-cedarling/cedarling/src/authz/entity_builder/build_attrs.rs
  jans-cedarling/cedarling/src/authz/entity_builder/build_expr.rs
  jans-cedarling/cedarling/src/authz/entity_builder/build_resource_entity.rs
  jans-cedarling/cedarling/src/authz/entity_builder/build_role_entity.rs
  jans-cedarling/cedarling/src/authz/entity_builder/mapping.rs
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/token_settings.rs
  jans-cedarling/cedarling/src/common/cedar_schema/cedar_json.rs
  jans-cedarling/cedarling/src/common/policy_store/claim_mapping.rs
  jans-cedarling/test_files/agama-store_2.yaml
Labels: kind-feature, comp-jans-cedarling

#10908 fix: scope not getting added if dropdown is not used
  demos/jans-tarp/src/options/header.tsx
  demos/jans-tarp/src/options/options.css
  demos/jans-tarp/src/options/registerClient.tsx
  demos/jans-tarp/src/static/logo.jpg
  demos/jans-tarp/webpack.common.js
Labels: kind-bug

#10896 feat(jans-auth-server): make all ssa attributes optional during creation #10858
  docs/janssen-server/auth-server/endpoints/ssa.md
  jans-auth-server/client/src/main/java/io/jans/as/client/ssa/create/SsaCreateRequest.java
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaCreateAction.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaRestWebServiceImplTest.java
  jans-auth-server/server/src/test/java/io/jans/as/server/ssa/ws/rs/SsaServiceTest.java
  jans-auth-server/server/src/test/resources/testng.xml
Labels: comp-jans-auth-server, kind-feature

#10917 feat: add ability to show decision, system and metric logs in tarp based on user selection
  demos/jans-tarp/src/options/userDetails.tsx
  demos/jans-tarp/src/static/tarpDocs6.png
Labels: kind-feature

#10929 fix(jans-linux-setup): lock client creation with setup.properties
  jans-linux-setup/jans_setup/setup_app/installers/base.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_lock.py
Labels: kind-bug, comp-jans-linux-setup

#10922 chore: update fido test data
  jans-linux-setup/jans_setup/templates/test/scim-client/data/scim-test-data-user.ldif
Labels: kind-dependencies, comp-jans-linux-setup

#10930 feat: add ability to decode token jwt so that users can check claims in payload
  demos/jans-tarp/src/options/IJWT.ts
  demos/jans-tarp/src/options/options.css
  demos/jans-tarp/src/options/userDetails.tsx
Labels: kind-feature

#10924 feat(jans-cedarling): Add bootstrap properties of memory logger max_items and max_item_size
  docs/cedarling/cedarling-properties.md
  jans-cedarling/cedarling/examples/log_init.rs
  jans-cedarling/cedarling/src/bootstrap_config/decode.rs
  jans-cedarling/cedarling/src/bootstrap_config/log_config.rs
  jans-cedarling/cedarling/src/bootstrap_config/mod.rs
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/config.rs
  jans-cedarling/cedarling/src/log/memory_logger/memory_calc.rs
  jans-cedarling/cedarling/src/log/memory_logger/mod.rs
  jans-cedarling/cedarling/src/log/test.rs
  jans-cedarling/sparkv/src/lib.rs
  jans-cedarling/sparkv/src/test_json_value.rs
  jans-cedarling/sparkv/src/tests.rs
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#10920 refactor(jans-cedarling): show decision time in micro seconds
  docs/cedarling/cedarling-logs.md
  docs/cedarling/python/usage.md
  jans-cedarling/cedarling/src/authz/mod.rs
  jans-cedarling/cedarling/src/log/log_entry.rs
Labels: kind-enhancement, area-documentation, comp-docs, comp-jans-cedarling

#10890 fix(docs): incorrect package name in rhel document
  docs/janssen-server/install/vm-install/rhel.md
Labels: area-documentation, triaged

#10939 feat(jans-auth-server): set expiration to the past (to clean up) on SSA revoke #10916
  docs/janssen-server/auth-server/endpoints/ssa.md
  jans-auth-server/server/src/main/java/io/jans/as/server/ssa/ws/rs/action/SsaRevokeAction.java
Labels: area-documentation, comp-jans-auth-server, kind-feature, comp-docs

#10941 docs: add README for jans-chip
  demos/jans-chip/README.md
Labels: area-documentation, comp-docs

#10938 ci: switch docs to poetry
  .github/workflows/build-docs.yml
  .github/workflows/lint-flak8.yml
  docs/poetry.lock
  docs/pyproject.toml
  docs/requirements.txt
  mkdocs.yml
Labels: area-CI, comp-docs

#10912 fix(jans-fido2): U2F attestation and corrected auth_cert link #10911
  .github/workflows/lint-flak8.yml
  jans-cli-tui/cli_tui/plugins/120_lock/main.py
  jans-fido2/model/src/main/java/io/jans/fido2/model/attestation/AttestationResult.java
  jans-fido2/server/src/main/java/io/jans/fido2/model/auth/AuthData.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/CertificateService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/AttestationCertificateService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/MdsService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/mds/TocService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/operation/AssertionService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/processor/attestation/U2FAttestationProcessor.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/verifier/CertificateVerifier.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/processor/attestation/U2FAttestationProcessorTest.java
  jans-fido2/server/src/test/java/io/jans/fido2/service/verifier/CertificateVerifierTest.java
  jans-linux-setup/jans_setup/setup_app/installers/rdbm.py
  jans-linux-setup/jans_setup/setup_app/pylib/parse_dn.py
  jans-linux-setup/jans_setup/static/scripts/admin_ui_plugin.py
  jans-linux-setup/jans_setup/static/scripts/find_dups.py
  jans-linux-setup/jans_setup/static/scripts/genSchemaMarkdown.py
  jans-linux-setup/jans_setup/static/scripts/printHeaders.py
  jans-linux-setup/jans_setup/static/scripts/print_json_ldif.py
  jans-linux-setup/jans_setup/static/scripts/random_password.py
  jans-linux-setup/jans_setup/static/scripts/renew_certs.py
  jans-linux-setup/jans_setup/static/scripts/testBind.py
  jans-linux-setup/jans_setup/templates/jans-fido2/docuemts.ldif
Labels: kind-bug, comp-jans-fido2, comp-jans-linux-setup

#10906 fix(docs): add Cedarling quick start guide and binding type documents
  docs/assets/cedarling-add-policy.png
  docs/assets/cedarling-copylink.png
  docs/assets/cedarling-policy-designer.png
  docs/assets/cedarling-policy-store-name.png
  docs/assets/cedarling-select-repo.png
  docs/cedarling/cedarling-binding-types.md
  docs/cedarling/cedarling-quick-start.md
Labels: kind-bug, area-documentation, comp-docs

#10949 feat(jans-linux-setup): ubuntu24 support
  jans-cli-tui/cli_tui/cli/config_cli.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/sessions.py
  jans-cli-tui/cli_tui/utils/utils.py
  jans-linux-setup/jans_setup/setup_app/data/package_list.json
Labels: comp-jans-cli-tui, kind-feature, comp-jans-linux-setup

#10862 fix(jans-fido2) : update the role of the FIDO server
  jans-fido2/README.md
Labels: kind-bug, area-documentation, comp-jans-fido2

#10948 fix(jans-fido2): #10947 syncing configuration parameters in docs and …
  docs/janssen-server/fido/config.md
  jans-auth-server/server/src/main/webapp/img/step_ver.png
  jans-fido2/model/src/main/java/io/jans/fido2/model/conf/Fido2Configuration.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/AuthenticationPersistenceService.java
  jans-fido2/server/src/main/java/io/jans/fido2/service/persist/RegistrationPersistenceService.java
  jans-linux-setup/jans_setup/templates/jans-fido2/dynamic-conf.json
Labels: kind-bug, area-documentation, comp-jans-auth-server, comp-jans-fido2, comp-jans-linux-setup, comp-docs

#10953 feat(jans-lock): configure maven to update OpenAPI lock-server.yaml
  jans-lock/lock-server.yaml
  jans-lock/lock-server.yaml.txt
  jans-lock/lock-server/pom.xml
  jans-lock/lock-server/service/pom.xml
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/app/ResteasyInitializer.java
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/ws/rs/app/SwaggerBasePathModifier.java
Labels: kind-feature, comp-jans-lock

#10960 fix(jans-lock): update SSE scope name
  jans-linux-setup/jans_setup/templates/jans-lock/scopes.json
Labels: kind-bug, comp-jans-linux-setup, comp-jans-lock

#10964 feat(jans-linux-setup): LDAP Link installation is optional
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
Labels: kind-feature, comp-jans-linux-setup

#10965 docs(jans-cedarling): update namespace for quick start
  docs/cedarling/cedarling-quick-start.md
Labels: area-documentation, comp-docs, comp-jans-cedarling

#10966 feat: admin-ui should only make monthly request agama-lab to validate license
  jans-auth-server/model/src/main/java/io/jans/as/model/config/adminui/LicenseConfig.java
  jans-config-api/plugins/admin-ui-plugin/pom.xml
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/auth/LicenseResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/model/config/LicenseConfiguration.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/config/AUIConfigurationService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/service/license/LicenseDetailsService.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/AppConstants.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/CommonUtils.java
  jans-config-api/plugins/admin-ui-plugin/src/main/java/io/jans/ca/plugin/adminui/utils/ErrorResponse.java
  jans-config-api/plugins/admin-ui-plugin/src/test/java/io/jans/ca/plugin/adminui/test/services/LicenseServiceTest.java
Labels: comp-jans-auth-server, comp-jans-config-api, kind-feature
