Repository JanssenProject/jans, pull requests merged in 2025-05, with the labels that each got.

#11324 feat(jans-config-api): disable jetty ee9-jsp module in jans-config-api
  jans-linux-setup/jans_setup/setup_app/data/jetty_app_configuration.json
Labels: comp-jans-config-api, kind-feature, comp-jans-linux-setup

#11332 fix(jans-fido2): #11331 minor edits
  docs/janssen-server/fido/passwordlessLoginExperience.md
Labels: kind-bug, area-documentation, comp-jans-fido2, comp-docs

#11334 chore: misc casa image updates
  jans-casa/app/src/main/webapp/images/passkey.png
  jans-casa/app/src/main/webapp/images/progress-72.gif
  jans-casa/app/src/main/webapp/images/throbber-white.gif
  jans-casa/app/src/main/webapp/images/throbber.gif
Labels: kind-dependencies, comp-jans-casa

#11311 docs: add cedarling rust docs
  mkdocs.yml
Labels: area-documentation, comp-docs

#11294 fix: fix the android and iOS sample app based on changes in cedarling uniffi binding
  jans-cedarling/Cargo.toml
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/assets/bootstrap.json
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/assets/policy-store.json
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/assets/resource.json
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/assets/tokens.json
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/MainActivity.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/utils/Utils.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/views/JsonTreeView.kt
  jans-cedarling/bindings/cedarling_uniffi/androidApp/app/src/main/java/com/example/androidapp/widgets/StateDialog.kt
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/data/bootstrap.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/data/policy-store.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/data/resource.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/data/tokens.json
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/utils/CodableClasses.swift
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/utils/EntityJsonValue.swift
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/utils/Helper.swift
  jans-cedarling/bindings/cedarling_uniffi/iOSApp/iOSApp/views/ContentView.swift
  jans-cedarling/bindings/cedarling_wasm/Cargo.toml
Labels: kind-bug, comp-jans-cedarling

#11267 chore(ci): SBOM enrichment and upload as a release asset
  .github/workflows/ops-sbom.yml
Labels: kind-dependencies, area-CI

#11338 fix(jans-cedarling): switch cedarling instance to pointer
  jans-cedarling/bindings/cedarling_go/cedarling.go
Labels: kind-bug, comp-jans-cedarling

#11345 fix(core): fix unable to decorate com.sun.faces.config.ConfigureListener
  jans-config-api/server/pom.xml
  jans-scim/service/pom.xml
  jans-scim/service/src/main/java/io/jans/scim/service/ConfigurationService.java
Labels: kind-bug, comp-jans-config-api, comp-jans-scim

#11347 feat(jans-link): turn off Weld dev mode in production
  jans-fido2/server/src/main/webapp/WEB-INF/web.xml
  jans-keycloak-link/server/src/main/webapp/WEB-INF/web.xml
  jans-link/server/profiles/default/config-api-test.properties
  jans-link/server/profiles/default/config-build.properties
  jans-link/server/profiles/jans-ui.jans.io/karate.properties
  jans-link/server/profiles/jans-ui.jans.io/test.properties
  jans-link/server/profiles/jenkins-config-api.gluu.org/karate.properties
  jans-link/server/profiles/jenkins-config-api.gluu.org/test.properties
  jans-link/server/profiles/local/karate.properties
  jans-link/server/profiles/local/test.properties
  jans-link/server/src/main/webapp/WEB-INF/web.xml
  jans-link/server/src/main/webapp/index.jsp
  jans-lock/lock-server/server/src/main/webapp/index.jsp
Labels: comp-jans-fido2, kind-feature, comp-jans-lock, comp-jans-keycloak-link, comp-jans-link

#11257 fix(charts): missing feature of jans-keycloak-link
  charts/janssen-all-in-one/README.md
  charts/janssen-all-in-one/templates/_helpers.tpl
  charts/janssen-all-in-one/templates/configmap.yaml
  charts/janssen-all-in-one/templates/nginx-ingress.yaml
  charts/janssen-all-in-one/values.yaml
  charts/janssen/Chart.yaml
  charts/janssen/README.md
  charts/janssen/charts/config/templates/configmaps.yaml
  charts/janssen/charts/keycloak-link/Chart.yaml
  charts/janssen/charts/keycloak-link/README.md
  charts/janssen/charts/keycloak-link/templates/_helpers.tpl
  charts/janssen/charts/keycloak-link/templates/deployment.yaml
  charts/janssen/charts/keycloak-link/templates/hpa.yaml
  charts/janssen/charts/keycloak-link/templates/keycloak-link-destination-rules.yaml
  charts/janssen/charts/keycloak-link/templates/keycloak-link-pdb.yaml
  charts/janssen/charts/keycloak-link/templates/keycloak-link-virtual-services.yaml
  charts/janssen/charts/keycloak-link/templates/service.yaml
  charts/janssen/charts/keycloak-link/values.yaml
  charts/janssen/charts/nginx-ingress/templates/ingress.yaml
  charts/janssen/values.schema.json
  charts/janssen/values.yaml
  docker-jans-all-in-one/Dockerfile
  docker-jans-all-in-one/app/jans_aio/bootstrap.py
  docker-jans-all-in-one/app/requirements.txt
  docker-jans-all-in-one/app/templates/nginx/jans-keycloak-link-location.conf
  docker-jans-auth-server/Dockerfile
  docker-jans-casa/Dockerfile
  docker-jans-cloudtools/Dockerfile
  docker-jans-config-api/Dockerfile
  docker-jans-configurator/Dockerfile
  docker-jans-fido2/Dockerfile
  docker-jans-keycloak-link/Dockerfile
  docker-jans-keycloak-link/README.md
  docker-jans-link/Dockerfile
  docker-jans-persistence-loader/Dockerfile
  docker-jans-saml/Dockerfile
  docker-jans-scim/Dockerfile
Labels: kind-bug, comp-docker-jans-persistence-loader, comp-docker-jans-auth-server, comp-docker-jans-config-api, comp-docker-jans-configurator, comp-docker-jans-fido2, comp-docker-jans-scim, area-documentation, comp-charts-jans, comp-docker-jans-link, comp-docker-jans-all-in-one, comp-docker-jans-casa, comp-docker-jans-saml, comp-docker-jans-cloudtools

#11359 fix(jans-cli-tui): include jans-logo.txt in package
  jans-cli-tui/setup.py
Labels: kind-bug, comp-jans-cli-tui

#11358 fix(jans-cli-tui): smtp test failing #11330
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-core/service/pom.xml
  jans-core/service/src/main/java/io/jans/service/MailService.java
Labels: kind-bug, comp-jans-cli-tui, comp-jans-config-api, comp-jans-core, comp-docs

#11363 feat(jans-auth): restore Nashorn engine
  jans-auth-server/model/pom.xml
Labels: comp-jans-auth-server, kind-feature

#11364 fix: update javadocs plugin to allow generation of javadocs
  jans-auth-server/pom.xml
  jans-bom/pom.xml
  jans-casa/pom.xml
  jans-fido2/client/pom.xml
  jans-fido2/server/pom.xml
  jans-keycloak-link/pom.xml
  jans-lock/lock-server/client/pom.xml
  jans-lock/lock-server/pom.xml
  jans-lock/lock-server/server/pom.xml
  jans-orm/pom.xml
  jans-scim/client/pom.xml
  jans-scim/pom.xml
  jans-scim/service/pom.xml
Labels: kind-bug, comp-jans-auth-server, comp-jans-fido2, comp-jans-orm, comp-jans-scim, comp-jans-bom, comp-jans-lock, comp-jans-casa, comp-jans-keycloak-link

#11384 chore(main): release 1.6.0
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#11387 fix: remove version_name attribute from manifest.json
  demos/janssen-tarp/src/static/chrome/manifest.json
Labels: kind-bug

#11392 feat(jans-lock): try to reload /.well-known/openid-configuration on f…
  jans-lock/lock-server/service/src/main/java/io/jans/lock/service/OpenIdService.java
Labels: kind-feature, comp-jans-lock

#11389 docs: update README
  demos/janssen-tarp/README.md
Labels: area-documentation, comp-docs

#11391 fix(jans-cli-tui): object type configuration properties
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/view_property.py
Labels: kind-bug, comp-jans-cli-tui

#11368 feat(jans-cli-tui): ssa templates
  docs/assets/tui-add-ssa.png
  docs/assets/tui-ssa-create.png
  docs/assets/tui-ssa-export.png
  docs/janssen-server/auth-server/client-management/software-statements.md
  docs/janssen-server/config-guide/auth-server-config/ssa-config.md
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
Labels: area-documentation, comp-jans-cli-tui, kind-feature, comp-docs

#11380 fix(docs): add sections to place ADRs and design decisions
  docs/contribute/implementation-design/agama-design/README.md
  docs/contribute/implementation-design/agama-design/adr/README.md
  docs/contribute/implementation-design/jans-auth-server-design/README.md
  docs/contribute/implementation-design/jans-auth-server-design/adr/README.md
  docs/contribute/implementation-design/jans-casa-design/README.md
  docs/contribute/implementation-design/jans-casa-design/adr/README.md
  docs/contribute/implementation-design/jans-cedarling-design/README.md
  docs/contribute/implementation-design/jans-cedarling-design/adr/README.md
  docs/contribute/implementation-design/jans-cedarling-design/adr/adr-cedarling-initial-design-discussion.md
  docs/contribute/implementation-design/jans-cli-design/README.md
  docs/contribute/implementation-design/jans-cli-design/adr/README.md
  docs/contribute/implementation-design/jans-config-api-design/README.md
  docs/contribute/implementation-design/jans-config-api-design/adr/README.md
  docs/contribute/implementation-design/jans-core-design/README.md
  docs/contribute/implementation-design/jans-core-design/adr/README.md
  docs/contribute/implementation-design/jans-fido2-design/README.md
  docs/contribute/implementation-design/jans-fido2-design/adr/README.md
  docs/contribute/implementation-design/jans-orm-design/README.md
  docs/contribute/implementation-design/jans-orm-design/adr/README.md
  docs/contribute/implementation-design/jans-scim-design/README.md
  docs/contribute/implementation-design/jans-scim-design/adr/README.md
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-docs

#11356 feat(jans-cedarling): update plugin to use binding
  .github/workflows/build-packages.yml
  docs/cedarling/cedarling-krakend.md
  docs/cedarling/cedarling-quick-start-unsigned.md
  jans-cedarling/cedarling-krakend/README.md
  jans-cedarling/cedarling-krakend/go.mod
  jans-cedarling/cedarling-krakend/go.sum
  jans-cedarling/cedarling-krakend/krakend.json
  jans-cedarling/cedarling-krakend/main.go
Labels: area-documentation, kind-feature, comp-docs, comp-jans-cedarling

#11399 fix(jans-cli-tui): array type in auth properties
  jans-cli-tui/cli_tui/plugins/010_auth_server/view_property.py
Labels: kind-bug, comp-jans-cli-tui

#11404 ci(jans-cedarling): remove conflicting asset
  .github/workflows/build-packages.yml
Labels: area-CI, comp-jans-cedarling

#11412 docs: fix broken link
  docs/casa/plugins/email-otp.md
Labels: area-documentation, comp-docs

#11409 fix(docs): refactor development docs to add content from Wiki
  docs/assets/jans-eclipse-arguments.png
  docs/assets/jans-eclipse-classpath-config.png
  docs/assets/jans-eclipse-console-result.png
  docs/assets/jans-eclipse-dependencies-config.png
  docs/assets/jans-eclipse-expected-result.png
  docs/assets/jans-eclipse-jre-config.png
  docs/assets/jans-eclipse-options-config.png
  docs/assets/jans-eclipse-source-config.png
  docs/assets/jans-eclipse-webapp.png
  docs/assets/jans-update-config.png
  docs/contribute/development/development.md
  docs/contribute/development/local-run-under-eclipse.md
  docs/contribute/development/remote-debugging.md
  docs/contribute/development/run-integration-tests.md
  docs/contribute/development/useful-tools.md
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-docs

#11369 fix(jans-cedarling): fix logs in jwt module not getting displayed correctly
  jans-cedarling/cedarling/src/bootstrap_config/raw_config/json_util.rs
  jans-cedarling/cedarling/src/jwt/jwk_store.rs
  jans-cedarling/cedarling/src/jwt/log_entry.rs
  jans-cedarling/cedarling/src/jwt/mod.rs
  jans-cedarling/cedarling/src/log/interface.rs
Labels: kind-bug, comp-jans-cedarling

#11407 fix(docs): add Config API OpenAPI Spec generation at build time
  docs/contribute/implementation-design/jans-config-api-design/config-api-swagger-spec-generation.md
  mkdocs.yml
Labels: kind-bug, area-documentation, comp-docs

#11205 docs(jans-cedarling): add per-language getting started examples
  docs/cedarling/README.md
  docs/cedarling/cedarling-getting-started.md
  docs/cedarling/getting-started/javascript.md
  docs/cedarling/getting-started/python.md
  docs/cedarling/getting-started/rust.md
  jans-cedarling/bindings/cedarling_python/example.py
  jans-cedarling/bindings/cedarling_python/example_files/sample_bootstrap_props.yaml
  jans-cedarling/bindings/cedarling_python/print_documentation.py
  mkdocs.yml
Labels: area-documentation, comp-docs, comp-jans-cedarling

#11420 chore(agama): refactor handling of jansExtUid in inbound identity
  docs/agama-catalog/jans/inboundID/README.md
  jans-auth-server/agama/inboundID/src/main/java/io/jans/inbound/IdentityProcessor.java
Labels: kind-dependencies, area-documentation, comp-jans-auth-server, comp-agama, comp-docs

#11192 docs(jans-cedarling): documentation refactor for cedarling
  docs/cedarling/cedarling-interfaces.md
  docs/cedarling/cedarling-jwt-validation.md
  docs/cedarling/cedarling-principal-boolean-operations.md
  docs/cedarling/cedarling-properties.md
  mkdocs.yml
Labels: area-documentation, comp-docs, comp-jans-cedarling

#11426 fix: mail dependencies
  jans-auth-server/server/pom.xml
  jans-bom/pom.xml
  jans-config-api/server/pom.xml
  jans-core/service/pom.xml
Labels: kind-bug, comp-jans-auth-server, comp-jans-config-api, comp-jans-core, comp-jans-bom

#11428 feat(jans-core): add jakarta.mail for TLS support
  jans-bom/pom.xml
  jans-config-api/pom.xml
  jans-core/service/pom.xml
Labels: comp-jans-core, kind-feature, comp-jans-bom

#11427 fix(ci): cedarling test workflow failing because of missing clippy
  .github/workflows/test-cedarling.yml
Labels: kind-bug, area-CI

#11434 chore(main): release 1.7.0
  CHANGELOG.md
Labels: kind-dependencies, autorelease: pending, area-documentation

#11451 refactor(jans-linux-setup): remove link and kc-link setup
  docs/janssen-server/install/setup.md
  docs/janssen-server/install/vm-install/dynamic-download.md
  jans-cli-tui/cli_tui/plugins/090_jans_link/.enabled
  jans-cli-tui/cli_tui/plugins/090_jans_link/__init__.py
  jans-cli-tui/cli_tui/plugins/090_jans_link/main.py
  jans-cli-tui/cli_tui/plugins/110_kc_link/.enabled
  jans-cli-tui/cli_tui/plugins/110_kc_link/__init__.py
  jans-cli-tui/cli_tui/plugins/110_kc_link/main.py
  jans-linux-setup/jans_setup/jans_setup.py
  jans-linux-setup/jans_setup/setup_app/config.py
  jans-linux-setup/jans_setup/setup_app/data/jetty_app_configuration.json
  jans-linux-setup/jans_setup/setup_app/installers/jans.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_keycloak_link.py
  jans-linux-setup/jans_setup/setup_app/installers/jans_link.py
  jans-linux-setup/jans_setup/setup_app/setup_options.py
  jans-linux-setup/jans_setup/setup_app/utils/arg_parser.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/properties_utils.py
  jans-linux-setup/jans_setup/static/scripts/jans_services_status.py
  jans-linux-setup/jans_setup/static/scripts/logmanager.sh
  jans-linux-setup/jans_setup/static/site/site.ldif
  jans-linux-setup/jans_setup/static/system/systemd/jans-keycloak-link.service
  jans-linux-setup/jans_setup/static/system/systemd/jans-link.service
  jans-linux-setup/jans_setup/templates/jans-auth/role-scope-mappings.json
  jans-linux-setup/jans_setup/templates/jans-config-api/dynamic-conf.json
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/configuration.ldif
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/jans-keycloak-link-config.json
  jans-linux-setup/jans_setup/templates/jans-keycloak-link/jans-keycloak-link-static-config.json
  jans-linux-setup/jans_setup/templates/jans-link/configuration.ldif
  jans-linux-setup/jans_setup/templates/jans-link/jans-link-config.json
  jans-linux-setup/jans_setup/templates/jans-link/jans-link-static-config.json
  jans-linux-setup/jans_setup/templates/jans.properties
Labels: kind-enhancement, area-documentation, comp-jans-cli-tui, comp-jans-config-api, comp-jans-linux-setup, comp-docs, comp-jans-keycloak-link, comp-jans-link

#11461 ci: fix sbom
  .github/workflows/ops-sbom.yml
Labels: area-CI

#11450 feat(jans-orm): add method to provide persistence metadata
  jans-orm/core/src/main/java/io/jans/orm/PersistenceEntryManager.java
  jans-orm/core/src/main/java/io/jans/orm/impl/BaseEntryManager.java
  jans-orm/core/src/main/java/io/jans/orm/model/PersistenceMetadata.java
  jans-orm/core/src/main/java/io/jans/orm/operation/PersistenceOperationService.java
  jans-orm/couchbase/src/main/java/io/jans/orm/couchbase/operation/impl/CouchbaseOperationServiceImpl.java
  jans-orm/hybrid/src/main/java/io/jans/orm/hybrid/impl/HybridPersistenceOperationService.java
  jans-orm/ldap/src/main/java/io/jans/orm/ldap/operation/impl/LdapOperationServiceImpl.java
  jans-orm/spanner/src/main/java/io/jans/orm/cloud/spanner/operation/impl/SpannerOperationServiceImpl.java
  jans-orm/sql-sample/src/main/java/io/jans/orm/sql/persistence/SqlEntryManagerSample.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/impl/SqlEntryManager.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlOperationServiceImpl.java
Labels: comp-jans-orm, kind-feature

#11463 fix(jans-cli-tui): edit script config proprty
  jans-cli-tui/cli_tui/plugins/060_scripts/edit_script_dialog.py
  jans-cli-tui/cli_tui/plugins/080_smtp/main.py
  jans-cli-tui/cli_tui/wui_components/jans_vetrical_nav.py
Labels: kind-bug, comp-jans-cli-tui

#11462 feat(jans-cli-tui) ssa details
  docs/assets/tui-ssa-create.png
  docs/assets/tui-ssa-detail.png
  docs/assets/tui-ssa-export.png
  docs/janssen-server/config-guide/auth-server-config/ssa-config.md
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/ssa.py
Labels: area-documentation, comp-jans-cli-tui, kind-feature, comp-docs

#11465 feat(orm): support password hashing using Argon2
  docs/janssen-server/config-guide/hash-passowrd.md
  docs/script-catalog/persistence_extension/persistence.md
  jans-linux-setup/jans_setup/templates/jans-mysql.properties
  jans-linux-setup/jans_setup/templates/jans-pgsql.properties
  jans-orm/core/pom.xml
  jans-orm/core/src/main/java/io/jans/orm/operation/auth/Argon2PasswordEncoder.java
  jans-orm/core/src/main/java/io/jans/orm/operation/auth/PasswordDetails.java
  jans-orm/core/src/main/java/io/jans/orm/operation/auth/PasswordEncryptionHelper.java
  jans-orm/core/src/main/java/io/jans/orm/operation/auth/PasswordEncryptionMethod.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlConnectionProvider.java
  mkdocs.yml
Labels: area-documentation, comp-jans-orm, kind-feature, comp-jans-linux-setup, comp-docs

#11480 fix(jans-auth-server): improve logging - do not print that user is logged in in logs if it failed to login #11475
  jans-auth-server/server/src/main/java/io/jans/as/server/auth/Authenticator.java
Labels: kind-bug, comp-jans-auth-server

#11483 fix(jans-linux-setup): re compatibility
  jans-linux-setup/jans_setup/install.py
  jans-linux-setup/jans_setup/lock_setup.py
  jans-linux-setup/jans_setup/setup_app/installers/jetty.py
  jans-linux-setup/jans_setup/setup_app/installers/jython.py
  jans-linux-setup/jans_setup/setup_app/utils/base.py
  jans-linux-setup/jans_setup/setup_app/utils/collect_properties.py
  jans-linux-setup/jans_setup/setup_app/utils/db_utils.py
  jans-linux-setup/jans_setup/setup_app/utils/setup_utils.py
Labels: kind-bug, comp-jans-linux-setup

#11485 feat(orm): fetch databaseName for PersistenceMetadata
  jans-orm/core/src/main/java/io/jans/orm/model/PersistenceMetadata.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlOperationServiceImpl.java
Labels: comp-jans-orm, kind-feature

#11467 fix(charts): invalid template function calls when using AWS secrets manager
  charts/janssen-all-in-one/templates/_helpers.tpl
Labels: kind-bug, comp-charts-jans

#11497 feat(orm): fix doc file
  mkdocs.yml
Labels: kind-feature

#11499 fix(jans-cli-tui): display warnings for scriptType in edit clients
  jans-cli-tui/cli_tui/jans_cli_tui.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/edit_client_dialog.py
  jans-cli-tui/cli_tui/plugins/010_auth_server/main.py
Labels: kind-bug, comp-jans-cli-tui

#11479 docs: update ubuntu.md for ubuntu24
  docs/janssen-server/install/vm-install/ubuntu.md
Labels: area-documentation, comp-docs

#11458 refactor(cloud-native): remove deprecated certmanager and kc-scheduler images
  automation/rancher-partner-charts/questions.yaml
  docker-jans-certmanager/.dockerignore
  docker-jans-certmanager/.hadolint.yaml
  docker-jans-certmanager/CHANGELOG.md
  docker-jans-certmanager/Dockerfile
  docker-jans-certmanager/LICENSE
  docker-jans-certmanager/Makefile
  docker-jans-certmanager/README.md
  docker-jans-certmanager/requirements.txt
  docker-jans-certmanager/scripts/auth_handler.py
  docker-jans-certmanager/scripts/base_handler.py
  docker-jans-certmanager/scripts/bootstrap.py
  docker-jans-certmanager/scripts/entrypoint.sh
  docker-jans-certmanager/scripts/settings.py
  docker-jans-certmanager/scripts/utils.py
  docker-jans-certmanager/scripts/web_handler.py
  docker-jans-certmanager/version.txt
  docker-jans-kc-scheduler/.dockerignore
  docker-jans-kc-scheduler/.hadolint.yaml
  docker-jans-kc-scheduler/CHANGELOG.md
  docker-jans-kc-scheduler/Dockerfile
  docker-jans-kc-scheduler/LICENSE
  docker-jans-kc-scheduler/Makefile
  docker-jans-kc-scheduler/README.md
  docker-jans-kc-scheduler/requirements.txt
  docker-jans-kc-scheduler/scripts/bootstrap.py
  docker-jans-kc-scheduler/scripts/entrypoint.sh
  docker-jans-kc-scheduler/scripts/settings.py
  docker-jans-kc-scheduler/scripts/wait.py
  docker-jans-kc-scheduler/templates/kc-scheduler/config.properties
  docker-jans-kc-scheduler/templates/kc-scheduler/logback.xml
  docker-jans-kc-scheduler/version.txt
Labels: kind-enhancement, area-CI, area-documentation

#11502 fix(jans-orm): use password.method prefix for all hash algs
  docs/janssen-server/config-guide/hash-password.md
  jans-linux-setup/jans_setup/templates/jans-mysql.properties
  jans-linux-setup/jans_setup/templates/jans-pgsql.properties
  jans-orm/core/src/main/java/io/jans/orm/operation/auth/PasswordEncryptionHelper.java
  jans-orm/sql/src/main/java/io/jans/orm/sql/operation/impl/SqlConnectionProvider.java
Labels: kind-bug, area-documentation, comp-jans-orm, comp-jans-linux-setup, comp-docs

#11509 feat(config-api): use orm method to provide persistence metadata
  jans-config-api/docs/jans-config-api-swagger.yaml
  jans-config-api/server/src/main/java/io/jans/configapi/rest/resource/auth/AuthConfigResource.java
  jans-config-api/server/src/main/java/io/jans/configapi/service/auth/ConfigurationService.java
  jans-config-api/shared/src/main/java/io/jans/configapi/core/model/PersistenceConfiguration.java
Labels: comp-jans-config-api, kind-feature, comp-docs

#11510 fix(jans-cli-tui): persistence type
  jans-cli-tui/cli_tui/plugins/010_auth_server/authn.py
  jans-cli-tui/cli_tui/utils/background_tasks.py
Labels: kind-bug, comp-jans-cli-tui

#11516 fix(jans-scipt): correct script imports
  docs/script-catalog/persistence_extension/sample-script/PersistenceExtension.py
  jans-core/service/src/main/java/io/jans/service/external/context/ExternalScriptContext.java
Labels: kind-bug, area-CI, comp-jans-core, comp-docs
